<ng-container *ngIf="quotesState$ | async as quotesState">
  <div role="status" [attr.aria-label]="'common.loaded' | cxTranslate"></div>
  <ng-container *ngIf="quotesState.data; else loading">
    <ng-container
      *ngIf="
        quotesState.data.quotes && quotesState.data.quotes.length > 0;
        else emptyQuoteList
      "
    >
      <div class="cx-sort top">
        <label class="cx-form-group form-group"
          ><span class="sortBy-heading">
            {{ 'quote.list.sortBy' | cxTranslate }}
          </span>
          <cx-sorting
            [sortOptions]="sorts"
            [sortLabels]="sortLabels$ | async"
            (sortListEvent)="changeSortCode($event)"
            [selectedOption]="quotesState.data.pagination.sort"
            placeholder="{{ 'quote.list.sortBy' | cxTranslate }}"
            [ariaLabel]="'quote.list.sortOrders' | cxTranslate"
            ariaControls="quote-list"
          ></cx-sorting>
        </label>
      </div>
      <table
        id="quote-list"
        role="table"
        aria-describedby="quotesListDescription"
      >
        <thead>
          <tr role="row">
            <th role="columnheader">
              {{ 'quote.list.name' | cxTranslate }}
            </th>
            <th role="columnheader">
              {{ 'quote.commons.id' | cxTranslate }}
            </th>
            <th role="columnheader">
              {{ 'quote.commons.status' | cxTranslate }}
            </th>
            <th role="columnheader">
              {{ 'quote.list.updated' | cxTranslate }}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" *ngFor="let quote of quotesState.data.quotes">
            <td role="cell" class="cx-name">
              <div class="cx-mobile-header">
                {{ 'quote.list.name' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'quoteDetails',
                    params: { quoteId: quote.code }
                  } | cxUrl
                "
                title="{{ quote.name }}"
              >
                {{ quote.name }}
              </a>
            </td>
            <td role="cell" class="cx-code">
              <div class="cx-mobile-header">
                {{ 'quote.commons.id' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'quoteDetails',
                    params: { quoteId: quote.code }
                  } | cxUrl
                "
              >
                {{ quote.code }}
              </a>
            </td>
            <td role="cell" class="cx-status">
              <div class="cx-mobile-header">
                {{ 'quote.commons.status' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'quoteDetails',
                    params: { quoteId: quote.code }
                  } | cxUrl
                "
                [ngClass]="getQuoteStateClass(quote.state)"
              >
                {{ 'quote.states.' + quote.state | cxTranslate }}
              </a>
            </td>
            <td role="cell" class="cx-updated-date">
              <div class="cx-mobile-header">
                {{ 'quote.list.updated' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'quoteDetails',
                    params: { quoteId: quote.code }
                  } | cxUrl
                "
              >
                {{ quote?.updatedTime | cxDate: dateFormat }}
              </a>
            </td>
            <td role="cell" class="cx-nav-caret">
              <a
                [routerLink]="
                  {
                    cxRoute: 'quoteDetails',
                    params: { quoteId: quote.code }
                  } | cxUrl
                "
              >
                <cx-icon [type]="iconTypes.CARET_RIGHT"></cx-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="cx-sort bottom">
        <div
          *ngIf="
            quotesState.data.pagination.totalPages &&
            quotesState.data.pagination.totalPages > 1
          "
        >
          <cx-pagination
            [pagination]="quotesState.data.pagination"
            (viewPageEvent)="changePage($event)"
          ></cx-pagination>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>

<ng-template #emptyQuoteList>
  <div class="cx-empty">
    {{ 'quote.list.empty' | cxTranslate }}
  </div>
</ng-template>
