<div class="cx-store">
  <div class="cx-store-address">
    <div *ngIf="storeDetails?.displayName" class="cx-store-address-name">
      {{ storeDetails?.displayName }}
    </div>
    <div *ngIf="storeDetails?.address?.line1">
      {{ storeDetails.address?.line1 }}
    </div>
    <div *ngIf="storeDetails?.address?.line2">
      {{ storeDetails.address?.line2 }}
    </div>
    <div *ngIf="storeDetails?.address?.town">
      {{ storeDetails.address?.town }}
    </div>
    <div *ngIf="storeDetails?.address?.region">
      {{ storeDetails.address.region }}
    </div>
    <div *ngIf="storeDetails?.address?.district">
      {{ storeDetails.address.district }}
    </div>
    <div *ngIf="storeDetails?.address?.phone">
      {{ storeDetails.address.phone }}
    </div>

    <div>
      <div class="cx-store-opening-hours-toggle" (click)="toggleOpenHours()">
        View Hours
        <cx-icon
          [type]="openHoursOpen ? iconTypes.CARET_UP : iconTypes.CARET_DOWN"
        ></cx-icon>
      </div>
      <cx-store-schedule *ngIf="openHoursOpen" [storeDetails]="storeDetails">
        <h4>{{ 'storeFinder.storeHours' | cxTranslate }}</h4>
      </cx-store-schedule>
    </div>
  </div>
  <div>
    <div>{{ storeDetails?.formattedDistance }}</div>
    <div>Out of Stock</div>
  </div>
</div>
<div class="cx-store-pick-up-from-here">
  <button (click)="selectStore()">Pick Up From Here</button>
</div>
