<ng-container *cxFeatureLevel="'!6.2'">
  <div
    *ngIf="showRequiredMessageForUserInput$ | async"
    class="cx-required-error-msg"
    id="{{ createAttributeUiKey('attribute-msg', attribute.name) }}"
    [attr.aria-label]="
      'configurator.attribute.defaultRequiredMessage' | cxTranslate
    "
    aria-live="assertive"
    aria-atomic="true"
    role="alert"
  >
    <cx-icon [type]="iconType.ERROR"></cx-icon>
    {{ 'configurator.attribute.defaultRequiredMessage' | cxTranslate }}
  </div>
</ng-container>
<ng-container *cxFeatureLevel="'6.2'">
  <div
    *ngIf="showRequiredMessageForUserInput$ | async"
    class="cx-required-error-msg"
    id="{{ createAttributeUiKey('attribute-msg', attribute.name) }}"
    [attr.aria-label]="
      isUserInput(attribute)
        ? ('configurator.attribute.defaultRequiredMessage' | cxTranslate)
        : ('configurator.attribute.singleSelectRequiredMessage' | cxTranslate)
    "
    aria-live="assertive"
    aria-atomic="true"
    role="alert"
  >
    <cx-icon [type]="iconType.ERROR"></cx-icon>
    <ng-container *ngIf="isUserInput(attribute)">
      {{ 'configurator.attribute.defaultRequiredMessage' | cxTranslate }}
    </ng-container>
    <ng-container *ngIf="isDropDown(attribute)">
      {{ 'configurator.attribute.singleSelectRequiredMessage' | cxTranslate }}
    </ng-container>
  </div>
</ng-container>
