%cx-my-account-v2-password {
  .myaccount-password-header {
    @include type('3');
    padding-bottom: 1.5rem;
  }

  .myaccount-password-button {
    font-weight: var(--cx-font-weight-normal);
  }

  .myaccount-password-button-cancel {
    color: var(--cx-color-primary);
  }

  .myaccount-password-label {
    @include type();
    min-width: 7.5rem;
    padding-top: 0;
    padding-inline-end: 1.2rem;
    padding-bottom: 0;
    padding-inline-start: 0;
  }

  .myaccount-label-padding {
    padding-bottom: 0.75rem;
  }

  .password-btn-group-row {
    display: flex;
    flex: 100%;
    justify-content: end;
  }

  .password-btn-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .center-location {
    display: flex;
    justify-content: center;
  }

  .half-width {
    width: 50%;
  }

  .cx-message-info {
    @include type('7');
    border-color: var(--cx-color-visual-focus);
    background-color: var(--cx-color-info-accent);
    .cx-message-icon {
      cx-icon {
        color: var(--cx-color-primary-accent);
      }
    }
  }
}
