<ng-container>
  <div class="cx-unit-tree-actions">
    <button class="btn btn-link" (click)="setTreeBranchesState(true)">
      {{ 'unit.tree.expandAll' | cxTranslate }}
    </button>
    <button class="btn btn-link" (click)="setTreeBranchesState(false)">
      {{ 'unit.tree.collapseAll' | cxTranslate }}
    </button>
  </div>

  <a
    *ngIf="selectedNode"
    (click)="back()"
    (keydown.enter)="back()"
    (keydown.space)="back()"
    tabindex="0"
    class="node-title"
  >
    <cx-icon [type]="iconType.CARET_LEFT"></cx-icon>
    <span>{{ 'unit.tree.upOneLevel' | cxTranslate }}</span>
  </a>

  <a
    *ngIf="getNodes() as node"
    [routerLink]="node.url"
    [title]="node.title"
    class="node-title"
    routerLinkActive="active"
  >
    {{ node.title }}
    <span *ngIf="node.children?.length > 0">({{ node.children?.length }})</span>
  </a>

  <ng-container
    *ngTemplateOutlet="
      tree;
      context: {
        node: getNodes(),
        code: 'unit_tree_1',
        depth: 0
      }
    "
  >
  </ng-container>

  <ng-template #tree let-node="node" let-code="code" let-depth="depth">
    <ul
      [attr.data-code]="code"
      [attr.data-depth]="depth"
      [class.selected-node-branch]="selectedNode"
    >
      <li
        *ngFor="let child of node.children; let i = index"
        [attr.aria-expanded]="isExpandedNodeMap[code + '_' + i]"
      >
        <div *ngIf="!isMobile" class="tree-desktop-branch">
          <cx-icon
            *ngIf="child.children?.length > 0"
            [type]="
              isExpandedNodeMap[code + '_' + i]
                ? iconType.CARET_DOWN
                : iconType.CARET_RIGHT
            "
            (click)="toggleAriaExpandedForNode(code + '_' + i)"
            (keydown.enter)="toggleAriaExpandedForNode(code + '_' + i)"
            (keydown.space)="toggleAriaExpandedForNode(code + '_' + i)"
            tabindex="0"
          ></cx-icon>
          <a
            [routerLink]="child.url"
            [title]="child.title"
            [class.margin-left]="!child.children?.length"
            routerLinkActive="active"
            >{{ child.title }}
            <span *ngIf="child.children?.length > 0">
              &nbsp;({{ child.children?.length }})</span
            >
          </a>
        </div>

        <div *ngIf="isMobile" class="tree-mobile-branch">
          <a
            [routerLink]="child.url"
            [title]="child.title"
            [class.margin-left]="!child.children?.length"
            class="node-title"
          >
            {{ child.title }}
            <span *ngIf="child.children?.length > 0">
              &nbsp;({{ child.children?.length }})
            </span>
          </a>
          <cx-icon
            *ngIf="child.children?.length > 0"
            [type]="iconType.CARET_RIGHT"
            (click)="goToUnitNode(child)"
            (keydown.enter)="goToUnitNode(child)"
            (keydown.space)="goToUnitNode(child)"
            tabindex="0"
          ></cx-icon>
        </div>

        <ng-container
          *ngTemplateOutlet="
            tree;
            context: {
              node: child,
              code: code + '_' + i,
              depth: depth + 1
            }
          "
        >
        </ng-container>
      </li>
    </ul>
  </ng-template>
</ng-container>
