<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>

<form
  *ngIf="token$ | async as token"
  (ngSubmit)="onSubmit(token)"
  [formGroup]="form"
>
  <label>
    <span class="label-content">{{
      'register.newPassword' | cxTranslate
    }}</span>

    <span class="input-group">
      <input
        #password
        cxPassword
        required="true"
        class="form-control"
        placeholder="{{ 'register.password.placeholder' | cxTranslate }}"
        formControlName="password"
      />
      <span class="input-group-append">
        <cx-icon
          [type]="getPasswordIcon(passwordInput)"
          (click)="changePasswordVisibility(passwordInput)"
          class="input-group-text h-100 d-flex"
          role="button"
        ></cx-icon>
      </span>
    </span>
    <cx-form-errors [control]="form.get('password')"></cx-form-errors>
  </label>

  <label>
    <span class="label-content">{{
      'register.passwordMinRequirements' | cxTranslate
    }}</span>

    <span class="input-group">
      <input
        #passwordConf
        cxPassword
        required="true"
        class="form-control"
        placeholder="{{ 'register.confirmPassword.placeholder' | cxTranslate }}"
        formControlName="passwordConfirm"
      />
      <span class="input-group-append">
        <cx-icon
          [type]="getPasswordIcon(passwordConfInput)"
          (click)="changePasswordVisibility(passwordConfInput)"
          class="input-group-text h-100 d-flex"
          role="button"
        ></cx-icon>
      </span>
    </span>
    <cx-form-errors [control]="form.get('passwordConfirm')"></cx-form-errors>
  </label>

  <button class="btn btn-block btn-primary" [disabled]="form.disabled">
    {{ 'register.resetPassword' | cxTranslate }}
  </button>
</form>
