<div aria-live="assertive" aria-atomic="true" aria-relevant="additions">
  <div
    class="container"
    *ngIf="
      location || (!(isLoading$ | async) && (location$ | async)) as location;
      else loading
    "
  >
    <div role="status" [attr.aria-label]="'common.loaded' | cxTranslate"></div>
    <div class="cx-visually-hidden">
      {{ location?.displayName }}
    </div>
    <div class="cx-store-actions">
      <button class="btn btn-block btn-action" (click)="goBack()">
        <cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon>
        {{ 'storeFinder.backToList' | cxTranslate }}
      </button>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <cx-store-finder-store-description
          [disableMap]="disableMap"
          [location]="location"
        ></cx-store-finder-store-description>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="cx-spinner"><cx-spinner></cx-spinner></div>
</ng-template>
