%cx-subscription-actions-modal {

  .extend-subscription-dialog {
    .modal-content {
      max-width: 390px;

      .modal-header {
        display: flex;
        align-items: center;
        padding: 15px 30px 15px 30px;
        button {
          height: fit-content;
          font-size: 20px;
        }
      }

      .modal-body {
        .cx-dialog-info p {
          margin-bottom: 1rem;
        }
      }

      .extend-subscription-dialog-footer {
        display: flex;
        justify-content: space-between;
      }

      .extend-duration-dropdown-label {
        padding: 0;

        .form-check-label {
          margin-bottom: 10px;
        }

        #extendDurationDropdown {
          width: 100%;
          margin-bottom: 15px;
          outline: none;

          .extend-duration-option {
            margin: 50px;
          }
        }
      }
    }
  }

  .modal-dialog,
  cx-claim-dialog .cx-coupon-dialog {
    pointer-events: auto;
  }
  .cx-dialog-header-cancel {
    padding-bottom: 10px;
    button {
      align-items: center;
      justify-content: center;
      height: 26px;
      width: 25px;
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      span small {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .cancel-card {
    margin-top: 2rem;
    background-color: var(--cx-color-background);
    min-height: 256px;
    border: 1px solid #d3d6db;
    border-radius: 10px;
    padding: 1rem;

    .cx-other-actions {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;

      button {
        flex: 1;
        font-weight: normal;
      }
    }

    @include media-breakpoint-down(sm) {
      cx-card .cx-card {
        min-height: auto;
        padding: 0.75rem;
      }

      .cx-other-actions {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
  
}
