%cx-order-attachments-dialog {
  .cx-modal-content {
    .cx-dialog-header {
      @include type('3');
      align-items: center;

      button.close {
        @include type('4');
        padding: 0 1rem 0 0;
      }
    }

    .cx-dialog-body {
      min-height: 12rem;
      max-height: 38rem;
      padding: 16px 16px 30px 30px;
      overflow-y: auto;

      .cx-dialog-message {
        button.close {
          @include type('4');
          align-self: start;
        }

        .cx-message-text {
          @include type('8');
        }
      }

      table.table {
        tr {
          position: relative;

          .inline-spinner {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);

            --cx-spinner-size: 1rem;
            --cx-spinner-radius: 1rem;
            --cx-spinner-border-width: 0.125rem;

            &.hidden {
              visibility: hidden;
            }
          }

          td {
            padding: 1rem 1rem 1rem 1rem;

            .file-icon {
              color: var(--cx-color-primary);
            }
          }

          td:last-child {
            text-align: end;
          }
        }
      }

      a {
        color: var(--cx-color-primary);
        cursor: pointer;

        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
    }

    .cx-dialog-footer {
      border-top: unset;
    }
  }
}
