@import './order-details-items';
@import './order-details-shipping';
@import './order-details-actions';
@import './order-details-reorder';
@import './order-detail-billing';
@import './reorder-dialog';
@import './my-account-v2-order-details';

$order-details-allowlist: cx-order-details-items, cx-order-overview,
  cx-order-details-actions, cx-order-details-reorder, cx-order-detail-billing,
  cx-my-account-v2-consignment-tracking, cx-my-account-v2-download-invoices,
  cx-my-account-v2-order-details-actions !default;

$skipComponentStyles: () !default;

@each $selector in $order-details-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $order-details-allowlist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
