%cx-order-details-items {
  margin-top: 30px;
  margin-bottom: 15px;
  .cx-list-header {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .cx-list {
    @include media-breakpoint-down(sm) {
      margin-inline-end: 0;
      margin-inline-start: 0;
    }
  }

  .cx-list-status-container {
    margin: 0 0 0.5rem;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--cx-color-background);
  }

  .cx-list-status {
    font-weight: bold;
  }

  .cx-consignment-details {
    background-color: var(--cx-color-background);
  }
  .cx-consignment-details-header {
    padding: 0 30px 15px 30px;
    font-weight: bold;
  }
  .cx-consignment-details-body {
    display: flex;
  }
  .cx-deliveryPointOfService-address,
  .cx-shipping-address {
    padding: 0 30px 15px 30px;
  }
  .cx-shipping-address-header,
  .cx-delivery-mode-header,
  .cx-deliveryPointOfService-heading {
    font-weight: var(--cx-font-weight-semi);
    padding-bottom: 0.5rem;
  }
  .cx-delivery-mode {
    margin-inline-start: 1rem;
  }
}
