<a
  tabindex="0"
  [attr.aria-label]="product?.name"
  role="link"
  (click)="selectProduct.emit(product)"
>
  <cx-media
    [container]="product?.images?.PRIMARY"
    format="product"
    [alt]="product?.name ?? ''"
  ></cx-media>
</a>
<div class="cx-asm-product-item-content">
  <a
    tabindex="0"
    [attr.aria-label]="product?.name"
    role="link"
    (click)="selectProduct.emit(product)"
    class="cx-asm-product-item-name"
    ><span title="{{ product?.name }}">{{ product?.name }}</span></a
  >
  <div class="cx-asm-product-item-code" *ngIf="isOrderEntry">
    {{ product?.code }}
  </div>
  <div class="cx-asm-product-item-quantity" *ngIf="isOrderEntry">
    {{ 'asm.customer360.overview.quantity' | cxTranslate: { count: quantity } }}
  </div>
  <div class="cx-asm-product-item-price" *ngIf="isOrderEntry">
    {{
      'asm.customer360.overview.itemPrice'
        | cxTranslate: { price: price?.formattedValue }
    }}
  </div>
  <div
    class="cx-asm-overview-out-of-stock"
    *ngIf="!isOrderEntry && product.stock?.stockLevelStatus === 'outOfStock'"
  >
    {{ 'asm.customer360.overview.outOfStock' | cxTranslate }}
  </div>
</div>
