<ng-container *ngIf="pages.length > 0">
  <a
    class="start"
    [class.disabled]="isDisabled(0)"
    [routerLink]="pageRoute"
    [queryParams]="getRouteParam(0)"
    >«</a
  >
  <a
    class="previous"
    [class.disabled]="isDisabled(previous)"
    [routerLink]="pageRoute"
    [queryParams]="getRouteParam(previous)"
    >‹</a
  >

  <a
    *ngFor="let page of pages"
    [class.disabled]="isDisabled(page.number - 1)"
    [class.primary]="page.isPrimary"
    [class.current]="page.isCurrent"
    [class.first]="page.isFirst"
    [class.last]="page.isLast"
    [class.gap]="page.isGap"
    [routerLink]="pageRoute"
    [queryParams]="getRouteParam(page.number - 1)"
  >
    {{ page.isGap ? '...' : page.number }}
  </a>

  <a
    class="next"
    [class.disabled]="isDisabled(next)"
    [routerLink]="pageRoute"
    [queryParams]="getRouteParam(next)"
    >›</a
  >

  <a
    class="end"
    [class.disabled]="isDisabled(last)"
    [routerLink]="pageRoute"
    [queryParams]="getRouteParam(last)"
    >»</a
  >
</ng-container>
