@import './banner/index';
@import './navigation/index';
@import './media/index';
@import './tab-paragraph-container/index';
@import './global-message/index';

$content-components-allowlist: cx-banner, cx-link, cx-media, cx-carousel,
  cx-banner-carousel, cx-global-message, cx-navigation-ui, cx-footer-navigation,
  cx-category-navigation, cx-breadcrumb !default;
