<ng-container *ngIf="ticketDetails$ | async as ticket; else spinner">
  <div
    class="cx-ticket-details"
    [attr.role]="
      featureToggles.a11yMessagingListKeyboardFocus ? 'region' : null
    "
    [attr.tabindex]="featureToggles.a11yMessagingListKeyboardFocus ? 0 : null"
    [attr.aria-label]="
      featureToggles.a11yMessagingListKeyboardFocus
        ? ('customerTicketingDetails.a11y.ticketDetailsRegion' | cxTranslate)
        : null
    "
  >
    <div class="container">
      <div
        class="cx-details-card"
        [attr.tabindex]="
          featureToggles.a11yMessagingListKeyboardFocus ? 0 : null
        "
      >
        <cx-card
          [content]="
            prepareCardContent(ticket.id, 'customerTicketing.ticketId') | async
          "
        />
      </div>

      <div
        class="cx-details-card"
        [attr.tabindex]="
          featureToggles.a11yMessagingListKeyboardFocus ? 0 : null
        "
      >
        <cx-card
          [content]="
            prepareCardContent(
              (ticket.createdAt | cxDate: dateFormat) ?? dateFormat,
              'customerTicketing.createdOn'
            ) | async
          "
        />
      </div>

      <div
        class="cx-details-card"
        [attr.tabindex]="
          featureToggles.a11yMessagingListKeyboardFocus ? 0 : null
        "
      >
        <cx-card
          [content]="
            prepareCardContent(
              (ticket.modifiedAt | cxDate: dateFormat) ?? dateFormat,
              'customerTicketing.changedOn'
            ) | async
          "
        />
      </div>

      <div
        class="cx-details-card"
        [attr.tabindex]="
          featureToggles.a11yMessagingListKeyboardFocus ? 0 : null
        "
      >
        <cx-card
          [content]="
            prepareCardContent(
              ticket.status ? ticket.status.name : undefined,
              'customerTicketing.status',
              ticket.status ? ticket.status.id : undefined
            ) | async
          "
        />
      </div>
    </div>
  </div>
</ng-container>
<ng-template #spinner>
  <cx-spinner />
</ng-template>
