%cx-breadcrumb {
  display: flex;
  flex-direction: column;

  padding: 20px 0;
  text-align: center;

  color: currentcolor;
  background-color: var(--cx-color-background);

  nav {
    font-size: 0.85rem;
    padding: 5px 0;
    span {
      color: var(--cx-color-secondary);

      &:not(:last-child):after {
        content: '/';
      }
      a {
        color: inherit;
        padding: 5px 5px;
      }
    }
  }
}
