%cx-category-navigation {
  cx-navigation-ui {
    // first level heading / links
    > nav {
      > h5,
      > cx-generic-link {
        cursor: pointer;
        text-transform: uppercase;
        height: 35px;
      }

      // deeper nested headings
      nav > h5 {
        @include type('5');
      }
    }
  }
}
