@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/dropdown';

%cx-category-navigation {
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 0;

    cx-navigation {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
    @include media-breakpoint-down(md) {
      padding: 0;
      flex-direction: column;
      background-color: var(--cx-g-color-inverse);
    }
  }
}
