%cx-footer-navigation {
  a {
    font-size: var(--cx-font-small, 0.8rem);
    &:hover {
      color: var(--cx-color-inverse);
      text-decoration: underline;
    }
  }

  cx-navigation-ui {
    // first level heading / links
    h5 {
      text-transform: uppercase;
      @include type('5');
      margin-bottom: 20px;
    }
  }

  cx-navigation-ui {
    justify-content: center;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    > nav {
      margin: 3vw;
    }
  }
}
