%cx-footer-navigation {
  nav {
    padding: 34px 0 0;

    @include media-breakpoint-up(md) {
      margin: 0 0 47px;
    }

    h5 {
      @include type('5');
      margin: 0 0 12px;
      text-transform: capitalize;

      @include media-breakpoint-down(xs) {
        text-align: center;
      }
    }
    ul {
      padding: 0;

      @include media-breakpoint-down(xs) {
        text-align: center;
        padding: 0 0 24px;
      }
    }
    li {
      @include list-unstyled();
    }
    a {
      padding: 0;
      @include type();
      &:hover {
        text-decoration: none;
      }
    }
  }
  .notice {
    padding: 32px 0;
    text-align: center;
    @include type();
    color: var(--cx-g-color-dark);
    background-color: var(--cx-g-color-inverse);
  }
}
