%cx-footer-navigation {
  a {
    font-size: var(--cx-font-small, 0.8rem);
    &:hover {
      color: var(--cx-color-inverse);
      text-decoration: underline;
    }
  }

  cx-navigation-ui {
    // first level heading / links
    h5 {
      text-transform: uppercase;
      @include type('5');
      margin-bottom: 20px;
    }
  }

  cx-navigation-ui {
    justify-content: center;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    > nav {
      margin: 3vw;
    }
  }

  .anonymous-consents {
    display: flex;
    justify-content: center;
    margin: 0 3vw 3vw 3vw;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }
    a {
      color: var(--cx-color-inverse);
    }
  }

  .notice {
    padding: 32px 0;
    text-align: center;
    @include type();
    color: var(--cx-color-dark);
    background-color: var(--cx-color-inverse);
  }
}
