%cx-navigation-ui {
  //this hack here for now, until we decide how we go about keyboard navigation
  // .dropdown:hover>.dropdown-menu,
  // .dropdown:focus>.dropdown-menu {
  //   display: block;
  // }

  .cx-nav {
    &-item {
      @include media-breakpoint-down(md) {
        border-style: solid;
        border-width: 0 0 1px;
        border-color: var(--cx-g-color-background);
        padding: 0.5rem 0;
      }
    }
    &-link {
      color: var(--cx-g-color-inverse);
      text-transform: capitalize;
      padding: 0.2rem 0;
      &:focus {
        color: var(--cx-g-color-primary);
      }
      &:hover {
        color: var(--cx-g-color-primary);
        cursor: pointer;
      }

      @include media-breakpoint-down(md) {
        &::after {
          margin-right: 20px;
          border-style: solid;
          border-width: 3px;
          border-color: currentColor currentColor var(--cx-g-color-transparent)
            var(--cx-g-color-transparent);
          display: block;
          width: 1rem;
          height: 1rem;
        }
        &[aria-expanded='false'] {
          &::after {
            transform: rotate(45deg);
          }
        }
        &[aria-expanded='true'] {
          &::after {
            transform: rotate(-45deg);
          }
        }

        color: var(--cx-g-color-text);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
      }
    }
    &-child-list {
      border-radius: 0;
      text-transform: capitalize;
      padding: 0;
      @include media-breakpoint-down(md) {
        position: relative;
        background-color: var(--cx-g-color-background);
        border-style: none;
        border-width: 0;
        width: 100%;
        top: 0 !important;
      }
    }
    &-child-item {
      border-style: solid;
      border-width: 0 0 1px;
      border-color: var(--cx-g-color-background);
      padding: 0.45rem 1rem;
      &:hover {
        background-color: var(--cx-g-color-transparent);
      }
      &:last-child {
        border-style: none;
        border-width: 0;
      }
      @include media-breakpoint-down(md) {
        border-style: none;
        border-width: 0;
      }
    }
    &-child-link {
      @include type('7');
      color: var(--cx-g-color-text);
      &:hover {
        color: var(--cx-g-color-primary);
        text-decoration: none;
      }
    }
    &-child-list-columns {
      border-radius: 0;
      padding: 0.75rem;
      margin: 0;
      &.show {
        display: flex;
      }
      @include media-breakpoint-down(md) {
        flex-direction: column;
        position: static;
        width: 100%;
        border-style: none;
        border-width: 0;
        margin: 0;
      }
    }
    //column option
    &-column-title {
      @include type('7');
      text-transform: capitalize;
      font-weight: var(--cx-g-font-weight-bold);
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
    }
    &-child-column {
      margin: 0;
      @include media-breakpoint-down(md) {
        margin: 1rem unset 0 0;
      }
    }
    &-child-column-item {
      @include type('7');
      padding: 0.25rem 1.5rem;
      &:hover {
        background-color: var(--cx-g-color-transparent);
      }
    }
  }
}
