@mixin hideWrapperDesktop {
  display: none;
}

@mixin showWrapperDesktop {
  display: initial;
}

%nav-wrapper {
  .wrapper {
    cursor: default;
  }
  // create width of wrapper
  .wrapper[attr='1'] {
    width: 200px;
  }
  .wrapper[attr='2'] {
    width: 400px;
  }

  &.flyout {
    .wrapper {
      @include media-breakpoint-down(md) {
        height: 0;
        overflow: hidden;
      }
      color: #000;
    }
    @include media-breakpoint-up(lg) {
      .wrapper {
        // we add a z-index since some of the elements on the page have (surprisingly) a z-index rule
        // we cannot make the z-index too high as it would conflict with the searchbox flyout.
        z-index: 20;
      }
      > nav > .wrapper {
        padding: 15px 20px;
        background: #fff;
      }
    }
  }
}

%nav-back-button {
  &.flyout {
    .back {
      display: none;
    }
    @include media-breakpoint-down(md) {
      .back {
        display: initial;
        span {
          text-transform: capitalize;
          justify-content: flex-start;
          cx-icon {
            padding-inline-end: 10px;
          }
        }
      }
      &:not(.is-open) {
        .back {
          display: none;
        }
      }
    }
  }
}

%nav-heading {
  nav {
    &:focus {
      color: var(--cx-g-color-primary);
    }
  }

  span {
    margin: 0;
  }

  &.flyout {
    span,
    cx-generic-link {
      display: flex;
      align-items: center;
      white-space: nowrap;

      color: currentColor;

      &:hover {
        color: var(--cx-color-primary);
      }

      &:focus {
        z-index: 1;
        position: relative;
      }

      a {
        display: block;
        width: 100%;
        &:focus {
          z-index: 1;
          position: relative;
        }
      }
    }

    @include media-breakpoint-down(md) {
      // make all first level hedings uppercase in mobile view
      > nav {
        > span,
        > cx-generic-link {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      span,
      cx-generic-link {
        border-bottom: 1px solid var(--cx-color-light);
        display: flex;
        justify-content: space-between;

        cursor: pointer;
      }

      span,
      cx-generic-link a {
        padding: 1rem;
      }
    }

    @include media-breakpoint-up(lg) {
      > nav {
        cursor: pointer;
        // top level headings
        > span {
          padding-top: 20px;
          padding-inline-end: 15px;
          padding-bottom: 22px;
          padding-inline-start: 0;
        }
        // first level headings will be bold in desktop
        nav > span {
          @include type('5');
          cursor: default;

          &:hover {
            color: currentColor;
          }
        }
      }
    }
  }
  cx-generic-link.all {
    text-decoration: underline;
  }
}

@include media-breakpoint-up(lg) {
  cx-navigation-ui > nav > cx-generic-link > a {
    padding-top: 20px;
    padding-inline-end: 15px;
    padding-bottom: 22px;
    padding-inline-start: 0;
  }
  nav > div > cx-generic-link {
    padding: 10px 0;
  }
  div.childs > nav > cx-generic-link > a {
    padding: 5px 0;
  }
}

%nav-icon {
  cx-icon {
    &:before {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    cx-icon {
      padding-inline-start: 7px;
      &:before {
        font-size: 1rem;
      }
    }
  }
}

%nav-childs {
  &.flyout {
    // the last level of navigations is tyically displayed in a column
    .childs[depth='1'] {
      flex-direction: column;
    }
    .childs {
      @include media-breakpoint-up(lg) {
        .childs {
          padding: 0;
        }
      }
    }
  }
}

%nav-links {
  a {
    color: currentColor;
  }
  &.flyout {
    a {
      display: block;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

%nav-wrap {
  @for $column from 1 through 10 {
    &.flyout .childs[columns='#{$column}'] {
      display: block;

      @include media-breakpoint-up(md) {
        column-count: $column;
      }
      @include media-breakpoint-down(sm) {
        column-count: ceil($column / 3);
      }
    }
  }
}

%cx-navigation-ui {
  display: flex;

  @extend %nav-heading;
  @extend %nav-icon;
  @extend %nav-wrapper;
  @extend %nav-childs;
  @extend %nav-links;
  @extend %nav-back-button;
  @extend %nav-wrap;

  nav {
    outline: none;
  }

  &.flyout {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      color: #000;
    }

    @include media-breakpoint-down(md) {
      &.is-open {
        > nav {
          display: none;
          cx-generic-link.all {
            display: none;
          }
        }
        nav.is-open {
          display: initial;
          cx-generic-link.all {
            display: initial;
          }
          > .wrapper {
            height: auto;
          }
        }

        nav.is-opened {
          display: initial;
          > .wrapper > .childs > nav {
            display: none;
            &.is-open {
              display: initial;
            }
          }
          > span {
            display: none;
          }
          > .wrapper {
            height: auto;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .childs[depth='2'] {
        > nav {
          &:not(:only-child):not(:last-child) {
            padding-inline-end: 20px;
          }
        }
      }
      // Show dropdowns via hover when no nav is focused
      > nav {
        > .wrapper {
          position: absolute;
          margin-inline-start: -10px;
          border: 1px solid #ccc;
          @include hideWrapperDesktop();
        }

        // We only treat the first wrapper as a collapsible container
        &:hover {
          > .wrapper {
            @include showWrapperDesktop();
          }
        }
      }

      // Show dropdowns via focus only once a nav is clicked
      &:focus-within {
        > nav {
          &:focus,
          &.is-open:focus-within {
            > .wrapper {
              @include showWrapperDesktop();
            }
          }
        }
      }

      .childs {
        display: flex;
      }

      .wrapper cx-icon {
        display: none;
      }

      > nav {
        > .wrapper {
          transition: opacity 0.4s;
        }
      }
    }
  }
}
