%cx-navigation-ui {
  //this hack here for now, until we decide how we go about keyboard navigation
  // .dropdown:hover>.dropdown-menu,
  // .dropdown:focus>.dropdown-menu {
  //   display: block;
  // }

  .cx-nav {
    &-item {
      @include media-breakpoint-down(md) {
        border-style: var(--cx-border-style, solid);
        border-width: var(--cx-border-width, 0 0 1px);
        border-color: var(--cx-border-color, var(--cx-g-color-background));
        padding: var(--cx-padding, 0.5rem 0);
      }
    }
    &-link {
      color: var(--cx-color, var(--cx-g-color-inverse));
      text-transform: var(--cx-text-transform, capitalize);
      padding: var(--cx-padding, 0.2rem 0);
      &:focus {
        color: var(--cx-color, var(--cx-g-color-primary));
      }
      &:hover {
        color: var(--cx-color, var(--cx-g-color-primary));
        cursor: var(--cx-cursor, pointer);
      }

      @include media-breakpoint-down(md) {
        &::after {
          margin-right: 20px;
          border-style: var(--cx-border-style, solid);
          border-width: var(--cx-border-width, 3px);
          border-color: var(
            --cx-border-color,
            currentColor currentColor var(--cx-g-color-transparent)
              var(--cx-g-color-transparent)
          );
          display: var(--cx-display, block);
          width: var(--cx-width, 1rem);
          height: var(--cx-height, 1rem);
        }
        &[aria-expanded='false'] {
          &::after {
            transform: var(--cx-transform, rotate(45deg));
          }
        }
        &[aria-expanded='true'] {
          &::after {
            transform: var(--cx-transform, rotate(-45deg));
          }
        }

        color: var(--cx-color, var(--cx-g-color-text));
        display: var(--cx-display, flex);
        justify-content: var(--cx-justify-content, space-between);
        padding: var(--cx-padding, 0.5rem 1rem);
      }

      @include media-breakpoint-only(lg) {
        padding: var(--cx-padding, 0.5rem 0);
      }
    }
    &-child-list {
      border-radius: var(--cx-border-radius, 0);
      text-transform: var(--cx-text-transform, capitalize);
      padding: var(--cx-padding, 0);
      @include media-breakpoint-down(md) {
        position: var(--cx-position, relative);
        background-color: var(
          --cx-background-color,
          var(--cx-g-color-background)
        );
        border-style: var(--cx-border-style, none);
        border-width: var(--cx-border-width, 0);
        width: var(--cx-width, 100%);
        top: var(--cx-top, 0) !important;
      }
    }
    &-child-item {
      border-style: var(--cx-border-style, solid);
      border-width: var(--cx-border-width, 0 0 1px);
      border-color: var(--cx-border-color, var(--cx-g-color-background));
      padding: var(--cx-padding, 0.45rem 1rem);
      &:hover {
        background-color: var(
          --cx-background-color,
          var(--cx-g-color-transparent)
        );
      }
      &:last-child {
        border-style: var(--cx-border-style, none);
        border-width: var(--cx-border-width, 0);
      }
      @include media-breakpoint-down(md) {
        border-style: var(--cx-border-style, none);
        border-width: var(--cx-border-width, 0);
      }
    }
    &-child-link {
      @include type('7');
      color: var(--cx-color, var(--cx-g-color-text));
      &:hover {
        color: var(--cx-color, var(--cx-g-color-primary));
        text-decoration: var(--cx-text-decoration, none);
      }
    }
    &-child-list-columns {
      border-radius: var(--cx-border-radius, 0);
      padding: var(--cx-padding, 0.75rem);
      margin: var(--cx-margin, 0);
      &.show {
        display: var(--cx-display, flex);
      }
      @include media-breakpoint-down(md) {
        flex-direction: var(--cx-flex-direction, column);
        position: var(--cx-position, static);
        width: var(--cx-width, 100%);
        border-style: var(--cx-border-style, none);
        border-width: var(--cx-border-width, 0);
        margin: var(--cx-margin, 0);
      }
    }
    //column option
    &-column-title {
      @include type('7');
      text-transform: var(--cx-text-transform, capitalize);
      font-weight: var(--cx-font-weight, var(--cx-g-font-weight-bold));
      display: var(--cx-display, block);
      width: var(--cx-width, 100%);
      padding: var(--cx-padding, 0.25rem 1.5rem);
    }
    &-child-column {
      margin: var(--cx-margin, 0);
      @include media-breakpoint-down(md) {
        margin: var(--cx-margin, 1rem unset 0 0);
      }
    }
    &-child-column-item {
      @include type('7');
      padding: var(--cx-padding, 0.25rem 1.5rem);
      &:hover {
        background-color: var(
          --cx-background-color,
          var(--cx-g-color-transparent)
        );
      }
    }
  }
}
