%cx-scroll-to-top {
  display: none;
  height: 48px;
  width: 48px;
  position: fixed;
  bottom: 80px;
  right: 60px;

  &.display {
    display: initial;
    animation: popup 1s 1;
  }

  button {
    height: inherit;
    width: inherit;
    font-size: 30px;
    border-radius: 5px;
    color: var(--cx-color-inverse);
    background-color: rgb(156, 156, 156);
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;

    @media (hover: hover) {
      &:hover {
        animation: shake 1.85s infinite;
      }
    }
  }

  @keyframes shake {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-6px);
    }
    20% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-3px);
    }
    40% {
      transform: translateY(0);
    }
  }

  @keyframes popup {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }

  // Compact styling
  @include media-breakpoint-down(sm) {
    right: 15px;
  }
}
