<div [formGroup]="form">
  <input
    class="form-control"
    [required]="required"
    [placeholder]="placeholder"
    [type]="passwordType"
    [formControlName]="formControlName"
    [attr.aria-label]="placeholder"
  />
  <button
    *ngIf="allowSwitch"
    type="button"
    class="cx-show-hide-btn"
    (click)="changePasswordVisibility()"
    [attr.aria-label]="
      (passwordType === 'password'
        ? 'passwordInput.showPassword'
        : 'passwordInput.hidePassword'
      ) | cxTranslate
    "
  >
    <span aria-hidden="true">
      <cx-icon
        [type]="passwordType === 'password' ? 'EYE' : 'EYE_SLASH'"
      ></cx-icon>
    </span>
  </button>
</div>
