<ng-container *ngIf="(hasSessionId$ | async) === true">
  <button
    type="button"
    class="btn btn-block btn-primary"
    (click)="submitRequisition(false)"
    [disabled]="closeSessionTriggered"
  >
    {{ 'punchout.backToRequisition' | cxTranslate }}
  </button>
  <button
    *ngIf="!removeCancelButton"
    type="button"
    class="btn btn-block btn-primary"
    (click)="submitRequisition(true)"
    [disabled]="closeSessionTriggered"
  >
    {{ 'punchout.cancel' | cxTranslate }}
  </button>
</ng-container>
<cx-punchout-requsition *ngIf="closeSessionTriggered" />
