<ng-container>
  <div *ngIf="isLoading$ | async; else loaded">
    <div class="cx-spinner">
      <cx-spinner> </cx-spinner>
    </div>
  </div>

  <ng-template #loaded>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <form (ngSubmit)="onSubmit()" [formGroup]="updateEmailForm">
            <div class="form-group">
              <label>
                <span class="label-content">{{
                  'updateEmailForm.newEmailAddress.label' | cxTranslate
                  }}</span>
                <input
                  type="email"
                  name="email"
                  formControlName="email"
                  placeholder="{{
                    'updateEmailForm.newEmailAddress.placeholder' | cxTranslate
                  }}"
                  class="form-control"
                />
                <cx-form-errors
                  [control]="updateEmailForm.get('email')"
                ></cx-form-errors>
              </label>
            </div>

            <div class="form-group">
              <label>
                <span class="label-content">{{
                  'updateEmailForm.confirmNewEmailAddress.label' | cxTranslate
                  }}</span>
                <input
                  type="email"
                  name="confirmEmail"
                  formControlName="confirmEmail"
                  placeholder="{{
                  'updateEmailForm.confirmNewEmailAddress.placeholder' | cxTranslate
                }}"
                  class="form-control"
                />
                <cx-form-errors
                  [control]="updateEmailForm.get('confirmEmail')"
                ></cx-form-errors>
              </label>
            </div>

            <div class="form-group">
              <label>
                <span class="label-content">{{
                  'updateEmailForm.password.label' | cxTranslate
                  }}</span>
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  placeholder="{{
                    'updateEmailForm.password.placeholder' | cxTranslate
                  }}"
                  class="form-control"
                  autocomplete="new-password"
                />
                <cx-form-errors
                  [control]="updateEmailForm.get('password')"
                ></cx-form-errors>
              </label>
            </div>

            <div class="form-group row">
              <div class="col-lg-6">
                <button
                  class="btn btn-block btn-secondary"
                  type="button"
                  (click)="onCancel()"
                >
                  {{ 'common.cancel' | cxTranslate }}
                </button>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-block btn-primary" type="submit">
                  {{ 'common.save' | cxTranslate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
