<div
  *ngIf="isOrderDetailsPage$ | async"
  class="cx-review-summary-card cx-review-summary-payment-card"
>
  <ng-container *ngIf="isGiftCardPayment">
    <div class="cx-opf-gift-card-order-detail-billing-card">
      <ng-container
        *ngIf="!order.paymentInfo?.cardNumber; else partialGiftCardPayment"
      >
        <cx-card [content]="getPaymentMethodCardContent() | async"></cx-card>
      </ng-container>

      <ng-template #partialGiftCardPayment>
        <cx-card
          [content]="{ text: ['giftCard.giftCardPayment' | cxTranslate] }"
        ></cx-card>
      </ng-template>
    </div>
  </ng-container>
</div>
