<ng-container *ngIf="form" [formGroup]="form">
  <div class="form-group" *ngIf="form.get('code')">
    <label>
      <span class="label-content required">{{
        'permission.code' | cxTranslate
      }}</span>
      <input
        class="form-control"
        type="text"
        required
        placeholder="{{ 'permission.code' | cxTranslate }}"
        formControlName="code"
      />
      <cx-form-errors [control]="form.get('code')"></cx-form-errors>
    </label>
  </div>

  <ng-container
    [formGroup]="form.get('orderApprovalPermissionType')"
    *ngIf="form.get('orderApprovalPermissionType') && types$ | async as types"
  >
    <div class="form-group" *ngIf="types.length">
      <label aria-required="true">
        <span class="label-content required">{{
          'permission.orderApprovalPermissionType' | cxTranslate
        }}</span>
        <ng-select
          formControlName="code"
          [searchable]="false"
          [clearable]="false"
          [items]="types"
          bindLabel="name"
          bindValue="code"
          [readonly]="editMode"
          (change)="onTypeSelect($event)"
        >
        </ng-select>
        <cx-form-errors
          [control]="form.get('orderApprovalPermissionType.code')"
        ></cx-form-errors>
      </label>
    </div>
  </ng-container>

  <ng-container *ngIf="form.get('periodRange')">
    <div class="form-group">
      <label aria-required="true">
        <span class="label-content required">{{
          'permission.periodRange' | cxTranslate
        }}</span>
        <ng-select
          formControlName="periodRange"
          [searchable]="false"
          [clearable]="false"
          [items]="periods"
        >
        </ng-select>
        <cx-form-errors [control]="form.get('periodRange')"></cx-form-errors>
      </label>
    </div>
  </ng-container>
  <ng-container
    *ngIf="form.get('currency') && currencies$ | async as currencies"
    [formGroup]="form.get('currency')"
  >
    <div class="form-group">
      <label aria-required="true">
        <span class="label-content required">{{
          'permission.currency' | cxTranslate
        }}</span>
        <ng-select
          formControlName="isocode"
          [searchable]="false"
          [clearable]="false"
          [items]="currencies"
          bindLabel="name"
          bindValue="isocode"
        >
        </ng-select>
        <cx-form-errors
          [control]="form.get('currency.isocode')"
        ></cx-form-errors>
      </label>
    </div>
  </ng-container>
  <ng-container *ngIf="form.get('threshold')">
    <div class="form-group">
      <label>
        <span class="label-content required">{{
          'permission.threshold' | cxTranslate
        }}</span>
        <input
          class="form-control"
          type="number"
          min="0"
          required
          placeholder="{{ 'permission.threshold' | cxTranslate }}"
          formControlName="threshold"
        />
        <cx-form-errors [control]="form.get('threshold')"></cx-form-errors>
      </label>
    </div>
  </ng-container>

  <ng-container
    *ngIf="form.get('orgUnit') && units$ | async as units"
    [formGroup]="form.get('orgUnit')"
  >
    <div class="form-group">
      <label aria-required="true">
        <span class="label-content required">{{
          'permission.orgUnit' | cxTranslate
        }}</span>
        <ng-select
          formControlName="uid"
          [searchable]="false"
          [clearable]="false"
          [items]="units"
          bindLabel="name"
          bindValue="id"
          [readonly]="form.get('orgUnit').disabled"
          appendTo=".organization"
        >
        </ng-select>
        <cx-form-errors [control]="form.get('orgUnit.uid')"></cx-form-errors>
      </label>
    </div>
  </ng-container>
</ng-container>
