<ng-template
  #validation
  let-control="control"
  let-translationParams="translationParams"
>
  <span class="is-invalid">
    <span *ngFor="let error of control.errors | keyvalue">
      {{
        'permissionForm.message.' + error.key | cxTranslate: translationParams
      }}
    </span>
  </span>
</ng-template>

<div [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'permissionForm.code.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{ 'permissionForm.code.placeholder' | cxTranslate }}"
            formControlName="code"
            [class.is-invalid]="isNotValid('code')"
          />
          <ng-container
            *ngIf="isNotValid('code')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.code
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="permissionTypes$ | async as permissionTypes"
          formGroupName="orderApprovalPermissionType"
        >
          <div *ngIf="permissionTypes.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'permissionForm.type' | cxTranslate
              }}</span>
              <ng-select
                formControlName="code"
                [searchable]="false"
                [clearable]="false"
                [items]="permissionTypes"
                bindLabel="name"
                bindValue="code"
                [class.invalid]="isNotValid('orderApprovalPermissionType')"
              >
                <!--                (change)="typeSelected($event)"-->
              </ng-select>
              <ng-container
                *ngIf="isNotValid('orderApprovalPermissionType')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control:
                    form.controls.orderApprovalPermissionType['controls'][
                      'code'
                    ]
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'permissionForm.periodRange' | cxTranslate
          }}</span>
          <ng-select
            formControlName="periodRange"
            [searchable]="false"
            [clearable]="false"
            [items]="periodRange"
            [class.invalid]="isNotValid('periodRange')"
          >
          </ng-select>
          <!--            (change)="periodRangeSelected($event)"-->
          <ng-container
            *ngIf="isNotValid('periodRange')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.periodRange
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="businessUnits$ | async as businessUnits"
          formGroupName="orgUnit"
        >
          <div *ngIf="businessUnits.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'permissionForm.businessUnits.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="uid"
                [searchable]="false"
                [clearable]="false"
                [items]="businessUnits"
                bindLabel="name"
                bindValue="id"
                [class.invalid]="isNotValid('orgUnit')"
              >
                <!--                (change)="businessUnitSelected($event)"-->
              </ng-select>
              <ng-container
                *ngIf="isNotValid('orgUnit')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.orgUnit['controls']['uid']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="currencies$ | async as currencies"
          formGroupName="currency"
        >
          <div *ngIf="currencies.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'permissionForm.currency' | cxTranslate
              }}</span>
              <ng-select
                formControlName="isocode"
                [searchable]="false"
                [clearable]="false"
                [items]="currencies"
                bindLabel="name"
                bindValue="isocode"
                [class.invalid]="isNotValid('currency')"
              >
                <!--                (change)="currencySelected($event)"-->
              </ng-select>
              <ng-container
                *ngIf="isNotValid('currency')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.currency['controls']['isocode']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'permissionForm.threshold.label' | cxTranslate
          }}</span>
          <input
            type="number"
            class="form-control"
            placeholder="{{
              'permissionForm.threshold.placeholder' | cxTranslate
            }}"
            formControlName="threshold"
            [class.is-invalid]="isNotValid('threshold')"
          />
          <ng-container
            *ngIf="isNotValid('threshold')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.threshold
            }"
          ></ng-container>
        </label>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button
        class="btn btn-block btn-primary"
        [disabled]="form.invalid"
        (click)="verifyPermission()"
      >
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</div>
