// Mixins
@import './mixins/mixins';

// Components
@import './quote-actions-by-role';
@import './quote-actions-confirm-dialog';
@import './quote-actions-link';
@import './quote-comments';
@import './quote-header-buyer-edit';
@import './quote-header-overview';
@import './quote-header-price';
@import './quote-header-seller-edit';
@import './quote-details-cart';
@import './quote-list';
@import './quote-request-button';
@import './layout/index';

$quote-components-allowlist: cx-quote-actions-by-role
  cx-quote-actions-confirm-dialog cx-quote-actions-link cx-quote-comments
  cx-quote-header-buyer-edit cx-quote-header-overview cx-quote-header-price
  cx-quote-header-seller-edit cx-quote-details-cart cx-quote-list
  cx-quote-request-button !default;

$skipComponentStyles: () !default;

@each $selector in $quote-components-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $quote-components-allowlist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
