%cx-quote-actions-by-role {
  &:not(:empty) {
    padding-block-start: 1rem;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }
  }
}
