%cx-quote-list {
  @extend .cx-agnostic-table;
  table {
    th {
      text-align: start;
      text-transform: capitalize;
      //background-color: var(--cx-color-dark);
    }
    tr {
      &:hover {
        cursor: pointer;
        background-color: var(--cx-color-background);
      }
    }
    td {
      text-align: start;
      &:nth-last-of-type(1) {
        text-align: center;
      }
    }

    tbody {
      .cx-code,
      .cx-updated-date {
        a {
          color: var(--cx-color-text);
        }
      }

      .cx-nav-caret {
        a {
          color: var(--cx-color-secondary);
        }
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      .quote-draft,
      .quote-expired {
        color: var(--cx-color-dark);
      }
      .quote-submitted {
        color: var(--cx-color-success);
      }
      .quote-ordered {
        color: var(--cx-color-text);
      }
      .quote-rejected {
        color: var(--cx-color-danger);
      }
      .quote-cancelled {
        color: var(--cx-color-warning);
      }
    }
  }

  @include media-breakpoint-down(md) {
    .cx-desktop-only {
      display: none;
    }

    td {
      align-items: start;

      .cx-mobile-header {
        min-width: 140px;
      }
    }

    .cx-status,
    .cx-nav-caret {
      display: none;
    }
  }

  .cx-sort {
    &.top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      margin: 0;
    }

    &.bottom {
      display: flex;
      justify-content: flex-end;
      padding: 1rem 0 1rem 0;
      margin: 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  .cx-pagination {
    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }

  .cx-form-group {
    width: 40%;
    .sortBy-heading {
      font-size: var(--cx-font-size, 1rem);
      font-weight: var(--cx-font-weight-semi);
    }

    cx-sorting {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding: 1.25rem;
      width: 100%;
    }
  }

  .cx-empty {
    font-size: var(--cx-font-size, 1rem);
    font-weight: $font-weight-normal;
  }
}
