%cx-quote-summary-actions {
  &:not(:empty) {
    section {
      @include media-breakpoint-down(sm) {
        width: 95%;
      }

      @include media-breakpoint-up(md) {
        width: 100%;
      }

      display: flex;
      flex-direction: column;
      gap: 1em;
      background-color: var(--cx-color-inverse);

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }
  }
}
