%cx-quote-actions-by-role {
  section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
}
