%cx-quote-actions-by-role {
  &:not(:empty) {
    padding-block-start: 1rem;

    section,
    .cx-ghost-actions {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      gap: 1em;
    }

    section {
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
    }

    .cx-ghost-actions {
      .cx-ghost-button {
        width: 100%;
        height: 50px;
        background-color: var(--cx-color-ghost);
      }
    }
  }
}
