%cx-quote-action-links {
  section {
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      padding: 0 1.25rem;
    }
    @include media-breakpoint-up(md) {
      padding: 0 0 1.25rem 0;
    }
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      li {
        padding: 0 1em;
        text-align: center;
        border-style: solid;
        border-color: var(--cx-color-light);
        border-width: 0 1px 0 0;
        &:last-child {
          border: none;
          padding: 0 0 0 1em;
        }
      }
    }
  }
}

html[dir='rtl'] cx-quote-action-links {
  ul li {
    border-width: 0 1px 0 0;
    &:first-child {
      border-width: 0;
    }
    &:last-child {
      padding: 0 1em 0 0;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: var(--cx-color-light);
    }
  }
}
