<ng-container *ngIf="(cart$ | async) as cart">
  <ng-container *ngIf="(entries$ | async) as entries">
    <ng-container *ngIf="entries.length > 0; else message">
      <div class="cart-details-wrapper">
        <div class="cx-total">
          {{
            'cartItems.cartTotal'
              | cxTranslate: { count: cart.deliveryItemsQuantity }
          }}:
          {{ cart.totalPrice?.formattedValue }}
        </div>
        <cx-promotions
          [promotions]="getAllPromotionsForCart(cart)"
        ></cx-promotions>
        <cx-cart-item-list
          [items]="entries"
          [potentialProductPromotions]="cart.potentialProductPromotions"
          [cartIsLoading]="!(cartLoaded$ | async)"
          [enableSaveForLater]="true"
        ></cx-cart-item-list>
        <!-- NOT FOR MVP  <cx-cart-coupon></cx-cart-coupon> -->
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #message>
  <div class="cart-details-wrapper">
    <div class="cx-total">
      Cart
    </div>
  </div>
  <ul>
    <li>
      Your shopping cart is empty. But you have item(s) in the Save for Later
      list.
    </li>
  </ul>
</ng-template>
<cx-save-for-later></cx-save-for-later>
