@if (subscriptionItemExists()) {
  <td role="cell" class="cx-item-list-charges">
    <div class="cx-item-list-charges">
      @if (this.productService.isSubscription(item().product)) {
        <ng-container *ngTemplateOutlet="charges"></ng-container>
      } @else {
        <span class="cx-value">
          {{ item().basePrice?.formattedValue }}
        </span>
      }
    </div>
  </td>
}

@if (parent() === 'minicart') {
  @if (this.productService.isSubscription(item().product)) {
    <ng-container *ngTemplateOutlet="charges"></ng-container>
  }
}

<ng-template #charges>
  <div class="cx-recurring-charges">
    @for (
      recurringCharge of item().product?.sapPricePlan?.recurringCharges;
      track recurringCharge
    ) {
      <div class="cx-value">
        <span class="cx-billing-value"
          >{{ recurringCharge.price?.formattedValue }}/</span
        >
        <span class="cx-billing-name">{{
          item().product?.sapSubscriptionTerm?.billingPlan?.billingTime?.name
        }}</span>
      </div>
    }
  </div>
  <div class="cx-one-time-charges">
    @for (
      oneTimeCharge of item().product?.sapPricePlan?.oneTimeCharges;
      track oneTimeCharge
    ) {
      <div class="cx-value">
        <span class="cx-billing-value">
          {{ oneTimeCharge.price?.formattedValue }}
        </span>
        <span class="cx-billing-name">
          {{ oneTimeCharge.billingTime?.name | lowercase }}
        </span>
      </div>
    }
  </div>
</ng-template>
