<ng-container *ngIf="subscriptionItemExists()">
  <td role="cell" class="cx-item-list-charges">
    <div class="cx-item-list-charges">
      <ng-container
        *ngIf="
          this.productService.isSubscription(item().product);
          else noSubscriptions
        "
      >
        <ng-container *ngTemplateOutlet="charges"></ng-container>
      </ng-container>

      <ng-template #noSubscriptions>
        <span class="cx-value">
          {{ item().basePrice?.formattedValue }}
        </span>
      </ng-template>
    </div>
  </td>
</ng-container>

<ng-container *ngIf="parent() === 'minicart'">
  <ng-container *ngIf="this.productService.isSubscription(item().product)">
    <ng-container *ngTemplateOutlet="charges"></ng-container>
  </ng-container>
</ng-container>

<ng-template #charges>
  <div class="cx-recurring-charges">
    <ng-container
      *ngFor="
        let recurringCharge of item().product?.sapPricePlan?.recurringCharges
      "
    >
      <div class="cx-value">
        <span class="cx-billing-value"
          >{{ recurringCharge.price?.formattedValue }}/</span
        >
        <span class="cx-billing-name">{{
          item().product?.sapSubscriptionTerm?.billingPlan?.billingTime?.name
        }}</span>
      </div>
    </ng-container>
  </div>
  <div class="cx-one-time-charges">
    <ng-container
      *ngFor="let oneTimeCharge of item().product?.sapPricePlan?.oneTimeCharges"
    >
      <div class="cx-value">
        <span class="cx-billing-value">
          {{ oneTimeCharge.price?.formattedValue }}
        </span>
        <span class="cx-billing-name">
          {{ oneTimeCharge.billingTime?.name | lowercase }}
        </span>
      </div>
    </ng-container>
  </div>
</ng-template>
