<div class="cx-item-list-charges">
  <ng-container *ngIf="subscriptionItem() as item">
    <ng-container
      *ngIf="
        item.product?.productTypes === 'SUBSCRIPTION';
        else noSubscriptions
      "
    >
      <div class="cx-recurring-charges">
        <ng-container
          *ngFor="
            let recurringCharge of item.product?.sapPricePlan?.recurringCharges
          "
        >
          <div class="cx-value">
            <span class="cx-billing-value"
              >{{ recurringCharge.price?.formattedValue }}/</span
            >
            <span class="cx-billing-name">{{
              item.product?.sapSubscriptionTerm?.billingPlan?.billingTime?.name
            }}</span>
          </div>
        </ng-container>
      </div>
      <div class="cx-one-time-charges">
        <ng-container
          *ngFor="
            let oneTimeCharge of item.product?.sapPricePlan?.oneTimeCharges
          "
        >
          <div class="cx-value">
            <span class="cx-billing-value">
              {{ oneTimeCharge.price?.formattedValue }}
            </span>
            <span class="cx-billing-name">
              {{ oneTimeCharge.billingTime?.name | lowercase }}
            </span>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #noSubscriptions>
      <span class="cx-value">
        {{ item.basePrice?.formattedValue }}
      </span>
    </ng-template>
  </ng-container>
</div>
