<ng-container *ngIf="form" [formGroup]="form">
  <div
    class="form-group"
    *ngIf="form.get('titleCode') && titles$ | async as titles"
  >
    <label>
      <span class="label-content required">{{
        'user.title' | cxTranslate
      }}</span>
      <ng-select
        formControlName="titleCode"
        [searchable]="false"
        [clearable]="false"
        [items]="titles"
        bindLabel="name"
        bindValue="code"
      >
      </ng-select>
      <cx-form-errors [control]="form.get('titleCode')"></cx-form-errors>
    </label>
  </div>

  <div class="form-group" *ngIf="form.get('firstName')">
    <label>
      <span class="label-content required">{{
        'user.firstName' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        required
        placeholder="{{ 'user.firstName' | cxTranslate }}"
        formControlName="firstName"
      />
      <cx-form-errors [control]="form.get('firstName')"></cx-form-errors>
    </label>
  </div>

  <div class="form-group" *ngIf="form.get('lastName')">
    <label>
      <span class="label-content required">{{
        'user.lastName' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        required
        placeholder="{{ 'user.lastName' | cxTranslate }}"
        formControlName="lastName"
      />
      <cx-form-errors [control]="form.get('lastName')"></cx-form-errors>
    </label>
  </div>

  <div class="form-group" *ngIf="form.get('email')">
    <label>
      <span class="label-content required">{{
        'user.email' | cxTranslate
      }}</span>
      <input
        class="form-control"
        type="email"
        required
        placeholder="{{ 'user.email' | cxTranslate }}"
        formControlName="email"
      />
      <cx-form-errors [control]="form.get('email')"></cx-form-errors>
    </label>
  </div>

  <div class="form-group">
    <label aria-required="true">
      <span class="label-content required">
        {{ 'user.roles' | cxTranslate }}
      </span>
    </label>

    <div *ngIf="form.get('roles')" formArrayName="roles">
      <div
        class="form-check"
        *ngFor="let role of availableRoles; let i = index"
      >
        <label>
          <input
            type="checkbox"
            class="form-check-input"
            [value]="role"
            [checked]="roles.value?.includes(role)"
            (change)="onRoleChange($event)"
          />
          <span class="form-check-label">
            {{ 'organization.userRoles.' + role | cxTranslate }}
          </span>
        </label>
      </div>
    </div>

    <div
      class="form-check"
      *ngIf="
        form.get('isAssignedToApprovers') &&
        roles.value.includes('b2bapprovergroup')
      "
    >
      <label>
        <input
          type="checkbox"
          class="form-check-input"
          formControlName="isAssignedToApprovers"
        />
        <span class="form-check-label">{{
          'user.assignAprover' | cxTranslate
        }}</span>
      </label>
    </div>
  </div>

  <ng-container
    *ngIf="form.get('orgUnit') && units$ | async as units"
    [formGroup]="form.get('orgUnit')"
  >
    <div class="form-group">
      <label aria-required="true">
        <span class="label-content required">{{
          'user.orgUnit' | cxTranslate
        }}</span>
        <ng-select
          formControlName="uid"
          [searchable]="false"
          [clearable]="false"
          [items]="units"
          bindLabel="name"
          bindValue="id"
          [readonly]="form.get('orgUnit.uid').disabled"
          appendTo=".organization"
        >
        </ng-select>
        <cx-form-errors [control]="form.get('orgUnit.uid')"></cx-form-errors>
      </label>
    </div>
  </ng-container>
</ng-container>
