<h4 style="text-align: center">
  DEVELOP
  <ul>
    <li><a href="./">HOMEPAGE (hard link)</a></li>
    <li><a href="./product/358639/dsc-n1">PDP (hard link)</a></li>
    <li><a routerLink="/my-account/address-book">Address book</a></li>
    <li><a routerLink="/my-account/saved-carts">Saved carts</a></li>
    <li><a routerLink="/my-account/wishlist">Wish list</a></li>
    <li><a routerLink="/my-account/orders">Order history</a></li>
    <li><a routerLink="/checkout">add to cart + Checkout 👈👈👈 only CheckoutAuthGuard is problematic?</a></li>
  </ul>
</h4>

<ng-template [cxOutlet]="StorefrontOutlets.STOREFRONT" cxPageTemplateStyle>
  <ng-template cxOutlet="cx-header">
    <header
      cxSkipLink="cx-header"
      [cxFocus]="{ disableMouseFocus: true }"
      [class.is-expanded]="isExpanded$ | async"
      (keydown.escape)="collapseMenu()"
      (click)="collapseMenuIfClickOutside($event)"
    >
      <cx-page-layout section="header"></cx-page-layout>
      <cx-page-layout section="navigation"></cx-page-layout>
    </header>
    <cx-page-slot position="BottomHeaderSlot"></cx-page-slot>
    <cx-global-message
      aria-atomic="true"
      aria-live="assertive"
    ></cx-global-message>
  </ng-template>

  <main cxSkipLink="cx-main" [cxFocus]="{ disableMouseFocus: true }">
    <router-outlet></router-outlet>
  </main>

  <ng-template cxOutlet="cx-footer">
    <footer cxSkipLink="cx-footer" [cxFocus]="{ disableMouseFocus: true }">
      <cx-page-layout section="footer"></cx-page-layout>
    </footer>
  </ng-template>
</ng-template>
