%cx-add-to-wishlist {
  @include media-breakpoint-up(lg) {
    grid-column: 2;
    padding: 0 20px;
  }

  .btn {
    text-transform: none;
  }

  .button {
    &-remove {
      vertical-align: inherit;
    }

    &-add,
    &-remove {
      padding: 0;
      font-size: 1rem;
    }

    &-text {
      margin-left: 0.3em;
    }

    &-add-link {
      padding-left: 0;
    }
  }
}
