@import '../../theme';

%cx-cart-item-list {
  .cx-item-list-header {
    @include type('8');
    margin: 0;
    padding: 1.125rem 0;
    text-transform: uppercase;
    color: var(--cx-color-secondary);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
  }

  .cx-item-list-desc {
    text-align: start;
    padding: 0;
  }

  .cx-item-list-price {
    text-align: center;
    padding: 0;

    @include media-breakpoint-down(md) {
      text-align: start;
    }

    @include media-breakpoint-only(xl) {
      padding: 0px 15px 0 0;
      padding-top: 0;
      padding-inline-end: 15px;
      padding-bottom: 0;
      padding-inline-start: 0;
    }
  }

  .cx-item-list-qty {
    text-align: center;

    @include media-breakpoint-down(md) {
      text-align: start;
    }

    @include media-breakpoint-up(xl) {
      padding-inline-start: 20px;
    }

    @include media-breakpoint-only(lg) {
      padding-inline-end: 24px;
    }
  }

  .cx-item-list-total {
    text-align: end;
    padding: 0;
  }

  .cx-item-list-row {
    padding: 1.25rem 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
  }

  .cx-item-list-items {
    &.is-changed {
      opacity: 0.7;
    }
  }

  // ------------------------------------ MEDIA QUERIES ------------------------------------

  @include media-breakpoint-down(md) {
    .cx-item-list-header {
      padding: 1.125rem 2.5rem;
    }

    .cx-item-list-items {
      padding: 0 2.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .cx-item-list-items {
      padding-inline-start: 1rem;
    }
  }
}
