@import '../../theme';

%cx-cart-coupon {
  .couponbox-is-active {
    .cx-customer-coupons {
      display: block;
    }
  }
  padding: 2rem 3rem;

  @include media-breakpoint-down(md) {
    padding: 0 3rem 2rem 3rem;
  }

  .cx-cart-coupon-title {
    @include type('5');
    margin: 1.125rem 0 0.5rem;
  }

  .form-group .col-md-4 {
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  .cx-apply-voucher {
    position: relative;
  }

  .cx-customer-coupons {
    display: none;
    z-index: 100;
    position: absolute;
    max-height: 130px;
    overflow: auto;
    width: 100%;
    background-color: var(--cx-color-inverse);
    @include type();

    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -0.25rem;

    .coupons {
      @include media-breakpoint-down(sm) {
        display: block;
      }

      a {
        display: grid;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: var(--cx-color-light);
          color: currentColor;
        }

        .coupon-id {
          @include type('7');
          padding: 6px 3px;
          word-break: break-word;
        }
      }
    }
  }
}
