@import '../../theme';

%cx-mini-cart {
  margin-inline-start: 0.75rem;
  display: block;

  @include media-breakpoint-up(md) {
    margin-inline-end: 0.85rem;
  }

  a {
    display: flex;
    background: var(--cx-color-primary);

    // demonstrate over (i.e. something that is deprecated but wasn't removed)
    @include forVersion(2.5) {
      background: green;
    }
    // demonstrate stuff for 3.1 only. Customers must adapt 3.1 or higher to get this change.
    @include forVersion(3.1) {
      background: blue;
    }
    // demonstrate stuff for 2.2 only. Customers must adapt 3.2 or higher to get this change.
    @include forVersion(3.2) {
      background: red;
    }

    min-width: 70px;
    height: 47px;
    padding: 10px;

    color: var(--cx-color-inverse);
    text-decoration: none;
    justify-content: space-around;

    color: currentColor;

    &:hover {
      color: currentColor;
      text-decoration: none;
    }

    .count {
      color: currentColor;
      align-self: center;
      padding-inline-start: 7px;
    }
    .total {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      width: 55px;
      height: 57px;
      background-position: center top 4px;
      flex-direction: column;
      justify-content: center;

      .count {
        padding-inline-end: 0;
        margin-bottom: -5px;
      }
    }
  }
}
