@import '../../theme';

%cx-save-for-later {
  display: block;

  .cart-details-wrapper {
    padding: 2rem 0;
  }

  .cx-total {
    @include type('4');
    margin: 0 0 1rem;
  }

  .cx-remove-btn {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
  }

  .cx-sfl-btn {
    text-align: right;
    padding-right: 0;
  }

  .cx-empty-cart-info {
    margin-top: 3rem;
  }
}
