@if (linkable) {
  <a
    [routerLink]="{ cxRoute: route, params: routeModel } | cxUrl"
    [tabindex]="tabIndex"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </a>
} @else {
  @if (hasRange) {
    <span
      class="text"
      title="{{ model.startDate | cxDate }} - {{ model.endDate | cxDate }}"
    >
      {{ model.startDate | cxDate }} - {{ model.endDate | cxDate }}
    </span>
  }
}

<ng-template #text>
  @if (hasRange) {
    <span
      class="text"
      title="{{ model.startDate | cxDate }} - {{ model.endDate | cxDate }}"
    >
      {{ model.startDate | cxDate }} - {{ model.endDate | cxDate }}
    </span>
  }
</ng-template>
