@import '../../sass-true/sass/true';
@import '../scss/versioning';
@import './versioning-test-util';

$_fullVersion: 5.1;
$_majorVersion: 5;
$styleVersion: 5.1;
$useLatestStyles: false;

@include describe('Style versioning forVersion() mixin ') {
  @include describe(
    'with style version #{$styleVersion} / _fullVersion: #{$_fullVersion}'
  ) {
    @include shouldNOTDisplayForRange(4, 5);
    @include shouldNOTDisplayForRange(1.1, 4.9);
    @include shouldDisplayForRange(4.9, 5.1);
    @include shouldDisplayForRange(4.9, 5.2);
    @include shouldDisplayForRange(5.1, 5.3);
    @include shouldNOTDisplayForRange(4.9, 5);
    @include shouldNOTDisplayForRange(5.2, 5.7);

    @include shouldDisplayForVersion(5);
    @include shouldDisplayForVersion('5');
    @include shouldDisplayForVersion(4.3);
    @include shouldDisplayForVersion(5.1);
    @include shouldDisplayForVersion(4.3.2);
    // prettier-ignore
    @include shouldDisplayForVersion(5.0.1);
    // prettier-ignore
    @include shouldDisplayForVersion(5.0.2);
    // prettier-ignore
    @include shouldDisplayForVersion(5.0.3);
    @include shouldDisplayForVersion('5.0.4');
    @include shouldNOTDisplayForVersion(6);
    @include shouldNOTDisplayForVersion(5.2);
    @include shouldNOTDisplayForVersion(5.2.1);
  }
}
