<ng-container *ngIf="savedCart$ | async as cart">
  <div class="cx-cart-summary">
    <div class="container">
      <div class="cx-summary-card">
        <cx-card [content]="getCartName(cart?.name) | async"></cx-card>

        <cx-card
          [content]="getCartDescription(cart?.description) | async"
        ></cx-card>
      </div>
      <div class="cx-summary-card">
        <cx-card [content]="getCartId(cart?.code) | async"></cx-card>
      </div>
      <div class="cx-summary-card">
        <cx-card [content]="getDateSaved(cart?.saveTime) | async"></cx-card>
        <cx-card [content]="getCartItems(cart?.totalItems) | async"></cx-card>
      </div>
      <div class="cx-summary-card">
        <cx-card
          [content]="getCartQuantity(cart?.totalUnitCount) | async"
        ></cx-card>
        <cx-card
          [content]="
            getCartTotal(cart?.totalPriceWithTax?.formattedValue) | async
          "
        ></cx-card>
      </div>
      <div class="cx-summary-card">
        <button class="link cx-action-link" (click)="editCart(cart?.code)">
          {{ 'savedCartDetails.edit' | cxTranslate }}
        </button>

        <button class="link cx-action-link" (click)="deleteCart(cart?.code)">
          {{ 'savedCartDetails.remove' | cxTranslate }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
