<ng-container *ngIf="configuration$ | async as configuration">
  <div class="cx-item-list-row cx-config-group-attribute">
    <ng-container *ngIf="currentGroup$ | async as currentGroup">
      <cx-config-conflict-description
        [currentGroup]="currentGroup"
      ></cx-config-conflict-description>
      <div
        class="cx-item-list-row cx-config-group-attribute"
        *ngFor="
          let attribute of currentGroup.attributes;
          let indexOfAttribute = index
        "
      >
        <cx-config-conflict-suggestion
          [currentGroup]="currentGroup"
          [attribute]="attribute"
          [suggestionNumber]="indexOfAttribute"
        ></cx-config-conflict-suggestion>
        <div class="cx-config-attribute-header">
          <cx-config-attribute-header
            [attribute]="attribute"
            [owner]="configuration.owner"
            [groupId]="currentGroup.id"
            [groupType]="currentGroup.groupType"
          ></cx-config-attribute-header>
        </div>
        <div
          class="cx-config-attribute-value cx-config-attribute-value-multi col-xs-12"
          [class.cx-config-attribute-value-multi]="
            attribute.uiType === uiType.RADIOBUTTON
          "
        >
          <cx-config-attribute-radio-button
            *ngIf="attribute.uiType === uiType.RADIOBUTTON"
            [attribute]="attribute"
            [ownerKey]="configuration.owner.key"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-radio-button>
          <cx-config-attribute-drop-down
            *ngIf="attribute.uiType === uiType.DROPDOWN"
            [attribute]="attribute"
            [group]="currentGroup.id"
            [ownerKey]="configuration.owner.key"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-drop-down>

          <cx-config-attribute-input-field
            *ngIf="attribute.uiType === uiType.STRING"
            [attribute]="attribute"
            [group]="currentGroup.id"
            [ownerType]="configuration.owner.type"
            [ownerKey]="configuration.owner.key"
            (inputChange)="updateConfiguration($event)"
          >
          </cx-config-attribute-input-field>
          <ng-container *ngIf="activeLanguage$ | async as activeLanguage">
            <cx-config-attribute-numeric-input-field
              *ngIf="attribute.uiType === uiType.NUMERIC"
              [attribute]="attribute"
              [group]="currentGroup.id"
              [ownerKey]="configuration.owner.key"
              [language]="activeLanguage"
              (inputChange)="updateConfiguration($event)"
            ></cx-config-attribute-numeric-input-field>
          </ng-container>
          <cx-config-attribute-checkbox-list
            *ngIf="attribute.uiType === uiType.CHECKBOXLIST"
            [attribute]="attribute"
            [group]="currentGroup.id"
            [ownerKey]="configuration.owner.key"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-checkbox-list>
          <cx-config-attribute-checkbox
            *ngIf="attribute.uiType === uiType.CHECKBOX"
            [attribute]="attribute"
            [group]="currentGroup.id"
            [ownerKey]="configuration.owner.key"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-checkbox>
          <cx-config-attribute-read-only
            *ngIf="attribute.uiType === uiType.READ_ONLY"
            [attribute]="attribute"
            [group]="currentGroup.id"
          ></cx-config-attribute-read-only>
          <cx-config-attribute-multi-selection-image
            *ngIf="attribute.uiType === uiType.MULTI_SELECTION_IMAGE"
            [attribute]="attribute"
            [group]="currentGroup.id"
            [ownerKey]="configuration.owner.key"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-multi-selection-image>
          <cx-config-attribute-single-selection-image
            *ngIf="attribute.uiType === uiType.SINGLE_SELECTION_IMAGE"
            [attribute]="attribute"
            [group]="currentGroup.id"
            [ownerKey]="configuration.owner.key"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-single-selection-image>
          <em *ngIf="attribute.uiType === uiType.NOT_IMPLEMENTED">{{
            'configurator.attribute.notSupported' | cxTranslate
          }}</em>
        </div>
        <div class="cx-config-attribute-footer">
          <cx-config-attribute-footer
            [attribute]="attribute"
            [owner]="configuration.owner"
            [groupId]="currentGroup.id"
          ></cx-config-attribute-footer>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
