<div class="cx-modal-container">
  <div class="cx-modal-content" [cxFocus]="focusConfig">
    <!-- Modal Header -->
    <div class="cx-dialog-header modal-header">
      <div class="cx-dialog-title modal-title">
        {{ 'configurator.header.resolveIssue' | cxTranslate }}
      </div>
      <button
        type="button"
        class="close"
        (click)="dismissModal('Close conflict solver dialog')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="cx-msg-warning">
        <cx-icon [type]="iconTypes.ERROR"></cx-icon>
        {{ 'configurator.header.conflictWarning' | cxTranslate }}
      </div>

      <ng-container
        *ngIf="
          (conflictGroups$ | async)?.length > 0 &&
          (conflictGroups$ | async) as conflictGroups
        "
      >
        <cx-configurator-group
          [group]="conflictGroups[0]"
          [owner]="(routerData$ | async)?.owner"
          [isNavigationToGroupEnabled]="false"
          [uiContextKey]="'conflict'"
        >
        </cx-configurator-group>
      </ng-container>
    </div>
  </div>
</div>
