@import './close-account';
@import './close-account-modal';
@import './forget-password';
@import './register';
@import './update-password-form';
@import './my-account-v2/my-account-v2-email';
@import './my-account-v2/my-account-v2-profile';
@import './my-account-v2/my-account-v2-password';
@import './address-book';
@import './address-form';
@import './suggested-addresses-dialog';
