%cx-new-email {
  .email-enhancedUI-headertext {
    font-size: $h3-font-size;
    font-weight: var(--cx-font-weight-semi);
    color: $text;
    padding-bottom: 1.5rem;
  }

  .email-enhancedUI-editButton {
    font-size: $font-size-base;
    color: $primary;
    border: none;
    background-color: transparent;
  }

  .email-enhancedUI-text-head {
    font-weight: var(--cx-font-weight-semi);
    min-width: 7.5rem;
    color: $background-dark;
  }

  .email-enhancedUI-value {
    font-weight: var(--cx-font-weight-normal);
    color: $dark;
  }

  .email-enhancedUI-button {
    font-weight: var(--cx-font-weight-normal);
    padding: 0.8rem, 1.5rem, 0.8rem, 1.5rem;
    font-size: $font-size-base;
  }

  .email-enhancedUI-button-cancel {
    color: $primary;
  }

  .form-control::placeholder {
    color: $medium;
  }

  .email-editing-area {
    float: left;
    width: 100%;
    max-width: 35rem;
  }

  .cx-message-info {
    background-color: $info-accent;
    border-color: $visual-focus;

    .cx-message-icon {
      cx-icon {
        color: $primary-accent;
      }
    }
  }

  .btn-group-row {
    display: flex;
    flex: 100%;
    justify-content: end;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
}
