%cx-new-combined-profile {
  .new-combined-profile-container {
    padding-bottom: 5rem;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: $medium;
    padding-top: 2rem;
  }
}
