%cx-new-email {
  .email-enhancedUI-header-area {
    border: 1px, 0px, 0px, 0px;
  }

  .email-enhancedUI-body-area {
    border: 0px, 0px, 1px, 0px;
  }

  .email-enhancedUI-headertext {
    font-size: $h3-font-size;
    font-weight: var(--cx-font-weight-semi);
    color: $text;
    padding-bottom: 1.5rem;
  }

  .email-enhancedUI-editButton {
    font-size: $font-size-base;
    color: $primary;
    border: none;
    background-color: transparent;
  }

  .email-enhancedUI-text-head {
    font-weight: var(--cx-font-weight-semi);
    min-width: 7.5rem;
    padding-right: 1.2rem;
    color: $background-dark;
  }

  .email-enhancedUI-value {
    font-weight: var(--cx-font-weight-normal);
    color: $dark;
  }

  .email-enhancedUI-button {
    font-weight: var(--cx-font-weight-normal);
  }

  .email-enhancedUI-button-cancel {
    color: $primary;
  }

  .email-editing-area 
  {
    width: 70%;
    float: left;
  }
}