%cx-new-profile {
  .myaccount-enhancedUI-headertext {
    font-size: $h3-font-size;
    font-weight: var(--cx-font-weight-semi);
    color: $text;
    padding-bottom: 1.5rem;
  }

  .myaccount-enhancedUI-editButton {
    font-size: $font-size-base;
    color: $primary;
    border: none;
    background-color: transparent;
  }

  .myaccount-enhancedUI-text-head {
    font-weight: var(--cx-font-weight-semi);
    min-width: 7.5rem;
    color: $background-dark;
  }

  .myaccount-enhancedUI-value {
    font-weight: var(--cx-font-weight-normal);
    color: $dark;
  }

  .myaccount-enhancedUI-button {
    font-weight: var(--cx-font-weight-normal);
    padding: 0.8rem, 1.5rem, 0.8rem, 1.5rem;
    font-size: $font-size-base;
  }

  .myaccount-enhancedUI-button-cancel {
    color: $primary;
  }

  .myaccount-editing-area {
    float: left;
    width: 100%;
    max-width: 35rem;
  }

  .btn-group-row {
    padding-top: 0.75rem;
    display: flex;
    flex: 100%;
    justify-content: end;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .ng-select .ng-select-container {
    background-color: $background;
  }

  form {
    label {
      padding-bottom: 0.75rem !important;
    }
  }
  label {
    padding-bottom: 0.3rem ;
  }
}
