%cx-new-update-password-form {
  @include media-breakpoint-down(md) {
    .btn-primary {
      margin: 1rem 0 0;
    }

  }

  .myaccount-password-header {
    font-size: $h3-font-size;
    font-weight: var(--cx-font-weight-semi);
    color: $text;
    padding-bottom: 1.5rem;
  }

  .myaccount-password-button {
    font-weight: var(--cx-font-weight-normal);
  }

  .myaccount-password-button-cancel {
    color: $primary;
  }

  .myaccount-password-label {
    font-weight: var(--cx-font-weight-semi);
    min-width: 7.5rem;
    padding-right: 1.2rem;
    color: $background-dark;
  }

  .form-control::placeholder {
    color: $medium
  }

  .myaccount-label-padding {
    padding-bottom: 1rem!important;

  }

  .password-btn-group-row {
    display: flex;
    flex: 100%;
    justify-content: end;
  }

  .password-btn-group {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

}
