%cx-register {
  form {
    a {
      text-decoration: underline;
    }
    .cx-login-link {
      margin: 1rem 0 0;
    }

    .input-hint {
      font-size: 0.875rem;
      color: var(--cx-color-secondary);
      margin-bottom: 0;
    }

    .form-group,
    .form-check {
      scroll-margin-bottom: $cx-anonymous-consent-banner-offset;
    }

    input,
    select,
    textarea,
    ng-select,
    button[type='submit'],
    .cx-login-link {
      &:focus {
        scroll-margin-bottom: $cx-anonymous-consent-banner-offset;
      }
    }

    @include forFeature('a11yRegistrationTermsAsteriskMargin') {
      .form-check-label abbr.required-asterisk {
        margin-inline-start: 6px;
      }
    }
  }
}
