<div
  id="{{ createAttributeIdForConfigurator(attribute) }}"
  class="cx-row"
  role="listbox"
>
  <div
    *ngFor="let value of attribute.values"
    id="{{ createAttributeValueIdForConfigurator(attribute, value.valueCode) }}"
    class="cx-configurator-select"
  >
    <input
      id="{{
        createAttributeValueIdForConfigurator(attribute, value.valueCode) +
          '-input'
      }}"
      type="radio"
      class="form-input"
      [value]="value.valueCode"
      formcontrolname="attributeRadioButtonForm"
      [formControl]="attributeRadioButtonForm"
      [value]="value.valueCode"
      name="{{ createAttributeIdForConfigurator(attribute) }}"
      attr.name="{{ createAttributeIdForConfigurator(attribute) }}"
      [attr.required]="attribute.required"
      [attr.aria-checked]="
        attributeRadioButtonForm.value === value.valueCode ? true : false
      "
      [attr.aria-label]="
        value.valuePrice && value.valuePrice?.value !== 0
          ? ('configurator.a11y.valueOfAttributeFullWithPrice'
            | cxTranslate
              : {
                  value: value.valueDisplay,
                  attribute: attribute.label,
                  price: value.valuePrice.formattedValue
                })
          : ('configurator.a11y.valueOfAttributeFull'
            | cxTranslate
              : { value: value.valueDisplay, attribute: attribute.label })
      "
      [attr.aria-describedby]="
        createAttributeUiKey('label', attribute.name) +
        ' ' +
        createAttributeUiKey('attribute-msg', attribute.name)
      "
      [attr.checked]="
        attributeRadioButtonForm.value === value.valueCode ? 'checked' : null
      "
      (click)="onClick(value.valueCode)"
      [cxFocus]="{ key: attribute.name + '-' + value.name }"
      role="option"
    />
    <div class="cx-label-container">
      <label
        id="{{ createValueUiKey('label', attribute.name, value.valueCode) }}"
        for="{{
          createAttributeValueIdForConfigurator(attribute, value.valueCode) +
            '-input'
        }}"
        aria-hidden="true"
        class="form-check-label form-radio-label"
      >
        <img
          *ngIf="value.images[0]"
          class="cx-img"
          src="{{ value.images[0].url }}"
          alt="{{ value.images[0].altText }}"
        />
        <div *ngIf="!value.images[0]" class="cx-img-dummy"></div>
        {{ value.valueDisplay }}
        <cx-configurator-price
          [formula]="extractValuePriceFormulaParameters(value)"
        ></cx-configurator-price>
      </label>
    </div>
  </div>
</div>
