<ng-container *ngIf="facetList$ | async as facetList">
  <div
    id="cx-active-facets-groupName"
    *ngIf="facetList.activeFacets && facetList.activeFacets.length > 0"
  >
    {{ 'productList.appliedFilter' | cxTranslate }}
  </div>

  <ng-container *ngFor="let facet of facetList?.activeFacets">
    <a
      *cxFeature="'a11yFilteredFacetAnnouncement'"
      routerLink="./"
      [queryParams]="getLinkParams(facet)"
      [cxFocus]="{ key: getFocusKey(facetList, facet) }"
      role="button"
      (keydown.space)="removeFilterWithSpacebar($event)"
      [attr.aria-label]="
        'productList.activeFilter'
          | cxTranslate: { filter: facet.facetValueName }
      "
      [attr.title]="
        'productList.activeFilter'
          | cxTranslate: { filter: facet.facetValueName }
      "
      [cxAtMessage]="
        'productList.filterRemoved'
          | cxTranslate: { filter: facet.facetValueName }
      "
    >
      <span>{{ facet.facetValueName }}</span>
      <cx-icon aria-hidden="true" [type]="closeIcon" />
    </a>
    <a
      *cxFeature="'!a11yFilteredFacetAnnouncement'"
      routerLink="./"
      [queryParams]="getLinkParams(facet)"
      [cxFocus]="{ key: getFocusKey(facetList, facet) }"
      role="button"
      (keydown.space)="removeFilterWithSpacebar($event)"
      [attr.aria-label]="
        'productList.activeFilter'
          | cxTranslate: { filter: facet.facetValueName }
      "
      [attr.title]="
        'productList.activeFilter'
          | cxTranslate: { filter: facet.facetValueName }
      "
    >
      <span>{{ facet.facetValueName }}</span>
      <cx-icon aria-hidden="true" [type]="closeIcon" />
    </a>
  </ng-container>

  <ng-container *cxFeature="'a11yClearAllActiveFacets'">
    <div
      *ngIf="facetList.activeFacets && facetList.activeFacets.length > 0"
      class="cx-clear-all-facets-container"
    >
      <a
        class="cx-clear-all-facets cx-action-link"
        routerLink="./"
        [queryParams]="getResetLinkParams(facetList)"
        role="button"
        (keydown.space)="removeFilterWithSpacebar($event)"
        [attr.aria-label]="'productList.clearAllFiltersLabel' | cxTranslate"
        [attr.title]="'productList.clearAllFiltersLabel' | cxTranslate"
        [cxAtMessage]="'productList.allFiltersRemoved' | cxTranslate"
      >
        <span>{{ 'productList.clearAllFilters' | cxTranslate }}</span>
      </a>
    </div>
  </ng-container>
</ng-container>
