%cx-tab {
  display: grid;

  > button {
    order: 0;
    transition: all 0.6s;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;

    &:first-of-type {
      grid-column: 3;
    }
  }

  // the div elements contain the content and will be rendered after the tabs
  > div {
    order: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 50px 0;
    border-top: 1px var(--cx-color-light) solid;
  }

  .ACCORDIAN {
    button {
      width: 100%;
    }
  }
}
