<cx-view #view>
  <form
    *ngIf="form$ | async as form"
    [formGroup]="form"
    (ngSubmit)="save(form)"
  >
    <h3>
      <a
        class="link"
        [routerLink]="{ cxRoute: 'costCenter' } | cxUrl"
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.cancel' | cxTranslate }}
      </a>
      {{ 'organization.create' | cxTranslate }}
      <button class="button primary" type="submit">
        {{ 'organization.save' | cxTranslate }}
      </button>
    </h3>

    <section>
      <cx-cost-center-form [form]="form"> </cx-cost-center-form>
    </section>
  </form>
</cx-view>
