<cx-view #view>
  <form
    *ngIf="form$ | async as form"
    [formGroup]="form"
    (ngSubmit)="save(form)"
  >
    <h3>
      <a
        class="link"
        [routerLink]="{ cxRoute: 'costCenter' } | cxUrl"
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
      </a>
      {{ 'organization.create' | cxTranslate }}
    </h3>

    <section class="half">
      <cx-cost-center-form [form]="form"> </cx-cost-center-form>
      <div>
        <button
          [routerLink]="{ cxRoute: 'costCenter' } | cxUrl"
          class="button secondary"
        >
          {{ 'organization.cancel' | cxTranslate }}
        </button>
        <button class="button primary" type="submit">
          {{ 'organization.save' | cxTranslate }}
        </button>
      </div>
    </section>
  </form>
</cx-view>
