<cx-view #view *ngIf="unitCode$ | async">
  <form [formGroup]="form" (ngSubmit)="save()">
    <h3>
      <a
        class="link"
        [routerLink]="{ cxRoute: 'costCenter' } | cxUrl"
        (click)="back()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.cancel' | cxTranslate }}
      </a>
      {{ 'organization.create' | cxTranslate }}
      <button class="button primary" type="submit">
        {{ 'organization.save' | cxTranslate }}
      </button>
    </h3>

    <section>
      <cx-form-notification
        *ngIf="formRestored"
        messageKey="form.restored"
      ></cx-form-notification>

      <cx-cost-center-form [form]="form"></cx-cost-center-form>
    </section>
  </form>
</cx-view>
