<cx-view #view *ngIf="code$ | async as userCode">
  <h3>
    <a
      class="link"
      [routerLink]="
        { cxRoute: 'userPermissions', params: { customerId: userCode } } | cxUrl
      "
      (click)="view.toggle()"
    >
      <cx-icon type="CARET_LEFT"></cx-icon>
      {{ 'organization.back' | cxTranslate }}
    </a>
    <span>{{
      'user.permission.assignHeader' | cxTranslate: { code: name$ | async }
    }}</span>
  </h3>

  <ng-container *ngIf="dataTable$ | async as dataTable; else emptyList">
    <section>
      <cx-table
        [dataset]="dataTable"
        (sortEvent)="sort(dataTable.pagination, $event)"
      >
      </cx-table>
      <cx-pagination
        *ngIf="dataTable.pagination"
        [pagination]="dataTable.pagination"
        (viewPageEvent)="viewPage(dataTable.pagination, $event)"
      ></cx-pagination>
    </section>
    <div class="instructions">
      <ul>
        <li>{{ 'user.permission.instructions.check' | cxTranslate }}</li>
        <li>{{ 'user.permission.instructions.uncheck' | cxTranslate }}</li>
        <li>{{ 'user.permission.instructions.changes' | cxTranslate }}</li>
      </ul>
      <a
        class="button secondary"
        [routerLink]="
          { cxRoute: 'userPermissions', params: { customerId: userCode } }
            | cxUrl
        "
      >
        {{ 'user.permission.back' | cxTranslate }}
      </a>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <p class="instruction is-empty">
      {{ 'organization.messages.emptyList' | cxTranslate }}
    </p>
  </ng-template>

  <ng-template
    cxOutletRef="table.userAssignPermissions.data.selected"
    let-model
  >
    <label>
      <input
        type="checkbox"
        [checked]="model.selected"
        (change)="toggleAssign(userCode, model.code, $event.target.checked)"
      />
    </label>
  </ng-template>

  <ng-template cxOutletRef="table.userAssignPermissions.data.summary" let-model>
    <h3>{{ model.code }}</h3>
    <small *ngIf="model.threshold; else type"
      >{{ model.threshold }} {{ model.currency?.symbol }}
      {{ 'user.permission.per.' + model.periodRange | cxTranslate }}
    </small>
    <ng-template #type>
      <small>{{ model.orderApprovalPermissionType.name }}</small>
    </ng-template>
  </ng-template>

  <ng-template cxOutletRef="table.userAssignPermissions.data.limit" let-model>
    <span *ngIf="model.threshold; else type"
      >{{ model.threshold }} {{ model.currency?.symbol }}
      {{ 'user.permission.per.' + model.periodRange | cxTranslate }}
    </span>
    <ng-template #type>
      <span>{{ model.orderApprovalPermissionType.name }}</span>
    </ng-template>
  </ng-template>

  <ng-template cxOutletRef="table.userAssignPermissions.data.link" let-model>
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'permissionDetails',
          params: model
        } | cxUrl
      "
    >
      <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
    </a>
  </ng-template>

  <ng-template cxOutletRef="table.userAssignPermissions.data.name" let-model>
    <div>
      <label>
        <input
          type="checkbox"
          [checked]="model.selected"
          (change)="toggleAssign(userCode, model.code, $event.target.checked)"
        />
      </label>
      <a
        [routerLink]="
          {
            cxRoute: 'permissionDetails',
            params: model
          } | cxUrl
        "
        >{{ model.code }}
        <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
      </a>
    </div>
  </ng-template>

  <ng-template cxOutletRef="table.userAssignPermissions.data.orgUnit" let-model>
    <a [routerLink]="{ cxRoute: 'unitDetails', params: model.orgUnit } | cxUrl">
      {{ model.orgUnit?.name }}
      <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
    </a>
  </ng-template>
</cx-view>
