<cx-fake-tabs
  *ngIf="address$ | async as address"
  [code]="address.orgUnitId"
  [links]="[
    {
      cxRoute: 'orgUnitDetails',
      name: 'orgUnit.details',
      params: { uid: address.orgUnitId }
    },
    { cxRoute: 'orgUnitUsers', name: 'orgUnit.users' },
    { cxRoute: 'orgUnitApprovers', name: 'orgUnit.approvers' },
    {
      cxRoute: 'orgUnitManageAddresses',
      name: 'orgUnit.manageAddresses',
      active: true
    },
    { cxRoute: 'orgUnitChildren', name: 'orgUnit.children' },
    { cxRoute: 'orgUnitCostCenters', name: 'orgUnit.costCenters' }
  ]"
  [routerBackLink]="{ cxRoute: 'orgUnits', name: 'orgUnit.back' }"
>
  <div class="cx-header">
    <h3>{{ 'unitAddressEdit.header' | cxTranslate }}</h3>
  </div>
  <cx-unit-address-form
    [actionBtnLabel]="'unitAddressEdit.update' | cxTranslate"
    [addressData]="address"
    [routerBackLink]="{
      cxRoute: 'orgUnitAddressDetails',
      params: { id: address.id, code: address.orgUnitId }
    }"
    (submitForm)="updateAddress($event)"
  >
  </cx-unit-address-form>
</cx-fake-tabs>
