<div class="form-group" [formGroup]="form">
  <ng-container *ngIf="businessUnits$ | async as businessUnits">
    <div *ngIf="businessUnits.length !== 0">
      <label aria-required="true">
        <span class="label-content required">{{
          'costCenterForm.businessUnits.label' | cxTranslate
        }}</span>
        <ng-select
          formControlName="uid"
          [searchable]="false"
          [clearable]="false"
          [items]="businessUnits"
          bindLabel="name"
          bindValue="id"
          [readonly]="readonlyParent"
        >
        </ng-select>
        <cx-form-errors [control]="form.get('uid')"></cx-form-errors>
      </label>
    </div>
  </ng-container>
</div>
