<table class="table">
  <thead>
  <tr>
    <th>
      {{ 'documentFlow.dialog.deliveryItemId' | cxTranslate }}
    </th>
    <th class="d-none d-sm-table-cell">
      {{ 'documentFlow.dialog.orderItemId' | cxTranslate }}
    </th>
    <th class="d-none d-sm-table-cell text-center">
      {{ 'documentFlow.dialog.date' | cxTranslate }}
    </th>
    <th class="d-none d-sm-table-cell text-center">
      {{ 'documentFlow.dialog.time' | cxTranslate }}
    </th>
    <th class="text-center">
      {{ 'documentFlow.dialog.status' | cxTranslate }}
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let entry of entries">
    <tr>
      <td class="cx-delivery-item-id">
        <div>
          {{ entry.sapOrderEntryNumber }}
        </div>
        <div class="d-block d-sm-none">
          <span class="cx-mobile-header">{{ 'documentFlow.dialog.orderItemId' | cxTranslate }}</span>
          <span class="cx-order-item-id">{{ entry.sapSubsequentDocumentEntryNumber }}</span>
        </div>
        <div class="d-block d-sm-none">
          <span class="cx-mobile-header">{{ 'documentFlow.dialog.date' | cxTranslate }}</span>
          <span class="cx-date">{{ entry.sapCreatedAt | cxDate: 'shortDate' }}</span>
        </div>
        <div class="d-block d-sm-none">
          <span class="cx-mobile-header">{{ 'documentFlow.dialog.time' | cxTranslate }}</span>
          <span class="cx-time">{{ entry.sapCreatedAt | cxDate: 'shortTime' }}</span>
        </div>
      </td>
      <td class="cx-order-item-id d-none d-sm-table-cell">{{ entry.sapSubsequentDocumentEntryNumber }}</td>
      <td class="d-none d-sm-table-cell text-center">{{ entry.sapCreatedAt | cxDate: 'shortDate' }}</td>
      <td class="d-none d-sm-table-cell text-center">{{ entry.sapCreatedAt | cxDate: 'shortTime' }}</td>
      <td class="text-center">{{ 'documentFlow.dialog.status_' + entry.sapStatus | cxTranslate }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
