<ng-container *ngIf="state$ | async as state">
  <button class="heading" (click)="toggleGroup($event)">
    {{ facet.name }}
    <cx-icon [type]="state.expanded ? collapseIcon : expandIcon"></cx-icon>
  </button>

  <a
    *ngFor="let value of facet.values | slice: 0:state.topVisible"
    routerLink="./"
    [queryParams]="getLinkParams(value)"
    class="value"
    [class.selected]="value.selected"
    [cxFocus]="value.name"
  >
    <span>
      <span class="label">{{ value.name }}</span>
      <span class="count">{{ value.count }}</span>
    </span>
  </a>

  <div class="more">
    <a
      *ngFor="
        let value of facet.values | slice: state.topVisible:state.maxVisible
      "
      routerLink="./"
      [queryParams]="getLinkParams(value)"
      class="value"
      [class.selected]="value.selected"
      [cxFocus]="value.name"
    >
      <span
        >{{ value.name }}<span class="count">{{ value.count }}</span></span
      >
    </a>

    <button
      *ngIf="state.maxVisible > state.topVisible"
      (click)="decreaseCount()"
      cxFocus="moreorless"
    >
      {{ 'productList.showLess' | cxTranslate }}
    </button>

    <button
      *ngIf="state.maxVisible > 0 && state.maxVisible < facet.values.length"
      (click)="increaseCount()"
    >
      {{ 'productList.showMore' | cxTranslate }}
    </button>
  </div>
</ng-container>
