@if (items && items.length > 0) {
  <ng-container
    cxHorizontalScrollingPosition
    #cxHorizontalScrollingPosition="cxHorizontalScrollingPosition"
    [scrollingArea]="scrollingArea"
    [scrollingAreaStart]="scrollingAreaStart"
    [scrollingAreaEnd]="scrollingAreaEnd"
  >
    @if (title) {
      <h2>{{ title }}</h2>
    }

    <div class="carousel-panel">
      <button
        tabindex="-1"
        class="previous"
        (click)="
          $event.stopPropagation();
          cxHorizontalScrollingPosition.scrollBackward()
        "
        [attr.aria-disabled]="
          cxHorizontalScrollingPosition.isScrollStart$ | async
        "
        [attr.aria-label]="'carousel.scrollBackward' | cxTranslate"
        [attr.title]="'carousel.scrollBackward' | cxTranslate"
        [class.scroll-possible]="
          cxHorizontalScrollingPosition.isScrollNeeded$ | async
        "
      >
        <cx-icon [type]="previousIcon"></cx-icon>
      </button>
      <div class="carousel-items" #scrollingArea>
        <span #scrollingAreaStart class="carousel-items-start"></span>

        @for (item of items; track trackByFn(i, item); let i = $index) {
          @if (item | async; as data) {
            <div
              class="item"
              (keydown)="onItemKeydown($event)"
              (focusin)="onItemFocusIn($event)"
            >
              <ng-container
                *ngTemplateOutlet="
                  template;
                  context: { item: data, itemIndex: i }
                "
              ></ng-container>
            </div>
          }
        }

        <span #scrollingAreaEnd class="carousel-items-end"></span>
      </div>
      <button
        tabindex="-1"
        class="next"
        (click)="
          $event.stopPropagation();
          cxHorizontalScrollingPosition.scrollForward()
        "
        [attr.aria-disabled]="
          cxHorizontalScrollingPosition.isScrollEnd$ | async
        "
        [attr.aria-label]="'carousel.scrollForward' | cxTranslate"
        [attr.title]="'carousel.scrollForward' | cxTranslate"
        [class.scroll-possible]="
          cxHorizontalScrollingPosition.isScrollNeeded$ | async
        "
      >
        <cx-icon [type]="nextIcon"></cx-icon>
      </button>
    </div>
  </ng-container>
}
