<ng-container
  *ngIf="items && items.length > 0"
  cxHorizontalScrollingPosition
  #cxHorizontalScrollingPosition="cxHorizontalScrollingPosition"
  [scrollingArea]="scrollingArea"
  [scrollingAreaStart]="scrollingAreaStart"
  [scrollingAreaEnd]="scrollingAreaEnd"
>
  <h2 *ngIf="title">{{ title }}</h2>

  <div class="carousel-panel" role="list">
    <button
      tabindex="-1"
      class="previous"
      (click)="cxHorizontalScrollingPosition.scrollBackward()"
      [attr.aria-disabled]="
        cxHorizontalScrollingPosition.isScrollStart$ | async
      "
      [attr.aria-label]="'carousel.scrollBackward' | cxTranslate"
      [attr.title]="'carousel.scrollBackward' | cxTranslate"
    >
      <cx-icon [type]="backwardIcon"></cx-icon>
    </button>
    <div class="carousel-items" #scrollingArea>
      <div #scrollingAreaStart class="carousel-items-start"></div>

      <ng-container
        *ngFor="let item of items; let i = index; trackBy: trackByFn"
      >
        <div
          *ngIf="item | async as data"
          class="item"
          role="listitem"
          (keydown)="onItemKeydown($event)"
          (focus)="onItemFocus($event)"
        >
          <ng-container
            *ngTemplateOutlet="template; context: { item: data, itemIndex: i }"
          ></ng-container>
        </div>
      </ng-container>

      <div #scrollingAreaEnd class="carousel-items-end"></div>
    </div>
    <button
      tabindex="-1"
      class="next"
      (click)="cxHorizontalScrollingPosition.scrollForward()"
      [attr.aria-disabled]="cxHorizontalScrollingPosition.isScrollEnd$ | async"
      [attr.aria-label]="'carousel.scrollForward' | cxTranslate"
      [attr.title]="'carousel.scrollForward' | cxTranslate"
    >
      <cx-icon [type]="forwardIcon"></cx-icon>
    </button>
  </div>
</ng-container>
