<ng-container *ngIf="items && items.length > 0">
  <h2 *ngIf="title">{{ title }}</h2>

  <div class="carousel-panel" role="list">
    <button
      tabindex="-1"
      class="previous"
      (click)="scrollBackward()"
      [attr.aria-disabled]="isScrollStart$ | async"
      [attr.aria-label]="'carousel.scrollBackward' | cxTranslate"
      [attr.title]="'carousel.scrollBackward' | cxTranslate"
    >
      <cx-icon [type]="backwardIcon"></cx-icon>
    </button>
    <div class="carousel-items" #carousel>
      <div #startSentinel class="carousel-start-sentinel"></div>

      <ng-container
        *ngFor="let item of items; let i = index; trackBy: trackByFn"
      >
        <div
          *ngIf="item | async as data"
          class="item"
          role="listitem"
          (keydown)="onItemKeydown($event)"
          (focus)="onItemFocus($event)"
        >
          <ng-container
            *ngTemplateOutlet="template; context: { item: data }"
          ></ng-container>
        </div>
      </ng-container>

      <div #endSentinel class="carousel-end-sentinel"></div>
    </div>
    <button
      tabindex="-1"
      class="next"
      (click)="scrollForward()"
      [attr.aria-disabled]="isScrollEnd$ | async"
      [attr.aria-label]="'carousel.scrollForward' | cxTranslate"
      [attr.title]="'carousel.scrollForward' | cxTranslate"
    >
      <cx-icon [type]="forwardIcon"></cx-icon>
    </button>
  </div>
</ng-container>
