@import './budgets/_budget-create';
@import './budgets/_budget-edit';
@import './budgets/_budget-details';
@import './budgets/_budget-list';
@import './budgets/_budget-cost-centers';

@import './cost-centers/_cost-center-create';
@import './cost-centers/_cost-center-edit';
@import './cost-centers/_cost-center-details';
@import './cost-centers/_cost-center-list';
@import './cost-centers/_cost-center-budgets';
@import './cost-centers/_cost-center-assign-budgets';

@import './permissions/_permission-create';
@import './permissions/_permission-edit';
@import './permissions/_permission-details';
@import './permissions/_permission-list';

@import './user-groups/_user-group-create';
@import './user-groups/_user-group-edit';
@import './user-groups/_user-group-details';
@import './user-groups/_user-group-list';
@import './user-groups/_user-group-users';
@import './user-groups/_user-group-assign-users';
@import './user-groups/_user-group-permissions';
@import './user-groups/_user-group-assign-permissions';

@import './users/_user-create';
@import './users/_user-edit';
@import './users/_user-details';
@import './users/_user-list';
@import './users/_user-approvers';
@import './users/_user-assign-approvers';
@import './users/_user-permissions';
@import './users/_user-assign-permissions';
@import './users/_user-user-groups';
@import './users/_user-assign-user-groups';

@import './units/_unit-create';
@import './units/_unit-edit';
@import './units/_unit-details';
@import './units/_unit-list';
@import './units/_unit-addresses';
@import './units/_unit-address-create';
@import './units/_unit-address-edit';
@import './units/_unit-address-details';
@import './units/_unit-approvers';
@import './units/_unit-assign-approvers';
@import './units/_unit-users';
@import './units/_unit-assign-roles';
@import './units/_unit-children';
@import './units/_unit-cost-centers';
@import './units/_unit-tree-navigation-ui';

@import './order-approval/order-approval-detail-form';

@import './_organization-home';

@import './_fake-tabs';

$organization-components-whitelist: cx-budget-create cx-budget-edit
  cx-budget-details cx-budget-list cx-budget-cost-centers cx-cost-center-create
  cx-cost-center-edit cx-cost-center-details cx-cost-center-list
  cx-cost-center-budgets cx-cost-center-assign-budgets cx-permission-create
  cx-permission-edit cx-permission-details cx-permission-list
  cx-user-group-create cx-user-group-edit cx-user-group-details
  cx-user-group-list cx-user-group-users cx-user-group-assign-users
  cx-user-group-permissions cx-user-group-assign-permissions cx-user-create
  cx-user-edit cx-user-details cx-user-list cx-user-approvers
  cx-user-assign-approvers cx-user-permissions cx-user-assign-permissions
  cx-user-user-groups cx-user-assign-user-groups cx-unit-create cx-unit-edit
  cx-unit-details cx-unit-list cx-unit-addresses cx-unit-approvers
  cx-unit-assign-approvers cx-unit-roles cx-unit-assign-roles cx-unit-children
  cx-unit-cost-centers cx-unit-address-create cx-unit-address-edit
  cx-unit-address-details cx-fake-tabs cx-fake-tabs-desktop cx-fake-tabs-mobile
  cx-unit-tree-navigation-ui cx-order-approval-detail-form !default;
