%cx-organization-form {
  // text-align: center;
  // form {
  //   display: inline-block;
  //   text-align: left;
  //   width: var(--cx-max-width, 50%);
  //   @include media-breakpoint-down(md) {
  //     width: var(--cx-max-width, 75%);
  //   }
  // }
}
