.CompanyPageTemplate {
  cx-banner {
    @extend .col-md-12;
    @extend .col-lg-5;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    margin: 10px 15px 10px 15px;
    padding: 10px;

    cx-generic-link {
      a {
        position: relative;
        padding-left: 85px;
        p:nth-child(1) {
          text-shadow: none;
          color: black;
          padding: 5px;
          line-height: normal;
          text-align: left;
          position: relative;
          font-size: $font-size-base * 1.375;
        }

        cx-media {
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: -10px;
          max-height: 100px;
          max-width: 100px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 60px;
          }
        }

        p:nth-child(3) {
          text-shadow: none;
          color: black;
          padding: 5px;
          line-height: normal;
          position: relative;
          text-align: left;
          font-size: $small-font-size;
        }
      }
    }
  }
}
