<cx-split-view [hideMode]="false">
  <cx-view>
    <h3>
      {{ 'userGroup.header' | cxTranslate }}
      <a
        class="link"
        [routerLink]="{ cxRoute: 'userGroupCreate' } | cxUrl"
        routerLinkActive="disabled"
      >
        <cx-icon type="EXPAND"></cx-icon>
      </a>
    </h3>

    <ng-container *ngIf="dataTable$ | async as dataTable; else emptyList">
      <section>
        <cx-table
          [dataset]="dataTable"
          (sortEvent)="sort(dataTable.pagination, $event)"
        >
        </cx-table>
      </section>

      <cx-pagination
        *ngIf="dataTable.pagination"
        [pagination]="dataTable.pagination"
        (viewPageEvent)="viewPage(dataTable.pagination, $event)"
      ></cx-pagination>
    </ng-container>

    <ng-template #emptyList>
      <p class="instruction is-empty">
        {{ 'organization.messages.emptyList' | cxTranslate }}
      </p>
    </ng-template>
  </cx-view>

  <router-outlet></router-outlet>
</cx-split-view>

<ng-template cxOutletRef="table.userGroup.data.name" let-model>
  <div routerLinkActive="active">
    <a [routerLink]="{ cxRoute: 'userGroupDetails', params: model } | cxUrl">
      <span class="text">{{ model.name }}</span>
      <cx-icon type="CARET_RIGHT"></cx-icon>
    </a>
  </div>
</ng-template>

<ng-template cxOutletRef="table.userGroup.data.orgUnit" let-model>
  <a
    [routerLink]="{ cxRoute: 'orgUnitDetails', params: model.orgUnit } | cxUrl"
  >
    {{ model.orgUnit?.name }}
    <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
  </a>
</ng-template>
