@if (component.data$ | async; as data) {
  <div>
    @if (jsLoaded$ | async) {
      <div>
        @if (language$ | async; as lang) {
          <div>
            @if (displayInEmbedMode(data)) {
              <div [attr.id]="data.containerID">
                {{ displayScreenSet(data, lang) }}
              </div>
            } @else {
              <a
                class="popup-link"
                [attr.data-cdc-id]="data.uid"
                [attr.data-profile-edit]="data.profileEdit"
                (click)="showScreenSet(data, lang)"
                >{{ data.linkText }}</a
              >
            }
          </div>
        }
      </div>
    }
    @if (jsError$ | async) {
      <div class="js-error">
        {{ 'errorHandlers.scriptFailedToLoad' | cxTranslate }}
        {{ 'errorHandlers.refreshThePage' | cxTranslate }}
      </div>
    }
  </div>
}
