@import '../../product/carousel/product-carousel';

%cx-merchandising-carousel {
  @extend %cx-product-carousel;
  background-color: var(
    --cx-merchandising-carousel-background-color,
    var(--cx-color-inverse)
  );
  color: var(--cx-merchandising-carousel-color-text, var(--cx-color-text));
  a {
    color: inherit;
  }
}
