<div
  class="form-check"
  [class.disabled-consent]="disabled || isRequired(consentTemplate?.id)"
>
  <label>
    <input
      #checkboxInput
      type="checkbox"
      class="form-check-input"
      (change)="onConsentChange()"
      [checked]="consentGiven"
      [name]="consentTemplate.id"
      [disabled]="disabled || isRequired(consentTemplate?.id)"
    />
    <span class="form-check-label cx-be-bold">
      <ng-container *ngIf="consentTemplate?.name">
        {{ consentTemplate?.name }}
        <br />
      </ng-container>
    </span>
  </label>
  <span class="form-check-label">
    {{ consentTemplate?.description }}
    <ng-template [ngTemplateOutlet]="requiredAsterisk" />
  </span>
</div>

<ng-template #requiredAsterisk>
  <ng-container *ngIf="showMandatory">
    <abbr
      aria-hidden="true"
      class="text-decoration-none required-asterisk"
      title="{{ 'common.required' | cxTranslate }}"
      >*</abbr
    >
  </ng-container>
</ng-template>
