
<li class="item__list--item">
    <!-- product image -->
    <div class="item__image">
        <a [routerLink]="['/product', entry.product.code]">
            <img [src]="entry.product.images.PRIMARY?.thumbnail?.url"/>
        </a>
    </div>

    <!-- product name, code, promotions -->
    <div class="item__info">
        <a [routerLink]="['/product', entry.product.code]"><span class="item__name">{{entry.product.name}}</span></a>
        <div class="item__code">ID: {{entry.product.code}}</div>

        <!-- availability-->
        <div class="item__stock">
             {{ entry.product.stock?.stockLevelStatus | uppercase }}
        </div>
    </div>
</li>
    <!--
                <c:if test="${ycommerce:doesPotentialPromotionExistForOrderEntryOrOrderEntryGroup(cartData, entry)}">
                    <c:forEach items="${cartData.potentialProductPromotions}" var="promotion">
                        <c:set var="displayed" value="false"/>
                        <c:forEach items="${promotion.consumedEntries}" var="consumedEntry">
                            <c:if test="${not displayed && ycommerce:isConsumedByEntry(consumedEntry,entry) && not empty promotion.description}">
                                <c:set var="displayed" value="true"/>

                                    <div class="promo">
                                         <ycommerce:testId code="cart_potentialPromotion_label">
                                             ${ycommerce:sanitizeHTML(promotion.description)}
                                         </ycommerce:testId>
                                    </div>
                            </c:if>
                        </c:forEach>
                    </c:forEach>
                </c:if>
                <c:if test="${ycommerce:doesAppliedPromotionExistForOrderEntryOrOrderEntryGroup(cartData, entry)}">
                    <c:forEach items="${cartData.appliedProductPromotions}" var="promotion">
                        <c:set var="displayed" value="false"/>
                        <c:forEach items="${promotion.consumedEntries}" var="consumedEntry">
                            <c:if test="${not displayed && ycommerce:isConsumedByEntry(consumedEntry,entry) }">
                                <c:set var="displayed" value="true"/>
                                <div class="promo">
                                    <ycommerce:testId code="cart_appliedPromotion_label">
                                        ${ycommerce:sanitizeHTML(promotion.description)}
                                    </ycommerce:testId>
                                </div>
                            </c:if>
                        </c:forEach>
                    </c:forEach>
                </c:if>

            </div>

            <a (click)="removeEntry(entry, $event)">Remove</a>
                                
            -->