.item__list--item {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
.item__list--item {
  display: table;
  table-layout: fixed;
  width: 70%;
}
.item__list--item .item__sku__input,
.item__list--item .item__toggle,
.item__list--item .item__image,
.item__list--item .item__info,
.item__list--item .item__price,
.item__list--item .item__quantity,
.item__list--item .item__delivery,
.item__list--item .item__total,
.item__list--item .item__remove,
.item__list--item .item__menu,
.item__list--item .item__quantity__total {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}
.item__info {
  width: 35%;
  padding: 0 10px;
}
.item__delivery {
  padding-left: 3%;
}
