<div id="{{ uiKeyGenerator.createAttributeIdForConfigurator(attribute) }}">
  <div class="form-check">
    <div class="cx-config-select-line">
      <input
        id="{{
          uiKeyGenerator.createAttributeValueIdForConfigurator(
            attribute,
            attribute.values[0].valueCode
          )
        }}"
        type="checkbox"
        class="form-check-input"
        [value]="attribute.values[0].valueCode"
        (change)="onSelect()"
        [formControl]="attributeCheckBoxForm"
        name="{{ uiKeyGenerator.createAttributeIdForConfigurator(attribute) }}"
      />
    </div>
    <div class="cx-config-attribute-value-label-container">
      <label
        id="{{
          uiKeyGenerator.createValueUiKey(
            'label',
            attribute.name,
            attribute.values[0].valueCode
          )
        }}"
        for="{{
          uiKeyGenerator.createAttributeValueIdForConfigurator(
            attribute,
            attribute.values[0].valueCode
          )
        }}"
        class="cx-config-attribute-value-label form-check-label"
        >{{ attribute.values[0].valueDisplay }}</label
      >
    </div>
  </div>
</div>
