@import '../../theme';

.cx-config-attribute-header-required-message {
  clear: left;
  color: var(--cx-color-danger);
}

.cx-config-attribute-header {
  margin-right: 17px;
  margin-left: 17px;
}
.cx-config-attribute-label {
  padding-top: 10px;
  padding-right: 6px;
  font-size: $font-size-base;
  font-weight: bold;
  display: block;
  clear: left;

  max-width: 66%;

  &.cpqProductConfig-attributeLabel-error {
    color: var(--cx-color-danger);
    font-weight: bold;
  }
}

.cx-config-group-attribute {
  padding: 6px 10px;
}
.cx-config-attribute-value {
  margin-left: 17px;
  padding: 10px 34px 10px 0;
  clear: both;
  display: block;
}

.cpqProductConfig-attributeValue-multi {
  display: inline-block;
}
.cx-config-selectLine {
  display: flex;
}
