<ng-container *ngIf="orderApprovals$ | async as orderApprovals">
  <!-- BODY -->
  <div class="cx-order-history-body">
    <ng-container
      *ngIf="orderApprovals.pagination.totalResults > 0; else noOrder"
    >
      <!-- Select Form and Pagination Top -->
      <div class="cx-order-history-sort top row">
        <div
          class="cx-order-history-form-group form-group col-sm-12 col-md-4 col-lg-4"
        >
          <cx-sorting
            [sortOptions]="orderApprovals.sorts"
            [sortLabels]="getSortLabels() | async"
            (sortListEvent)="changeSortCode($event)"
            [selectedOption]="orderApprovals.pagination.sort"
            placeholder="{{ 'orderHistory.sortByMostRecent' | cxTranslate }}"
          ></cx-sorting>
        </div>
        <div class="cx-order-history-pagination">
          <cx-pagination
            [pagination]="orderApprovals.pagination"
            (viewPageEvent)="pageChange($event)"
          ></cx-pagination>
        </div>
      </div>
      <!-- TABLE -->
      <table class="table cx-order-history-table">
        <thead class="cx-order-history-thead-mobile">
          <th scope="col">
            {{ 'orderHistory.orderId' | cxTranslate }}
          </th>
          <th scope="col">PO</th>
          <th scope="col">Placed By</th>
          <th scope="col">{{ 'orderHistory.date' | cxTranslate }}</th>
          <th scope="col">
            {{ 'orderHistory.status' | cxTranslate }}
          </th>
          <th scope="col">{{ 'orderHistory.total' | cxTranslate }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let approval of orderApprovals.values">
            <td class="cx-order-history-code">
              <div class="d-md-none cx-order-history-label">
                {{ 'orderHistory.orderId' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderApprovalDetails',
                    params: { approvalCode: approval?.code }
                  } | cxUrl
                "
                class="cx-order-history-value"
              >
                {{ approval.order?.code }}</a
              >
            </td>
            <td class="cx-order-history-placed">
              <div class="d-md-none cx-order-history-label">
                {{ 'orderHistory.date' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderDetails',
                    params: approval.order
                  } | cxUrl
                "
                class="cx-order-history-value"
                >{{ approval.order?.purchaseOrderNumber || 'None' }}</a
              >
            </td>
            <td class="cx-order-history-placed">
              <div class="d-md-none cx-order-history-label">
                {{ 'orderHistory.date' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderDetails',
                    params: approval.order
                  } | cxUrl
                "
                class="cx-order-history-value"
                >{{ approval.order?.orgCustomer?.name }}</a
              >
            </td>
            <td class="cx-order-history-placed">
              <div class="d-md-none cx-order-history-label">
                {{ 'orderHistory.date' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderDetails',
                    params: approval.order
                  } | cxUrl
                "
                class="cx-order-history-value"
                >{{ approval.order?.created | cxDate: 'longDate' }}</a
              >
            </td>

            <td class="cx-order-history-status">
              <div class="d-md-none cx-order-history-label">
                {{ 'orderHistory.status' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderDetails',
                    params: approval.order
                  } | cxUrl
                "
                class="cx-order-history-value"
              >
                {{
                  'orderDetails.statusDisplay_' + approval.order?.statusDisplay
                    | cxTranslate
                }}</a
              >
            </td>
            <td class="cx-order-history-total">
              <div class="d-md-none cx-order-history-label">
                {{ 'orderHistory.total' | cxTranslate }}
              </div>
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderDetails',
                    params: approval.order
                  } | cxUrl
                "
                class="cx-order-history-value"
              >
                {{ approval.order?.totalPrice?.formattedValue }}</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Select Form and Pagination Bottom -->
      <div class="cx-order-history-sort bottom row">
        <div
          class="cx-order-history-form-group form-group col-sm-12 col-md-4 col-lg-4"
        >
          <cx-sorting
            [sortOptions]="orderApprovals.sorts"
            [sortLabels]="getSortLabels() | async"
            (sortListEvent)="changeSortCode($event)"
            [selectedOption]="orderApprovals.pagination.sort"
            placeholder="{{ 'orderHistory.sortByMostRecent' | cxTranslate }}"
          ></cx-sorting>
        </div>
        <div class="cx-order-history-pagination">
          <cx-pagination
            [pagination]="orderApprovals.pagination"
            (viewPageEvent)="pageChange($event)"
          ></cx-pagination>
        </div>
      </div>
    </ng-container>

    <!-- NO ORDER CONTAINER -->
    <ng-template #noOrder>
      <div class="cx-order-history-no-order row" *ngIf="isLoaded$ | async">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div>NO APPROVALS!</div>
        </div>
      </div>
    </ng-template>
  </div>
</ng-container>
