<form (ngSubmit)="submit()" [formGroup]="form">
  <label>
    <span class="label-content">Condition</span>
    <ng-select
      [inputAttrs]="{ required: 'true' }"
      formControlName="condition"
      [searchable]="false"
      [clearable]="false"
      [items]="conditions"
      bindLabel="name"
      bindValue="code"
      placeholder="Condition"
    >
    </ng-select>
  </label>

  <label>
    <span class="label-content"
      >Price (Original: {{ product.price?.formattedValue }})</span
    >
    <input
      required="true"
      class="form-control"
      placeholder="Price"
      formControlName="price"
      type="number"
    />
  </label>

  <label>
    <span class="label-content">Postage/Delivery options</span>
    <ng-select
      [inputAttrs]="{ required: 'true' }"
      formControlName="postageOrDeliveryOption"
      [searchable]="false"
      [clearable]="false"
      [items]="postageOrDeliveryOption"
      bindLabel="name"
      bindValue="code"
      placeholder="Optionally Select..."
    >
    </ng-select>
  </label>

  <label>
    <span class="label-content">Title</span>
    <input
      required="true"
      class="form-control"
      placeholder="Title"
      formControlName="title"
    />
  </label>

  <label>
    <span class="label-content">Description</span>
    <textarea
      required="false"
      class="form-control"
      formControlName="description"
      rows="5"
    ></textarea>
  </label>

  <div class="calls-to-action">
    <!-- <button [attr.aria-label]="" class="btn btn-secondary" type="button">
      View Summary
    </button> -->
    <button [attr.aria-label]="" class="btn btn-primary" type="submit">
      Submit
    </button>
  </div>
</form>
