@import 'node_modules/bootstrap/scss/buttons';

.organization {
  a.link,
  button.link {
    @extend .btn, .btn-link, .btn-sm;
    @include alt-visible-focus();
    color: var(--cx-color-primary);

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.disabled {
      color: var(--cx-color-text);
      cursor: not-allowed;
    }
  }

  button.button,
  a.button {
    @extend .btn, .btn-sm;

    &.secondary {
      @extend .btn-secondary;
    }

    padding: var(--cx-spatial-base);
    font-size: 1rem;
    line-height: 1.5rem;

    &.active {
      color: var(--cx-color-primary);
    }

    &.icon {
      padding: 0;
    }
  }

  a.link,
  button.link {
    &:hover {
      color: var(--cx-color-primary);
    }
  }
  a.button.primary,
  a.button.disabled.primary {
    @extend .btn-primary;
    color: var(--cx-color-primary);
  }
  button.button.primary,
  button.button.disabled.primary,
  button.button:active:not(:disabled):not(.disabled) {
    @extend .btn-primary;
    background-color: var(--cx-color-primary);
    border-color: var(--cx-color-primary);
    &:hover {
      background-color: var(--cx-color-primary);
      border-color: var(--cx-color-primary);
    }
  }

  .form-buttons {
    display: flex;
    padding: var(--cx-spatial-base);
    place-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    button,
    a {
      flex: 1;
      margin: var(--cx-spatial-base);
    }
  }
}
