cx-cost-center-list, cx-user-group-list {
  > cx-split-view > cx-view > section > cx-table > table {
    th,
    td {
      width: 100%;
    }
    td {
      &.name,
      &.unit {
        padding: 0;

        .disabled {
          display: flex;
          font-size: 0.75rem;
          align-items: center;
          margin-left: -0.6rem;
        }
      }
    }
  }

  > cx-split-view[last-visible-view='2']
    > cx-view
    > section
    > cx-table
    > table {
    th:nth-child(n + 2),
    td:nth-child(n + 2) {
      opacity: 0;
      width: 0.1%;
    }
  }
}
