.organization {
  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // ensure that all headers are aligned, as otherwise the UI is mixed up
    // in case we have a split view with the headers next to each other.
    min-height: 5rem;

    margin: 0;
    padding: 0;

    @include media-breakpoint-down(md) {
      padding: var(--cx-spatial-md);

      > a.link {
        margin-inline-end: calc(var(--cx-spatial-md) * -1);
      }
    }

    // Buttons with a background are aligned as their background matches the alignment,
    // however buttons and links without need to move visually to the start
    > *:first-child {
      &.link,
      &.button:not(.primary),
      &.button:not(.secondary) {
        padding-inline-start: 0;
      }
    }
  }

  &.edit, &.create, &.assign-budget {
    cx-split-view {
     --cx-max-views: 1;
    }
  }

  cx-split-view {
    &:not([last-visible-view='1']) {
      th:nth-child(n + 2),
      td:nth-child(n + 2) {
        opacity: 0;
        width: 0.1%;
      }
    }
  }

  table {
    th,
    td {
      width: 100%;
    }
    td {
      &.name,
      &.unit {
        padding: 0;
        a {
          justify-content: flex-start;
          padding: var(--cx-spatial-md);

          .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          cx-icon {
            &.active-state {
              margin-inline-end: var(--cx-spatial-md);
              color: var(--cx-color-success);
            }
            &.inactive {
              opacity: 0.25;
            }

            &.open {
              margin-left: auto;
              // hide open arrow on > mobile
              @include media-breakpoint-up(md) {
                display: none;
              }
            }

            &.open-out {
              margin-left: auto;
            }
          }

          &:hover {
            text-decoration: none;
            &:not(.active) {
              .text {
                text-decoration: underline;
              }
            }
          }
          &.active {
            color: var(--cx-color-text);
          }
        }
      }
    }
  }

  cx-cost-center-assign-budget {
    table {
      td {
        &.name {
          label {
            padding: var(--cx-spatial-md);
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
    }
  }

  cx-pagination {
    display: inline-flex;
    box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0, 0, 0, 0.05);

    @include media-breakpoint-down(md) {
      margin: 0 var(--cx-spatial-md);
    }

    a {
      border: none;
      border-radius: 0;
      &:not(.current) {
        background-color: var(--cx-color-inverse);
      }
      &.disabled {
        color: var(--cx-color-light);
      }
    }
  }
}
