:root {
  --case: capitalize;
  --case: uppercase;
}

.CompanyPageTemplate {
  // cx-breadcrumb {
  //   border-bottom: 1px solid var(--cx-color-light);
  //   background: var(--cx-color-inverse);
  // }
  // main {
  //   background-color: var(--cx-color-background);
  // }
  cx-page-layout.CompanyPageTemplate {
    max-width: 1140px;
    padding-bottom: max(calc((100vw - 1140px) / 2), var(--cx-spatial-md));
    margin: auto;

    @include media-breakpoint-down(sm) {
      cx-page-slot {
        margin: 0;
      }
    }
  }
}

.organization {
  // required for our ng-select components
  position: relative;
}

/**
 * Ensure that all components will varnish in the flex flow.
 */
cx-budget-details,
cx-budget-form,
cx-budget-cost-center-list,
cx-cost-center-details,
cx-cost-center-create,
cx-cost-center-edit,
cx-cost-center-budget-list,
cx-cost-center-assign-budgets,
cx-unit-create,
cx-unit-details,
cx-unit-edit,
cx-unit-user-list,
cx-unit-user-assign-roles,
cx-unit-children,
cx-unit-approver-list,
cx-unit-assign-approvers,
cx-unit-address-list,
cx-unit-address-details,
cx-unit-address-create,
cx-unit-address-edit,
cx-unit-cost-centers,
cx-user-group-details,
cx-user-group-create,
cx-user-group-edit,
cx-user-group-user-list,
cx-user-group-assign-user,
cx-user-group-permission-list,
cx-user-group-assign-permission,
cx-user-details,
cx-user-create,
cx-user-edit,
cx-user-change-password,
cx-user-approver-list,
cx-user-assign-approvers,
cx-user-user-group-list,
cx-user-assign-user-groups,
cx-user-permission-list,
cx-user-assign-permissions,
cx-permission-create,
cx-permission-edit,
cx-permission-details {
  display: contents;
}
