cx-unit-user-assign-roles {
  section {
    cx-table {
      > table {
        th {
          &:not(.sortable) {
            text-align: center;
          }
        }

        input[type='checkbox'] {
          margin: 0 auto;
          position: initial;
        }

        td {
          &.summary {
            > .roles {
              display: flex;
              align-content: center;
              flex-flow: row wrap;
              margin-top: 0.5rem;

              label {
                flex-grow: 1;
                margin-right: 0.5rem;

                span {
                  padding-left: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
