cx-cost-center-list {
  > cx-split-view > cx-view > section > cx-table > table {
    th,
    td {
      width: 100%;
    }
    td {
      &.name,
      &.unit {
        padding: 0;

        .disabled {
          display: flex;
          font-size: 0.75rem;
          align-items: center;
          margin-left: -0.6rem;
        }
      }

      .active {
        background: var(--cx-color-light);
        color: var(--cx-color-text);
      }
    }
  }

  cx-cost-center-budget-list > cx-view > section > cx-table > table {
    td {
      &.summary {
        display: flex;
        place-content: space-between;
        padding: 16px;

        > div:first-child {
          line-height: 1.1rem;

          h3 {
            font-size: 1.1rem;
            min-height: auto;
            @include media-breakpoint-down(md) {
              padding: 0;
            }
          }

          small {
            font-size: 0.75rem;
          }
        }

        > div:last-child {
          display: flex;
          align-items: center;

          a {
            display: flex;
            padding: 0;
            font-size: 1rem;
          }
        }

        a {
          cx-icon {
            &.open-out {
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  cx-cost-center-assign-budget > cx-view > section > cx-table > table {
    td {
      &.name {
        label {
          padding: var(--cx-spatial-md);
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }
}

cx-cost-center-form {
  + div {
    display: flex;
    padding: var(--cx-spatial-base);
    place-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    button {
      flex: 1;
      margin: var(--cx-spatial-base);
    }
  }
}
