# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - a small number of file groups may have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.


# ================================================
# All the files in the repo.
# ================================================

* @SAP/spartacus-codeowners


# ================================================
#  This code owner file
# ================================================
/.github/CODEOWNERS          @SAP/spartacus-admins

# ================================================
#  Folders where anyone with write access to the repo can approve Pull Requests
# ================================================

/docs/          @SAP/spartacus-project-team

/projects/storefrontapp-e2e-cypress/          @SAP/spartacus-project-team


# @SAP/spartacus-codeowners needs to be repeated in each subsequent rules
# to remain owner of all the sources in the repo.

# ================================================
#  ASM Feature
# ================================================
/feature-libs/asm/          @SAP/spartacus-codeowners @SAP/spartacus-iceman

# ================================================
#  Product Configurator and CPQ integration Features
# ================================================
/feature-libs/product-configurator/          @SAP/spartacus-codeowners @SAP/spartacus-CPQ

# ================================================
#  Customer Ticketing Feature
# ================================================
/feature-libs/customer-ticketing/         @SAP/spartacus-codeowners @SAP/spartacus-alchemysts
