# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#

# This is ONLY INITIAL CODEOWNERS file created to test and gradually introduce ownership
# of specific features on a code level.


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.


# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  Platonn - Krzysztof Platis
#  znikola - Nikola Zarić
#  developpeurweb - Miguel Estrada
#  psmul - Patryk Smul
#  plabadie - Patrick Labadie
#  WeizhengSap - Weizheng Gao
#  hackergil - Gilberto Alvarado Jimenez

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################

# ================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================

# * @SAP/spartacus-codeowners

# ================================================
#  Core
# ================================================
/projects/core/**                                   @SAP/spartacus-codeowners
/projects/storefrontlib/**                          @SAP/spartacus-codeowners
/feature-libs/**                                    @SAP/spartacus-codeowners
/core-libs/**                                       @SAP/spartacus-codeowners
/ci-scripts/**                                      @SAP/spartacus-codeowners
/scripts/**                                         @SAP/spartacus-codeowners
/tools/**                                           @SAP/spartacus-codeowners
/*                                                  @SAP/spartacus-codeowners


# ================================================
#  Styles
# ================================================
/projects/storefrontstyles/**                       @SAP/spartacus-codeowners

# ================================================
#  Cart
# ================================================
/projects/storefrontlib/cms-components/cart/**      @SAP/spartacus-codeowners

# ================================================
#  Schematics
# ================================================
/projects/schematics/**                             @SAP/spartacus-codeowners

# ================================================
#  CODEOWNERS and workflows
# ================================================
/.github/**                                         @SAP/spartacus-codeowners

######################################################################################################

# ================================================
#  Product configurator feature and CPQ integration
# ================================================
/feature-libs/product-configurator/**               @SAP/spartacus-codeowners @SAP/spartacus-CPQ
