<h2 class="cx-checkout-title d-none d-lg-block d-xl-block">
  {{ 'checkoutB2B.methodOfPayment.paymentType' | cxTranslate }}
</h2>

<ng-container>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <label>
          <span class="label-content">{{
            'checkoutB2B.poNumber' | cxTranslate
          }}</span>
          <input
            #poNumber
            class="form-control"
            formControlName="poNumber"
            type="text"
            placeholder="{{ 'checkoutB2B.placeholder' | cxTranslate }}"
          />
        </label>
      </div>
    </div>
    <ng-container *ngIf="!(isUpdating$ | async); else loading">
      <span class="cx-payment-method-label">{{
        'opfCheckout.paymentMethod' | cxTranslate
      }}</span>
      <cx-opf-checkout-payments
        [isHeadingDisplayed]="false"
        [isPaymentRenderBelow]="false"
        [isPaymentInfoMessageEnabled]="false"
        [showBeforePaymentOptionsOutlet]="false"
        (paymentChange)="handlePaymentChange($event)"
        [forceDefaultPaymentOptionInputSelection]="true"
      ></cx-opf-checkout-payments>

      <div class="cx-checkout-btns row">
        <div class="col-md-12 col-lg-6">
          <button class="btn btn-block btn-secondary" (click)="back()">
            {{ 'checkout.backToCart' | cxTranslate }}
          </button>
        </div>
        <div class="col-md-12 col-lg-6">
          <button class="btn btn-block btn-primary" (click)="next()">
            {{ 'common.continue' | cxTranslate }}
          </button>
        </div>
      </div>
    </ng-container>
  </form>
</ng-container>
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
