/* IDEAS TO EXTEND
  - sizing (variants: small, medium, big)
  - theme (variants: primary, secondary)
*/

%cx-spinner {
  .loader-container {
    position: relative;
    margin: 30px auto;
    width: 10em;
    height: 10em;
  }
  .loader-container:after {
    margin: 0 auto;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .loader {
    font-size: 0.65em;
    position: fixed;
    text-indent: -9999em;
    border-width: 1.1em;
    border-style: solid;
    border-top-color: var(--cx-color-light);
    border-bottom-color: var(--cx-color-light);
    border-right-color: var(--cx-color-light);
    border-left-color: var(--cx-color-primary);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
