%cx-product-grid-item-calydon {
  .cx-product-name {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    max-width: 100%;
    height: 40px;
    display: block;
    display: -webkit-box;
  }
}
