<ng-container *ngIf="configuration$ | async as configuration">
  <ul>
    <ng-container *ngIf="displayedParentGroup$ | async as parentGroup">
      <li class="cx-menu-back" *ngIf="parentGroup !== null">
        <a
          class="cx-menu-back-link"
          role="link"
          tabindex="0"
          (click)="navigateUp()"
          (keyup)="navigateUpOnEnter($event)"
        >
          <cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon>
          {{ 'configurator.button.back' | cxTranslate }}</a
        >
      </li>
    </ng-container>
    <ng-container *ngIf="displayedGroups$ | async as groups">
      <ng-container *ngIf="currentGroup$ | async as currentGroup">
        <ng-container *ngFor="let group of groups">
          <li
            class="cx-menu-item {{
              getGroupStatus(group, configuration) | async
            }}"
            [class.cx-menu-conflict]="isConflictGroupType(group.groupType)"
            [class.WARNING]="isConflictGroupType(group.groupType)"
            [class.DISABLE]="
              isGroupDisabled(configuration.owner, group.id) | async
            "
          >
            <a
              class="cx-menu-item-link"
              [class.active]="currentGroup.id === group.id"
              [class.disable]="
                isGroupDisabled(configuration.owner, group.id) | async
              "
              role="link"
              tabindex="0"
              (click)="click(group)"
              (keyup)="clickOnEnter($event, group)"
              [cxFocus]="{ key: group.id }"
              >{{ group.description }}
              <div class="groupIndicators">
                <div class="conflictNumberIndicator">
                  {{ getConflictNumber(group) }}
                </div>
                <div class="groupStatusIndicator">
                  <ng-container
                    *ngIf="
                      isGroupDisabled(configuration.owner, group.id) | async
                    "
                  >
                    <cx-icon class="DISABLE" [type]="iconTypes.TRASH"></cx-icon>
                  </ng-container>
                  <cx-icon class="ERROR" [type]="iconTypes.ERROR"></cx-icon>
                  <cx-icon class="WARNING" [type]="iconTypes.WARNING"></cx-icon>
                  <cx-icon
                    class="COMPLETE"
                    [type]="iconTypes.SUCCESS"
                  ></cx-icon>
                </div>
                <div class="subGroupIndicator">
                  <cx-icon
                    *ngIf="hasSubGroups(group)"
                    [type]="iconTypes.CARET_RIGHT"
                  ></cx-icon>
                </div>
              </div>
            </a>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</ng-container>
