<ng-select
  [searchable]="false"
  [clearable]="false"
  placeholder="{{ placeholder }}"
  (change)="sortList($event)"
  [ngModel]="selectedOption"
  ariaLabelDropdown="{{ 'common.ngSelectDropdownOptionsList' | cxTranslate }}"
  [cxNgSelectA11y]="{
    ariaLabel: ariaLabel || ('productList.sortResults' | cxTranslate),
    ariaControls: ariaControls,
  }"
>
  @for (sort of sortOptions; track sort) {
    <ng-option [value]="sort.code">{{
      sort.name
        ? sort.name
        : sortLabels && sort.code
          ? sortLabels[sort.code]
          : ''
    }}</ng-option>
  }
</ng-select>
