<a
  *ngIf="{ quantity: quantity$ | async } as data"
  [attr.aria-label]="'miniCart.item' | cxTranslate: { count: data.quantity }"
  [title]="'miniCart.item' | cxTranslate: { count: data.quantity }"
  [routerLink]="{ cxRoute: 'cart' } | cxUrl"
>
  <cx-icon [type]="iconTypes.CART"></cx-icon>

  <span class="total">
    {{ 'miniCart.total' | cxTranslate: { total: total$ | async } }}
  </span>

  <span class="count">
    {{ 'miniCart.count' | cxTranslate: { count: quantity$ | async } }}
  </span>
</a>
