<div class="card">
  <div class="card-body cx-card-body">
    <div class="cx-coupon-data">
      <div class="cx-coupon-card-row top">
        <div class="cx-coupon-card-name">{{ coupon?.name }}</div>

        <div class="cx-coupon-card-status {{ coupon?.status | lowercase }}">
          {{ 'myCoupons.' + coupon?.status | cxTranslate }}
        </div>
      </div>

      <div class="cx-coupon-card-date">
        <p>{{ 'myCoupons.effectiveTitle' | cxTranslate }}</p>
        <div class="cx-coupon-date">
          {{ coupon?.startDate | cxDate: 'longDate' }} -
          {{ coupon?.endDate | cxDate: 'longDate' }}
        </div>
      </div>

      <a (click)="readMore()" class="card-link btn-link">{{
        'myCoupons.readMore' | cxTranslate
      }}</a>

      <div class="cx-coupon-card-row bottom">
        <div class="form-check">
          <label>
            <input
              type="checkbox"
              class="form-check-input"
              [checked]="coupon?.notificationOn"
              (change)="onNotificationChange()"
            />
            <span class="form-check-label">
              {{ 'myCoupons.notification' | cxTranslate }}
            </span>
          </label>
        </div>

        <div class="col-md-6">
          <button class="btn btn-block btn-action" (click)="findProduct()">
            {{ 'myCoupons.findProducts' | cxTranslate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
