<div
  #dialog
  class="cx-modal-container"
  [cxFocus]="focusConfig"
  (esc)="dismissModal('Escape clicked')"
>
  <div class="cx-modal-content">
    <!-- Modal Header -->

    <div class="cx-dialog-header modal-header">
      <div class="cx-dialog-title modal-title">
        {{
          'quote.confirmSubmitDialog.title'
            | cxTranslate: { code: quoteCode$ | async }
        }}
      </div>
      <button
        type="button"
        class="close"
        [attr.aria-label]="'common.close' | cxTranslate"
        (click)="dismissModal('Cross click')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="cx-dialog-row">
        <div class="cx-dialog-item">
          <div class="quote-name-description">
            <div class="quote-name">
              <div class="heading">
                {{ 'quote.confirmSubmitDialog.name.heading' | cxTranslate }}
              </div>
              <div class="content">
                {{
                  'quote.confirmSubmitDialog.name.content'
                    | cxTranslate: { code: quoteCode$ | async }
                }}
              </div>
            </div>
            <div class="quote-description">
              <div class="heading">
                {{
                  'quote.confirmSubmitDialog.description.heading' | cxTranslate
                }}
              </div>
              <div class="content"></div>
            </div>
          </div>

          <div class="notes">
            <p>
              {{ 'quote.confirmSubmitDialog.warningSubmitNote' | cxTranslate }}
            </p>
            <p>
              {{ 'quote.confirmSubmitDialog.confirmSubmitNote' | cxTranslate }}
            </p>
          </div>
          <div class="cx-dialog-buttons">
            <button class="btn btn-secondary" (click)="dismissModal('no')">
              {{
                'quote.confirmSubmitDialog.confirmSubmitOption.no' | cxTranslate
              }}
            </button>
            <button class="btn btn-primary" (click)="dismissModal('yes')">
              {{
                'quote.confirmSubmitDialog.confirmSubmitOption.yes'
                  | cxTranslate
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
