<div class="form-check">
  <label>
    <input
      type="checkbox"
      class="form-check-input"
      (change)="onConsentChange()"
      [checked]="consentGiven"
      [name]="consentTemplate.id"
      [disabled]="disabled || isRequired(consentTemplate?.id)"
    />
    <span class="form-check-label cx-be-bold">
      @if (consentTemplate?.name) {
        {{ consentTemplate?.name }}
        <br />
      }
    </span>
    <span class="form-check-label">
      {{ consentTemplate?.description }}
      <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
    </span>
  </label>
  <span class="form-check-label">
    {{ consentTemplate?.description }}
    <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
  </span>
</div>

<ng-template #requiredAsterisk>
  @if (showMandatory) {
    <abbr
      aria-hidden="true"
      class="text-decoration-none required-asterisk"
      title="{{ 'common.required' | cxTranslate }}"
      >*</abbr
    >
  }
</ng-template>
