%cx-order-details-actions-extended {
  .cx-order-details-actions-extended {
    justify-content: left;
    padding: 1rem 0 2rem;

    div:empty {
      display: none;
    }

    .btn-secondary {
      @include media-breakpoint-down(md) {
        margin: 0 0 1rem;
      }
    }
  }
}
.cx-list-status {
  display: flex;
  justify-content: space-between;
}
cx-download-invoices-dialog {
  .cx-modal-container {
    .cx-modal-content {
      .cx-dialog-title {
        @include type('3');
      }
    }
  }
}
