<picture *ngIf="media?.srcset && !isLegacy; else tmpImg">
  <source
    *ngFor="
      let source of media!.srcset! | cxMediaSources;
      trackBy: trackByMedia
    "
    [srcset]="source.srcset"
    [media]="source.media"
  />

  <ng-container [ngTemplateOutlet]="tmpImg"></ng-container>
</picture>

<ng-template #tmpImg>
  <img
    *ngIf="media && media.src"
    [alt]="media.alt"
    [src]="media.src"
    [srcset]="media.srcset || media.src"
    [attr.role]="media.role"
    [loading]="loading"
    (load)="loadHandler()"
    (error)="errorHandler()"
  />
</ng-template>
