@import '~@spartacus/styles/scss/cxbase/mixins';
@import '~@spartacus/styles/scss/cxbase/blocks/buttons';

.cx-organization-user-register-button {
  a {
    @extend .btn-block, .btn-secondary, .btn;
  }
}
.santorini .cx-organization-user-register-button {
  a {
    @extend .btn-block, .btn-secondary, .btn;
    font-size: var(--cx-font-size, 1rem);
    font-weight: var(--cx-font-weight-semi);
    line-height: var(--cx-line-height, 1.2222222222);
  }
}

cx-user-registration-form {
  form {
    width: 50%;
    margin: 0 auto;
    label,
    textarea,
    button {
      margin-bottom: 0.675rem;
    }
  }
}

@include media-breakpoint-down(md) {
  cx-user-registration-form {
    form {
      width: 100%;
    }
  }
}
