<div class="cx-find-a-store-container">
  <div class="cx-find-a-store-label">
    <label for="txtFindAStore">Find a Store</label>
  </div>
  <div class="cx-find-a-store-input">
    <input class="form-control" type="text" id="txtFindAStore" #txtFindAStore />
  </div>
  <div>
    <button (click)="onFindStores(txtFindAStore.value)">Find Stores</button>
  </div>
  <div>
    <span class="cx-find-a-store-pseudo-link" (click)="useMyLocation()">
      USE MY LOCATION
    </span>
    | <span class="cx-find-a-store-pseudo-link">VIEW ALL STORES</span>
  </div>
  <div class="cx-find-a-store-hide-out-of-stock">
    <div class="cx-find-a-store-checkbox-group form-check">
      <label class="form-check-label" for="chkHideOutOfStock"
        >Hide out of stock options
      </label>
      <input class="form-check-input" id="chkHideOutOfStock" type="checkbox" />
    </div>
  </div>
</div>
