<ng-container *ngIf="configuration$ | async as configuration">
  <div
    class="cx-item-list-row cx-config-group-attribute"
    *ngFor="let attribute of configuration.attributes"
  >
    <div class="cx-config-attribute-header">
      <cx-config-attribute-header
        [attribute]="attribute"
      ></cx-config-attribute-header>
    </div>
    <div
      class="cx-config-attribute-value cx-config-attribute-value-multi col-xs-12"
    >
      <cx-config-attribute-input-field
        [attribute]="attribute"
      ></cx-config-attribute-input-field>
    </div>
    <div class="cx-config-attribute-footer">
      <cx-config-attribute-footer
        [attribute]="attribute"
      ></cx-config-attribute-footer>
    </div>
  </div>
</ng-container>
