@if ((activeStepIndex$ | async) !== undefined) {
  <div>
    @if (cart$ | async; as cart) {
      <div>
        <div class="cx-media">
          @if (cart?.totalItems && cart?.subTotal) {
            <div class="cx-list-media cx-title">
              {{
                'cartItems.cartTotal' | cxTranslate: { count: cart.totalItems }
              }}:
              {{ cart.subTotal.formattedValue }}
            </div>
          }
          @for (step of steps$ | async; track step; let i = $index) {
            <div>
              @if (i < activeStepIndex) {
                <div class="cx-list-media">
                  <div class="cx-title">
                    {{ i + 1 }}. {{ step.name | cxTranslate }}
                  </div>
                  <button
                    class="btn btn-link"
                    [routerLink]="{ cxRoute: step.routeName } | cxUrl"
                  >
                    {{ 'common.edit' | cxTranslate }}
                  </button>
                </div>
              }
              @if (i === activeStepIndex) {
                <div class="cx-list-media is-active">
                  <div class="cx-title">
                    {{ i + 1 }}. {{ step.name | cxTranslate }}
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
}
