<form [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'userGroupForm.code.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{ 'userGroupForm.code.placeholder' | cxTranslate }}"
            formControlName="uid"
          />
          <cx-form-errors [control]="form.get('uid')"></cx-form-errors>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'userGroupForm.name.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'userGroupForm.name.placeholder' | cxTranslate }}"
            formControlName="name"
          />
          <cx-form-errors [control]="form.get('name')"></cx-form-errors>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="businessUnits$ | async as businessUnits"
          formGroupName="orgUnit"
        >
          <div *ngIf="businessUnits.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'userGroupForm.businessUnits.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="uid"
                [searchable]="false"
                [clearable]="false"
                [items]="businessUnits"
                bindLabel="name"
                bindValue="id"
              >
              </ng-select>
              <cx-form-errors
                [control]="form.get('orgUnit.uid')"
              ></cx-form-errors>
            </label>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button class="btn btn-block btn-primary" (click)="verifyAndSubmit()">
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</form>
