@import '../../../theme';

%cx-add-to-home-screen-banner {
  .cx-add-to-home-screen-banner {
    background-color: var(--cx-color-background);
    padding: 20px;
    text-align: center;
    margin: 0 0 2.5rem;

    @include media-breakpoint-down(sm) {
      margin: 0 1.25rem 2rem;
    }

    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px 40px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin: 0 auto 0 auto;
        max-width: 280px;
        padding: 0 20px 20px 50px;
      }

      li {
        min-width: 35%;
        text-align: left;
      }
    }
  }

  .cx-add-to-home-screen-banner-inner {
    max-width: 600px;
    margin: 0 auto;
  }
}
