# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/documentation

# test output
test-results.xml

# docs archives
docs.tar.gz
docs.zip

# spartacussampledataaddon
spartacussampledataaddon.*
spartacussampledata.*

# dependencies
node_modules/
package-lock.json

# verdaccio storage
scripts/install/storage
scripts/install/htpasswd

# Environment config file
scripts/install/config.sh

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/settings.json

# Coverage reports
**/coverage

# misc
.lighthouseci/
/.sass-cache
/connect.lock
/libpeerconnection.log
/typings

# Logs
npm-debug.log
yarn-error.log
testem.log
debug.log

# System Files
.DS_Store
Thumbs.db

**/git-ignore
