always-auth=true
@spartacus:registry=https://73554900100900004337.dev.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.dev.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLXVzZXJMYVN0YXI6OFNtTkFiUFFVR2RZSGRnSko2M29mU0d6eU5LNnJ0S0Y=