@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=${SAP_RBSCTOKEN}
legacy-peer-deps=true
@vivaldi:registry=https://73555000100900008602.dev.npmsrv.base.repositories.cloud.sap/
//73555000100900008602.dev.npmsrv.base.repositories.cloud.sap/:_auth=${SAP_RBSCTOKEN}
//73555000100900008602.dev.npmsrv.base.repositories.cloud.sap/:always-auth=true
