{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "useTabs": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css"
}
