# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most
# precedence.

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.

# Core
/projects/core/                 @Platonn
/projects/core/src/**/store/    @dunqan
/projects/core/src/routing/     @Platonn
/projects/core/src/cart/        @Platonn @marlass

# Storefront lib
projects/storefront/ @SAP/cloud-commerce-spartacus-storefront-docs-team
