%cx-subscription-details {
  .subscription-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 1rem 1.5rem 1rem; //top-right-bottom-left
    .action-button {
      margin-bottom: 1rem;
    }
  }
}
