@if (attribute?.values?.length) {
  <div id="{{ createAttributeIdForConfigurator(attribute) }}">
    @if (withQuantityOnAttributeLevel) {
      <div class="cx-attribute-level-quantity-price">
        <cx-configurator-attribute-quantity
          (changeQuantity)="onChangeAttributeQuantity($event)"
          [quantityOptions]="extractQuantityParameters(attribute.quantity)"
        ></cx-configurator-attribute-quantity>

        <cx-configurator-price
          [formula]="extractPriceFormulaParameters()"
        ></cx-configurator-price>
      </div>
    }

    @for (value of attribute?.values; track value; let i = $index) {
      <cx-configurator-attribute-product-card
        id="{{
          createAttributeValueIdForConfigurator(attribute, value.valueCode)
        }}"
        (handleDeselect)="onDeselect($event)"
        (handleQuantity)="onChangeValueQuantity($event)"
        (handleSelect)="onSelect($event)"
        [productCardOptions]="
          extractProductCardParameters(
            loading$ | async,
            preventAction$ | async,
            value,
            i
          )
        "
      >
      </cx-configurator-attribute-product-card>
    }
  </div>
}
