<div class="form-check">
  <label>
    <input
      type="checkbox"
      class="form-check-input"
      (change)="onConsentChange()"
      [checked]="consentGiven"
      [name]="consentTemplate.id"
      [disabled]="isRequired(consentTemplate?.id)"
    />
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">aaa</label>
    </div>
    <span class="form-check-label cx-be-bold">
      <ng-container *ngIf="consentTemplate?.name">
        {{ consentTemplate?.name }}
        <br />
      </ng-container>
    </span>
    <span class="form-check-label">
      {{ consentTemplate?.description }}
    </span>
  </label>
</div>
