<div class="form-check">
  <label>
    <input
      type="checkbox"
      class="form-check-input"
      (change)="onConsentChange()"
      [checked]="consentGiven"
      [name]="consentTemplate.id"
    />
    <div classs="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch">
      <label class="custom-control-label" for="customSwitch"></label>
    </div>
    <span class="form-check-label cx-be-bold name">
      <ng-container *ngIf="consentTemplate?.name">
        {{ consentTemplate?.name }}
      </ng-container>
    </span>
    <span class="form-check-label description">
      {{ consentTemplate?.description }}
    </span>
  </label>
</div>
