<ng-container *ngIf="quoteDetails$ | async as quoteDetails">
  <section>
    <ul>
      <li>
        <button
          [attr.aria-label]="'quote.actions.link.a11y.newCart' | cxTranslate"
          (click)="goToNewCart()"
          class="link cx-action-link"
        >
          {{ 'quote.actions.link.newCart' | cxTranslate }}
        </button>
      </li>
      <li>
        <button
          [attr.aria-label]="'quote.actions.link.a11y.quotes' | cxTranslate"
          [routerLink]="{ cxRoute: 'quotes' } | cxUrl"
          class="link cx-action-link"
        >
          {{ 'quote.actions.link.quotes' | cxTranslate }}
        </button>
      </li>
    </ul>
  </section>
</ng-container>
