<cx-organization-card
  *ngIf="model$ | async as model"
  i18nRoot="permission.details"
>
  <a
    actions
    class="link"
    [class.disabled]="!model.active || !model.orgUnit.active"
    [routerLink]="{ cxRoute: 'permissionEdit', params: model } | cxUrl"
  >
    {{ 'organization.edit' | cxTranslate }}
  </a>

  <cx-toggle-status actions i18nRoot="permission"></cx-toggle-status>

  <section main class="details">
    <div class="property">
      <label>{{ 'permission.code' | cxTranslate }}</label>
      <span class="value">
        {{ model.code }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'budget.active' | cxTranslate }}</label>
      <span class="value" [class.is-active]="model.active">
        {{
          (model.active ? 'organization.enabled' : 'organization.disabled')
            | cxTranslate
        }}
      </span>
    </div>

    <div class="property">
      <label>{{
        'permission.orderApprovalPermissionType' | cxTranslate
      }}</label>
      <span class="value">
        {{ model.orderApprovalPermissionType?.name }}
      </span>
    </div>

    <div class="property" *ngIf="model.threshold || model.threshold === 0">
      <label>{{ 'permission.threshold' | cxTranslate }}</label>
      <span class="value">
        {{ model.threshold }} {{ model.currency?.symbol }}
      </span>
    </div>

    <div class="property" *ngIf="model.periodRange">
      <label>{{ 'permission.periodRange' | cxTranslate }}</label>
      <span class="value">
        {{ model.periodRange }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'permission.unit' | cxTranslate }}</label>
      <a
        class="value"
        [routerLink]="
          {
            cxRoute: 'unitDetails',
            params: model.orgUnit
          } | cxUrl
        "
      >
        {{ model.orgUnit?.name }}
      </a>
    </div>
  </section>
</cx-organization-card>
