<div
  class="cx-asm-overview-section cx-asm-overview-active-cart mt-3 pt-3"
  *ngIf="activeCart$ | async as activeCart; else emptyActiveCart"
>
  <div class="section-header">
    <div class="header-title">
      {{ 'asm.customer360.overview.activeCart' | cxTranslate }}
      <a
        tabindex="0"
        [attr.aria-label]="
          'asm.customer360.aria.activeCartCode'
            | cxTranslate: { code: activeCart.code }
        "
        role="link"
        class="cx-overview-title-link"
        (click)="navigateTo({ cxRoute: 'cart' })"
      >
        {{ activeCart.code }}
      </a>
    </div>
    <div class="result-wrapper">
      <div class="cart-total-no-items">
        {{
          'asm.customer360.overview.totalNoItems'
            | cxTranslate: { count: activeCart.totalItems }
        }}
      </div>
      <div class="cart-divider"></div>
      <div class="cart-total-price">
        {{
          'asm.customer360.overview.totalPrice'
            | cxTranslate: { price: activeCart.totalPrice?.formattedValue }
        }}
      </div>
    </div>
  </div>
  <ng-container *ngIf="numberofColumns$ | async as numberofColumns">
    <div class="row">
      <div
        class="col cx-asm-overview-items cx-asm-overview-order-items"
        [class.show-more]="showMoreActiveCart"
        [ngClass]="'column-' + numberofColumns"
      >
        <ng-container *ngFor="let entry of activeCart.entries; let i = index">
          <cx-asm-product-item
            class="cx-asm-overview-active-item"
            *ngIf="i < numberofColumns || showMoreActiveCart"
            [product]="entry.product"
            [price]="entry.basePrice"
            [quantity]="entry.quantity"
            (selectProduct)="navigateTo({ cxRoute: 'product', params: $event })"
          ></cx-asm-product-item>
        </ng-container>
      </div>
    </div>
    <ng-template
      *ngTemplateOutlet="
        showMoreButton;
        context: {
          itemLength: activeCart.entries.length,
          columnNum: numberofColumns,
          showMore: showMoreActiveCart,
          section: OverviewSection.ACTIVE_CART
        }
      "
    ></ng-template>
  </ng-container>
</div>
<!-- saved cart -->
<div
  class="cx-asm-overview-section cx-asm-overview-saved-cart mt-5"
  *ngIf="savedCart$ | async as savedCart; else emptySavedCart"
>
  <div class="section-header">
    <div class="header-title">
      {{ 'asm.customer360.overview.savedCart' | cxTranslate }}
      <a
        tabindex="0"
        [attr.aria-label]="
          'asm.customer360.overview.savedCartCode'
            | cxTranslate: { code: savedCart.code }
        "
        role="link"
        class="cx-overview-title-link"
        (click)="
          navigateTo({
            cxRoute: 'savedCartsDetails',
            params: { savedCartId: savedCart?.code }
          })
        "
      >
        {{ savedCart.code }}
      </a>
    </div>
    <div class="result-wrapper">
      <div class="cart-total-no-items">
        {{
          'asm.customer360.overview.totalNoItems'
            | cxTranslate: { count: savedCart.totalItems }
        }}
      </div>
      <div class="cart-divider"></div>
      <div class="cart-total-price">
        {{
          'asm.customer360.overview.totalPrice'
            | cxTranslate: { price: savedCart.totalPrice.formattedValue }
        }}
      </div>
    </div>
  </div>
  <ng-container *ngIf="numberofColumns$ | async as numberofColumns">
    <div class="row">
      <div
        class="col cx-asm-overview-items cx-asm-overview-order-items"
        [class.show-more]="showMoreSavedCart"
        [ngClass]="'column-' + numberofColumns"
      >
        <ng-container *ngFor="let entry of savedCart.entries; let i = index">
          <cx-asm-product-item
            class="cx-asm-overview-saved-item"
            *ngIf="i < numberofColumns || showMoreSavedCart"
            [product]="entry.product"
            [price]="entry.basePrice"
            [quantity]="entry.quantity"
            (selectProduct)="navigateTo({ cxRoute: 'product', params: $event })"
          ></cx-asm-product-item>
        </ng-container>
      </div>
    </div>
    <ng-template
      *ngTemplateOutlet="
        showMoreButton;
        context: {
          itemLength: savedCart.entries?.length,
          columnNum: numberofColumns,
          showMore: showMoreSavedCart,
          section: OverviewSection.SAVED_CART
        }
      "
    ></ng-template>
  </ng-container>
</div>

<ng-template #emptySavedCart>
  <ng-template
    *ngTemplateOutlet="
      emptyResult;
      context: {
        title: 'asm.customer360.overview.savedCart' | cxTranslate,
        description: 'asm.customer360.overview.noSavedCart' | cxTranslate
      }
    "
  ></ng-template>
</ng-template>

<ng-template #emptyActiveCart>
  <ng-template
    *ngTemplateOutlet="
      emptyResult;
      context: {
        title: 'asm.customer360.overview.activeCart' | cxTranslate,
        description: 'asm.customer360.overview.noActiveCart' | cxTranslate
      }
    "
  ></ng-template>
</ng-template>

<ng-template #emptyResult let-title="title" let-description="description">
  <div class="cx-asm-overview-empty mb-4">
    <div class="cx-asm-overview-empty-title mt-4 mb-2">
      {{ title }}
    </div>
    <div class="cx-asm-overview-empty-desc">
      {{ description }}
    </div>
  </div>
</ng-template>

<ng-template
  #showMoreButton
  let-itemLength="itemLength"
  let-columnNum="columnNum"
  let-showMore="showMore"
  let-section="section"
>
  <div class="row" *ngIf="itemLength > columnNum">
    <div class="show-hide-container mt-4">
      <button
        class="link cx-action-link show-hide-btn"
        (click)="showMoreBySectionIndex(section)"
      >
        <span *ngIf="!showMore">{{
          'asm.customer360.overview.showMore' | cxTranslate
        }}</span>
        <span *ngIf="showMore">{{
          'asm.customer360.overview.showLess' | cxTranslate
        }}</span>
      </button>
    </div>
  </div>
</ng-template>
