<ng-container *ngIf="order$ | async as order">
  <ng-container
    *ngIf="
      order.consignments?.length ||
      order.unconsignedEntries?.length ||
      order.replenishmentOrderCode
    "
  >
    <cx-promotions
      [promotions]="order.appliedOrderPromotions || []"
    ></cx-promotions>
  </ng-container>

  <ng-template
    [cxOutlet]="OrderOutlets.ORDER_PICKUP_ITEMS_LIST"
    [cxOutletContext]="order"
  >
    <!-- pickup consigned entries -->
    <cx-order-consigned-entries
      *ngIf="pickupConsignments"
      [order]="order"
      [consignments]="pickupConsignments"
      [enableAddToCart]="enableAddToCart$ | async"
      [buyItAgainTranslation]="'addToCart.buyItAgain' | cxTranslate"
    ></cx-order-consigned-entries>
  </ng-template>

  <ng-template
    [cxOutlet]="OrderOutlets.ORDER_DELIVERY_ITEMS_LIST"
    [cxOutletContext]="order"
  >
    <!-- delivery consigned entries -->
    <cx-order-consigned-entries
      *ngIf="deliveryConsignments"
      [order]="order"
      [consignments]="deliveryConsignments"
      [enableAddToCart]="enableAddToCart$ | async"
      [buyItAgainTranslation]="'addToCart.buyItAgain' | cxTranslate"
    ></cx-order-consigned-entries>
  </ng-template>

  <!-- unconsigned entries OR any entries -->
  <ng-container
    *ngIf="
      order?.unconsignedEntries?.length ||
      (order?.entries && order?.replenishmentOrderCode)
    "
  >
    <div class="cx-list row">
      <div *ngIf="order?.statusDisplay" class="cx-list-header col-12">
        <div class="cx-list-status">
          {{
            'orderDetails.statusDisplay_' + order?.statusDisplay | cxTranslate
          }}
        </div>
      </div>
      <div class="cx-list-item col-12">
        <ng-container *ngIf="order?.unconsignedEntries?.length">
          <ng-template
            [cxOutlet]="OrderOutlets.ORDER_DELIVERY_ITEMS_LIST"
            [cxOutletContext]="order"
          >
            <ng-template
              [cxOutlet]="CartOutlets.CART_ITEM_LIST"
              [cxOutletContext]="{
                items: deliveryUnConsignments,
                readonly: true,
                promotionLocation: promotionLocation,
                options: {
                  displayAddToCart: enableAddToCart$ | async,
                  addToCartString: 'addToCart.buyItAgain' | cxTranslate,
                  optionalBtn: addToCartBtn
                }
              }"
            >
            </ng-template>
          </ng-template>
          <ng-template
            [cxOutlet]="CartOutlets.PICKUP_ITEM_LIST"
            [cxOutletContext]="{
              items: pickupUnConsignments
            }"
          >
          </ng-template>
        </ng-container>
        <ng-container *ngIf="order?.replenishmentOrderCode">
          <ng-template
            [cxOutlet]="CartOutlets.CART_ITEM_LIST"
            [cxOutletContext]="{
              items: order.entries,
              readonly: true,
              promotionLocation: promotionLocation,
              options: {
                displayAddToCart: enableAddToCart$ | async,
                addToCartString: 'addToCart.buyItAgain' | cxTranslate,
                optionalBtn: addToCartBtn
              }
            }"
          >
          </ng-template>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template let-ctx #addToCartBtn>
  <cx-add-to-cart
    [productCode]="ctx.item.product?.code"
    [product]="ctx.item.product"
    [showQuantity]="false"
    [options]="ctx.options"
    [pickupStore]="ctx.item.deliveryPointOfService?.name"
    class="add-to-cart"
  >
  </cx-add-to-cart>
</ng-template>
