%cx-date-range-modal {
  .modal-content {
    max-width: 390px;
  }
  .modal-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    h3 {
      margin: 0;
    }

    button.close {
      height: fit-content;
      align-self: flex-end;
      font-size: 20px;
    }
  }
  .modal-body {
    .date-filters {
      margin-bottom: 1rem;
    }
    .label-text {
      font-weight: 600;
      display: block;
      margin-bottom: 0.5rem;
    }
    .reset-filter-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  .date-filters-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    button {
      width: 150px;
    }
  }
}
