%cx-subscription-list {
  .subscription-list-sort {
    display: flex;
    margin: 0;

    &.top {
      justify-content: space-between;
      padding: 1rem 0;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }
    }

    &.bottom {
      justify-content: flex-end;
      padding: 1rem 0 1rem 0;
    }
  }
  .subscription-list-form-group {
    padding: 0;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    width: 40%;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 17px;
    }

    span {
      margin-inline-end: 0.5rem;
      flex: none;
    }

    cx-sorting {
      width: 100%;
    }
  }
  .subscription-list-title {
    font-size: var(--cx-font-size, 1.4rem);
  }
}
%cx-subscription-list,
%cx-subscription-details {
  .subscription {
    border-collapse: collapse;
    margin: 0;
    .subscription-header {
      display: flex;
      justify-content: space-between;

      margin: 1rem 1rem 0 1rem; //top-right-bottom-left
      padding: 15px 30px;
      background-color: var(--cx-color-light);
      border: 1px solid var(--cx-color-medium);
      border-radius: 0;
      .subscription-name {
        font-size: 16px;
        font-weight: 700;
      }
      .subscription-status {
        font-size: 14px;
        font-weight: 500;
        .Active {
          color: var(--cx-color-success);
        }
        .Cancelled {
          color: var(--cx-color-danger);
        }
      }
    }
    .subscription-body {
      display: flex;
      justify-content: space-between;

      margin: 0 1rem 1.5rem 1rem; //top-right-bottom-left
      padding: 15px;
      border: 1px solid var(--cx-color-medium);
      &:first-child {
        border-radius: 0;
      }

      .subscription-column-1 {
        display: flex;
        flex-direction: column;
        .subscription-info {
          font-weight: bold;
          margin: 0 0 0.5rem 0;
        }
      }
      .subscription-column-2 {
        padding: 15px;
        width: 30%;
        display: flex;
        justify-content: right;
        color: var(--cx-color-secondary);
        font-size: 14px;
        font-weight: 600;
        align-items: flex-end;
      }
    }
  }
}
