<td role="cell">
  <div class="cx-table-item-container">
    <!-- Item Image -->
    <a
      [routerLink]="{ cxRoute: 'product', params: cartEntry.product } | cxUrl"
      tabindex="-1"
    >
      <cx-media
        [container]="cartEntry.product?.images?.PRIMARY"
        format="thumbnail"
      ></cx-media>
    </a>
    <div class="cx-info">
      @if (cartEntry.product?.name) {
        <div class="cx-name">
          <a
            class="cx-link"
            [routerLink]="
              { cxRoute: 'product', params: cartEntry.product } | cxUrl
            "
            >{{ cartEntry.product?.name }}</a
          >
        </div>
      }
      @if (cartEntry.product?.code) {
        <div class="cx-code">
          {{ 'cartItems.id' | cxTranslate }} {{ cartEntry.product?.code }}
        </div>
      }
    </div>
  </div>
  <!-- Variants -->
  @if (cartEntry.product?.baseOptions?.length) {
    @for (
      variant of cartEntry.product?.baseOptions[0]?.selected
        ?.variantOptionQualifiers;
      track variant
    ) {
      <div class="cx-property">
        @if (variant.name && variant.value) {
          <div class="cx-label">{{ variant.name }}: {{ variant.value }}</div>
        }
      </div>
    }
  }
</td>
<!-- Item Price -->
@if (cartEntry.basePrice) {
  <td role="cell" class="cx-price">
    <div class="cx-mobile-header">
      {{ 'cartItems.itemPrice' | cxTranslate }}
    </div>
    @if (cartEntry.basePrice) {
      <div class="cx-value">
        {{ cartEntry.basePrice?.formattedValue }}
      </div>
    }
  </td>
}
<!-- Action -->
<td role="cell" class="cx-actions">
  @if (cartEntry.updateable) {
    <ng-container cxInnerComponentsHost></ng-container>
  }
  <ng-template #outOfStock>
    <span class="cx-out-of-stock">
      {{ 'addToCart.outOfStock' | cxTranslate }}
    </span>
  </ng-template>
  @if (cartEntry.updateable) {
    <button
      (click)="removeEntry(cartEntry)"
      [cxAtMessage]="'wishlist.itemRemoved' | cxTranslate"
      [disabled]="isLoading"
      class="link cx-action-link cx-remove-btn"
    >
      {{ 'common.remove' | cxTranslate }}
    </button>
  }
</td>
