%cx-commerce-quotes-details-cart {
  .cart-toggle {
    cursor: pointer;
    user-select: none;
    cx-icon {
      margin-inline-end: 0.5rem;
      font-size: var(--cx-font-size, 1.125rem);
      font-weight: var(--cx-font-weight-semi);
    }
    .cart-toggle-text {
      font-size: var(--cx-font-size, 1.125rem);
      font-weight: var(--cx-font-weight-semi);
    }
  }
  cx-media {
    height: 4rem;
    width: 4rem;
  }
}
