%cx-commerce-quotes-action-links {
  section {
    display: flex;
    padding: 1rem 0;
    justify-content: flex-end;
    .link {
      &:before {
        content: '|';
        color: var(--cx-color-light);
        display: inline-block;
        margin-inline-start: 0.313rem;
        margin-inline-end: 0.313rem;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}
