%cx-confirm-quote-request-dialog {
  background-color: rgba(0, 0, 0, 0.5);

  .cx-modal-container {
    justify-content: center;
  }
  .cx-modal-content {
    width: 60%;
    padding: 0.3rem;
  }
  .cx-dialog-header {
    align-items: center;
    .cx-dialog-title {
      font-size: var(--cx-font-size, 1.375rem);
      font-weight: var(--cx-font-weight-semi);
      line-height: var(--cx-line-height, 1.2222222222);
    }
  }

  .cx-dialog-body {
    padding: 1rem;
    @include media-breakpoint-down(sm) {
      padding: 0;
      background-color: var(--cx-color-inverse);
    }
    .quote-name-description {
      > div {
        margin-bottom: 1rem;
      }
      border-bottom: 1px solid var(--cx-color-light);

      .heading {
        font-weight: var(--cx-font-weight-bold);
      }
      .quote-description {
        .content {
          min-height: 4.5rem;
          max-height: 4.5rem;
          overflow-y: scroll;
        }
      }
    }

    .notes {
      margin-bottom: 1.5rem;
      p {
        font-weight: var(--cx-font-weight-semi);
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .cx-dialog-item {
    @include media-breakpoint-down(sm) {
      padding: 2rem;
    }
  }

  .cx-dialog-buttons {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      .btn-primary {
        margin: 0 0 0.625rem 0;
      }
    }

    & > .btn {
      width: 25%;
    }
  }
}
