@import './commerce-quotes-list';
@import './commerce-quotes-request-quote-button';
@import './commerce-quotes-request-quote-dialog';
@import './commerce-quotes-details-overview';
@import './commerce-quotes-details-cart';
@import './commerce-quotes-action-links';
@import './commerce-quotes-actions-by-role';
@import './commerce-quotes-details-vendor-contact';
@import './confirm-quote-request-dialog';
@import './layout/index';

$commerce-quotes-components-allowlist: cx-commerce-quotes-list
  cx-commerce-quotes-details-overview cx-commerce-quotes-details-cart
  cx-commerce-quotes-request-quote-button cx-commerce-quotes-action-links
  cx-commerce-quotes-request-quote-dialog cx-commerce-quotes-actions-by-role
  cx-commerce-quotes-details-vendor-contact cx-confirm-quote-request-dialog !default;

$skipComponentStyles: () !default;

@each $selector in $commerce-quotes-components-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $commerce-quotes-components-allowlist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
