<ng-container *ngIf="bannerVisible$ | async as bannerVisible">
  <div
    [ngClass]="{ 'anonymous-consents-banner-hidden': !bannerVisible }"
    class="anonymous-consents-banner"
  >
    <p>Cookie statement</p>
    <div>
      Cookie consent, some random long text description
    </div>

    <div>
      <a class="btn btn-secondary" (click)="viewDetails()">{{
        'anonymousConsents.viewDetails' | cxTranslate
      }}</a>
      <a class="btn btn-primary" (click)="allowAll()">{{
        'anonymousConsents.allowAll' | cxTranslate
      }}</a>
    </div>
  </div>
</ng-container>
