<span *ngIf="templatesUpdated$ | async">updated</span>
<ng-container *ngIf="bannerVisible$ | async as bannerVisible">
  <div
    [ngClass]="{ 'anonymous-consents-banner-hidden': !bannerVisible }"
    class="anonymous-consents-banner"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <p>Cookie statement</p>
          <div>
            Cookie consent, some random long text description
          </div>
        </div>

        <div class="col-lg-4">
          <a class="btn btn-secondary" (click)="viewDetails()">{{
            'anonymousConsents.viewDetails' | cxTranslate
          }}</a>
          <a class="btn btn-primary" (click)="allowAll()">{{
            'anonymousConsents.allowAll' | cxTranslate
          }}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
