%cx-configurator-overview-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 25px 5px 20px;

  @include media-breakpoint-down(sm) {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .cx-group {
    padding: 25px 0;
    margin-inline-start: -20px;
    margin-inline-end: -25px;

    h2 {
      padding: 15px 30px;
      border: solid 1px var(--cx-color-light);
    }

    .cx-attribute-value-pair {
      padding-inline-start: 30px;
      padding-inline-end: 30px;
    }
  }

  .cx-no-attribute-value-pairs {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }
}
