%cx-configurator-group-menu {
  ul {
    list-style-type: none;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    border-radius: 2px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-block-start: 0px;
    padding-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;

    @include media-breakpoint-down(md) {
      background-color: var(--cx-color-background);
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }

    .cx-menu-item {
      line-height: var(--cx-line-height, 1.6);
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: var(--cx-color-light);

      &:last-child {
        border-width: 0;
      }

      a.cx-menu-item-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--cx-color-text);

        padding-inline-start: 15px;
        padding-inline-end: 15px;
        padding-block-start: 15px;
        padding-block-end: 15px;

        &:hover {
          cursor: pointer;
          color: var(--cx-color-primary);
        }

        &.active {
          color: var(--cx-color-primary);
        }

        .groupIndicators {
          display: flex;
          flex-direction: row;
          align-self: flex-start;
          inline-size: 75px;

          .groupStatusIndicator {
            inline-size: 25px;
            cx-icon.ERROR,
            cx-icon.WARNING,
            cx-icon.COMPLETE {
              display: none;
            }

            cx-icon.ERROR {
              color: var(--cx-color-danger);
            }
            cx-icon.WARNING {
              color: var(--cx-color-warning);
            }

            cx-icon.COMPLETE {
              color: var(--cx-color-text);
            }
          }

          .subGroupIndicator {
            inline-size: 25px;
            cx-icon {
              margin-inline-start: 5px;
              margin-inline-end: 5px;
            }
          }

          .conflictNumberIndicator {
            inline-size: 25px;
          }
        }
      }

      &.ERROR cx-icon.ERROR,
      &.WARNING cx-icon.WARNING,
      &.COMPLETE cx-icon.COMPLETE {
        display: inline-block !important;
      }

      &.cx-menu-conflict {
        background-color: mix(#ffffff, theme-color('warning'), 78%);
      }
    }
  }

  .cx-menu-back {
    line-height: var(--cx-line-height, 1.6);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
    background-color: var(--cx-color-background);

    a.cx-menu-back-link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      text-decoration: none;
      color: var(--cx-color-text);

      padding-inline-start: 15px;
      padding-inline-end: 15px;
      padding-block-start: 15px;
      padding-block-end: 15px;

      &:hover {
        cursor: pointer;
        color: var(--cx-color-primary);
      }

      &.active {
        color: var(--cx-color-primary);
      }

      cx-icon {
        margin-inline-start: 5px;
        margin-inline-end: 5px;
        margin-block-start: 5px;
        margin-block-end: 5px;
      }
    }
  }
}
