%cx-configurator-price-summary {
  padding: 15px;
  margin-top: 15px;
  justify-content: flex-end;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  .cx-total {
    @include media-breakpoint-down(sm) {
      width: 100%;
      clear: both;
    }

    padding-left: 15px;
    padding-right: 15px;

    width: 400px;
    float: right;

    .cx-summary-row {
      padding-top: 10px;
      padding-bottom: 10px;

      .cx-summary-amount {
        word-wrap: break-word;
        text-align: right;
      }
    }

    .cx-price-summary-total-price {
      padding-top: 0;
      padding-bottom: 0;

      div {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .cx-summary-label {
        font-weight: bold;
      }

      &:before {
        content: '';
        border-top: 1px solid var(--cx-color-light);
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}
