@mixin cx-configurator-attribute-selection-image {
  margin-inline-start: 20px;

  .cx-configurator-select {
    padding: 5px;

    input[type='checkbox'].form-input,
    input[type='radio'].form-input {
      opacity: 0;
      position: absolute;

      &:focus + .cx-configurator-attribute-value-label-container {
        @include visible-focus();
      }
    }

    input[aria-checked='true']
      + .cx-configurator-attribute-value-label-container {
      .cx-configurator-attribute-value-img,
      .cx-configurator-attribute-value-img-dummy {
        border: var(--cx-color-primary) 3px solid;
      }
    }

    .cx-configurator-attribute-value-label-container {
      .cx-configurator-attribute-value-label {
        cursor: pointer;
        text-align: center;
      }

      .cx-configurator-attribute-value-img,
      .cx-configurator-attribute-value-img-dummy {
        padding: 3px;
        display: block;
        margin-inline-start: auto;
        margin-inline-end: auto;
        max-inline-size: 75%;
        border-radius: 2px;
        border: transparent 3px solid;
      }

      .cx-configurator-attribute-value-img-dummy {
        block-size: 75%;
      }
    }
  }
}
