%cx-configurator-update-message {
  position: absolute;
  width: 100%;

  div#cx-update-msg {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    top: 0;
    @include type('6', 'semi');
    padding: 10px;
    line-height: var(--cx-line-height, 1.5);
    background-color: mix(#ffffff, theme-color('info'), 80%);

    &.visible {
      display: flex;

      cx-spinner {
        margin-inline-end: 10px;

        .loader-container {
          block-size: 40px;
          inline-size: 40px;
          margin: 0 auto;

          .loader {
            block-size: 40px;
            inline-size: 40px;

            &::before {
              block-size: 40px;
              inline-size: 40px;
              border-width: 5px;
            }
          }
        }
      }
    }
  }
}
