%cx-configurator-update-message {
  div {
    display: none;
    position: relative;
    /**
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
    */

    &.visible {
      display: inline-flex;
      position: absolute;
      flex-direction: row;
      justify-content: center;
      inline-size: 100%;
      background-color: mix(#ffffff, theme-color('info'), 80%);
      text-align: var(--cx-text-align, center);
      color: var(--cx-color, var(--cx-color-text));
      @include type('6', 'semi');
      padding: var(--cx-padding, 0 4rem 0 20px);
      line-height: var(--cx-line-height, 1.5);
      min-block-size: 70px;
      align-items: center;
      padding: 15px;

      cx-spinner {
        margin-inline-end: 20px;

        .loader-container {
          block-size: 40px;
          inline-size: 40px;
          margin: 0 auto;

          .loader {
            block-size: 40px;
            inline-size: 40px;

            &::before {
              block-size: 40px;
              inline-size: 40px;
              border-width: 5px;
            }
          }
        }
      }
    }
  }
}
