%cx-configurator-product-title {
  background-color: var(--cx-color-background);
  margin-block-end: 15px;

  .cx-configurator-container {
    padding: 15px 0;
    margin: 0 auto;
    border-width: 1px;
    max-inline-size: 1140px;

    .cx-configurator-product-title {
      font-weight: bold;
      text-align: center;
    }

    .cx-configurator-product-title-details {
      inline-size: 100%;
      max-block-size: 0;
      overflow: hidden;
      display: flex;
      font-size: var(--cx-font-small, 0.8rem);

      transition: all 0.7s ease-in-out;
      -webkit-transition: all 0.7s ease-in-out;

      &.open {
        /*
          A larger value than the details need, this will be used to animate the closing/opening.
          If the value is to large the closing will "delay" as the max-height will be reduced from the specified value down to 0.
        */
        max-border-left: 400px;
      }

      .cx-configurator-product-title-details-image {
        margin-block-start: 15px;
        max-inline-size: 100px;
      }

      .cx-configurator-product-title-details-content {
        margin: 15px 0 0 15px;
        max-inline-size: 600px;

        .cx-configurator-product-detail-title,
        .cx-configurator-product-price {
          font-weight: bold;
        }

        .cx-configurator-product-code {
          color: var(--cx-color-secondary);
        }
      }
    }

    .cx-configurator-product-title {
      padding: 0 120px 0 120px;
      @include media-breakpoint-down(xs) {
        padding: 0 20px 0 20px;
      }
    }

    a.cx-configurator-toogle-details-link {
      float: right;
      cursor: pointer;
      display: inline-flex;
      color: var(--cx-color-text);
      font-weight: normal;
      margin-block-start: -25px;
      margin-inline-end: 5px;

      &:hover {
        text-decoration: none;
      }

      cx-icon {
        margin-inline-start: 5px;
      }

      @include media-breakpoint-down(xs) {
        margin-block-start: -20px;
      }

      .cx-configurator-toogle-details-link-text {
        text-decoration: underline;
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
  }
}
