%cx-configurator-attribute-header {
  label {
    @include type('5');
    padding-block-start: 10px;
    padding-inline-end: 6px;
    display: flex;
    flex-direction: row;
  }

  .cx-required-icon {
    display: inline-flex;

    &:after {
      content: '*';
      color: var(--cx-color-danger);
    }
  }

  .cx-required-error-msg {
    display: flex;
    flex-direction: row;
    color: var(--cx-color-danger);
    font-size: 14px;

    cx-icon {
      padding-inline-end: 5px;
    }
  }

  .cx-conflict-container {
    display: flex;
    flex-direction: row;

    cx-icon {
      color: var(--cx-color-warning);
      font-size: 20px;
      padding-inline-end: 15px;
      display: flex;
      flex-direction: column;
    }

    .cx-conflict-msg {
      color: var(--cx-color-text);
      font-size: 14px;
      display: flex;
      flex-direction: column;
    }
  }
}
