%cx-configurator-attribute-numeric-input-field {
  display: flow-root;
  margin-inline-start: 17px;
  padding: 10px 34px 0 0;

  inline-size: 75%;

  .form-group {
    margin-block-end: 0.5rem;
    inline-size: 100%;
  }
  .cx-validation-msg {
    color: var(--cx-color-danger);
  }
}
