%cx-configurator-group-menu {
  ul {
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
    margin: 0 25px 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    border-radius: 2px;

    @include media-breakpoint-down(md) {
      background-color: var(--cx-color-background);
      margin: 0 0 0 0;
    }

    .cx-menu-item {
      line-height: var(--cx-line-height, 1.6);
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: var(--cx-color-light);

      &:last-child {
        border-width: 0;
      }

      a {
        padding: 15px;
        display: flow-root;
        text-decoration: none;
        color: var(--cx-color-text);

        &:hover {
          cursor: pointer;
          color: var(--cx-color-primary);
        }

        &.active {
          color: var(--cx-color-primary);
        }

        .groupIndicators {
          float: right;
          inline-size: 75px;
          display: flex;

          .groupStatusIndicator {
            inline-size: 25px;
            cx-icon.ERROR,
            cx-icon.WARNING,
            cx-icon.COMPLETE {
              display: none;
            }

            cx-icon.ERROR {
              color: var(--cx-color-danger);
            }
            cx-icon.WARNING {
              color: theme-color('warning');
            }

            cx-icon.COMPLETE {
              color: var(--cx-color-text) !important;
            }
          }

          .subGroupIndicator {
            inline-size: 25px;
            cx-icon {
              margin-left: 5px;
            }
          }

          .conflictNumberIndicator {
            inline-size: 25px;
          }
        }
      }

      &.ERROR cx-icon.ERROR,
      &.WARNING cx-icon.WARNING,
      &.COMPLETE cx-icon.COMPLETE {
        display: inline-block !important;
      }

      &.cx-menu-conflict {
        background-color: mix(#ffffff, theme-color('warning'), 78%);
      }
    }
  }

  .cx-menu-back {
    line-height: var(--cx-line-height, 1.6);
    padding: 15px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
    background-color: var(--cx-color-background);

    &:hover {
      cursor: pointer;
      color: var(--cx-color-primary);
    }

    a {
      color: var(--cx-color-text);
      display: block;

      &:hover {
        cursor: pointer;
        color: var(--cx-color-primary);
      }

      cx-icon {
        margin-block-start: 5px;
        margin-inline-end: 5px;
        float: left;
      }
    }
  }
}
