%cx-configurator-attribute-numeric-input-field {
  display: flex;
  flex-direction: row;
  inline-size: 75%;

  .form-group {
    margin-block-end: 0.5rem;
    inline-size: 100%;
  }
  .cx-validation-msg {
    color: var(--cx-color-danger);
  }
}
