%cx-configurator-overview-notification-banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(245, 206, 206, 1);
  padding: 5px;
  margin-block-end: 1.25rem;

  @include media-breakpoint-up(sm) {
    align-items: center;
  }

  cx-icon,
  .cx-icon {
    align-self: flex-start;
    color: var(--cx-color-danger);
    font-size: 30px;
    padding: 5px 15px 5px 15px;
  }

  padding-inline-start: 5px;

  button.link {
    color: var(--cx-color-text);
    border-width: 0;
    background-color: transparent;
    font-size: inherit;
    inline-size: max-content;
    text-decoration: underline;

    &:hover {
      color: var(--cx-color-primary);
      text-decoration: none;
    }
  }
}
