%cx-configurator-attribute-header {
  display: flow-root;
  flex-direction: row;
  margin-inline-start: 17px;
  margin-inline-end: 17px;

  label {
    @include type('5');
    padding-block-start: 10px;
    padding-inline-end: 6px;
  }

  .cx-required-icon {
    display: inline-flex;

    &:after {
      content: '*';
      color: var(--cx-color-danger);
    }
  }

  .cx-required-error-msg {
    color: var(--cx-color-danger);
    font-size: 14px;

    cx-icon {
      padding-inline-end: 5px;
    }
  }

  .cx-conflict-container {
    display: inline-flex;

    cx-icon {
      color: var(--cx-color-warning);
      font-size: 20px;
      padding-inline-end: 5px;
    }

    .cx-conflict-msg {
      color: var(--cx-color-text);
      font-size: 14px;
    }
  }
}
