%cx-configurator-conflict-suggestion {
  .cx-suggestion-msg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    background-color: mix(#ffffff, theme-color('light'), 90%);
    margin: 0 -20px 15px -20px;
    border: 1px solid var(--cx-color-light);
    border-radius: 2px;

    @include media-breakpoint-down(sm) {
      padding: 15px 35px;
    }

    .cx-bold {
      font-weight: bold;
      padding-inline-end: 5px;
    }
  }
}
