<div class="form-check consent-container">
  <div class="custom-control custom-switch">
    <label>
      <input
        type="checkbox"
        class="custom-control-input"
        [id]="consentTemplate.id"
        [name]="consentTemplate.id"
        [checked]="consentGiven"
        (change)="onConsentChange()"
        [disabled]="isRequired(consentTemplate?.id)"
      />
      <label class="custom-control-label" [for]="consentTemplate.id"></label>
      <span class="form-check-label cx-be-bold name consent-details">
        <ng-container *ngIf="consentTemplate?.name">
          {{ consentTemplate?.name }}
        </ng-container>
      </span>
      <span class="form-check-label description consent-details">
        {{ consentTemplate?.description }}
      </span>
      <span
        class="form-check-label description consent-details"
        *ngIf="consentGiven"
      >
        {{ 'myAccountV2Consent.dateDescription' | cxTranslate
        }}{{ consentApprovedTime }}
      </span>
    </label>
  </div>
</div>
