<div id="{{ createAttributeIdForConfigurator(attribute) }}">
  <ng-container
    *ngIf="
      attribute.values != undefined && attribute.values.length > 0;
      else noStaticDomain
    "
  >
    <ng-container *ngFor="let value of attribute.values">
      <span
        *ngIf="value.selected"
        id="{{ createValueUiKey('label', attribute.name, value.valueCode) }}"
        tabindex="0"
        class="cx-visually-hidden"
      >
        {{
          'configurator.a11y.readOnlyValueOfAttributeFull'
            | cxTranslate
              : {
                  value: value.valueDisplay,
                  attribute: attribute.label
                }
        }}
      </span>
      <div class="cx-read-only-label" *ngIf="value.selected" aria-hidden="true">
        <span aria-hidden="true">{{ value.valueDisplay }}</span>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noStaticDomain>
    <ng-container *ngIf="attribute.selectedSingleValue">
      <span
        id="{{
          createValueUiKey(
            'label',
            attribute.name,
            attribute.selectedSingleValue
          )
        }}"
        tabindex="0"
        class="cx-visually-hidden"
      >
        {{
          'configurator.a11y.readOnlyValueOfAttributeFull'
            | cxTranslate
              : {
                  value: attribute.selectedSingleValue,
                  attribute: attribute.label
                }
        }}
      </span>
      <div class="cx-read-only-label" aria-hidden="true">
        <span aria-hidden="true">{{ attribute.selectedSingleValue }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="attribute.userInput">
      <span
        id="{{
          createValueUiKey('label', attribute.name, attribute.userInput)
        }}"
        tabindex="0"
        class="cx-visually-hidden"
      >
        {{
          'configurator.a11y.readOnlyValueOfAttributeFull'
            | cxTranslate
              : {
                  value: attribute.userInput,
                  attribute: attribute.label
                }
        }}
      </span>
      <div class="cx-read-only-label">
        <span aria-hidden="true">{{ attribute.userInput }}</span>
      </div>
    </ng-container>
  </ng-template>
</div>
