<div
  class="cx-asm-customer-list cx-modal-container cx-asm-dialog"
  [cxFocus]="focusConfig"
  (esc)="closeModal('Escape clicked')"
>
  <div class="cx-modal-content">
    <!-- Modal Header -->
    <ng-container>
      <div class="cx-dialog-header modal-header">
        <h2 id="asm-customer-list-title" class="title modal-title">
          {{ 'asm.customerList.title' | cxTranslate }}
        </h2>
        <div id="asm-customer-list-desc" class="cx-visually-hidden">
          {{ 'asm.customerList.description' | cxTranslate }}
        </div>
        <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
        <ng-container *cxFeatureLevel="'!6.1'">
          <ng-template *ngTemplateOutlet="closeButton"></ng-template>
        </ng-container>
        <ng-container *cxFeatureLevel="'6.1'">
          <ng-template *ngTemplateOutlet="createCustomerButton"></ng-template>
        </ng-container>
      </div>
      <div
        class="cx-dialog-sub-header modal-header"
        [class.tablet-mobile]="(breakpoint$ | async) !== BREAKPOINT.md"
        *ngIf="customerListsPage$ | async as customerListsPage"
      >
        <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
        <ng-container *cxFeatureLevel="'!6.1'">
          <ng-template
            *ngTemplateOutlet="
              groupSelector;
              context: { customerListsPage: customerListsPage }
            "
          ></ng-template>
        </ng-container>
        <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
        <ng-container *cxFeatureLevel="'6.1'">
          <div
            class="cx-header-select"
            [class.mobile]="(breakpoint$ | async) === BREAKPOINT.xs"
          >
            <ng-template
              *ngTemplateOutlet="
                groupSelector;
                context: { customerListsPage: customerListsPage }
              "
            ></ng-template>
            <ng-template
              *ngTemplateOutlet="
                total;
                context: {
                  customerSearchPage: customerSearchPage$ | async
                }
              "
            >
            </ng-template>
          </div>
        </ng-container>

        <div
          class="cx-header-actions"
          [class.mobile]="(breakpoint$ | async) === BREAKPOINT.xs"
        >
          <ng-template *ngTemplateOutlet="sort"></ng-template>
          <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
          <ng-container *cxFeatureLevel="'!6.1'">
            <ng-template *ngTemplateOutlet="pagination"></ng-template>
          </ng-container>
          <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
          <ng-container *cxFeatureLevel="'6.1'">
            <ng-template *ngTemplateOutlet="search"></ng-template>
          </ng-container>
        </div>
      </div>
      <!-- Modal Body -->
      <div class="cx-dialog-body modal-body">
        <div class="cx-dialog-row">
          <div class="cx-dialog-item">
            <div *ngIf="listsEmpty" class="cx-error-state">
              {{ 'asm.customerList.noLists' | cxTranslate }}
            </div>
            <div *ngIf="listsError" class="cx-error-state">
              {{ 'asm.customerList.listsError' | cxTranslate }}
            </div>
            <div *ngIf="customerSearchError$ | async" class="cx-error-state">
              {{ 'generalErrors.pageFailure' | cxTranslate }}
            </div>
            <cx-spinner *ngIf="customerSearchLoading$ | async"></cx-spinner>
            <div *ngIf="customerSearchPage$ | async as customerSearchPage">
              <table
                id="asm-cusomer-list-table"
                role="table"
                class="table"
                *ngIf="loaded"
              >
                <caption class="cx-visually-hidden">
                  {{
                    'asm.customerList.title' | cxTranslate
                  }}
                </caption>
                <thead *ngIf="(breakpoint$ | async) === BREAKPOINT.md">
                  <tr role="row">
                    <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
                    <ng-container *cxFeatureLevel="'!6.1'">
                      <th
                        role="columnheader"
                        class="cx-avatar-cell"
                        *ngIf="customerListConfig?.showAvatar"
                      >
                        <span class="cx-visually-hidden">
                          {{
                            'asm.customerList.tableHeader.customer'
                              | cxTranslate
                          }}
                        </span>
                      </th>
                    </ng-container>
                    <th
                      role="columnheader"
                      *ngFor="let column of customerListConfig?.columns"
                    >
                      <span
                        *ngIf="
                          column.headerLocalizationKey &&
                          column.headerLocalizationKey !== 'hideHeaders'
                        "
                      >
                        <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
                        <ng-container *cxFeatureLevel="'!6.1'">
                          {{ column.headerLocalizationKey | cxTranslate }}
                        </ng-container>
                        <ng-container *cxFeatureLevel="'6.1'">
                          <!-- TODO:(CXSPA-3090) for next major release replace the translation lable -->
                          <ng-container
                            *ngIf="
                              column.headerLocalizationKey ===
                              'asm.customerList.tableHeader.customer'
                            "
                          >
                            {{
                              'asm.customerList.tableHeader.customerName'
                                | cxTranslate
                            }}
                          </ng-container>
                          <!-- TODO:(CXSPA-3090) for next major release replace the translation lable -->
                          <ng-container
                            *ngIf="
                              column.headerLocalizationKey ===
                              'asm.customerList.tableHeader.email'
                            "
                          >
                            {{
                              'asm.customerList.tableHeader.emailId'
                                | cxTranslate
                            }}
                          </ng-container>
                          <ng-container
                            *ngIf="
                              column.headerLocalizationKey !==
                                'asm.customerList.tableHeader.customer' &&
                              column.headerLocalizationKey !==
                                'asm.customerList.tableHeader.email'
                            "
                          >
                            {{ column.headerLocalizationKey | cxTranslate }}
                          </ng-container>
                        </ng-container>
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    role="row"
                    *ngFor="let customerEntry of customerSearchPage?.entries"
                  >
                    <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
                    <ng-container *cxFeatureLevel="'!6.1'">
                      <td
                        role="cell"
                        *ngIf="customerListConfig?.showAvatar"
                        class="cx-avatar-cell"
                      >
                        <div class="cx-avatar">
                          {{ getBadgeText(customerEntry) }}
                        </div>
                      </td>
                    </ng-container>
                    <!-- multi columns if desktop -->
                    <ng-container
                      *ngIf="(breakpoint$ | async) === BREAKPOINT.md"
                    >
                      <td
                        role="cell"
                        *ngFor="let column of customerListConfig?.columns"
                      >
                        <ng-template
                          *ngTemplateOutlet="
                            cell;
                            context: {
                              customerEntry: customerEntry,
                              column: column,
                              showHeader: false
                            }
                          "
                        ></ng-template>
                      </td>
                    </ng-container>
                    <!-- two column if tablet -->
                    <ng-container
                      *ngIf="(breakpoint$ | async) === BREAKPOINT.sm"
                    >
                      <td role="cell" class="cx-multi-cell">
                        <ng-container
                          *ngFor="
                            let column of customerListConfig?.columns;
                            let even = even
                          "
                        >
                          <ng-container *ngIf="even">
                            <ng-template
                              *ngTemplateOutlet="
                                cell;
                                context: {
                                  customerEntry: customerEntry,
                                  column: column,
                                  showHeader: true
                                }
                              "
                            ></ng-template>
                          </ng-container>
                        </ng-container>
                      </td>
                      <td role="cell" class="cx-multi-cell">
                        <ng-container
                          *ngFor="
                            let column of customerListConfig?.columns;
                            let odd = odd
                          "
                        >
                          <ng-container *ngIf="odd">
                            <ng-template
                              *ngTemplateOutlet="
                                cell;
                                context: {
                                  customerEntry: customerEntry,
                                  column: column,
                                  showHeader: true
                                }
                              "
                            ></ng-template>
                          </ng-container>
                        </ng-container>
                      </td>
                    </ng-container>
                    <!-- one column if mobile -->
                    <td
                      role="cell"
                      class="cx-multi-cell"
                      *ngIf="(breakpoint$ | async) === BREAKPOINT.xs"
                    >
                      <ng-container
                        *ngFor="let column of customerListConfig?.columns"
                      >
                        <ng-template
                          *ngTemplateOutlet="
                            cell;
                            context: {
                              customerEntry: customerEntry,
                              column: column,
                              showHeader: true
                            }
                          "
                        ></ng-template>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="cx-empty-state"
                *ngIf="!customerSearchPage?.entries.length"
              >
                {{ 'asm.customerList.noCustomers' | cxTranslate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
      <ng-container *cxFeatureLevel="'6.1'">
        <!-- Modal Foot -->
        <div
          class="cx-dialog-sub-header modal-header cx-dialog-foot"
          [class.tablet-mobile]="(breakpoint$ | async) !== BREAKPOINT.md"
          *ngIf="customerListsPage$ | async as customerListsPage"
        >
          <div
            class="cx-header-actions"
            [class.mobile]="(breakpoint$ | async) === BREAKPOINT.xs"
          >
            <div *ngIf="customerSearchPage$ | async as customerSearchPage">
              <cx-pagination
                [pagination]="customerSearchPage.pagination"
                (viewPageEvent)="changePage($event)"
              ></cx-pagination>
            </div>
          </div>
        </div>
        <div class="cx-dialog-footer modal-footer">
          <button
            type="button"
            class="btn cx-asm-customer-list-btn-cancel"
            (click)="closeModal('Cancel click')"
          >
            {{ 'asm.createCustomerForm.cancel' | cxTranslate }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template
  #cell
  let-customerEntry="customerEntry"
  let-column="column"
  let-showHeader="showHeader"
>
  <div
    class="cx-cell-container"
    *ngIf="column.headerLocalizationKey !== 'hideHeaders'"
  >
    <span class="cx-header-text" *ngIf="showHeader">
      {{ column.headerLocalizationKey | cxTranslate }}
    </span>

    <ng-container *ngIf="!column.actionType">
      <ng-container
        *ngTemplateOutlet="
          cellContent;
          context: { column: column, customerEntry: customerEntry }
        "
      ></ng-container>
    </ng-container>

    <!-- TODO:(CXSPA-3090) for next major release remove feature level -->
    <ng-container *cxFeatureLevel="'6.1'">
      <div
        class="cx-avatar"
        *ngIf="
          customerListConfig?.showAvatar &&
          column?.actionType === customerListColumnActionType?.START_SESSION
        "
      >
        <img
          *ngIf="customerEntry?.userAvatar?.url"
          [attr.src]="
            occConfig?.backend?.occ?.baseUrl + customerEntry?.userAvatar?.url
          "
          alt="{{ 'asm.mainLogoLabel' | cxTranslate }}"
        />
        <div class="cx-avatar-text" *ngIf="!customerEntry?.userAvatar?.url">
          {{ getBadgeText(customerEntry) }}
        </div>
      </div>
    </ng-container>

    <button
      *ngIf="column.actionType"
      (click)="startColumnAction(customerEntry, column.actionType)"
      class="btn btn-link cx-action-link cx-btn-cell"
      [class]="column.actionType === 'ACTIVE_CART' ? 'cx-cart' : ''"
      [disabled]="isRequired(customerEntry, column.actionType)"
      [attr.title]="
        column.icon
          ? (column.icon.captionLocalizationKey ?? column.headerLocalizationKey
            | cxTranslate)
          : undefined
      "
      [attr.aria-label]="
        column.icon
          ? (column.icon.captionLocalizationKey ?? column.headerLocalizationKey
            | cxTranslate)
          : undefined
      "
    >
      <ng-container
        *ngTemplateOutlet="
          cellContent;
          context: { column: column, customerEntry: customerEntry }
        "
      ></ng-container>
    </button>
  </div>
</ng-template>
<ng-template #cellContent let-customerEntry="customerEntry" let-column="column">
  <div>
    <span *ngIf="!column.icon">{{
      column.renderer?.(customerEntry) || ''
    }}</span>
    <cx-icon
      *ngIf="column.icon"
      [attr.title]="
        !column.actionType
          ? (column.icon.captionLocalizationKey ?? column.headerLocalizationKey
            | cxTranslate)
          : undefined
      "
      [class.cx-action-color]="
        column.actionType && !isRequired(customerEntry, column.actionType)
      "
      [type]="column.icon.symbol"
      [attr.aria-label]="
        !column.actionType
          ? (column.icon.captionLocalizationKey ?? column.headerLocalizationKey
            | cxTranslate)
          : undefined
      "
    ></cx-icon>
  </div>
</ng-template>

<ng-template #search>
  <div class="form-group search-wrapper">
    <input
      [formControl]="searchBox"
      (keyup)="onKey($event)"
      type="text"
      class="form-control"
      placeholder="{{ 'asm.customerList.searchBox' | cxTranslate }}"
      attr.aria-label="{{ 'asm.customerList.enterSearchBox' | cxTranslate }}"
    />
    <cx-icon
      [type]="iconTypes.SEARCH"
      role="button"
      [attr.aria-label]="'storeFinder.searchNearestStores' | cxTranslate"
      class="search"
      (click)="searchCustomers()"
    ></cx-icon>
  </div>
</ng-template>

<ng-template #total let-customerSearchPage="customerSearchPage">
  <span class="cx-total" *ngIf="customerSearchPage?.pagination?.totalResults">
    <ng-container *ngIf="customerSearchPage?.pagination?.totalResults > 1">
      {{
        'asm.customerList.noOfCustomers'
          | cxTranslate: { count: customerSearchPage?.pagination?.totalResults }
      }}
    </ng-container>
    <ng-container *ngIf="customerSearchPage?.pagination?.totalResults === 1">
      {{ 'asm.customerList.oneCustomer' | cxTranslate }}
    </ng-container>
  </span>
</ng-template>

<ng-template #sort>
  <label>
    <span class="cx-visually-hidden">{{
      'asm.customerList.tableSort.sortBy' | cxTranslate
    }}</span>
    <cx-sorting
      class="sort-selector"
      [sortOptions]="sorts"
      [sortLabels]="getSortLabels() | async"
      (sortListEvent)="changeSortCode($event)"
      [selectedOption]="sortCode"
      placeholder="{{ 'asm.customerList.tableSort.sortBy' | cxTranslate }}"
      [cxNgSelectA11y]="{
        ariaLabel: sortCode,
        ariaControls: 'asm-cusomer-list-table'
      }"
    ></cx-sorting>
  </label>
</ng-template>

<ng-template #pagination>
  <div class="cx-pagination-buttons">
    <div>
      {{
        'asm.customerList.page.page' | cxTranslate: { count: currentPage + 1 }
      }}
    </div>
    <button
      *ngIf="maxPage > 0"
      (click)="goToPreviousPage()"
      class="btn btn-link cx-action-link cx-btn-previous"
      [disabled]="currentPage === 0 || !loaded"
    >
      <cx-icon class="previous" [type]="iconTypes.CARET_LEFT"></cx-icon
      ><span>{{ 'asm.customerList.page.previous' | cxTranslate }}</span>
    </button>
    <button
      *ngIf="maxPage > 0"
      (click)="goToNextPage()"
      class="btn btn-link cx-action-link cx-btn-next"
      [disabled]="currentPage === maxPage || !loaded"
    >
      <span>{{ 'asm.customerList.page.next' | cxTranslate }}</span
      ><cx-icon class="next" [type]="iconTypes.CARET_RIGHT"></cx-icon>
    </button>
  </div>
</ng-template>

<ng-template #groupSelector let-customerListsPage="customerListsPage">
  <label>
    <span class="cx-visually-hidden">{{
      'asm.customerList.title' | cxTranslate
    }}</span>
    <ng-select
      class="customer-list-selector"
      [searchable]="false"
      [clearable]="false"
      (change)="onChangeCustomerGroup()"
      [tabIndex]="0"
      [(ngModel)]="selectedUserGroupId"
      [items]="customerListsPage?.userGroups"
      bindLabel="name"
      bindValue="uid"
      [cxNgSelectA11y]="{
        ariaLabel: getGroupName(customerListsPage, selectedUserGroupId),
        ariaControls: 'asm-cusomer-list-table'
      }"
    >
    </ng-select>
  </label>
</ng-template>

<ng-template #closeButton>
  <button
    type="button"
    class="close"
    attr.aria-label="{{ 'common.close' | cxTranslate }}"
    (click)="closeModal('Cross click')"
  >
    <span aria-hidden="true">
      <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
    </span>
  </button>
</ng-template>

<ng-template #createCustomerButton>
  <button
    type="button"
    class="btn cx-asm-create-customer-btn"
    (click)="createCustomer()"
  >
    <cx-icon [type]="iconTypes.USER_PLUS"></cx-icon>
    <span>{{ 'asm.customerList.createCustomer' | cxTranslate }}</span>
  </button>
</ng-template>
