<div
  class="asm-customer-list"
  [cxFocus]="focusConfig"
  (esc)="closeModal('Escape clicked')"
>
  <!-- Modal Header -->
  <ng-container>
    <div class="cx-dialog-header modal-header">
      <h2 class="title modal-title">
        {{ 'asm.customerList.title' | cxTranslate }}
      </h2>
      <ng-template *ngTemplateOutlet="closeButton"></ng-template>
    </div>
    <div
      class="cx-dialog-sub-header modal-header"
      [class.tablet-mobile]="(breakpoint$ | async) !== BREAKPOINT.md"
      *ngIf="customerListsPage$ | async as customerListsPage"
    >
      <ng-template
        *ngTemplateOutlet="
          groupSelector;
          context: { customerListsPage: customerListsPage }
        "
      ></ng-template>
      <div
        class="header-actions"
        [class.mobile]="(breakpoint$ | async) === BREAKPOINT.xs"
      >
        <ng-template *ngTemplateOutlet="sort"></ng-template>
        <ng-template *ngTemplateOutlet="pagination"></ng-template>
      </div>
    </div>
    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="cx-dialog-row">
        <div class="cx-dialog-item">
          <div
            *ngIf="
              customerSearchPage$ | async as customerSearchPage;
              else spinner
            "
          >
            <table role="table" class="table">
              <thead *ngIf="(breakpoint$ | async) === BREAKPOINT.md">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    {{ 'asm.customerList.tableHeader.customer' | cxTranslate }}
                  </th>
                  <th scope="col">
                    {{ 'asm.customerList.tableHeader.emailOrId' | cxTranslate }}
                  </th>
                  <th scope="col">
                    {{ 'asm.customerList.tableHeader.phone' | cxTranslate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customerEntry of customerSearchPage.entries">
                  <td>
                    <div>
                      {{ getbadgeText(customerEntry) }}
                    </div>
                  </td>
                  <td>
                    <div>
                      <span
                        class="header-text"
                        *ngIf="(breakpoint$ | async) !== BREAKPOINT.md"
                        >{{
                          'asm.customerList.tableHeader.name' | cxTranslate
                        }}</span
                      >
                      <button
                        (click)="selectCustomer(customerEntry)"
                        class="btn btn-link cx-action-link btn-cell"
                      >
                        <span>{{ customerEntry.name }}</span>
                      </button>
                      <div *ngIf="(breakpoint$ | async) !== BREAKPOINT.md">
                        <span class="header-text">
                          {{
                            'asm.customerList.tableHeader.phone' | cxTranslate
                          }}
                        </span>
                        <span>{{ customerEntry?.defaultAddress?.phone }}</span>
                      </div>

                      <div *ngIf="(breakpoint$ | async) === BREAKPOINT.xs">
                        <span class="header-text">
                          {{
                            'asm.customerList.tableHeader.emailOrId'
                              | cxTranslate
                          }}
                        </span>
                        <span>{{ customerEntry.uid }}</span>
                      </div>
                    </div>
                  </td>
                  <td
                    [class.align-top]="(breakpoint$ | async) === BREAKPOINT.sm"
                    *ngIf="(breakpoint$ | async) !== BREAKPOINT.xs"
                  >
                    <div>
                      <span
                        class="header-text"
                        *ngIf="(breakpoint$ | async) !== BREAKPOINT.md"
                        >{{
                          'asm.customerList.tableHeader.emailOrId' | cxTranslate
                        }}</span
                      >
                      <span>{{ customerEntry.uid }}</span>
                    </div>
                  </td>
                  <td *ngIf="(breakpoint$ | async) === BREAKPOINT.md">
                    {{ customerEntry?.defaultAddress?.phone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #sort>
  <div class="sort">
    <cx-icon [type]="iconTypes.SORT_AMOUNT_DOWN"></cx-icon>
    <ng-select
      class="sort-selector"
      *ngIf="dateSorts"
      [searchable]="false"
      [clearable]="false"
      (change)="fetchCustomers()"
      [tabIndex]="0"
      [(ngModel)]="sortCode"
      [attr.aria-label]="'asm.customerList.tableSort.' + sortCode | cxTranslate"
    >
      <ng-option *ngFor="let sort of dateSorts" [value]="sort.code">
        {{ 'asm.customerList.tableSort.' + sort.code | cxTranslate }}
      </ng-option>
    </ng-select>
  </div>
</ng-template>

<ng-template #pagination>
  <div class="pagination-buttons">
    <div>
      {{
        'asm.customerList.page.page' | cxTranslate: { count: currentPage + 1 }
      }}
    </div>
    <button
      *ngIf="maxPage > 0"
      (click)="goToPreviousPage()"
      class="btn btn-link cx-action-link btn-previous"
      [disabled]="currentPage === 0 || !loaded"
    >
      <cx-icon class="previous" [type]="iconTypes.CARET_LEFT"></cx-icon
      ><span>{{ 'asm.customerList.page.previous' | cxTranslate }}</span>
    </button>
    <button
      *ngIf="maxPage > 0"
      (click)="goToNextPage()"
      class="btn btn-link cx-action-link btn-next"
      [disabled]="currentPage === maxPage || !loaded"
    >
      <span>{{ 'asm.customerList.page.next' | cxTranslate }}</span
      ><cx-icon class="next" [type]="iconTypes.CARET_RIGHT"></cx-icon>
    </button>
  </div>
</ng-template>

<ng-template #groupSelector let-customerListsPage="customerListsPage">
  <ng-select
    class="customer-list-selector"
    [searchable]="false"
    [clearable]="false"
    (change)="onChangeCustomerGroup()"
    [tabIndex]="0"
    [(ngModel)]="selectedUserGroupId"
    [items]="customerListsPage?.userGroups"
    bindLabel="name"
    bindValue="uid"
    [attr.aria-label]="getGroupName(customerListsPage, selectedUserGroupId)"
  >
  </ng-select>
</ng-template>
<ng-template #spinner>
  <cx-spinner></cx-spinner>
</ng-template>

<ng-template #closeButton>
  <button
    type="button"
    class="close"
    attr.aria-label="{{ 'common.close' | cxTranslate }}"
    cxModal="dismiss"
    cxModalReason="Cross click"
  >
    <span aria-hidden="true">
      <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
    </span>
  </button>
</ng-template>
