<div #dialog>
  <!-- Modal Header -->
  <ng-container>
    <div class="cx-dialog-header modal-header">
      <div class="title modal-title">
        {{ 'asm.customerList.title' | cxTranslate }}
      </div>
      <ng-template *ngTemplateOutlet="closeButton"></ng-template>
    </div>
    <div
      class="cx-dialog-sub-header modal-header"
      *ngIf="customerListsPage$ | async as customerListsPage"
    >
      <ng-template
        *ngTemplateOutlet="
          groupSelector;
          context: { customerListsPage: customerListsPage }
        "
      ></ng-template>
      <div class="header-actions">
        <ng-template *ngTemplateOutlet="pagination"></ng-template>
      </div>
    </div>
    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="cx-dialog-row">
        <div class="cx-dialog-item">
          <div
            *ngIf="
              customerSearchPage$ | async as customerSearchPage;
              else spinner
            "
          >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <sapn>{{
                      'asm.customerList.tableHeader.name' | cxTranslate
                    }}</sapn>
                    <cx-icon
                      (click)="sortByName()"
                      [type]="dataSortIconType"
                    ></cx-icon>
                  </th>
                  <th scope="col">
                    {{ 'asm.customerList.tableHeader.emailOrId' | cxTranslate }}
                  </th>
                  <th scope="col">
                    {{ 'asm.customerList.tableHeader.phone' | cxTranslate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customerEntry of customerSearchPage.entries">
                  <td>
                    <div>
                      {{ getbadgeText(customerEntry) }}
                    </div>
                  </td>
                  <td>
                    <a (click)="selectCustomer(customerEntry)">{{
                      customerEntry.name
                    }}</a>
                  </td>
                  <td>{{ customerEntry.uid }}</td>
                  <td>{{ customerEntry?.defaultAddress?.phone }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #pagination>
  <div class="pagination-buttons">
    <div>
      {{
        'asm.customerList.page.page' | cxTranslate: { count: currentPage + 1 }
      }}
    </div>
    <button
      *ngIf="maxPage > 0"
      (click)="goToPreviousPage()"
      class="btn btn-link cx-action-link previous"
      [disabled]="currentPage === 0 || !loaded"
    >
      <cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon
      ><span>{{ 'asm.customerList.page.previous' | cxTranslate }}</span>
    </button>
    <button
      *ngIf="maxPage > 0"
      (click)="goToNextPage()"
      class="btn btn-link cx-action-link next"
      [disabled]="currentPage === maxPage || !loaded"
    >
      <span>{{ 'asm.customerList.page.next' | cxTranslate }}</span
      ><cx-icon [type]="iconTypes.CARET_RIGHT"></cx-icon>
    </button>
  </div>
</ng-template>

<ng-template #groupSelector let-customerListsPage="customerListsPage">
  <ng-select
    [searchable]="false"
    [clearable]="false"
    (change)="onChangeCustomerGroup()"
    [tabIndex]="0"
    [(ngModel)]="selectedUserGroupId"
    [items]="customerListsPage?.userGroups"
    bindLabel="name"
    bindValue="uid"
  >
  </ng-select>
</ng-template>
<ng-template #spinner>
  <div><cx-spinner></cx-spinner></div>
</ng-template>

<ng-template #closeButton>
  <button
    type="button"
    class="close"
    attr.aria-label="{{ 'common.close' | cxTranslate }}"
    cxModal="dismiss"
    cxModalReason="Cross click"
  >
    <span aria-hidden="true">
      <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
    </span>
  </button>
</ng-template>
