<ng-container *ngIf="subscriptions() as list; else loading">
  <h2 class="subscription-list-title">
    {{ 'subscriptionList.title' | cxTranslate }}
    ({{ list.pagination?.totalResults || 0 }})
  </h2>

  <ng-container *ngIf="list.results?.length; else noSubscriptions">
    <div class="subscription-list-sort top">
      <label class="subscription-list-form-group form-group">
        <span>
          {{ 'subscriptionList.sortSubtitle' | cxTranslate }}
        </span>
        <cx-sorting
          [sortOptions]="list.sorts"
          (sortListEvent)="changeSortCode($event)"
          [selectedOption]="list.pagination?.sort"
          placeholder="{{ 'subscriptionList.sortSubtitle' | cxTranslate }}"
          [ariaLabel]="'subscriptionList.sortOrders' | cxTranslate"
          ariaControls="subscription-list-table"
        ></cx-sorting>
      </label>
    </div>

    <ng-container *ngFor="let subscription of list.results">
      <div class="subscription">
        <div class="subscription-header">
          <div
            class="subscription-name"
            *ngIf="subscription.name"
            [attr.aria-label]="'subscriptionList.product' | cxTranslate"
          >
            {{ subscription.name }}
          </div>
          <div
            class="subscription-status"
            *ngIf="subscription.status"
            [attr.aria-label]="'subscriptionList.status' | cxTranslate"
          >
            {{ 'subscriptionList.status' | cxTranslate }}
            <span [ngClass]="subscription.status">{{
              subscription.status
            }}</span>
          </div>
        </div>
        <div class="subscription-body">
          <div class="subscription-column-1">
            <div *ngIf="subscription.documentNumber">
              {{
                'subscriptionList.id'
                  | cxTranslate: { id: subscription.documentNumber }
              }}
            </div>
            <div
              *ngIf="
                subscription?.pricePlan?.recurringCharges[0]?.price
                  ?.formattedValue && subscription.billingTime
              "
            >
              {{
                'subscriptionList.amount'
                  | cxTranslate
                    : {
                        amount:
                          subscription?.pricePlan?.recurringCharges[0]?.price
                            ?.formattedValue,
                        time: subscription.billingTime,
                      }
              }}
            </div>
            <div *ngIf="subscription.startAt">
              {{
                'subscriptionList.startDate'
                  | cxTranslate: { date: subscription.startAt | cxDate }
              }}
            </div>
          </div>
          <div class="subscription-column-2">
            <span>
              <a
                class="btn-link cx-action-link"
                [attr.aria-label]="'subscriptionList.manageService'"
                [routerLink]="
                  {
                    cxRoute: 'subscriptionDetails',
                    params: { subscriptionId: subscription.id },
                  } | cxUrl
                "
              >
                {{ 'subscriptionList.manageService' | cxTranslate }}
              </a>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="subscription-list-sort bottom">
      <ng-container *ngIf="(list.pagination?.totalPages ?? 0) > 1">
        <cx-pagination
          [pagination]="list.pagination"
          (viewPageEvent)="pageChange($event)"
        ></cx-pagination>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #noSubscriptions>
  <div class="text-center">
    <h3>{{ 'subscriptionList.noSubscriptions' | cxTranslate }}</h3>
  </div>
</ng-template>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
