@if (subscriptions(); as list) {
  <h2 class="subscription-list-title">
    {{ 'subscriptionList.title' | cxTranslate }}
    ({{ list.pagination?.totalResults || 0 }})
  </h2>

  @if (list.results?.length) {
    <div class="subscription-list-sort top">
      <label class="subscription-list-form-group form-group">
        <span>
          {{ 'subscriptionList.sortSubtitle' | cxTranslate }}
        </span>
        <cx-sorting
          [sortOptions]="list.sorts"
          (sortListEvent)="changeSortCode($event)"
          [selectedOption]="list.pagination?.sort"
          placeholder="{{ 'subscriptionList.sortSubtitle' | cxTranslate }}"
          [ariaLabel]="'subscriptionList.sortOrders' | cxTranslate"
          ariaControls="subscription-list-table"
        ></cx-sorting>
      </label>
    </div>

    @for (subscription of list.results; track subscription) {
      <div class="subscription">
        <div class="subscription-header">
          @if (subscription.name) {
            <div
              class="subscription-name"
              [attr.aria-label]="'subscriptionList.product' | cxTranslate"
            >
              {{ subscription.name }}
            </div>
          }
          @if (subscription.status) {
            <div
              class="subscription-status"
              [attr.aria-label]="'subscriptionList.status' | cxTranslate"
            >
              {{
                'subscriptionList.status'
                  | cxTranslate: { value: subscription.status }
              }}
            </div>
          }
        </div>
        <div class="subscription-body">
          <div class="subscription-column-1">
            @if (subscription.documentNumber) {
              <div>
                {{
                  'subscriptionList.id'
                    | cxTranslate: { id: subscription.documentNumber }
                }}
              </div>
            }
            @if (
              subscription?.pricePlan?.recurringCharges[0]?.price
                ?.formattedValue && subscription.billingTime
            ) {
              <div>
                {{
                  'subscriptionList.amount'
                    | cxTranslate
                      : {
                          amount:
                            subscription?.pricePlan?.recurringCharges[0]?.price
                              ?.formattedValue,
                          time: subscription.billingTime,
                        }
                }}
              </div>
            }
            @if (subscription.startAt) {
              <div>
                {{
                  'subscriptionList.startDate'
                    | cxTranslate: { date: subscription.startAt | cxDate }
                }}
              </div>
            }
          </div>
          <div class="subscription-column-2">
            <span>
              <a
                class="btn-link cx-action-link"
                [attr.aria-label]="'subscriptionList.manageService'"
                [routerLink]="
                  {
                    cxRoute: 'subscriptionDetails',
                    params: { subscriptionId: subscription.id },
                  } | cxUrl
                "
              >
                {{ 'subscriptionList.manageService' | cxTranslate }}
              </a>
            </span>
          </div>
        </div>
      </div>
    }

    <div class="subscription-list-sort bottom">
      @if ((list.pagination?.totalPages ?? 0) > 1) {
        <cx-pagination
          [pagination]="list.pagination"
          (viewPageEvent)="pageChange($event)"
        ></cx-pagination>
      }
    </div>
  } @else {
    <div class="text-center">
      <h3>{{ 'subscriptionList.noSubscriptions' | cxTranslate }}</h3>
    </div>
  }
} @else {
  <cx-spinner></cx-spinner>
}
