<ng-container>
  <button
    class="btn btn-tertiary"
    tabindex="0"
    (click)="showOptions()"
    [attr.title]="'configurator.button.showOptions' | cxTranslate"
    [attr.aria-label]="
      'configurator.a11y.showOptionsForAttribute'
        | cxTranslate: { attribute: attributeComponentContext.attribute.label }
    "
    [attr.aria-describedby]="
      'cx-configurator--label--' + attributeComponentContext.attribute.name
    "
  >
    {{ 'configurator.button.showOptions' | cxTranslate }}
  </button>
</ng-container>
