<ng-container *ngIf="product$ | async as productAsync">
  <div
    class="cx-product-card"
    [ngClass]="{
      'cx-product-card-selected': isProductCardSelected()
    }"
  >
    <div class="cx-product-card-rows">
      <div class="cx-product-card-imgs">
        <cx-media
          [container]="productAsync?.images?.PRIMARY"
          format="product"
        ></cx-media>
      </div>

      <div class="cx-product-card-info">
        <div class="cx-product-card-name">
          <p *ngIf="productAsync?.noLink; else withLink">
            {{ productAsync.name }}
          </p>
          <ng-template #withLink>
            <a
              [routerLink]="
                { cxRoute: 'product', params: productAsync } | cxUrl
              "
              class="cx-link"
              cxModal="dismiss"
              target="_blank"
            >
              {{ productAsync.name }}</a
            >
          </ng-template>
        </div>
        <div class="cx-product-card-code">
          {{ 'configurator.attribute.id' | cxTranslate }}:
          {{ productAsync.code }}
        </div>
        <cx-configurator-show-more
          *ngIf="productAsync?.description"
          [text]="productAsync?.description"
          [textSize]="50"
        ></cx-configurator-show-more>
      </div>
    </div>

    <div
      class="cx-product-card-rows column"
      *ngIf="!productCardOptions.singleDropdown || getProductPrice()"
    >
      <div class="cx-product-card-quantity-price">
        <div class="cx-product-card-quantity">
          <cx-configurator-attribute-quantity
            *ngIf="showQuantity"
            (changeQuantity)="onChangeQuantity($event)"
            [quantityOptions]="extractQuantityParameters(loading$ | async)"
          ></cx-configurator-attribute-quantity>
        </div>
        <div class="cx-product-card-price">
          <cx-configurator-price
            [formula]="extractPriceFormulaParameters()"
          ></cx-configurator-price>
        </div>
      </div>
      <div class="cx-product-card-action">
        <div
          class="cx-product-card-action-btn"
          *ngIf="!productCardOptions?.singleDropdown"
        >
          <ng-container *ngIf="productCardOptions?.multiSelect; else single">
            <button
              *ngIf="productCardOptions?.product?.selected; else select"
              class="btn btn-action"
              (click)="onHandleDeselect()"
              [disabled]="
                productCardOptions?.preventAction || (loading$ | async)
              "
            >
              {{ 'configurator.button.remove' | cxTranslate }}
            </button>
            <ng-template #select>
              <button
                class="btn btn-primary"
                (click)="onHandleSelect()"
                [disabled]="loading$ | async"
              >
                {{ 'configurator.button.add' | cxTranslate }}
              </button>
            </ng-template>
          </ng-container>
          <ng-template #single>
            <button
              class="btn btn-primary"
              (click)="onHandleSelect()"
              [disabled]="loading$ | async"
              *ngIf="!productCardOptions?.product?.selected; else deselect"
            >
              {{ 'configurator.button.select' | cxTranslate }}
            </button>
            <ng-template #deselect>
              <ng-container
                *ngIf="
                  isValueCodeDefined(productCardOptions?.product?.valueCode)
                "
              >
                <button
                  *ngIf="!productCardOptions?.preventAction"
                  class="btn btn-action"
                  (click)="onHandleDeselect()"
                  [disabled]="loading$ | async"
                >
                  {{ 'configurator.button.deselect' | cxTranslate }}
                </button>
              </ng-container>
            </ng-template>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
