@if (abstractOrderKey$ | async; as abstractOrderKey) {
  @if (cartEntry) {
    @if (isDisabled()) {
      <label class="disabled-link">
        @if (isDisabled()) {
          @if (getDisplayOnly()) {
            {{ 'configurator.header.displayConfiguration' | cxTranslate }}
          }
          @if (!getDisplayOnly() && !msgBanner) {
            {{ 'configurator.header.editConfiguration' | cxTranslate }}
          }

          @if (!getDisplayOnly() && msgBanner) {
            {{ 'configurator.header.resolveIssues' | cxTranslate }}
          }
        }
      </label>
    }

    @if (!isDisabled()) {
      <a
        class="link cx-action-link"
        [routerLink]="
          {
            cxRoute: getRoute(),
            params: {
              ownerType:
                retrieveOwnerTypeFromAbstractOrderType(abstractOrderKey),
              entityKey: retrieveEntityKey(abstractOrderKey),
              displayOnly: getDisplayOnly(),
            },
          } | cxUrl
        "
        [queryParams]="queryParams$ | async"
        cxAutoFocus
        attr.aria-describedby="{{ getResolveIssuesA11yDescription() }}"
      >
        @if (!isDisabled()) {
          @if (getDisplayOnly()) {
            {{ 'configurator.header.displayConfiguration' | cxTranslate }}
          }
          @if (!getDisplayOnly() && !msgBanner) {
            {{ 'configurator.header.editConfiguration' | cxTranslate }}
          }

          @if (!getDisplayOnly() && msgBanner) {
            {{ 'configurator.header.resolveIssues' | cxTranslate }}
          }
        }
      </a>
    }
  }
}
