<div class="cx-quick-order-header">
  <h3>{{ 'quickOrderContainer.addProducts' | cxTranslate }}</h3>

  <!-- To verify if it is required -->
  <p>You can add up to # valid SKU's below and add to Cart</p>
</div>

<div class="cx-quick-order-body">
  <cx-quick-order-form></cx-quick-order-form>
</div>

<div class="cx-quick-order-footer row">
  <div class="col-xs-12 col-md-5 col-lg-4">
    <button
      (click)="clear()"
      aria-label="Empty list"
      class="btn btn-block btn-action"
      type="button"
    >
      {{ 'quickOrderContainer.emptyList' | cxTranslate }}
    </button>
  </div>

  <div class="col-xs-12 col-md-5 col-lg-4">
    <button
      (click)="addToCart()"
      aria-label="Save"
      class="btn btn-block btn-primary"
      type="button"
    >
      {{ 'quickOrderContainer.addToCart' | cxTranslate }}
    </button>
  </div>
</div>
