<cx-organization-card *ngIf="model$ | async as model" i18nRoot="budget.details">
  <a
    actions
    class="link"
    [class.disabled]="!model.active"
    [routerLink]="{ cxRoute: 'budgetEdit', params: model } | cxUrl"
  >
    {{ 'organization.edit' | cxTranslate }}
  </a>
  <button
    actions
    class="button active"
    [disabled]="!model.orgUnit?.active"
    (click)="toggleActive(model)"
  >
    {{ 'organization.' + (model.active ? 'disable' : 'enable') | cxTranslate }}
  </button>

  <cx-organization-message
    main
    (confirm)="update(model)"
    i18nConfirm="organization.disable"
  ></cx-organization-message>

  <section main>
    <div class="details">
      <div class="property">
        <label>{{ 'budget.name' | cxTranslate }}</label>
        <span class="value">
          {{ model.name }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.code' | cxTranslate }}</label>
        <span class="value">
          {{ model.code }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.active' | cxTranslate }}</label>
        <span class="value" [class.is-active]="model.active">
          {{
            (model.active ? 'organization.enabled' : 'organization.disabled')
              | cxTranslate
          }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.amount' | cxTranslate }}</label>
        <span class="value">
          {{ model.budget }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.currency' | cxTranslate }}</label>
        <span class="value">
          {{ model.currency?.isocode }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.unit' | cxTranslate }}</label>
        <a
          class="value"
          [routerLink]="
            {
              cxRoute: 'orgUnitDetails',
              params: model.orgUnit
            } | cxUrl
          "
        >
          {{ model.orgUnit?.name }}
        </a>
      </div>
    </div>
  </section>

  <section main class="link-list">
    <a
      class="link"
      [routerLink]="{ cxRoute: 'budgetCostCenters', params: model } | cxUrl"
      routerLinkActive="is-current"
    >
      {{ 'budget.costCenters.link' | cxTranslate }}
    </a>
  </section>
</cx-organization-card>
