<cx-organization-card *ngIf="budget$ | async as model">
  <a
    actions
    class="link"
    [class.disabled]="!model.active"
    [routerLink]="{ cxRoute: 'budgetEdit', params: model } | cxUrl"
  >
    {{ 'organization.edit' | cxTranslate }}
  </a>
  <button
    actions
    *ngIf="model.active; else disabled"
    class="button active"
    (click)="openModal(confirmDisable)"
  >
    {{ 'organization.disable' | cxTranslate }}
  </button>
  <ng-template #disabled>
    <button
      class="button"
      [disabled]="!model.orgUnit?.active"
      (click)="update({ code: model.code, active: true })"
    >
      {{ 'organization.enable' | cxTranslate }}
    </button>
  </ng-template>

  <section main>
    <div class="details">
      <div class="property">
        <label>{{ 'budget.name' | cxTranslate }}</label>
        <span class="value">
          {{ model.name }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.code' | cxTranslate }}</label>
        <span class="value">
          {{ model.code }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.amount' | cxTranslate }}</label>
        <span class="value">
          {{ model.budget }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.currency' | cxTranslate }}</label>
        <span class="value">
          {{ model.currency?.isocode }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'budget.unit' | cxTranslate }}</label>
        <a
          class="value"
          [routerLink]="
            {
              cxRoute: 'orgUnitDetails',
              params: model.orgUnit
            } | cxUrl
          "
        >
          {{ model.orgUnit?.name }}
          <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
        </a>
      </div>
    </div>
  </section>
  <section main>
    <div class="child-link" routerLinkActive="active">
      <h4>
        <a
          class="link"
          [routerLink]="{ cxRoute: 'budgetCostCenters', params: model } | cxUrl"
        >
          {{ 'budget.costCenters.link' | cxTranslate }}
          <cx-icon type="CARET_RIGHT"></cx-icon>
        </a>
      </h4>
    </div>
  </section>
</cx-organization-card>
<!-- <cx-organization-view>
  
</cx-organization-view> -->

<!-- <cx-view #view>
  <div class="card">
    <ng-container *ngIf="budget$ | async as budget">
      <cx-organization-card-header viewType="budget">
        
      </cx-organization-card-header>

      <div class="main">
        
       

      </div>
    </ng-container>
  </div>
</cx-view>

<router-outlet></router-outlet>
 -->

<ng-template #confirmDisable>
  <cx-confirm-modal
    *ngIf="budget$ | async as budget"
    [title]="'budget.messages.deactivateHeader' | cxTranslate"
    [message]="'budget.messages.deactivate' | cxTranslate"
    (confirm)="update({ code: budget.code, active: false })"
  ></cx-confirm-modal>
</ng-template>
