<cx-organization-card *ngIf="budget$ | async as model">
  <a
    actions
    class="link"
    [class.disabled]="!model.active"
    [routerLink]="{ cxRoute: 'budgetEdit', params: model } | cxUrl"
  >
    {{ 'organization.edit' | cxTranslate }}
  </a>
  <button
    actions
    *ngIf="model.active; else disabled"
    class="button active"
    (click)="toggleConfirm(model)"
  >
    {{ 'organization.disable' | cxTranslate }}
  </button>
  <ng-template #disabled>
    <button
      class="button"
      [disabled]="!model.orgUnit?.active"
      (click)="toggleActive(model)"
    >
      {{ 'organization.enable' | cxTranslate }}
    </button>
  </ng-template>
  <!-- 
  <div class="confirmation" confirmation *ngIf="confirm$ | async as confirm">
    <p>{{ confirm.message | cxTranslate }}</p>
    <button class="button" (click)="cancelConfirm()">
      {{ 'organization.cancel' | cxTranslate }}
    </button>
    <button class="button primary" (click)="toggleActive(model)">
      {{ 'organization.disable' | cxTranslate }}
    </button>
  </div> -->

  <section main class="details">
    <div class="property">
      <label>{{ 'budget.name' | cxTranslate }}</label>
      <span class="value">
        {{ model.name }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'budget.code' | cxTranslate }}</label>
      <span class="value">
        {{ model.code }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'budget.active' | cxTranslate }}</label>
      <span class="value" [class.is-active]="model.active">
        {{
          (model.active ? 'organization.enabled' : 'organization.disabled')
            | cxTranslate
        }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'budget.amount' | cxTranslate }}</label>
      <span class="value">
        {{ model.budget }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'budget.currency' | cxTranslate }}</label>
      <span class="value">
        {{ model.currency?.isocode }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'budget.unit' | cxTranslate }}</label>
      <a
        class="value"
        [routerLink]="
          {
            cxRoute: 'orgUnitDetails',
            params: model.orgUnit
          } | cxUrl
        "
      >
        {{ model.orgUnit?.name }}
      </a>
    </div>
  </section>

  <section main class="link-list">
    <a
      class="link"
      [routerLink]="{ cxRoute: 'budgetCostCenters', params: model } | cxUrl"
      routerLinkActive="is-current"
    >
      {{ 'budget.costCenters.link' | cxTranslate }}
    </a>
  </section>
</cx-organization-card>

<!-- <ng-template #confirmDisable>
  <cx-confirm-modal
    *ngIf="budget$ | async as budget"
    [title]="'budget.messages.deactivateHeader' | cxTranslate"
    [message]="'budget.messages.deactivate' | cxTranslate"
    (confirm)="update({ code: budget.code, active: false })"
  ></cx-confirm-modal>
</ng-template> -->
