%cx-login {
  @include media-breakpoint-down(md) {
    > a {
      padding: 1rem;
      display: block;
    }
  }

  .cx-login-greet {
    color: var(--cx-color-inverse);
    @include type('7');
    font-weight: var(--cx-font-weight-semi);

    @include media-breakpoint-down(md) {
      color: var(--cx-color-text);
      padding: 0.5rem 1rem 0;
      @include type();
    }
  }
}
