.cx-my-account-v2-user {
  border: 1px solid var(--cx-color-light);
  width: 250px;
  padding: 20px 5px 5px 25px;
  gap: 40px;
  height: 120px;
  margin: 40px 0px 0px 5px;

  .cx-name {
    .cx-sign-out {
      text-decoration: underline;
    }
  }
}
