<md-card *ngFor="let class of model?.classifications">
    <md-card-title [innerHTML]="class.name"></md-card-title>
    <md-card-content *ngFor="let feature of class.features">
        <div >
            {{ feature.name }}
        </div>
        <md-list dense>
            <md-list-item *ngFor="let featureValue of feature.featureValues">
                <h4 md-line>{{featureValue.value}} {{feature.featureUnit.symbol}}</h4>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>