%cx-order-detail-items-calydon {
  margin-bottom: 15px;
  .cx-list-header {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .cx-list-status {
    padding: 15px 30px;
    background-color: var(--cx-background-color, var(--cx-color-background));
    font-size: $font-size-base * 1.125;
    font-weight: bold;
  }
}
