<ng-container *ngIf="checkoutRouteActivated$ | async">
  <h3>cart validation result warnings</h3>
  <ng-container
    *ngFor="let cartModification of cartModifications$ | async; let i = index"
  >
    <div
      class="alert alert-danger"
      *ngIf="visibleWarnings[cartModification.entry.product.code]"
    >
      <span
        >{{
          'cartValidationMessages.productOutOfStock'
            | cxTranslate: { name: cartModification.entry.product.name }
        }}
      </span>

      <button
        class="close"
        type="button"
        (click)="removeMessage(cartModification)"
      >
        X
      </button>
    </div>
  </ng-container>
</ng-container>
