<!-- <ng-container *ngIf="user$ | async as user; else login">
  <div class="cx-login-greet">
    {{ 'miniLogin.userGreeting' | cxTranslate: { name: user.name } }}
  </div>
  <cx-page-slot *ngIf=(!isCdpEnabled) 
                id="account-nav" 
                position="HeaderLinks"></cx-page-slot>
  <button
  class=" cx-login-greet"
  (click)="goToMyAccount()"
  [routerLink]="{ cxRoute: 'my-account' } | cxUrl"
  type="button"
>
My Account
</button>
  
</ng-container> -->

<ng-template #cdp>
<h3>Cdp</h3>
</ng-template>

<!-- <ng-container *ngFor="let child of node?.children">
  <ng-container *ngTemplateOutlet="nav; context: { node: child, depth: 0 }">
  </ng-container>
</ng-container> -->

  