%cx-product-references {
  padding-bottom: 50px;
  a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 10px;
    color: var(--cx-color-text);

    &:focus {
      color: var(--cx-color-primary);
      text-decoration: underline;
    }
  }

  cx-media {
    align-self: center;
    width: 60%;

    &.is-missing {
      align-self: center;
      width: 60%;
      background-size: 60%;
    }
  }
}
