<mat-card *ngFor="let class of (model$ | async)?.classifications">
  <mat-card-title [innerHTML]="class.name"></mat-card-title>
  <mat-card-content *ngFor="let feature of class.features" fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex>
      {{ feature.name }}
    </div>
    <mat-list fxFlex="50%" dense>
      <mat-list-item *ngFor="let featureValue of feature.featureValues">
        <h4 mat-line>{{featureValue.value}} {{feature.featureUnit.symbol}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
