<fieldset>
  <legend style="display: none">{{ attribute.label }}</legend>
  <div id="{{ createAttributeIdForConfigurator(attribute) }}">
    <div class="form-check" *ngFor="let value of attribute.values">
      <div class="cx-configurator-select-line">
        <input
          id="{{
            createAttributeValueIdForConfigurator(attribute, value.valueCode)
          }}"
          class="form-check-input"
          type="radio"
          formcontrolname="attributeRadioButtonForm"
          [formControl]="attributeRadioButtonForm"
          [attr.required]="attribute.required"
          [value]="value.valueCode"
          name="{{ createAttributeIdForConfigurator(attribute) }}"
          attr.name="{{ createAttributeIdForConfigurator(attribute) }}"
          [cxFocus]="{ key: attribute.name + '-' + value.name }"
          attr.aria-labelledby="{{
            createAriaLabelledBy('label', attribute.name, value.valueCode)
          }}"
          [attr.aria-checked]="
            attributeRadioButtonForm.value === value.valueCode ? true : false
          "
          [attr.checked]="
            attributeRadioButtonForm.value === value.valueCode
              ? 'checked'
              : null
          "
          (mousedown)="onMouseDown(value.valueCode)"
          (focusout)="onFocusOut($event)"
          (keyup)="onKeyUp()"
        />
        <div class="cx-configurator-attribute-value-label-container">
          <label
            id="{{
              createValueUiKey('label', attribute.name, value.valueCode)
            }}"
            for="{{
              createAttributeValueIdForConfigurator(attribute, value.valueCode)
            }}"
            class="cx-configurator-attribute-value-label form-check-label form-radio-label"
            (mousedown)="onMouseDown(value.valueCode)"
            >{{ value.valueDisplay }}</label
          >
        </div>
      </div>
    </div>
  </div>
</fieldset>
