<h4>
  {{ 'orderDetails.cancellationAndReturn.cancelNote' | cxTranslate }}
</h4>

<div class="cx-nav row">
  <div class="col-xs-12 col-md-4 col-lg-3">
    <button class="btn btn-block btn-action" (click)="back()">
      {{ 'common.back' | cxTranslate }}
    </button>
  </div>
  <div class="col-xs-12 col-md-4 col-lg-3">
    <button
      class="btn btn-block btn-primary"
      (click)="submit()"
      [disabled]="isCancelling$ | async"
    >
      {{ 'orderDetails.cancellationAndReturn.submit' | cxTranslate }}
    </button>
  </div>
</div>

<ng-container *ngIf="cancelledEntries$ | async as cancelledEntries">
  <cx-cancel-or-return-items
    [entries]="cancelledEntries"
    [cancelOrder]="true"
    [confirmRequest]="true"
  >
  </cx-cancel-or-return-items>
</ng-container>

<div class="cx-nav row">
  <div class="col-xs-12 col-md-4 col-lg-3">
    <button class="btn btn-block btn-action" (click)="back()">
      {{ 'common.back' | cxTranslate }}
    </button>
  </div>
  <div class="col-xs-12 col-md-4 col-lg-3">
    <button
      class="btn btn-block btn-primary"
      (click)="submit()"
      [disabled]="isCancelling$ | async"
    >
      {{ 'orderDetails.cancellationAndReturn.submit' | cxTranslate }}
    </button>
  </div>
</div>

<h4>
  {{ 'orderDetails.cancellationAndReturn.note' | cxTranslate }}
</h4>
