<!-- <h4>
  {{ 'orderDetails.cancellationAndReturn.cancelNote' | cxTranslate }}
</h4> -->
<form
  *ngIf="form$ | async as form"
  [formGroup]="form"
  (ngSubmit)="submit(form)"
>
  <cx-amend-order-actions
    *ngIf="orderCode"
    [orderCode]="orderCode"
    [isValid]="form.valid"
    backRoute="orderCancel"
  ></cx-amend-order-actions>

  <cx-cancel-or-return-items
    *ngIf="entries$ | async as entries"
    [entries]="entries"
    [isConfirmation]="true"
  >
  </cx-cancel-or-return-items>

  <cx-amend-order-actions
    *ngIf="orderCode"
    [orderCode]="orderCode"
    [isValid]="form.valid"
    backRoute="orderCancel"
  ></cx-amend-order-actions>

  <!-- <h4>
  {{ 'orderDetails.cancellationAndReturn.note' | cxTranslate }}
</h4> -->
</form>
