<div id="{{ uiKeyGenerator.createAttributeIdForConfigurator(attribute) }}">
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <div class="form-group">
        <div *ngIf="attribute.values && attribute.values.length !== 0">
          <ng-select
            [formControl]="attributeDropDownForm"
            [searchable]="false"
            [clearable]="false"
            [items]="internalAttribute.values"
            bindLabel="valueDisplay"
            bindValue="valueCode"
            (change)="onSelect()"
          >
          </ng-select>
        </div>
      </div>
    </div>
    <div class="cx-config-option-price col-md-3 col-lg-3"></div>
  </div>
</div>
