<ng-container *ngIf="(sflCart$ | async) as cart">
  <ng-container *ngIf="(sflEntries$ | async) as entries">
    <ng-container *ngIf="entries.length > 0">
      <div class="cart-details-wrapper">
        <div class="cx-total">
          Saved for later (2 items): $340.72
        </div>
        <cx-save-for-later-item-list
          [saveForLaterLoading]="!(sflCartLoaded$ | async)"
          [items]="entries"
          [potentialProductPromotions]="cart.potentialProductPromotions"
        >
        </cx-save-for-later-item-list>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
