<ng-container *ngIf="(sflCart$ | async) as cart">
  <ng-container *ngIf="(sflEntries$ | async) as entries">
    <div class="cart-details-wrapper">
      <div class="cx-total">
        Saved for later (2 items): $340.72
      </div>
      <cx-cart-item-list
        [items]="entries"
        [cartIsLoading]="!(sflCartLoaded$ | async)"
        [isReadOnly]="true"
        [potentialProductPromotions]="cart.potentialProductPromotions"
        [isSavedForLater]="true"
      ></cx-cart-item-list>
    </div>
  </ng-container>
</ng-container>
