<form
  (ngSubmit)="search($event)"
  [formGroup]="form"
  class="quick-order-form-container"
>
  <div class="quick-order-form-input">
    <input
      [attr.aria-label]="'common.search' | cxTranslate"
      class="form-control"
      formControlName="product"
      placeholder="{{ 'quickOrderForm.placeholder' | cxTranslate }}"
      type="text"
    />

    <cx-icon
      *ngIf="form.get('product')?.value"
      (keydown.enter)="clear($event)"
      (mousedown)="clear($event)"
      [attr.aria-label]="'common.reset' | cxTranslate"
      [type]="iconTypes.RESET"
      class="reset"
      tabindex="0"
    ></cx-icon>

    <cx-form-errors [control]="form.get('product')"></cx-form-errors>

    <span *ngIf="isDisabled" class="list-limit-reached-text">
      {{ 'quickOrderForm.listLimitReached' | cxTranslate }}
    </span>
  </div>

  <button
    [disabled]="
      form.invalid || !form.get('product')?.value?.length || isSearching
    "
    class="btn btn-primary"
    type="submit"
  >
    {{ 'common.add' | cxTranslate }}
  </button>
</form>
