<form
  (ngSubmit)="search($event)"
  [formGroup]="form"
  class="quick-order-form-container"
>
  <div class="quick-order-form-input">
    <input
      [attr.aria-label]="'common.search' | cxTranslate"
      class="form-control"
      (keyup)="setResetVisible()"
      formControlName="product"
      placeholder="{{ 'quickOrderForm.placeholder' | cxTranslate }}"
      type="text"
    />

    <cx-icon
      [type]="iconTypes.RESET"
      [hidden]="!resetVisible"
      (click)="clear($event)"
      class="reset"
      tabindex="-1">
    </cx-icon>

    <cx-icon 
      [type]="iconTypes.SEARCH"
      (click)="!isDisabled && search($event)"
      class="search"
      [class.search-disabled]="isDisabled"
      tabindex="-1">
    </cx-icon>

    <cx-form-errors [control]="form.get('product')"></cx-form-errors>

    <span *ngIf="isDisabled" class="list-limit-reached-text">
      {{ 'quickOrderForm.listLimitReached' | cxTranslate }}
    </span>
  </div>
</form>
