@import '../../theme';
@import '../../mixins';
@import '~bootstrap/scss/alert';

//alert - https://github.com/twbs/bootstrap/blob/v4-dev/scss/alert.scss
.alert {
  text-align: center;
  color: theme-color('text');
  @include type('6', 'semi');
  padding: 22px 4rem 22px 20px;
  line-height: 1.5;

  &-icon {
    height: 26px;
    margin-right: spacer(2);
    position: relative;
    display: inline-block;
    &::before {
      position: relative;
      font-size: 18px;
      font-weight: $font-weight-bold;
      text-align: center;
      display: inline-block;
      width: 26px;
      height: 26px;
    }
  }

  &-success {
    background-color: mix(#ffffff, theme-color('success'), 80%);
    border: none;
    .alert-icon {
      cx-icon {
        color: theme-color('success');
      }
    }
  }

  &-danger {
    background-color: mix(#ffffff, theme-color('danger'), 85%);
    border: none;
    .alert-icon {
      cx-icon {
        color: theme-color('danger');
      }
    }
  }

  &-info {
    background-color: mix(#ffffff, theme-color('info'), 80%);
    border: none;
    .alert-icon {
      cx-icon {
        color: theme-color('info');
      }
    }
  }

  &-warning {
    background-color: mix(#ffffff, theme-color('warning'), 78%);
    border: none;
    .alert-icon {
      cx-icon {
        color: theme-color('warning');
      }
    }
  }

  .close {
    font-size: 2rem;
    font-weight: $font-weight-normal;
  }
}
