@import '../../theme';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';

.form-control {
  margin-bottom: 0.25rem;
  &:focus {
    border-color: var(--cx-color-secondary);
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.invalid-feedback {
  text-align: left;
  &::before {
    content: '!';
    color: var(--cx-color-inverse);
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--cx-color-danger);
    margin-right: 6px;
    font-weight: var(--cx-font-weight-bold);
  }
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.is-invalid {
  color: var(--cx-color-danger);
}

input[type='checkbox'],
input[type='radio'] {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.42857;
  appearance: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  font-size: inherit;
  box-sizing: border-box;
  outline: none;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

label {
  display: block;
  .label-content {
    display: block;
    margin-bottom: $label-margin-bottom;
    &.bold {
      font-weight: var(--cx-font-weight-semi);
    }
  }
}

.form-check {
  margin-bottom: 18px;

  label {
    font-weight: var(--cx-font-weight-normal);
  }

  .form-check-label {
    display: inline-block;
    padding-left: 0.75rem;
    position: relative;
    top: 4px;
  }

  input + .form-check-label {
    color: var(--cx-color-text);

    &::after {
      content: none;
    }
  }

  input:disabled + .form-check-label {
    color: var(--cx-color-light);
  }

  input[role='checkbox'],
  input[role='radio'] {
    display: inline-block;

    &:focus {
      box-shadow: 0px 0px 0px 3px var(--cx-color-light);
      border-color: var(--cx-color-secondary);
    }
  }

  input[type='checkbox'] {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--cx-color-light);

    &:checked {
      font-style: normal;
      border-color: var(--cx-color-primary);
      background-color: var(--cx-color-primary);

      &::after {
        color: var(--cx-color-inverse);
        position: absolute;

        content: '';
        display: inline-block;
        height: 6px;
        width: 9px;
        top: 5px;
        left: 5px;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: var(--cx-color-inverse);
        transform: rotate(-45deg);
      }
    }
  }
}

.form-control[type='text'] {
  &:focus {
    background-color: var(--cx-color-background);
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

input[type='radio'] {
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: var(--cx-color-light);
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--cx-color-inverse);
    left: 4px;
    top: 4px;
  }
  &:checked {
    border-color: var(--cx-color-primary) !important;
    background-color: var(--cx-color-inverse);

    &::after {
      background-color: var(--cx-color-primary);
    }
  }
}

.form-message {
  @include type(7);
  &--danger {
    color: var(--cx-color-danger);
  }
}

.ng-select,
.ng-select.ng-select-single {
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option.ng-option-marked {
        background-color: var(--cx-color-light);
      }
    }
  }

  .ng-arrow-wrapper {
    .ng-arrow {
      border-color: var(--cx-color-text) transparent transparent;
      border-style: solid;
      border-width: 5px 5px 2.5px;
    }
  }

  .ng-select-container {
    padding: 0.6875rem 0;
    line-height: 1.6;
    height: unset;
  }
}

//theme calydon cx-base adjustments
$theme: '' !default;
@if $theme == 'calydon' {
  :focus {
    outline-color: var(--cx-color-visual-focus);
  }
  .form-control,
  select,
  input {
    &:focus {
      outline: var(--cx-color-visual-focus) auto 4px;
      outline-offset: 2px;
    }
  }
  .ng-select-focused {
    outline: var(--cx-color-visual-focus) auto 4px;
    outline-offset: 2px;
    border-color: var(--cx-color-secondary);
  }
}
