@import '../../theme';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';

.form-control {
  margin-bottom: var(--cx-margin, 0.25rem);
  &:focus {
    border-color: var(--cx-border-color, var(--cx-g-color-secondary));
    box-shadow: var(--cx-box-shadow, none);
    -webkit-box-shadow: var(--cx-webkit-box-shadow, none);
  }
}

.invalid-feedback {
  text-align: var(--cx-text-align, left);
  &::before {
    content: var(--cx-content, '!');
    color: var(--cx-color, var(--cx-g-color-inverse));
    text-align: var(--cx-text-align, center);
    border-radius: var(--cx-border-radius, 50%);
    display: var(--cx-display, inline-block);
    width: var(--cx-width, 20px);
    height: var(--cx-height, 20px);
    background-color: var(--cx-background-color, var(--cx-g-color-danger));
    margin-right: var(--cx-margin, 6px);
    font-weight: var(--cx-font-weight, var(--cx-g-font-weight-normal, 700));
  }
  &:focus {
    box-shadow: var(--cx-box-shadow, none);
    -webkit-box-shadow: var(--cx-webkit-box-shadow, none);
  }
}

.is-invalid {
  color: var(--cx-color, var(--cx-g-color-danger));
}

input[type='checkbox'],
input[type='radio'] {
  height: var(--cx-height, 22px);
  width: var(--cx-width, 22px);
  vertical-align: var(--cx-vertical-align, middle);
  cursor: var(--cx-cursor, pointer);
  line-height: var(--cx-line-height, 1.42857);
  appearance: var(--cx-appearance, none);
  -webkit-appearance: var(--cx-webkit-appearance, textfield);
  -moz-appearance: var(--cx-moz-appearance, textfield);
  font-size: var(--cx-font-size, inherit);
  box-sizing: var(--cx-box-sizing, border-box);
  outline: var(--cx-outline, none);
  border-style: var(--cx-border-style, solid);
  border-width: var(--cx-border-width, 1px);
  position: var(--cx-position, absolute);
  margin-top: var(--cx-margin, 0.3rem);
  margin-left: var(--cx-margin, -1.25rem);
}

label {
  display: var(--cx-display, block);
  .label-content {
    display: var(--cx-display, block);
    margin-bottom: $label-margin-bottom;
    &.bold {
      font-weight: var(--cx-font-weight, var(--cx-g-font-weight-semi, 600));
    }
  }
}

.form-check {
  margin-bottom: var(--cx-margin, 18px);

  label {
    font-weight: var(--cx-font-weight, var(--cx-g-font-weight-normal, 400));
  }

  .form-check-label {
    display: var(--cx-display, inline-block);
    padding-left: var(--cx-padding, 0.75rem);
    position: var(--cx-position, relative);
    top: var(--cx-top, 4px);
  }

  input + .form-check-label {
    color: var(--cx-color, var(--cx-g-color-text));

    &::after {
      content: var(--cx-content, none);
    }
  }

  input:disabled + .form-check-label {
    color: var(--cx-color, var(--cx-g-color-light));
  }

  input[role='checkbox'],
  input[role='radio'] {
    display: var(--cx-display, inline-block);

    &:focus {
      box-shadow: var(--cx-box-shadow, 0px 0px 0px 3px var(--cx-g-color-light));
      border-color: var(--cx-border-color, var(--cx-g-color-secondary));
    }
  }

  input[type='checkbox'] {
    border-style: var(--cx-border-style, solid);
    border-radius: var(--cx-border-radius, 5px);
    border-width: var(--cx-border-width, 2px);
    border-color: var(--cx-border-color, var(--cx-g-color-light));

    &:checked {
      font-style: var(--cx-font-style, normal);
      border-color: var(--cx-border-color, var(--cx-g-color-primary));
      background-color: var(--cx-background-color, var(--cx-g-color-primary));

      &::after {
        color: var(--cx-color, var(--cx-g-color-inverse));
        position: var(--cx-position, absolute);

        content: var(--cx-content, '');
        display: var(--cx-display, inline-block);
        height: var(--cx-height, 6px);
        width: var(--cx-width, 9px);
        top: var(--cx-top, 5px);
        left: var(--cx-left, 5px);
        border-width: var(--cx-border-width, 0 0 2px 2px);
        border-style: var(--cx-border-style, solid);
        border-color: var(--cx-border-color, var(--cx-g-color-inverse));
        transform: var(--cx-transform, rotate(-45deg));
      }
    }
  }
}

.form-control[type='text'] {
  &:focus {
    background-color: var(--cx-background-color, var(--cx-g-color-background));
    box-shadow: var(--cx-box-shadow, none);
    -webkit-box-shadow: var(--cx-webkit-box-shadow, none);
  }
}

input[type='radio'] {
  border-radius: var(--cx-border-radius, 50%);
  display: var(--cx-display, inline-block);
  border-style: var(--cx-border-style, solid);
  border-width: var(--cx-border-width, 2px);
  border-color: var(--cx-border-color, var(--cx-g-color-light));
  position: var(--cx-position, absolute);

  &::after {
    content: var(--cx-content, '');
    position: var(--cx-position, absolute);
    display: var(--cx-display, inline-block);
    height: var(--cx-height, 10px);
    width: var(--cx-width, 10px);
    border-radius: var(--cx-border-radius, 50%);
    background-color: var(--cx-background-color, var(--cx-g-color-inverse));
    left: var(--cx-left, 4px);
    top: var(--cx-top, 4px);
  }
  &:checked {
    border-color: var(--cx-border-color, var(--cx-g-color-primary)) !important;
    background-color: var(--cx-background-color, var(--cx-g-color-inverse));

    &::after {
      background-color: var(--cx-background-color, var(--cx-g-color-primary));
    }
  }
}

.form-toggle {
  position: var(--cx-position, relative);
  display: var(--cx-display, inline-block);
  height: var(--cx-height, 40px);
  width: var(--cx-width, 88px);
}

.form-toggle-input {
  display: var(--cx-display, none);
}

.form-toggle__switch {
  position: var(--cx-position, absolute);
  cursor: var(--cx-cursor, pointer);
  top: var(--cx-top, 0);
  left: var(--cx-left, 0);
  right: var(--cx-right, 0);
  bottom: var(--cx-bottom, 0);
  background-color: var(--cx-background-color, var(--cx-g-color-light));
  -webkit-transition: var(--cx-webkit-transition, 0.4s);
  transition: var(--cx-transition, 0.4s);
  border-radius: var(--cx-border-radius, 34px);

  &:before {
    position: var(--cx-position, absolute);
    content: var(--cx-content, '');
    height: var(--cx-height, 32px);
    width: var(--cx-width, 32px);
    left: var(--cx-left, 4px);
    bottom: var(--cx-bottom, 4px);
    background-color: var(--cx-background-color, var(--cx-g-color-inverse));
    -webkit-transition: var(--cx-webkit-transition, 0.4s);
    transition: var(--cx-transition, 0.4s);
    border-radius: var(--cx-border-radius, 50%);
  }
}

.toggle-on,
.toggle-off {
  color: var(--cx-color, var(--cx-g-color-inverse));
  position: var(--cx-position, absolute);
  transform: var(--cx-transform, translate(-50%, -50%));
  top: var(--cx-top, 50%);
  @include type(5);
  font-weight: var(--cx-font-weight, var(--cx-g-font-weight-bold, 700));
}

.toggle-on {
  display: var(--cx-display, none);
  left: var(--cx-left, 30%);
}

.toggle-off {
  right: var(--cx-right, -7%);
}

input:checked + .form-toggle__switch {
  .toggle-on {
    display: var(--cx-display, block);
  }

  .toggle-off {
    display: var(--cx-display, none);
  }
}

input[role='switch']:checked + .form-toggle__switch {
  background-color: var(--cx-background-color, var(--cx-g-color-primary));
  &:before {
    left: var(--cx-left, calc(100% - 5px));
    transform: var(--cx-transform, translateX(-100%));
  }

  &:focus + .form-toggle__switch {
    box-shadow: var(--cx-box-shadow, 0 0 1px var(--cx-g-color-info));
  }
}

.form-message {
  @include type(7);
  &--danger {
    color: var(--cx-color, var(--cx-g-color-danger));
  }
}

.ng-select,
.ng-select.ng-select-single {
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option.ng-option-marked {
        background-color: var(--cx-background-color, var(--cx-g-color-light));
      }
    }
  }

  .ng-arrow-wrapper {
    .ng-arrow {
      border-color: var(
        --cx-border-color,
        var(--cx-g-color-text) transparent transparent
      );
      border-style: var(--cx-border-style, solid);
      border-width: var(--cx-border-width, 5px 5px 2.5px);
    }
  }

  .ng-select-container {
    padding: var(--cx-padding, 0.6875rem 0);
    line-height: var(--cx-light-height, 1.6);
    height: var(--cx-height, unset);
  }
}
