a {
  color: var(--cx-color-primary);

  &:hover {
    color: var(--cx-color-primary);
  }

  &.disabled {
    pointer-events: var(--cx-pointer-event, none !important);
    cursor: var(--cx-cursor, not-allowed !important);
    opacity: 0.8;
  }
}

.cx-action-link {
  @include type('7');
  text-transform: var(--cx-button-text-transform);
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: var(--cx-color-primary);
    text-decoration: none;
  }
}
