@import '../../theme';
@import '~bootstrap/scss/pagination';

.page-item {
  .page-link {
    @include type(4);
    padding: 12px 17px 12px 17px;
    height: 48px;
    color: var(--cx-g-color-text);
    cursor: pointer;

    &:hover {
      background-color: var(--cx-g-color-primary);
      color: var(--cx-g-color-inverse);
      font-weight: 700;
    }

    &[aria-label='Previous'],
    &[aria-label='Next'] {
      padding: 11px 14px 12px 14px;
      color: var(--cx-g-color-secondary);

      &:hover {
        color: var(--cx-g-color-inverse);
      }
    }
  }

  &.disabled {
    .page-link {
      &[aria-label='Previous'],
      &[aria-label='Next'] {
        color: var(--cx-g-color-light);
      }
    }
  }
}
