%cx-table {
  .table {
    table-layout: fixed;
    thead {
      th {
        text-align: left;
      }
    }
    td {
      word-wrap: break-word;
      max-width: 0;
    }
  }

  .mode {
    &.desktop {
      display: initial;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: initial;
      }
      .cx-row {
        padding: 1rem 0;
        border-bottom: 1px solid var(--cx-color-light);
        &:last-of-type {
          border: none;
        }
      }
      .cx-label {
        font-size: $small-font-size;
        font-weight: var(--cx-font-weight-bold);
        text-transform: uppercase;
        color: theme-color('secondary');
      }
    }
  }
}
