%cx-table {
  .table {
    @include media-breakpoint-down(xs) {
      thead {
        th {
          font-size: x-small;
        }
      }

      td {
        text-align: center;
        font-size: x-small;
        word-wrap: break-word;
        max-width: 0;
      }
    }
  }
}
