<div #filterNav class="cx-filter"
     [attr.aria-label]="'unitLevelOrderHistory.filterBy' | cxTranslate">
  <div class="cx-filter-list">
    <span>{{ 'unitLevelOrderHistory.filterBy' | cxTranslate }}</span>
    <button
      type="button"
      class="clear-btn"
      [attr.aria-label]="'common.close' | cxTranslate"
      (click)="closeNav()"
    >
      <cx-icon aria-hidden="true" [type]="iconTypes.CLOSE"></cx-icon>
    </button>
  </div>
  <div class="cx-filter-list filter-list-border" (click)="launchSubNav('filterByBuyer')">
    <span>{{ 'unitLevelOrderHistory.buyer' | cxTranslate }}</span>
    <button
      type="button"
      class="clear-btn"
      [attr.aria-label]="'unitLevelOrderHistory.filterByBuyerLabel' | cxTranslate"
    >
      <cx-icon aria-hidden="true" [type]="iconTypes.CARET_RIGHT"></cx-icon>
    </button>
  </div>
  <div class="cx-filter-list filter-list-border" (click)="launchSubNav('filterByUnit')">
    <span>{{ 'unitLevelOrderHistory.unit' | cxTranslate }}</span>
    <button
      type="button"
      class="clear-btn"
      [attr.aria-label]="'unitLevelOrderHistory.filterByUnitLabel' | cxTranslate"
    >
      <cx-icon aria-hidden="true" [type]="iconTypes.CARET_RIGHT"></cx-icon>
    </button>
  </div>
</div>

<form [formGroup]="filterFormMobile" (keydown.enter)="formSearchMobile()" >
  <div id="cx-unit-level-order-history-filter-nav-sub-buyer" #filterNavBuyer class="cx-filter-nav"
       [attr.aria-label]="'unitLevelOrderHistory.filterBy' | cxTranslate" (keydown.enter)="formSearchMobile()">
    <div class="cx-filter-nav-div">
      <button class="filter-button" (click)="backSubNav()">
        <cx-icon aria-hidden="true" [type]="iconTypes.CARET_LEFT"></cx-icon>
        <span>{{ 'unitLevelOrderHistory.filterByBuyer' | cxTranslate }}</span>

      </button>
      <button class="clear-btn" [attr.aria-label]="'common.close' | cxTranslate" (click)="closeSubNav()">
        <cx-icon aria-hidden="true" [type]="iconTypes.CLOSE"></cx-icon>
      </button>

      <label>
        <input
          #queryInputBuyerMobile
          formControlName="inputFilterBuyer"
          class="form-control"
          (input)="searchBuyerMobile(queryInputBuyerMobile)"
          [attr.aria-label]="'unitLevelOrderHistory.searchByBuyer' | cxTranslate"
          placeholder="{{ 'unitLevelOrderHistory.searchByBuyer' | cxTranslate }}"
        />

        <button #buyerButtonMobile
                [attr.aria-label]="'common.reset' | cxTranslate"
                (mousedown)="clearBuyerMobile(queryInputBuyerMobile)"
                (keydown.enter)="clearBuyerMobile(queryInputBuyerMobile)"
                class="reset cx-unit-level-order-history-filter-reset-button"
        >
          <cx-icon [type]="iconTypes.RESET"></cx-icon>
        </button>

        <div #buyerPresentationMobile role="presentation"
             (mousedown)="formSearchMobile()"
             (keydown.enter)="formSearchMobile()" style="color: lightgray;">
          <cx-icon [type]="iconTypes.SEARCH" style="display: block; padding: 10px; padding-top: 15px;"></cx-icon>
        </div>
      </label>
      <br>
    </div>

    <div>
      <button
        class="cx-action-link clear-btn"
        type="button"
        (click)="clearBuyerMobile(queryInputBuyerMobile)"
      >
        {{ 'unitLevelOrderHistory.clearAll' | cxTranslate }}
      </button>
    </div>
  </div>

  <div id="cx-unit-level-order-history-filter-nav-sub-unit" #filterNavUnit class="cx-filter-nav"
       [attr.aria-label]="'unitLevelOrderHistory.filterBy' | cxTranslate">
    <div class="cx-filter-nav-div">
      <button class="filter-button" (click)="backSubNav()">
        <cx-icon aria-hidden="true" [type]="iconTypes.CARET_LEFT"></cx-icon>
        <span>{{ 'unitLevelOrderHistory.filterByUnit' | cxTranslate }}</span>
      </button>

      <button class="clear-btn" [attr.aria-label]="'common.close' | cxTranslate" (click)="closeSubNav()">
        <cx-icon aria-hidden="true" [type]="iconTypes.CLOSE"></cx-icon>
      </button>

      <label>
        <input
               #queryInputUnitMobile
               formControlName="inputFilterUnit"
               class="form-control"
               (input)="searchUnitMobile(queryInputUnitMobile)"
               [attr.aria-label]="'unitLevelOrderHistory.searchByUnit' | cxTranslate"
               placeholder="{{ 'unitLevelOrderHistory.searchByUnit' | cxTranslate }}"
        />
        <button #unitButtonMobile
                [attr.aria-label]="'common.reset' | cxTranslate"
                (mousedown)="clearUnitMobile(queryInputUnitMobile)"
                (keydown.enter)="clearUnitMobile(queryInputUnitMobile)"
                class="reset cx-unit-level-order-history-filter-reset-button"
        >
          <cx-icon [type]="iconTypes.RESET"></cx-icon>
        </button>

        <div #unitPresentationMobile role="presentation" (mousedown)="formSearchMobile()"
             (keydown.enter)="formSearchMobile()" style="color: lightgray;">
          <cx-icon [type]="iconTypes.SEARCH" style="padding: 10px; padding-top: 15px;"></cx-icon>
        </div>
      </label>
      <br>
    </div>
    <div class="cx-unit-level-order-history-filter-nav-button-block">
      <button
        class="cx-action-link clear-btn"
        type="button"
        (click)="clearUnitMobile(queryInputUnitMobile)"
      >
        {{ 'unitLevelOrderHistory.clearAll' | cxTranslate }}
      </button>
    </div>
  </div>
</form>

<form [formGroup]="filterForm" (keydown.enter)="formSearch()">
  <div>
    <div class="cx-unit-level-order-history-filter-div-wrapper">
      <div>
        <span style="font-weight: 600;">
          {{ 'unitLevelOrderHistory.buyer' | cxTranslate }}
        </span>
        <div role="search" class="cx-unit-level-order-history-filter-label-wrapper">
          <label class="cx-unit-level-order-history-filter-label">
            <input
              #queryInputBuyer
              formControlName="userFilter"
              class="form-control cx-unit-level-order-history-filter-input"
              (input)="searchBuyer(queryInputBuyer)"
              [attr.aria-label]="'unitLevelOrderHistory.filterByBuyerLabel' | cxTranslate"
              placeholder="{{ 'unitLevelOrderHistory.buyer' | cxTranslate }}"
            />
            <button #buyerButton
                    [attr.aria-label]="'common.reset' | cxTranslate"
                    (mousedown)="clearBuyer(queryInputBuyer)"
                    (keydown.enter)="clearBuyer(queryInputBuyer)"
                    class="reset cx-unit-level-order-history-filter-reset-button"
            >
              <cx-icon [type]="iconTypes.RESET"></cx-icon>
            </button>

            <div #buyerPresentation role="presentation" class="search-icon" (mousedown)="formSearch()"
                 (keydown.enter)="formSearch()" style="color: lightgray;">
              <cx-icon [type]="iconTypes.SEARCH" style="padding: 10px; padding-top: 15px;"></cx-icon>
            </div>
          </label>
        </div>
      </div>

      <div>
        <span style="font-weight: 600;">
          {{ 'unitLevelOrderHistory.unit' | cxTranslate }}
        </span>
        <div class="cx-unit-level-order-history-filter-label-wrapper">
          <label class="cx-unit-level-order-history-filter-label">
            <input
              #queryInputUnit
              formControlName="unitFilter"
              class="form-control cx-unit-level-order-history-filter-input"
              (input)="searchUnit(queryInputUnit)"
              [attr.aria-label]="'unitLevelOrderHistory.filterByUnitLabel' | cxTranslate"
              placeholder="{{ 'unitLevelOrderHistory.unit' | cxTranslate }}"
            />
            <button #unitButton
                    [attr.aria-label]="'common.reset' | cxTranslate"
                    (mousedown)="clearUnit(queryInputUnit)"
                    (keydown.enter)="clearUnit(queryInputUnit)"
                    class="reset cx-unit-level-order-history-filter-reset-button"
            >
              <cx-icon [type]="iconTypes.RESET"></cx-icon>
            </button>

            <div #unitPresentation role="presentation" class="search-icon" (mousedown)="formSearch()"
                 (keydown.enter)="formSearch()" style="color: lightgray;">
              <cx-icon [type]="iconTypes.SEARCH" style="padding: 10px; padding-top: 15px;"></cx-icon>
            </div>
          </label>
        </div>
      </div>
    </div>

    <div class="cx-unit-level-order-history-filter-form-button-block">
      <button
        class="cx-action-link clear-btn"
        type="button"
        (click)="resetForm()"
      >
        {{ 'unitLevelOrderHistory.clearAll' | cxTranslate }}
      </button>
      <button class="btn btn-primary unit-level-order-history-search" (click)="formSearch()">
        {{ 'unitLevelOrderHistory.search' | cxTranslate }}
      </button>
    </div>
  </div>
  <div class="cx-unit-level-order-history-filter-form-mobile">
    <button class="btn btn-action btn-block dialog-trigger" (click)="launch()">
      <cx-icon [type]="iconTypes.FILTER"></cx-icon>
      {{ 'unitLevelOrderHistory.filterBy' | cxTranslate }}
    </button>
  </div>

</form>
