@if (product$ | async; as product) {
  @if (product.baseOptions?.length) {
    <div class="variant-section">
      @if (variants[variantType.STYLE]) {
        <cx-product-variant-style-selector
          [variants]="variants[variantType.STYLE]"
        ></cx-product-variant-style-selector>
      }
      @if (variants[variantType.SIZE]) {
        <cx-product-variant-size-selector
          [product]="product"
          [variants]="variants[variantType.SIZE]"
        ></cx-product-variant-size-selector>
      }
      @if (variants[variantType.COLOR]) {
        <cx-product-variant-color-selector
          [product]="product"
          [variants]="variants[variantType.COLOR]"
        ></cx-product-variant-color-selector>
      }
    </div>
  }
}
