<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="entries$ | async as entries">
    <div *ngIf="cart.totalItems > 0" class="cart-details-wrapper">
      <div class="cx-total">
        {{ 'cartDetails.cartName' | cxTranslate: { code: cart.code } }}
      </div>

      <ng-container *ngIf="orderPromotions$ | async as orderPromotions">
        <cx-promotions [promotions]="orderPromotions"></cx-promotions>
      </ng-container>

      <cx-cart-item-list
        [items]="entries"
        [cartIsLoading]="!(cartLoaded$ | async)"
        [promotionLocation]="promotionLocation"
        [options]="{
          isSaveForLater: false,
          optionalBtn: saveForLaterBtn
        }"
      ></cx-cart-item-list>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="entryGroups$ | async as entryGroups">
  <div *ngFor="let entryGroup of entryGroups">
    <div *ngIf="entryGroup.allowedProducts as allowed">
      <h1>Choose product to add:</h1>
      <button
        *ngFor="let product of allowed.products"
        (click)="addProductToBundle(allowed.entryGroupNumber, product)"
      >
        Add {{ product.name }}
      </button>
    </div>
    <ng-container *ngIf="!entryGroup.allowedProducts">
      <h2>{{ entryGroup.entryGroupNumber }}: {{ entryGroup.label }}</h2>
      <button (click)="removeBundle(entryGroup.entryGroupNumber)">
        Remove Bundle
      </button>
      <div *ngFor="let subGroup of entryGroup.entryGroups">
        <h3>{{ subGroup.label }}</h3>
        <button (click)="getBundleAllowedProducts(subGroup.entryGroupNumber)">
          {{
            subGroup.entries.length > 0
              ? subGroup.entries[0].product.name
              : 'Choose Product'
          }}
        </button>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template let-ctx #saveForLaterBtn>
  <div
    *ngIf="selectiveCartEnabled"
    class="col-md-3 col-lg-3 col-xl-3 cx-sfl-btn"
  >
    <button
      class="link cx-action-link"
      [disabled]="ctx.loading"
      (click)="saveForLater(ctx.item)"
      type="button"
    >
      {{ 'saveForLaterItems.saveForLater' | cxTranslate }}
    </button>
  </div>
</ng-template>
