%cx-subscription-product-price {
  @include media-breakpoint-up(lg) {
    padding-top: 20px;
    padding-inline-end: 20px;
    padding-bottom: 0px;
    padding-inline-start: 20px;
  }
  .subscription-heading {
    font-weight: var(--cx-font-weight-bold);
  }
  .subscription-term {
    margin: 20px 0px;
  }
  .subscription-onetimecharge {
    color: var(--cx-color-secondary);
  }
}
