<ng-container *ngIf="bannerVisible$ | async as bannerVisible">
  <div
    [ngClass]="{ 'anonymous-consent-banner-hidden': !bannerVisible }"
    class="anonymous-consent-banner"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xs-12">
          <div class="cx-banner-title">
            {{ 'banner.title' | cxTranslate }}
          </div>
          <div class="cx-banner-description">
            {{ 'banner.description' | cxTranslate }}
          </div>
        </div>

        <div class="col-lg-4 col-xs-12 cx-banner-buttons">
          <button class="btn btn-action" (click)="viewDetails()">
            {{ 'banner.viewDetails' | cxTranslate }}
          </button>
          <button class="btn btn-primary" (click)="allowAll()">
            {{ 'banner.allowAll' | cxTranslate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
