@import './functions';
@import './components/index';

// the $skipComponentStyles is used as a list of component styles that can be ignore
// during the sass compilation. Whenever the list contains a component selector, the
// selector is not used.
$skipComponentStyles: () !default;

$layout-components-whitelist: () !default;
$product-components-whitelist: () !default;
$user-components-whitelist: () !default;
$cart-components-whitelist: () !default;
$checkout-components-whitelist: () !default;
$content-components-whitelist: () !default;
$misc-components-whitelist: () !default;
$asm-components-whitelist: () !default;
$pwa-components-whitelist: () !default;
$cds-components-whitelist: () !default;
$wish-list-components-whitelist: () !default;
$myaccount-components-whitelist: () !default;

$selectors: mergeAll(
  (
    $layout-components-whitelist,
    $misc-components-whitelist,
    $content-components-whitelist,
    $product-components-whitelist,
    $cart-components-whitelist,
    $checkout-components-whitelist,
    $user-components-whitelist,
    $myaccount-components-whitelist,
    $pwa-components-whitelist,
    $cds-components-whitelist,
    $asm-components-whitelist,
    $wish-list-components-whitelist
  )
);

@each $selector in $selectors {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $selectors {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
