@import './components/index';

// the $skipComponentStyles is used as a list of component styles that can be ignore
// during the sass compilation. Whenever the list contains a component selector, the
// selector is not used.
$skipComponentStyles: () !default;

// major version standard
$selectors: header, cx-site-context-selector, cx-breadcrumb, cx-banner,
  cx-responsive-banner, cx-login, cx-register, cx-link, cx-navigation-ui,
  cx-footer-navigation, cx-category-navigation, cx-mini-cart, cx-searchbox,
  cx-product-carousel, cx-product-images, cx-product-summary,
  cx-product-attributes, cx-product-reviews, cx-product-list,
  cx-product-list-item, cx-product-grid, cx-product-facet-navigation,
  cx-pagination, cx-order-history, cx-address-book, cx-address-card,
  cx-payment-method, cx-close-account, cx-icon !default;

// future theme's, can be introduced during minors
$theme: ''; // conconut

// sampe of theme specific
%cx-mini-cart-conconut a svg {
  fill: blue;
}

@each $selector in $selectors {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
      // optional theme specific placeholder
      @extend %#{$selector}-#{$theme} !optional;
    }
  }
}
