@import './components/index';

// the $skipComponentStyles is used as a list of component styles that can be ignore
// during the sass compilation. Whenever the list contains a component selector, the
// selector is not used.
$skipComponentStyles: () !default;

// major version standard
$selectors: header, cx-storefront, cx-site-context-selector, cx-breadcrumb,
  cx-banner, cx-login, cx-register, cx-link, cx-navigation-ui,
  cx-footer-navigation, cx-category-navigation, cx-mini-cart, cx-searchbox,
  cx-carousel, cx-product-carousel, cx-product-references, cx-product-images,
  cx-product-summary, cx-product-attributes, cx-product-reviews, cx-product-list,
  cx-product-list-item, cx-product-grid, cx-product-grid-item,
  cx-product-facet-navigation, cx-pagination, cx-order-history, cx-address-book,
  cx-address-card, cx-added-to-cart-dialog, cx-cart-details, cx-cart-item,
  cx-cart-item-list, cx-order-summary, cx-cart-totals, cx-checkout-progress,
  cx-checkout-progress-mobile-top, cx-checkout-progress-mobile-bottom,
  cx-delivery-mode, cx-shipping-address, cx-billing-address-form,
  cx-payment-form, cx-review-submit, cx-address-form,
  cx-suggested-addresses-dialog, cx-order-confirmation-items,
  cx-order-confirmation-totals, cx-order-confirmation-overview,
  cx-order-confirmation-thank-you-message, cx-promotions,
  cx-order-detail-headline, cx-order-detail-items, cx-order-detail-shipping,
  cx-order-detail-totals, cx-product-view, cx-payment-method, cx-payment-methods,
  cx-close-account, cx-close-account-modal, cx-store-finder-list-item,
  cx-store-finder-grid, cx-store-finder, cx-store-finder-store-description,
  cx-store-finder-stores-count, cx-store-finder-search-result,
  cx-store-finder-list, cx-store-finder-search, cx-store-finder-schedule,
  cx-store-finder-map, cx-add-to-home-screen-banner, cx-item-counter,
  cx-star-rating, cx-spinner, cx-icon, cx-media, cx-tab-paragraph-container,
  cx-add-to-cart, cx-global-message, cx-product-intro,
  cx-product-variant-selector, cx-card, cx-forgot-password !default;

// future theme's, can be introduced during minors
$theme: ''; // conconut

// sampe of theme specific
%cx-mini-cart-conconut a svg {
  fill: blue;
}

@each $selector in $selectors {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
      // optional theme specific placeholder
      @extend %#{$selector}-#{$theme} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $selectors {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
