/* IMPORTANT: If no there's no theme for any reason,
  then fallback to the cxbase defaults */
//@import 'cxbase/variables';

//point to the theme variables
@import 'themes/sparta/variables';
//@import "theme/lambda/variables";
