// IMPORTANT: If no there's no theme for any reason,
// then fallback to the cxbase defaults
//@import 'cxbase/variables';

//point to the theme variables
//@import 'theme/sparta/variables';
//@import "theme/lambda/variables";

//old theme to be commented out on next major or with impex
@import 'theme/santorini/variables';

// new theme below to uncomment on next major or with impex
// @import 'theme/santorini-updated/variables';
