@import 'theme';

:root {
  @each $color, $value in $theme-colors {
    --cx-#{$color}: #{$value};
  }

  --direction: #{$direction};

  --cx-transition-time: 0.5s;

  --cx-border-style: solid;
  --cx-border-width: 1px;
}

* {
  border-radius: var(--cx-border-radius);
  outline: none;
}

#breadcrumb .breadcrumb {
  display: none;
}
