@import 'theme';

:root {
  @each $color, $value in $theme-colors {
    --cx-g-color-#{$color}: #{$value};
  }

  --cx-g-font-weight-light: 300;
  --cx-g-font-weight-normal: 400;
  --cx-g-font-weight-semi: 600;
  --cx-g-font-weight-bold: 700;

  --cx-g-direction: #{$direction};

  --cx-g-transition-duration: 0.5s;
  --cx-g-animation-duration: 1s;

  --cx-g-border-radius: 1em;
  --cx-g-buttons-border-radius: 0.25rem;

  --cx-border-style: solid;
}
