cx-account-summary-document-filter {

  width: 100%;

  .cx-account-summary-document-filter-field {
    &.top {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      margin: 0;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        padding-top: 0;
      }
    }

    &.bottom {
      display: flex;
      justify-content: flex-end;
      padding: 1rem 0 1rem 0;
      margin: 0;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }

  .cx-account-summary-document-filter-form-group {
    padding: 0;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    width: 25%;

    span {
      margin-inline-end: 0.5rem;
      flex: none;
    }

    @include media-breakpoint-down(md) {
      padding: 1.25rem;
      width: 100%;
    }
  }

  ng-select {
    width: 100%;
  }

  input {
    padding: 0.5rem;
  }

  .search-btn {
    background-color: var(--cx-color-primary);
    border-color: var(--cx-color-primary);
    color: var(--cx-color-inverse);
    opacity: 1;
    font-weight: var(--cx-font-weight-bold);
    padding: 0.5rem 1rem;
  }
}
