cx-account-summary-document-filter {

  .cx-account-summary-document-filter-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .cx-account-summary-document-filter-form-item {
    flex-direction: column;
    flex-basis: 25%;
    padding: 0.5rem;

    @include media-breakpoint-down(md) {
      flex-basis: 50%;
      padding: 0.5rem;
    }

    @include media-breakpoint-down(sm) {
      flex-basis: 100%;
      padding: 0.5rem;
    }
  }

  .cx-account-summary-document-filter-form-input {
    padding: 0.5rem;
    width: 100%;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    border-radius: 4px;
  }

  .cx-account-summary-document-filter-form-button-block {
    flex-basis: 100%;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    align-self: center;

    display: flex;
    flex-direction: row;

    .search-btn {
      background-color: var(--cx-color-primary);
      border-color: var(--cx-color-primary);
      color: var(--cx-color-inverse);
      opacity: 1;
      font-weight: var(--cx-font-weight-bold);
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }

    .clear-btn {
      margin-right: 1rem;
      align-self: center;
      border: none;
      background-color: inherit;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
    }
  }
}
