<ng-container *ngIf="product$ | async as product">
  <ng-container
    *ngIf="(product$ | async)?.bundleTemplates as templates; else addToCart"
  >
    <ng-container *ngIf="templates.length">
      <h1>{{ 'Buy This Item In A Bundle' }}</h1>
      <!-- <h1>{{ 'Buy This Item In A Bundle' | cxTranslate }}</h1> -->

      <select (change)="setTemplate($event.target.value)" class="form-control">
        <option selected value="undefined">Not Selected</option>
        <option *ngFor="let template of templates" [value]="template.id">
          {{ template?.rootBundleTemplateName }}
        </option>
      </select>

      <button
        *ngIf="selectedTemplate; else addToCart"
        class="btn btn-primary btn-block btn-add-bundle-to-cart"
        (click)="startBundle(selectedTemplate)"
      >
        <!-- {{ 'Start Bundle' | cxTranslate }} -->
        {{ 'Add Bundle To Cart' }}
      </button>
    </ng-container>
  </ng-container>

  <ng-template #addToCart>
    <cx-add-to-cart [product]="product"></cx-add-to-cart>
  </ng-template>
</ng-container>
