<ng-container *ngIf="cartEntry">
  <button
    class="link cx-action-link"
    [routerLink]="
      {
        cxRoute: getRoute(),
        params: {
          ownerType: getOwnerType(),
          entityKey: getEntityKey(),
          displayOnly: getDisplayOnly()
        }
      } | cxUrl
    "
    [queryParams]="{ forceReload: true, resolveIssues: hasIssues() }"
    [disabled]="disabled"
    (click)="closeActiveModal()"
    cxAutoFocus
  >
    <ng-container *ngIf="readOnly">
      {{
        'configurator.header.displayConfiguration' | cxTranslate
      }}</ng-container
    >
    <ng-container *ngIf="!readOnly && !msgBanner">
      {{ 'configurator.header.editConfiguration' | cxTranslate }}
    </ng-container>

    <ng-container *ngIf="!readOnly && msgBanner">
      {{ 'configurator.header.resolveIssues' | cxTranslate }}
    </ng-container>
  </button>
</ng-container>
