<ng-container *ngIf="cartEntry">
  <a
    [routerLink]="
      {
        cxRoute: getRoute(),
        params: {
          ownerType: getOwnerType(),
          entityKey: getEntityKey(),
          displayOnly: getDisplayOnly()
        }
      } | cxUrl
    "
    [queryParams]="{ forceReload: true }"
    (click)="closeActiveModal()"
    cxAutoFocus
  >
    <ng-container *ngIf="readOnly">
      {{
        'configurator.header.displayConfiguration' | cxTranslate
      }}</ng-container
    >
    <ng-container *ngIf="!readOnly">
      {{ 'configurator.header.editConfiguration' | cxTranslate }}
    </ng-container>
  </a>
</ng-container>
