@if (products$ | async; as products) {
  <cx-asm-customer-360-product-listing
    [emptyResultDescription]="
      'asmCustomer360.productInterests.emptyDescription' | cxTranslate
    "
    [headerText]="'asmCustomer360.productInterests.header' | cxTranslate"
    [products]="products"
    (clickHeader)="sectionContext.navigate$.next({ cxRoute: 'myInterests' })"
    (selectProduct)="
      sectionContext.navigate$.next({ cxRoute: 'product', params: $event })
    "
  >
  </cx-asm-customer-360-product-listing>
}
