<ng-container>
  <fieldset>
    <legend style="display: none">{{ attribute.label }}</legend>
    <div id="{{ createAttributeIdForConfigurator(attribute) }}">
      <div class="form-check" *ngIf="changedPrices$ | async as changedPrices">
        <div class="cx-value-label-pair">
          <input
            id="{{
              createAttributeValueIdForConfigurator(
                attribute,
                attributeValue.valueCode
              )
            }}"
            type="checkbox"
            class="form-check-input"
            [value]="attributeValue.valueCode"
            [cxFocus]="{
              key: attribute.name + '-' + attributeValue.name,
            }"
            (change)="onSelect(attributeValue.valueCode)"
            [formControl]="attributeCheckBoxForm"
            name="{{ createAttributeIdForConfigurator(attribute) }}"
            [attr.aria-label]="
              getAriaLabelGeneric(
                attribute,
                enrichValueWithPrice(attributeValue, changedPrices)
              )
            "
            [attr.aria-live]="
              isLastSelected(attribute.name, attributeValue.valueCode)
                ? 'polite'
                : null
            "
            [attr.aria-describedby]="
              createAttributeUiKey('label', attribute.name)
            "
          />
          <label
            id="{{
              createValueUiKey(
                'label',
                attribute.name,
                attributeValue.valueCode
              )
            }}"
            for="{{
              createAttributeValueIdForConfigurator(
                attribute,
                attributeValue.valueCode
              )
            }}"
            aria-hidden="true"
            class="form-check-label"
            >{{
              getLabel(
                expMode,
                attributeValue.valueDisplay,
                attributeValue.valueCode
              )
            }}</label
          >
          <cx-configurator-show-more
            *ngIf="attributeValue.description"
            [text]="attributeValue.description"
            [textSize]="getValueDescriptionLength()"
            [productName]="
              getLabel(
                expMode,
                attributeValue.valueDisplay,
                attributeValue.valueCode
              )
            "
            [tabIndex]="0"
          ></cx-configurator-show-more>
        </div>
        <div class="cx-value-price">
          <cx-configurator-price
            [formula]="
              extractValuePriceFormulaParameters(
                enrichValueWithPrice(attributeValue, changedPrices)
              )
            "
          ></cx-configurator-price>
        </div>
      </div>
    </div>
  </fieldset>
</ng-container>
