<div class="cx-review">
  <!-- TITLE -->
  <h3 class="cx-review-title d-none d-lg-block d-xl-block">
    {{ 'checkoutReview.review' | cxTranslate }}
  </h3>

  <div class="cx-review-summary row">
    <div
      class="col-md-12 col-lg-6 col-xl-4"
      *ngFor="let step of (steps$ | async).slice(0, -1)"
    >
      <div class="cx-review-summary-wrapper" [ngSwitch]="step.type[0]">
        <ng-container *ngSwitchCase="checkoutStepType.SHIPPING_ADDRESS">
          <div *ngTemplateOutlet="shippingAddress"></div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- SHIPPING ADDRESS SECTION -->
  <ng-template #shippingAddress>
    <div class="cx-review-summary-card cx-review-card-address">
      <cx-card
        [content]="
          getShippingAddressCard(
            deliveryAddress$ | async,
            countryName$ | async
          ) | async
        "
      ></cx-card>
    </div>
    <div *cxFeatureLevel="'1.1'" class="cx-review-summary-edit-step">
      <a
        [routerLink]="
          {
            cxRoute: getCheckoutStepUrl(checkoutStepType.SHIPPING_ADDRESS)
          } | cxUrl
        "
        >{{ 'checkoutReview.editShippingAddress' | cxTranslate }}</a
      >
    </div>
  </ng-template>

  <!-- CART ITEM SECTION -->
  <ng-container *ngIf="cart$ | async as cart">
    <div class="cx-review-cart-total d-none d-lg-block d-xl-block">
      {{
        'cartItems.cartTotal'
          | cxTranslate: { count: cart.deliveryItemsQuantity }
      }}:
      {{ cart.totalPrice?.formattedValue }}
    </div>
    <h4 class="cx-review-cart-heading d-block d-lg-none d-xl-none">
      {{ 'checkoutReview.placeOrder' | cxTranslate }}
    </h4>
    <div
      class="cx-review-cart-item col-md-12"
      *ngIf="entries$ | async as entries"
    >
      <ng-container *ngIf="orderPromotions$ | async as orderPromotions">
        <cx-promotions [promotions]="orderPromotions"></cx-promotions>
      </ng-container>

      <cx-cart-item-list
        [items]="entries"
        [readonly]="true"
        [promotionLocation]="promotionLocation"
      ></cx-cart-item-list>
    </div>
  </ng-container>
</div>
