<div class="cx-review">
  <!-- TITLE -->
  <h3 class="cx-review-title d-none d-lg-block d-xl-block">
    {{ 'checkoutReview.review' | cxTranslate }}
  </h3>

  <div class="cx-review-summary row">
    <div
      class="col-md-12 col-lg-6 col-xl-4"
      *ngFor="let step of (steps$ | async).slice(0, -1)"
    >
      <div class="cx-review-summary-wrapper" [ngSwitch]="step.type[0]">
        <ng-container *ngSwitchCase="checkoutStepType.PO_NUMBER">
          <div *ngTemplateOutlet="poNumber"></div>
        </ng-container>
        <ng-container *ngSwitchCase="checkoutStepType.SHIPPING_ADDRESS">
          <div *ngTemplateOutlet="shippingAddress"></div>
        </ng-container>
        <ng-container *ngSwitchCase="checkoutStepType.DELIVERY_MODE">
          <div *ngTemplateOutlet="deliveryMode"></div>
        </ng-container>
        <ng-container *ngSwitchCase="checkoutStepType.PAYMENT_DETAILS">
          <div *ngTemplateOutlet="paymentMethod"></div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- PO NUMBER SECTION -->
  <ng-template #poNumber>
    <div class="cx-review-summary-card">
      <cx-card
        [content]="
          getPoNumberCard(poNumber$ | async, costCenterName$ | async) | async
        "
      ></cx-card>
    </div>
    <div *cxFeatureLevel="'1.1'" class="cx-review-summary-edit-step">
      <a
        [routerLink]="
          {
            cxRoute: getCheckoutStepUrl(checkoutStepType.PO_NUMBER)
          } | cxUrl
        "
        >{{ 'checkoutReview.editPoNumber' | cxTranslate }}</a
      >
    </div>
  </ng-template>

  <!-- SHIPPING ADDRESS SECTION -->
  <ng-template #shippingAddress>
    <div class="cx-review-summary-card cx-review-card-address">
      <cx-card
        *ngIf="deliveryAddress$ | async as deliveryAddress"
        [content]="
          getShippingAddressCard(deliveryAddress, countryName$ | async) | async
        "
      ></cx-card>
    </div>
    <div *cxFeatureLevel="'1.1'" class="cx-review-summary-edit-step">
      <a
        [routerLink]="
          {
            cxRoute: getCheckoutStepUrl(checkoutStepType.SHIPPING_ADDRESS)
          } | cxUrl
        "
        >{{ 'checkoutReview.editShippingAddress' | cxTranslate }}</a
      >
    </div>
  </ng-template>

  <!-- DELIVERY MODE SECTION -->
  <ng-template #deliveryMode>
    <div class="cx-review-summary-card cx-review-card-shipping">
      <cx-card
        *ngIf="deliveryMode$ | async as deliveryMode"
        [content]="getDeliveryModeCard(deliveryMode) | async"
      ></cx-card>
    </div>
    <div *cxFeatureLevel="'1.1'" class="cx-review-summary-edit-step">
      <a
        [routerLink]="
          { cxRoute: getCheckoutStepUrl(checkoutStepType.DELIVERY_MODE) }
            | cxUrl
        "
        >{{ 'checkoutReview.editShippingMethod' | cxTranslate }}</a
      >
    </div>
  </ng-template>

  <!-- PAYMENT METHOD SECTION -->
  <ng-template #paymentMethod>
    <div class="cx-review-summary-card cx-review-card-payment">
      <cx-card
        *ngIf="paymentDetails$ | async as paymentDetails"
        [content]="getPaymentMethodCard(paymentDetails) | async"
      ></cx-card>
    </div>
    <div *cxFeatureLevel="'1.1'" class="cx-review-summary-edit-step">
      <a
        [routerLink]="
          { cxRoute: getCheckoutStepUrl(checkoutStepType.PAYMENT_DETAILS) }
            | cxUrl
        "
        >{{ 'checkoutReview.editPaymentMethod' | cxTranslate }}</a
      >
    </div>
  </ng-template>

  <!-- CART ITEM SECTION -->
  <ng-container *ngIf="cart$ | async as cart">
    <div class="cx-review-cart-total d-none d-lg-block d-xl-block">
      {{
        'cartItems.cartTotal'
          | cxTranslate: { count: cart.deliveryItemsQuantity }
      }}:
      {{ cart.totalPrice?.formattedValue }}
    </div>
    <h4 class="cx-review-cart-heading d-block d-lg-none d-xl-none">
      {{ 'checkoutReview.placeOrder' | cxTranslate }}
    </h4>
    <div
      class="cx-review-cart-item col-md-12"
      *ngIf="entries$ | async as entries"
    >
      <ng-container *ngIf="orderPromotions$ | async as orderPromotions">
        <cx-promotions [promotions]="orderPromotions"></cx-promotions>
      </ng-container>

      <cx-cart-item-list
        [items]="entries"
        [readonly]="true"
        [promotionLocation]="promotionLocation"
      ></cx-cart-item-list>
    </div>
  </ng-container>
</div>
