<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="{entries: entries$ | async, entryGroups: entryGroups$ | async, standaloneEntries: standaloneEntries$ | async} as data">
    <!-- <ng-container *ngIf="data.entries || data.entryGroups"> -->
      <div *ngIf="data.entries || data.entryGroups" class="cart-details-wrapper">
        <cx-cart-validation-warnings></cx-cart-validation-warnings>
  
        <h2 class="cx-total">
          {{ 'cartDetails.cartName' | cxTranslate: { code: cart.code } }}
        </h2>
  
        <cx-promotions
          [promotions]="
            (cart.appliedOrderPromotions || []).concat(
              cart.potentialOrderPromotions || []
            )
          "
        ></cx-promotions>
  
        <cx-cart-item-list
          [items]="data.standaloneEntries ?? []"
          [cartIsLoading]="!(cartLoaded$ | async)"
          [promotionLocation]="promotionLocation"
          [options]="{
            isSaveForLater: false,
            optionalBtn: saveForLaterBtn
          }"
        ></cx-cart-item-list>
        
        <cdk-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <cdk-nested-tree-node *cdkTreeNodeDef="let node">
            {{node.label}}
            
            <button #element (click)="editBundle(node.entryGroupNumber)" class="btn btn-tertiary bundle-operation" type="button">
              {{ 'common.edit' | cxTranslate }}
            </button>
  
            <cx-cart-item-list
              *ngIf="node.entries.length > 0"
              [items]="node.entries"
              [hasHeader]="false"
              [cartIsLoading]="!(cartLoaded$ | async)"
              [promotionLocation]="promotionLocation"
              [options]="{ isSaveForLater: false }"
            ></cx-cart-item-list>  
          </cdk-nested-tree-node>
  
          <!-- This is the tree node template for expandable nodes -->
          <cdk-nested-tree-node #treeNode *cdkTreeNodeDef="let node; when: hasChild" [class.bundle-name]="treeNode.ariaLevel === '1'">
            {{node.label}}
            
            <ng-container *ngIf="treeNode.ariaLevel === '1'; else children">
              {{ treeControl.expand(node) }}
              <button #element (click)="removeBundle(treeNode, node)" class="btn btn-tertiary bundle-operation" type="button">
                {{ 'common.remove' | cxTranslate }}
              </button>
            </ng-container>
  
            <ng-template #children>
              <button type="button" class="btn btn-tertiary bundle-operation" cdkTreeNodeToggle>
                <span class="bundle-expand-collapse">{{treeControl.isExpanded(node) ? '-' : '+'}}</span>              
              </button>
            </ng-template>
  
            <div [class.bundle-invisible]="!treeControl.isExpanded(node)">
              <ng-container cdkTreeNodeOutlet></ng-container>
            </div>
          </cdk-nested-tree-node>
        </cdk-tree>
      </div>
    </ng-container>
  
  </ng-container>

<!-- </ng-container> -->

<ng-template let-ctx #saveForLaterBtn>
  <button
    *ngIf="selectiveCartEnabled"
    class="btn btn-tertiary cx-sfl-btn"
    [disabled]="ctx.loading"
    (click)="saveForLater(ctx.item)"
    type="button"
  >
  {{ 'saveForLaterItems.saveForLater' | cxTranslate }}
  </button>
</ng-template>
