<div class="cx-store">
  <div class="cx-store-address">
    <div *ngIf="storeDetails?.displayName" class="cx-store-name">
      {{ storeDetails?.displayName }}
    </div>
    <div *ngIf="storeDetails?.address?.line1">
      {{ storeDetails.address?.line1 }}
    </div>
    <div *ngIf="storeDetails?.address?.line2">
      {{ storeDetails.address?.line2 }}
    </div>
    <div *ngIf="storeDetails?.address?.town">
      {{ storeDetails.address?.town }}
    </div>
    <div *ngIf="storeDetails?.address?.region">
      {{ storeDetails.address?.region }}
    </div>
    <div *ngIf="storeDetails?.address?.district">
      {{ storeDetails.address?.district }}
    </div>
    <div *ngIf="storeDetails?.address?.phone">
      {{ storeDetails.address?.phone }}
    </div>

    <div>
      <div class="cx-store-opening-hours-toggle" (click)="toggleOpenHours()">
        {{ 'store.viewHours' | cxTranslate }}
        <cx-icon
          [type]="openHoursOpen ? iconTypes.CARET_UP : iconTypes.CARET_DOWN"
        ></cx-icon>
      </div>
      <cx-store-schedule *ngIf="openHoursOpen" [storeDetails]="storeDetails">
      </cx-store-schedule>
    </div>
  </div>
  <div>
    <div class="cx-store-distance">{{ storeDetails?.formattedDistance }}</div>
    <div>
      <cx-icon
        class="cx-store-stock-icon"
        *ngIf="!!storeDetails?.stockInfo?.stockLevel"
        [type]="iconTypes.CHECK"
      ></cx-icon>
      <span
        class="cx-stock-level"
        [ngClass]="{
          'cx-store-out-of-stock': !storeDetails?.stockInfo?.stockLevel,
          'cx-store-in-stock': !!storeDetails?.stockInfo?.stockLevel
        }"
      >
        {{
          'store.stockLevel'
            | cxTranslate: { count: storeDetails?.stockInfo?.stockLevel }
        }}</span
      >
    </div>
  </div>
</div>
<div class="cx-store-pick-up-from-here">
  <button (click)="selectStore()">
    {{ 'store.pickupFromHere' | cxTranslate }}
  </button>
</div>
