@import '@spartacus/checkout';

@import './styles/index';

$s4-service-components-allowlist: cx-service-details
  cx-cancel-service-order-headline cx-cancel-service-order !default;

$skipComponentStyles: () !default;

@each $selector in $s4-service-components-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) ==null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $s4-service-components-allowlist {
    @if (index($skipComponentStyles, $selector) ==null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
