<ng-container *ngIf="product$ | async as product">
  <div class="variant-section" *ngIf="styleVariants || sizeVariants">
    <cx-style-selector
      *ngIf="styleVariants"
      [product]="product"
      [styleVariants]="styleVariants"
      [selectedStyle]="selectedStyle"
    ></cx-style-selector>
    <cx-size-selector
      *ngIf="sizeVariants"
      [product]="product"
      [sizeVariants]="sizeVariants"
      (changeSizeEvent)="routeToVariant($event)"
    ></cx-size-selector>
  </div>
</ng-container>
