%VariantConfigurationOverviewTemplate {
  @include cx-configurator-template();
}

%VariantConfigurationOverviewTemplate:has(cx-page-slot):has(.VariantConfigOverviewSidebar) {
  @include cx-configurator-template();
  cx-page-slot.VariantConfigOverviewContent,
  cx-page-slot.VariantConfigOverviewSidebar {
    height: fit-content;
  }

  @include media-breakpoint-up(lg) {
    cx-page-slot.VariantConfigOverviewSidebar {
      max-inline-size: 30%;
    }

    cx-page-slot.VariantConfigOverviewContent {
      max-inline-size: 70%;
    }
  }

  @include media-breakpoint-up(xl) {
    cx-page-slot.VariantConfigOverviewSidebar {
      max-inline-size: calc(1140px * 0.3);
    }

    cx-page-slot.VariantConfigOverviewContent {
      max-inline-size: calc(1140px * 0.7);
    }
  }
}
