<div class="cx-import-entries-summary-status">
  @if (!summary.loading) {
    <p>
      @switch (type) {
        @case (orderEntriesSource.QUICK_ORDER) {
          {{ 'importEntriesDialog.summary.loaded' | cxTranslate: summary }}
        }
        @default {
          {{
            'importEntriesDialog.summary.loadedToCart' | cxTranslate: summary
          }}
        }
      }
    </p>
  } @else {
    <p>
      {{ 'importEntriesDialog.summary.loading' | cxTranslate: summary }}
    </p>
  }
</div>
@if (summary.successesCount > 0) {
  <p class="cx-import-entries-summary-successes">
    <cx-icon class="success" [type]="iconTypes.SUCCESS"></cx-icon>
    {{ 'importEntriesDialog.summary.successes' | cxTranslate: summary }}
  </p>
}
@if (summary.warningMessages.length > 0) {
  <div class="cx-import-entries-summary-warnings">
    <p>
      <cx-icon class="warning" [type]="iconTypes.ERROR"></cx-icon>
      {{
        'importEntriesDialog.summary.warning'
          | cxTranslate: { count: summary.warningMessages.length }
      }}
      <button class="btn btn-tertiary" (click)="toggleWarningList()">
        {{
          (warningDetailsOpened
            ? 'importEntriesDialog.summary.hide'
            : 'importEntriesDialog.summary.show'
          ) | cxTranslate
        }}
      </button>
    </p>
    @if (warningDetailsOpened) {
      <ul>
        @for (message of summary.warningMessages; track message) {
          <li>
            {{
              'importEntriesDialog.summary.messages.' + message.statusCode
                | cxTranslate: message
            }}
          </li>
        }
      </ul>
    }
  </div>
}
@if (summary.errorMessages.length > 0) {
  <div class="cx-import-entries-summary-errors">
    <p>
      <cx-icon class="error" [type]="iconTypes.RESET"></cx-icon>
      {{
        'importEntriesDialog.summary.error'
          | cxTranslate: { count: summary.errorMessages.length }
      }}
      <button class="btn btn-tertiary" (click)="toggleErrorList()">
        {{
          (errorDetailsOpened
            ? 'importEntriesDialog.summary.hide'
            : 'importEntriesDialog.summary.show'
          ) | cxTranslate
        }}
      </button>
    </p>
    @if (errorDetailsOpened) {
      <ul>
        @for (message of summary.errorMessages; track message) {
          <li>
            {{
              'importEntriesDialog.summary.messages.' + message.statusCode
                | cxTranslate: message
            }}
          </li>
        }
      </ul>
    }
  </div>
}
<div class="cx-import-entries-summary-footer">
  @if (!summary.loading) {
    <button
      (click)="close('Close Import Products Dialog')"
      class="btn btn-secondary"
      type="button"
    >
      {{ 'importEntriesDialog.close' | cxTranslate }}
    </button>
  } @else {
    <p>{{ 'importEntriesDialog.summary.info' | cxTranslate }}</p>
  }
</div>
