<ng-container *ngIf="context$ | async as ctx">
  <div
    class="cx-payment-options-section"
    *ngIf="ctx.savedPaymentHeading"
    [attr.aria-label]="ctx.savedPaymentHeading"
  >
    <h3 class="cx-payment-section-heading">
      {{ ctx.savedPaymentHeading }}
    </h3>
  </div>

  <div class="form-check cx-saved-cards-option">
    <input
      id="paymentId-saved-cards"
      class="form-check-input"
      role="radio"
      type="radio"
      [value]="ctx.savedCardsId"
      [checked]="ctx.selectedPaymentId === ctx.savedCardsId"
      [disabled]="ctx.disabled"
      (change)="ctx.savedCardsSelected && ctx.savedCardsSelected()"
    />

    <label
      class="cx-payment-type-label form-check-label form-radio-label"
      for="paymentId-saved-cards"
    >
      <div class="cx-payment-type">
        <cx-icon
          [type]="iconTypes.CREDIT_CARD"
          class="cx-payment-icon"
        ></cx-icon>
        <span>{{ ctx.savedCardsHeading }}</span>
      </div>
    </label>
  </div>
</ng-container>
