<cx-carousel
  *ngIf="(title$ | async) === 'Our Bestselling Products'"
  [items]="items$ | async"
  [title]="title$ | async"
  [template]="carouselItem"
  [focusConfig]="{
    lock: false,
    autofocus: true,
    group: focusGroup,
    focusOnScroll: true
  }"
>
</cx-carousel>

<ng-template
  #carouselItem
  let-item="item"
  let-prefetch="prefetch"
  let-tab="tab"
>
  <a
    *ngIf="getProduct(item, prefetch) | async as product"
    [tabindex]="tab"
    [cxFocus]="{ key: item, group: focusGroup }"
    [routerLink]="
      hasProduct(product)
        ? ({ cxRoute: 'product', params: product } | cxUrl)
        : []
    "
    [class.ghost]="!hasProduct(product)"
  >
    <cx-media [container]="product.images?.PRIMARY"></cx-media>
    <h4>
      {{ product?.name }}
    </h4>
    <div class="price">
      {{ product?.price?.formattedValue }}
    </div>
  </a>
</ng-template>
