<cx-carousel
  *ngIf="(title$ | async) === 'Our Bestselling Products'"
  [items]="items$ | async"
  [title]="title$ | async"
  [template]="carouselItem"
  [focusConfig]="{
    lock: true,
    autofocus: true,
    group: focusGroup
  }"
>
</cx-carousel>

<ng-template #carouselItem let-item="item">
  {{ item }}
  <!-- <ng-container *ngIf="getProduct(item) | async as product">
    <a
      [cxFocus]="{ key: product.code, group: focusGroup }"
      [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
    >
      <cx-media [container]="product.images?.PRIMARY"></cx-media>
      <h4>
        {{ product.name }}
      </h4>
      <div class="price">
        {{ product.price?.formattedValue }}
      </div>
    </a>
  </ng-container> -->
</ng-template>
