<ng-container *ngIf="form" [formGroup]="form">
  <div class="form-group" *ngIf="form.get('uid')">
    <label>
      <span class="label-content required">{{ 'user.uid' | cxTranslate }}</span>
      <input
        class="form-control"
        type="text"
        required
        placeholder="{{ 'user.uid' | cxTranslate }}"
        formControlName="uid"
      />
      <cx-form-errors [control]="form.get('uid')"></cx-form-errors>
    </label>
  </div>

  <div class="form-group" *ngIf="form.get('name')">
    <label>
      <span class="label-content required">{{
        'user.name' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        required
        placeholder="{{ 'user.name' | cxTranslate }}"
        formControlName="name"
      />
      <cx-form-errors [control]="form.get('name')"></cx-form-errors>
    </label>
  </div>

  <ng-container
    *ngIf="form.get('orgUnit') && units$ | async as units"
    [formGroup]="form.get('orgUnit')"
  >
    <div class="form-group">
      <label aria-required="true">
        <span class="label-content required">{{
          'user.orgUnit' | cxTranslate
        }}</span>
        <ng-select
          formControlName="uid"
          [searchable]="false"
          [clearable]="false"
          [items]="units"
          bindLabel="name"
          bindValue="id"
          [readonly]="form.get('orgUnit.uid').disabled"
        >
        </ng-select>
        <cx-form-errors [control]="form.get('orgUnit.uid')"></cx-form-errors>
      </label>
    </div>
  </ng-container>
</ng-container>
