<fieldset>
  <legend style="display: none">{{ attribute.label }}</legend>

  <div class="cx-single-select-bundle-quantity">
    <label>Qty</label>
    <cx-item-counter
      [allowZero]="true"
      [max]="100"
      [control]="quantity"
      [readonly]="!attribute.selectedSingleValue"
    ></cx-item-counter>
  </div>

  <div id="{{ createAttributeIdForConfigurator(attribute) }}">
    <div class="cx-single-select-bundle" *ngFor="let value of attribute.values">
      <label
        class="cx-single-select-bundle-label"
        id="{{ createValueUiKey('label', attribute.name, value.valueCode) }}"
        for="{{
          createAttributeValueIdForConfigurator(attribute, value.valueCode)
        }}"
      >
        <input
          id="{{
            createAttributeValueIdForConfigurator(attribute, value.valueCode)
          }}"
          class="form-check-input"
          type="radio"
          formcontrolname="attributeSingleSelectionBundleForm"
          [formControl]="attributeSingleSelectionBundleForm"
          [attr.required]="attribute.required"
          [value]="value.valueCode"
          name="{{ createAttributeIdForConfigurator(attribute) }}"
          attr.name="{{ createAttributeIdForConfigurator(attribute) }}"
          [cxFocus]="{ key: attribute.name + '-' + value.name }"
          attr.aria-labelledby="{{
            createAriaLabelledBy('label', attribute.name, value.valueCode)
          }}"
          [attr.aria-checked]="
            attributeSingleSelectionBundleForm.value === value.valueCode
              ? true
              : false
          "
          [attr.checked]="
            attributeSingleSelectionBundleForm.value === value.valueCode
              ? 'checked'
              : null
          "
          (change)="onSelect(value.valueCode)"
        />
        <div class="cx-dumy-img"></div>
      </label>
      <div class="cx-single-select-bundle-data">
        <div class="cx-single-select-bundle-title">
          {{ value.valueDisplay }}
        </div>
        <div class="cx-single-select-bundle-code">ID {{ value.valueCode }}</div>

        <cx-configurator-show-more
          [text]="
            value.description
              ? value.description
              : 'Bosch SDS-plus tool holder – fast and tool-free bit changing and optimum power transfer. Integrated chisel function with Vario-Lock – freely selectable work position of the chisel Impact stop for drilling in metal and wood'
          "
        ></cx-configurator-show-more>
      </div>
      <div class="cx-single-select-bundle-footer">
        <div class="cx-single-select-bundle-item-quantity">
          <div *ngIf="value.selected">
            <label>Qty</label>
            <cx-item-counter
              [allowZero]="true"
              [max]="100"
              [control]="quantity"
            ></cx-item-counter>
          </div>
          <button
            class="btn btn-action btn-sm"
            *ngIf="value.selected; else select"
          >
            {{ 'configurator.button.remove' | cxTranslate }}
          </button>
          <ng-template #select>
            <button
              class="btn btn-action btn-sm"
              (click)="onSelect(value.valueCode)"
            >
              {{ 'configurator.button.select' | cxTranslate }}
            </button>
          </ng-template>
        </div>
        <div class="-cx-single-select-bundle-price" *ngIf="value.selected">
          {{ quantity.value }} x {{ value.price }}$ =
          {{ quantity.value * value.price }}$
        </div>
      </div>
    </div>
  </div>
</fieldset>
