<fieldset class="cx-configurator-attribute-single-selection-bundle">
  <div class="cx-configurator-attribute-single-selection-bundle-quantity">
    <div class="cx-single-selection-bundle-quantity-input">
      <label>Qty</label>
      <cx-item-counter
        [control]="quantity"
        [max]="100"
        [readonly]="!attribute.selectedSingleValue"
      ></cx-item-counter>
    </div>

    <div
      class="cx-single-selection-bundle-price"
      *ngIf="attribute.selectedSingleValue"
    >
      {{ quantity.value }} x {{ priceSelected }}$ =
      {{ quantity.value * priceSelected }}$
    </div>
  </div>

  <cx-configurator-attribute-product-card
    (handleSelect)="onSelect($event)"
    *ngFor="let value of attribute.values"
    [product]="value"
  >
  </cx-configurator-attribute-product-card>
</fieldset>
