<ng-container *ngIf="{ showCart: showCart$ | async } as state">
  <div class="cart-toggle" (click)="onToggleShowOrHideCart(!!state.showCart)">
    <cx-icon
      aria-hidden="false"
      [type]="state.showCart ? iconTypes.CARET_UP : iconTypes.CARET_DOWN"
    >
    </cx-icon>
    <span class="cart-toggle-text">{{
      'quote.commons.cart' | cxTranslate
    }}</span>
  </div>

  <ng-container *ngIf="state.showCart">
    <ng-template
      [cxOutlet]="cartOutlets.CART_ITEM_LIST"
      [cxOutletContext]="context$ | async"
    >
    </ng-template>
  </ng-container>
</ng-container>
