
<div fxLayout="row">
    <div fxFlex="30%" class="dark">
        <md-card style="padding:0">
            <button 
                md-button 
                (click)="toggleSidenav()"
                style="width:100%">
                <md-icon>tune</md-icon>
            </button>
        </md-card>
    </div>

    <div fxFlex
        *ngIf="model && model.pagination"
        fxLayout="row" fxLayoutAlign="space-between center"
        >
        <y-product-paging [searchResult]="model"></y-product-paging>
        <y-product-sorting fxFlex="50px" [grid]="grid" ></y-product-sorting>
    </div>

</div>

<md-sidenav-container class="example-container" *ngIf="model && model.products">
    <md-sidenav #sidenav class="example-sidenav" mode="side" [opened]="isFacetPanelOpen"
        style="width:30%">
        <y-product-facet-navigation 
            (filter)="onFilter($event)"
            [activeFacetValueCode]="categoryCode || brandCode"
            [searchResult]="model"></y-product-facet-navigation>
    </md-sidenav>
    <div>
        <md-grid-list 
            *ngIf="grid.mode==='grid'"
            cols="3" 
            cols.sm="2" 
            rowHeight="400px" 
            gutterSize="10px">
            <md-grid-tile 
                *ngFor="let product of model.products">
                <y-product-grid-item 
                    class="product-grid-item"
                    [product]="product"></y-product-grid-item>    
            </md-grid-tile>
        </md-grid-list>

        <div *ngIf="grid.mode==='list'">
            <y-product-list-item 
                *ngFor="let product of model.products"
                class="product-grid-item"
                [product]="product"></y-product-list-item>
        </div>

        <div *ngIf="grid.mode==='line'">
            <y-product-line-item 
                *ngFor="let product of model.products"
                [product]="product"></y-product-line-item>
        </div>
  </div>
</md-sidenav-container>
