@import '../../../theme';

%cx-cart-details,
%cx-save-for-later {
  display: block;

  .cart-details-wrapper {
    padding: var(--cx-padding, 2rem 1rem);
  }

  .cx-total {
    @include type('4');
    margin: var(--cx-margin, 0 0 1rem);
  }

  .cx-promotions {
    @include type('7');
    color: var(--cx-color, var(--cx-g-color-success));
    padding: var(--cx-padding, 0.5rem 0);
  }

  .cx-empty-cart-header {
    @include type('8');
    margin: var(--cx-margin, 0 0 1rem 0);
    border-width: var(--cx-border-width, 0 0 1px 0);
    border-style: var(--cx-border-style, solid);
    border-color: var(--cx-border-color, var(--cx-g-color-light));
  }
}
