@import '../../../theme';

%cx-cart-coupon-anchor {
  .cx-cart-coupon-anchor {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    padding-top: 2rem;

    &-title {
      @include type('5');
      padding-bottom: 1rem;
    }
    &-tips {
      font-size: $small-font-size;
      font-weight: var(--cx-g-font-weight-normal);
    }
    &-link {
      @include type('8');
      cursor: pointer;
      display: inline-block;
      font-weight: var(--cx-g-font-weight-blod);
      text-decoration: underline;
    }
  }
}
