@import '../../../theme';

%cx-page-layout {
  cx-page-slot {
    > cx-cart-coupon-anchor {
      flex: none;
      padding: 0 0 2rem;
    }
  }
}

%cx-cart-coupon-anchor {
  .cx-cart-coupon-anchor {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include type('5');

    &-link {
      @include type('8');
      cursor: pointer;
      display: inline-block;
      text-decoration: underline;
    }
  }
}
