%cx-order-summary {
  display: block;
  padding: 1rem 2.5rem 0;
  margin: 0;

  h4 {
    text-transform: uppercase;
    font-weight: var(--cx-font-weight-semi);
  }

  .cx-summary-label {
    text-align: start;
    padding: 0;
  }
  .cx-summary-amount {
    text-align: end;
    padding: 0;
  }
  .cx-summary-row {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  .cx-summary-savings {
    color: var(--cx-color-success);
  }
  .cx-summary-total {
    font-weight: var(--cx-font-weight-bold);
  }
}
