.cx-code,
.cx-name .cx-property {
  margin: 0;
  font-weight: 400;
}
.cx-name-value {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  font-weight: var(--cx-font-weight-semi);
  text-decoration: underline;
  text-transform: capitalize;
  text-decoration-color: #d3d6db;
}
.cx-checkout-pickup-in-store-details-heading {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: var(--cx-font-weight-semi);
}
.cx-delivery-pointof-service-item {
  border: 1px solid #d3d6db;
  padding: 1rem;
}

.cx-checkout-title-pickup-in-store {
  border: 1px solid #d3d6db;
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 1rem;
}

.cx-total {
  .cx-value {
    font-weight: var(--cx-font-weight-bold);
  }
}

.cx-checkout-in-store-pick-up-location {
  padding-top: 1.5rem;
  border: 1px solid #d3d6db;
  font-weight: 400;
}

.cx-checkout-pickup-in-store-details {
  padding: 1rem;
  min-height: 5vh;
  border: 1px solid #d3d6db;
}
.cx-checkout-btns {
  margin-top: 5rem;
  margin-bottom: 1.125rem;
}
