<label
  id="{{ uiKeyGenerator.createAttributeUiKey('label', attribute.name) }}"
  class="cx-config-attribute-label"
  [class.cx-config-attribute-label-required-icon]="attribute.required"
  [class.cx-config-attribute-label-error]="showRequiredMessage()"
  [attr.aria-label]="
    !attribute.required
      ? attribute.label
      : ('configurator.attribute.requiredAttribute'
        | cxTranslate: { param: attribute.label })
  "
  >{{ attribute.label }}</label
>
<div
  translate
  *ngIf="showRequiredMessage()"
  class="cx-config-attribute-header-required-message"
>
  <cx-icon
    class="cx-config-attribute-header-required-message-icon"
    [type]="iconTypes.ERROR"
  ></cx-icon
  >{{ getRequiredMessageKey() | cxTranslate }}
</div>
