<label
  id="{{ uiKeyGenerator.createAttributeUiKey('label', attribute.name) }}"
  class="cx-config-attribute-label"
  [class.cx-config-attribute-label-required-icon]="attribute.required"
  [class.cx-config-attribute-label-required-error]="showRequiredMessage()"
  [attr.aria-label]="
    !attribute.required
      ? attribute.label
      : ('configurator.attribute.requiredAttribute'
        | cxTranslate: { param: attribute.label })
  "
  tabindex="0"
  >{{ attribute.label }}</label
>
<div
  *ngIf="showRequiredMessage()"
  class="cx-config-attribute-label-required-error-msg"
>
  <cx-icon [type]="iconTypes.ERROR"></cx-icon>
  {{ getRequiredMessageKey() | cxTranslate }}
</div>
<img
  *ngIf="attribute.images[0]"
  class="cx-config-attribute-img"
  src="{{ attribute.images[0].url }}"
  alt="{{ attribute.images[0].altText }}"
/>
