@import './saved-cart-form';
@import './saved-cart-list';
@import './add-to-saved-cart';
@import './saved-cart-detail-overview';
@import './saved-cart-detail-items';
@import './saved-cart-detail-action';
// TODO: speak to Michal about this
$saved-carts-components-whitelist: cx-add-to-saved-cart cx-saved-cart-form !default;

$skipComponentStyles: () !default;

@each $selector in $saved-carts-components-whitelist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $saved-carts-components-whitelist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}
