%cx-saved-cart-form {
  .cx-saved-cart-form-container {
    background: var(--cx-color-inverse);
    padding: 2rem;
    position: relative;

    .cx-saved-cart-form-header {
      margin-bottom: 2rem;

      .cx-saved-cart-form-title {
        margin-bottom: 2rem;
        font-weight: bold;
      }

      .cx-saved-cart-form-close {
        bottom: inherit;
        outline: none;
        position: absolute;
        right: 2rem;
        top: 2rem;
      }
    }

    .cx-saved-cart-form-body {
      margin-bottom: 2rem;

      .cx-saved-cart-form-row {
        margin-bottom: 1.5rem;

        .cx-saved-carts-label {
          font-weight: bold;
        }

        .cx-saved-carts-label-optional {
          font-weight: normal;
        }

        .cx-saved-carts-input-hint {
          font-size: 0.75rem;
          font-style: italic;
          text-align: end;
        }
      }
    }

    .cx-saved-cart-form-footer {
      display: flex;

      button {
        flex: 0 0 calc(50% - 0.5rem);
      }
    }
  }
}
