<ng-container *ngIf="configuration$ | async as configuration">
  <div class="cx-config-previous-next-btns">
    <div class="col-6 col-md-3">
      <button
        class="cx-btn btn btn-block btn-action"
        [disabled]="isFirstGroup(configuration.owner.key) | async"
        (click)="onPrevious(configuration.configId, configuration.owner.key)"
      >
        {{ 'configurator.button.previous' | cxTranslate }}
      </button>
    </div>
    <div class="col-6 col-md-3">
      <button
        class="cx-btn btn btn-block btn-secondary"
        [disabled]="isLastGroup(configuration.owner.key) | async"
        (click)="onNext(configuration.configId, configuration.owner.key)"
      >
        {{ 'configurator.button.next' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
