<div class="cx-config-previous-next-btns row">
  <div class="col-6 col-md-3">
    <button
      class="cx-btn btn btn-block btn-action"
      [disabled]="isFirstGroup() | async"
      (click)="onPrevious()"
    >
      {{ 'configurator.button.previous' | cxTranslate }}
    </button>
  </div>
  <div class="col-6 col-md-3">
    <button
      class="cx-btn btn btn-block btn-secondary"
      [disabled]="isLastGroup() | async"
      (click)="onNext()"
    >
      {{ 'configurator.button.next' | cxTranslate }}
    </button>
  </div>
</div>
