<ng-container>
  <div
    [cxFocus]="focusConfig"
    class="modal-dialog modal-dialog-centered cx-opf-error-modal"
    (esc)="dismissModal('Escape click')"
  >
    <div
      class="modal-content cx-opf-error-modal-container"
      *ngIf="opfErrorDialogOptions$ | async as opfErrorDialogOptions"
    >
      <div class="modal-body">
        <p class="cx-confirmation">
          {{ opfErrorDialogOptions?.message }}
        </p>
      </div>
      <div class="cx-opf-error-modal-footer cx-modal-footer">
        <button class="btn btn-primary" (click)="dismissModal('Cancel')">
          {{ opfErrorDialogOptions?.confirm }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
