@import 'node_modules/bootstrap/scss/buttons';

// consider moving to core
%buttons {
  a.link {
    @extend .btn, .btn-link, .btn-sm;
    padding: var(--cx-spatial-base);
    font-size: 1.125rem;
    &.disabled {
      color: var(--cx-color-text);
      cursor: not-allowed;
    }
  }

  button.button,
  a.button {
    @extend .btn, .btn-sm;

    &.primary {
      @extend .btn-primary;
    }
    &.secondary {
      @extend .btn-secondary;
    }

    padding: var(--cx-spatial-base);
    font-size: 1rem;
    line-height: 1.5rem;

    &.active {
      color: var(--cx-color-primary);
    }
  }
}
