section {
  background-color: var(--cx-color-inverse);
  margin-bottom: var(--cx-spatial-md);

  .property {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // padding: var(--cx-spatial-base) var(--cx-spatial-md);

    label {
      flex: 100%;
      font-size: 0.9rem;
      color: initial;
      margin: 0;
      color: var(--cx-color-secondary);
      line-height: 0.8rem;

      padding: var(--cx-spatial-md) var(--cx-spatial-md) var(--cx-spatial-base);
    }
    .value {
      padding: 0 var(--cx-spatial-md);
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    button {
      padding-inline-end: 0;
      cx-icon {
        font-size: 2rem;
      }
    }
  }
  .instruction {
    color: var(--cx-color-secondary);
    font-size: 1rem;
    padding: var(--cx-spatial-md);
  }
}
