%cx-store-finder-search-result {
  .cx-pagination {
    margin: 1rem auto;
    justify-content: center;
    display: flex;

    .pagination {
      a.page-link:hover {
        color: #fff;
      }
    }
  }

  .cx-spinner {
    padding: 2rem 0;
  }
}
