%cx-store-finder-list {
  .cx-columns {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
      height: 70vh;
      margin-bottom: 1rem;
    }
  }
  .cx-columns-mobile {
    margin-top: 1rem;
    display: block;
    @include media-breakpoint-up(md) {
      display: none;
    }

    .cx-list {
      li:first-child {
        border: none;
      }
    }
  }
  .cx-address-col {
    height: 100%;
    @include media-breakpoint-up(md) {
      height: 100%;
      overflow-y: scroll;
      padding: inherit inherit inherit 0;
    }
  }
  .cx-map-col {
    height: 100%;
    @include media-breakpoint-up(md) {
      height: 100%;
      overflow-y: auto;
    }
  }
  .cx-list {
    @include type('6');
    list-style: none;
    padding: inherit inherit inherit 0;
  }

  %cx-store-finder-list-item {
    margin: 0;
    padding: 1.25rem;
  }

  .cx-list-items {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--cx-color-light);

    &:hover {
      background-color: var(--cx-color-background);

      .cx-store-name {
        text-decoration: underline;
      }
    }

    &.cx-selected-item {
      background-color: var(--cx-color-background);
      &:hover {
        background-color: var(--cx-color-background);
      }
    }
  }

  .cx-not-found {
    @include type('4');
    text-align: center;
    padding: 3rem 0;
  }

  .cx-store,
  .cx-feature-item {
    @include media-breakpoint-up(md) {
      max-width: 100%;
      flex: 100%;
    }
  }

  .cx-feature {
    margin-bottom: 0.5rem;
  }

  .cx-back-wrapper {
    margin-top: 0.5rem;
  }

  .cx-back {
    margin-top: 0.5rem;

    span {
      cursor: pointer;
      font-weight: 600;
    }

    &:hover {
      color: var(--cx-color-primary);
    }
  }
}
