%cx-store-finder-stores-count {
  .cx-count {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: var(--cx-color-light);
    display: inline-block;
    padding: 40px 0 0 0;

    @include media-breakpoint-down(md) {
      padding: 25px 0 0 0;
    }
  }

  .cx-set {
    width: 100%;
  }

  .cx-title {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .cx-name {
    @include type('4');
    padding-right: 0.5rem;
  }

  .cx-country-count {
    @include type('4');
    font-weight: normal;
  }

  .cx-region-set {
    width: 100%;
  }

  .cx-region-directory {
    column-count: 1;
    list-style: none;
    padding-left: 0;
    @include media-breakpoint-up(md) {
      column-count: 4;
    }
  }

  .cx-directory-item {
    padding: 0;
    line-height: normal;
  }

  .cx-item-link {
    padding: 0 0.5rem 0.5rem 0.2rem;
    @include type('7');
    line-height: normal;
  }

  .cx-item-count {
    @include type('7');
  }

  .cx-count-spinner {
    padding: 30px 0;
  }
}
