%cx-store-finder-store-description {
  .container {
    margin-bottom: 1rem;
  }

  .cx-store {
    text-align: left;
  }

  .cx-store-description-address {
    margin-bottom: 1.5rem;
  }

  .cx-contact {
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
  }

  .cx-list {
    padding: 0;
    list-style: none;
  }

  .cx-link {
    color: var(--cx-color-text);
  }

  .cx-schedule {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .cx-store-hours {
    padding: 0;
  }

  .cx-hours {
    text-align: right;
  }

  .cx-features {
    margin-bottom: 10px;
  }

  .cx-features-header {
    text-align: left;
  }

  .cx-feature-value {
    border-width: 1px;
    border-style: solid;

    @include media-breakpoint-down(md) {
      margin: 5px 0;
    }
  }

  .cx-feature-item {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .cx-storeMap {
    height: 70vh;
  }
}
