<section
  [attr.aria-label]="'opfCheckout.poNumber' | cxTranslate"
  class="cx-po-number-section"
>
  <h3>{{ 'opfCheckout.poNumber' | cxTranslate }}</h3>
  <div class="cx-review-summary-card">
    <cx-card [content]="getPoNumberCard(poNumber$ | async) | async"></cx-card>
    <div class="cx-review-summary-edit-step">
      <a
        [attr.title]="'opfCheckout.editPoNumber' | cxTranslate"
        [routerLink]="
          {
            cxRoute: getCheckoutStepUrl(checkoutStepTypePaymentType),
          } | cxUrl
        "
        ><cx-icon aria-hidden="true" [type]="iconTypes.PENCIL"></cx-icon
      ></a>
    </div>
  </div>
</section>
