%cx-product-facet-navigation {
  button.btn {
    text-transform: none;
  }
  // filter button on mobile
  @include media-breakpoint-up(lg) {
    > button.btn,
    .facets > .close {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    .facets {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
      background-color: var(--cx-color-background);
      height: 100%;
      width: 100%;
      // width: 70%;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;

      transform: translate3d(0, 100%, 0);
      // display: none;
      // &:focus,
      // &:focus-within,
      &.open {
        // display: block;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  min-width: 0;
  .active {
    display: flex;
    flex-wrap: wrap;
    margin-inline-end: -10px;

    cursor: default;
    color: var(--cx-color-text);

    h4 {
      flex: 100%;
      padding: 0 0 10px 0;
      margin: 0 0 20px 0;

      @include media-breakpoint-down(md) {
        display: inline-block;
        margin: 0 20px 0px 0;
      }
    }
    a {
      display: flex;
      align-items: center;
      transition: all 0.3s;
      min-width: 0;

      background: var(--cx-color-background);

      &:hover {
        background: var(--cx-color-light);
        text-decoration: none;
      }

      border-radius: 4px;

      margin: 0 10px 10px 0;
      // font-size: 0.87rem;

      > span {
        margin-inline-start: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      cx-icon {
        font-size: 1rem;
        padding: 10px;
        &:hover {
          color: var(--cx-color-primary);
        }
      }
    }
  }
}
