%cx-product-facet-navigation {
  .cx-search-facet {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .cx-facet-checkbox {
    position: relative;
    margin: 0 10px 0 0;
    min-width: 22px;
    transition: 0.3s;

    &:checked + .cx-facet-text {
      color: var(--cx-color-primary);
    }
  }

  .cx-facet-list {
    padding: 0;
    list-style: none;
    margin: 0 0 32px 0;

    .form-check {
      padding: 0;
      margin: 0 0 20px 0;
    }

    .cx-facet-label {
      color: var(--cx-color-secondary);
      @include type(6);
      font-weight: var(--cx-font-weight-normal);
      position: relative;
      margin: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;

      &:hover .cx-facet-checkbox:not(:checked) {
        background-color: var(--cx-color-light);
      }

      .cx-facet-text {
        line-height: 22px;
      }
    }

    .cx-facet-toggle-btn {
      cursor: pointer;
    }
  }

  .cx-facet-header {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
    @include type(4);
    color: var(--cx-color-text);
    margin: 0 0 17px 0;
    display: block;
    font-weight: var(--cx-font-weight-semi);

    &-link {
      padding: 5px;
      display: block;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: var(--cx-color-light);
      }
    }

    .fa-minus {
      float: right;

      &::before {
        font-size: 12px;
        top: 5px;
        position: relative;
        color: var(--cx-color-secondary);
      }
    }

    .fa-plus {
      float: right;

      &::before {
        font-size: 14px;
        top: 5px;
        position: relative;
        color: var(--cx-color-secondary);
      }
    }
  }

  .cx-facet-filter-container {
    margin: 0 0 40px 0;

    @include media-breakpoint-down(md) {
      margin: 0;
    }
  }

  .cx-facet-filter-header {
    @include type(3);
    color: var(--cx-color-text);
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;

    @include media-breakpoint-down(md) {
      display: inline-block;
      margin: 0 20px 0px 0;
    }
  }

  .cx-facet-filter-pill {
    background: var(--cx-color-light);
    padding: 7px 15px 7px 13px;
    margin: 10px 10px 5px 0;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 4px;

    cx-icon:before {
      font-size: 16px;
    }

    .cx-facet-pill-value {
      line-height: 1.7;
    }

    span {
      flex: 1 1 auto;
      font-size: 14px;
      vertical-align: middle;
    }

    button {
      margin: 0 0 0 10px;
      line-height: 0.9;

      span {
        vertical-align: middle;
      }
    }
  }

  .cx-facet-pill-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 203px;

    @include media-breakpoint-only(sm) {
      max-width: 100%;
    }
  }

  .cx-facet-modal-title {
    @include type(3);
  }

  .cx-facet-mobile {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    @include media-breakpoint-down(md) {
      .cx-facet-mobile-btn {
        margin: 0 0 20px 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .cx-facet-modal-body {
      overflow-y: scroll;
      height: 100vh;
    }

    .cx-facet-modal-label {
      @include type(4);
      font-weight: var(--cx-font-weight-semi);
      margin: 0 0 27px 0;
    }
  }
}
