%cx-product-list {
  cx-star-rating {
    padding-top: 0;
  }

  .cx-product-search-list {
    display: block;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
    margin: 0 0 25px 0;

    &:last-of-type {
      border: none;
    }
  }

  .cx-product-container {
    margin: 40px 0;
  }

  .cx-sorting {
    border-style: solid;
    border-color: var(--cx-color-light);

    @include media-breakpoint-down(md) {
      border: none;
    }

    &.top {
      border-width: 0 0 1px 0;
      padding: 0 0 8px 0;
    }

    &.bottom {
      border-width: 1px 0 0 0;
      padding: 25px 0 0px 0;
    }
  }

  .cx-pagination {
    display: inline-block;
    vertical-align: top;

    .page-link:hover {
      color: var(--cx-color-inverse);
    }
  }

  .cx-sort-dropdown {
    height: 48px;
    align-items: center;
    display: flex;
    span {
      margin-inline-end: 0.5rem;
      flex: none;
    }
    cx-sorting {
      width: 100%;
    }
    .ng-arrow-wrapper {
      padding-inline-end: 35px;
    }
  }

  .cx-double-btn-container {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }

  .cx-single-btn-container {
    display: grid;
    width: 50%;
    margin: auto;
  }

  .cx-single-btn-container,
  .cx-double-btn-container {
    .btn-block {
      cursor: pointer;
    }
  }

  .grid-btn-padding {
    padding-top: 25px;
  }

  .align-btn {
    margin-top: 0px !important;
  }
}
