@import '../organization-list';

%cx-unit-manage-addresses {
  @extend %cx-organization-list;

  cx-table {
    td.summary {
      a {
        justify-content: space-between;

        & > * {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
