%cx-unit-tree-navigation-ui {
  margin-bottom: 100px;
  display: block;

  cx-generic-link {
    font-size: 1.125rem;
  }

  ul {
    list-style: none;
    padding-left: 20px;

    cx-icon {
      cursor: pointer;
      font-size: 1.25rem;
      min-width: 16px;
    }

    cx-generic-link {
      &.margin-left {
        margin-left: 22px;

        @include media-breakpoint-down(md) {
          margin-left: 10px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding-left: 10px;
    }
  }

  > ul {
    padding-left: 10px;
  }

  li {
    &[aria-expanded='false'] {
      & > ul {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      & > ul {
        display: block;
      }
    }

    .tree-desktop-branch {
      display: initial;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .tree-mobile-branch {
      display: none;
      @include media-breakpoint-down(md) {
        display: flex;

        cx-generic-link {
          width: 100%;
        }
      }

      cx-generic-link {
        &.margin-left {
          margin-left: 0;
        }
      }
    }
  }

  .cx-unit-tree-actions {
    margin-bottom: 1rem;
    margin-left: -12px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .node-title {
    display: flex;
    width: 100%;
    min-height: 2.5rem;
    align-items: center;

    > span {
      margin-left: 5px;
    }
  }

  .selected-node-branch {
    padding-left: 10px;
  }
}
