<cx-view #view *ngIf="model$ | async as model">
  <form
    [formGroup]="model.form"
    (ngSubmit)="save(model.code, model.form)"
  >
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'costCenterDetails', params: model.costCenter } | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        Cancel
      </a>
      {{ 'organization.edit' | cxTranslate }}
      <button class="button primary" type="submit">
        Save
      </button>
    </h3>
    <section>
      <cx-cost-center-form [form]="model.form"> </cx-cost-center-form>
    </section>
  </form>
</cx-view>
