<cx-view #view *ngIf="costCenter$ | async as costCenter">
  <form [formGroup]="form" (ngSubmit)="save()">
    <h3>
      <button
        class="link"
        [routerLink]="
          { cxRoute: 'costCenterDetails', params: costCenter } | cxUrl
        "
        (click)="back()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        Cancel
      </button>
      {{ 'organization.edit' | cxTranslate }}
      <button class="button primary" type="submit">
        Save
      </button>
    </h3>
    <section>
      <cx-form-notification
        *ngIf="formRestored"
        messageKey="form.restored"
      ></cx-form-notification>

      <cx-cost-center-form [form]="form"></cx-cost-center-form>
    </section>
  </form>
</cx-view>
