<cx-view #view *ngIf="code$ | async as costCenterCode">
  <form
    [formGroup]="form"
    (ngSubmit)="save(costCenterCode)"
    *ngIf="costCenter$ | async as costCenter"
  >
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'costCenterDetails', params: costCenter } | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.cancel' | cxTranslate }}
      </a>
      {{ 'organization.edit' | cxTranslate }}
    </h3>
    <section>
      <cx-cost-center-form [form]="form"> </cx-cost-center-form>

      <button class="button primary" type="submit">
        {{ 'organization.save' | cxTranslate }}
      </button>
    </section>
  </form>
</cx-view>
