<div
  class="cx-payment-option-container"
  *ngIf="renderPaymentMethodEvent$ | async as paymentLink"
>
  <div *ngIf="!paymentLink.isLoading; else loading">
    <div
      *ngIf="paymentLink.renderType === RENDER_TYPES.DESTINATION"
      class="cx-payment-link"
    >
      <a class="btn btn-primary" [href]="paymentLink.data">{{
        'opf.checkout.proceedPayment' | cxTranslate
      }}</a>
    </div>
    <ng-container
      *ngIf="paymentLink.renderType === RENDER_TYPES.DYNAMIC_SCRIPT"
    >
      <div [innerHTML]="renderHtml(paymentLink.data)"></div>
    </ng-container>
  </div>
</div>

<ng-template #loading><cx-spinner></cx-spinner></ng-template>
