<ng-container *ngIf="components$ | async as components">
  <ng-container *ngFor="let component of components; let i = index">
    <ng-container *ngIf="component">
      <button
        [class.active]="i === activeTabNum"
        (click)="select(i, $event)"
        [attr.aria-expanded]="i === activeTabNum"
        [attr.aria-controls]="'tab-' + i"
      >
        {{
          component.title | cxTranslate: { param: tabTitleParams[i] | async }
        }}
      </button>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let component of components; let i = index">
    <ng-container *ngIf="component">
      <div
        [class.active]="i === activeTabNum"
        [attr.id]="'tab-' + i"
        role="region"
        [attr.aria-labelledby]="'tab-' + i + '-id'"
      >
        <ng-template [cxOutlet]="component.flexType" [cxOutletContext]="{}">
          <ng-container
            [cxComponentWrapper]="component"
            (cxComponentRef)="tabCompLoaded($event)"
          ></ng-container>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
