<div
  class="cx-pickup-option-dialog cx-modal-container"
  [cxFocus]="focusConfig"
  (esc)="close(CLOSE_WITHOUT_SELECTION)"
  role="dialog"
  aria-modal="true"
  aria-labelledby="cx-pickup-option-dialog-title"
>
  <div class="cx-dialog-content">
    <!-- Modal Header -->
    <div class="modal-header cx-dialog-header">
      <div id="cx-pickup-option-dialog-title" class="cx-dialog-title">
        {{ 'pickupOptionDialog.modalHeader' | cxTranslate }}
      </div>

      <button
        (click)="close(CLOSE_WITHOUT_SELECTION)"
        class="cx-dialog-close close"
        [attr.aria-label]="'pickupOptionDialog.close' | cxTranslate"
        type="button"
      >
        <span aria-hidden="true">
          <cx-icon [type]="ICON_TYPE.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <section class="cx-dialog-body modal-body">
      <cx-store-search
        [hideOutOfStock]="getHideOutOfStockState$ | async"
        (findStores)="onFindStores($event)"
        (showSpinner)="showSpinner($event)"
        (eventHideOutOfStock)="onHideOutOfStock()"
      ></cx-store-search>
      <cx-store-list
        [productCode]="productCode"
        (storeSelected)="close(LOCATION_SELECTED)"
      ></cx-store-list>
      <div *ngIf="loading">
        <div class="cx-spinner">
          <cx-spinner></cx-spinner>
        </div>
      </div>
    </section>
  </div>
</div>
