@import '../../theme';

%cx-anonymous-consent-form {
  cx-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cx-color-secondary);

    &:before {
      font-size: 1.6rem;
    }
  }

  //cx-accordion customization
  .cx-accordion {
    @include media-breakpoint-down(xs) {
      margin: 0;
    }
    .cx-accordion-item {
      margin-top: 15px;
      margin-bottom: 15px;
      @include media-breakpoint-only(xs) {
        border-top: 0 none;
        border-right: 0 none;
        border-left: 0 none;
      }
      .cx-accordion-tab {
        .cx-accordion-title {
          width: 80%;
          @include media-breakpoint-only(xs) {
            width: 78%;
          }
        }
      }
    }
  }

  //cx-toggle-button customization
  .cx-toggle-button {
    margin-left: -6.5rem;

    .cx-toggle-text {
      @include type('8');
    }
  }
}
