@import '../../theme';

%cx-anonymous-consent-form {
  cx-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cx-color-secondary);

    &:before {
      font-size: 1.6rem;
    }
  }

  .cx-keyb-focusable:focus > .cx-keyb-visualfocus,
  .cx-keyb-focusable:focus ~ .cx-keyb-visualfocus {
    box-shadow: 0 0 2px 2px var(--cx-color-visual-focus);
  }
  .cx-keyb-focusable:focus,
  .cx-keyb-visualfocus:focus {
    outline: none;
  }

  //cx-accordion customization
  .cx-accordion {
    @include media-breakpoint-down(xs) {
      margin: 0;
    }
    .cx-accordion-item {
      margin-top: 15px;
      margin-bottom: 15px;
      @include media-breakpoint-down(xs) {
        margin: 0;
        border-bottom: 0 none;
      }
      .cx-accordion-tab {
        .cx-accordion-title {
          @include media-breakpoint-down(xs) {
            width: 60%;
          }
        }
      }
    }
  }

  //cx-toggle-button customization
  .cx-toggle-button {
    @include media-breakpoint-down(xs) {
      margin-left: -33%;
    }
    @include media-breakpoint-up(sm) {
      margin-left: -16%;
    }
    @include media-breakpoint-up(md) {
      margin-left: -15%;
    }
    @include media-breakpoint-up(lg) {
      margin-left: -14%;
    }
  }
}
