@import '../../theme';

%cx-anonymous-consents-dialog {
  .cx-dialog-header {
    padding-top: 1.5rem;
  }
  .cx-dialog-body {
    padding-top: 0;
    //this below is custom not global
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }
  .cx-dialog-buttons {
    text-align: right;
    padding: 0 2rem;
  }
  .cx-action-btn {
    @include type(8);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
  }

  .cx-dialog-row {
    max-width: 100%;
    //this below is custom not global
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }

  .cx-dialog-title {
    font-size: var(--cx-font-size, 1.375rem);
    font-weight: var(--cx-font-weight-semi);
    line-height: var(--cx-line-height, 1.2222222222);
  }
}
