%cx-interactive-table {
  .cx-centeralign {
    margin: auto;
    padding-bottom: 0.5em;
    padding: 1rem 0 2rem;
    cx-pagination {
      justify-content: center;
    }
  }

  input[type='checkbox'] {
    margin-left: 0;
  }
  .cx-form-group {
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
}
