<ng-container *ngIf="product">
  <div class="variant-generic-selector">
    <ng-container *ngFor="let category of categories">
      <label for="{{ category.name }}">{{ category.name }}</label>

      <div
        *ngIf="category.hasImages; else noImages"
        id="{{ category.name }}"
        role="combobox"
        [attr.aria-label]="
          'multiDimensional.chooseVariantTitle'
            | cxTranslate
              : {
                  category: category.name
                }
        "
        class="image-variant-container"
      >
        <button
          *ngFor="let option of category.variantOptions"
          role="option"
          type="button"
          class="image-variant"
          [ngClass]="{ active: option?.code === product.code }"
          [title]="option.value"
          [attr.aria-label]="option.value"
          (click)="changeVariant(option.code)"
          [cxFocus]="{ key: option.code }"
        >
          <cx-media [container]="option.images" role="img"> </cx-media>
        </button>
      </div>

      <ng-template #noImages>
        <div class="select-variant-container">
          <ng-select
            [clearable]="false"
            [searchable]="false"
            [items]="category.variantOptions"
            [(ngModel)]="selectedVariant"
            (change)="changeVariant($event.target.value)"
            [id]="category.name"
            [cxNgSelectA11y]="{
              ariaLabel:
                'multiDimensional.chooseVariantTitle'
                | cxTranslate
                  : {
                      category: category.name
                    }
            }"
            bindValue="code"
            bindLabel="value"
          >
          </ng-select>
        </div>
      </ng-template>
    </ng-container>
  </div>
</ng-container>
