<ng-container *ngIf="displayFormula()">
  <ng-container *ngIf="displayQuantityAndPrice(); else priceOnly">
    <div
      class="cx-quantity-price"
      [attr.aria-label]="'configurator.a11y.valueSurcharge' | cxTranslate"
    >
      {{ quantityWithPrice(formula?.quantity | cxNumeric) }}
    </div>
    <div class="cx-price-total">{{ priceTotal }}</div>
  </ng-container>
</ng-container>

<ng-template #priceOnly>
  <ng-container *ngIf="displayPriceOnly(); else selected">
    <div
      [ngClass]="styleClass"
      [attr.aria-label]="'configurator.a11y.valueSurcharge' | cxTranslate"
    >
      {{ price }}
    </div>
  </ng-container>
</ng-template>

<ng-template #selected>
  <ng-container *ngIf="isPriceLightedUp()">
    <div [ngClass]="styleClass">
      {{ 'configurator.price.selectedItem' | cxTranslate }}
    </div>
  </ng-container>
</ng-template>
