<ng-container *ngIf="displayFormula()">
  <ng-container *ngIf="displayPriceOnly()">
    <div
      [ngClass]="styleClass"
      [attr.aria-label]="'configurator.a11y.valueSurcharge' | cxTranslate"
    >
      {{ price }}
    </div>
  </ng-container>
  <ng-container *ngIf="displayQuantityAndPrice()">
    <div
      class="cx-quantity-price"
      [attr.aria-label]="'configurator.a11y.valueSurcharge' | cxTranslate"
    >
      {{ quantityWithPrice(formula?.quantity | cxNumeric) }}
    </div>
    <div class="cx-price-total">{{ priceTotal }}</div>
  </ng-container>
</ng-container>
