<ng-container *ngIf="isAccountPayment">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="costCenters$ | async as costCenters">
        <div *ngIf="costCenters.length !== 0">
          <label>
            <span class="label-content required">{{
              'checkoutB2B.costCenter' | cxTranslate
            }}</span>
            <select
              #costCenterSelect
              (change)="setCostCenter(costCenterSelect.value)"
            >
              <option
                *ngFor="let costCenter of costCenters"
                value="{{ costCenter.code }}"
                [selected]="costCenterId === costCenter.code"
              >
                {{ costCenter.name }}
              </option>
            </select>
          </label>
        </div>
        <span class="cx-cost-center-description">{{
          'checkoutB2B.availableLabel' | cxTranslate
        }}</span>
      </ng-container>
    </div>
  </div>
</ng-container>
