@if (isAccountPayment) {
  <div class="row">
    <div class="col-md-12">
      @if (costCenters$ | async; as costCenters) {
        @if (costCenters.length !== 0) {
          <div>
            <label>
              <span class="label-content required">{{
                'checkoutB2B.costCenter' | cxTranslate
              }}</span>
              <select
                #costCenterSelect
                (change)="setCostCenter(costCenterSelect.value)"
              >
                @for (costCenter of costCenters; track costCenter) {
                  <option
                    value="{{ costCenter.code }}"
                    [selected]="costCenterId === costCenter.code"
                  >
                    {{ costCenter.name }}
                  </option>
                }
              </select>
            </label>
          </div>
        }
        <span class="cx-cost-center-description">{{
          'checkoutB2B.availableLabel' | cxTranslate
        }}</span>
      }
    </div>
  </div>
}
