<div class="info-container">
  <div class="info-header">
    <div>In Store Pickup</div>
    <div>Pick up by 07,23,2020</div>
  </div>
  <div class="info-location">
    <div>Pickup from</div>
    <div>Store Location</div>
    <div>Address 1</div>
    <div>Address 2</div>
    <div>City State Zip Code</div>
    <div>Phone Number</div>
  </div>
  <div class="store-hours">
    <div>Store hours</div>
    <div class="store-hours-container">
      <div class="store-hours-day">Monday - Friday</div>
      <div class="store-hours-time">9am - 6pm</div>
    </div>
  </div>
</div>
