<div class="info-container">
  <div class="info-header">
    <div>{{ 'pickupDeliveryInfo.inStorePickup' | cxTranslate }}</div>
    <div>{{ 'pickupDeliveryInfo.pickupBy' | cxTranslate }}</div>
  </div>
  <div class="info-location">
    <div>{{ 'pickupDeliveryInfo.pickupFrom' | cxTranslate }}</div>
    <cx-store-address
      [storeDetails]="augmentedOrderEntry.deliveryPointOfServiceExtraDetails"
    ></cx-store-address>
  </div>
  <div class="store-hours">
    <cx-store-schedule
      [storeDetails]="augmentedOrderEntry.deliveryPointOfServiceExtraDetails"
    ></cx-store-schedule>
  </div>
  <div class="entry-info">
    <div class="entry-info-header entry-info-item">Item</div>
    <div class="entry-info-header entry-info-price">Item Price</div>
    <div class="entry-info-header entry-info-quantity">QTY</div>
    <div class="entry-info-header entry-info-total">Total</div>
    <div class="product-info entry-info-item">
      <div class="product-info-image">
        <a
          [routerLink]="
            { cxRoute: 'product', params: augmentedOrderEntry.product } | cxUrl
          "
          cxModal="dismiss"
          tabindex="0"
        >
          <cx-media
            [container]="augmentedOrderEntry.product?.images?.PRIMARY"
            format="cartIcon"
          ></cx-media>
        </a>
      </div>
      <div>{{ augmentedOrderEntry.product.name }}</div>
    </div>
    <div class="entry-info-price">{{ augmentedOrderEntry.basePrice.formattedValue }}</div>
    <div class="entry-info-quantity">{{ augmentedOrderEntry.quantity }}</div>
    <div class="entry-info-total">{{ augmentedOrderEntry.totalPrice.formattedValue }}</div>
  </div>
</div>
