%cx-searchbox-calydon {
  label {
    cx-icon {
      &.reset {
        @include media-breakpoint-down(sm) {
          position: relative;
          left: 74px;
          z-index: 20;
          top: 52px;
          margin-top: 0;
        }
      }
    }
  }
}
