%cx-subscription-billing-details {
  .subscription-bill-item {
    border: 1px solid var(--cx-color-medium);
  }
  .subscription-bill-item-header {
    padding: 1rem;
    border-bottom: 1px solid var(--cx-color-medium);
    .subscription-bill-item-meta {
      font-size: 0.9rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .subscription-id {
        margin-bottom: 1rem;
        color: var(--cx-color-secondary);
      }
      .subscription-details-link {
        margin-bottom: 1rem;
        font-weight: 600;
      }
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        .subscription-details-link a {
          display: inline;
        }
      }
    }
    .subscription-bill-item-total {
      font-weight: 500;
    }
  }
  .subscription-bill-item-body {
    padding: 1.2rem;
    background-color: var(--cx-color-light);
    .subscription-bill-item-details {
      margin-bottom: 1rem;
      padding: 1rem;
      background-color: white;
      border-radius: 10px;
      font-weight: 500;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .subscription-product {
        font-weight: 600;
      }
    }
  }
}
