<cx-split-view [hideMode]="false">
  @if (structure$ | async; as structure) {
    @if (listData$ | async; as data) {
      <cx-view
        class="list"
        role="region"
        [attr.aria-labelledby]="viewType + '_title'"
      >
        <div class="header">
          <div aria-live="polite" class="title">
            <!-- TODO: (CXSPA-6624) - Remove feature flag next major release -->
            <h2>
              <span id="{{ viewType + '_title' }}">
                {{
                  viewType + '.header'
                    | cxTranslate: { count: getListCount(data) }
                }}
              </span>
              <button
                [cxPopover]="listHint"
                [cxPopoverOptions]="{
                  placement: 'auto',
                  class: 'hint-popover',
                  appendToBody: true,
                  displayCloseButton: true,
                }"
                [attr.aria-label]="
                  'organization.information'
                    | cxTranslate
                      : { title: viewType + '.groupName' | cxTranslate }
                "
                [attr.title]="
                  'organization.information'
                    | cxTranslate
                      : { title: viewType + '.groupName' | cxTranslate }
                "
              >
                <cx-icon [type]="iconTypes.INFO"> </cx-icon>
              </button>
            </h2>
          </div>

          <div class="actions">
            <label>
              @if (data.pagination?.sort) {
                <span>{{ structure.type + '.sortBy' | cxTranslate }}</span>
              }
              @if (data.pagination?.sort) {
                <ng-select
                  name="sort"
                  class="sort"
                  [searchable]="false"
                  [clearable]="false"
                  (change)="sort($any(data.pagination))"
                  [tabIndex]="0"
                  [(ngModel)]="sortCode"
                  [attr.aria-label]="
                    (sortCode
                      ? structure.type + '.sort.' + sortCode
                      : structure.type + '.sortBy'
                    ) | cxTranslate
                  "
                  ariaLabelDropdown="{{
                    'common.ngSelectDropdownOptionsList' | cxTranslate
                  }}"
                >
                  @for (sort of data.sorts; track sort) {
                    <ng-option [value]="sort.code">
                      {{ structure.type + '.sort.' + sort.code | cxTranslate }}
                    </ng-option>
                  }
                </ng-select>
              }
            </label>

            <ng-content select="[actions]"></ng-content>

            @if (createButtonType === createButtonAllTypes.LINK) {
              @if (!hideAddButton) {
                <a
                  class="button btn btn-sm primary btn-primary create"
                  [routerLink]="{ cxRoute: structure.type + 'Create' } | cxUrl"
                  routerLinkActive="disabled"
                >
                  {{ getCreateButtonLabel() | cxTranslate }}
                </a>
              }
            } @else {
              @if (!hideAddButton) {
                <button
                  class="button btn btn-sm primary btn-primary create"
                  (click)="onCreateButtonClick()"
                >
                  {{ getCreateButtonLabel() | cxTranslate }}
                </button>
              }
            }
          </div>
        </div>

        @if (data.values && data.values.length > 0) {
          <cx-table
            [structure]="structure"
            [data]="data.values"
            [i18nRoot]="domainType"
            [currentItem]="{ property: key, value: currentKey$ | async }"
            (launch)="launchItem($event)"
            role="tree"
          >
          </cx-table>
        } @else {
          <p class="instruction is-empty">
            {{ 'organization.messages.emptyList' | cxTranslate }}
          </p>
        }

        <div class="footer">
          <cx-pagination
            [pagination]="data.pagination"
            (viewPageEvent)="browse($any(data.pagination), $event)"
          ></cx-pagination>
        </div>
      </cx-view>
    }

    <!-- nested split views are rendered inside child routes -->
    <router-outlet></router-outlet>
  }
</cx-split-view>

<ng-template #listHint>
  <p>
    {{ viewType + '.hint' | cxTranslate }}
  </p>
</ng-template>
