cx-variants-multi-dimensional-selector {
  .variant-generic-selector {
    display: flex;
    flex-direction: column;

    .image-variant-container {
      display: flex;

      cx-media {
        height: 70px;
        margin: 0 5px 0 0;
        width: 70px;
      }
    }

    .select-variant-container {
      margin: 0 0 10px 0;
    }
  }
}
