cx-variants-multi-dimensional-selector {
  .variant-generic-selector {
    display: flex;
    flex-direction: column;

    .image-variant-container {
      display: flex;
      height: 70px;
      width: 70px;

      .image-variant {
        cursor: pointer;
        height: auto;
        margin: 0 5px 0 0;
        min-width: 70px;
        width: 70px;

        &.active {
          // TODO change color, should be decided by UI team on epic review
          border: 1px solid grey;
        }
      }

      cx-media {
        &.is-missing {
          min-height: 70px;
          min-width: 70px;
        }
      }
    }

    .select-variant-container {
      margin: 0 0 10px 0;
    }
  }
}
