@import '@spartacus/styles/scss/core';
@import '@spartacus/checkout';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/_mixins';

@import './checkout/styles/index';
