<ng-container *ngIf="configuration$ | async as configuration">
  <ng-container *ngIf="configuratorType$ | async as configuratorType">
    <div class="cx-config-add-to-cart-btn">
      <div class="col-sm-6 col-md-4">
        <ng-container *ngIf="ownerCheck$ | async as ownerCheck">
          <button
            class="cx-btn btn btn-block btn-primary"
            (click)="onAddToCart(configuration, configuratorType)"
          >
            <ng-container
              *ngIf="
                ownerCheck.isOwnerCartEntry &&
                configuration.isCartEntryUpdateRequired
              "
            >
              {{
                'configurator.addToCart.buttonUpdateCart' | cxTranslate
              }}</ng-container
            >
            <ng-container
              *ngIf="
                ownerCheck.isOwnerCartEntry &&
                !configuration.isCartEntryUpdateRequired
              "
            >
              {{
                'configurator.addToCart.buttonAfterAddToCart' | cxTranslate
              }}</ng-container
            >
            <ng-container *ngIf="!ownerCheck.isOwnerCartEntry">
              {{ 'configurator.addToCart.button' | cxTranslate }}</ng-container
            >
          </button>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
