<ng-container *ngIf="configuration$ | async as configuration">
  <div class="cx-config-add-to-cart-btn">
    <ng-container *ngIf="routerData$ | async as routerData">
      <button
        class="cx-btn btn btn-block btn-primary"
        (click)="
          onAddToCart(
            configuration,
            routerData.configuratorType,
            routerData.pageType
          )
        "
      >
        {{ getButtonResourceKey(routerData, configuration) | cxTranslate }}
      </button>
    </ng-container>
  </div>
</ng-container>
