<ng-container *ngIf="configuration$ | async as configuration">
  <ng-container *ngIf="configuratorType$ | async as configuratorType">
    <div class="cx-config-add-to-cart-btn">
      <div class="col-sm-6 col-md-4">
        <ng-container *ngIf="hasBeenAddedToCart$ | async as hasBeenAddedToCart">
          <ng-container *ngIf="hasBeenAddedToCart.hasBeenAdded">
            <button
              class="cx-btn btn btn-block btn-primary"
              (click)="
                onAddToCart(
                  configuration.productCode,
                  configuration.configId,
                  configuration.owner.key,
                  configuratorType
                )
              "
            >
              {{ 'configurator.addToCart.buttonAfterAddToCart' | cxTranslate }}
            </button></ng-container
          >
          <ng-container *ngIf="!hasBeenAddedToCart.hasBeenAdded">
            <button
              class="cx-btn btn btn-block btn-primary"
              (click)="
                onAddToCart(
                  configuration.productCode,
                  configuration.configId,
                  configuration.owner.key,
                  configuratorType
                )
              "
            >
              {{ 'configurator.addToCart.button' | cxTranslate }}
            </button></ng-container
          ></ng-container
        >
      </div>
    </div>
  </ng-container>
</ng-container>
