<cx-view #view *ngIf="code$ | async as orgUnitCode">
  <h3>
    <a
      class="link"
      [routerLink]="
        { cxRoute: 'orgUnitUsers', params: { uid: orgUnitCode } } | cxUrl
      "
      (click)="view.toggle()"
    >
      <cx-icon type="CARET_LEFT"></cx-icon>
      {{ 'organization.back' | cxTranslate }}
    </a>
    <span>{{
      'unit.assignRoles.header' | cxTranslate: { code: orgUnitCode }
    }}</span>
  </h3>

  <ng-container *ngIf="dataTable$ | async as dataTable; else emptyList">
    <section>
      <cx-table
        [dataset]="dataTable"
        (sortEvent)="sort(dataTable.pagination, $event)"
      >
      </cx-table>
      <cx-pagination
        *ngIf="dataTable.pagination"
        [pagination]="dataTable.pagination"
        (viewPageEvent)="viewPage(dataTable.pagination, $event)"
      ></cx-pagination>
    </section>
    <div class="instructions">
      <ul>
        <li>{{ 'unit.assignRoles.instructions.check' | cxTranslate }}</li>
        <li>
          {{ 'unit.assignRoles.instructions.uncheck' | cxTranslate }}
        </li>
        <li>
          {{ 'unit.assignRoles.instructions.changes' | cxTranslate }}
        </li>
      </ul>
      <a
        class="button secondary"
        [routerLink]="
          { cxRoute: 'orgUnitUsers', params: { uid: orgUnitCode } } | cxUrl
        "
      >
        {{ 'unit.back' | cxTranslate }}
      </a>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <p class="instruction is-empty">
      {{ 'organization.messages.emptyList' | cxTranslate }}
    </p>
  </ng-template>

  <ng-template cxOutletRef="table.unitAssignRoles.data.name" let-model>
    <a
      [routerLink]="
        {
          cxRoute: 'userDetails',
          params: model
        } | cxUrl
      "
    >
      {{ model.name }}
      <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
    </a>
  </ng-template>

  <ng-template cxOutletRef="table.unitAssignRoles.data.roleCustomer" let-model>
    <input
      type="checkbox"
      [checked]="checkIfContainsRole(model, rolesMap.CUSTOMER)"
      (change)="
        toggleAssign(
          model.customerId,
          model.roles,
          rolesMap.CUSTOMER,
          $event.target.checked
        )
      "
    />
  </ng-template>

  <ng-template cxOutletRef="table.unitAssignRoles.data.roleApprover" let-model>
    <input
      type="checkbox"
      [checked]="checkIfContainsRole(model, rolesMap.APPROVER)"
      (change)="
        toggleAssign(
          model.customerId,
          model.roles,
          rolesMap.APPROVER,
          $event.target.checked
        )
      "
    />
  </ng-template>

  <ng-template cxOutletRef="table.unitAssignRoles.data.roleManager" let-model>
    <input
      type="checkbox"
      [checked]="checkIfContainsRole(model, rolesMap.MANAGER)"
      (change)="
        toggleAssign(
          model.customerId,
          model.roles,
          rolesMap.MANAGER,
          $event.target.checked
        )
      "
    />
  </ng-template>

  <ng-template
    cxOutletRef="table.unitAssignRoles.data.roleAdministrator"
    let-model
  >
    <input
      type="checkbox"
      [checked]="checkIfContainsRole(model, rolesMap.ADMIN)"
      (change)="
        toggleAssign(
          model.customerId,
          model.roles,
          rolesMap.ADMIN,
          $event.target.checked
        )
      "
    />
  </ng-template>

  <ng-template cxOutletRef="table.unitAssignRoles.data.summary" let-model>
    <h3>{{ model.name }}</h3>
    <small>{{ model.email }}</small>
    <div class="roles">
      <label>
        <input
          type="checkbox"
          [checked]="checkIfContainsRole(model, rolesMap.CUSTOMER)"
          (change)="
            toggleAssign(
              model.customerId,
              model.roles,
              rolesMap.CUSTOMER,
              $event.target.checked
            )
          "
        />
        <span class="text">{{
          'organization.userRoles.' + rolesMap.CUSTOMER | cxTranslate
        }}</span>
      </label>
      <label>
        <input
          type="checkbox"
          [checked]="checkIfContainsRole(model, rolesMap.APPROVER)"
          (change)="
            toggleAssign(
              model.customerId,
              model.roles,
              rolesMap.APPROVER,
              $event.target.checked
            )
          "
        />
        <span class="text">{{
          'organization.userRoles.' + rolesMap.APPROVER | cxTranslate
        }}</span>
      </label>
      <label>
        <input
          type="checkbox"
          [checked]="checkIfContainsRole(model, rolesMap.MANAGER)"
          (change)="
            toggleAssign(
              model.customerId,
              model.roles,
              rolesMap.MANAGER,
              $event.target.checked
            )
          "
        />
        <span class="text">{{
          'organization.userRoles.' + rolesMap.MANAGER | cxTranslate
        }}</span>
      </label>
      <label>
        <input
          type="checkbox"
          [checked]="checkIfContainsRole(model, rolesMap.ADMIN)"
          (change)="
            toggleAssign(
              model.customerId,
              model.roles,
              rolesMap.ADMIN,
              $event.target.checked
            )
          "
        />
        <span class="text">{{
          'organization.userRoles.' + rolesMap.ADMIN | cxTranslate
        }}</span>
      </label>
    </div>
  </ng-template>

  <ng-template cxOutletRef="table.unitAssignRoles.data.link" let-model>
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'userDetails',
          params: model
        } | cxUrl
      "
    >
      <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
    </a>
  </ng-template>
</cx-view>
