<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <label>
    <span class="label-content">{{
      'updatePasswordForm.oldPassword.label' | cxTranslate
    }}</span>

    <span class="input-group">
      <input
        #passwordOld
        cxPassword
        required="true"
        name="oldPassword"
        class="form-control"
        placeholder="{{
          'updatePasswordForm.newPassword.placeholder' | cxTranslate
        }}"
        formControlName="oldPassword"
      />
      <span class="input-group-append">
        <cx-icon
          [type]="getPasswordIcon(passwordOldInput)"
          (click)="changePasswordVisibility(passwordOldInput)"
          class="input-group-text h-100 d-flex"
          role="button"
        ></cx-icon>
      </span>
    </span>
    <cx-form-errors [control]="form.get('oldPassword')"></cx-form-errors>
  </label>

  <label>
    <span class="label-content">{{
      'updatePasswordForm.newPassword.label' | cxTranslate
    }}</span>

    <span class="input-group">
      <input
        #passwordNew
        cxPassword
        required="true"
        name="newPassword"
        class="form-control"
        placeholder="{{
          'updatePasswordForm.newPassword.placeholder' | cxTranslate
        }}"
        formControlName="newPassword"
      />
      <span class="input-group-append">
        <cx-icon
          [type]="getPasswordIcon(passwordNewInput)"
          (click)="changePasswordVisibility(passwordNewInput)"
          class="input-group-text h-100 d-flex"
          role="button"
        ></cx-icon>
      </span>
    </span>
    <cx-form-errors [control]="form.get('newPassword')"></cx-form-errors>
  </label>

  <label>
    <span class="label-content">{{
      'updatePasswordForm.confirmPassword.label' | cxTranslate
    }}</span>

    <span class="input-group">
      <input
        #passwordNewConfirm
        cxPassword
        required="true"
        name="newPasswordConfirm"
        class="form-control"
        placeholder="{{
          'updatePasswordForm.confirmPassword.placeholder' | cxTranslate
        }}"
        formControlName="newPasswordConfirm"
      />
      <span class="input-group-append">
        <cx-icon
          [type]="getPasswordIcon(passwordNewConfirmInput)"
          (click)="changePasswordVisibility(passwordNewConfirmInput)"
          class="input-group-text h-100 d-flex"
          role="button"
        ></cx-icon>
      </span>
    </span>
    <cx-form-errors [control]="form.get('newPasswordConfirm')"></cx-form-errors>
  </label>

  <a
    class="btn btn-block btn-secondary"
    [routerLink]="{ cxRoute: 'home' } | cxUrl"
  >
    {{ 'common.cancel' | cxTranslate }}
  </a>

  <button class="btn btn-block btn-primary" [disabled]="form.disabled">
    {{ 'common.save' | cxTranslate }}
  </button>
</form>
