<div
  *ngIf="flyout && node?.children.length > 1"
  class="back is-open"
  (click)="back()"
>
  <h5>
    <cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon>
    {{ 'common.back' | cxTranslate }}
  </h5>
</div>

<ng-container *ngFor="let child of node?.children">
  <ng-container *ngTemplateOutlet="nav; context: { node: child }">
  </ng-container>
</ng-container>

<!-- we generate links in a recursive manner -->
<ng-template #nav let-node="node">
  <nav
    [class.has-childs]="node.children?.length > 0"
    tabindex="0"
    (click)="toggleOpen($event)"
  >
    <cx-generic-link *ngIf="node.url; else heading" [url]="node.url">
      {{ node.title }}
      <cx-icon
        *ngIf="flyout && node.children?.length > 0"
        [type]="iconTypes.CARET_DOWN"
      ></cx-icon>
    </cx-generic-link>

    <ng-template #heading>
      <h5>
        {{ node.title }}
        <cx-icon
          *ngIf="flyout && node.children?.length > 0"
          [type]="iconTypes.CARET_DOWN"
        ></cx-icon>
      </h5>
    </ng-template>

    <!-- we add a wrapper to allow for better layout handling in CSS -->
    <div class="wrapper" *ngIf="node.children?.length > 0">
      <div class="childs" [attr.depth]="getDepth(node) | json">
        <ng-container *ngFor="let child of node.children">
          <ng-container *ngTemplateOutlet="nav; context: { node: child }">
          </ng-container>
        </ng-container>
      </div>
    </div>
  </nav>
</ng-template>
