%cx-extend-subscription-dialog {
    .extend-subscription-dialog {
        .modal-content {
            max-width: 390px;

            .modal-header {
                display: flex;
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;
                button {
                    height: fit-content;
                    font-size: 20px;
                }
            }

            .extend-subscription-dialog-footer {
                display: flex;
                justify-content: space-between;
            }

            .form-check-input {
                outline: none;
            }

            input[type="checkbox"]:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            input[type="checkbox"]:disabled + .form-check-label {
                color: grey;
            }

            .extend-duration-dropdown-label {
                padding: 0;

                .form-check-label {
                    margin-bottom: 10px;
                }

                #extendDurationDropdown {
                    width: 100%;
                    margin-bottom: 15px;
                    outline: none;

                    .extend-duration-option {
                        margin: 50px;
                    }
                }
            }
            
        }
    }
}