cx-bundle-carousel {
  grid-column: 2;
  padding-top: 20px;
  padding-inline-end: 20px;
  padding-bottom: 0px;
  padding-inline-start: 20px;

  h1 {
    margin-bottom: 24px;
  }

  .template-row {
    display: flex;
    margin-bottom: 24px;
  }

  label {
    flex-grow: 1;
    padding: 12px 0;
  }
}
