cx-bundle-carousel {
  grid-column: 2;
  grid-row: 6;
  padding-bottom: 0px;

  h1 {
    margin: 20px 0;
  }

  select {
    margin-bottom: 20px;
  }

  .btn-add-bundle-to-cart {
    margin-top: 20px;
  }
}
