<div class="cx-total">
  <ng-container *ngIf="configuration$ | async as configuration">
    <div class="cx-summary-row row">
      <div class="col-6 cx-summary-label">Base Price:</div>
      <div class="col-6 cx-summary-amount">
        {{ configuration?.priceSummary?.basePrice?.formattedValue }}
      </div>
    </div>

    <div class="cx-summary-row row">
      <div class="col-6 cx-summary-label">Selected Options:</div>
      <div class="col-6 cx-summary-amount">
        {{ configuration?.priceSummary?.selectedOptions?.formattedValue }}
      </div>
    </div>

    <div class="cx-summary-row row cx-price-summary-total-price">
      <div class="col-6 cx-summary-label">Total:</div>
      <div class="col-6 cx-summary-amount">
        {{ configuration?.priceSummary?.currentTotal?.formattedValue }}
      </div>
    </div>
  </ng-container>
</div>
