@mixin cx-configurator-template {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: 1140px;
  padding-block-end: 2rem;
  margin: auto;
}
