@mixin cx-configurator-footer-container {
  padding: 15px;
  margin: 0 auto;
  margin-block-start: 15px;
  max-inline-size: 1140px;
  display: flex;
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    padding: 20px;
    justify-content: center;
  }
}
