%cx-cart-item-calydon {
  .cx-actions {
    button.link {
      background-color: transparent;
    }
  }
  .cx-image-container{
    padding: 0;
  }

  cx-media.is-missing {
    @include media-breakpoint-down(sm) {
      min-width: 100%;
      background-size: 85px;
    }
  }

  .cx-price, .cx-quantity {
    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
    }
  }
}
