<div class="cx-order-review-summary" *ngIf="order$ | async as order">
  <div *cxFeatureLevel="'2.1'">
    <div class="order-summary-container">
      <div *ngIf="order.deliveryAddress" class="order-summary-card">
        <cx-card
          [content]="getAddressCardContent(order?.deliveryAddress) | async"
        ></cx-card>
      </div>

      <div *ngIf="order.paymentInfo?.billingAddress" class="order-summary-card">
        <cx-card
          [content]="
            getBillingAddressCardContent(order?.paymentInfo?.billingAddress)
              | async
          "
        ></cx-card>
      </div>

      <div *ngIf="order.deliveryMode" class="order-summary-card">
        <cx-card
          [content]="getDeliveryModeCardContent(order?.deliveryMode) | async"
        ></cx-card>
      </div>

      <div *ngIf="order.paymentInfo" class="order-summary-card">
        <cx-card
          [content]="getPaymentInfoCardContent(order?.paymentInfo) | async"
        ></cx-card>
      </div>

      <div *ngIf="order.costCenter" class="order-summary-card">
        <cx-card
          [content]="getAccountPaymentCardContent(order) | async"
        ></cx-card>
      </div>
    </div>
  </div>

  <!-- TODO: deprecated since GH-7853 -->
  <div *cxFeatureLevel="'!2.1'">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="summary-card">
            <cx-card
              [content]="getAddressCardContent(order?.deliveryAddress) | async"
            ></cx-card>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="summary-card">
            <cx-card
              [content]="
                getBillingAddressCardContent(
                  order?.paymentInfo?.billingAddress
                ) | async
              "
            ></cx-card>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="summary-card">
            <cx-card
              [content]="
                getDeliveryModeCardContent(order?.deliveryMode) | async
              "
            ></cx-card>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="summary-card">
            <cx-card
              [content]="getPaymentInfoCardContent(order?.paymentInfo) | async"
            ></cx-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
