<ng-container *ngIf="state$ | async as state">
  <div
    role="listbox"
    [attr.aria-multiselectable]="facet.multiSelect ? true : null"
    [id]="facet.name + '-list-id'"
  >
    <ng-container
      *ngFor="let value of facet.values | slice: 0 : state.topVisible"
    >
      <a
        *cxFeature="'a11yFilteredFacetAnnouncement'"
        #facetValue
        routerLink="./"
        [queryParams]="getLinkParams(value)"
        class="value"
        [class.selected]="value.selected"
        [cxFocus]="{ key: value.name }"
        (keydown)="onKeydown($event)"
        (keydown.space)="openLink($any($event))"
        role="option"
        [attr.aria-selected]="value.selected"
        attr.aria-label="{{
          'productFacetNavigation.ariaLabelItemsAvailable'
            | cxTranslate: { name: value.name, count: value.count }
        }}"
        [cxAtMessage]="
          (value.selected
            ? 'productList.filterRemoved'
            : 'productList.filterAdded'
          ) | cxTranslate: { filter: value.name }
        "
      >
        <span aria-hidden="true"
          >{{ value.name
          }}<span aria-hidden="true" class="count">{{
            value.count
          }}</span></span
        >
      </a>
      <a
        *cxFeature="'!a11yFilteredFacetAnnouncement'"
        #facetValue
        routerLink="./"
        [queryParams]="getLinkParams(value)"
        class="value"
        [class.selected]="value.selected"
        [cxFocus]="{ key: value.name }"
        (keydown)="onKeydown($event)"
        (keydown.space)="openLink($any($event))"
        role="option"
        [attr.aria-selected]="value.selected"
        attr.aria-label="{{
          'productFacetNavigation.ariaLabelItemsAvailable'
            | cxTranslate: { name: value.name, count: value.count }
        }}"
      >
        <span aria-hidden="true"
          >{{ value.name
          }}<span aria-hidden="true" class="count">{{
            value.count
          }}</span></span
        >
      </a>
    </ng-container>

    <div class="more" role="presentation">
      <ng-container
        *ngFor="
          let value of facet.values
            | slice: state.topVisible ?? 0 : state.maxVisible
        "
      >
        <a
          *cxFeature="'a11yFilteredFacetAnnouncement'"
          #facetValue
          routerLink="./"
          [queryParams]="getLinkParams(value)"
          class="value"
          [class.selected]="value.selected"
          [cxFocus]="{ key: value.name }"
          (keydown)="onKeydown($event)"
          (keydown.space)="openLink($any($event))"
          role="option"
          [attr.aria-selected]="value.selected"
          attr.aria-label="{{
            'productFacetNavigation.ariaLabelItemsAvailable'
              | cxTranslate: { name: value.name, count: value.count }
          }}"
          [cxAtMessage]="
            (value.selected
              ? 'productList.filterRemoved'
              : 'productList.filterAdded'
            ) | cxTranslate: { filter: value.name }
          "
        >
          <span
            >{{ value.name }}<span class="count">{{ value.count }}</span></span
          >
        </a>
        <a
          *cxFeature="'!a11yFilteredFacetAnnouncement'"
          #facetValue
          routerLink="./"
          [queryParams]="getLinkParams(value)"
          class="value"
          [class.selected]="value.selected"
          [cxFocus]="{ key: value.name }"
          (keydown)="onKeydown($event)"
          (keydown.space)="openLink($any($event))"
          role="option"
          [attr.aria-selected]="value.selected"
          attr.aria-label="{{
            'productFacetNavigation.ariaLabelItemsAvailable'
              | cxTranslate: { name: value.name, count: value.count }
          }}"
        >
          <span
            >{{ value.name }}<span class="count">{{ value.count }}</span></span
          >
        </a>
      </ng-container>

      <ng-container *cxFeature="'!a11yListSemanticsForFacets'">
        <button
          *ngIf="
            state.maxVisible &&
            state.topVisible &&
            state.maxVisible > state.topVisible
          "
          (click)="decreaseVisibleValues()"
          [cxAtMessage]="
            'productFacetNavigation.decreaseOptionsVisibility' | cxTranslate
          "
          aria-expanded="true"
          attr.aria-label="{{
            'productFacetNavigation.ariaLabelShowLess' | cxTranslate
          }}"
          class="cx-action-link"
          [cxFocus]="{ key: 'moreorless' }"
        >
          {{ 'productList.showLess' | cxTranslate }}
        </button>

        <button
          *ngIf="
            state.maxVisible &&
            facet.values &&
            state.maxVisible > 0 &&
            state.maxVisible < facet.values.length
          "
          (click)="increaseVisibleValues()"
          [cxAtMessage]="
            'productFacetNavigation.increaseOptionsVisibility' | cxTranslate
          "
          aria-expanded="false"
          attr.aria-label="{{
            'productFacetNavigation.ariaLabelShowMore' | cxTranslate
          }}"
          class="cx-action-link"
          [cxFocus]="{ key: 'moreorless' }"
        >
          {{ 'productList.showMore' | cxTranslate }}
        </button>
      </ng-container>
    </div>
  </div>

  <ng-container *cxFeature="'a11yListSemanticsForFacets'">
    <button
      *ngIf="
        state.maxVisible &&
        state.topVisible &&
        state.maxVisible > state.topVisible
      "
      (click)="decreaseVisibleValues()"
      [cxAtMessage]="
        'productFacetNavigation.decreaseOptionsVisibility' | cxTranslate
      "
      aria-expanded="true"
      [attr.aria-controls]="facet.name + '-list-id'"
      attr.aria-label="{{
        'productFacetNavigation.ariaLabelShowLess' | cxTranslate
      }}"
      class="cx-action-link"
      [cxFocus]="{ key: 'moreorless' }"
    >
      {{ 'productList.showLess' | cxTranslate }}
    </button>

    <button
      *ngIf="
        state.maxVisible &&
        facet.values &&
        state.maxVisible > 0 &&
        state.maxVisible < facet.values.length
      "
      (click)="increaseVisibleValues()"
      [cxAtMessage]="
        'productFacetNavigation.increaseOptionsVisibility' | cxTranslate
      "
      aria-expanded="false"
      [attr.aria-controls]="facet.name + '-list-id'"
      attr.aria-label="{{
        'productFacetNavigation.ariaLabelShowMore' | cxTranslate
      }}"
      class="cx-action-link"
      [cxFocus]="{ key: 'moreorless' }"
    >
      {{ 'productList.showMore' | cxTranslate }}
    </button>
  </ng-container>
</ng-container>
