@if (orderApproval$ | async; as orderApproval) {
  @if (loading$ | async) {
    <div>
      <div class="cx-spinner">
        <cx-spinner></cx-spinner>
      </div>
    </div>
  } @else {
    @if (orderApproval?.approvalDecisionRequired) {
      @if (approvalFormVisible) {
        <div class="cx-approval-form-header row">
          <div class="cx-approval-form-label col-sm-12">
            {{
              'orderApprovalDetails.form.title_' + approvalDecision
                | cxTranslate
                  : {
                      orderCode: orderApproval?.order?.code,
                      orderTotal:
                        orderApproval?.order?.totalPriceWithTax?.formattedValue,
                    }
            }}
          </div>
        </div>
      }

      @if (approvalFormVisible) {
        <form
          [formGroup]="approvalForm"
          (ngSubmit)="submitDecision(orderApproval)"
        >
          <label
            >{{
              'orderApprovalDetails.form.comment_' + approvalDecision + '.label'
                | cxTranslate
            }}
            <textarea
              class="form-control"
              rows="3"
              formControlName="comment"
              maxlength="255"
              [attr.aria-invalid]="
                approvalForm.get('comment')?.touched &&
                approvalForm.get('comment')?.invalid
              "
              [attr.aria-errormessage]="'commentError'"
            ></textarea>

            <cx-form-errors
              id="commentError"
              [translationParams]="{
                label:
                  'orderApprovalDetails.form.comment_' +
                    approvalDecision +
                    '.label' | cxTranslate,
              }"
              [control]="approvalForm.get('comment')"
            ></cx-form-errors>
          </label>
          <div class="form-group row">
            <div class="col-lg-6 col-md-12">
              <button
                class="btn btn-block btn-secondary"
                (click)="cancelDecisionForm()"
                type="button"
              >
                {{ 'orderApprovalDetails.form.cancel' | cxTranslate }}
              </button>
            </div>
            <div class="col-lg-6 col-md-12">
              <button class="btn btn-block btn-primary" type="submit">
                {{
                  'orderApprovalDetails.form.submit_' + approvalDecision
                    | cxTranslate
                }}
              </button>
            </div>
          </div>
        </form>
      }
    }
    @if (!approvalFormVisible) {
      <div class="form-group row">
        <div class="col-lg-4 col-md-12">
          <a
            [routerLink]="{ cxRoute: 'orderApprovals' } | cxUrl"
            class="btn btn-block btn-secondary"
            cxBtnLikeLink
            >{{ 'orderApprovalDetails.back' | cxTranslate }}</a
          >
        </div>
        @if (orderApproval?.approvalDecisionRequired) {
          <div class="col-lg-4 col-md-12">
            <button
              class="btn btn-block btn-primary"
              (click)="displayDecisionForm(approvalDecisionValue.REJECT)"
            >
              {{ 'orderApprovalDetails.showForm_REJECT' | cxTranslate }}
            </button>
          </div>
        }
        @if (orderApproval?.approvalDecisionRequired) {
          <div class="col-lg-4 col-md-12">
            <button
              class="btn btn-block btn-primary"
              (click)="displayDecisionForm(approvalDecisionValue.APPROVE)"
            >
              {{ 'orderApprovalDetails.showForm_APPROVE' | cxTranslate }}
            </button>
          </div>
        }
      </div>
    }
  }
}
