%cx-stock-notification {
  .stock-notification-notes {
    label {
      margin: 0 0 10px 0;
      a {
        color: $dark;
        font-weight: var(--cx-font-weight-bold);
      }
    }
  }

  .cx-dialog-title {
    font-size: var(--cx-font-size, 1.375rem);
    font-weight: var(--cx-font-weight-bold);
  }

  .channels {
    span {
      font-weight: var(--cx-font-weight-bold);
    }
  }
}
