<cx-view #view *ngIf="viewModel$ | async as viewModel">
  <form
    [formGroup]="viewModel.form"
    (ngSubmit)="save(viewModel.customerId, viewModel.form)"
  >
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'userDetails', params: viewModel.user } | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
      </a>
      <span>{{
        'user.changePassword.header'
          | cxTranslate: { code: viewModel.user.name }
      }}</span>
    </h3>
    <section>
      <cx-change-password-form [form]="viewModel.form">
      </cx-change-password-form>
      <div class="form-buttons">
        <button class="button primary" type="submit">
          {{ 'organization.save' | cxTranslate }}
        </button>
        <a
          [routerLink]="
            { cxRoute: 'userDetails', params: viewModel.user } | cxUrl
          "
          class="button secondary"
        >
          {{ 'organization.cancel' | cxTranslate }}
        </a>
      </div>
    </section>
  </form>
</cx-view>
