<cx-view #view>
  <ng-container *ngIf="permission$ | async as permission">
    <h3>
      <a
        class="link"
        [routerLink]="{ cxRoute: 'permission' } | cxUrl"
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.close' | cxTranslate }}
      </a>
      <span>{{ permission.code }}</span>
    </h3>
    <div class="actions">
      <a
        [class.disabled]="!permission.active"
        class="link"
        [routerLink]="{ cxRoute: 'permissionEdit', params: permission } | cxUrl"
      >
        {{ 'organization.edit' | cxTranslate }}
      </a>
    </div>
    <section>
      <div class="details">
        <div class="property">
          <label>{{ 'permission.code' | cxTranslate }}</label>
          <span class="value">
            {{ permission.code }}
          </span>
        </div>

        <div class="property">
          <label>{{
            'permission.orderApprovalPermissionType' | cxTranslate
          }}</label>
          <span class="value">
            {{ permission.orderApprovalPermissionType?.name }}
          </span>
        </div>

        <div
          class="property"
          *ngIf="permission.threshold || permission.threshold === 0"
        >
          <label>{{ 'permission.threshold' | cxTranslate }}</label>
          <span class="value">
            {{ permission.threshold }} {{ permission.currency?.symbol }}
          </span>
        </div>

        <div class="property" *ngIf="permission.periodRange">
          <label>{{ 'permission.periodRange' | cxTranslate }}</label>
          <span class="value">
            {{ permission.periodRange }}
          </span>
        </div>

        <div class="property">
          <label>{{ 'permission.orgUnit' | cxTranslate }}</label>
          <a
            class="value"
            [routerLink]="
              {
                cxRoute: 'unitDetails',
                params: permission.orgUnit
              } | cxUrl
            "
          >
            {{ permission.orgUnit?.name }}
            <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
          </a>
        </div>
      </div>
    </section>

    <section>
      <div class="property">
        <label>{{ 'organization.status' | cxTranslate }}</label>
        <span class="value">
          <ng-container *ngIf="permission.active; else disabled">
            {{ 'organization.enabled' | cxTranslate }}
            <button
              class="button active icon"
              (click)="openModal(confirmDisable)"
            >
              {{ 'organization.disable' | cxTranslate }}
              <!--              <cx-icon type="ON"></cx-icon>-->
            </button>
          </ng-container>
          <ng-template #disabled>
            {{ 'organization.disabled' | cxTranslate }}
            <button
              class="button icon"
              (click)="update({ code: permission.code, active: true })"
            >
              {{ 'organization.enable' | cxTranslate }}
              <!--              <cx-icon type="OFF"></cx-icon>-->
            </button>
          </ng-template>
        </span>
        <p class="instruction">
          <ng-container *ngIf="permission.active; else inactiveInstruction">
            {{ 'permission.messages.enabled' | cxTranslate }}
          </ng-container>
          <ng-template #inactiveInstruction>
            {{ 'permission.messages.disabled' | cxTranslate }}
          </ng-template>
        </p>
      </div>
    </section>
  </ng-container>
</cx-view>

<router-outlet></router-outlet>

<ng-template #confirmDisable>
  <cx-confirm-modal
    *ngIf="permission$ | async as permission"
    [title]="'permission.messages.deactivateHeader' | cxTranslate"
    [message]="'permission.messages.deactivate' | cxTranslate"
    (confirm)="update({ code: permission.code, active: false })"
  ></cx-confirm-modal>
</ng-template>
