@import '~@spartacus/styles/scss/core';
@import '~@spartacus/styles/scss/app';
@import '~@spartacus/styles/scss/components/cart/cart-details';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/_mixins';

@mixin visible-focus {
  outline-style: solid;
  outline-color: var(--cx-color-visual-focus);
  outline-width: var(--cx-visual-focus-width, 2px);
  outline-offset: 4px;
  transition: none;
}

@import './saved-cart/index';
@import './quick-order/index';
@import './import-export/index';
