<form [formGroup]="pickupOptionsForm">
  <cx-tab *ngIf="tabs" [tabs]="tabs" [config]="tabConfig"></cx-tab>
</form>

<ng-template #deliveryTabPanel>Free return</ng-template>
<ng-template #pickupTabPanel>
  <ng-container *ngIf="displayPickupLocation">
    <strong [attr.data-pickup-location]="displayPickupLocation"
      >{{ displayPickupLocation }} |
    </strong>
  </ng-container>

  <button
    #dialogTriggerEl
    [attr.data-store-location-link]="
      displayPickupLocation ? 'change' : 'select'
    "
    class="link cx-action-link"
    (click)="onPickupLocationChange()"
  >
    {{
      (displayPickupLocation
        ? 'pickupOptions.changeStore'
        : 'pickupOptions.selectStore'
      ) | cxTranslate
    }}
  </button>
</ng-template>
