<form [formGroup]="pickupOptionsForm">
  <div class="form-check">
    <input
      type="radio"
      role="radio"
      data-pickup="delivery"
      value="delivery"
      (click)="onPickupOptionChange('delivery')"
      formControlName="pickupOption"
      [attr.aria-label]="'pickupOptions.delivery' | cxTranslate"
      [attr.aria-checked]="pickupOptionsForm.value.pickupOption === 'delivery'"
    />
    <label for="delivery">
      {{ 'pickupOptions.delivery' | cxTranslate }}
    </label>
  </div>
  <div class="form-check">
    <input
      type="radio"
      role="radio"
      data-pickup="pickup"
      value="pickup"
      (click)="onPickupOptionChange('pickup')"
      formControlName="pickupOption"
      [attr.aria-label]="'pickupOptions.pickup' | cxTranslate"
      [attr.aria-checked]="pickupOptionsForm.value.pickupOption === 'pickup'"
    />
    <label for="pickup">
      <p>
        {{ 'pickupOptions.pickup' | cxTranslate
        }}<ng-container *ngIf="displayPickupLocation; else selectStore"
          >: <strong [attr.data-pickup-location]="displayPickupLocation">{{ displayPickupLocation }}</strong> |
          <a
            role="button"
            data-change-store-location-link
            class="cx-action-link"
            (click)="onPickupLocationChange()"
            >{{ 'pickupOptions.changeStore' | cxTranslate }}</a
          >
        </ng-container>
        <ng-template #selectStore>
          |
          <a
            role="button"
            data-select-store-location-link
            class="cx-action-link"
            (click)="onPickupLocationChange()"
            >{{ 'pickupOptions.selectStore' | cxTranslate }}</a
          >
        </ng-template>
      </p>
    </label>
  </div>
</form>
