<div class="sliderVBox">
  <div class="slider">
    <div class="cx-animation-slider">
      <span
        cxAnimationSliderElement
        #bar
        class="
          cx-animation-slider-span
          cx-animation-slider-bar-wrapper
          cx-animation-slider-full-bar
        "
      >
        <span class="cx-animation-slider-span cx-animation-slider-bar"></span>
      </span>

      <span
        cxAnimationSliderHandle
        #handle
        class="
          cx-animation-slider-span
          cx-animation-slider-pointer
          cx-animation-slider-pointer-min
        "
      ></span>
    </div>
  </div>
</div>
