<ng-container *ngIf="quoteDetails$ | async as quoteDetailsState">
  <ng-container *ngIf="!quoteDetailsState.loading; else loading">
    <div class="cx-quote-details-header-status">
      <h3 class="quote-details-header">
        {{ 'quote.commons.id' | cxTranslate }}:
        {{ quoteDetailsState?.data?.code }}
      </h3>
      <h3 class="status">
        {{ 'quote.commons.status' | cxTranslate }}
        {{ 'quote.states.' + quoteDetailsState?.data?.state | cxTranslate }}
      </h3>
    </div>
    <div class="cx-quote-overview">
      <div class="container">
        <div class="cx-summary-card">
          <cx-card
            [content]="
              getCardContent(
                quoteDetailsState?.data?.code || 'TODO CHHI',
                'quote.details.code'
              ) | async
            "
          ></cx-card>
          <cx-card
            [content]="
              getCardContent(
                quoteDetailsState?.data?.creationTime | cxDate,
                'quote.details.created'
              ) | async
            "
          ></cx-card>
          <cx-card
            [content]="
              getCardContent(
                quoteDetailsState?.data?.updatedTime | cxDate,
                'quote.details.lastUpdated'
              ) | async
            "
          ></cx-card>
        </div>
        <div class="cx-summary-card">
          <cx-card
            [content]="
              getCardContent(
                quoteDetailsState?.data?.previousEstimatedTotal
                  ?.formattedValue || 'TODO CHHI',
                'quote.details.estimatedTotal'
              ) | async
            "
          ></cx-card>
          <cx-card
            class="cx-card-description"
            [content]="
              getCardContent(
                quoteDetailsState?.data?.description || 'TODO CHHI',
                'quote.details.description'
              ) | async
            "
            [truncateText]="true"
            [charactersLimit]="30"
          ></cx-card>
        </div>
        <div class="cx-summary-card">
          <cx-card
            [content]="
              getCardContent(
                'quote.states.' + quoteDetailsState?.data?.state | cxTranslate,
                'quote.commons.status'
              ) | async
            "
          ></cx-card>
          <cx-card
            [content]="
              getCardContent(
                quoteDetailsState?.data?.expirationTime | cxDate,
                'quote.details.expiryDate'
              ) | async
            "
          ></cx-card>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </ng-template>
</ng-container>
