<ng-container class="container" *ngIf="budgetsList$ | async as budgetsList">
  <!--  <div class="container">-->
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <div class="cx-table-header">
        <h3>{{ 'budgetsList.budgetManagement' | cxTranslate }}</h3>
      </div>

      <!--        <cx-search-->
      <!--          (searchEvent)="search($event)"-->
      <!--          [placeholder]="'budgetsList.searchBox' | cxTranslate"-->
      <!--        >-->
      <!--        </cx-search>-->
    </div>
    <div class="col-md-12 col-lg-3">
      <div class="row cx-search-links mb-3">
        <div class="col-12">
          <button
            [routerLink]="{ cxRoute: 'budgetCreate' } | cxUrl"
            class="btn btn-primary btn-block"
          >
            {{ 'budgetsList.create' | cxTranslate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="cx-table-body">
    <ng-container *ngIf="budgetsList.pagination.totalResults > 0">
      <div class="cx-sort top row">
        <div class="cx-form-group form-group col-sm-12 col-md-4 col-lg-4">
          <cx-sorting
            [sortOptions]="budgetsList.sorts"
            [sortLabels]="getSortLabels() | async"
            [selectedOption]="budgetsList.pagination.sort"
            (sortListEvent)="changeSortCode($event)"
          ></cx-sorting>
        </div>
        <div class="cx-pagination">
          <cx-pagination
            [pagination]="budgetsList.pagination"
            (viewPageEvent)="pageChange($event)"
          ></cx-pagination>
        </div>
      </div>
      <!-- TABLE -->

      <cx-table
        [tableData]="budgetsList.budgetsList"
        [cxRoute]="cxRoute"
        [columns]="getColumns() | async"
        (clickDetailsEvent)="goToBudgetDetail($event)"
      ></cx-table>

      <div class="cx-sort bottom row">
        <div class="cx-form-group form-group col-sm-12 col-md-4 col-lg-4">
          <cx-sorting
            [sortOptions]="budgetsList.sorts"
            [sortLabels]="getSortLabels() | async"
            [selectedOption]="budgetsList.pagination.sort"
            (sortListEvent)="changeSortCode($event)"
          ></cx-sorting>
        </div>
        <div class="cx-pagination">
          <cx-pagination
            [pagination]="budgetsList.pagination"
            (viewPageEvent)="pageChange($event)"
          ></cx-pagination>
        </div>
      </div>
    </ng-container>

    <!-- NO ORDER CONTAINER -->
    <ng-template #noData>
      <div class="cx-no-budgetsList row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div>{{ 'common.noData' | cxTranslate }}</div>
        </div>
      </div>
    </ng-template>
  </div>
</ng-container>
