<ng-container *ngIf="budgetsList$ | async as budgetsList">
  <div class="container">
    <!-- HEADER -->
    <div class="cx-budget-header">
      <h3>{{ 'budgetsList.budgetManagement' | cxTranslate }}</h3>
    </div>

    BODY
    <div class="cx-budget-body">
      <ng-container
        *ngIf="budgetsList.pagination.totalResults > 0; else noOrder"
      >
        <!-- Select Form and Pagination Top -->
        <div class="cx-budget-sort top row">
          <div
            class="cx-budget-form-group form-group col-sm-12 col-md-4 col-lg-4"
          >
            <cx-sorting
              [sortOptions]="budgetsList.sorts"
              [sortLabels]="getSortLabels() | async"
              (sortListEvent)="changeSortCode($event)"
              [selectedOption]="budgetsList.pagination.sort"
              placeholder="{{ 'budgetsList.sortByMostRecent' | cxTranslate }}"
            ></cx-sorting>
          </div>
          <div class="cx-budget-pagination">
            <cx-pagination
              [pagination]="budgetsList.pagination"
              (viewPageEvent)="pageChange($event)"
            ></cx-pagination>
          </div>
        </div>
        <!-- TABLE -->
        <table class="table cx-budget-table">
          <thead class="cx-budget-thead-mobile">
            <th scope="col">
              {{ 'budgetsList.budgetId' | cxTranslate }}
            </th>
            <th scope="col">{{ 'budgetsList.name' | cxTranslate }}</th>
            <th scope="col">{{ 'budgetsList.amount' | cxTranslate }}</th>
            <th scope="col">{{ 'budgetsList.startEndDate' | cxTranslate }}</th>
            <th scope="col">
              {{ 'budgetsList.costCenter' | cxTranslate }}
            </th>
            <th scope="col">
              {{ 'budgetsList.parentUnit' | cxTranslate }}
            </th>
          </thead>
          <tbody>
            <tr
              *ngFor="let budget of budgetsList.budgets"
              (click)="goToBudgetDetail(budget)"
            >
              <td class="cx-budget-code">
                <div class="d-md-none cx-budget-label">
                  {{ 'budgetsList.code' | cxTranslate }}
                </div>
                <a
                  [routerLink]="
                    {
                      cxRoute: 'budgetDetails',
                      params: budget
                    } | cxUrl
                  "
                  class="cx-budget-value"
                >
                  {{ budget?.code }}</a
                >
              </td>
              <td class="cx-budget-placed">
                <div class="d-md-none cx-budget-label">
                  {{ 'budgetsList.name' | cxTranslate }}
                </div>
                <a
                  [routerLink]="
                    {
                      cxRoute: 'budgetDetails',
                      params: budget
                    } | cxUrl
                  "
                  class="cx-budget-value"
                  >{{ budget?.name }}</a
                >
              </td>
              <td class="cx-budget-total">
                <div class="d-md-none cx-budget-label">
                  {{ 'budgetsList.amount' | cxTranslate }}
                </div>
                <a
                  [routerLink]="
                    {
                      cxRoute: 'budgetDetails',
                      params: budget
                    } | cxUrl
                  "
                  class="cx-budget-value"
                >
                  {{ budget?.amount }} {{ budget?.currency }}</a
                >
              </td>
              <td class="cx-budget-total">
                <div class="d-md-none cx-budget-label">
                  {{ 'budgetsList.startEndDate' | cxTranslate }}
                </div>
                <a
                  [routerLink]="
                    {
                      cxRoute: 'budgetDetails',
                      params: budget
                    } | cxUrl
                  "
                  class="cx-budget-value"
                >
                  {{ budget?.startDate }} - {{ budget?.endDate }}</a
                >
              </td>
              <td class="cx-budget-code">
                <div class="d-md-none cx-budget-label">
                  {{ 'budgetsList.costCenter' | cxTranslate }}
                </div>
                <a
                  [routerLink]="
                    {
                      cxRoute: 'budgetDetails',
                      params: budget
                    } | cxUrl
                  "
                  class="cx-budget-value"
                >
                  {{ budget?.costCenter }}</a
                >
              </td>
              <td class="cx-budget-status">
                <div class="d-md-none cx-budget-label">
                  {{ 'budgetsList.parentUnit' | cxTranslate }}
                </div>
                <a
                  [routerLink]="
                    {
                      cxRoute: 'budgetDetails',
                      params: budget
                    } | cxUrl
                  "
                  class="cx-budget-value"
                >
                  {{ 'budgetDetails.parentUnit' }}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Select Form and Pagination Bottom -->
        <div class="cx-budget-sort bottom row">
          <div
            class="cx-budget-form-group form-group col-sm-12 col-md-4 col-lg-4"
          >
            <cx-sorting
              [sortOptions]="budgetsList.sorts"
              [sortLabels]="getSortLabels() | async"
              (sortListEvent)="changeSortCode($event)"
              [selectedOption]="budgetsList.pagination.sort"
              placeholder="{{ 'budgetsList.sortByMostRecent' | cxTranslate }}"
            ></cx-sorting>
          </div>
          <div class="cx-budget-pagination">
            <cx-pagination
              [pagination]="budgetsList.pagination"
              (viewPageEvent)="pageChange($event)"
            ></cx-pagination>
          </div>
        </div>
      </ng-container>

      <!-- NO ORDER CONTAINER -->
      <ng-template #noOrder>
        <div class="cx-budget-no-budget row" *ngIf="isLoaded$ | async">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div>{{ 'budgetsList.noBudgets' | cxTranslate }}</div>
            <!--            <a-->
            <!--              [routerLink]="{ cxRoute: 'home' } | cxUrl"-->
            <!--              routerLinkActive="active"-->
            <!--              class="btn btn-primary btn-block"-->
            <!--              >{{ 'budgetsList.startShopping' | cxTranslate }}</a-->
            <!--            >-->
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
