.high-contrast-light {
  --cx-color-background: #ffffff;
  --cx-color-text: #000000;
  --cx-color-visual-focus: #6c32a9;
  --cx-color-inverse: #000000;
  --cx-color-transparent: transparent;
  --cx-color-primary: #365892;
  --cx-color-secondary: #4a5964;
  --cx-color-primary-accent: #004ccb;
  --cx-color-success: #006362;
  --cx-color-info: #000000;
  --cx-color-warning: #5c5c00;
  --cx-color-danger: #ab0000;
}
