<div
  class="cx-order-type-card"
  role="region"
  [attr.aria-labelledby]="'checkout-schedule-replenishment-order-title'"
>
  <div class="cx-label-container">
    <h3
      id="checkout-schedule-replenishment-order-title"
      class="cx-order-replenishment-header"
    >
      {{ 'checkoutScheduledReplenishment.autoReplenishOrder' | cxTranslate }}
    </h3>
    <cx-icon [type]="iconTypes.CLOCK"></cx-icon>
  </div>
  @for (type of orderTypes | keyvalue; track type) {
    <div class="cx-order-type-container form-check">
      <input
        id="orderType-{{ type.value }}"
        class="scaled-input form-check-input"
        role="radio"
        type="radio"
        formControlName="orderType"
        aria-checked="true"
        (change)="changeOrderType(type.value)"
        [value]="type.value"
        [checked]="type.value === (selectedOrderType$ | async)"
      />
      <label
        class="order-type-label form-check-label form-radio-label"
        for="orderType-{{ type.value }}"
      >
        <div class="order-type">
          {{
            'checkoutScheduledReplenishment.orderType_' + type?.value
              | cxTranslate
          }}
        </div>
      </label>
    </div>
  }
  @if (
    scheduleReplenishmentFormData &&
    (selectedOrderType$ | async) === orderTypes.SCHEDULE_REPLENISHMENT_ORDER
  ) {
    <div class="cx-replenishment-form-data-container">
      @if (!isMonthly) {
        <div class="cx-days">
          <label
            class="form-data-label"
            for="order-replenishment-period-type"
            >{{ 'checkoutScheduledReplenishment.every' | cxTranslate }}</label
          >
          @if (isWeekly) {
            <select
              id="order-replenishment-period-type"
              class="form-control"
              (change)="changeNumberOfWeeks($event.target.value)"
            >
              @for (nWeeks of numberOfWeeks; track nWeeks) {
                <option
                  [value]="nWeeks"
                  [selected]="
                    nWeeks === scheduleReplenishmentFormData.numberOfWeeks
                  "
                >
                  {{ nWeeks }}
                </option>
              }
            </select>
          } @else {
            <select
              id="order-replenishment-period-type"
              class="form-control"
              (change)="changeNumberOfDays($event.target.value)"
            >
              @for (nDays of numberOfDays; track nDays) {
                <option
                  [value]="nDays"
                  [selected]="
                    nDays === scheduleReplenishmentFormData.numberOfDays
                  "
                >
                  {{ nDays }}
                </option>
              }
            </select>
          }
        </div>
      }
      <div class="cx-month">
        @if (isMonthly) {
          <label
            class="form-data-label"
            for="order-replenishment-recurrence-period"
            >{{ 'checkoutScheduledReplenishment.every' | cxTranslate }}</label
          >
        }
        @if (!isMonthly) {
          <label
            class="form-data-label"
            for="order-replenishment-recurrence-period"
            >{{
              'checkoutScheduledReplenishment.duration' | cxTranslate
            }}</label
          >
        }
        <select
          id="order-replenishment-recurrence-period"
          class="form-control"
          (change)="changeRecurrencePeriodType($event.target.value)"
        >
          @for (type of recurrencePeriodType; track type) {
            <option
              [value]="type"
              [selected]="
                type === scheduleReplenishmentFormData.recurrencePeriod
              "
            >
              {{
                'checkoutScheduledReplenishment.recurrencePeriodType_' + type
                  | cxTranslate
              }}
            </option>
          }
        </select>
      </div>
      @if (isMonthly) {
        <div class="cx-dayMonth">
          <label
            class="form-data-label"
            for="order-replenishment-day-of-month"
            >{{
              'checkoutScheduledReplenishment.dayOfMonth' | cxTranslate
            }}</label
          >
          <div class="cx-day-of-month">
            <select
              id="order-replenishment-day-of-month"
              class="form-control"
              (change)="changeDayOfTheMonth($event.target.value)"
            >
              @for (nDays of numberOfDays; track nDays) {
                <option
                  [value]="nDays"
                  [selected]="
                    nDays === scheduleReplenishmentFormData.nthDayOfMonth
                  "
                >
                  {{ nDays }}
                </option>
              }
            </select>
          </div>
        </div>
      }
    </div>

    <div class="cx-replenishment-form-data-container">
      <label for="datepicker" class="form-data-label">{{
        'checkoutScheduledReplenishment.startOn' | cxTranslate
      }}</label>
      <div class="cx-replenishment-date">
        <input
          id="datepicker"
          type="date"
          placeholder="yyyy-mm-dd"
          [value]="currentDate"
          (change)="changeReplenishmentStartDate($event.target.value)"
        />
      </div>
    </div>
    @if (isWeekly) {
      <fieldset
        class="cx-replenishment-form-data-container cx-repeat-days-container"
      >
        <legend class="cx-repeat-days form-data-label">
          {{ 'checkoutScheduledReplenishment.repeatOnDays' | cxTranslate }}
        </legend>
        @for (day of daysOfWeek; track day) {
          <div class="form-check">
            <label for="day-{{ day }}" class="cx-week-day">{{
              day | titlecase
            }}</label
            ><input
              id="day-{{ day }}"
              type="checkbox"
              class="form-check-input"
              [checked]="hasDaysOfWeekChecked(day)"
              (change)="changeRepeatDays(day, $event.target.checked)"
            />
          </div>
        }
      </fieldset>
    }
  }
</div>
