<cx-view #view *ngIf="code$ | async as orgUnitCode">
  <form [formGroup]="form" (ngSubmit)="save($event, form)">
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'unitManageAddresses', params: { uid: orgUnitCode } }
            | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
      </a>

      <span>{{
        'unit.addressCreate.header' | cxTranslate: { code: orgUnitCode }
      }}</span>
    </h3>

    <section>
      <cx-unit-address-form [form]="form"></cx-unit-address-form>
      <div class="form-buttons">
        <button class="button primary" type="submit">
          {{ 'organization.save' | cxTranslate }}
        </button>
        <a
          [routerLink]="
            { cxRoute: 'unitManageAddresses', params: { uid: orgUnitCode } }
              | cxUrl
          "
          class="button secondary"
          (click)="view.toggle()"
        >
          {{ 'organization.cancel' | cxTranslate }}
        </a>
      </div>
    </section>
  </form>
</cx-view>
