<cx-view #view class="card">
  <div class="header">
    <div class="title-bar">
      <div class="title">
        <h3>
          {{ i18nRoot + '.title' | cxTranslate: { item: item$ | async } }}
        </h3>
        <h4>
          {{ i18nRoot + '.subtitle' | cxTranslate: { item: item$ | async } }}
          &nbsp;
        </h4>
      </div>
      <div class="actions">
        <ng-content select="[actions]"></ng-content>
      </div>
    </div>
    <a *ngIf="!!previous" class="link close" routerLink="../">
      <cx-icon
        *ngIf="previous === true; else prevLabel"
        type="CLOSE"
        (click)="closeView(view, $event)"
      ></cx-icon>
      <ng-template #prevLabel>{{ previous | cxTranslate }}</ng-template>
    </a>
  </div>

  <div class="main">
    <ng-content select="[main]"></ng-content>
  </div>
</cx-view>

<router-outlet></router-outlet>
