<cx-view #view>
  <div class="card">
    <div class="header">
      <div class="title" *ngIf="item$ | async as item">
        <h3>
          {{ i18nRoot + '.title' | cxTranslate: { item: item } }}
        </h3>
        <h4>
          {{ i18nRoot + '.subtitle' | cxTranslate: { item: item } }}
        </h4>
      </div>

      <div class="actions">
        <ng-content select="[actions]"></ng-content>

        <a
          *ngIf="!!previous"
          class="link"
          routerLink="../"
          (click)="view.toggle()"
        >
          <cx-icon
            *ngIf="previous === true; else prevLabel"
            type="CLOSE"
          ></cx-icon>
          <ng-template #prevLabel>{{ previous | cxTranslate }}</ng-template>
        </a>
      </div>
    </div>

    <div class="main">
      <ng-content select="[main]"></ng-content>
    </div>
  </div>
</cx-view>

<router-outlet></router-outlet>
