<div class="register">
  <p class="cx-section-title" id="register-section-label">
    {{ 'loginForm.dontHaveAccount' | cxTranslate }}
  </p>

  <button
    (click)="navigateTo(loginAsGuest ? 'checkoutLogin' : 'register')"
    class="btn btn-block btn-secondary"
    [ngClass]="loginAsGuest ? 'btn-guest' : 'btn-register'"
    aria-labelledby="register-section-label register-action-label"
  >
    <span id="register-action-label">
      {{
        (loginAsGuest ? 'loginForm.guestCheckout' : 'loginForm.register')
          | cxTranslate
      }}
    </span>
  </button>
</div>
