<!--<div>-->
<!--  <h2>-->
<!--    {{ 'orgAccountSummary.details.header' | cxTranslate }}-->
<!--  </h2>-->
<!--</div>-->
<div class="cx-account-summary" *ngIf="headerDetails$ | async as headerDetails">
  <div class="container">
    <div class="cx-summary-card grid-item-name">
      <cx-card
        [content]="getIdCardContent(headerDetails?.unit?.uid) | async"
      ></cx-card>
      <cx-card
        [content]="getNameCardContent(headerDetails?.unit?.name) | async"
      ></cx-card>
    </div>

    <div class="cx-summary-card grid-item-address">
      <cx-card
        [content]="getAddressCardContent(headerDetails?.billingAddress) | async"
      ></cx-card>
    </div>

    <div class="cx-summary-card grid-item-credit">
      <cx-card
        [content]="
          getCreditRepCardContent(headerDetails?.accountManagerName) | async
        "
      ></cx-card>

      <cx-card
        [content]="
          getCreditLineCardContent(headerDetails?.formattedCreditLimit) | async
        "
      ></cx-card>
    </div>

    <div class="cx-summary-card grid-item-balance">
      <cx-card
        [content]="
          getCurrentBalanceCardContent(
            headerDetails?.amountBalanceData?.currentBalance
          ) | async
        "
      ></cx-card>

      <cx-card
        [content]="
          getOpenBalanceCardContent(
            headerDetails?.amountBalanceData?.openBalance
          ) | async
        "
      ></cx-card>
    </div>

    <div class="cx-summary-card grid-item-due">
      <div
        *ngIf="
          headerDetails.amountBalanceData &&
            headerDetails.amountBalanceData.dueBalance as pastDue;
          else noDueRange
        "
        [class.past-due-section]="pastDue.length > 0"
      >
        <div *ngIf="pastDue.length > 0" class="past-due-range-block">
          <div
            *ngFor="let rangeBalance of pastDue"
            class="past-due-range-container"
          >
            <div class="past-due-range-date">
              <span>{{ rangeBalance?.key?.minBoundery }}</span>
              <span>{{
                rangeBalance?.key?.maxBoundery
                  ? '-' + rangeBalance?.key?.maxBoundery
                  : '+'
              }}</span>
              <span> Days</span>
            </div>
            <div class="past-due-range-value">
              {{ rangeBalance?.value }}
            </div>
          </div>
        </div>

        <div class="past-due-balance-container">
          <div class="past-due-balance-text cx-card-title">
            {{ 'orgAccountSummary.details.pastDueBalance' | cxTranslate }}
          </div>
          <div>{{ headerDetails?.amountBalanceData?.pastDueBalance }}</div>
        </div>
      </div>

      <ng-template #noDueRange>
        <cx-card
          [content]="
            getPastDueBalanceCardContent(
              headerDetails?.amountBalanceData?.pastDueBalance
            ) | async
          "
        ></cx-card>
      </ng-template>
    </div>
  </div>
</div>
