<div
  class="modal-dialog modal-dialog-centered extend-subscription-dialog"
  role="dialog"
  (esc)="close('')"
  aria-labelledby="dialogTitle"
  [cxFocus]="focusConfig"
>
  <div class="modal-content">
    <!-- Modal Header -->

    <div class="modal-header">
      <h3 id="dialogTitle" class="title modal-title" *ngIf="!isExtendSubscriptionBtnClicked">
        {{ 'extendSubscription.title' | cxTranslate }}
      </h3>
      <h3 id="dialogTitle" class="title modal-title" *ngIf="isExtendSubscriptionBtnClicked">
        {{ 'extendSubscription.confirmExtensionTitle' | cxTranslate }}
      </h3>
      <button
        type="button"
        class="close"
        title="{{ 'common.close' | cxTranslate }}"
        [attr.aria-label]="'common.close' | cxTranslate"
        (click)="close('close-dialog')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body" ngForm>
      <div class="cx-dialog-info">
        <p 
          *ngIf="!isExtendSubscriptionBtnClicked"
          [innerHTML]="'extendSubscription.disclaimer' | cxTranslate"
        >
        </p>
        <p 
          *ngIf="isExtendSubscriptionBtnClicked"
          [innerHTML]="'extendSubscription.disclaimerWithExtensionEndDate' | cxTranslate: { endDate: this.extensionEffectiveDate | cxDate }"
        >
        </p>
        <br>
        <p 
          *ngIf="isExtendSubscriptionBtnClicked"
        >
          {{ 'extendSubscription.noActionMessage' | cxTranslate }}
        </p>
      </div>

      <label for="extendDurationInput">{{ 'extendSubscription.durationInputLabel' | cxTranslate }}</label>
      <input
        id="extendDurationInput"
        class="form-control input-extend-duration"
        type="number"
        min="1"
        step="1"
        class="form-control"
        placeholder="{{ 'extendSubscription.durationInputPlaceholder' | cxTranslate: { frequency: this.subscriptionContractFrequency } }}"
        [(ngModel)]="extendDuration"
        [disabled]="isUnlimitedDurationSelected"
        name="extendDuration"
      >

      <div class="form-check">
        <label for="unlimitedDurationCheckbox">
          <input 
            type="checkbox"
            class="form-check-input"
            id="unlimitedDurationCheckbox"
            [(ngModel)]="isUnlimitedDurationSelected"
            (change)="isUnlimitedDurationSelected && extendDuration = null"
            name="unlimitedDurationCheckbox"
          >
          <span class="form-check-label">
            {{ 'extendSubscription.unlimitedDurationCheckboxLabel' | cxTranslate }}
          </span>
        </label>
      </div>
    </div>

    <div class="cx-modal-footer extend-subscription-dialog-footer">
      <button
        (click)="close('Cancel')"
        class="btn btn-secondary cx-dialog-buttons"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
      <button 
        class="btn btn-primary dialog-buttons"
        [disabled]="!extendDuration && !isUnlimitedDurationSelected"
        *ngIf="!isExtendSubscriptionBtnClicked"
        (click)="onExtendSubscription()"
      >
        {{ 'extendSubscription.extend' | cxTranslate }}
      </button>
      <button 
        class="btn btn-primary dialog-buttons"
        (click)="onConfirmExtendSubscription()"
        *ngIf="isExtendSubscriptionBtnClicked && isExtensionEffectiveDateAvailable"
      >
        {{ 'extendSubscription.confirm' | cxTranslate }}
      </button>
    </div>
  </div>
</div>