<div class="form-check">
  <label>
    <input
      type="checkbox"
      class="form-check-input"
      (change)="onConsentChange()"
      [checked]="consentGiven"
      [disabled]="isRequired(consentTemplate?.id)"
    />
    <!-- TODO(issue:4989) Anonymous consents - remove the *ngIf="isLevel13" -->
    <strong *ngIf="isLevel13" class="form-check-label">
      {{ consentTemplate?.name }}
    </strong>
    <span class="form-check-label">
      {{ consentTemplate?.description }}
    </span>
  </label>
</div>
