<ng-container *ngIf="order$ | async as order">
  <ng-container *ngIf="order.permissionResults?.length">
    <div class="cx-approval-header row">
      <div class="cx-approval-label col-sm-12">
        {{ 'orderDetails.approvalDetails.header' | cxTranslate }}
      </div>
    </div>
    <div class="row">
      <table class="table table-striped cx-approval-table">
        <thead class="cx-approval-thead-mobile">
          <th scope="col">
            {{ 'orderDetails.approvalDetails.permission' | cxTranslate }}
          </th>
          <th scope="col">
            {{ 'orderDetails.approvalDetails.approver' | cxTranslate }}
          </th>
          <th scope="col">
            {{ 'orderDetails.approvalDetails.status' | cxTranslate }}
          </th>
          <th scope="col">
            {{ 'orderDetails.approvalDetails.approverComments' | cxTranslate }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let permissionResult of order.permissionResults">
            <td class="cx-approval-permissionCode">
              <div class="d-md-none cx-approval-table-label">
                {{ 'orderDetails.approvalDetails.permission' | cxTranslate }}
              </div>
              {{
                'orderDetails.approvalDetails.permissionType'
                  | cxTranslate
                    : { context: permissionResult.permissionType.code }
              }}
            </td>
            <td class="cx-approval-approverName">
              <div class="d-md-none cx-approval-table-label">
                {{ 'orderDetails.approvalDetails.approver' | cxTranslate }}
              </div>
              {{ permissionResult.approverName }}
            </td>
            <td class="cx-approval-statusDisplay">
              <div class="d-md-none cx-approval-table-label">
                {{ 'orderDetails.approvalDetails.status' | cxTranslate }}
              </div>
              {{ permissionResult.statusDisplay }}
            </td>
            <td class="cx-approval-approvalNotes">
              <div class="d-md-none cx-approval-table-label">
                {{
                  'orderDetails.approvalDetails.approverComments' | cxTranslate
                }}
              </div>
              {{
                permissionResult.approverNotes
                  ? permissionResult.approverNotes
                  : ('orderDetails.approvalDetails.noApprovalNotes'
                    | cxTranslate)
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>
