<ng-container *ngIf="cartItemContext?.context$ | async as ctx">
  <ng-container *ngIf="hasIssues(ctx.item) && !ctx.readonly">
    <cx-icon [type]="iconTypes.ERROR"></cx-icon>
    <div class="cx-error-msg">
      {{
        'configurator.notificationBanner.numberOfIssues'
          | cxTranslate: { count: getNumberOfIssues(ctx.item) }
      }}
      <cx-configure-cart-entry
        class="cx-error-msg-action"
        *ngIf="ctx.item?.product?.configurable"
        [cartEntry]="ctx.item"
        [readOnly]="ctx.readonly"
        [msgBanner]="true"
        [disabled]="ctx.quantityControl.disabled"
      ></cx-configure-cart-entry>
    </div>
  </ng-container>
</ng-container>
