@import '../../../theme';

%cx-searchbox {
  .hidden {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    // we position the parent relative to ensure the absolute childs
    // can be aligned to the left of this parent
    position: relative;
  }

  z-index: 10;
  display: block;

  > * {
    z-index: 20;
    @include media-breakpoint-up(lg) {
      background-color: var(--cx-g-color-secondary);
      position: relative;
    }
  }

  &:not(.open) {
    .results {
      display: none;
    }
    @include media-breakpoint-down(md) {
      .reset {
        opacity: 0;
      }
    }
  }

  &:before {
    transition: background-color 0.4s;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 10;
  }
  &.open:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
  }

  a,
  .message {
    padding: 6px;
    color: currentColor;
  }

  label {
    display: flex;
    margin: 0;
    padding: 6px;

    @include media-breakpoint-up(lg) {
      width: 25vw;

      // hide search icon when the input is dirty
      &.dirty cx-icon.search {
        display: none;
      }
    }

    input {
      background: none;
      border: none;
      outline: none;

      @include media-breakpoint-down(md) {
        position: absolute;
        left: 0;
        top: 57px;
        width: 100%;
        background-color: var(--cx-g-color-secondary);
        padding: 6px;
        height: 48px;
        &:not(:focus) {
          opacity: 0;
        }
      }

      flex-basis: 100%;
      height: 35px;
      color: currentColor;
      z-index: 20;

      @include placeholder {
        color: currentColor;
      }
    }

    // hide reset icon when the input is empty
    &:not(.dirty) cx-icon.reset {
      display: none;
    }

    cx-icon {
      color: currentColor;
      flex-basis: 48px;
      text-align: center;
      cursor: pointer;
      &.reset {
        @include media-breakpoint-down(md) {
          position: absolute;
          right: 65px;
          z-index: 20;
          right: 20px;
          margin-top: 52px;
        }
      }
    }
  }

  .results {
    position: absolute;
    left: 0;
    width: 100%;

    @include media-breakpoint-down(md) {
      top: 104px;
      z-index: 10;
      height: 100%;
    }

    background-color: var(--cx-g-color-background);
    color: var(--cx-g-color-secondary);

    a {
      text-decoration: none;
      &:hover {
        background: var(--cx-g-color-light);
      }
    }
    .suggestions {
      display: flex;
      flex-wrap: wrap;
      a {
        flex: 100%;
      }
      a:last-child {
        border-bottom: solid 1px var(--cx-g-color-light);
      }
    }
    .products {
      a {
        display: grid;
        grid-template-columns: 60px 1fr;

        grid-column-gap: 6px;

        cx-media {
          grid-row: 1 / 3;
        }
        .name {
          text-overflow: ellipsis;

          /* Required for text-overflow to do anything */
          white-space: nowrap;
          overflow: hidden;
          .search-results-highlight {
            font-weight: bold;
          }
        }
      }
    }
  }
}
