@import '../../../theme';

body {
  cx-searchbox {
    .results {
      display: none;
    }
  }
  &.has-results {
    &.open {
      cx-searchbox {
        .results {
          display: block;
        }
      }
    }
  }
}

body.has-results {
  header {
    position: relative;
    z-index: 100;
  }
  cx-storefront {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      z-index: 10;

      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
    }
  }

  &.open {
    cx-storefront {
      &:before {
        height: 100%;
        opacity: 1;
      }
    }
  }

  // &:not(.open) {
  //   cx-searchbox {
  //     // .results {
  //     //   display: none;
  //     // }
  //     @include media-breakpoint-down(sm) {
  //       .reset {
  //         opacity: 0;
  //       }
  //     }
  //   }
  // }
}

// hide the input on mobile when there's no interaction with searchbox

body:not(.open) {
  cx-searchbox {
    input {
      @include media-breakpoint-down(sm) {
        // opacity: 0;
        display: none;
      }
    }
  }
}

%cx-searchbox {
  .hidden {
    display: none;
  }

  @include media-breakpoint-up(md) {
    // we position the parent relative to ensure the absolute childs
    // can be aligned to the left of this parent
    position: relative;
  }

  z-index: 10;
  display: block;

  > * {
    z-index: 20;
    @include media-breakpoint-up(md) {
      background-color: var(--cx-g-color-secondary);
      position: relative;
    }
  }

  a,
  .message {
    padding: 6px 16px;
    color: currentColor;
    user-select: none;
  }

  label {
    display: flex;
    margin: 0;
    padding: 6px;
    @include media-breakpoint-up(md) {
      width: 27vw;
      // hide search icon when the input is dirty
      &.dirty cx-icon.search {
        display: none;
      }
    }

    input {
      background: none;
      border: none;
      outline: none;
      padding-left: 10px;

      display: block;

      @include media-breakpoint-down(sm) {
        position: absolute;
        left: 0;
        top: 57px;
        width: 100%;
        background-color: var(--cx-g-color-secondary);
        padding: 6px 16px;
        height: 48px;
        border-bottom: 1px solid var(--cx-g-color-light);
      }

      flex-basis: 100%;
      height: 35px;
      color: currentColor;
      z-index: 20;

      @include placeholder {
        color: currentColor;
      }
    }

    // hide reset icon when the input is empty
    &:not(.dirty) cx-icon.reset {
      display: none;
    }

    cx-icon {
      color: currentColor;
      flex-basis: 48px;
      text-align: center;
      cursor: pointer;
      &.reset {
        &:before {
          font-size: 1.4rem;
        }
        @include media-breakpoint-down(sm) {
          position: absolute;
          right: 65px;
          z-index: 20;
          right: 20px;
          margin-top: 52px;
        }
      }
    }
  }

  .results {
    position: absolute;
    left: 0;
    width: 100%;
    color: #000;
    background-color: var(--cx-g-color-background);
    font-size: var(--cx-g-font-small, 1rem);

    @include media-breakpoint-down(sm) {
      top: 105px;
      z-index: 10;
    }

    a {
      text-decoration: none;
      cursor: pointer;

      font-weight: 800;

      .highlight,
      .search-results-highlight {
        font-weight: normal;
        font-style: normal;
      }

      &:hover {
        background: var(--cx-g-color-light);
        color: currentColor;
      }
    }
    .suggestions {
      display: flex;
      flex-wrap: wrap;
      a {
        flex: 100%;
        line-height: 2rem;
      }
    }
    .products {
      @include media-breakpoint-down(sm) {
        display: none;
      }

      a {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-column-gap: 16px;

        border-top: solid 1px var(--cx-g-color-light);

        cx-media {
          grid-row: 1 / 3;
        }
        h4.name {
          text-overflow: ellipsis;

          font-size: inherit;
          font-weight: inherit;

          /* Required for text-overflow to do anything */
          white-space: nowrap;
          overflow: hidden;
        }
        .price {
          font-weight: normal;
        }
      }
    }
  }
}
