@if (orderEntry$ | async; as orderEntry) {
  @if (hasIssues(orderEntry) && !(readonly$ | async)) {
    <cx-icon [type]="iconTypes.ERROR"></cx-icon>
    <div id="{{ getErrorMessageId(orderEntry) }}">
      {{
        'configurator.notificationBanner.numberOfIssues'
          | cxTranslate: { count: getNumberOfIssues(orderEntry) }
      }}
      @if (quantityControl$ | async; as quantityControl) {
        @if ((shouldShowButton$ | async) && orderEntry?.product?.configurable) {
          <cx-configure-cart-entry
            class="cx-error-msg-action"
            [cartEntry]="orderEntry"
            [readOnly]="(readonly$ | async) ?? false"
            [msgBanner]="true"
            [disabled]="quantityControl.disabled"
          ></cx-configure-cart-entry>
        }
      }
    </div>
  }
}
