<ng-container *ngIf="mainImage$ | async as main">
  <div class="cx-main-image-group" *ngIf="thumbs$ | async as thumbs">
    <div class="cx-navigate-image">
      <button
        class="btn btn-link"
        *ngIf="getPreviousProduct(thumbs) | async as previousProduct"
        (click)="openImage(previousProduct.container)"
      >
        <cx-icon [type]="iconType.CARET_LEFT"></cx-icon>
      </button>
    </div>
    <!-- {{ print() }} -->
    <cx-media
      #z3
      class="cx-default-image-zoom"
      *ngIf="!isZoomed"
      [container]="main"
    >
      <!--(click)="zoom()"-->
    </cx-media>
    <cx-media
      class="cx-default-image-zoom cx-mobile-zoom"
      *ngIf="!isZoomed"
      [container]="main"
      (dblclick)="zoom()"
    >
    </cx-media>
    <!-- {{ isZoomed$ | async | json }} -->
    <div #container class="cx-zoom-container" *ngIf="isZoomed" (click)="zoom()">
      <ng-container *ngTemplateOutlet="zoomImage"></ng-container>
    </div>
    <div
      class="cx-zoom-container cx-mobile-zoom"
      *ngIf="isZoomed"
      (dblclick)="zoom()"
    >
      <ng-container *ngTemplateOutlet="zoomImage"></ng-container>
    </div>
    <div class="cx-navigate-image">
      <button
        class="btn btn-link"
        *ngIf="getNextProduct(thumbs) | async as nextProduct"
        (click)="openImage(nextProduct.container)"
      >
        <cx-icon [type]="iconType.CARET_RIGHT"></cx-icon>
      </button>
    </div>
  </div>

  <ng-template #zoomImage>
    <cx-media
      #zoomedImage
      class="cx-image-zoomed"
      [container]="main"
      (mousemove)="pointerMove($event)"
      (touchmove)="touchMove($event)"
      (touchend)="clearTouch()"
    >
    </cx-media>
  </ng-template>
</ng-container>

<ng-container *ngIf="thumbs$ | async as thumbs">
  <cx-carousel
    *ngIf="thumbs.length"
    class="thumbs"
    [items]="thumbs"
    itemWidth="80px"
    [template]="thumb"
    [hideIndicators]="true"
  ></cx-carousel>
</ng-container>

<ng-template #thumb let-item="item">
  <cx-media
    [container]="item.container"
    tabindex="0"
    (focus)="openImage(item.container)"
    [class.is-active]="isActive(item.container) | async"
  >
  </cx-media>
</ng-template>
