:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cx-default-image-zoom {
  display: flex;
  justify-content: center;
  height: calc(90vh - 200px);
  padding-bottom: 1em;

  // Landscape phones
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    height: 100%;
  }

  &:hover {
    cursor: zoom-in;
  }
}

.cx-zoom-container {
  width: 100%;
  height: calc(90vh - 200px);
  overflow: hidden;

  // Landscape phones
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    height: 100%;
  }

  .cx-image-zoomed {
    height: 100%;
    width: 100%;
    padding: 1em;

    &:hover {
      cursor: zoom-out;
    }

    // TODO: remove ::ng-deep when moving to Styles
    ::ng-deep img {
      transform: scale(2);
      position: relative;
      transition: background-position 0.25s;
      object-fit: cover;
    }
  }
}

.thumbs {
  flex: auto;
  cx-media {
    width: 70px;
    height: 70px;
  }

  @media only screen and (max-width: 900px) and (orientation: landscape) {
    display: none;
  }

  .carousel-panel {
    .slide {
      &.active {
        display: flex;
        justify-content: center;
      }
    }
  }
}
