<ng-container
  *ngIf="quoteDetails$ | async as quoteDetails; else ghostQuoteSummary"
>
  <div class="cx-price-heading">
    {{ 'quote.header.price.title' | cxTranslate }}
  </div>
  <div class="cx-price-row">
    <div class="cx-price-label">
      {{ 'quote.header.price.subtotal' | cxTranslate }}
    </div>
    <div class="cx-price-amount">
      {{ quoteDetails.totalPrice?.formattedValue }}
    </div>
  </div>

  <div
    *ngIf="hasNonZeroPriceValue(quoteDetails.productDiscounts)"
    class="cx-price-row cx-price-savings"
  >
    <div class="cx-price-label">
      {{ 'quote.header.price.productDiscount' | cxTranslate }}
    </div>
    <div class="cx-price-amount">
      {{ quoteDetails.productDiscounts?.formattedValue }}
    </div>
  </div>

  <div
    *ngIf="hasNonZeroPriceValue(quoteDetails.orderDiscounts)"
    class="cx-price-row cx-price-savings"
  >
    <div class="cx-price-label">
      {{ 'quote.header.price.orderDiscount' | cxTranslate }}
    </div>
    <div class="cx-price-amount">
      {{ quoteDetails.orderDiscounts?.formattedValue }}
    </div>
  </div>

  <div
    *ngIf="hasNonZeroPriceValue(quoteDetails.quoteDiscounts)"
    class="cx-price-row cx-price-savings"
  >
    <div class="cx-price-label">
      {{ 'quote.header.price.quoteDiscount' | cxTranslate }}
    </div>
    <div class="cx-price-amount">
      {{ quoteDetails.quoteDiscounts?.formattedValue }}
    </div>
  </div>

  <div class="cx-price-row cx-price-total">
    <div class="cx-price-label">
      {{ 'quote.header.price.total' | cxTranslate }}
    </div>
    <div class="cx-price-amount">
      {{ quoteDetails.totalPrice?.formattedValue }}
    </div>
  </div>
  <div class="cx-price-footer">
    *{{ 'quote.header.price.hint' | cxTranslate }}
  </div>
</ng-container>

<ng-template #ghostQuoteSummary>
  <div class="cx-ghost-summary-heading">
    <div class="cx-ghost-title ghost"></div>
  </div>
  <div class="cx-ghost-summary-partials">
    <ng-container *ngFor="let number of [0, 1, 2, 3]">
      <div class="cx-ghost-row">
        <div class="cx-ghost-summary-label ghost"></div>
        <div class="cx-ghost-summary-amount ghost"></div>
      </div>
    </ng-container>
  </div>
</ng-template>
