<cx-view #view *ngIf="code$ | async as orgUnitCode">
  <h3>
    <a
      class="link"
      [routerLink]="
        { cxRoute: 'orgUnitDetails', params: { uid: orgUnitCode } } | cxUrl
      "
      (click)="view.toggle()"
    >
      <cx-icon type="CARET_LEFT"></cx-icon>
    </a>
    {{ 'units.unitApprovers.header' | cxTranslate: { code: orgUnitCode } }}
    <span></span>
  </h3>

  <div class="actions">
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'userCreate'
        } | cxUrl
      "
    >
      {{ 'units.unitApprovers.newApprover' | cxTranslate }}
    </a>
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'orgUnitAssignApprovers',
          params: { code: orgUnitCode }
        } | cxUrl
      "
    >
      {{ 'units.unitApprovers.assignApprovers' | cxTranslate }}
    </a>
  </div>
  <section>
    <cx-table
      *ngIf="dataTable$ | async as dataTable; else emptyList"
      [dataset]="dataTable"
    >
    </cx-table>
  </section>

  <ng-template #emptyList>
    <p class="instruction is-empty">
      {{ 'organization.messages.emptyList' | cxTranslate }}
    </p>
  </ng-template>

  <ng-template cxOutletRef="table.unitApprovers.data.summary" let-model>
    <h3>{{ model.name }}</h3>
    <small>
      {{ model.email
      }}<span *ngFor="let role of model.roles"> • {{ role }}</span>
    </small>
  </ng-template>

  <ng-template cxOutletRef="table.unitApprovers.data.link" let-model>
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'userDetails',
          params: model
        } | cxUrl
      "
    >
      <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
    </a>
  </ng-template>
</cx-view>

<router-outlet></router-outlet>
