<div class="cx-store-address">
  @if (storeDetails?.displayName) {
    <div class="cx-store-name">
      {{ storeDetails?.displayName }}
    </div>
  }
  <div class="cx-store-full-address">
    @if (storeDetails?.address?.line1) {
      <div>
        {{ storeDetails.address?.line1 }}
      </div>
    }
    @if (storeDetails?.address?.line2) {
      <div>
        {{ storeDetails.address?.line2 }}
      </div>
    }
    @if (storeDetails?.address?.town) {
      <div>
        {{ storeDetails.address?.town }}
      </div>
    }
    @if (storeDetails?.address?.region) {
      <div>
        {{ storeDetails.address?.region }}
      </div>
    }
    @if (storeDetails?.address?.district) {
      <div>
        {{ storeDetails.address?.district }}
      </div>
    }
    @if (storeDetails?.address?.phone) {
      <div>
        {{ storeDetails.address?.phone }}
      </div>
    }
  </div>
</div>
