<ng-container *ngIf="cart$ | async as cart">
  <div class="cx-add-to-saved-cart-container">
    <a
      class="link cx-action-link"
      [routerLink]="
        {
          cxRoute: 'savedCarts'
        } | cxUrl
      "
      cxAutoFocus
    >
      <span>{{ 'addToSavedCart.savedCarts' | cxTranslate }}</span>
    </a>
    <a
      #element
      tabindex="0"
      class="link cx-action-link"
      [class.disabled]="disableSaveCartForLater$ | async"
      (click)="saveCart(cart)"
      cxAutoFocus
    >
      <span>{{ 'addToSavedCart.saveCartForLater' | cxTranslate }}</span>
    </a>
  </div>
</ng-container>
