<ng-container *ngIf="cart$ | async as cart">
  <div class="cx-add-to-saved-cart-container">
    <button
      class="link cx-action-link"
      [routerLink]="
        {
          cxRoute: 'savedCarts'
        } | cxUrl
      "
      cxAutoFocus
    >
      <span>{{ 'addToSavedCart.savedCarts' | cxTranslate }}</span>
    </button>
    <button
      #element
      class="link cx-action-link"
      (click)="saveCart(cart)"
      cxAutoFocus
    >
      <span>{{ 'addToSavedCart.saveCartForLater' | cxTranslate }}</span>
    </button>
    <ng-container
      *cxFeatureLevel="'4.2'"
      [cxComponentWrapper]="{
        flexType: 'ExportOrderEntriesComponent',
        typeCode: 'CMSFlexComponent',
        uid: 'ExportOrderEntriesComponent'
      }"
    ></ng-container>
    <ng-container
      *cxFeatureLevel="'4.2'"
      [cxComponentWrapper]="{
        flexType: 'ImportProductsComponent',
        typeCode: 'CMSFlexComponent',
        uid: 'ImportProductsComponent'
      }"
    ></ng-container>
  </div>
</ng-container>
