.heading {
  margin-left: 40px;
}

.inputs,
.countries-dropdown,
.titles-dropdown {
  width: 40.5%;
  height: 20px;
  margin-bottom: 15px;
}

.form-labels {
  height: 50%;
  vertical-align: left;
}

.content {
  margin-left: 40px;
}

.buttons {
  margin-bottom: 15px;
}
