.side-content,
.heading {
  text-align: center;
}

.inputs,
.countries-dropdown,
.titles-dropdown {
  width: 25%;
  height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form-labels {
  height: 50%;
  vertical-align: left;
}

.content {
  text-align: center;
}

.buttons {
  text-align: center;
  margin-bottom: 25px;
}

.error {
  background: #b52d30;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
  line-height: 1;
  padding: 6px 10px;
  margin-top: -1px;
}
