<div [formGroup]="parent">
    <h2 class="heading">Step 1: Shipping Address</h2>
    <div class="content" formGroupName="address">

        <div formGroupName="country">
            <div>
                <font size="4">Country:</font>
            </div>
            <select class="countries-dropdown" formControlName="isocode">
                <option value="">Select Country</option>
                <option *ngFor="let country of (countries$ | async)" [value]="country.isocode">
                    {{ country.name }}
                </option>
            </select>
        </div>
        <div formGroupName="title">
            <div>
                <font size="4">Title:</font>
            </div>
            <select class="titles-dropdown" formControlName="code">
                <option value="">Select Title</option>
                <option *ngFor="let title of (titles$ | async)" [value]="title.code">
                    {{ title.name }}
                </option>
            </select>
        </div>
        <div>
            <div>
                <font size="4">First Name</font>
            </div>
            <input class="inputs" type="text" placeholder="First Name" formControlName="firstName">
        </div>
        <div>
            <div>
                <font size="4">Last Name</font>
            </div>
            <input class="inputs" type="text" placeholder="Last Name" formControlName="lastName">
        </div>
        <div>
            <div>
                <font size="4">Address Line 1:</font>
            </div>
            <input class="inputs" type="text" placeholder="Address Line 1" formControlName="line1">
        </div>
        <div>
            <div>
                <font size="4">Address Line 2:</font>
            </div>
            <input class="inputs" type="text" placeholder="Address Line 2" formControlName="line2">
        </div>
        <div>
            <div>
                <font size="4">City:</font>
            </div>
            <input class="inputs" type="text" placeholder="City" formControlName="town">
        </div>
        <div formGroupName="region">
            <div>
                <font size="4">Province:</font>
            </div>
            <input class="inputs" type="text" placeholder="State/Province" formControlName="isocode">
        </div>

        <div>
            <div>
                <font size="4">Postal Code:</font>
            </div>
            <input class="inputs" type="text" placeholder="Postal Code/Zip" formControlName="postalCode">
        </div>
        <div>
            <div>
                <font size="4">Phone Number:</font>
            </div>
            <input class="inputs" type="text" placeholder="Phone" formControlName="phone">
        </div>

        <div class="buttons">
            <button mat-raised-button color="primary" (click)="back()">Go Back</button>
            <button mat-raised-button color="accent" (click)="onAdd()">Next</button>
        </div>
    </div>
</div>