@if (entries?.length > 0) {
  <table class="cx-quick-order-table-wrapper" role="table">
    <caption class="cx-visually-hidden">
      {{
        'quickOrderTable.caption' | cxTranslate
      }}
    </caption>
    <thead>
      <tr role="row" class="cx-item-list-header cx-quick-order-table-header">
        <th role="columnheader" class="cx-item-list-desc">
          {{ 'quickOrderTable.product' | cxTranslate }}
        </th>
        <th role="columnheader" class="cx-item-list-price">
          {{ 'quickOrderTable.price' | cxTranslate }}
        </th>
        <th role="columnheader" class="cx-item-list-qty">
          {{ 'quickOrderTable.quantityFull' | cxTranslate }}
        </th>
        <th role="columnheader" class="cx-item-list-actions">
          {{ 'quickOrderTable.actions' | cxTranslate }}
        </th>
      </tr>
    </thead>
    <tbody class="cx-item-list-items">
      @for (entry of entries; track entry; let i = $index) {
        <tr
          cx-quick-order-item
          class="cx-item-list-row cx-quick-order-table-row"
          [entry]="entry"
          [index]="i"
          [loading]="loading"
        ></tr>
      }
    </tbody>
  </table>
}
