<section [attr.aria-label]="'paymentForm.payment' | cxTranslate">
  <ng-container *ngIf="showSavedCards$ | async">
    <ng-container *ngIf="cards$ | async as cards">
      <ng-container *ngIf="!(isUpdating$ | async); else loading">
        <ng-container *ngIf="cards?.length; then hasExistingPaymentMethods">
        </ng-container>
      </ng-container>

      <ng-template #hasExistingPaymentMethods>
        <div class="cx-checkout-body row">
          <div
            class="cx-payment-card col-md-12 col-lg-6"
            *ngFor="
              let card of showAll
                ? cards
                : (cards | slice: 0 : VISIBLE_CARDS_COUNT);
              let i = index
            "
          >
            <div
              class="cx-payment-card-inner"
              (click)="onCardClick($event, card.paymentMethod)"
            >
              <div class="cx-expired-error-slot">
                <div
                  *ngIf="isCardExpired(card.paymentMethod)"
                  class="cx-expired-error"
                  role="alert"
                >
                  <cx-icon
                    class="cx-expired-error-icon"
                    [type]="iconTypes.ERROR"
                    aria-hidden="true"
                  ></cx-icon>
                  <span class="cx-expired-error-message">
                    {{ 'paymentCard.expiredMessage' | cxTranslate }}
                  </span>
                </div>
              </div>
              <cx-card
                [border]="true"
                [fitToContainer]="true"
                [content]="card.content"
                [index]="i"
                (setDefaultCard)="setDefaultPaymentMethod(card.paymentMethod)"
                (sendCard)="
                  !isCardExpired(card.paymentMethod) &&
                    selectPaymentMethod(card.paymentMethod)
                "
              ></cx-card>
            </div>
          </div>
        </div>

        <div class="row cx-checkout-btns">
          <div class="col-md-12 col-lg-6">
            <button
              class="btn btn-block btn-primary"
              [disabled]="
                !(selectedMethod$ | async)?.id || (isUpdating$ | async)
              "
              (click)="next()"
            >
              {{ 'checkoutReview.placeOrder' | cxTranslate }}
            </button>
          </div>
        </div>

        <ng-container *ngIf="cards.length > VISIBLE_CARDS_COUNT">
          <hr class="cx-show-more-divider" />
          <div class="cx-show-more-cards">
            <ng-container *ngIf="!showAll">
              <button class="btn btn-link" (click)="showAll = true">
                {{ 'paymentCard.showAll' | cxTranslate }}
              </button>
              <span class="cx-card-count"
                >[{{ VISIBLE_CARDS_COUNT }}/{{ cards.length }}]</span
              >
            </ng-container>
            <ng-container *ngIf="showAll">
              <span class="btn btn-link cx-show-all-expanded">
                {{ 'paymentCard.showAll' | cxTranslate }}
              </span>
              <span class="cx-card-count"
                >[{{ cards.length }}/{{ cards.length }}]</span
              >
            </ng-container>
          </div>
        </ng-container>
      </ng-template>
    </ng-container>
  </ng-container>
</section>

<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
