<cx-view #view *ngIf="viewModel$ | async as viewModel">
  <form
    [formGroup]="viewModel.form"
    (ngSubmit)="save(viewModel.uid, viewModel.form)"
  >
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'userGroupDetails', params: viewModel.userGroup } | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
      </a>
      <span>{{ 'organization.edit' | cxTranslate }}</span>
    </h3>
    <section>
      <cx-user-group-form [form]="viewModel.form"> </cx-user-group-form>
      <div class="form-buttons">
        <button class="button primary" type="submit">
          {{ 'organization.save' | cxTranslate }}
        </button>
        <a
          [routerLink]="
            { cxRoute: 'userGroupDetails', params: viewModel.userGroup } | cxUrl
          "
          class="button secondary"
        >
          {{ 'organization.cancel' | cxTranslate }}
        </a>
      </div>
    </section>
  </form>
</cx-view>
