.cx-configurator-attribute-product-card {
  border-bottom: 1px solid var(--cx-color-background);
  margin-bottom: 1rem;
  max-width: 30rem;
  padding: 1rem;
  width: 100%;

  .product-card-rows {
    display: flex;
    justify-content: space-between;
  }

  .product-card-imgs {
    height: 4rem;
    min-width: 4rem;
    width: 4rem;

    @include media-breakpoint-up(md) {
      height: 7rem;
      min-width: 7rem;
      width: 7rem;
    }

    .product-card-imgs-fake {
      background-color: var(--cx-color-light);
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  .product-card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 0 0 1rem;
    max-width: 20rem;

    .product-card-name {
      a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .product-card-code {
      color: var(--cx-color-secondary);
    }
  }

  .product-card-price {
    font-weight: bold;
    margin: 1.5rem 0 1.5rem auto;
  }

  .product-card-quantity {
    margin: 1.5rem 0;
  }

  .product-card-action {
    width: 100%;

    .btn {
      max-width: 20rem;
      width: 100%;
    }
  }
}

.cx-configurator-attribute-product-card-selected {
  background-color: var(--cx-color-background);

  cx-item-counter {
    background-color: #fff;
  }
}
