.cx-show-more {
  .cx-show-more-text-hidden {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
  }
  .cx-show-more-button {
    button {
      background-color: transparent;
      border: none;
      margin: 0;
      outline: none;
      padding: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
