%cx-configurator-previous-next-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-block-start: 16px;
  padding-block-end: 16px;

  @include media-breakpoint-down(sm) {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 20px;
    padding-block-end: 20px;
  }

  .btn-action,
  .btn-secondary {
    inline-size: 25%;

    @include media-breakpoint-down(sm) {
      inline-size: 45%;
    }
  }
}
