%cx-configurator-attribute-single-selection-bundle {
  @include cx-configurator-attribute-type();

  fieldset {
    width: 100%;
  }

  .cx-single-select-bundle-quantity {
    margin-bottom: 2rem;
  }

  .cx-single-select-bundle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @include media-breakpoint-down(md) {
      border-bottom: 1px solid var(--cx-color-secondary);
      padding-bottom: 1rem;
    }
  }

  .cx-single-select-bundle-label {
    cursor: pointer;

    .form-check-input {
      display: none;
      position: absolute;
    }

    input[aria-checked='true'] + .cx-dumy-img {
      border: var(--cx-color-primary) 3px solid;
    }

    .cx-dumy-img {
      background-color: var(--cx-color-secondary);
      height: 4rem;
      width: 4rem;

      @include media-breakpoint-up(md) {
        height: 7rem;
        width: 7rem;
      }
    }
  }

  .cx-single-select-bundle-data {
    flex: 1;
    margin: 0 0 0 1rem;
    max-width: 20rem;
    padding-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      border-bottom: 1px solid var(--cx-color-secondary);
    }

    .cx-single-select-bundle-code {
      color: var(--cx-color-secondary);
    }

    .cx-single-select-bundle-description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .cx-single-select-bundle-footer {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;

    .cx-single-select-bundle-item-quantity {
      display: flex;
      flex-direction: column;

      cx-item-counter {
        margin-bottom: 1rem;
      }

      .btn {
        min-width: 10rem;
      }

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    .cx-single-select-bundle-price {
    }

    @include media-breakpoint-up(md) {
      margin: 0 0 0 auto;
      width: 10rem;
    }
  }
}
