%cx-configurator-attribute-single-selection-bundle {
  .cx-configurator-attribute-single-selection-bundle {
    width: 100%;
  }

  .cx-configurator-attribute-single-selection-bundle-quantity {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    max-width: 28rem;

    .cx-single-selection-bundle-price {
      font-weight: bold;
    }
  }
}
