{{ 'orderDetails.cancellationAndReturn.returnNote' | cxTranslate }}

<div class="col-md-6">
  <button class="btn btn-block btn-action" (click)="back()">
    {{ 'common.back' | cxTranslate }}
  </button>
  <button
    class="btn btn-block btn-primary"
    (click)="submit()"
    [disabled]="returnSubmit && isReturning$ | async"
  >
    {{ 'orderDetails.cancellationAndReturn.submit' | cxTranslate }}
  </button>
</div>

<ng-container *ngIf="returnedEntries$ | async as returnedEntries">
  <cx-cancel-or-return-items
    [entries]="returnedEntries"
    [cancelOrder]="false"
    [confirmRequest]="true"
  >
  </cx-cancel-or-return-items>
</ng-container>
