<div
  id="{{ createAttributeIdForConfigurator(attribute) }}"
  class="form-group"
  *ngIf="attribute?.values?.length"
>
  <select
    class="form-control"
    [formControl]="attributeDropDownForm"
    [cxFocus]="{ key: attribute.name }"
    (change)="onSelect()"
  >
    <option
      *ngFor="let item of attribute.values"
      [label]="item.valueDisplay"
      [selected]="item.selected"
      [value]="item.valueCode"
    >
      {{ item.valueDisplay }}
    </option>
  </select>

  <cx-configurator-attribute-product-card
    id="{{
      createAttributeValueIdForConfigurator(attribute, selectionValue.valueCode)
    }}"
    (handleDeselect)="onDeselect()"
    [preventAction]="true"
    [product]="selectionValue"
    [singleDropdown]="true"
    [withQuantity]="false"
    *ngIf="selectionValue?.valueCode !== '0'"
  >
  </cx-configurator-attribute-product-card>

  <div *ngIf="withQuantity" class="cx-attribute-level-quantity-price">
    <cx-configurator-attribute-quantity
      *ngIf="withQuantity"
      (changeQuantity)="onChangeQuantity($event)"
      [allowZero]="!attribute.required"
      [initialQuantity]="
        attributeDropDownForm.value !== '0' ? attribute.quantity : 0
      "
      [disableQuantityActions]="disableQuantityActions || (loading$ | async)"
    ></cx-configurator-attribute-quantity>

    <cx-configurator-price
      *ngIf="getProductPrice(attribute) && withQuantity"
      [formula]="
        setFormula(
          attribute?.quantity,
          getSelectedValuePrice(attribute),
          getSelectedValuePriceTotal(attribute)
        )
      "
    ></cx-configurator-price>
  </div>
</div>
