%cx-asm-customer-360 {
  height: 100%;

  .cx-asm-customer-360 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .cx-dialog-header {
    flex: none;
    padding-top: 2rem;
    padding-bottom: 3rem;
    .cx-avatar {
      font-size: 56px;
      width: 110px;
      height: 110px;
      line-height: 100px;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      background: #9259cd;
      text-transform: uppercase;
      margin-top: 2px;
      margin-inline-end: 10px;
      margin-bottom: 2px;
      margin-inline-start: 0;
    }
    .cx-title {
      font-size: 2rem;
      line-height: 2;
    }
    .cx-customer-info {
      margin-left: -150px;
      .cx-customer-email {
        color: var(--cx-color-visual-focus);
        font-size: 15px;
        margin-top: -7px;
      }
    }
    .close {
      font-size: 1rem;
      color: var(--cx-color-dark);
      top: -100px;
    }
  }
  .cx-dialog-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 0;
    overflow-y: hidden;
    .cx-dialog-row {
      flex: none;
    }

    .cx-tab-container {
      border-bottom: 1px solid #dddddd;
      margin-top: 20px;
      padding-bottom: 8px;
    }
    .cx-tab {
      padding: 10px 20px;
      color: var(--cx-color-light);
      border-bottom: 1px solid #dddddd;
      cursor: pointer;
      &.active {
        cursor: default;
      }
      &:hover {
        border-color: #556b82;
        color: var(--cx-color-visual-focus);
        border-width: 0 0 2px;
        text-decoration: none;
      }
      &:active,
      &:hover,
      &:focus {
        color: var(--cx-color-visual-focus);
        border-width: 0 0 2px;
        text-decoration: none;
        border-color: var(--cx-color-visual-focus);
        padding: 10px 20px 9px 20px;
      }
    }
    .cx-tab-content {
      flex: 1;
      min-height: 0;
      overflow-y: auto;
    }
    .active {
      color: var(--cx-color-visual-focus);
      border-width: 0 0 2px;
      text-decoration: none;
      border-color: var(--cx-color-visual-focus);
      &:hover {
        color: var(--cx-color-visual-focus);
        border-width: 0 0 2px;
        text-decoration: none;
        border-color: var(--cx-color-visual-focus);
      }
    }
  }
}
