%cx-asm-toggle-ui {
  cursor: pointer;
  display: flex;
  align-items: center;

  height: 16px;
  margin: 0 15px;

  .toggleUi {
    display: inherit;
    align-items: inherit;

    .label {
      margin-inline-start: 5px;

      @media (max-width: 575px) {
        display: none;
      }
    }

    .collapseIcon,
    .expandIcon {
      width: 16px;
      height: 16px;
    }
  }
}
