%cx-asm-customer-overview {
  width: 100%;
  .cx-overview-title-link {
    color: var(--cx-color-dark);
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--cx-color-primary);
    }
  }
  .cx-asm-overview-header-infor {
    display: flex;
  }
  cx-asm-product-item {
    display: flex;
  }
  .cx-asm-overview-items {
    display: flex;
    flex-wrap: wrap;
    a {
      cursor: pointer;
    }
    .cx-overview-product-name {
      @include type('5');
      color: var(--cx-color-dark);
      text-decoration: none;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
      &:hover {
        color: var(--cx-color-primary);
      }
    }
    .cx-overview-out-of-stock {
      font-weight: var(--cx-font-weight-normal);
      color: var(--cx-color-secondary);
    }
  }
  .cx-asm-overview-order-items {
    gap: 1rem;
    cx-asm-product-item {
      border: 1px solid var(--cx-color-light);
      width: 300px;
      cx-media {
        width: 100px;
      }
      .asm-product-item-content {
        padding: 1rem;
        span {
          width: 180px;
        }
      }
    }
  }

  .cx-asm-overview-interests-items {
    text-align: center;
    gap: 1rem;
    cx-asm-product-item {
      width: 150px;
      flex-direction: column;
      row-gap: 0.5rem;
      cx-media {
        max-width: 150px;
        height: 150px;
      }
      .asm-product-item-content {
        span {
          width: 150px;
        }
      }
    }
  }

  .cx-overview-empty {
    .cx-overview-empty-title {
      @include type('5');
      font-weight: var(--cx-font-weight-normal);
      line-height: var(--cx-line-height, 1.5);
      border-bottom: 1px solid var(--cx-color-light);
    }
    .cx-overview-empty-desc {
      font-size: var(--cx-font-size, 0.875rem);
      font-weight: var(--cx-font-weight-normal);
    }
  }
}
