%cx-asm-session-timer {
  display: flex;
  align-items: center;
  height: 16px;

  margin: 0 15px;

  .label {
    margin: 0 6px;
    @media (max-width: 575px) {
      display: none;
    }
  }
  .time {
    font-weight: 600;
  }
  .reset {
    margin: 0 15px;
    cursor: pointer;

    width: 16px;
    height: 16px;

    border: transparent;
    background-color: transparent;
  }
}
