$sapFioriTextColor: #1d2d3e;
$sapFioriButtonCreateColor: #0070f2;

%cx-asm-create-customer-form {
  $modal-max-width-asm-create-customer: 30% !important;
  $modal-min-width-asm-create-customer: 30% !important;

  .cx-message {
    border-radius: 8px;
    margin-bottom: 15px;
    .cx-message-content {
      margin-inline-start: 0;
      max-width: 100%;

      .cx-message-header {
        padding-inline-end: 1rem;
        font-size: 14px;
        font-family: '72';
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-align: start;
      }
    }
    .close {
      font-size: 1rem;
      align-self: center;
      margin-inline-start: auto;
      position: unset;
    }
  }

  .cx-message-info {
    background-color: #e1f4ff;
    border-color: #7bcfff;
  }

  .cx-message-danger {
    background-color: #ffeaf4;
    border-color: #ff8ec4;
  }

  .cx-asm-dialog {
    @include media-breakpoint-up(lg) {
      max-width: $modal-max-width-asm-create-customer;
      min-width: $modal-min-width-asm-create-customer;
    }

    .cx-modal-content {
      border-radius: 16px;
    }
  }

  .cx-dialog-header {
    padding-top: 2rem;
    padding-inline-end: 1.75rem;
    padding-bottom: 2rem;
    padding-inline-start: 2.3rem;
    border-width: 0;
    display: flex;
    border-bottom: 1px solid #dee2e6;
    height: 80px;
    .title {
      font-size: 1.25rem;
      font-weight: 900;
    }
  }

  label .label-content {
    color: #556b82;
  }

  .form-control {
    border-block-end: 1px solid black;
    &::placeholder {
      color: #556b82;
      font-style: italic;
    }
  }

  .cx-asm-create-customer-btn {
    margin: 0 2px 0 2px;
    padding: 0 10px 0 10px;
    border-radius: 8px;

    min-height: 42px;
    min-width: 70px;
    font-size: 14px;
    font-family: '72';
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
  }

  .cx-asm-create-customer-btn-create {
    color: #fff;
    background-color: $sapFioriButtonCreateColor;
    border-color: $sapFioriButtonCreateColor;
  }
  .cx-asm-create-customer-btn-create:hover {
    color: #fff;
    background-color: #0050f2;
  }

  .cx-asm-create-customer-btn-cancel {
    color: #0064d9;
    border-color: #fff;
  }
  .cx-asm-create-customer-btn-cancel:hover {
    color: #0064d9;
    background-color: #d9d9d9;
  }
}
