%cx-asm-bind-cart {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex: 1;

  @media (max-width: 875px) {
    flex-direction: column;
    > * {
      margin-bottom: 12px;
    }
  }

  @media (min-width: 575px) {
    input {
      flex: 1;
    }
  }
  button {
    @media (min-width: 575px) {
      margin-inline-start: 8px;
    }

    &.bindCartToCustomer {
      background-color: #0070f2;
      border: 1px solid #0070f2;
      color: #ffffff;
      opacity: 0.4;
      transition: opacity 0.3s;

      &.active {
        opacity: 1;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    min-width: auto;
    margin: 0;
    flex: 1;

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }

  label {
    color: #556b82;
  }

  input {
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
      outline-style: none;
    }
  }

  .assignCart {
    border: none;
    border-radius: 4px;
    background-color: #eff1f2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    min-width: 20rem;
    max-width: 20rem;
    display: flex;
    align-items: center;
    padding-inline-end: 15px;

    @media (max-width: 575px) {
      margin-inline-end: 0;
      margin-inline-start: 0;
      min-width: 326px;
      max-width: 326px;
    }

    &:focus,
    &:focus-within,
    &:active,
    &.active {
      background-color: #ffffff;
      outline-style: solid;
      outline-color: var(--cx-color-visual-focus);
      outline-width: var(--cx-visual-focus-width, 2px);
      outline-offset: 4px;
    }

    .reset {
      visibility: hidden;
      background-color: transparent;
      border: none;
      color: inherit;
    }
  }

  .customerInfo {
    display: flex;
    flex-direction: column;
    margin-inline-end: 15px;

    .name {
      color: #1d2d3e;
    }
    .uid {
      color: #556b82;
    }
  }
}
