%cx-asm-main-ui {
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .close,
  .logout {
    cursor: pointer;
    padding: 0;
    flex: none;
    width: 16px;
    height: 16px;
    border: transparent;
    background-color: transparent;
  }

  button[type='submit'] {
    padding: 0 12px;
    white-space: nowrap;
    border-radius: 4px;
    height: 36px;
    font-weight: 400;

    border-style: solid;
    border-width: 1px;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #0a6ed1;

    > div {
      width: 8px;
      height: 8px;
      margin: 6px;
      border-radius: 100%;
      background-color: currentColor;
      animation: spinner-dots-pulse 1s ease infinite;

      &:nth-child(1) {
        animation-delay: -0.2s;
      }

      @keyframes spinner-dots-pulse {
        0%,
        100%,
        60% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        30% {
          -webkit-transform: scale(2);
          transform: scale(2);
        }
      }
    }
  }

  &.hidden {
    display: none;
  }

  // Top Bar
  .asm-bar {
    color: #fff;
    background-color: #354a5f;
    height: 48px;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    z-index: 1;

    &-branding {
      display: flex;
      align-items: center;

      .logo {
        margin-inline-end: 8px;
      }

      .asm-title {
        font-size: 16px;
        font-weight: 700;
      }
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .cx-asm-customer-list {
        cursor: pointer;
        cx-icon {
          padding-top: 0;
          padding-inline-end: 7px;
          padding-bottom: 0;
          padding-inline-start: 0;
          color: #1e3050;
        }
        .cx-asm-customer-list-link {
          color: #0064d9;
          text-decoration: none;
        }
        .cx-asm-customer-list-link:hover {
          text-decoration: underline;
        }
      }
    }
  }

  > *:nth-child(2) {
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
  }

  // Input styles
  input {
    outline: 0;
    border: 1px solid #89919a;
    color: #32363a;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 12px;
    height: 36px;

    &:focus {
      box-shadow: 0 0 0 1px #fafafa;
    }

    &:hover {
      border-color: #085caf;
    }
    &::placeholder {
      color: #74777a;
      font-style: italic;
    }
  }

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    .asm-bar-branding .asm-title {
      display: none;
    }

    .asm-alert {
      margin-top: 30px;
    }
  }
}
