$sapTextColor: #1d2d3e;
$sapLinkColor: #0070f2;
$sapContent_LabelColor: #6a6d70;

%cx-customer-list {
  min-height: 500px;
  .cx-dialog-header {
    padding-top: 2rem;
    padding-inline-end: 1.75rem;
    padding-bottom: 3rem;
    padding-inline-start: 1.75rem;
    border-width: 0;
    display: flex;
    .title {
      font-size: 1.25rem;
      font-weight: 900;
    }
    .close {
      font-size: 1rem;
      color: $sapTextColor;
    }
  }

  .cx-dialog-sub-header {
    padding-top: 0;
    padding-inline-end: 1.75rem;
    padding-bottom: 0.5rem;
    padding-inline-start: 1.75rem;
    border-width: 0;
    display: flex;
    .header-actions {
      display: flex;
      .sort {
        display: flex;
        align-items: center;
        padding: 0 15px 0 0;
        cx-icon {
          padding: 0 0 0 10px;
          color: #747881;
        }
        ng-select {
          font-size: 0.875rem;
        }
      }
      .pagination-buttons {
        display: flex;
        align-items: center;
        cx-icon {
          color: $sapLinkColor;
        }
        cx-icon.previous {
          padding: 0 10px 0 0;
        }
        cx-icon.next {
          padding: 0 0 0 10px;
        }
        button {
          text-decoration: none;
          color: $sapLinkColor;
        }
        .btn-previous {
          span {
            padding: 0 0 0 5px;
          }
        }
        .btn-next {
          span {
            padding: 0 5px 0 0;
          }
        }
        div:first-child {
          font-size: 0.875rem;
          color: $sapTextColor;
          padding: 0 10px 0 10px;
        }
      }
      .table-header-cell {
        line-height: 40px;
        margin: 0 15px 0 0;
      }
      .table-header-cell.sort {
        cursor: pointer;
        cx-icon {
          margin: 0 10px;
        }
      }
    }
    .header-actions.mobile {
      flex-direction: column;
    }
  }

  .cx-dialog-sub-header.tablet-mobile {
    flex-direction: column;
  }

  .cx-dialog-body {
    padding-top: 0;
    max-height: calc(100vh - 260px);
    overflow-y: auto;
  }

  .table {
    thead {
      tr {
        border-top: 1px solid var(--cx-color-light);
        height: 44px;
        th {
          color: $sapTextColor !important;
          text-transform: none !important;
          font-weight: 700 !important;
        }
      }
    }
    tbody {
      td {
        font-size: 0.875rem;
        color: $sapTextColor;
        .header-text {
          color: $sapContent_LabelColor;
          font-weight: 400;
        }
      }
    }
    th.cell-text-center,
    td.cell-text-center {
      text-align: center;
    }
  }

  .btn-cell {
    text-decoration: none;
    color: $sapLinkColor;
    padding: 0;
    border: 0;
    height: 1.15rem;
    width: fit-content;
  }
  .avatar-cell {
    width: 60px;
    .avatar {
      width: 44px;
      height: 44px;
      line-height: 44px;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      background: #9259cd;
      text-transform: uppercase;
      margin: 0 10px 0 0;
    }
  }

  .cell-container {
    display: flex;
    align-items: center;
    min-height: 44px;
    padding: 5px 0;
  }

  .action-color {
    color: $sapLinkColor;
  }

  .multi-cell {
    vertical-align: top;
    .cell-container {
      flex-direction: column;
      align-items: flex-start;
      button {
        min-width: 0;
      }
      cx-icon {
        align-self: flex-start;
      }
    }
  }

  .empty-state {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
  }
  ng-select {
    .ng-select-container {
      border: 0 !important;
      .ng-arrow-wrapper {
        .ng-arrow {
          border-color: $sapLinkColor transparent transparent !important;
        }
      }
    }
  }
  .ng-select-focused {
    outline: none !important;
  }
}
