$sapTextColor: #1D2D3E;
$sapLinkColor: #0070F2;

%cx-customer-list {
  min-height: 500px;
  .cx-dialog-header {
    padding-top: 2rem;
    padding-inline-end: 1.75rem;
    padding-bottom: 3rem;
    padding-inline-start: 1.75rem;
    border-width: 0;
    display: flex;
    .title {
      font-size: 1.25rem;
      font-weight: 900;
    }
    .close {
      font-size: 1rem;
      color: $sapTextColor;
    }
  }

  .cx-dialog-sub-header {
    padding-top: 0;
    padding-inline-end: 1.75rem;
    padding-bottom: 0.5rem;
    padding-inline-start: 1.75rem;
    border-width: 0;
    display: flex;
    .header-actions {
      display: flex;
      align-items: center;
      .sort {
        display: flex;
        align-items: center;
        padding-right: 15px;
        ng-select {
          font-size: 0.875rem;
        }
      }
      .pagination-buttons {
        display: flex;
        align-items: center;
        .btn-previous {
          span {
            padding-left: 5px;
          }
        }
        .btn-next {
          span {
            padding-right: 5px;
          }
        }
        div:first-child {
          font-size: 0.875rem;
          color: $sapTextColor;
          padding-right: 10px;
        }
      }
      .table-header-cell {
        line-height: 40px;
        margin-right: 15px;
      }
      .table-header-cell.sort {
        cursor: pointer;
        cx-icon {
          margin: 0 10px;
        }
      }
    }
  }
  .cx-dialog-body {
    padding-top: 0;
  }

  table {
    thead {
      tr {
        border-top: 1px solid var(--cx-color-light);
        height: 44px;
        th:first-child {
          width: 60px;
        }
        th {
          color: $sapTextColor!important;
          text-transform: none!important;
          font-weight: 700!important;
          cx-icon {
            padding-left: 20px;
            color: $sapLinkColor;
            cursor: pointer;
          }
        }
      }
    }
    tbody {
      td {
        font-size: 0.875rem;
        color: $sapTextColor;
        .cell-icon {
          cursor: pointer;
          color: #e3e4e4;
          &.enabled {
            color: $sapLinkColor;
          }
        }
      }
      td:nth-child(1) {
        div {
          width: 44px;
          height: 44px;
          line-height: 44px;
          border-radius: 50%;
          color: #fff;
          text-align: center;
          background: #9259cd;
          text-transform: uppercase;
        }
      }
      td:nth-child(2) {
        a {
          cursor: pointer;
          color: $sapLinkColor!important;
        }
      }

    }
    th.cell-text-center,td.cell-text-center {
      text-align: center;
    }
  }
  ng-select {
    .ng-select-container {
      border: 0!important;
      .ng-arrow-wrapper {
        .ng-arrow {
          border-color: $sapLinkColor transparent transparent!important;
        }
      }
    }
  }
  .ng-select-focused {
    outline: none !important;
  }
}
