%cx-customer-emulation {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  @media (max-width: 875px) {
    flex-direction: column;
    > * {
      margin-bottom: 12px;
    }
  }

  @media (min-width: 575px) {
    input {
      flex: 1;
    }
  }
  button {
    @media (min-width: 575px) {
      margin-inline-start: 8px;
    }

    color: #aa0808;
    font-weight: 700;
    background-color: #ffd6ea;
    border: 1px solid #ffd6ea;
    border-radius: 8px;
    padding: 6px 10px;

    @media (max-width: 575px) {
      width: 100%;
    }
  }

  label {
    margin: 0 15px 0 0;
    color: #556b82;
  }

  .customerInfo {
    display: flex;
    flex-direction: column;
    margin-inline-end: 15px;

    .name {
      color: #1d2d3e;
    }
    .uid {
      color: #556b82;
    }
  }
}
//Session-in-progress alert
.asm-alert {
  padding: 9px 12px;
  border-radius: 4px;
  border: 1px solid #89919a;
  background-color: #f4f4f4;
  color: #32363a;
  text-align: center;
  flex: 1;
}
