%cx-customer-emulation {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  @media (max-width: 875px) {
    flex-direction: column;
    > * {
      margin-bottom: 12px;
    }
  }

  @media (min-width: 575px) {
    input {
      flex: 1;
    }
  }
  button {
    @media (min-width: 575px) {
      margin-inline-start: 8px;
    }

    color: #aa0808;
    font-weight: 700;
    background-color: #ffd6ea;
    border: 1px solid #ffd6ea;
    border-radius: 8px;
    padding: 6px 10px;

    &.assignCartToCustomer {
      background-color: #0070f2;
      border: 1px solid #0070f2;
      color: #ffffff;
      opacity: 0.4;
      transition: opacity 0.3s;

      &.active {
        opacity: 1;
      }
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    min-width: auto;
    margin: 0 15px 0 0;
    color: #556b82;
    flex: 1;

    .message {
      position: absolute;
      top: 120%;
      box-shadow: 0px 0px 0px 1px rgba(85, 107, 130, 0.42),
        0px 2px 8px rgba(85, 107, 130, 0.3);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 5px 8px;
      transition: opacity 0.3s;
      opacity: 0;
      z-index: 2;
      color: #000000;

      cx-icon {
        margin-inline-end: 5px;
      }

      &.success {
        background-color: #f5fae5;
        cx-icon {
          color: #30914c;
        }
      }

      &.error {
        background-color: #ffd6ea;
        cx-icon {
          color: #aa0808;
        }
      }

      &.show {
        opacity: 1;
      }
    }
  }

  input {
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
      outline-style: none;
    }
  }

  .assignCart {
    border: none;
    border-radius: 4px;
    background-color: #eff1f2;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    min-width: 20rem;
    max-width: 20rem;
    display: flex;
    align-items: center;
    padding-inline-end: 15px;

    &:focus,
    &:focus-within,
    &:active,
    &.active {
      background-color: #ffffff;
      outline-style: solid;
      outline-color: var(--cx-color-visual-focus);
      outline-width: var(--cx-visual-focus-width, 2px);
      outline-offset: 4px;
    }

    .reset {
      visibility: hidden;
      background-color: transparent;
      border: none;
      color: inherit;
    }
  }

  .customerInfo {
    display: flex;
    flex-direction: column;
    margin-inline-end: 15px;

    .name {
      color: #1d2d3e;
    }
    .uid {
      color: #556b82;
    }
  }
}
//Session-in-progress alert
.asm-alert {
  padding: 9px 12px;
  border-radius: 4px;
  border: 1px solid #89919a;
  background-color: #f4f4f4;
  color: #32363a;
  text-align: center;
  flex: 1;
}
