<form (submit)="bindCartToCustomer()">
  <label for="cartNumber">{{ 'asm.bindCart.cartNumber' | cxTranslate }} </label>
  <div
    role="search"
    [attr.aria-label]="'asm.bindCart.aria.assignCartId' | cxTranslate"
    class="cx-asm-assignCart"
    [class.active]="cartId.valid"
    (click)="cartIdElement.focus()"
  >
    <input
      autocomplete="off"
      #cartIdElement
      formcontrolname="cartNumber"
      [formControl]="cartId"
      (keydown.enter)="bindCartToCustomer()"
      [attr.aria-label]="'asm.bindCart.aria.enterCartId' | cxTranslate"
    />
    <button
      class="cx-asm-reset"
      [attr.aria-label]="'asm.bindCart.aria.resetCartId' | cxTranslate"
      [class.visible]="cartId.value?.length > 0"
      (click)="clearText()"
    >
      <cx-icon class="cx-icon fas fa-times-circle"></cx-icon>
    </button>
    <cx-icon class="cx-icon fas fa-search"></cx-icon>
  </div>
  <button
    class="cx-asm-bindCartToCustomer"
    [disabled]="cartId.invalid"
    type="submit"
    [class.cx-asm-active]="cartId.valid"
    [class.cx-bind-loading]="loading"
  >
    <span [attr.aria-hidden]="loading">
      {{ 'asm.bindCart.bindCartToCustomer' | cxTranslate }}
    </span>
    <cx-dot-spinner
      [attr.aria-hidden]="!loading"
      [attr.aria-label]="'common.loading' | cxTranslate"
    ></cx-dot-spinner>
  </button>
</form>
