<div
  [cxFocus]="focusConfig"
  (esc)="close('Escape clicked')"
  class="cx-modal-container"
  role="dialog"
  aria-labelledby="dialogTitle"
  aria-modal="true"
>
  <div class="cx-modal-content">
    <div class="cx-dialog-header modal-header">
      <div id="dialogTitle" class="cx-dialog-title modal-title">
        @if (displayDocumentEntries()) {
          <span>
            <button
              class="btn-tertiary back"
              title="{{ 'common.back' | cxTranslate }}"
              (click)="goBack()"
            >
              <cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon>
            </button>
          </span>
          @if (selectedDocument$ | async; as document) {
            <span>
              {{ getDocumentTitle(document) }}
            </span>
          }
        } @else {
          <span>{{ 'documentFlow.dialog.title' | cxTranslate }}</span>
        }
      </div>
      <button
        type="button"
        class="close"
        attr.aria-label="{{ 'documentFlow.dialog.closeModal' | cxTranslate }}"
        title="{{ 'documentFlow.dialog.closeModal' | cxTranslate }}"
        (click)="close('Close dialog')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body" #scrollContainer>
      @if (loadError()) {
        <cx-message
          [text]="'documentFlow.dialog.error' | cxTranslate"
          [type]="globalMessageType.MSG_TYPE_ERROR"
          [isVisibleCloseButton]="false"
          class="cx-dialog-message error-message"
        ></cx-message>
      } @else {
        @if (displayDocumentEntries()) {
          @if (selectedDocumentEntries$ | async; as entries) {
            @if (entries.length > 0) {
              <cx-order-document-order-entry-list [entries]="entries" />
            } @else {
              <cx-message
                [text]="'documentFlow.dialog.empty' | cxTranslate"
                [type]="globalMessageType.MSG_TYPE_INFO"
                [isVisibleCloseButton]="false"
                class="cx-dialog-message info-message"
              >
              </cx-message>
            }
          } @else {
            <div class="cx-spinner">
              <cx-spinner></cx-spinner>
            </div>
          }
        } @else {
          @if (documents$ | async; as documents) {
            @if (documents.length > 0) {
              <cx-order-subsequent-document-list
                [documents]="documents"
                [selectedDocument]="selectedDocument$ | async"
                (documentSelected)="onDocumentSelection($event)"
              />
            } @else {
              <cx-message
                [text]="'documentFlow.dialog.empty' | cxTranslate"
                [type]="globalMessageType.MSG_TYPE_INFO"
                [isVisibleCloseButton]="false"
                class="cx-dialog-message info-message"
              >
              </cx-message>
            }
          } @else {
            <div class="cx-spinner">
              <cx-spinner></cx-spinner>
            </div>
          }
        }
      }
    </div>

    <!-- Modal Footer -->
    <div class="cx-dialog-footer modal-footer">
      <button
        (click)="close('Cancel dialog')"
        [attr.aria-label]="'common.cancel' | cxTranslate"
        class="btn btn-secondary cancel-button"
        type="button"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
    </div>
  </div>
</div>
