<div
  [cxFocus]="focusConfig"
  (esc)="close('Escape clicked')"
  class="cx-modal-container"
  role="dialog"
  aria-labelledby="dialogTitle"
  aria-modal="true"
>
  <div class="cx-modal-content">
    <div class="cx-dialog-header modal-header">
      <div id="dialogTitle" class="cx-dialog-title modal-title">
        <ng-container *ngIf="displayDocumentEntries(); else defaultTitle">
          <span>
            <button
              class="btn-tertiary back"
              title="{{ 'common.back' | cxTranslate }}"
              (click)="goBack()"
            >
              <cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon>
            </button>
          </span>
          <span *ngIf="selectedDocument$ | async as document">
            {{ getDocumentTitle(document) }}
          </span>
        </ng-container>
        <ng-template #defaultTitle>
          <span>{{ 'documentFlow.dialog.title' | cxTranslate }}</span>
        </ng-template>
      </div>
      <button
        type="button"
        class="close"
        attr.aria-label="{{ 'documentFlow.dialog.closeModal' | cxTranslate }}"
        title="{{ 'documentFlow.dialog.closeModal' | cxTranslate }}"
        (click)="close('Close dialog')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body" #scrollContainer>
      <ng-container *ngIf="loadError(); else content">
        <cx-message
          [text]="'documentFlow.dialog.error' | cxTranslate"
          [type]="globalMessageType.MSG_TYPE_ERROR"
          [isVisibleCloseButton]="false"
          class="cx-dialog-message error-message"
        ></cx-message>
      </ng-container>
      <ng-template #content>
        <ng-container *ngIf="displayDocumentEntries(); else documentsView">
          <ng-container
            *ngIf="selectedDocumentEntries$ | async as entries; else spinner"
          >
            <cx-order-document-order-entry-list
              *ngIf="entries.length > 0; else empty"
              [entries]="entries"
            />
          </ng-container>
        </ng-container>
        <ng-template #documentsView>
          <ng-container *ngIf="documents$ | async as documents; else spinner">
            <cx-order-subsequent-document-list
              *ngIf="documents.length > 0; else empty"
              [documents]="documents"
              [selectedDocument]="selectedDocument$ | async"
              (documentSelected)="onDocumentSelection($event)"
            />
          </ng-container>
        </ng-template>
      </ng-template>
    </div>

    <!-- Modal Footer -->
    <div class="cx-dialog-footer modal-footer">
      <button
        (click)="close('Cancel dialog')"
        [attr.aria-label]="'common.cancel' | cxTranslate"
        class="btn btn-secondary cancel-button"
        type="button"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
    </div>
  </div>
</div>

<ng-template #empty>
  <cx-message
    [text]="'documentFlow.dialog.empty' | cxTranslate"
    [type]="globalMessageType.MSG_TYPE_INFO"
    [isVisibleCloseButton]="false"
    class="cx-dialog-message info-message"
  >
  </cx-message>
</ng-template>
<ng-template #spinner>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
