<button
  class="cx-config-exit-button"
  tabindex="0"
  (click)="exitConfiguration()"
>
  <ng-container *ngIf="!isNavigatedFromCart() && isDesktop() | async">
    {{ 'configurator.button.exit' | cxTranslate }}
  </ng-container>
  <ng-container *ngIf="!isNavigatedFromCart() && isMobile() | async">
    {{ 'configurator.button.exitMobile' | cxTranslate }}
  </ng-container>
  <ng-container *ngIf="isNavigatedFromCart() && isMobile() | async">
    {{ 'configurator.button.cancelConfigurationMobile' | cxTranslate }}
  </ng-container>
  <ng-container *ngIf="isNavigatedFromCart() && isDesktop() | async">
    {{ 'configurator.button.cancelConfiguration' | cxTranslate }}
  </ng-container>
</button>
