@if (container$ | async; as container) {
  <button
    class="btn btn-tertiary"
    tabindex="0"
    (click)="exitConfiguration()"
    [attr.title]="
      container.routerData.isOwnerCartEntry
        ? ('configurator.button.cancelConfiguration' | cxTranslate)
        : ('configurator.button.exit' | cxTranslate)
    "
  >
    @if (!container.routerData.isOwnerCartEntry) {
      @if (isDesktop() | async) {
        {{ 'configurator.button.exit' | cxTranslate }}
      }
      @if (isMobile() | async) {
        {{ 'configurator.button.exitMobile' | cxTranslate }}
      }
    }
    @if (container.routerData.isOwnerCartEntry) {
      @if (isMobile() | async) {
        {{ 'configurator.button.cancelConfigurationMobile' | cxTranslate }}
      }
      @if (isDesktop() | async) {
        {{ 'configurator.button.cancelConfiguration' | cxTranslate }}
      }
    }
  </button>
}
