<div *ngIf="data$ | async as data">
  <a [routerLink]="routerLink">
    <video
      *ngIf="source"
      controls
      [poster]="thumbnail?.src"
      [loop]="loop"
      [autoplay]="autoplay"
      [muted]="mute"
      [attr.aria-label]="'player.label' | cxTranslate"
      #videoPlayer
    >
      <source src="{{ source }}" type="{{ data.video.mime }}" />
    </video>
  </a>
  <div class="video-text">
    <h2 *ngIf="data.overlayTitle">{{ data.overlayTitle }}</h2>
    <button class="link cx-action-link" type="button">{{'transcript.download' | cxTranslate}}</button>
  </div>
</div>
