@import '@spartacus/cart/base/styles/components/add-to-cart';

%cx-opf-add-to-cart {
  @extend %cx-add-to-cart;
}

.ProductDetailsPageTemplate {
  @include media-breakpoint-up(lg) {
    cx-opf-add-to-cart {
      grid-column: 2;
      grid-row: 3;
      padding-top: 20px;
      padding-inline-end: 20px;
      padding-bottom: 0px;
      padding-inline-start: 20px;
    }
  }
}
