@import '@spartacus/cart/base/styles/components/add-to-cart';
%cx-opf-add-to-cart {
  @extend %cx-add-to-cart;

  @include media-breakpoint-up(lg) {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    flex-direction: column;
  }
}
