%cx-opf-apple-pay {
  .apple-pay-button {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
    -apple-pay-button-style: black;
    border-radius: var(--cx-buttons-border-radius);
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    margin-top: 10px;
    height: 48px;
  }

  @media (min-width: 992px) {
    .apple-pay-button {
      margin-inline: 1.2rem 1.2rem;
    }
  }
}
