<section [attr.aria-label]="'opfCheckout.paymentOption' | cxTranslate">
  @if (isHeadingDisplayed) {
    <h3>
      {{ headingTranslationKey || 'opfCheckout.paymentOption' | cxTranslate }}
    </h3>
  }

  @if (activeConfigurations$ | async; as activeConfigurationsState) {
    @if (!activeConfigurationsState?.loading) {
      <div class="cx-payment-options-list">
        <ng-content></ng-content>
        @for (
          configuration of activeConfigurationsState?.data?.value;
          track configuration
        ) {
          <div>
            <ng-container>
              @if (!isOnlyOnePaymentOptionAvailable || forceRadioInputsView) {
                <div class="form-check">
                  <input
                    id="paymentId-{{ configuration.id }}"
                    class="form-check-input"
                    role="radio"
                    type="radio"
                    [attr.aria-checked]="
                      (paymentDisabled$ | async) &&
                      configuration.id === selectedPaymentId
                    "
                    (change)="changePayment(configuration)"
                    [value]="configuration.id"
                    [checked]="
                      !(paymentDisabled$ | async) &&
                      configuration.id === selectedPaymentId
                    "
                    formControlName="paymentId"
                    [disabled]="
                      (paymentDisabled$ | async) ||
                      (disabled && explicitTermsAndConditions)
                    "
                  />
                  <label
                    class="cx-payment-type-label form-check-label form-radio-label"
                    for="paymentId-{{ configuration.id }}"
                  >
                    <div class="cx-payment-type">
                      {{ configuration.displayName }}
                      @if (configuration?.logoUrl) {
                        <img
                          [src]="configuration.logoUrl"
                          [alt]="configuration.displayName"
                          class="cx-payment-logo"
                        />
                      }
                    </div>
                  </label>
                </div>
              }
            </ng-container>
            @if (!renderPaymentWrapper && !(paymentDisabled$ | async)) {
              <div class="cx-payment-info-box">
                <span class="alert-icon" aria-hidden="true">
                  <cx-icon [type]="iconTypes.INFO"></cx-icon>
                </span>
                <p
                  class="cx-payment-info-box-message"
                  tabindex="0"
                  role="alert"
                  aria-live="polite"
                >
                  {{ noRenderPaymentWrapperMessage }}
                </p>
              </div>
            }
            @if (renderPaymentWrapper && !(paymentDisabled$ | async)) {
              @if (isPaymentInfoMessageVisible) {
                @if (
                  getPaymentInfoMessage(configuration.id) | async;
                  as paymentInfoMessage
                ) {
                  @if (configuration.id === selectedPaymentId) {
                    <div class="cx-payment-info-box">
                      <span class="alert-icon" aria-hidden="true">
                        <cx-icon [type]="iconTypes.INFO"></cx-icon>
                      </span>
                      <p
                        class="cx-payment-info-box-message"
                        tabindex="0"
                        role="alert"
                        aria-live="polite"
                      >
                        {{ paymentInfoMessage }}
                      </p>
                    </div>
                  }
                }
              }

              @if (customPaymentTemplate) {
                <ng-container
                  *ngTemplateOutlet="customPaymentTemplate"
                ></ng-container>
              }

              @if (
                !customPaymentTemplate &&
                isPaymentRenderBelow &&
                selectedPaymentId &&
                configuration.id === selectedPaymentId
              ) {
                <cx-opf-checkout-payment-wrapper
                  [selectedPaymentId]="selectedPaymentId"
                ></cx-opf-checkout-payment-wrapper>
              }
            }
          </div>
        }

        <cx-pagination
          class="cx-payment-options-list-pagination"
          [pagination]="paginationModel"
          (viewPageEvent)="pageChange($event)"
        ></cx-pagination>
      </div>
    } @else {
      <cx-spinner></cx-spinner>
    }
  }
</section>
