%QuoteDetailsPageTemplate {
  max-width: var(--cx-page-width-max);
  padding: 0 1.5rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  cx-page-slot.BodyContent {
    --cx-flex-basis: 70%;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 2rem;

    @include media-breakpoint-down(md) {
      --cx-flex-basis: 100%;
    }
  }
  cx-page-slot.CenterRightContent {
    --cx-flex-basis: 30%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1rem;
    margin-top: 1rem;

    @include media-breakpoint-up(lg) {
      > * {
        flex: none;
      }
    }

    @include media-breakpoint-down(md) {
      --cx-flex-basis: 100%;
      justify-content: flex-end;
      flex-direction: row;
    }
    @include media-breakpoint-down(sm) {
      --cx-flex-basis: 100%;
    }
  }
}
