<div class="col-md-12 col-lg-3">
  <div class="row cx-search-links mb-3">
    <div class="col-12 cx-textalign">
      <button
        [routerLink]="{ cxRoute: 'costCenterCreate' } | cxUrl"
        class="btn btn-primary btn-block"
      >
        {{ 'costCentersList.create' | cxTranslate }}
      </button>
    </div>
  </div>
</div>

<cx-interactive-table
  [data$]="data$"
  [header]="'costCentersList.costCenterManagement' | cxTranslate"
  [sortLabels]="{
    byUnitName: 'costCentersList.sorting.byUnitName' | cxTranslate,
    byName: 'costCentersList.sorting.byName' | cxTranslate,
    byCode: 'costCentersList.sorting.byCode' | cxTranslate
  }"
  [columns]="[
    {
      key: 'code',
      value: 'costCentersList.code' | cxTranslate,
      cxRoute: 'costCenterDetails'
    },
    { key: 'name', value: 'costCentersList.name' | cxTranslate },
    {
      key: 'currency',
      value: 'costCentersList.currency' | cxTranslate
    },
    {
      key: 'parentUnit',
      value: 'costCentersList.parentUnit' | cxTranslate,
      cxRoute: 'orgUnit'
    }
  ]"
  (pageChange)="pageChange($event)"
  (changeSortCode)="changeSortCode($event)"
>
</cx-interactive-table>
