<div class="col-md-12 col-lg-6">
  <div class="col-md-12 col-lg-6 float-right">
    <a
      [routerLink]="{ cxRoute: 'costCenterCreate' } | cxUrl"
      class="btn btn-primary btn-block"
    >
      {{ 'costCentersList.create' | cxTranslate }}
    </a>
  </div>
</div>

<cx-interactive-table
  [data$]="data$"
  [sortLabels]="{
    byUnitName: 'costCentersList.sorting.byUnitName' | cxTranslate,
    byName: 'costCentersList.sorting.byName' | cxTranslate,
    byCode: 'costCentersList.sorting.byCode' | cxTranslate
  }"
  [columns]="[
    {
      key: 'code',
      value: 'costCentersList.code' | cxTranslate,
      cxRoute: 'costCenterDetails'
    },
    { key: 'name', value: 'costCentersList.name' | cxTranslate },
    {
      key: 'currency',
      value: 'costCentersList.currency' | cxTranslate
    },
    {
      key: 'parentUnit',
      value: 'costCentersList.parentUnit' | cxTranslate,
      cxRoute: 'orgUnitDetails'
    }
  ]"
  (pageChange)="pageChange($event)"
  (changeSortCode)="changeSortCode($event)"
></cx-interactive-table>
