@import './card/index';
@import './paging/index';
@import './spinner/index';
@import './search/index';
@import './icons';
@import './tables/index';

$misc-components-whitelist: cx-icon, cx-spinner, cx-card, cx-pagination,
  cx-search, cx-table !default;
