@import './card/index';
@import './pagination/index';
@import './spinner/index';
@import './icons';
@import './tables/table2';

$misc-components-whitelist: cx-table, cx-table2, cx-icon, cx-spinner, cx-card,
  cx-pagination !default;
