@import './card/index';
@import './pagination/index';
@import './spinner/index';
@import './icons';
@import './table/table';
@import './order-overview/index';
@import './popover/index';

$misc-components-allowlist: cx-table, cx-icon, cx-spinner, cx-card,
  cx-pagination, cx-order-overview, cx-popover !default;
