@import './card/index';
@import './icons';
@import './pagination/index';
@import './popover/index';
@import './progress-button/index';
@import './spinner/index';
@import './table/table';
@import './password-visibility-toggle/index';
@import './chat-messaging/index';

$misc-components-allowlist: cx-table, cx-icon, cx-spinner, cx-progress-button,
  cx-card, cx-pagination, cx-popover, cx-password-visibility-toggle,
  cx-messaging, cx-avatar !default;
