%cx-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &.hidden {
    display: none;
  }

  .modal-dialog {
    background-color: var(--cx-color-inverse);
    max-width: 768px;
    min-width: 768px;
    pointer-events: auto;
    z-index: 1050;
  }

  .modal-overlay {
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}
