<div class="cx-consolidated-order-info" *ngIf="order">
  <div class="cx-order-info">
    <!-- pickup consigned entries 
  eg: To Be Picked Up - 3 Items
  -->
    <div *ngIf="consignmentsCount(order.pickupConsignments) > 0">
      <div class="cx-order-status">
        {{
          'orderHistoryEnhancedUI.deliveryPointOfServiceDetails.itemsToBePickUp'
            | cxTranslate
        }}
        <ng-container
          *ngTemplateOutlet="
            showManyItems;
            context: { count: consignmentsCount(order.pickupConsignments) }
          "
        ></ng-container>
      </div>
      <cx-consignment-entries-enhanced-ui
        [orderCode]="order.code ?? ''"
        [consignments]="order.pickupConsignments"
      ></cx-consignment-entries-enhanced-ui>
    </div>

    <!-- delivery consigned entries
  eg: To Be Shipped - 6 Items
  -->
    <div *ngIf="consignmentsCount(order.deliveryConsignments) > 0">
      <!--heading taken from feature-libs/order/components/order-confirmation/order-confirmation-shipping/order-confirmation-shipping.component.html-->
      <!--instead of [cxOutlet]="OrderOutlets.CONSIGNMENT_DELIVERY_INFO"-->
      <div class="cx-order-status">
        {{
          'orderHistoryEnhancedUI.checkoutMode.deliveryEntries' | cxTranslate
        }}
        <ng-container
          *ngTemplateOutlet="
            showManyItems;
            context: { count: consignmentsCount(order.deliveryConsignments) }
          "
        ></ng-container>
      </div>
      <cx-consignment-entries-enhanced-ui
        [orderCode]="order.code ?? ''"
        [consignments]="order.deliveryConsignments"
      ></cx-consignment-entries-enhanced-ui>
    </div>

    <!-- unconsigned entries 
  eg: Some_Status - 1 Item
  -->
    <div *ngIf="orderEntriesCount(order.unconsignedEntries) > 0">
      <div *ngIf="order.statusDisplay">
        <div
          class="cx-order-status-critical"
          *ngIf="isStatusCritical(order.statusDisplay); else nonCritical"
        >
          {{
            'orderDetails.statusDisplay_' + order.statusDisplay | cxTranslate
          }}
          -
          <ng-container
            *ngTemplateOutlet="
              showManyItems;
              context: { count: orderEntriesCount(order.unconsignedEntries) }
            "
          ></ng-container>
        </div>
        <ng-template #nonCritical>
          <div class="cx-order-status">
            {{
              'orderDetails.statusDisplay_' + order.statusDisplay | cxTranslate
            }}
            -
            <ng-container
              *ngTemplateOutlet="
                showManyItems;
                context: { count: orderEntriesCount(order.unconsignedEntries) }
              "
            ></ng-container>
          </div>
        </ng-template>
      </div>

      <!-- delivery unconsigned entries 
      eg: To Be Shipped - 6 Items //showing this is in extra information format
    -->
      <div
        class="cx-consignment-info"
        *ngIf="orderEntriesCount(order.deliveryUnconsignedEntries) > 0"
      >
        {{
          'orderHistoryEnhancedUI.checkoutMode.deliveryEntries' | cxTranslate
        }}
        <ng-container
          *ngTemplateOutlet="
            showManyItems;
            context: {
              count: orderEntriesCount(order.deliveryUnconsignedEntries)
            }
          "
        ></ng-container>
      </div>

      <!-- pickup unconsigned entries, b2b does not have pickup items
      eg: To Be Picked Up - 7 Items //showing this is as an extra information format
    -->
      <div
        class="cx-consignment-info"
        *ngIf="orderEntriesCount(order.pickupUnconsignedEntries) > 0"
      >
        {{
          'orderHistoryEnhancedUI.checkoutPickupInStore.heading' | cxTranslate
        }}
        <ng-container
          *ngTemplateOutlet="
            showManyItems;
            context: {
              count: orderEntriesCount(order.pickupUnconsignedEntries)
            }
          "
        ></ng-container>
      </div>
    </div>

    <!--return request details
  eg: Returned: 2 Items
      Return Processed: 15, September, 2022
  -->
    <div *ngIf="order.returnRequests">
      <div *ngIf="order!.returnRequests!.length > 0">
        <div
          class="cx-order-status-critical"
          *ngIf="order!.returnRequests[0].returnEntries as returnEntries"
        >
          {{ ' orderHistoryEnhancedUI.returned' | cxTranslate }} -
          <ng-container
            *ngTemplateOutlet="
              showManyItems;
              context: { count: returnEntries.length }
            "
          ></ng-container>
        </div>
        <div
          class="cx-consignment-info"
          *ngIf="order!.returnRequests[0].creationTime as creationTime"
        >
          {{ 'orderHistoryEnhancedUI.returnProcessed' | cxTranslate }}:{{
            creationTime | cxDate: 'd, MMMM, yyyy'
          }}
        </div>
      </div>
    </div>
  </div>
  <div class="cx-order-images-container">
    <!--eg: 4 images shown for each order-->
    <ng-container *ngIf="order?.thumbnail as thumbs">
      <ng-container *ngFor="let item of order.thumbnail; let i = index">
        <ng-container *ngIf="i < imageCount">
          <cx-media
            [container]="item.PRIMARY"
            class="cx-order-img"
            format="thumbnail"
            role="presentation"
          ></cx-media>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #showManyItems let-count="count">
  <ng-container *ngIf="count > 1; else showOneItem">
    {{ 'orderHistoryEnhancedUI.items' | cxTranslate: { param: count } }}
  </ng-container>
</ng-template>
<ng-template #showOneItem>
  {{ 'orderHistoryEnhancedUI.item' | cxTranslate: { param: 1 } }}
</ng-template>
