<cx-spinner class="overlay" *ngIf="isUpdating$ | async"></cx-spinner>

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  [attr.method]="method"
  [attr.action]="action"
  #loginForm
>
  <cx-form-required-legend />
  <label>
    <span class="label-content">
      {{ 'loginForm.emailAddress.label' | cxTranslate }}
      <cx-form-required-asterisks />
      <cx-form-required-asterisks />
    </span>
    <input
      required="true"
      type="email"
      class="form-control"
      placeholder="{{ 'loginForm.emailAddress.placeholder' | cxTranslate }}"
      [attr.aria-label]="'loginForm.emailAddress.label' | cxTranslate"
      formControlName="userId"
      name="username"
      [attr.aria-invalid]="
        form.get('userId')?.touched && form.get('userId')?.invalid
      "
      [attr.aria-errormessage]="'userIdError'"
    />

    <cx-form-errors
      id="userIdError"
      [translationParams]="{
        label: 'loginForm.emailAddress.label' | cxTranslate,
      }"
      [control]="form.get('userId')"
    ></cx-form-errors>
  </label>

  <label>
    <span class="label-content">
      {{ 'loginForm.password.label' | cxTranslate }}
      <cx-form-required-asterisks />
    </span>
    <input
      required="true"
      type="password"
      class="form-control"
      placeholder="{{ 'loginForm.password.placeholder' | cxTranslate }}"
      formControlName="password"
      name="password"
      [attr.aria-label]="'loginForm.password.placeholder' | cxTranslate"
      [attr.aria-invalid]="
        form.get('password')?.touched && form.get('password')?.invalid
      "
      [attr.aria-errormessage]="'passwordError'"
      cxPasswordVisibilitySwitch
    />

    <cx-form-errors
      id="passwordError"
      [translationParams]="{
        label: 'loginForm.password.label' | cxTranslate,
      }"
      [control]="form.get('password')"
    ></cx-form-errors>
  </label>

  <ng-container *cxFeature="'authorizationCodeFlowByDefault'">
    <input
      *ngIf="csrf"
      formControlName="csrf"
      type="hidden"
      [name]="csrf.parameterName"
    />
  </ng-container>

  <a
    *ngIf="showResetPassword"
    [routerLink]="{ cxRoute: 'forgotPassword' } | cxUrl"
    class="btn-link"
  >
    {{ 'loginForm.forgotPassword' | cxTranslate }}
  </a>

  <button
    type="submit"
    class="btn btn-block btn-primary"
    [disabled]="form.disabled"
  >
    {{ 'loginForm.signIn' | cxTranslate }}
  </button>
</form>
