<div #dialog>
  <!-- Modal Header -->
  <div class="cx-dialog-header modal-header">
    <div class="cx-dialog-title modal-title">
      {{ 'anonymousConsents.consentManagement' | cxTranslate }}
    </div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal('Cross click')"
    >
      <span aria-hidden="true">
        <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
      </span>
    </button>
  </div>
  <!-- Modal Body -->
  <div *ngIf="templates$ | async as templates">
    <div *ngIf="consents$ | async as consents">
      <div class="cx-dialog-body modal-body">
        <div
          class="cx-dialog-row"
          *ngFor="let template of templates; let i = index"
        >
          <cx-anonymous-consent-form
            [template]="template"
            [consent]="consents[i]"
            (consentChanged)="onConsentChange($event)"
          ></cx-anonymous-consent-form>
        </div>
      </div>
    </div>
  </div>
</div>
