<fieldset>
  <legend style="display: none">{{ currentAttribute.label }}</legend>
  <div id="{{ currentAttribute.name }}">
    <div class="form-check" *ngFor="let value of values">
      <div class="cx-config-selectLine">
        <input
          id="{{ currentAttribute.name + value.valueCode }}"
          class="form-check-input"
          type="radio"
          [attr.required]="currentAttribute.required"
          [value]="value.valueCode"
          name="{{ currentAttribute.name }}"
          attr.name="{{ currentAttribute.name }}"
        />
        <div class="cx-config-attributeValueLabelContainer">
          <label
            id="{{ 'label' + currentAttribute.name + value.valueCode }}"
            for="{{ currentAttribute.name + value.valueCode }}"
            class="cx-config-attributeValueLabel form-check-label form-radio-label"
            >{{ value.valueDisplay }}&nbsp;[{{
              currentAttribute.uiType
            }}]</label
          >
        </div>
      </div>
    </div>
  </div>
</fieldset>
