<fieldset>
  <legend style="display: none">{{ currentAttribute.label }}</legend>
  <div
    id="{{ uiKeyGenerator.createAttributeIdForConfigurator(currentAttribute) }}"
  >
    <div class="form-check" *ngFor="let value of values">
      <div class="cx-config-selectLine">
        <input
          id="{{
            uiKeyGenerator.createAttributeValueIdForConfigurator(
              currentAttribute,
              value.valueCode
            )
          }}"
          class="form-check-input"
          type="radio"
          [attr.required]="currentAttribute.required"
          [value]="value.valueCode"
          name="{{
            uiKeyGenerator.createAttributeIdForConfigurator(currentAttribute)
          }}"
          attr.name="{{
            uiKeyGenerator.createAttributeIdForConfigurator(currentAttribute)
          }}"
          attr.aria-labelledby="{{
            uiKeyGenerator.createAriaLabelledBy(
              'label',
              currentAttribute.name,
              value.valueCode
            )
          }}"
        />
        <div class="cx-config-attributeValueLabelContainer">
          <label
            id="{{
              uiKeyGenerator.createValueUiKey(
                'label',
                currentAttribute.name,
                value.valueCode
              )
            }}"
            for="{{
              uiKeyGenerator.createAttributeValueIdForConfigurator(
                currentAttribute,
                value.valueCode
              )
            }}"
            class="cx-config-attributeValueLabel form-check-label form-radio-label"
            >{{ value.valueDisplay }}&nbsp;[{{
              currentAttribute.uiType
            }}]</label
          >
        </div>
      </div>
    </div>
  </div>
</fieldset>
