<form *ngIf="productCode" [formGroup]="addToCartForm" (submit)="addToCart()">
  <div class="quantity" *ngIf="showQuantity">
    <label>{{ 'addToCart.quantity' | cxTranslate }}</label>
    <cx-item-counter
      *ngIf="hasStock"
      [max]="maxQuantity"
      [control]="addToCartForm.get('quantity')"
    ></cx-item-counter>
    

    <div *ngIf="showInventory; else showLabelOnly">  
      <span class="info">{{ getInventory() }} {{ ('addToCart.inStock' | cxTranslate) }}</span>
   </div>
   <ng-template #showLabelOnly><span class="info">{{
      hasStock
      ? ('addToCart.inStock' | cxTranslate)
      : ('addToCart.outOfStock' | cxTranslate)
      }}</span>
   </ng-template>

  </div>

  <button
    *ngIf="hasStock"
    class="btn btn-primary btn-block"
    type="submit"
    [disabled]="quantity <= 0 || quantity > maxQuantity"
  >
    {{ 'addToCart.addToCart' | cxTranslate }}
  </button>
</form>
