<cx-td-link
  outlet="table.budget.data.amount"
  cxRoute="budgetDetails"
  [template]="amount"
>
</cx-td-link>

<cx-td-link
  outlet="table.budget.data.dateRange"
  cxRoute="budgetDetails"
  [template]="dataRange"
>
</cx-td-link>

<ng-template #amount let-model="model">
  {{ model.budget + ' ' + model.currency }}
</ng-template>

<ng-template #dataRange let-model="model">
  {{ model.startDate | cxDate }} - {{ model.endDate | cxDate }}
</ng-template>

<cx-organization-list
  [dataTable]="dataTable$ | async"
  type="budget"
  [activeRow]="{ value: code$ | async, key: 'code' }"
  (sortEvent)="sort($event)"
  (paginateEvent)="viewPage($event)"
>
</cx-organization-list>
