<cx-split-view [hideMode]="false">
  <cx-view>
    <ng-container *ngIf="dataTable$ | async as dataTable">
      <h3>
        {{
          'budget.header'
            | cxTranslate: { count: dataTable.pagination.totalResults }
        }}
      </h3>

      <div class="actions">
        <ng-select
          [searchable]="false"
          [clearable]="false"
          (change)="sort(dataTable.pagination, $event)"
          [tabIndex]="0"
          [(ngModel)]="dataTable.pagination.sort"
        >
          <ng-option *ngFor="let sort of dataTable.sorts" [value]="sort.code">
            {{ dataTable.structure.type + '.' + sort.code | cxTranslate }}
          </ng-option>
        </ng-select>
        <button
          class="button primary"
          [routerLink]="{ cxRoute: 'budgetCreate' } | cxUrl"
          routerLinkActive="disabled"
        >
          {{ 'organization.add' | cxTranslate }}
        </button>
      </div>

      <cx-table
        [dataset]="dataTable"
        (sortEvent)="sort(dataTable.pagination, $event)"
        [activeRow]="{ value: code$ | async, key: 'code' }"
      >
      </cx-table>

      <div class="footer">
        <cx-pagination
          *ngIf="dataTable.pagination"
          [pagination]="dataTable.pagination"
          (viewPageEvent)="viewPage(dataTable.pagination, $event)"
        ></cx-pagination>
      </div>
      <!-- <ng-template #emptyList>
      <p class="instruction is-empty">
        {{ 'organization.messages.emptyList' | cxTranslate }}
      </p>
    </ng-template> -->
    </ng-container>
  </cx-view>

  <router-outlet></router-outlet>
</cx-split-view>

<ng-template cxOutletRef="table.budget.data.name" let-model>
  <ng-container
    *ngTemplateOutlet="
      link;
      context: {
        model: model,
        label: model.name,
        tabIndex: 0
      }
    "
  >
  </ng-container>
</ng-template>

<ng-template cxOutletRef="table.budget.data.active" let-model>
  <a
    [routerLink]="{ cxRoute: 'budgetDetails', params: model } | cxUrl"
    [class.is-enabled]="model.active"
    [class.is-disabled]="!model.active"
    tabindex="-1"
  >
    {{
      (model.active ? 'organization.enabled' : 'organization.disabled')
        | cxTranslate
    }}
  </a>
</ng-template>

<ng-template cxOutletRef="table.budget.data.amount" let-model>
  <ng-container
    *ngTemplateOutlet="
      link;
      context: {
        model: model,
        label: model.budget + ' ' + model.currency
      }
    "
  >
  </ng-container>
</ng-template>

<ng-template cxOutletRef="table.budget.data.dateRange" let-model>
  <a
    [routerLink]="{ cxRoute: 'budgetDetails', params: model } | cxUrl"
    [tabindex]="-1"
  >
    {{ model.startDate | cxDate }} - {{ model.endDate | cxDate }}
  </a>
</ng-template>

<ng-template cxOutletRef="table.budget.data.unit" let-model>
  <a
    [routerLink]="{ cxRoute: 'budgetDetails', params: model } | cxUrl"
    tabindex="-1"
  >
    {{ model.orgUnit?.name }}
    <cx-icon type="CARET_RIGHT"></cx-icon>
  </a>
</ng-template>
<!-- 
<ng-template cxOutletRef="table.budget.data.amount" let-model>
  <span class="text">{{ model.budget }} {{ model.currency }}</span>
</ng-template> -->

<ng-template #link let-model="model" let-label="label" let-tabIndex="tabIndex">
  <a
    [routerLink]="{ cxRoute: 'budgetDetails', params: model } | cxUrl"
    [tabindex]="tabIndex > -1 ? tabIndex : -1"
  >
    {{ label }}
  </a>
</ng-template>
