<div class="listing-header" *ngIf="headerText">
  {{ headerText }}
</div>
<hr class="listing-separator" />
<ng-container
  *ngIf="tabs; then tabsTemplate; else listingContainer"
></ng-container>

<ng-template #listingContainer>
  <ng-container
    *ngTemplateOutlet="
      listing;
      context: {
        buttonConfig: buttonConfig,
        items: items,
        emptyText: emptyStateText
      }
    "
  >
  </ng-container>
</ng-template>

<ng-template #tabsTemplate>
  <div class="listing-tab-container">
    <ng-container *ngFor="let tab of tabs; let tabNumber = index">
      <div
        class="listing-tab-item"
        (click)="clickTab.emit(tab)"
        [class.active]="currentTab === tabNumber"
      >
        {{ tab.tabName }}
      </div>
    </ng-container>
  </div>
  <ng-container *ngFor="let tab of tabs; let tabNumber = index">
    <ng-container *ngIf="currentTab === tabNumber">
      <ng-container
        *ngTemplateOutlet="
          listing;
          context: {
            buttonConfig: tab.buttonConfig,
            items: tab.items,
            emptyText: tab.emptyText
          }
        "
      >
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template
  #listing
  let-buttonConfig="buttonConfig"
  let-items="items"
  let-emptyText="emptyText"
>
  <form class="listing-input-group" (ngSubmit)="search.emit(searchTerm)">
    <input
      name="searchTerm"
      [(ngModel)]="searchTerm"
      (blur)="search.emit(searchTerm)"
    />
    <button type="submit">
      <cx-icon type="SEARCH"></cx-icon>
    </button>
  </form>

  <ng-container *ngFor="let item of items">
    <div class="listing-item-text">
      <div class="listing-item-title">{{ item.title }}</div>
      <div class="listing-item-subtitle">
        <div class="listing-item-description">{{ item.description }}</div>
        <div class="listing-item-status" *ngIf="buttonConfig">
          <ng-container
            *ngIf="buttonConfig.isApplied?.(item) then appliedButtonTemplate else applyButtonTemplate"
          ></ng-container>

          <ng-template #applyButtonTemplate>
            <button *ngIf="buttonConfig.applyText" (click)="actOn.emit(item)">
              {{ buttonConfig.applyText }}
            </button>
          </ng-template>

          <ng-template #appliedButtonTemplate>
            <div class="listing-item-applied">
              <cx-icon type="SUCCESS"></cx-icon>
              <div class="listing-item-applied-text">
                {{ buttonConfig.appliedText }}
              </div>
              <ng-container *ngIf="buttonConfig?.removeText">
                <div class="listing-item-applied-pipe">|</div>
                <a
                  class="listing-item-applied-text-button"
                  (click)="actOn.emit(item)"
                  >{{ buttonConfig.removeText }}</a
                >
              </ng-container>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <hr class="listing-separator" />
  </ng-container>
  <div class="listing-empty" *ngIf="!items?.length">{{ emptyText }}</div>
</ng-template>
