<ng-container *ngIf="product">
  <div class="variant-selector">
    <ng-container *ngFor="let variant of variants">
      <!-- <ul *ngIf="variant[0].parentVariantCategory.hasImage">
        <li *ngFor=""></li>
      </ul> -->
      <span>{{ variant[0].parentVariantCategory.name }}</span>
      <select (change)="changeVariant($event.target.value)">
        <option
          *ngFor="let cat of variant"
          [value]="cat.variantOption.code"
          [selected]="cat.variantOption.code === product.code"
        >
          {{ cat.variantValueCategory.name }}
        </option>
      </select>
    </ng-container>
  </div>
</ng-container>
