@if (mode$ | async; as mode) {
  <!-- Tab List is the list of buttons to open tabs -->
  <div
    [attr.role]="mode === TAB_MODE.ACCORDIAN ? null : 'tablist'"
    [attr.aria-label]="config.label | cxTranslate"
    [class]="mode.toLowerCase()"
  >
    @for (tab of tabs; track tab; let i = $index) {
      <button
        type="button"
        class="tab-btn"
        [attr.role]="mode === TAB_MODE.ACCORDIAN ? 'button' : 'tab'"
        (click)="select(i, mode)"
        (keydown)="handleKeydownEvent(i, tabs, mode, $event)"
        [attr.aria-selected]="mode === TAB_MODE.ACCORDIAN ? null : isOpen(i)"
        [attr.aria-expanded]="mode === TAB_MODE.TAB ? null : isOpen(i)"
        [attr.aria-controls]="isOpen(i) ? 'section-' + i : null"
        [attr.tabindex]="getTabIndex(i, mode)"
        [attr.id]="tab.id"
        [attr.title]="getTitle(mode, i)"
        [class.active]="isOpen(i)"
        [disabled]="disabled"
        #tabHeader
      >
        {{
          tab.headerKey
            ? (tab.headerKey | cxTranslate: tab.headerParams || {})
            : tab.header
        }}
        @if (mode === TAB_MODE.ACCORDIAN) {
          <span class="tab-icon" aria-hidden="true">
            {{ isOpen(i) ? '–' : '+' }}
          </span>
        }
      </button>

      <!-- Show tab panels under selected button in Accordian mode -->
      @if (mode === TAB_MODE.ACCORDIAN) {
        <ng-container
          [ngTemplateOutlet]="tabPanel"
          [ngTemplateOutletContext]="{ tabNum: i }"
        ></ng-container>
      }
    }
  </div>

  <!-- Show selected tab panel under all buttons in Tab mode -->
  @if (mode === TAB_MODE.TAB) {
    @for (tab of tabs; track tab; let i = $index) {
      <ng-container
        [ngTemplateOutlet]="tabPanel"
        [ngTemplateOutletContext]="{ tabNum: i }"
      >
      </ng-container>
    }
  }

  <!-- Tab Panel shows the content of the given tab -->
  <ng-template #tabPanel let-tabNum="tabNum">
    @if (isOpen(tabNum)) {
      <cx-tab-panel [tab]="tabs[tabNum]" [mode]="mode"></cx-tab-panel>
    }
  </ng-template>
}
