<form (submit)="onSubmit()" [formGroup]="form">
  <input
    #searchTerm
    type="text"
    formControlName="searchTerm"
    placeholder="{{ 'asm.customerSearch.searchTerm.label' | cxTranslate }}"
  />
  <button type="submit" [disabled]="!selectedCustomer">
    {{ 'asm.customerSearch.submit' | cxTranslate }}
  </button>
</form>

<div *ngIf="searchResults | async as results" class="asm-results" #resultList>
  <a
    *ngFor="let result of results.entries"
    (click)="selectCustomerFromList(result)"
    ><span class="result-name">{{ result.name }}</span>
    <span class="result-id">{{ result.uid }}</span></a
  >
  <a
    (click)="closeResults()"
    *ngIf="
      !(searchResultsLoading$ | async) &&
      searchTerm.value.length >= 3 &&
      !!results.entries &&
      results.entries.length <= 0
    "
    >{{ 'asm.customerSearch.noMatch' | cxTranslate }}</a
  >
</div>

<div class="asm-results" *ngIf="searchResultsLoading$ | async">
  <div class="spinner" aria-hidden="false" aria-label="Loading">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
