<div
  class="cx-asm-customer-360 cx-modal-container cx-asm-dialog"
  [cxFocus]="focusConfig"
  (esc)="closeModal('Escape clicked')"
>
  <!-- Modal Header -->
  <div class="cx-modal-content">
    <div class="cx-dialog-header modal-header">
      <div class="header-title">
        <h2 id="asm-customer-360-title" class="modal-title">
          {{ 'asm.customer360.header.title' | cxTranslate }}
        </h2>
        <div id="asm-customer-360-desc" class="cx-visually-hidden">
          {{ 'asm.customer360.header.title' | cxTranslate }}
        </div>
        <ng-template *ngTemplateOutlet="closeButton"></ng-template>
      </div>
      <div class="header-content">
        <div class="header-profile-details">
          <div class="cx-avatar">
            {{ getAvatar() }}
          </div>
          <div class="cx-customer-info ml-3">
            <div class="cx-customer-name">
              {{
                'asm.customer360.header.subTitle'
                  | cxTranslate: { name: customer.firstName }
              }}
            </div>
            <div class="cx-customer-email">
              {{ customer.uid }}
            </div>
          </div>
        </div>
        <div class="header-account-details">
          <span
            class="header-account-details-active-cart"
            *ngIf="activeCart$ | async as activeCart"
          >
            <cx-icon class="account-icon" [type]="cartIcon"></cx-icon>
            {{
              'asm.customer360.header.activeCartLabel'
                | cxTranslate: { cartSize: activeCart.totalItems }
            }}
            <a
              tabindex="0"
              [attr.aria-label]="
                'asm.customer360.aria.activeCartCode'
                  | cxTranslate: { code: activeCart.code }
              "
              role="link"
              class="cx-overview-title-link"
              (click)="navigateTo({ cxRoute: 'cart' })"
            >
              {{ activeCart.code }}
            </a>
          </span>
          <span
            class="header-account-details-recent-order"
            *ngIf="(orderHistory$ | async)?.orders?.[0] as recentOrder"
          >
            <cx-icon class="account-icon" [type]="orderIcon"></cx-icon>
            {{
              'asm.customer360.header.recentOrderLabel'
                | cxTranslate: { price: recentOrder.total.formattedValue }
            }}
            <a
              tabindex="0"
              [attr.aria-label]="
                'asm.customer360.aria.recentOrderCode'
                  | cxTranslate: { code: recentOrder.code }
              "
              role="link"
              class="cx-overview-title-link"
              (click)="navigateTo({ cxRoute: 'orders' })"
            >
              {{ recentOrder.code }} </a
            >, {{ recentOrder.placed | date: 'MM-dd-yyyy' }}
          </span>
        </div>
      </div>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body">
      <cx-tab-headers
        [activeTabIndex]="activeTab"
        [tabHeaders]="tabHeaders"
        (selectTab)="selectTab($event)"
        ariaControls="cx-asm360-tab-panels"
      ></cx-tab-headers>
      <div id="cx-asm360-tab-panels" class="cx-tab-content modal-body">
        <ng-container *ngIf="customer360Tabs$ | async as customer360Tabs">
          <cx-asm-customer-section
            *ngFor="let config of currentTab?.components; let i = index"
            [component]="config.component"
            [config]="config.config"
            [data]="customer360Tabs?.[i]"
            [savedCarts]="savedCarts$ | async"
            [activeCart]="activeCart$ | async"
            [orderHistory]="orderHistory$ | async"
            (navigate)="navigateTo($event)"
          ></cx-asm-customer-section>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #closeButton>
  <button
    type="button"
    class="close"
    attr.aria-label="{{ 'common.close' | cxTranslate }}"
    (click)="closeModal('Cross click')"
  >
    <cx-icon [type]="closeIcon"></cx-icon>
  </button>
</ng-template>
