<div class="cx-cart-coupon-anchor">
  <ng-container *ngIf="vouchers && vouchers.length > 0; else noVouchers">
    <div class="cx-cart-coupon-anchor-title">
      <label
        class="cx-cart-coupon-anchor-link"
        (click)="sendScrollEvent('#applyVoucher')"
      >
        {{
          'voucher.anchor.vouchers'
            | cxTranslate: { voucherNumber: vouchers.length }
        }}
      </label>
    </div>
  </ng-container>

  <ng-template #noVouchers>
    <div class="cx-cart-coupon-anchor-title">
      <label
        class="cx-cart-coupon-anchor-link"
        (click)="sendScrollEvent('#applyVoucher')"
      >
        {{ 'voucher.anchor.noVouchers' | cxTranslate }}
      </label>
    </div>
  </ng-template>

  <div class="cx-cart-coupon-anchor-tips">
    {{ 'voucher.anchor.tips' | cxTranslate }}
  </div>
</div>
