// The organization landing page is build of banners. The banners are filled with text and images.
// The images are svg based, and have a neutral color (black). Since the SVG is rendered in an img src
// we cannot control the fill color with css, this is why we trick the color in spartacus with
// an image filter. That's fine for demonstration purposes.

cx-page-layout.CompanyPageTemplate {
  // since svg images are not embedded in the DOM, we use a color filter
  // technique to manipulate the primary color. This is not automatically driven
  // by the same css variable, but a reasonable approach.
  // filters can be generated at: https://codepen.io/sosuke/pen/Pjoqqp
  cx-banner cx-media {
    --cx-img-filter: invert(71%) sepia(50%) saturate(7474%) hue-rotate(329deg)
      brightness(110%) contrast(99%);
  }

  .BodyContent {
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      margin: 0 30px;
    }
  }

  // the current rotating banner styles are very opinionated
  cx-banner p {
    all: unset;
  }

  cx-banner {
    margin: 30px 0 0 0;
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(33% - 15px);
    }
    @include media-breakpoint-down(md) {
      flex: 0 0 calc(50% - 15px);
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 calc(100%);
    }

    cx-generic-link,
    a {
      height: 100%;
    }

    a {
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-template-rows: min-content 1fr;
      gap: 3% 30px;
      grid-template-areas: 'media .' 'media .';

      padding: 25px 25px 25px 30px;

      transition: var(--cx-transition-duration);

      border: solid 1px var(--cx-color-light);
      &:hover {
        text-decoration: none;
        border-color: var(--cx-color-background);
        background: var(--cx-color-background);
      }

      cx-media {
        grid-area: media;
        img {
          filter: var(--cx-img-filter);
          width: 50px;
          height: 50px;
        }
      }

      p {
        color: var(--cx-color-text);
        &.headline {
          font-weight: bold;
        }
      }
    }
  }
}
