.organization {
  cx-split-view:not([active-view='1']) .list table {
    th,
    td {
      // common
      // &.active,
      // budget
      &.amount,
      &.dateRange,
      // cost center
      &.currency,
      // users
      &.uid,
      &.roles,
      // permissions
      &.limit
      //
      {
        opacity: 0;
        width: 0.1%;
      }
      // let's make status column smaller
      &.active {
        width: 100px;
      }
    }
  }
}

// .organization {
//   cx-split-view:not([active-view='1']) > cx-view > cx-table > table {
//     th,
//     td {
//       &.amount,
//       &.dateRange,
//       &.currency {
//         opacity: 0;
//         width: 0.1%;
//       }
//       // let's make status column smaller
//       &.active {
//         width: 100px;
//       }
//     }
//   }
// }

cx-unit-tree {
  a {
    font-size: 1.125rem;

    &.active {
      background-color: #e4e4e4;
    }
  }

  ul {
    list-style: none;
    padding-left: 20px;

    cx-icon {
      cursor: pointer;
      font-size: 1.25rem;
      min-width: 16px;
    }

    a {
      &.margin-left {
        margin-left: 22px;

        @include media-breakpoint-down(md) {
          margin-left: 10px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding-left: 10px;
    }
  }

  > ul {
    padding-left: 10px;
  }

  li {
    &[aria-expanded='false'] {
      & > ul {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      & > ul {
        display: block;
      }
    }

    .tree-desktop-branch {
      display: initial;
      @include media-breakpoint-down(md) {
        display: none;
      }

      cx-icon {
        margin-right: 4px;
      }
    }

    .tree-mobile-branch {
      display: none;
      @include media-breakpoint-down(md) {
        display: flex;

        a {
          width: 100%;
        }
      }

      a {
        &.margin-left {
          margin-left: 0;
        }
      }

      &.active {
        a {
          background-color: #0a6ed1;
        }
      }
    }
  }

  .cx-unit-tree-actions {
    margin-bottom: 1rem;
    margin-left: -12px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .node-title {
    display: inline-block;

    > span {
      margin-left: 5px;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 2.5rem;
    }
  }

  .selected-node-branch {
    padding-left: 10px;
  }
}
