:root {
  --case: capitalize;
  --case: uppercase;
}

.CompanyPageTemplate {
  cx-page-layout.CompanyPageTemplate {
    max-width: 1140px;
    margin: auto;

    @include media-breakpoint-down(sm) {
      cx-page-slot {
        margin: 0;
      }
    }
    margin-bottom: 40px;
  }
}

.organization {
  // required for our ng-select components
  position: relative;
  width: 100%;
}
