# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
yarn.lock
.release-it.*
*_spec.ts
*_spec.ts.snap
jest.ts
jest.schematics.config.js
tsconfig.schematics.json
src/migrations/test/**/*
.eslintrc.json
