# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
yarn.lock
*_spec.ts
*_spec.ts.snap
setup-jest.ts
jest.schematics.config.js
tsconfig.schematics.json
src/migrations/test/**/*
.eslintrc.json
sub-folder/
.pipeline/
copy-feature-toggles.js
src/feature-toggles.copied-from-core-lib.ts