# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
yarn.lock
*_spec.ts
*_spec.ts.snap
test-jest.ts
jest.schematics.config.js
tsconfig.schematics.json
src/migrations/test/**/*
.eslintrc.json
sub-folder/
.pipeline/
