@import '@spartacus/styles/scss/core';
@import 'styles/punchout-close-session';
@import 'styles/punchout-buttons';
@import 'styles/punchout-inspect-cart';
@import 'styles/punchout-template';

$punchout-components-allowlist:
  cx-punchout-close-session, cx-punchout-buttons, cx-punchout-inspect-cart,
  cx-punchout !default;

$skipComponentStyles: () !default;

$page-template-allowlist-punchout: PunchoutTemplate !default;
$page-template-blocklist-punchout: () !default;

@each $selector in $punchout-components-allowlist {
  #{$selector} {
    // skip selectors if they're added to the $skipComponentStyles list
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}

// add body specific selectors
body {
  @each $selector in $punchout-components-allowlist {
    @if (index($skipComponentStyles, $selector) == null) {
      @extend %#{$selector}__body !optional;
    }
  }
}

@each $selector in $page-template-allowlist-punchout {
  cx-page-layout.#{$selector} {
    @if (index($page-template-blocklist-punchout, $selector) == null) {
      @extend %#{$selector} !optional;
    }
  }
}
