$spinWhileLoading: false !default;
$spinWhileWaiting: false !default;
$zoomThumbOnHover: false !default;
$overlayWhileLoading: false !default;

@import 'scss/app';
@import 'scss/root';
@import 'scss/layout/index';
