<ng-container *ngIf="!environment.b2b">
<ng-container *ngIf="cart.sapGiftCardSummary as giftCard">
  <div
    class="cx-gift-card-order-summary"
    *ngIf="giftCard?.totalAppliedAmount?.value"
  >
    <div class="cx-summary-row">
      <div class="col-6 cx-summary-label">
        {{ 'giftCard.title' | cxTranslate }}
      </div>
      <div class="col-6 cx-summary-amount cx-gift-card-discount">
        - {{ giftCard?.totalAppliedAmount?.formattedValue || giftCard?.totalAppliedAmount?.value }}
      </div>
    </div>
  </div>
</ng-container>
</ng-container>