<div class="cx-show-more" *ngIf="text">
  <div #textContent class="cx-show-more-text">
    <span> {{ textToShow }}</span>
    <span class="cx-show-more-button" *ngIf="showMore$ | async">
      <button (click)="toggleShowMore()">
        <ng-container *ngIf="showHiddenText$ | async; else less"
          >&nbsp;...
          {{ 'configurator.button.less' | cxTranslate }}</ng-container
        >

        <ng-template #less>
          &nbsp;... {{ 'configurator.button.more' | cxTranslate }}</ng-template
        >
      </button>
    </span>
  </div>
</div>
