<div
  *ngIf="
    !(isLoading$ | async) && (locations$ | async) as locations;
    else loading
  "
>
  <div role="status" [attr.aria-label]="'common.loaded' | cxTranslate"></div>
  <div *ngIf="locations?.stores?.length">
    <div class="cx-pagination"></div>
  </div>

  <div class="container" *ngIf="!locations?.stores?.length">
    <div class="row">
      <span class="cx-no-stores" role="alert">
        {{ 'storeFinder.noStoresMessage' | cxTranslate }}
      </span>
    </div>
  </div>




  <div class="container" *ngIf="locations?.stores?.length">
    <cx-store
      *ngFor="let store of locations.stores"
      [storeDetails]="store"
    ></cx-store>
  </div>
</div>
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
