cx-quick-order-container {
  .cx-quick-order-body {
    background-color: $background;
    margin: 20px 0px 30px;
    padding: 27px 22px;
    width: 100%;
  }

  .cx-quick-order-footer {
    justify-content: flex-end;
  }
}
