cx-quick-order-form {
  .cx-quick-order-container {
    align-items: center;
    display: flex;
  }

  .quick-order-form-input {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;

    .form-control {
      padding: 0 36px 0 12px;
    }

    .reset {
      cursor: pointer;
      position: absolute;
      right: 26px;
      top: 16px;
    }

    .list-limit-reached-text {
      bottom: -15px;
      color: var(--cx-color-danger);
      font-size: 12px;
      font-weight: normal;
      padding-inline-start: 2px;
      position: absolute;
    }
  }
}
