cx-quick-order-form {
  .cx-quick-order-container {
    align-items: center;
    display: flex;
  }

  .quick-order-form-input {
    align-items: center;
    display: flex;

    .form-control {
      padding-right: 36px;
    }

    .reset {
      cursor: pointer;
      position: absolute;
      right: 26px;
    }
  }
}
