cx-quick-order-container {
  .cx-quick-order-form-body {
    background-color: $background;
    margin-top: 20px;
    padding: 27px 22px;
    width: 100%;
  }

  .cx-quick-order-footer {
    justify-content: flex-end;
    margin-top: 40px;
  }
}
