<form
  (ngSubmit)="requestForgotPasswordEmail()"
  [formGroup]="forgotPasswordForm"
>
  <div class="form-group">
    <label>
      <span class="label-content">{{
        'forgottenPassword.emailAddress.label' | cxTranslate
      }}</span>
      <input
        type="email"
        class="form-control"
        placeholder="{{
          'forgottenPassword.emailAddress.placeholder' | cxTranslate
        }}"
        formControlName="userEmail"
      />
      <cx-form-errors
        [control]="forgotPasswordForm.get('userEmail')"
      ></cx-form-errors>
    </label>
  </div>

  <button type="submit" class="btn btn-block btn-primary">
    {{ 'common.submit' | cxTranslate }}
  </button>
  <a
    class="btn btn-block btn-secondary"
    [routerLink]="{ cxRoute: 'login' } | cxUrl"
    >{{ 'common.cancel' | cxTranslate }}</a
  >
</form>
