<cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'userGroupDetails',
      name: 'userGroup.details',
      active: true
    },
    { cxRoute: 'userGroupPermissions', name: 'userGroup.permissions' },
    { cxRoute: 'userGroupUsers', name: 'userGroup.users' }
  ]"
  [routerBackLink]="{ cxRoute: 'userGroups', name: 'userGroup.back' }"
>
  <div class="cx-header">
    <h3>{{ 'userGroupForm.edit' | cxTranslate }}</h3>
  </div>
  <cx-user-group-form
    *ngIf="userGroup$ | async as userGroup"
    [actionBtnLabel]="'userGroupForm.update' | cxTranslate"
    [userGroupData]="userGroup"
    [routerBackLink]="{
      cxRoute: 'userGroupDetails',
      params: { code: userGroup.uid }
    }"
    (submitForm)="updateUserGroup($event)"
  >
  </cx-user-group-form>
</cx-fake-tabs>
