<ng-container>
  <div class="cx-my-account-customer-ticket-header">
    <!-- HEADER -->
    <div
      class="cx-my-account-customer-ticket-heading"
      role="heading"
      aria-level="4"
      [attr.aria-label]="'myAccountV2CustomerTicketing.heading' | cxTranslate"
    >
      {{ 'myAccountV2CustomerTicketing.heading' | cxTranslate }}
    </div>

    <!-- SHOW MORE -->
    <div class="cx-my-account-customer-ticket-show-more">
      <a
        id="show-more-requests"
        [attr.aria-label]="
          'myAccountV2CustomerTicketing.showMoreLabel' | cxTranslate
        "
        class="btn-link cx-action-link"
        [routerLink]="
          {
            cxRoute: 'supportTickets',
          } | cxUrl
        "
      >
        {{ 'myAccountV2CustomerTicketing.showMore' | cxTranslate }}
      </a>
    </div>
  </div>
  @if (tickets$ | async; as ticketList) {
    @if (ticketList.tickets.length > 0) {
      <div class="cx-my-account-customer-ticket-body">
        @for (ticket of ticketList.tickets; track ticket) {
          <div class="cx-my-account-customer-ticket-details">
            <span
              class="cx-my-account-customer-ticket-subject"
              [attr.aria-label]="
                'myAccountV2CustomerTicketing.subjectLabel' | cxTranslate
              "
            >
              {{ ticket.subject }}
            </span>
            <span class="cx-my-account-customer-ticket-details-light">
              | {{ ticket.ticketCategory?.name }}
            </span>
            <span
              class="cx-my-account-customer-ticket-details-light"
              [attr.aria-label]="
                'myAccountV2CustomerTicketing.idLabel' | cxTranslate
              "
            >
              |
              {{
                'myAccountV2CustomerTicketing.ticketId'
                  | cxTranslate: { value: ticket.id }
              }}
            </span>
          </div>
          <div class="cx-my-account-customer-ticket-details-light">
            {{
              'myAccountV2CustomerTicketing.changedOn'
                | cxTranslate
                  : { value: ticket.modifiedAt | cxDate: 'd, MMMM, yyyy' }
            }}
          </div>
        }
      </div>
    } @else {
      <div
        class="cx-my-account-no-ticket"
        [attr.aria-label]="'customerTicketingList.noTickets' | cxTranslate"
      >
        {{ 'customerTicketingList.noTickets' | cxTranslate }}
      </div>
    }
  } @else {
    <cx-spinner></cx-spinner>
  }
</ng-container>
