%cx-subscription-cart-item-list {
  table {
    margin: 1rem 0;
    border-collapse: collapse;
    width: 100%;
  }
  .cx-item-list-header {
    border-bottom: none;
  }
  th {
    padding: 1.25rem 0.1rem 1.25rem 0.5rem;
    vertical-align: bottom;
    text-transform: capitalize;
    text-align: center;
    color: var(--cx-color-secondary);
    font-weight: var(--cx-font-weight-bold);
    font-size: var(--cx-font-size, 0.875rem);
    white-space: nowrap;

    font-size: var(--cx-font-size, 1rem);
    font-weight: var(--cx-font-weight-semi);
    line-height: var(--cx-line-height, 1.2222222222);

    &:nth-of-type(1) {
      text-align: start;
    }
    &:nth-last-of-type(1) {
      padding-inline-end: 16px;
      text-align: end;
    }
    &.cx-item-list-price {
      text-align: start;
      padding: 1.25rem 0.5rem 1.25rem 0.1rem;
    }
  }
  tr {
    border-top: 1px solid var(--cx-color-medium);
    padding: 1.25rem 0;
  }
  .cx-item-list-items tr:last-child {
    border-bottom: 1px solid var(--cx-color-medium);
  }
  td {
    padding: 1.25rem 0.1rem 1.25rem 0.5rem;
    vertical-align: middle;
    text-align: center;

    &:nth-of-type(1) {
      text-align: start;
    }

    &.cx-item-list-price {
      text-align: start;
      padding: 1.25rem 0.5rem 1.25rem 0.1rem;
    }
  }
  .cx-table-item-container {
    display: inline-grid;
    grid-template-columns: 5rem 14rem;
    gap: 1rem;
    text-indent: 0;
  }
  .cx-table-item-container a {
    height: fit-content;
  }
  .cx-name {
    margin-top: 0.5rem;
    font-size: var(--cx-font-size, 1rem);
  }
  .cx-code {
    overflow-wrap: anywhere;
    color: var(--cx-color-secondary);
    margin-top: 0.5em;
  }
  .cx-link {
    font-weight: var(--cx-font-weight-bold);
    text-decoration: underline;
    color: var(--cx-color-primary);
  }
  .cx-mobile-only,
  .cx-mobile-header {
    display: none;
  }

  [cx-subscription-cart-item-list-row] {
    .cx-recurring-charges .cx-value {
      // font-size: 0.9rem;
      line-height: 1.1rem;
      margin-bottom: 8px;
      span.cx-billing-name {
        font-size: 0.9rem;
      }
    }
    cx-item-counter.readonly input {
      border: 1px solid var(--cx-color-medium);
      cursor: text;
      width: 45px;
      height: 45px;
      background: var(--cx-color-background);
    }
  }
}
