%cx-subscription-cart-price-body {
  .cx-item-list-charges {
    text-align: start;
  }

  .cx-recurring-charges {
    margin-bottom: 1rem;
  }
  .cx-value {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }

  .cx-billing-name {
    font-weight: 600;
  }
}
