<div
  *ngIf="consignment?.deliveryPointOfService?.displayName"
  class="cx-list-header col-12"
>
  <div class="cx-consignment-details">
    <div class="cx-deliveryPointOfService-address">
      <div class="cx-deliveryPointOfService-heading">
        {{ 'deliveryPointOfServiceDetails.pickUpInStoreAddress' | cxTranslate }}
      </div>
      <div class="cx-deliveryPointOfService-storeName">
        {{ consignment?.deliveryPointOfService?.displayName }}
      </div>
      <div *ngIf="consignment?.deliveryPointOfService?.address?.line1">
        {{ consignment?.deliveryPointOfService?.address?.line1 }}
      </div>
      <div *ngIf="consignment?.deliveryPointOfService?.address?.line2">
        {{ consignment?.deliveryPointOfService?.address?.line2 }}
      </div>
      <div *ngIf="consignment?.deliveryPointOfService?.address?.town">
        <span>
          {{ consignment?.deliveryPointOfService?.address?.town }}
        </span>
        <span>
          {{ consignment?.deliveryPointOfService?.address?.postalCode }}</span
        >
      </div>
      <div *ngIf="consignment?.deliveryPointOfService?.address?.phone">
        {{ consignment?.deliveryPointOfService?.address?.phone }}
      </div>
    </div>
  </div>
</div>
