%cx-table {
  table {
    // avoid breaking table content
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
    td,
    th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding: var(--cx-spatial-base) var(--cx-spatial-md);

      color: var(--cx-color-secondary);
      text-transform: uppercase;
      font-size: 0.9rem;

      &.sortable {
        cursor: pointer;
      }
    }

    th,
    td {
      transition: opacity 0.2s ease-in-out 0.2s, width 0.2s ease-in-out 0.2s;

      padding: var(--cx-spatial-md);

      > * {
        display: flex;
        // justify-content: space-between;
      }
    }
  }
}
