%cx-table {
  table {
    border-bottom: solid 1px var(--cx-color-light);

    // avoid breaking table content
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
    td,
    th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      padding: var(--cx-spatial-base) var(--cx-spatial-md);

      color: var(--cx-color-secondary);
      text-transform: uppercase;

      &.sortable {
        cursor: pointer;
      }
    }

    > tr {
      border-top: solid 1px var(--cx-color-light);
      background-color: var(--cx-color-inverse);
    }

    td {
      transition: opacity 0.2s ease-in-out 0.2s, width 0s ease-in-out 0.4s;

      padding: var(--cx-spatial-md);

      > * {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
