%VariantConfigurationOverviewTemplate {
  max-inline-size: 1140px;
  padding: 0 0 2rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
