<ng-template
  #validation
  let-control="control"
  let-translationParams="translationParams"
>
  <span class="is-invalid">
    <span *ngFor="let error of control.errors | keyvalue">
      {{ 'userForm.message.' + error.key | cxTranslate: translationParams }}
    </span>
  </span>
</ng-template>

<div [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <ng-container *ngIf="titles$ | async as titles">
          <div *ngIf="titles.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'userForm.title' | cxTranslate
              }}</span>
              <ng-select
                formControlName="titleCode"
                [searchable]="false"
                [clearable]="false"
                [items]="titles"
                bindLabel="name"
                bindValue="code"
              >
              </ng-select>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'userForm.firstName.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'userForm.firstName.placeholder' | cxTranslate }}"
            formControlName="firstName"
            [class.is-invalid]="isNotValid('firstName')"
          />
          <ng-container
            *ngIf="isNotValid('firstName')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.firstName
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'userForm.lastName.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'userForm.lastName.placeholder' | cxTranslate }}"
            formControlName="lastName"
            [class.is-invalid]="isNotValid('lastName')"
          />
          <ng-container
            *ngIf="isNotValid('lastName')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.lastName
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'userForm.email.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{ 'userForm.email.placeholder' | cxTranslate }}"
            formControlName="email"
            [class.is-invalid]="isNotValid('email')"
          />
          <ng-container
            *ngIf="isNotValid('email')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.email
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="businessUnits$ | async as businessUnits"
          formGroupName="orgUnit"
        >
          <div *ngIf="businessUnits.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'userForm.businessUnits.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="uid"
                [searchable]="false"
                [clearable]="false"
                [items]="businessUnits"
                bindLabel="name"
                bindValue="id"
                [class.invalid]="isNotValid('orgUnit')"
              >
              </ng-select>
              <ng-container
                *ngIf="isNotValid('orgUnit')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.orgUnit['controls']['uid']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label aria-required="true">
          <span class="label-content required">
            {{ 'userForm.roles.label' | cxTranslate }}
          </span>
        </label>

        <div *ngFor="let role of roles; let i = index" class="form-check">
          <label>
            <input
              type="checkbox"
              class="form-check-input"
              [value]="role.id"
              [checked]="role.selected"
              (change)="onRoleChange($event)"
            />
            <span class="form-check-label">
              {{ 'userForm.roles.' + role.name | cxTranslate }}
            </span>
          </label>
        </div>

        <div class="form-check" *ngIf="isApprover()">
          <label>
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="isAssignedToApprovers"
              [checked]="isApprover()"
            />
            <span class="form-check-label">{{
              'userForm.assignAprover' | cxTranslate
            }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button class="btn btn-block btn-primary" (click)="verifyAndSubmit()">
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</div>
