<ng-container *ngIf="product$ | async as product">

  <cx-star-rating
    *ngIf="product.averageRating"
    [rating]="product?.averageRating"
  ></cx-star-rating>
  <div *ngIf="!product.averageRating" class="cx-product-no-review">
    {{ 'productDetails.noReviews' | cxTranslate }}
  </div>
  <div *ngIf="!product.multidimensional"
       class="cx-product-price"
       [attr.aria-label]="'productDetails.productPrice' | cxTranslate"
  >
    {{ product.price?.formattedValue }}
  </div>

  <ng-container *ngIf="product.multidimensional">
    <div
      *ngIf="getProductPrice(product) as price"
      class="cx-product-price-container"
    >
      <div
        class="cx-product-price"
        [attr.aria-label]="'productDetails.productPrice' | cxTranslate"
      >
        {{ price }}
      </div>
    </div>
  </ng-container>

</ng-container>
