@if (outOfStock$ | async) {
  @if (!(hasProductInterests$ | async)) {
    @if (prefsEnabled$ | async) {
      <div class="stock-notification-notes">
        <p>{{ 'stockNotification.getNotified' | cxTranslate }}</p>
      </div>
      <button
        class="btn btn-primary btn-block btn-notify"
        type="button"
        (click)="subscribe()"
      >
        {{ 'stockNotification.notifyMe' | cxTranslate }}
      </button>
    } @else {
      <div class="stock-notification-notes" id="outOfStockMessage">
        <p>
          @if (anonymous) {
            <a [routerLink]="{ cxRoute: 'login' } | cxUrl">
              {{ 'miniLogin.signInRegister' | cxTranslate }}</a
            >
            {{ 'stockNotification.getNotifySuffix' | cxTranslate }}<br />
          } @else {
            {{ 'stockNotification.getNotify' | cxTranslate }}<br />
            {{ 'stockNotification.activateChannelsPrefix' | cxTranslate }}
            <a [routerLink]="{ cxRoute: 'notificationPreference' } | cxUrl">{{
              'stockNotification.channelsLink' | cxTranslate
            }}</a
            >{{ 'stockNotification.activateChannelsSuffix' | cxTranslate }}
          }
        </p>
      </div>
      <button
        class="btn btn-primary btn-block btn-notify"
        type="button"
        [attr.disabled]="anonymous ? true : null"
        aria-describedby="outOfStockMessage"
        (click)="subscribe()"
      >
        {{ 'stockNotification.notifyMe' | cxTranslate }}
      </button>
    }
  } @else {
    @if (!(isRemoveInterestLoading$ | async)) {
      <div class="stock-notification-notes">
        <p>{{ 'stockNotification.notified' | cxTranslate }}</p>
      </div>
      <button
        class="btn btn-primary btn-block btn-stop-notify"
        type="button"
        (click)="unsubscribe()"
      >
        {{ 'stockNotification.stopNotify' | cxTranslate }}
      </button>
    } @else {
      <div class="cx-dialog-body modal-body">
        <div class="cx-dialog-row">
          <div class="col-sm-12">
            <cx-spinner></cx-spinner>
          </div>
        </div>
      </div>
    }
  }
}
