<div
  class="inner"
  *ngIf="(facetList$ | async)?.facets as facets"
  [cxFocus]="isDialog ? dialogFocusConfig : {}"
  (esc)="close($event)"
  (click)="block($event)"
>
  <h4>
    {{ 'productList.filterBy.label' | cxTranslate }}
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <cx-icon aria-hidden="true" [type]="iconTypes.CLOSE"></cx-icon>
    </button>
  </h4>

  <cx-tab
    [tabs$]="tabs$"
    *cxFeatureLevel="'3.4'"
    [config]="tabConfig"
    [mode]="'ACCORDIAN'"
  ></cx-tab>

  <!-- 
      Here we'd like to introduce configurable facet components, 
      either by using specific configuration or generic sproutlets 
  -->
  <!-- <cx-facet
    *ngFor="let facet of facets"
    #facetRef
    [facet]="facet"
    [cxFocus]="{ lock: true, trap: true, autofocus: 'a' }"
    (unlock)="expandFacetGroup(facet, facetRef)"
    [class.expanded]="isExpanded(facet) | async"
    [class.collapsed]="isCollapsed(facet) | async"
  ></cx-facet> -->
</div>

<ng-template #facetsRef>
  <ng-container *ngIf="(facetList$ | async)?.facets as facets">
    FACETS
    <ng-container *ngIf="facets[0] as facet">
      <a
        *ngFor="let value of facet.values"
        #facetValue
        routerLink="./"
        class="value"
        [class.selected]="value.selected"
        [cxFocus]="value.name"
      >
        <span>
          <span class="label">{{ value.name }}</span>
          <span class="count">{{ value.count }}</span>
        </span>
      </a>

      <div class="more">
        <a
          *ngFor="let value of facet.values"
          #facetValue
          routerLink="./"
          class="value"
          [class.selected]="value.selected"
          [cxFocus]="value.name"
        >
          <span
            >{{ value.name }}<span class="count">{{ value.count }}</span></span
          >
        </a>

        <!-- <button
          *ngIf="state.maxVisible > state.topVisible"
          (click)="decreaseVisibleValues()"
          class="cx-action-link"
          cxFocus="moreorless"
        >
          {{ 'productList.showLess' | cxTranslate }}
        </button>

        <button
          *ngIf="state.maxVisible > 0 && state.maxVisible < facet.values.length"
          (click)="increaseVisibleValues()"
          class="cx-action-link"
          cxFocus="moreorless"
        >
          {{ 'productList.showMore' | cxTranslate }}
        </button> -->
      </div>
    </ng-container>
  </ng-container>
</ng-template>
