%progress-bar {
  &:before,
  &:after {
    height: 2px;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    content: '';
    position: fixed;
    z-index: 2;
    // testing for feature flag is working or not
    @include forFeature('topProgressBarUseTransformAnimation') {
      will-change: transform; // Hint for better performance
      height: 100px;
    }
  }
  &:before {
    background-color: var(--cx-color-light);
  }

  &:after {
    background-color: var(--cx-color-dark);
  }
}

%progress-bar-loading {
  @keyframes loading {
    0% {
      margin-inline-start: 0px;
      margin-inline-end: 100%;
    }
    50% {
      margin-inline-start: 25%;
      margin-inline-end: 0%;
    }
    100% {
      margin-inline-start: 100%;
      margin-inline-end: 0;
    }
  }
  @include forFeature('topProgressBarUseTransformAnimation') {
    @keyframes loading {
      0% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-25%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }

  &:after {
    animation: loading 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

%progress-bar-loaded {
  @keyframes loaded {
    0% {
      margin-inline-start: 50%;
      margin-inline-end: 100%;
    }
    100% {
      margin-inline-start: 100%;
      margin-inline-end: 0;
    }
  }
  @include forFeature('topProgressBarUseTransformAnimation') {
    @keyframes loaded {
      0% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
  &:after {
    animation: loaded 0.5s;
  }
}
