@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

.cx-scroll-to-top-container {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.cx-scroll-to-top-show {
  display: block;
}
.cx-scroll-to-top-button {
  border: none;
  background: none;
  padding: 0;
}

.cx-scroll-to-top-img {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    content: url('../../../../assets/scroll-to-top.png');
  }

  @include media-breakpoint-down(lg) {
    display: block;
    content: url('../../../../assets/scroll-to-top-mobile.png');
  }
}
