.high-contrast-dark {
  --cx-color-background: #000000;
  --cx-color-text: #ffffff;
  --cx-color-visual-focus: #b995e0;
  --cx-color-inverse: #ffffff;
  --cx-color-transparent: transparent;
  --cx-color-primary: #8ca7d5;
  --cx-color-secondary: #b0bcc5;
  --cx-color-primary-accent: #6bd3ff;
  --cx-color-success: #99cc99;
  --cx-color-info: #ffffff;
  --cx-color-warning: #ffab1d;
  --cx-color-danger: #ff5e5e;
}
