<div class="store-count">1 - 5 from {{ storeData.total }} stores found</div>

<div>
  <div class="store-listing-item" [class.selected]="selectedStore.id === selectStore.id" *ngFor="let store of storeData.data"
  (click)="selectStore(store)">
    <div class="store-listing-item-details">
      <div class="store-listing-item-text bold">{{ store.displayName }}</div>
      <div class="store-listing-item-text bold">{{ store.line1 }}, {{ store.line2 }}</div>
      <div class="store-listing-item-text">{{ store.town }}</div>
    </div>
    <div class="store-listing-item-distance store-listing-item-text bold">{{ store.formattedDistance }}</div>
  </div>
</div>

<div>
  <div class="store-details">
    <img [src]="selectedStore.image" width="110px" height="110px" />
    <div class="store-details-info">
      <div class="bold">{{ selectedStore.displayName }}</div>
      <div>{{ selectedStore.line1 }}</div>
      <div>{{ selectedStore.line2 }}</div>
      <div>{{ selectedStore.town }}</div>
    </div>
  </div>
  <iframe
    class="store-map"
    width="600"
    height="400"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    [src]="googleMapsUrl">
  </iframe>
  <div class="store-openings">
    <div class="store-openings-dates">
      <div class="store-openings-date" *ngFor="let opening of selectedStore.openings | keyvalue">
        <span class="store-openings-day bold">{{ opening.key }}</span>{{ opening.value }}
      </div>
    </div>
    <div class="store-openings-features">
      <div *ngFor="let feature of selectedStore.features">{{ feature }}</div>
    </div>
  </div>
</div>
