<div class="cx-store-schedule-container">
  <div class="cx-store-schedule-title">
    {{ 'storeSchedule.storeHours' | cxTranslate }}
  </div>
  @for (openingTime of openingTimes; track openingTime) {
    <div class="cx-store-schedule-opening-times">
      <div class="cx-store-schedule-day-of-week">{{ openingTime.weekDay }}</div>
      @if (!openingTime.closed) {
        <div>
          {{ openingTime.openingHours }}
        </div>
      } @else {
        {{ 'storeSchedule.closed' | cxTranslate }}
      }
    </div>
  }
</div>
