<div class="cx-store-schedule-container">
  <div class="cx-store-schedule-title">
    {{ 'storeSchedule.storeHours' | cxTranslate }}
  </div>
  <div
    class="cx-store-schedule-opening-times"
    *ngFor="let openingTime of openingTimes"
  >
    <div class="cx-store-schedule-day-of-week">{{ openingTime.weekDay }}</div>
    <div *ngIf="!openingTime.closed; else closed">
      {{ openingTime.openingHours }}
    </div>
    <ng-template #closed>{{
      'storeSchedule.closed' | cxTranslate
    }}</ng-template>
  </div>
</div>
