
<H3>{{model.title}}</H3>
<div class="product-caraousel"
    (mouseenter)="stop()" (mouseleave)="continue()"
    fxLayout="row" fxFlexAlign="start stretch">
    <div fxFlex="50px">
        <button md-icon-button>
            <md-icon>navigate_before</md-icon>
        </button>
    </div>
    <div fxFlex class="carousel-container">
        <div class="product-panel" #productPanel 
            [class.pause]="pause">
            <div class="product" 
                *ngFor="let product of products"
                [routerLink]="['/product/', product.code]"
                >
                
                <y-picture 
                    *ngIf="product.images"
                    [imageContainer]="product.images.PRIMARY" 
                    imageFormat="thumbnail"
                ></y-picture>
                {{product.name}}
            </div>
        </div>
    </div>
    <div fxFlex="50px">
        <button md-icon-button>
            <md-icon>navigate_next</md-icon>
        </button>
    </div>
</div>