<ng-container
  *ngIf="items && items.length > 0"
  cxHorizontalScrollingPosition
  #cxHorizontalScrollingPosition="cxHorizontalScrollingPosition"
  [scrollingArea]="scrollingArea"
  [scrollingAreaStart]="scrollingAreaStart"
  [scrollingAreaEnd]="scrollingAreaEnd"
>
  <h2 *ngIf="title">{{ title }}</h2>

  <div class="carousel-panel">
    <button
      tabindex="-1"
      class="previous"
      (click)="
        $event.stopPropagation(); cxHorizontalScrollingPosition.scrollBackward()
      "
      [attr.aria-disabled]="
        cxHorizontalScrollingPosition.isScrollStart$ | async
      "
      [attr.aria-label]="'carousel.scrollBackward' | cxTranslate"
      [attr.title]="'carousel.scrollBackward' | cxTranslate"
      [class.scroll-possible]="
        cxHorizontalScrollingPosition.isScrollNeeded$ | async
      "
    >
      <cx-icon [type]="previousIcon"></cx-icon>
    </button>
    <div class="carousel-items" #scrollingArea>
      <span #scrollingAreaStart class="carousel-items-start"></span>

      <ng-container
        *ngFor="let item of items; let i = index; trackBy: trackByFn"
      >
        <div
          *ngIf="item | async as data"
          class="item"
          (keydown)="onItemKeydown($event)"
          (focusin)="onItemFocusIn($event)"
        >
          <ng-container
            *ngTemplateOutlet="template; context: { item: data, itemIndex: i }"
          ></ng-container>
        </div>
      </ng-container>

      <span #scrollingAreaEnd class="carousel-items-end"></span>
    </div>
    <button
      tabindex="-1"
      class="next"
      (click)="
        $event.stopPropagation(); cxHorizontalScrollingPosition.scrollForward()
      "
      [attr.aria-disabled]="cxHorizontalScrollingPosition.isScrollEnd$ | async"
      [attr.aria-label]="'carousel.scrollForward' | cxTranslate"
      [attr.title]="'carousel.scrollForward' | cxTranslate"
      [class.scroll-possible]="
        cxHorizontalScrollingPosition.isScrollNeeded$ | async
      "
    >
      <cx-icon [type]="nextIcon"></cx-icon>
    </button>
  </div>
</ng-container>
