<div class="order-summary">
    <h3>Order Summary</h3>
    <div *ngIf="cart">
        <div>
            Subtotal: {{cart.totalPrice?.formattedValue}}
        </div>

        <div>
            Sales Tax: {{cart.totalTax?.formattedValue}}
        </div>

        <div>
            Discount: {{cart.totalDiscounts?.formattedValue}}
        </div>

        <div>
            Total: {{cart.totalPriceWithTax?.formattedValue}}
        </div>
    </div>
</div>

<div class="cartproline" *ngIf="cart.appliedOrderPromotions?.length > 0">
    <h3>Received Promotions</h3>
    <div class="promotion" *ngFor="let promotion of cart.appliedOrderPromotions">
        {{promotion.description}}
    </div>
</div>