<button
  class="cx-hamburger"
  type="button"
  (click)="toggle()"
  [class.is-active]="isExpanded | async"
  [attr.aria-expanded]="isExpanded | async"
  [attr.aria-label]="
    (isExpanded | async)
      ? ('common.close' | cxTranslate)
      : ('common.menu' | cxTranslate)
  "
  [attr.title]="
    (isExpanded | async)
      ? ('common.close' | cxTranslate)
      : ('common.menu' | cxTranslate)
  "
  aria-controls="cx-header"
>
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
