<ng-template cxOutletRef="table.costCenterAssignBudget.data.name" let-model>
  <label>
    <input
      type="checkbox"
      [checked]="model.selected"
      (change)="toggleAssign($event, model.code)"
      class="form-control"
    />
    <span class="text">{{ model.name }}</span>
  </label>
</ng-template>

<cx-view #view *ngIf="dataTable$ | async as budgets">
  <h3>
    <a class="link" routerLink="../../" (click)="view.toggle()">
      <cx-icon type="CARET_LEFT"></cx-icon>
      {{ 'organization.back' | cxTranslate }}
    </a>
    {{ 'costCenter.budget.assign' | cxTranslate }}
    <span></span>
  </h3>
  <section>
    <cx-table [dataset]="budgets"> </cx-table>
  </section>
</cx-view>
