<ng-container *ngIf="(logged$ | async); else anonymous">
  <ng-container *ngIf="!(subscribed$ | async); else stop_notify">
    <ng-container *ngIf="!(channelEnabled$ | async); else notifyMe">
      <div>
        {{ 'stockNotification.activateChannelsPrefix' | cxTranslate }}
        <a [routerLink]="{ route: 'notificationPreference' } | cxUrl">
          {{ 'stockNotification.channelsLink' | cxTranslate }}</a
        >{{ 'stockNotification.activateChannelsSuffix' | cxTranslate }}
        <button
          class="btn btn-primary btn-block"
          type="button"
          [disabled]="true"
        >
          {{ 'stockNotification.notifyMe' | cxTranslate }}
        </button>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #stop_notify>
  <ng-container *ngIf="!(unsubscribeLoading$ | async); else loading">
    <div>
      {{ 'stockNotification.notified' | cxTranslate }}
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="stopNotify()"
      >
        {{ 'stockNotification.stopNotify' | cxTranslate }}
      </button>
    </div>
  </ng-container>
</ng-template>

<ng-template #notifyMe>
  <div>
    {{ 'stockNotification.getNotified' | cxTranslate }}
    <button class="btn btn-primary btn-block" type="button" (click)="notify()">
      {{ 'stockNotification.notifyMe' | cxTranslate }}
    </button>
  </div>
</ng-template>

<ng-template #anonymous>
  <div>
    {{ 'stockNotification.activateChannelsPrefix' | cxTranslate }}
    <a [routerLink]="{ route: 'notificationPreference' } | cxUrl">
      {{ 'stockNotification.channelsLink' | cxTranslate }}</a
    >{{ 'stockNotification.activateChannelsSuffix' | cxTranslate }}
    <button class="btn btn-primary btn-block" type="button" [disabled]="true">
      {{ 'stockNotification.notifyMe' | cxTranslate }}
    </button>
  </div>
</ng-template>

<ng-template #loading>
  <div class="cx-dialog-body modal-body">
    <div class="cx-dialog-row">
      <div class="col-sm-12">
        <cx-spinner></cx-spinner>
      </div>
    </div>
  </div>
</ng-template>
