<div [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'budgetForm.code.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{ 'budgetForm.code.placeholder' | cxTranslate }}"
            formControlName="code"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'budgetForm.name.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'budgetForm.name.placeholder' | cxTranslate }}"
            formControlName="name"
          />
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="businessUnits$ | async as businessUnits"
          formGroupName="orgUnit"
        >
          <div *ngIf="businessUnits.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'budgetForm.businessUnits.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="uid"
                [searchable]="false"
                [clearable]="false"
                [items]="businessUnits"
                bindLabel="name"
                bindValue="id"
                (change)="businessUnitSelected($event)"
              >
              </ng-select>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'budgetForm.startDate' | cxTranslate
          }}</span>
          <cx-date-picker
            formControlName="startDate"
            [max]="form.controls['endDate'].value"
            (change)="form.controls['endDate'].updateValueAndValidity()"
          ></cx-date-picker>
          <div class="is-invalid" *ngIf="(form.controls['startDate'].errors && !form.controls['startDate'].valid && form.controls['startDate'].touched)">
            <span>{{ 'budgetForm.message.startDate' | cxTranslate }}</span>
            <span>{{ form.controls['endDate'].value | cxDate }}</span>
          </div>

          <div class="form-group">
            <label>
              <span class="label-content">{{
                'budgetForm.endDate' | cxTranslate
              }}</span>
              <cx-date-picker
                formControlName="endDate"
                [min]="form.controls['startDate'].value"
                (change)="form.controls['startDate'].updateValueAndValidity()"
                [endOfDay]="true"
              ></cx-date-picker>
              <div
                class="is-invalid"
                *ngIf="(form.controls['endDate'].errors && !form.controls['endDate'].valid && form.controls['endDate'].touched)"
              >
                <span>{{ 'budgetForm.message.endDate' | cxTranslate }}</span>
                <span>{{ form.controls['startDate'].value | cxDate }}</span>
              </div>
            </label>
          </div>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="currencies$ | async as currencies"
          formGroupName="currency"
        >
          <div *ngIf="currencies.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'budgetForm.currency' | cxTranslate
              }}</span>
              <ng-select
                formControlName="isocode"
                [searchable]="false"
                [clearable]="false"
                [items]="currencies"
                bindLabel="name"
                bindValue="isocode"
                (change)="currencySelected($event)"
              >
              </ng-select>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'budgetForm.amount.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'budgetForm.amount.placeholder' | cxTranslate }}"
            formControlName="budget"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button
        class="btn btn-block btn-primary"
        [disabled]="form.invalid"
        (click)="verifyBudget()"
      >
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</div>
