<ng-template
  #validation
  let-control="control"
  let-translationParams="translationParams"
>
  <span class="is-invalid">
    <span *ngFor="let error of control.errors | keyvalue">
      {{ 'budgetForm.message.' + error.key | cxTranslate: translationParams }}
    </span>
  </span>
</ng-template>

<div [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'budgetForm.code.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{ 'budgetForm.code.placeholder' | cxTranslate }}"
            formControlName="code"
            [class.is-invalid]="isNotValid('code')"
          />
          <ng-container
            *ngIf="isNotValid('code')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.code
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'budgetForm.name.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'budgetForm.name.placeholder' | cxTranslate }}"
            formControlName="name"
            [class.is-invalid]="isNotValid('name')"
          />
          <ng-container
            *ngIf="isNotValid('name')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.name
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="businessUnits$ | async as businessUnits"
          formGroupName="orgUnit"
        >
          <div *ngIf="businessUnits.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'budgetForm.businessUnits.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="uid"
                [searchable]="false"
                [clearable]="false"
                [items]="businessUnits"
                bindLabel="name"
                bindValue="id"
                [class.invalid]="isNotValid('orgUnit')"
              >
              </ng-select>
              <ng-container
                *ngIf="isNotValid('orgUnit')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.orgUnit['controls']['uid']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'budgetForm.startDate' | cxTranslate
          }}</span>
          <cx-date-picker
            formControlName="startDate"
            [max]="form.controls.endDate.value"
            (change)="form.controls.endDate.updateValueAndValidity()"
            [invalid]="isNotValid('startDate')"
          ></cx-date-picker>
          <ng-container
            *ngIf="isNotValid('startDate')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.startDate,
              translationParams: { date: form.controls.endDate.value | cxDate }
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'budgetForm.endDate' | cxTranslate
          }}</span>
          <cx-date-picker
            formControlName="endDate"
            [min]="form.controls.startDate.value"
            (change)="form.controls.startDate.updateValueAndValidity()"
            [endOfDay]="true"
            [invalid]="isNotValid('endDate')"
          ></cx-date-picker>
          <ng-container
            *ngIf="isNotValid('endDate')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.endDate,
              translationParams: {
                date: form.controls.startDate.value | cxDate
              }
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="currencies$ | async as currencies"
          formGroupName="currency"
        >
          <div *ngIf="currencies.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'budgetForm.currency' | cxTranslate
              }}</span>
              <ng-select
                formControlName="isocode"
                [searchable]="false"
                [clearable]="false"
                [items]="currencies"
                bindLabel="name"
                bindValue="isocode"
                [class.invalid]="isNotValid('currency')"
              >
              </ng-select>
              <ng-container
                *ngIf="isNotValid('currency')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.currency['controls']['isocode']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content">{{
            'budgetForm.amount.label' | cxTranslate
          }}</span>
          <input
            type="number"
            class="form-control"
            placeholder="{{ 'budgetForm.amount.placeholder' | cxTranslate }}"
            formControlName="budget"
            [class.is-invalid]="isNotValid('budget')"
          />
          <ng-container
            *ngIf="isNotValid('budget')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.budget
            }"
          ></ng-container>
        </label>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button
        class="btn btn-block btn-primary"
        [disabled]="form.invalid"
        (click)="verifyAndSubmit()"
      >
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</div>
