<ng-container *ngIf="isLoading$ | async; else loading">
  <ng-container *ngIf="quickOrderListLimit$ | async as quickOrderListLimit">
    <ng-container *ngIf="entries$ | async as entries">
      <div class="quick-order-header">
        <h3>{{ 'quickOrderList.header' | cxTranslate }}</h3>
        <p>
          {{
            'quickOrderList.subHeader'
              | cxTranslate: { limit: quickOrderListLimit }
          }}
        </p>
      </div>

      <div class="quick-order-form-body">
        <cx-quick-order-form
          [isDisabled]="entries.length >= quickOrderListLimit"
        ></cx-quick-order-form>
      </div>

      <div class="quick-order-table-body">
        <cx-quick-order-table [entries]="entries"></cx-quick-order-table>
      </div>

      <div class="quick-order-footer row">
        <div class="col-xs-12 col-md-5 col-lg-4">
          <button
            *ngIf="entries.length"
            (click)="clear()"
            [attr.aria-label]="'quickOrderList.emptyList' | cxTranslate"
            class="btn btn-block btn-action clear-button"
            type="button"
          >
            {{ 'quickOrderList.emptyList' | cxTranslate }}
          </button>
        </div>

        <div class="col-xs-12 col-md-5 col-lg-4">
          <button
            (click)="addToCart()"
            [attr.aria-label]="'common.save' | cxTranslate"
            [disabled]="!entries.length"
            class="btn btn-block btn-primary add-button"
            type="button"
          >
            {{ 'quickOrderList.addToCart' | cxTranslate }}
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
