<div
  #modalDialog
  class="modal-dialog modal-dialog-centered cx-clear-cart-dialog"
  role="dialog"
  [cxFocus]="focusConfig"
  (esc)="onDialogClose('Escape pressed')"
  aria-labelledby="dialogTitle"
>
  <div class="cx-modal-content">
    <!-- Modal Header -->
    <div class="cx-dialog-header modal-header cx-dialog-header-cancel">
      <div id="dialogTitle" class="cx-dialog-title modal-title">
        <h4>
          <strong>
            {{
              'actionSubscription.askConfirm'
                | cxTranslate
                  : {
                      action:
                        mode() === 'withdraw'
                          ? 'Withdraw'
                          : mode() === 'resubscribe'
                            ? 'Resubscribe'
                            : 'Cancel',
                    }
            }}
          </strong>
        </h4>
      </div>
      <button
        type="button"
        class="close pt-0"
        attr.aria-label="{{ 'actionSubscription.closeModal' | cxTranslate }}"
        (click)="onDialogClose('Cross click')"
      >
        <span
          ><small><cx-icon [type]="iconTypes.CLOSE"></cx-icon></small
        ></span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="row">
        <div class="col-md-12">
          <!-- CANCEL MODE: show cancelData and spinner -->
          <ng-container *ngIf="mode() === 'cancel'">
            <ng-container *ngIf="cancelData(); else loading">
              <p *ngIf="cancelData()?.subscriptionEndAt">
                {{
                  'actionSubscription.loseSubscription'
                    | cxTranslate
                      : { date: (cancelData()?.subscriptionEndAt | cxDate) }
                }}
              </p>
              <p>
                {{ 'actionSubscription.changeMind' | cxTranslate }}
              </p>
            </ng-container>
          </ng-container>

          <!-- WITHDRAW MODE: simpler message -->
          <ng-container *ngIf="mode() === 'withdraw'">
            <p>{{ 'actionSubscription.withdrawConfirm' | cxTranslate }}</p>
          </ng-container>

          <ng-container *ngIf="mode() === 'resubscribe'">
            <p>{{ 'actionSubscription.resubscribeConfirm' | cxTranslate }}</p>
          </ng-container>
          <!-- Common footer for both -->
          <div class="row justify-content-end mt-3">
            <div class="cx-quote col-sm-12 col-md-6 p-1">
              <button
                type="button"
                class="btn btn-block btn-secondary"
                (click)="onDialogClose('Cancel click')"
              >
                {{ 'actionSubscription.cancel' | cxTranslate }}
              </button>
            </div>
            <div class="cx-quote col-sm-12 col-md-6 p-1">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                (click)="onConfirm()"
              >
                {{ 'actionSubscription.confirm' | cxTranslate }}
              </button>
            </div>
          </div>
        </div>

        <!-- Loading spinner only if mode is cancel -->
        <ng-template #loading>
          <div class="d-flex justify-content-center p-4">
            <cx-spinner></cx-spinner>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
