<ng-container *ngIf="text">
  <span
    [attr.aria-label]="
      'configurator.a11y.itemDescription'
        | cxTranslate
          : {
              item: productName
            }
    "
    >{{ textToShow }}</span
  >

  <button (click)="toggleShowMore()" *ngIf="showMore" tabindex="-1">
    <ng-container *ngIf="showHiddenText; else less"
      >&nbsp;... {{ 'configurator.button.less' | cxTranslate }}</ng-container
    >

    <ng-template #less>
      &nbsp;... {{ 'configurator.button.more' | cxTranslate }}</ng-template
    >
  </button>
</ng-container>
