%cx-subscription-product-usage-charge {
  .subscription-usage-charge {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-perunitusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-volumeusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-tierusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-percentageusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-perunitusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-volumeusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-tierusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .subscription-percentageusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
}
