%cx-subscription-product-price {
  .cx-sappriceplan {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-sappriceplan-onetimecharges {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-sappriceplan-recurringcharges {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-sappriceplan-minimumterm {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-sappriceplan-renewalterm {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-sappriceplan-recurring {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-sappriceplan-onetime {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
}
