%cx-subscription-product-usage-charge {
  .cx-usage-charge {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-perunitusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-volumeusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-tierusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-percentageusage {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-perunitusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-volumeusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-tierusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
  .cx-percentageusage-charge {
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 25px;
    margin: 2px;
  }
}
