<cx-page-slot position="TopHeaderSlot"></cx-page-slot>
<header
  [class.is-expanded]="isExpanded$ | async"
  (keydown.escape)="collapseMenu()"
  (click)="collapseMenuIfClickOutside($event)"
>
  <cx-page-layout section="header"></cx-page-layout>
  <cx-page-layout section="navigation"></cx-page-layout>
</header>

<cx-page-slot position="BottomHeaderSlot"></cx-page-slot>

<cx-global-message></cx-global-message>

<router-outlet></router-outlet>

<footer>
  <cx-page-layout section="footer"></cx-page-layout>
</footer>
