<ng-template cxOutlet="cx-storefront">
  <ng-template cxOutlet="cx-header">
    <a (click)="goToApparel()">Link to apparel</a>
    <a (click)="goToElectronics()">Link to electronics</a>

    <header
      [class.is-expanded]="isExpanded$ | async"
      (keydown.escape)="collapseMenu()"
      (click)="collapseMenuIfClickOutside($event)"
    >
      <cx-page-layout section="header"></cx-page-layout>
      <cx-page-layout section="navigation"></cx-page-layout>
    </header>
    <cx-page-slot position="BottomHeaderSlot"></cx-page-slot>
    <cx-global-message></cx-global-message>
  </ng-template>

  <router-outlet></router-outlet>

  <ng-template cxOutlet="cx-footer">
    <footer>
      <cx-page-layout section="footer"></cx-page-layout>
    </footer>
  </ng-template>
</ng-template>
