@if (current$ | async; as item) {
  @if (
    displayDisabledCreate(item) ||
    displayDisabledEdit(item) ||
    displayDisabledEnable(item) ||
    displayDisabledDisable(item) ||
    displayCustomInfo
  ) {
    <section>
      <cx-icon [type]="iconTypes.INFO"></cx-icon>
      <ul>
        @if (displayDisabledEnable(item)) {
          <li>
            {{ i18nRoot + '.info.disabledEnable' | cxTranslate }}
          </li>
        }
        @if (displayDisabledCreate(item)) {
          <li>
            {{ i18nRoot + '.info.disabledCreate' | cxTranslate }}
          </li>
        }
        @if (displayDisabledEdit(item)) {
          <li>
            {{ i18nRoot + '.info.disabledEdit' | cxTranslate }}
          </li>
        }
        @if (displayDisabledDisable(item)) {
          <li>
            {{ i18nRoot + '.info.disabledDisable' | cxTranslate }}
          </li>
        }
        <ng-content></ng-content>
      </ul>
    </section>
  }
}
