%cx-configurator-form {
  .cx-configurator-attribute-header {
    margin-right: 17px;
    margin-left: 17px;
  }

  .cx-configurator-attribute-footer {
    margin-right: 17px;
    margin-left: 17px;
  }

  .cx-configurator-attribute-value {
    margin-left: 17px;
    padding: 10px 34px 0 0;
    clear: both;
    display: block;
  }

  .cx-configurator-attribute-value-multi {
    display: inline-block;
  }

  .cx-configurator-group-attribute {
    padding: 6px 10px;
  }
}
