%cx-config-group-title {
  .cx-config-group-title {
    padding: 15px;
    background-color: var(--cx-color-background);
    margin: 0 0 15px 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    border-radius: 2px;
    font-weight: bold;
  }
}
