%cx-config-previous-next-buttons {
  .cx-config-previous-next-btns {
    padding: 1rem 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      padding: 1.25rem 10px;
    }
    @include media-breakpoint-down(sm) {
      padding: 1.25rem 10px;
    }

    .btn-action {
      @include media-breakpoint-down(md) {
        margin: 0 0 1rem;
      }
    }
  }
}
