%cx-config-overview-form {
  padding: 25px;

  .cx-config-overview-group {
    padding: 25px 0;

    .cx-config-overview-group-name {
      padding: 15px 5px;
      background-color: var(--cx-color-light);
    }
  }
}
