%cx-config-group-menu {
  .cx-config-menu {
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
    margin: 0 25px 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    border-radius: 2px;

    @include media-breakpoint-down(md) {
      background-color: var(--cx-color-background);
      margin: 0 0 0 0;
    }

    .cx-config-menu-item {
      line-height: var(--cx-line-height, 1.6);
      padding: 15px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: var(--cx-color-light);
      color: var(--cx-color-text);

      &:hover {
        cursor: pointer;
        color: var(--cx-color-primary);
      }

      &:last-child {
        border-width: 0;
      }

      a {
        display: block;
        &:hover {
          cursor: pointer;
          color: var(--cx-color-primary);
        }

        &.active {
          color: var(--cx-color-primary);
        }

        cx-icon {
          margin-top: 5px;
          float: right;
        }
      }
    }
  }

  .cx-config-menu-back {
    line-height: var(--cx-line-height, 1.6);
    padding: 15px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
    color: var(--cx-color-text);
    background-color: var(--cx-color-background);

    &:hover {
      cursor: pointer;
      color: var(--cx-color-primary);
    }

    a {
      display: block;

      &:hover {
        cursor: pointer;
        color: var(--cx-color-primary);
      }

      cx-icon {
        margin-top: 5px;
        margin-right: 5px;
        float: left;
      }
    }
  }
}
