%cx-config-form {
  .cx-config-attribute-header {
    margin-right: 17px;
    margin-left: 17px;
  }

  .cx-config-attribute-footer {
    margin-right: 17px;
    margin-left: 17px;
  }

  .cx-config-attribute-value {
    margin-left: 17px;
    padding: 10px 34px 0 0;
    clear: both;
    display: block;
  }

  .cx-config-attribute-value-multi {
    display: inline-block;
  }

  .cx-config-group-attribute {
    padding: 6px 10px;
  }

  .cx-config-conflict-description-container {
    background-color: mix(#ffffff, theme-color('warning'), 78%);
    padding: 5px;
    margin: 0 -10px 15px -10px;
    display: flex;

    .cx-config-conflict-icon-container {
      padding: 5px 15px 5px 15px;
      align-self: center;
    }

    .cx-config-conflict-description {
      padding-top: 10px;
    }
    .cx-config-conflict-icon {
      color: theme-color('warning');
      font-size: 30px;
    }
  }

  .cx-config-conflict-suggestion {
    padding: 15px;
    background-color: mix(#ffffff, theme-color('light'), 90%);
    margin: 0 -20px 15px -20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    border-radius: 2px;
    display: flex;

    .bold {
      font-weight: bold;
      padding-right: 5px;
    }
  }
}
