@mixin cx-config-attribute-image {
  margin-left: 20px;
  .cx-config-select {
    padding: 5px;

    .cx-config-attribute-value-img,
    .cx-config-attribute-value-img-dummy {
      padding: 3px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 75%;
      border-radius: 2px;
      border: transparent 3px solid;
    }

    .cx-config-attribute-value-img-dummy {
      height: 75%;
    }

    &[aria-checked='true'] {
      .cx-config-attribute-value-img,
      .cx-config-attribute-value-img-dummy {
        border: var(--cx-color-primary) 3px solid;
      }
    }

    input.form-input {
      -webkit-appearance: none;
      visibility: hidden;
      left: 25px;
    }

    .cx-config-attribute-value-label {
      cursor: pointer;
      text-align: center;
    }
  }
}
