<ng-container *ngIf="orderEntry$ | async as orderEntry">
  <ng-container *ngIf="isBundleBasedConfigurator(orderEntry)">
    <ng-container *ngIf="numberOfLineItems$ | async as numberOfItems">
      <div class="cx-number-items">
        {{
          'configurator.header.items' | cxTranslate: { count: numberOfItems }
        }}
      </div>
      <ng-container *ngIf="navigateToOverview$ | async; else toggleItemsButton">
        <span
          id="{{ getItemsLinkMsgId(orderEntry) }}"
          class="cx-visually-hidden"
        >
          {{ getItemsLinkMsg(numberOfItems) }}
        </span>
        <div class="cx-toggle-hide-items">
          <cx-configure-cart-entry
            [cartEntry]="orderEntry"
            [readOnly]="true"
            [msgBanner]="false"
            [disabled]="false"
            [isBundleOverviewLink]="true"
            [a11yDescriptionId]="getItemsLinkMsgId(orderEntry)"
          />
        </div>
      </ng-container>

      <ng-template #toggleItemsButton>
        <button
          (click)="toggleItems()"
          [attr.aria-expanded]="!this.hideItems"
          [attr.aria-label]="getItemsMsg(numberOfItems)"
        >
          <div class="cx-toggle-hide-items">
            {{ getButtonText() }}
          </div>
        </button>

        <div class="cx-item-infos" [class.open]="!hideItems">
          <div
            *ngFor="
              let lineItem of lineItemsWithProducts$ | async;
              let i = index
            "
            class="cx-item-info"
            attr.aria-describedby="{{ getHiddenItemInfoId(i) }}"
          >
            <div *ngIf="lineItem.name" class="cx-item-name">
              <ng-container *ngIf="lineItem.product; else plainItemName">
                <a
                  class="cx-link"
                  [routerLink]="
                    {
                      cxRoute: 'product',
                      params: lineItem.product,
                    } | cxUrl
                  "
                  >{{ lineItem.name }}</a
                >
                <div *ngIf="lineItem.product.code" class="cx-code">
                  {{ 'cartItems.id' | cxTranslate }}
                  {{ lineItem.product.code }}
                </div>
              </ng-container>
              <ng-template #plainItemName>{{ lineItem.name }}</ng-template>
            </div>
            <span id="{{ getHiddenItemInfoId(i) }}" class="cx-visually-hidden">
              {{ getHiddenItemInfo(lineItem) }}
            </span>
            <div class="cx-item-quantity" aria-hidden="true">
              <ng-container *ngIf="lineItem?.formattedQuantity">
                <span class="cx-identifier">{{
                  'configurator.attribute.quantity' | cxTranslate
                }}</span>
                <span class="cx-item">{{
                  lineItem?.formattedQuantity | cxNumeric
                }}</span>
              </ng-container>
            </div>
            <div class="cx-item-price" aria-hidden="true">
              <ng-container *ngIf="lineItem?.formattedPrice">
                <span class="cx-identifier">{{
                  'configurator.overviewForm.itemPrice' | cxTranslate
                }}</span>
                <span class="cx-item">{{ lineItem?.formattedPrice }}</span>
              </ng-container>
            </div>
            <div
              *ngIf="
                lineItem?.configurable &&
                lineItem?.rowId &&
                (shouldShowButton$ | async)
              "
              class="cx-item-configure"
            >
              <cx-configure-cart-entry
                [cartEntry]="orderEntry"
                [readOnly]="(readonly$ | async) ?? false"
                [msgBanner]="false"
                [disabled]="(quantityControl$ | async)?.disabled ?? false"
                [rowId]="lineItem.rowId"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="quantityControl$ | async as quantityControl">
      <cx-configure-cart-entry
        *ngIf="(shouldShowButton$ | async) && orderEntry?.product?.configurable"
        [cartEntry]="orderEntry"
        [readOnly]="(readonly$ | async) ?? false"
        [msgBanner]="false"
        [disabled]="quantityControl.disabled"
    /></ng-container>
  </ng-container>
</ng-container>
