<ng-container *ngIf="orderEntry$ | async as orderEntry">
  <ng-container *ngIf="isBundleBasedConfigurator(orderEntry)">
    <ng-container *ngIf="(numberOfLineItems$ | async) > 0">
      <div class="cx-number-items">
        {{
          'configurator.header.items'
            | cxTranslate: { count: numberOfLineItems$ | async }
        }}
      </div>

      <a role="link" (click)="toggleItems()" tabindex="0">
        <div class="cx-toggle-hide-items">
          <ng-container *ngIf="hideItems">
            {{ 'configurator.header.show' | cxTranslate }}
          </ng-container>
          <ng-container *ngIf="!hideItems">
            {{ 'configurator.header.hide' | cxTranslate }}
          </ng-container>
        </div>
      </a>

      <div class="cx-item-infos" [class.open]="!hideItems">
        <div
          class="cx-item-info"
          *ngFor="let lineItem of retrieveLineItems(orderEntry)"
        >
          <div class="cx-item-name">
            {{ lineItem?.name }}
          </div>
          <div class="cx-item-price">
            <span
              class="cx-identifier"
              *ngIf="lineItem?.formattedPrice && isMobile() | async"
              >{{ 'configurator.overviewForm.itemPrice' | cxTranslate }}</span
            >
            <span class="cx-item">{{ lineItem?.formattedPrice }}</span>
          </div>
          <div class="cx-item-quantity">
            <span
              class="cx-identifier"
              *ngIf="lineItem?.formattedQuantity && isMobile() | async"
              >{{ 'configurator.attribute.quantity' | cxTranslate }}</span
            >
            <span class="cx-item">{{
              lineItem?.formattedQuantity | cxNumeric
            }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <cx-configure-cart-entry
      *ngIf="
        orderEntry?.product?.configurable && quantityControl$
          | async as quantityControl
      "
      [cartEntry]="orderEntry"
      [readOnly]="readonly$ | async"
      [msgBanner]="false"
      [disabled]="quantityControl.disabled"
    ></cx-configure-cart-entry>
  </ng-container>
</ng-container>
