<label *ngIf="(items$ | async)?.length > 1 && (items$ | async) as items">
  <span>{{ label$ | async }}:</span>
  <select (change)="active = $any($event).target.value">
    <option
      [attr.aria-label]="ariaLabel$(item.label, i, items.length) | async"
      *ngFor="let item of items; index as i"
      value="{{ item.isocode }}"
      [selected]="(activeItem$ | async) === item.isocode"
    >
      {{ item.label }}
    </option>
  </select>
  <cx-icon
    aria-hidden="true"
    [type]="iconTypes.CARET_DOWN"
    class="small"
  ></cx-icon>
</label>
