%cx-cart-item-list {
  table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 0.25em 0.1em 0.25em 0.5em;
    vertical-align: middle;
    text-align: center;
  }

  .cx-mobile-header {
    display: none;
  }

  tr {
    border-bottom: 1px solid var(--cx-color-light);
    padding: 1.25rem 0;
  }

  th {
    vertical-align: bottom;
    text-transform: uppercase;
    text-align: center;
    color: var(--cx-color-secondary);
    font-weight: var(--cx-font-weight-bold);
    font-size: var(--cx-font-size, 0.875rem);
    white-space: nowrap;
  }

  th:nth-of-type(1),
  td:nth-of-type(1) {
    text-align: start;
  }

  td:nth-last-of-type(1),
  th:nth-last-of-type(1) {
    text-align: end;
  }

  td.cx-actions {
    button {
      white-space: nowrap;
      display: block;
      text-align: end;
      width: 100%;
    }
  }

  .cx-table-item-container {
    display: inline-grid;
    grid-template-columns: 5em 14em;
    gap: 1em;
    text-indent: 0;
  }

  .cx-cart-item-image {
    display: block;
  }

  .cx-name {
    margin-top: 0.5em;
    font-size: var(--cx-font-size, 1rem);
  }

  .cx-code {
    color: var(--cx-color-secondary);
    margin-top: 0.5em;
  }

  .cx-link {
    text-decoration: none;
    color: var(--cx-color-text);
    font-weight: var(--cx-font-weight-bold);
  }

  .cx-price {
    text-align: start;
  }

  .cx-total {
    font-size: var(--cx-font-size, 1rem);
    font-weight: var(--cx-font-weight-normal);
    text-align: center;
  }

  .cx-quantity {
    .cx-value {
      text-align: center;
    }
  }

  .cx-cart-addons {
    width: 100%;
  }

  .cx-cart-mobile {
    display: none;
  }

  @include media-breakpoint-down(md) {
    table,
    tr,
    td {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
    }

    thead {
      display: none;
    }

    .cx-table-item-container {
      grid-template-columns: 4em auto;

      .cx-price {
        display: none;
      }
    }

    .cx-cart-mobile {
      display: flex;
    }

    .cx-mobile-header {
      display: inline;
      font-weight: bold;
      white-space: nowrap;
      text-align: start;
    }

    td {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }

    .cx-actions button {
      margin-inline-start: 0;
      text-align: start;
    }

    th:nth-child(1) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    td:nth-of-type(1) {
      padding-inline-start: 0;
    }
  }
}
