%cx-cart-item-list {
  //display: block;
  //box-sizing: border-box;
  //width: auto;
  //padding: 1em 2vw;
  //margin: 1em 2vw;
  //color: #000;
  //background-color: #fff;

  /* agnostic-table styles -------------- */
  table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 0.25em 0.1em 0.25em 0.5em;
    vertical-align: middle;
  }

  .cx-mobile-header {
    display: none;
  }

  /* customization styles ---------- */
  tr {
    border-bottom: 1px solid var(--cx-color-light);
    padding: 1.25rem 0;
  }

  th {
    vertical-align: bottom;
    text-transform: uppercase;
    text-align: center;
    color: var(--cx-color-secondary);
    font-weight: var(--cx-font-weight-bold);
    font-size: var(--cx-font-size, 0.875rem);
    white-space: nowrap;
  }

  th:nth-of-type(1),
  td:nth-of-type(1) {
    text-align: start;
  }

  td:nth-of-type(3) {
    text-align: center;
  }

  th:nth-of-type(4) {
    text-align: end;
  }

  th.cx-item-list-actions {
    text-align: end;
  }

  td.cx-actions {
    text-align: end;

    button {
      white-space: nowrap;
      display: block;
      text-align: end;
      width: 100%;
    }
  }

  //
  //.cx-action-link {
  //  background-color: initial;
  //  border: 0 none;
  //  cursor: pointer;
  //  padding: 0;
  //  text-decoration: underline;
  //}
  //
  //.cx-visually-hidden {
  //  clip: rect(0 0 0 0);
  //  clip-path: inset(50%);
  //  height: 1px;
  //  overflow: hidden;
  //  position: absolute;
  //  white-space: nowrap;
  //  width: 1px;
  //}

  .cx-table-item-container {
    display: inline-grid;
    grid-template-columns: 5em 14em;
    gap: 1em;
    text-indent: 0;
  }

  .cx-cart-item-image {
    display: block;
  }

  .cx-name {
    margin-top: 0.5em;
    font-size: var(--cx-font-size, 1rem);
  }

  .cx-code {
    color: var(--cx-color-secondary);
    margin-top: 0.5em;
  }

  .cx-link {
    text-decoration: none;
    color: var(--cx-color-text);
    font-weight: var(--cx-font-weight-bold);
  }

  .cx-price {
    text-align: start;
  }

  .cx-total {
    font-size: var(--cx-font-size, 1rem);
    font-weight: var(--cx-font-weight-normal);
    text-align: end;
  }

  .cx-quantity {
    .cx-value {
      text-align: center;
    }
  }
  //cx-item-counter:not(.readonly) {
  //  display: inline-flex;
  //  border: 1px solid #ccc;
  //  border-radius: 4px;
  //}
  //
  //cx-item-counter button {
  //  margin: 0;
  //  max-height: 48px;
  //  min-width: 30px;
  //  border: none;
  //  cursor: pointer;
  //  color: #000;
  //  background-color: transparent;
  //  line-height: 1.6;
  //}
  //
  //cx-item-counter:not(.readonly) input {
  //  border-left: 1px solid #ccc;
  //  border-bottom: 0 solid #ccc;
  //  border-right: 1px solid #ccc;
  //  border-top: 0 solid #ccc;
  //  padding: 12px 9px;
  //  max-height: 46px;
  //  /* min-width: 30px; */
  //  max-width: 18px;
  //  text-align: center;
  //}

  /* MOBILE */
  @media screen and (max-width: 37em), print and (max-width: 5in) {
    /* agnostic-table styles -------------- */
    table,
    tr,
    td {
      display: block;
    }

    thead {
      display: none;
    }

    .cx-mobile-header {
      display: inline;
      font-weight: bold;
      white-space: nowrap;
      text-align: left;
    }

    /* customization styles ---------- */
    td {
      display: grid;
      grid-template-columns: 8em auto;
      border: 0 none;
      align-items: center;
      text-align: left;
      text-indent: 0;
      padding-left: 6em;
      padding-bottom: 1em;
    }

    .cx-actions button {
      margin-left: 0;
      text-align: left;
    }

    /*   JS generated */
    th:nth-child(1) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    td:nth-of-type(1) {
      padding-left: 0;
    }

    td:nth-of-type(3) {
      text-align: left;
    }
  }
}
