%cx-cart-item-validation-warning {
  width: 100%;

  cx-icon {
    font-size: 20px;
  }

  .alert-icon {
    margin-inline-end: var(--cx-margin-right, 1rem);
  }

  .alert {
    justify-content: flex-start;
    text-align: var(--cx-text-align, start);

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      background-image: linear-gradient(
        var(--cx-direction-horizontal-gradient),
        #d1ecf1,
        transparent
      );
    }

    .close {
      right: 1.75rem;
    }
  }
}
