<cx-interactive-table
  [data$]="data$"
  [header]="'userGroupsList.userGroupManagement' | cxTranslate"
  [sortLabels]="{
    byUnitName: 'userGroupsList.sorting.byUnitName' | cxTranslate,
    byGroupID: 'userGroupsList.sorting.byGroupID' | cxTranslate,
    byName: 'userGroupsList.sorting.byName' | cxTranslate
  }"
  [columns]="[
    {
      key: 'uid',
      value: 'userGroupsList.id' | cxTranslate,
      cxRoute: 'userGroupDetails'
    },
    { key: 'name', value: 'userGroupsList.name' | cxTranslate },
    {
      key: 'parentUnit',
      value: 'userGroupsList.parentUnit' | cxTranslate,
      cxRoute: 'orgUnitDetails'
    }
  ]"
  (pageChange)="pageChange($event)"
  (changeSortCode)="changeSortCode($event)"
>
  <div class="col-md-12 col-lg-3">
    <div class="row cx-search-links mb-3">
      <div class="col-12 cx-textalign">
        <button
          [routerLink]="{ cxRoute: 'userGroupCreate' } | cxUrl"
          class="btn btn-primary btn-block"
        >
          {{ 'userGroupsList.create' | cxTranslate }}
        </button>
      </div>
    </div>
  </div>
</cx-interactive-table>
