<div
  [cxFocus]="focusConfig"
  (esc)="close('Escape clicked')"
  class="cx-modal-container"
  role="dialog"
  aria-labelledby="dialogTitle"
  aria-modal="true"
>
  <div class="cx-modal-content">
    <div class="cx-dialog-header modal-header">
      <div id="dialogTitle" class="cx-dialog-title modal-title">
        <span>
          {{ 'attachments.dialog.title' | cxTranslate }}
        </span>
        @if (attachmentsCount(); as count) {
          <span class="attachments-counter">
            {{ '(' + count + ')' }}
          </span>
        }
      </div>
      <button
        type="button"
        class="close"
        attr.aria-label="{{ 'attachments.dialog.closeModal' | cxTranslate }}"
        title="{{ 'attachments.dialog.closeModal' | cxTranslate }}"
        (click)="close('Close dialog')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      @for (errorId of erroredAttachments; track errorId) {
        <cx-message
          [text]="'attachments.dialog.downloadError' | cxTranslate"
          [type]="globalMessageType.MSG_TYPE_ERROR"
          (closeMessage)="closeErrorMessage(errorId)"
          class="cx-dialog-message attachment-error"
        >
        </cx-message>
      }
      @if (attachments$ | async; as attachments) {
        @if (!loadError()) {
          @if (attachmentsCount()) {
            <table class="table">
              @for (attachment of attachments; track attachment) {
                @if (attachment.sapAttachmentId) {
                  <tr class="order-attachment-row">
                    <td>
                      <a
                        attr.aria-label="{{
                          'attachments.dialog.preview' | cxTranslate
                        }}"
                        title="{{ 'attachments.dialog.preview' | cxTranslate }}"
                        [ngClass]="{
                          disabled: loadingAttachments.includes(
                            attachment.sapAttachmentId
                          ),
                        }"
                        (mousedown)="
                          onMouseDown(
                            $event,
                            attachment.sapAttachmentId,
                            attachment.sapFileName
                          )
                        "
                        (keydown.enter)="
                          openOrderAttachment(
                            attachment.sapAttachmentId,
                            attachment.sapFileName
                          )
                        "
                      >
                        {{ attachment.sapFileName }}
                      </a>
                    </td>
                    <td>
                      <div
                        class="inline-spinner"
                        [ngClass]="{
                          hidden: !loadingAttachments.includes(
                            attachment.sapAttachmentId
                          ),
                        }"
                      >
                        <cx-spinner></cx-spinner>
                      </div>
                    </td>
                    <td>
                      <a
                        tabindex="0"
                        role="button"
                        class="file-icon"
                        attr.aria-label="{{
                          'attachments.dialog.preview' | cxTranslate
                        }}"
                        title="{{ 'attachments.dialog.preview' | cxTranslate }}"
                        [ngClass]="{
                          disabled: loadingAttachments.includes(
                            attachment.sapAttachmentId
                          ),
                        }"
                        (click)="
                          openOrderAttachment(
                            attachment.sapAttachmentId,
                            attachment.sapFileName
                          )
                        "
                        (keydown.enter)="
                          openOrderAttachment(
                            attachment.sapAttachmentId,
                            attachment.sapFileName
                          )
                        "
                      >
                        <cx-icon [type]="iconTypes.FILE"></cx-icon>
                      </a>
                    </td>
                  </tr>
                }
              }
            </table>
          } @else {
            <cx-message
              [text]="'attachments.dialog.empty' | cxTranslate"
              [type]="globalMessageType.MSG_TYPE_INFO"
              [isVisibleCloseButton]="false"
              class="cx-dialog-message info-message"
            >
            </cx-message>
          }
        } @else {
          <cx-message
            [text]="'attachments.dialog.error' | cxTranslate"
            [type]="globalMessageType.MSG_TYPE_ERROR"
            [isVisibleCloseButton]="false"
            class="cx-dialog-message error-message"
          >
          </cx-message>
        }
      } @else {
        <div class="cx-spinner">
          <cx-spinner></cx-spinner>
        </div>
      }
    </div>

    <!-- Modal Footer -->
    <div class="cx-dialog-footer modal-footer">
      <button
        (click)="close('Cancel dialog')"
        [attr.aria-label]="'common.cancel' | cxTranslate"
        class="btn btn-secondary cancel-button"
        type="button"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
    </div>
  </div>
</div>
