%cx-customer-ticketing-list {
  .cx-table {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    thead {
      border-top: 1px solid var(--cx-color-light);

      th {
        text-transform: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
        padding: 16px 0;
      }
    }
    tbody {
      tr {
        td {
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          padding: 16px 0;
        }
      }
    }
  }

  .cx-ticketing-list-mobile {
    @include media-breakpoint-down(lg) {
      border-top: 1px solid var(--cx-color-light);
      display: flex;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }

    .cx-tickting-list-ticket-mobile-icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    cx-icon {
      color: #a0aabf;
    }

    .cx-ticketing-list-ticket-item-mobile {
      margin-top: 15px;
      margin-bottom: 15px;
      display: inline-block;
    }
  }

  .cx-ticketing-list-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 4px;
    border: 1px solid var(--cx-color-light);
    margin-bottom: 20px;
    background-color: #fbfbfb;

    @include media-breakpoint-down(lg) {
      @include type(7, $font-weight-normal);
      height: 36px;
    }

    &:focus {
      background-color: var(--cx-color-inverse);
    }
  }
}
