%cx-customer-ticketing-list {
  .cx-table {
    padding: 1.5rem 0 1.125rem 0;
    margin-bottom: 0;
    border-width: 1px 0 1px 0;
    border-color: var(--cx-color-light);
    border-style: solid;

    @include media-breakpoint-down(md) {
      display: none;
    }

    tr {
      width: 100%;

      &:hover {
        background-color: var(--cx-color-background);
      }

      // @include media-breakpoint-down(md) {
      //   border-width: 1px 0 0 0;
      //   border-color: var(--cx-color-light);
      //   border-style: solid;

      //   &:first-child {
      //     border-width: 0;
      //     padding: 1.25rem 0 0 0;
      //   }
      // }
    }

    th {
      padding: 1rem 0;
      text-align: start;

      &:first-child {
        padding-inline-start: 20px;
      }

      &:last-child {
        text-align: end;
        padding-inline-end: 20px;
      }
    }

    td {
      padding-top: 1.6875rem;
      padding-inline-end: 0.5rem;
      padding-bottom: 1.75rem;
      padding-inline-start: 0;

      @include media-breakpoint-up(md) {
        text-align: start;

        &:last-child {
          text-align: end;
          line-height: var(--cx-line-height);
          padding-inline-end: 20px;
        }
      }

      // @include media-breakpoint-down(md) {
      //   width: 100%;
      //   display: flex;
      //   border-width: 0;
      //   padding: 0 1.25rem;

      //   &:first-child {
      //     padding-top: 1.25rem;
      //   }

      //   &:last-child {
      //     padding-top: 1rem;
      //     padding-bottom: 1.25rem;
      //   }
      // }
    }
  }

  .cx-ticketing-list-mobile {
    @include media-breakpoint-down(lg) {
      border-top: 1px solid var(--cx-color-light);
      padding-bottom: 10px;
      padding-top: 10px;
      display: flex;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }

    .cx-tickting-list-ticket-mobile-icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    cx-icon {
      color: #a0aabf;
    }

    .cx-ticketing-list-ticket-item-mobile {
      margin-top: 3px;
      margin-bottom: 3px;
      display: block;

      color: var(--cx-color-secondary);

      @include media-breakpoint-down(md) {
        font-size: var(--cx-font-size, 0.875rem);
        font-weight: var(--cx-font-weight-bold);
        min-width: 140px;
      }
    }

    .cx-ticketing-list-ticket-item-mobile-description {
      display: flex;
    }
  }

  .cx-ticketing-list-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 4px;
    border: 1px solid var(--cx-color-light);
    margin-bottom: 20px;
    background-color: #fbfbfb;

    @include media-breakpoint-down(lg) {
      @include type(7, $font-weight-normal);
      height: 36px;
    }

    &:focus {
      background-color: var(--cx-color-inverse);
    }
  }
}
