%cx-video {
  video {
    width: 100%;
    display: inherit;
  }
  h2 {
    @include type('3');
    font-weight: bold;
  }
  .video-text {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
