@if (items && items.length > 0 && (size$ | async); as size) {
  @if (title) {
    <h2>{{ title }}</h2>
  }

  <div class="carousel-panel" [ngClass]="'size-' + size">
    @if (size < items.length) {
      <button
        class="previous"
        (click)="
          $event.stopPropagation();
          activeSlide === 0 ? null : (activeSlide = activeSlide - size)
        "
        [attr.aria-disabled]="activeSlide === 0"
        [attr.aria-label]="'carousel.previousSlide' | cxTranslate"
        [attr.title]="'carousel.previousSlide' | cxTranslate"
        (keydown.arrowleft)="shareEvent($any($event))"
        (keydown.arrowright)="shareEvent($any($event))"
        (keydown.arrowup)="shareEvent($any($event))"
        (keydown.arrowdown)="shareEvent($any($event))"
      >
        <cx-icon [type]="previousIcon"></cx-icon>
      </button>
    }
    <div class="slides">
      @for (_ of items; track trackByFn(i, _); let i = $index) {
        @if (i % size === 0) {
          <div class="slide" [class.active]="i === activeSlide">
            @for (
              item of items | slice: i : i + size;
              track trackByFn(j, item);
              let j = $index
            ) {
              @if (item | async; as data) {
                <div
                  class="item"
                  [class.active]="i === activeSlide"
                  (keydown)="onItemKeydown($event, size)"
                >
                  <ng-container
                    *ngTemplateOutlet="
                      template;
                      context: {
                        item: data,
                        itemIndex: i + j,
                      }
                    "
                  ></ng-container>
                </div>
              }
            }
          </div>
        }
      }
    </div>

    @if (size < items.length) {
      <button
        class="next"
        (click)="
          $event.stopPropagation();
          activeSlide > items.length - size - 1
            ? null
            : (activeSlide = activeSlide + size)
        "
        [attr.aria-disabled]="activeSlide > items.length - size - 1"
        [attr.aria-label]="'carousel.nextSlide' | cxTranslate"
        [attr.title]="'carousel.nextSlide' | cxTranslate"
        (keydown.arrowleft)="shareEvent($any($event))"
        (keydown.arrowright)="shareEvent($any($event))"
        (keydown.arrowup)="shareEvent($any($event))"
        (keydown.arrowdown)="shareEvent($any($event))"
      >
        <cx-icon [type]="nextIcon"></cx-icon>
      </button>
    }
  </div>

  @if (!hideIndicators && size < items.length) {
    <div class="indicators">
      @for (_ of items; track _; let i = $index) {
        @if (i % size === 0) {
          <button
            (click)="$event.stopPropagation(); activeSlide = i"
            [attr.aria-current]="i === activeSlide"
            [attr.aria-disabled]="i === activeSlide"
            [attr.aria-label]="
              'carousel.slideNumber'
                | cxTranslate
                  : {
                      currentSlideNumber: getSlideNumber(size, i),
                      numberOfSlides: size,
                    }
            "
            [attr.title]="
              'carousel.slideNumber'
                | cxTranslate
                  : {
                      currentSlideNumber: getSlideNumber(size, i),
                      numberOfSlides: size,
                    }
            "
          >
            <cx-icon [type]="indicatorIcon" aria-hidden="true"></cx-icon>
          </button>
        }
      }
    </div>
  }
}
