<ng-container *ngIf="tickets$ | async as ticketList">
  <ng-container *ngIf="ticketList.tickets?.length > 0; else noCustomerTickets">
    <h3 class="cx-ticketing-list-title">
      <span class="cx-ticketing-list-title-text">
        {{ 'customerTicketingList.requestTitle' | cxTranslate }}
      </span>
      <span class="cx-ticketing-list-title-count">
        ({{ ticketList.tickets.length }})
      </span>
    </h3>

    <div class="cx-ticketing-list-sort top">
      <label class="cx-ticketing-list-form-group form-group">
        <span>
          {{ 'customerTicketingList.sortSubtitle' | cxTranslate }}
        </span>
        <cx-sorting
          [sortOptions]="ticketList.sorts"
          [sortLabels]="getSortLabels() | async"
          (sortListEvent)="changeSortCode($event)"
          [selectedOption]="ticketList.pagination.sort"
          placeholder="{{ 'customerTicketingList.sortSubtitle' | cxTranslate }}"
          [ariaLabel]="'customerTicketingList.sortOrders' | cxTranslate"
          ariaControls="ticketing-list-table"
        ></cx-sorting>
      </label>
      <div
        *ngIf="ticketList.pagination.totalPages > 1"
        class="cx-ticketing-list-pagination"
      >
        <cx-pagination
          [pagination]="ticketList.pagination"
          (viewPageEvent)="pageChange($event)"
        ></cx-pagination>
      </div>
    </div>

    <table id="ticketing-list-table" class="table cx-ticketing-list-table">
      <thead class="cx-ticketing-list-thead-mobile">
        <tr>
          <th scope="col">{{ 'customerTicketing.ticketId' | cxTranslate }}</th>
          <th scope="col">
            {{ 'customerTicketingList.subject' | cxTranslate }}
          </th>
          <th scope="col">
            {{ 'customerTicketingList.ticketCategory' | cxTranslate }}
          </th>
          <th scope="col">{{ 'customerTicketing.createdOn' | cxTranslate }}</th>
          <th scope="col">{{ 'customerTicketing.changedOn' | cxTranslate }}</th>
          <th scope="col">{{ 'customerTicketing.status' | cxTranslate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of ticketList.tickets">
          <td class="cx-ticketing-list-data">
            <div class="cx-ticketing-list-label">
              {{ 'customerTicketingList.mobile.ticketIdFull' | cxTranslate }}
            </div>
            <a
              [routerLink]="
                { cxRoute: 'supportTicketDetails', params: ticket.id } | cxUrl
              "
              class="cx-ticketing-list-value"
            >
              {{ ticket.id }}
            </a>
          </td>
          <td class="cx-ticketing-list-data">
            <div class="cx-ticketing-list-label">
              {{ 'customerTicketingList.subject' | cxTranslate }}
            </div>
            <a
              [routerLink]="
                { cxRoute: 'supportTicketDetails', params: ticket.id } | cxUrl
              "
              class="cx-ticketing-list-value"
            >
              {{ ticket.subject }}
            </a>
          </td>
          <td class="cx-ticketing-list-data-extra">
            <div class="cx-ticketing-list-label">
              {{ 'customerTicketingList.ticketCategory' | cxTranslate }}
            </div>
            <a
              [routerLink]="
                { cxRoute: 'supportTicketDetails', params: ticket.id } | cxUrl
              "
              class="cx-ticketing-list-value"
            >
              {{ ticket.ticketCategory.name }}
            </a>
          </td>
          <td class="cx-ticketing-list-data-extra">
            <div class="cx-ticketing-list-label">
              {{ 'customerTicketing.createdOn' | cxTranslate }}
            </div>
            <a
              [routerLink]="
                { cxRoute: 'supportTicketDetails', params: ticket.id } | cxUrl
              "
              class="cx-ticketing-list-value"
            >
              {{ ticket.createdAt | cxDate }}
            </a>
          </td>
          <td class="cx-ticketing-list-data-extra">
            <div class="cx-ticketing-list-label">
              {{ 'customerTicketing.changedOn' | cxTranslate }}
            </div>
            <a
              [routerLink]="
                { cxRoute: 'supportTicketDetails', params: ticket.id } | cxUrl
              "
              class="cx-ticketing-list-value"
            >
              {{ ticket.modifiedAt | cxDate }}
            </a>
          </td>
          <td class="cx-ticketing-list-data-extra">
            <div class="cx-ticketing-list-label">
              {{ 'customerTicketing.status' | cxTranslate }}
            </div>
            <a
              [routerLink]="
                { cxRoute: 'supportTicketDetails', params: ticket.id } | cxUrl
              "
              class="cx-ticketing-list-value"
            >
              <span [ngClass]="getStatusClass(ticket.status.id)">
                {{ ticket.status.name }}
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="cx-ticketing-list-sort bottom">
      <div
        *ngIf="ticketList.pagination.totalPages > 1"
        class="cx-ticketing-list-pagination"
      >
        <cx-pagination
          [pagination]="ticketList.pagination"
          (viewPageEvent)="pageChange($event)"
        ></cx-pagination>
      </div>
    </div>
  </ng-container>
  <ng-template #noCustomerTickets>
    <ng-container>
      <div class="text-center">
        <h3>{{ 'customerTicketingList.noTickets' | cxTranslate }}</h3>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
