<ng-container *ngIf="form$ | async as form">
  <ng-container *ngTemplateOutlet="actions" />

  <cx-amend-order-items
    *ngIf="entries$ | async as entries"
    [entries]="entries"
  />

  <cx-form-errors [control]="form.get('entries')" />

  <ng-container *ngTemplateOutlet="actions" />

  <ng-template #actions>
    <cx-amend-order-actions
      *ngIf="orderCode"
      [orderCode]="orderCode"
      [amendOrderForm]="form"
      backRoute="orderDetails"
      forwardRoute="orderReturnConfirmation"
    />
  </ng-template>
</ng-container>
