@mixin cx-configurator-overview-ghost-menu {
  .cx-ghost-menu {
    .cx-ghost-menu-bar,
    .cx-ghost-menu-item-title {
      background-color: var(--cx-color-ghost);
    }

    .cx-ghost-menu-bar {
      width: 100%;
      height: 58px;
      margin-block-end: 8px;
    }

    .cx-ghost-menu-level1 {
      margin-block-start: 22px;

      .cx-ghost-menu-item:nth-child(1) {
        width: 95%;
      }

      .cx-ghost-menu-level2 {
        margin-inline-start: 55px;

        .cx-ghost-menu-item:nth-child(1) {
          width: 65%;
        }

        .cx-ghost-menu-item:nth-child(2) {
          width: 75%;
        }

        .cx-ghost-menu-item:nth-child(3) {
          width: 55%;
        }

        .cx-ghost-menu-item:nth-child(4) {
          width: 65%;
        }
      }

      .cx-ghost-menu-level3 {
        margin-inline-start: 55px;

        .cx-ghost-menu-item:nth-child(1) {
          width: 65%;
        }

        .cx-ghost-menu-item:nth-child(2) {
          width: 75%;
        }

        .cx-ghost-menu-item:nth-child(3) {
          width: 55%;
        }

        .cx-ghost-menu-item:nth-child(4) {
          width: 65%;
        }
      }
    }

    .cx-ghost-menu-item-title {
      height: 30px;
      margin-block-end: 8px;
      padding-block-end: 5px;
    }
  }
}
