@mixin cx-configurator-footer-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-block-start: 15px;
  padding-block-end: 15px;
  margin-block-start: 15px;

  @include forVersion(3.1) {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 16px;
    padding-block-end: 16px;
  }

  @include media-breakpoint-down(sm) {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 20px;
    padding-block-end: 20px;
    justify-content: center;

    @include forVersion(3.1) {
      padding-inline-start: 16px;
      padding-inline-end: 16px;
      padding-block-start: 16px;
      padding-block-end: 16px;
    }
  }
}
