@if (
  quoteDiscountData &&
  quoteDiscountData.basePrice?.value !== undefined &&
  quoteDiscountData.cpqDiscounts &&
  quoteDiscountData.cpqDiscounts.length > 0
) {
  <ng-container class="cx-cpq-quote-discount">
    @for (discount of quoteDiscountData.cpqDiscounts; track discount) {
      <div class="cx-offer">
        {{
          'discountCaption'
            | cxTranslate
              : {
                  discount: formatDiscount(
                    getDiscountPercentage(
                      quoteDiscountData.basePrice?.value ?? 0,
                      discount.appliedValue,
                      quoteDiscountData.quantity
                    )
                  ),
                }
        }}
      </div>
    }
  </ng-container>
}
