<ng-container
  *ngIf="
    quoteDiscountData &&
    quoteDiscountData.basePrice?.value !== undefined &&
    quoteDiscountData.cpqDiscounts &&
    quoteDiscountData.cpqDiscounts.length > 0
  "
  class="cpq-quote-discount"
>
  <ng-container *ngFor="let discount of quoteDiscountData.cpqDiscounts">
    <div class="offer">
      {{
        'discountCaption'
          | cxTranslate
            : {
                discount: discount?.value,
              }
      }}
    </div></ng-container>


</ng-container>


