<form
  (submit)="resetPassword()"
  [formGroup]="form"
  class="cx-reset-password-form-component"
>
  <div class="form-group">
    <label>
      <span class="label-content">{{
        'register.newPassword' | cxTranslate
      }}</span>
      <input
        class="form-control"
        [class.is-invalid]="
          form.get('password').invalid &&
          (submited ||
            (form.get('password').dirty && form.get('password').touched))
        "
        type="password"
        name="password"
        placeholder="{{ 'register.password.placeholder' | cxTranslate }}"
        formControlName="password"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          form.get('password').invalid &&
          (submited ||
            (form.get('password').dirty && form.get('password').touched))
        "
      >
        <span>{{ 'register.passwordMinRequirements' | cxTranslate }}</span>
      </div>
    </label>
  </div>

  <div class="form-group">
    <label>
      <span class="label-content">{{
        'register.passwordMinRequirements' | cxTranslate
      }}</span>
      <input
        class="form-control"
        [class.is-invalid]="
          form.hasError('NotEqual') &&
          (submited ||
            (form.get('repassword').dirty && form.get('repassword').touched))
        "
        type="password"
        name="confirmpassword"
        placeholder="{{ 'register.confirmPassword.placeholder' | cxTranslate }}"
        formControlName="repassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          form.hasError('NotEqual') &&
          (submited ||
            (form.get('repassword').dirty && form.get('repassword').touched))
        "
      >
        <span>{{ 'register.bothPasswordMustMatch' | cxTranslate }}</span>
      </div>
    </label>
  </div>

  <div class="form-group">
    <button class="btn btn-block btn-primary" type="submit">
      {{ 'register.resetPassword' | cxTranslate }}
    </button>
  </div>
</form>
