@import '@spartacus/styles/scss/misc/table';
%PunchoutTemplate {
  @include cx-highContrastTheme {
    background-color: var(--cx-color-background);
  }

  .SiteLogin {
    @include media-breakpoint-up('lg') {
      padding: 0.5rem 1rem;
      max-width: var(--cx-page-width-max);
      margin: auto;
    }

    cx-login {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }
  }

  cx-punchout-inspect-cart {
    padding: 1.5rem;
  }

  .SiteContext {
    $padding: max(1.5rem, calc((100vw - var(--cx-page-width-max)) / 2));
    padding-inline-start: $padding;
    padding-inline-end: $padding;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--cx-color-background);
    justify-content: flex-start;

    @include media-breakpoint-down(sm) {
      padding-inline-end: 0%;
      flex: 0 0 auto;
    }

    cx-site-context-selector {
      flex: 0 0 auto;
      min-width: 0;
    }
  }
  .BodyContent {
    min-height: calc(100vh - 200px);
  }
}

.cxPunchoutSessionActive {
  > cx-added-to-cart-dialog {
    div.cx-dialog-buttons > button.btn-secondary {
      display: none;
    }
  }

  cx-product-reviews .header button.btn-primary {
    display: none;
  }
}

.cxPunchoutSessionActive.cx-theme-high-contrast-dark,
.cxPunchoutSessionActive.cx-theme-high-contrast-light {
  background-color: var(--cx-color-background);
}
