@import '@spartacus/styles/scss/misc/table';
%PunchoutTemplate {
  .SiteLogin {
    @include media-breakpoint-up('lg') {
      padding: 0.5rem 1rem;
    }

    cx-login {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }
  }

  cx-punchout-inspect-cart {
    padding: 1.5rem;
  }

  .SiteContext {
    padding-inline-start: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--cx-color-background);
    justify-content: flex-start;

    @include media-breakpoint-down(sm) {
      padding-inline-end: 0%;
      flex: 0 0 auto;
    }

    cx-site-context-selector {
      flex: 0 0 auto;
      min-width: 0;
    }
  }
}

.cxPunchoutSessionActive {
  > cx-added-to-cart-dialog {
    div.cx-dialog-buttons > button.btn-secondary {
      display: none;
    }
  }

  cx-product-reviews .header button.btn-primary {
    display: none;
  }
}
