@import '@spartacus/styles/scss/misc/table';
%cx-punchout-inspect-cart {
  @extend .cx-agnostic-table;

  cx-order-summary {
    margin-bottom: 1.5rem;
  }
  display: flex;
  max-width: var(--cx-page-width-max);

  @include media-breakpoint-down(md) {
    display: block;
    min-width: auto;
  }

  .punchoutStartSection {
    flex: 1;
    padding-inline-end: 1.5rem;
    @include media-breakpoint-down(md) {
      padding-inline-end: unset;
    }
  }

  .punchoutEndSection {
    flex: 0 0 30%;
  }
}
