<div class="cx-store">
  <div class="cx-store-address">
    <div class="cx-store-full-address">
      <cx-store-address [storeDetails]="storeDetails"></cx-store-address>

      <div>
        <div>
          <button
            (click)="toggleOpenHours()"
            class="cx-store-opening-hours-toggle"
          >
            {{ 'store.viewHours' | cxTranslate }}
            <span class="cx-store-opening-hours-icon"
              ><cx-icon
                [type]="
                  openHoursOpen ? ICON_TYPE.CARET_UP : ICON_TYPE.CARET_DOWN
                "
              ></cx-icon
            ></span>
          </button>
        </div>
        <cx-store-schedule *ngIf="openHoursOpen" [storeDetails]="storeDetails">
        </cx-store-schedule>
        <cx-set-preferred-store
          [pointOfServiceName]="{
            name: storeDetails?.name,
            displayName: storeDetails?.displayName
          }"
        ></cx-set-preferred-store>
      </div>
    </div>
  </div>
  <div>
    <div class="cx-store-distance">{{ storeDetails?.formattedDistance }}</div>
    <div>
      <cx-icon
        class="cx-store-stock-icon"
        *ngIf="isInStock"
        [type]="ICON_TYPE.CHECK"
      ></cx-icon>
      <span
        class="cx-stock-level"
        [ngClass]="{
          'cx-store-in-stock': isInStock,
          'cx-store-out-of-stock': !isInStock
        }"
      >
        {{
          'store.stockLevel'
            | cxTranslate
              : {
                  context: isInStock ? 'inStock' : 'outOfStock',
                  count: storeDetails?.stockInfo?.stockLevel
                }
        }}</span
      >
    </div>
  </div>
</div>
<div class="cx-store-pick-up-from-here">
  <button
    (click)="selectStore()"
    class="btn btn-secondary btn-block"
    [disabled]="!isInStock"
    [attr.data-pickup-in-store-button]="storeDetails.name"
  >
    {{ 'store.pickupFromHere' | cxTranslate }}
  </button>
</div>
