<ng-container *ngIf="savedCart$ | async as cart">
  <ng-container *ngIf="cart?.entries?.length > 0; else emptyCartItems">
    <div role="status" [attr.aria-label]="'common.loaded' | cxTranslate"></div>
    <div class="cart-details-wrapper">
      <ng-template
        [cxOutlet]="CartOutlets.CART_ITEM_LIST"
        [cxOutletContext]="{
          cartId: cart.code,
          cartIsLoading: !(cartLoaded$ | async),
          items: cart.entries,
          promotionLocation: CartLocation.SavedCart,
          options: {
            displayAddToCart: true,
            addToCartString: (buyItAgainTranslation$ | async),
            optionalBtn: addToCartBtn
          }
        }"
      >
      </ng-template>
    </div>
  </ng-container>
</ng-container>
<ng-template #emptyCartItems>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>

<ng-template let-ctx #addToCartBtn>
  <cx-add-to-cart
    [productCode]="ctx.item.product?.code"
    [product]="ctx.item.product"
    [showQuantity]="false"
    [options]="ctx.options"
  >
  </cx-add-to-cart>
</ng-template>
