<ng-container *ngIf="billingList$ | async as billingList; else loading">
  <div class="billing-list-title-section">
    <h3>{{ 'subscriptionBillsList.title' | cxTranslate }}</h3>
  </div>

  <div class="billing-list-filter-section">
    <div class="date-filters-wrapper">
      <div class="date-filters">
        <div class="dateRangeInputContainer" (click)="launchDateRangeModal()">
          <span class="sort-label label-text">
            {{ 'subscriptionBillsList.dateRangeLabel' | cxTranslate }}
          </span>
          <input
            type="text"
            disabled
            class="form-control"
            [placeholder]="
              'subscriptionBillsList.dateRangeInputPlaceholder' | cxTranslate
            "
            [value]="getDateRangeFieldValue()"
          />
          <button class="btn btn-tertiary btn-calendar">
            <cx-icon class="fa fa-calendar"></cx-icon>
          </button>
        </div>
        <button
          class="btn btn-tertiary btn-clear"
          *ngIf="getDateRangeFieldValue()"
          (click)="onResetDateRange()"
        >
          {{ 'subscriptionBillsList.clear' | cxTranslate }}
        </button>
      </div>
    </div>

    <div class="billing-list-sorting-bar">
      <span class="sort-label label-text">
        {{ 'subscriptionBillsList.sortLabel' | cxTranslate }}
      </span>
      <cx-sorting
        [sortOptions]="billingList.sorts"
        (sortListEvent)="onSortCodeChange($event)"
        [selectedOption]="billingList.pagination?.sort"
        placeholder="{{ 'subscriptionBillsList.sortLabel' | cxTranslate }}"
        [ariaLabel]="'subscriptionBillsList.sortOrders'"
      ></cx-sorting>
    </div>
  </div>
  <ng-container *ngIf="billingList.results?.length > 0; else noBills">
    <!-- table starts -->
    <table id="billing-list-table" class="table cx-billing-list-table">
      <thead class="cx-billing-list-thead">
        <tr scope="row">
          <th scope="col">
            <div class="cx-billing-list-table-header">
              {{ 'subscriptionBillsList.tableHeaderColId' | cxTranslate }}
            </div>
          </th>
          <th scope="col">
            <div class="cx-billing-list-table-header">
              {{ 'subscriptionBillsList.tableHeaderColDate' | cxTranslate }}
            </div>
          </th>
          <th scope="col">
            <div class="cx-billing-list-table-header">
              {{
                'subscriptionBillsList.tableHeaderColSubscriptions'
                  | cxTranslate
              }}
            </div>
          </th>
          <th scope="col">
            <div class="cx-billing-list-table-header">
              {{ 'subscriptionBillsList.tableHeaderColTotal' | cxTranslate }}
            </div>
          </th>
          <th scope="col">
            <div class="cx-billing-list-table-header"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billing of billingList.results">
          <td>
            <div class="cx-billing-list-table-col">
              {{ billing.documentNumber }}
            </div>
          </td>
          <td>
            <div class="cx-billing-list-table-col">
              {{ billing.billAt | cxDate }}
            </div>
          </td>
          <td>
            <div class="cx-billing-list-table-col">
              {{ billing.items?.[0]?.productName }}
              <ng-container *ngIf="billing.items.length > 1">
                ...
                <a
                  [title]="getSubscriptionItems(billing)"
                  [routerLink]="
                    {
                      cxRoute: 'subscriptionBillingDetails',
                      params: { subscriptionBillId: billing.documentNumber },
                    } | cxUrl
                  "
                  >{{
                    'subscriptionBillsList.descriptionSuffix'
                      | cxTranslate: { numberOfItems: billing.items.length - 1 }
                  }}
                </a>
              </ng-container>
            </div>
          </td>
          <td>
            <div class="cx-billing-list-table-col">
              {{ billing.netAmount.replace('USD', '$') }}
            </div>
          </td>
          <td>
            <div class="cx-billing-list-table-col">
              <a
                [routerLink]="
                  {
                    cxRoute: 'subscriptionBillingDetails',
                    params: { subscriptionBillId: billing.documentNumber },
                  } | cxUrl
                "
              >
                <div class="cx-billing-list-table-col">
                  {{ 'subscriptionBillsList.tableViewBillCol' | cxTranslate }}
                </div>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="billing-list-pagination-bar">
      <ng-container *ngIf="(billingList.pagination?.totalPages ?? 0) > 1">
        <cx-pagination
          [pagination]="billingList.pagination"
          (viewPageEvent)="onPageChange($event)"
        ></cx-pagination>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>

<ng-template #noBills>
  <div class="text-center">
    <h3>{{ 'subscriptionBillsList.noSubscriptionBills' | cxTranslate }}</h3>
  </div>
</ng-template>
