@if (product$ | async; as product) {
  @if (product?.averageRating) {
    <div class="rating">
      <cx-star-rating [rating]="product?.averageRating ?? 0"></cx-star-rating>

      <div class="count">({{ product?.numberOfReviews }})</div>
      <!-- TODO: (CXSPA-7603) - Remove feature flag next major release. -->
      <ng-container *cxFeature="'a11yLinkBtnsToTertiaryBtns'">
        @if (product?.averageRating) {
          <button
            class="btn btn-tertiary"
            (click)="showReviews()"
            [attr.aria-label]="
              'productSummary.showReviewsDetailed'
                | cxTranslate
                  : {
                      rating: product?.averageRating | number: '1.0-1',
                      count: product?.numberOfReviews,
                    }
            "
          >
            {{ 'productSummary.showReviews' | cxTranslate }}
          </button>
        }
      </ng-container>
      <ng-container *cxFeature="'!a11yLinkBtnsToTertiaryBtns'">
        @if (areReviewsAvailable$ | async) {
          <button
            class="btn btn-link cx-action-link"
            (click)="showReviews()"
            [attr.aria-label]="
              'productSummary.showReviewsDetailed'
                | cxTranslate
                  : {
                      rating: product?.averageRating | number: '1.0-1',
                      count: product?.numberOfReviews,
                    }
            "
          >
            {{ 'productSummary.showReviews' | cxTranslate }}
          </button>
        }
      </ng-container>
    </div>
  }
  @if (!product?.averageRating) {
    <div class="rating">
      {{ 'productDetails.noReviews' | cxTranslate }}
    </div>
  }
  <div class="code">
    {{ 'productSummary.id' | cxTranslate }} {{ product?.code }}
  </div>
}
