<!-- pickup consigned entries -->
<div *ngIf="order">
  <div
    [style.backgroundColor]="'blue'"
    *ngIf="consignmentsCount(order.pickupConsignments) > 0"
  >
    {{ 'deliveryPointOfServiceDetails.itemsToBePickUp' | cxTranslate }}
    {{
      'NewMyAccountOrderHistory.value'
        | cxTranslate: { param: consignmentsCount(order.pickupConsignments) }
    }}
    <cx-new-myaccount-order-consigned-entries
      [orderCode]="order.code ?? ''"
      [consignments]="order.pickupConsignments"
    ></cx-new-myaccount-order-consigned-entries>
  </div>

  <!-- delivery consigned entries -->
  <div
    [style.backgroundColor]="'green'"
    *ngIf="consignmentsCount(order.deliveryConsignments) > 0"
  >
    <!--heading taken from feature-libs/order/components/order-confirmation/order-confirmation-shipping/order-confirmation-shipping.component.html-->
    <!--instead of [cxOutlet]="OrderOutlets.CONSIGNMENT_DELIVERY_INFO"-->
    {{ 'checkoutMode.deliveryEntries' | cxTranslate }}
    {{
      'NewMyAccountOrderHistory.value'
        | cxTranslate: { param: consignmentsCount(order.deliveryConsignments) }
    }}
    <cx-new-myaccount-order-consigned-entries
      [orderCode]="order.code ?? ''"
      [consignments]="order.deliveryConsignments"
    ></cx-new-myaccount-order-consigned-entries>
  </div>

  <!-- unconsigned entries -->
  <div
    [style.backgroundColor]="'yellow'"
    *ngIf="orderEntriesCount(order.unconsignedEntries) > 0"
  >
    <div *ngIf="order?.statusDisplay">
      {{ 'orderDetails.statusDisplay_' + order.statusDisplay | cxTranslate }}
      {{
        'NewMyAccountOrderHistory.value'
          | cxTranslate: { param: orderEntriesCount(order.unconsignedEntries) }
      }}
    </div>
    <!-- delivery unconsigned entries -->
    <div
      [style.backgroundColor]="'pink'"
      *ngIf="orderEntriesCount(order.deliveryUnconsignedEntries) > 0"
    >
      {{ 'checkoutMode.deliveryEntries' | cxTranslate }}
      {{
        'NewMyAccountOrderHistory.value'
          | cxTranslate
            : { param: orderEntriesCount(order.deliveryUnconsignedEntries) }
      }}
    </div>
    <!-- pickup unconsigned entries, b2b does not have pickup items -->
    <div
      [style.backgroundColor]="'gray'"
      *ngIf="orderEntriesCount(order.pickupUnconsignedEntries) > 0"
    >
      {{ 'checkoutPickupInStore.heading' | cxTranslate }}
      {{
        'NewMyAccountOrderHistory.value'
          | cxTranslate
            : { param: orderEntriesCount(order.pickupUnconsignedEntries) }
      }}
    </div>
  </div>
</div>
