<ng-container *ngIf="subscriptionDetails$ | async as subscription">
  <div class="subscription">
    <div class="subscription-header">
      <div
        class="subscription-name"
        *ngIf="subscription.name"
        [attr.aria-label]="'subscriptionList.product' | cxTranslate"
      >
        {{ subscription.name }}
      </div>
      <div
        class="subscription-status"
        [attr.aria-label]="'subscriptionList.status' | cxTranslate"
      >
        {{
          'subscriptionList.status'
            | cxTranslate: { value: subscription.subscriptionStatus }
        }}
      </div>
    </div>
    <div class="subscription-body">
      <div class="subscription-column-1">
        <div class="subscription-info">
          {{ 'subscriptionDetails.info' | cxTranslate }}
        </div>
        <div>
          {{
            'subscriptionList.id'
              | cxTranslate: { id: subscription.documentNumber }
          }}
        </div>
        <div>
          {{
            'subscriptionDetails.productCode'
              | cxTranslate: { code: subscription.productCode }
          }}
        </div>
        <div>
          {{ 'subscriptionDetails.cycle' | cxTranslate: { cycle: null } }}
        </div>
        <div>
          {{ 'subscriptionList.amount' | cxTranslate: { amount: null } }}
        </div>
        <div>
          {{
            'subscriptionList.startDate'
              | cxTranslate: { date: subscription.startAt | cxDate }
          }}
        </div>
        <div>
          {{
            'subscriptionDetails.endDate'
              | cxTranslate: { date: subscription.endAt | cxDate }
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="subscription-actions row">
    <div>
      <span class="col-xs-12 col-md-4 col-lg-3">
        <span class="action-button-left">
          <button
            [routerLink]="{ cxRoute: 'subscriptions' } | cxUrl"
            class="btn btn-block btn-secondary"
          >
            {{ 'subscriptionDetails.back' | cxTranslate }}
          </button>
        </span>
      </span>
    </div>
    <div class="cx-other-actions">
      <span class="col-xs-12 col-md-4 col-lg-3">
        <span class="action-button-right">
          <a
            *ngIf="this.isSubscriptionActive(subscription.subscriptionStatus)"
            cxBtnLikeLink
            class="btn btn-block btn-secondary"
          >
            {{ 'subscriptionDetails.cancelSubscription' | cxTranslate }}
          </a>
        </span>
        <span class="action-button-right">
          <a
            *ngIf="this.isSubscriptionActive(subscription.subscriptionStatus)"
            cxBtnLikeLink
            class="btn btn-block btn-secondary"
          >
            {{ 'subscriptionDetails.extendSubscription' | cxTranslate }}
          </a>
        </span>
        <span class="action-button-right">
          <a
            *ngIf="!this.isSubscriptionActive(subscription.subscriptionStatus)"
            cxBtnLikeLink
            class="btn btn-block btn-secondary"
          >
            {{ 'subscriptionDetails.reSubscribe' | cxTranslate }}
          </a>
        </span>
        <span class="action-button-right">
          <a
            *ngIf="this.isSubscriptionActive(subscription.subscriptionStatus)"
            cxBtnLikeLink
            class="btn btn-block btn-secondary"
          >
            {{ 'subscriptionDetails.withdrawSubscription' | cxTranslate }}
          </a>
        </span>
      </span>
    </div>
  </div>
</ng-container>
