<ng-container
  *ngIf="subscriptionDetails$ | async as subscription; else loading"
>
  <div class="subscription">
    <div class="subscription-header">
      <div
        class="subscription-name"
        *ngIf="subscription.name"
        [attr.aria-label]="'subscriptionList.product' | cxTranslate"
      >
        {{ subscription.name }}
      </div>
      <div
        class="subscription-status"
        [attr.aria-label]="'subscriptionList.status' | cxTranslate"
        *ngIf="subscription.status"
      >
        {{ 'subscriptionList.status' | cxTranslate }}
        <span [ngClass]="subscription.status.toLowerCase()">{{
          subscription.status
        }}</span>
      </div>
    </div>
    <div class="subscription-body">
      <div class="subscription-column-1">
        <div class="subscription-info">
          {{ 'subscriptionDetails.info' | cxTranslate }}
        </div>
        <div *ngIf="subscription.documentNumber">
          {{
            'subscriptionList.id'
              | cxTranslate: { id: subscription.documentNumber }
          }}
        </div>
        <div *ngIf="subscription.productCode">
          {{ 'subscriptionDetails.productCode' | cxTranslate }}
          <a
            [routerLink]="
              { cxRoute: 'product', params: { code: subscription.productCode } }
                | cxUrl
            "
          >
            {{ subscription.productCode }}
          </a>
        </div>
        <div
          *ngIf="
            subscription?.pricePlan?.recurringCharges[0]?.price
              ?.formattedValue && subscription.billingTime
          "
        >
          {{
            'subscriptionList.amount'
              | cxTranslate
                : {
                    amount:
                      subscription?.pricePlan?.recurringCharges[0]?.price
                        ?.formattedValue,
                    time: subscription.billingTime,
                  }
          }}
        </div>
        <div *ngIf="subscription.startAt">
          {{
            'subscriptionList.startDate'
              | cxTranslate: { date: subscription.startAt | cxDate }
          }}
        </div>
        <div *ngIf="subscription.endAt">
          {{
            'subscriptionDetails.endDate'
              | cxTranslate: { date: subscription.endAt | cxDate }
          }}
        </div>
        <div *ngIf="subscription.withdrawalPeriodEndAt">
          {{
            'subscriptionDetails.withdrawalEnd'
              | cxTranslate
                : { date: subscription.withdrawalPeriodEndAt | cxDate }
          }}
        </div>
        <div *ngIf="subscription.orderCode">
          {{ 'subscriptionDetails.orderCode' | cxTranslate }}
          <a
            [routerLink]="
              {
                cxRoute: 'orderDetails',
                params: { code: subscription.orderCode },
              } | cxUrl
            "
          >
            {{ subscription.orderCode }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="subscription-actions row">
    <span
      class="col-xs-12 col-md-4 col-lg-3 action-button"
      *ngIf="subscription.isWithdrawalPossible"
    >
      <a
        [attr.aria-label]="
          'subscriptionDetails.withdrawSubscription' | cxTranslate
        "
        (click)="showSubscriptionActionsDialog('withdraw')"
        cxBtnLikeLink
        class="btn btn-block btn-secondary"
      >
        {{ 'subscriptionDetails.withdrawSubscription' | cxTranslate }}
      </a>
    </span>
    <span
      class="col-xs-12 col-md-4 col-lg-3 action-button"
      *ngIf="subscription.isCancellationPossible"
    >
      <a
        cxBtnLikeLink
        class="btn btn-block btn-secondary"
        (click)="showSubscriptionActionsDialog('cancel')"
        [attr.aria-label]="
          'subscriptionDetails.cancelSubscription' | cxTranslate
        "
      >
        {{ 'subscriptionDetails.cancelSubscription' | cxTranslate }}
      </a>
    </span>
    <span
      class="col-xs-12 col-md-4 col-lg-3 action-button"
      *ngIf="subscription.isExtensionPossible"
    >
      <a
        #extendSubscriptionBtn
        [attr.aria-label]="
          'subscriptionDetails.extendSubscription' | cxTranslate
        "
        cxBtnLikeLink
        class="btn btn-block btn-primary"
        (click)="showSubscriptionActionsDialog('extend')"
      >
        {{ 'subscriptionDetails.extendSubscription' | cxTranslate }}
      </a>
    </span>
    <span
      class="col-xs-12 col-md-4 col-lg-3 action-button"
      *ngIf="subscription.isCancellationReversalPossible"
    >
      <a
        cxBtnLikeLink
        class="btn btn-block btn-primary"
        [attr.aria-label]="'subscriptionDetails.reSubscribe' | cxTranslate"
        (click)="showSubscriptionActionsDialog('resubscribe')"
      >
        {{ 'subscriptionDetails.reSubscribe' | cxTranslate }}
      </a>
    </span>
  </div>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
