<ng-container *ngIf="items?.length > 0 && (size$ | async) as size">
  <h3 *ngIf="title">{{ title }}</h3>
  {{ intersectCount$ | async }}
  <div
    #carousel
    class="carousel-panel"
    [ngClass]="'size-' + size"
    [cxFocus]="focusConfig"
  >
    <button
      class="previous"
      (click)="previous()"
      [style.visibility]="(previous$ | async)?.visible ? 'visible' : 'hidden'"
      [disabled]="!(previous$ | async)?.enabled"
    >
      <!-- 
      [cxFocus]="{ key: 'previous', group: focusConfig.group }" -->
      <cx-icon [type]="previousIcon"></cx-icon>
    </button>

    <div class="slides" #slides>
      <ng-container *ngFor="let _ of items; let i = index">
        <div
          class="slide"
          *ngIf="i % size === 0"
          [class.active]="i === activeSlide"
        >
          <!-- we render the carousel item, so that we have an element to work with -->
          <div
            *ngFor="let data of items | slice: i:i + size; let itemNum = index"
            class="item"
            [class.active]="i === activeSlide"
            (mouseenter)="prefetch = itemNum"
            cxIntersected
            #templateRef
            #item="cxIntersected"
            (intersect)="intersect($event, templateRef)"
          >
            <ng-container
              *ngTemplateOutlet="
                template;
                context: {
                  item: data,
                  prefetch: prefetch > itemNum || (item.intersect | async),
                  tab: tabIndex(templateRef) | async
                }
              "
            ></ng-container>
          </div>
        </div>
      </ng-container>
    </div>

    <button
      class="next"
      (focus)="bumpPrefetch()"
      (click)="next($event)"
      [style.visibility]="(next$ | async)?.visible ? 'visible' : 'hidden'"
      [disabled]="!(next$ | async)?.enabled"
    >
      <!-- [cxFocus]="{ key: 'next', group: focusConfig.group }" -->
      <cx-icon [type]="nextIcon"></cx-icon>
    </button>
  </div>

  <div class="indicators">
    <button
      *ngFor="let indicator of indicators$ | async; let i = index"
      (click)="scroll(indicator.index)"
      [class.selected]="indicator.selected"
      [disabled]="indicator.selected"
      [cxFocus]="{ key: i + 1, group: focusConfig.group }"
      tabindex="-1"
      (mouseenter)="prefetch = i * this._prefetchNum"
    >
      <cx-icon [type]="indicatorIcon"></cx-icon>
    </button>
  </div>
</ng-container>
