<ng-container *ngIf="items?.length > 0 && (size$ | async) as size">
  <h3 *ngIf="title">{{ title }}</h3>

  <button
    *ngIf="(navigation$ | async)?.previous as previousButton"
    class="previous"
    (click)="handlePrevious()"
    [disabled]="previousButton.disabled"
    aria-label="Press to see previous slides"
  >
    <cx-icon [type]="previousButton.icon || previousIcon"></cx-icon>
  </button>

  <div
    #carousel
    class="carousel-panel"
    [ngClass]="'size-' + size"
    [cxFocus]="focusConfig"
  >
    <div class="slides" #slides>
      <!-- 
        we still keep the notion of slide elements, although we don't use this anymore. 
        Most likely we deprecate this in 4.0. In 3.0, we start introducing virtual slides. 
      -->
      <ng-container *ngFor="let _ of items; let i = index">
        <div
          class="slide"
          *ngIf="i % size === 0"
          [class.active]="i === activeSlide"
        >
          <!-- 
            We render the carousel item, so that we have an element to work with. This allows to do skeleton, prefetching and accessibility.
          -->
          <div
            *ngFor="let data of items | slice: i:i + size; let itemNum = index"
            class="item"
            [class.active]="i === activeSlide"
            (mouseenter)="prefetch()"
            cxIntersected
            #templateRef
            #item="cxIntersected"
            (intersect)="intersect($event, templateRef)"
          >
            <ng-container
              *ngTemplateOutlet="
                template;
                context: {
                  item: isObservable(data) ? (data | async) : data,
                  prefetch: prefetchCount > itemNum || (item.intersect | async),
                  tab: getTabIndex(itemNum)
                }
              "
            ></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <button
    *ngIf="(navigation$ | async)?.next as nextButton"
    class="next"
    (mouseenter)="prefetch()"
    (focus)="prefetch()"
    (click)="handleNext($event)"
    [disabled]="nextButton.disabled"
    aria-label="Press to see the next slides"
  >
    <cx-icon [type]="nextButton.icon || nextIcon"></cx-icon>
  </button>

  <div
    *ngIf="!hideIndicators && (navigation$ | async)?.indicators as indicators"
    class="indicators"
  >
    <button
      *ngFor="let indicator of indicators; let i = index"
      (click)="scroll(indicator.position)"
      [class.selected]="indicator.selected"
      [disabled]="indicator.selected"
      [cxFocus]="{ key: i + 1, group: focusConfig.group }"
      tabindex="-1"
      (mouseenter)="prefetch(i)"
    >
      <cx-icon [type]="indicator.icon || indicatorIcon"></cx-icon>
    </button>
  </div>
</ng-container>
