<ng-container *ngIf="items?.length > 0 && (size$ | async) as size">
  <h3 *ngIf="title">{{ title }}</h3>

  <div
    #carousel
    class="carousel-panel"
    [ngClass]="'size-' + size"
    [cxFocus]="focusConfig"
  >
    <button
      class="previous"
      (click)="previous()"
      [style.visibility]="(previous$ | async)?.visible ? 'visible' : 'hidden'"
      [disabled]="!(previous$ | async)?.enabled"
      tabindex="-1"
    >
      <!-- 
      [cxFocus]="{ key: 'previous', group: focusConfig.group }" -->
      <cx-icon [type]="previousIcon"></cx-icon>
    </button>

    <div class="slides">
      <ng-container *ngFor="let _ of items; let i = index">
        <div
          class="slide"
          *ngIf="i % size === 0"
          [class.active]="i === activeSlide"
        >
          <!-- we render the carousel item, so that we have an element to work with -->
          <div
            #item
            *ngFor="let data of items | slice: i:i + size; let itemNum = index"
            class="item"
            [class.active]="i === activeSlide"
            (mouseenter)="prefetch = itemNum"
          >
            <!-- https://github.com/angular/angular/issues/12121 -->
            <ng-template
              cxIntersected
              [forceIntersect]="prefetch > j"
              (intersect)="intersect($event, item)"
            >
              <ng-container
                *ngTemplateOutlet="template; context: { item: data }"
              ></ng-container>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>

    <button
      class="next"
      (click)="next()"
      [style.visibility]="(next$ | async)?.visible ? 'visible' : 'hidden'"
      [disabled]="!(next$ | async)?.enabled"
      tabindex="-1"
    >
      <!-- [cxFocus]="{ key: 'next', group: focusConfig.group }" -->
      <cx-icon [type]="nextIcon"></cx-icon>
    </button>
  </div>

  <div class="indicators">
    <button
      *ngFor="let indicator of indicators$ | async; let i = index"
      (click)="scroll(indicator.index)"
      [class.selected]="indicator.selected"
      [disabled]="indicator.selected"
      [cxFocus]="{ key: i + 1, group: focusConfig.group }"
      tabindex="-1"
      (mouseenter)="prefetch = i * this._prefetchNum"
    >
      <cx-icon [type]="indicatorIcon"></cx-icon>
    </button>
  </div>
</ng-container>
