<ng-container *ngIf="facetList$ | async as facetList">
  <!-- TODO:(CXSPA-1695) for next major release update below feature flags -->
  <ng-container *cxFeatureLevel="'5.2'">
    <div
      id="cx-active-facets-groupName"
      *ngIf="facetList.activeFacets && facetList.activeFacets.length > 0"
    >
      {{ 'productList.appliedFilter' | cxTranslate }}
    </div>
  </ng-container>
  <ng-container *cxFeatureLevel="'!5.2'">
    <h4 *ngIf="facetList.activeFacets && facetList.activeFacets.length > 0">
      {{ 'productList.appliedFilter' | cxTranslate }}
    </h4>
  </ng-container>

  <a
    *ngFor="let facet of facetList?.activeFacets"
    routerLink="./"
    [queryParams]="getLinkParams(facet)"
    [cxFocus]="{ key: getFocusKey(facetList, facet) }"
    role="button"
    (keydown.space)="removeFilterWithSpacebar($event)"
    [attr.aria-label]="
      'productList.activeFilter' | cxTranslate: { filter: facet.facetValueName }
    "
  >
    <span>{{ facet.facetValueName }}</span>
    <cx-icon aria-hidden="true" [type]="closeIcon"></cx-icon>
  </a>
</ng-container>
