.cx-order-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cx-order-summary{
        a{
            color: #1772b7;
            font-family: 'Times New Roman', Times, serif;
        }
        width: 50%;
    }
    .cx-order-image{
        //margin-left: 50pc;
        width:88px;
        height:88px;
        display: flex;
        padding: 0px;
    }
    hr{
        width:100%
    }
    font-family: 'Times New Roman', Times, serif;
}
.cx-all-orders{
    color: black;
}