@if (products?.length) {
  <div class="product-listing">
    <div
      class="product-listing-header"
      role="heading"
      aria-level="4"
      [attr.aria-label]="headerText"
    >
      <button
        [attr.aria-label]="headerText"
        [disabled]="headerInactive"
        [class.inactive]="headerInactive"
        class="title-link link"
        (click)="clickHeader.emit()"
      >
        {{ headerText }}
      </button>
      @if (headerTemplate) {
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      }
    </div>
    @if (numberofColumns$ | async; as numberofColumns) {
      <div
        class="product-listing-items"
        [ngClass]="'column-' + numberofColumns"
        [class.show-more]="showMore"
      >
        @for (product of products; track product; let i = $index) {
          @if (showMore || i < numberofColumns) {
            <cx-asm-customer-360-product-item
              [product]="product"
              [quantity]="product?.quantity"
              (selectProduct)="selectProduct.emit($event)"
            ></cx-asm-customer-360-product-item>
          }
        }
      </div>
      @if (products.length > numberofColumns) {
        <button
          class="link cx-action-link show-hide-button"
          (click)="toggleShowMore()"
        >
          @if (!showMore) {
            <span>{{
              'asmCustomer360.productListing.showMore' | cxTranslate
            }}</span>
          } @else {
            @if (showMore) {
              <span>{{
                'asmCustomer360.productListing.showLess' | cxTranslate
              }}</span>
            }
          }
        </button>
      }
    }
  </div>
} @else {
  <div class="empty-result-description">
    {{ emptyResultDescription }}
  </div>
}
