// TODO: placeholder selector
cx-breadcrumb {
  border-bottom: 1px solid var(--cx-color-light);
  background: var(--cx-color-inverse);
}
main {
  background-color: var(--cx-color-background);
}

.CompanyPageTemplate {
  max-width: 1140px;
  padding-bottom: min(calc((100vw - 1140px) / 2), var(--cx-spatial-xl));
  margin: auto;
}
