<div id="{{ uiKeyGenerator.createAttributeIdForConfigurator(attribute) }}">
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <div class="form-group">
        <div *ngIf="attribute.values && attribute.values.length !== 0">
          <div *ngFor="let value of attribute.values; let i = index">
            <input
              type="checkbox"
              [value]="value.valueCode"
              (change)="onSelect()"
              [formControl]="attributeCheckBoxForms[i]"
              name="abc123"
            />
            <label>{{ value.valueDisplay }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
