@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

%cx-icon {
  align-self: center;

  font-size: 25px;

  svg {
    width: 28px;
    height: 28px;
    fill: currentColor;
  }
}
