%cx-icon {
  align-self: center;
  line-height: normal;

  &:before {
    font-size: 1.8rem;
  }
  &.small {
    &:before {
      font-size: 1.2rem;
    }
  }

  svg {
    width: 28px;
    height: 28px;
    fill: currentColor;
  }

  &.small {
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
