<ng-container *ngIf="product">
  <div class="variant-generic-selector">
    <ng-container *ngFor="let variant of variants">
      <span>{{ variant[0].parentVariantCategory.name }}</span>

      <div
        *ngIf="variantHasImages(variant); else noImages"
        class="image-variant-container"
      >
        <cx-media
          *ngFor="let cat of variant"
          (click)="changeVariant(cat.variantOption.code)"
          [container]="cat.variantOption?.variantOptionQualifiers[0]?.image"
          class="image-variant"
        ></cx-media>
      </div>

      <ng-template #noImages>
        <div class="select-variant-container">
          <select (change)="changeVariant($event.target.value)">
            <option
              *ngFor="let cat of variant"
              [value]="cat.variantOption.code"
              [selected]="cat.variantOption.code === product.code"
            >
              {{ cat.variantValueCategory.name }}
            </option>
          </select>
        </div>
      </ng-template>
    </ng-container>
  </div>
</ng-container>
