<ng-container *ngIf="current$ | async as item">
  <section
    *ngIf="
      isItemDisabled(item) ||
      isParentDisabled(item) ||
      isRootUnit(item) ||
      disabled
    "
  >
    <cx-icon [type]="iconTypes.INFO"></cx-icon>
    <ul>
      <li *ngIf="isItemDisabled(item) && displayMessage?.disabledCreate">
        {{ i18nRoot + '.messages.disabledCreate' | cxTranslate }}
      </li>
      <li *ngIf="isItemDisabled(item) && displayMessage?.disabledEdit">
        {{ i18nRoot + '.messages.disabledEdit' | cxTranslate }}
      </li>
      <li *ngIf="isParentDisabled(item)">
        {{ i18nRoot + '.messages.disabledEnable' | cxTranslate }}
      </li>
      <li *ngIf="isRootUnit(item)">
        {{ i18nRoot + '.messages.disabledDisable' | cxTranslate }}
      </li>
      <ng-content *ngIf="enableCustomMessage"></ng-content>
    </ul>
  </section>
</ng-container>
