.heading {
  margin-left: 40px;
}

.shipping-address {
  margin-left: 40px;
  margin-right: 200px;
}

.shipping-method {
  margin-left: 26%;
  margin-top: -170px;
}

.payment-method {
  margin-top: 150px;
  margin-left: 40px;
}

.billing-address {
  margin-left: 26%;
  margin-top: -118px;
}

.tandc {
  margin-left: 40px;
  margin-top: 2%;
}

.buttons {
  margin-left: 40px;
  margin-top: 20px;
}
