<ng-container *cxFeature="'a11yRepeatingButtonsUniqueLabels'">
  <ng-container *ngIf="{ storeSelected: storeSelected$ | async } as data">
    <div
      [attr.data-preferred-store]="pointOfServiceName.name"
      [attr.data-store-is-selected]="
        pointOfServiceName.name === data.storeSelected?.name
      "
      class="setpreferredstore-container"
      (click)="setAsPreferred()"
    >
      <div
        [ngClass]="
          pointOfServiceName.name === data.storeSelected?.name
            ? 'icon-selected'
            : 'icon-not-selected'
        "
      >
        <cx-icon aria-hidden="true" [type]="ICON_TYPE.HEART"></cx-icon>
      </div>
      <button
        data-text="setPreferredStore.myStore"
        [attr.data-preferred-store]="pointOfServiceName.name"
        class="set-preferred-heading"
        [attr.aria-label]="
          (getSetStoreButtonLabel(data.storeSelected?.name || '')
            | cxTranslate) +
          ', ' +
          pointOfServiceName.displayName
        "
      >
        {{
          getSetStoreButtonLabel(data.storeSelected?.name || '') | cxTranslate
        }}
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-container *cxFeature="'!a11yRepeatingButtonsUniqueLabels'">
  <div
    [attr.data-preferred-store]="pointOfServiceName.name"
    [attr.data-store-is-selected]="
      pointOfServiceName.name === (storeSelected$ | async)?.name
    "
    class="setpreferredstore-container"
    (click)="setAsPreferred()"
  >
    <div
      [ngClass]="{
        'icon-selected':
          pointOfServiceName.name === (storeSelected$ | async)?.name,
        'icon-not-selected':
          pointOfServiceName.name !== (storeSelected$ | async)?.name,
      }"
    >
      <cx-icon aria-hidden="true" [type]="ICON_TYPE.HEART"></cx-icon>
    </div>
    <button
      data-text="setPreferredStore.myStore"
      [attr.data-preferred-store]="pointOfServiceName.name"
      class="set-preferred-heading"
    >
      {{
        pointOfServiceName.name === (storeSelected$ | async)?.name
          ? ('setPreferredStore.myStore' | cxTranslate)
          : ('setPreferredStore.makeThisMyStore' | cxTranslate)
      }}
    </button>
  </div>
</ng-container>
