cx-add-to-saved-cart {
  .cx-add-to-saved-cart-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }
  }
}
