cx-add-to-saved-cart {
  max-height: 70px;

  .cx-add-to-saved-cart-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;

    .cx-action-link {
      &:nth-child(n + 2) {
        position: relative;
        margin-inline-start: 1rem;
        display: flex;
        align-items: start;

        &:before {
          content: '|' / '';
          color: var(--cx-color-light);
          text-decoration: none;
          position: absolute;
          left: -0.75rem;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }
  }

  a.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
  }

  button {
    &:focus {
      @include visible-focus();
    }
  }
}
