mat-grid-tile {
  // border: solid 1px red;
  // padding: 10px;
}

.product-grid-item {
  width: 100%;
  // margin: 15px;
  height: 100%;
}

#sidebar {
  width: 415px;
  width: 415px;
  float: left;
}
#products {
  margin-left: 425px;
}
