<div
  #modalDialog
  class="modal-dialog modal-dialog-centered"
  [ngClass]="{
    'extend-subscription-dialog': mode() === 'extend',
    'subscription-actions-dialog': mode() !== 'extend',
  }"
  role="dialog"
  [cxFocus]="focusConfig"
  (esc)="onDialogClose('Escape pressed')"
  aria-labelledby="dialogTitle"
>
  <div class="cx-modal-content" *ngIf="mode() !== 'extend'">
    <!-- Modal Header -->
    <div class="cx-dialog-header modal-header cx-dialog-header-cancel">
      <div id="dialogTitle" class="cx-dialog-title modal-title">
        <h4>
          <strong>
            {{
              'subscriptionActions.askConfirm'
                | cxTranslate
                  : {
                      action:
                        mode() === 'withdraw'
                          ? 'Withdraw'
                          : mode() === 'resubscribe'
                            ? 'Resubscribe'
                            : 'Cancel',
                    }
            }}
          </strong>
        </h4>
      </div>
      <button
        type="button"
        class="close pt-0"
        attr.aria-label="{{ 'subscriptionActions.closeModal' | cxTranslate }}"
        (click)="onDialogClose('Cross click')"
      >
        <span
          ><small><cx-icon [type]="iconTypes.CLOSE"></cx-icon></small
        ></span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="row">
        <div class="col-md-12">
          <!-- CANCEL MODE: show cancelData and spinner -->
          <ng-container *ngIf="mode() === 'cancel'">
            <ng-container *ngIf="cancelData(); else loading">
              <p *ngIf="cancelData()?.subscriptionEndAt">
                {{
                  'subscriptionActions.loseSubscription'
                    | cxTranslate
                      : { date: (cancelData()?.subscriptionEndAt | cxDate) }
                }}
              </p>
              <p>
                {{ 'subscriptionActions.changeMind' | cxTranslate }}
              </p>
            </ng-container>
          </ng-container>

          <!-- WITHDRAW MODE: simpler message -->
          <ng-container *ngIf="mode() === 'withdraw'">
            <p>{{ 'subscriptionActions.withdrawConfirm' | cxTranslate }}</p>
          </ng-container>

          <ng-container *ngIf="mode() === 'resubscribe'">
            <p>{{ 'subscriptionActions.resubscribeConfirm' | cxTranslate }}</p>
          </ng-container>
          <!-- Common footer for both -->
          <div class="row justify-content-end mt-3">
            <div class="cx-quote col-sm-12 col-md-6 p-1">
              <button
                type="button"
                class="btn btn-block btn-secondary"
                (click)="onDialogClose('Cancel click')"
              >
                {{ 'subscriptionActions.cancel' | cxTranslate }}
              </button>
            </div>
            <div class="cx-quote col-sm-12 col-md-6 p-1">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                (click)="onConfirm()"
              >
                {{ 'subscriptionActions.confirm' | cxTranslate }}
              </button>
            </div>
          </div>
        </div>

        <!-- Loading spinner only if mode is cancel -->
        <ng-template #loading>
          <div class="d-flex justify-content-center p-4">
            <cx-spinner></cx-spinner>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="modal-content" *ngIf="mode() === 'extend'">
    <!-- Modal Header -->

    <div class="modal-header">
      <h3
        id="dialogTitle"
        class="title modal-title"
        *ngIf="!isExtendSubscriptionBtnClicked()"
      >
        {{ 'subscriptionDetails.extendSubscription' | cxTranslate }}
      </h3>
      <h3
        id="dialogTitle"
        class="title modal-title"
        *ngIf="isExtendSubscriptionBtnClicked()"
      >
        {{ 'subscriptionActions.confirmExtensionTitle' | cxTranslate }}
      </h3>
      <button
        type="button"
        class="close"
        title="{{ 'common.close' | cxTranslate }}"
        [attr.aria-label]="'common.close' | cxTranslate"
        (click)="onDialogClose('close-dialog')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body" ngForm>
      <div class="cx-dialog-info">
        <p
          *ngIf="!isExtendSubscriptionBtnClicked()"
          [innerHTML]="'subscriptionActions.disclaimer' | cxTranslate"
        ></p>
        <p
          *ngIf="isExtendSubscriptionBtnClicked()"
          [innerHTML]="
            'subscriptionActions.disclaimerWithExtensionEndDate'
              | cxTranslate: { endDate: extensionEffectiveDate() | cxDate }
          "
        ></p>
        <p *ngIf="isExtendSubscriptionBtnClicked()">
          {{ 'subscriptionActions.noActionMessage' | cxTranslate }}
        </p>
      </div>

      <label class="form-check extend-duration-dropdown-label">
        <span class="form-check-label extend-duration-label">
          {{ 'subscriptionActions.durationInputLabel' | cxTranslate }}
          <cx-form-required-asterisks />
        </span>
        <ng-select
          name="extendDuration"
          [clearable]="false"
          [searchable]="false"
          id="extendDurationDropdown"
          [items]="extendDurationOptions"
          [readonly]="isExtendSubscriptionBtnClicked()"
          [placeholder]="
            'subscriptionActions.durationInputPlaceholder'
              | cxTranslate: { frequency: subscriptionContractFrequency }
          "
          (change)="onExtendActionDurationChange($event)"
          ariaLabelDropdown="{{
            'common.ngSelectDropdownOptionsList' | cxTranslate
          }}"
        >
          <ng-template ng-option-tmp ng-label-tmp let-item="item">
            {{ item }}
          </ng-template>
        </ng-select>
      </label>
    </div>

    <div class="cx-modal-footer extend-subscription-dialog-footer">
      <button
        (click)="onDialogClose('Cross click')"
        class="btn btn-secondary cx-dialog-buttons"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
      <button
        class="btn btn-primary dialog-buttons"
        [disabled]="!extendDuration && !isUnlimitedDurationSelected"
        *ngIf="!isExtendSubscriptionBtnClicked()"
        (click)="getExtensionEffectiveDate()"
      >
        {{ 'subscriptionActions.extend' | cxTranslate }}
      </button>
      <button
        class="btn btn-primary dialog-buttons"
        (click)="onConfirm()"
        *ngIf="
          isExtendSubscriptionBtnClicked() &&
          isExtensionEffectiveDateAvailable()
        "
      >
        {{ 'subscriptionActions.confirm' | cxTranslate }}
      </button>
    </div>
  </div>
</div>
