<ng-container *ngIf="currentGroup$ | async as currentGroup">
  <div>{{ currentGroup }}</div>
</ng-container>

<ng-container *ngIf="configuration$ | async as configuration">
  <div class="cx-total">
    {{ 'configurator.header.configId' | cxTranslate }} :
    {{ configuration.configId }}
    <br />
    {{ 'configurator.header.consistent' | cxTranslate }} :
    {{ configuration.consistent }}
    <br />
    {{ 'configurator.header.complete' | cxTranslate }} :
    {{ configuration.complete }}
  </div>
  <br />
  <ng-container *ngFor="let group of configuration.groups">
    <div
      class="cx-item-list-row cx-config-group-attribute"
      *ngIf="getActiveGroup() === group.id"
    >
      <div class="cx-total">
        {{ group.description }}
      </div>
      <br />
      <div
        class="cx-item-list-row cx-config-group-attribute"
        *ngFor="let attribute of group.attributes"
      >
        <div class="cx-config-attribute-header">
          <cx-config-attribute-header
            [attribute]="attribute"
          ></cx-config-attribute-header>
        </div>
        <div
          class="cx-config-attribute-value cx-config-attribute-value-multi col-xs-12"
          [class.cx-config-attribute-value-multi]="
            attribute.uiType === UiType.RADIOBUTTON
          "
        >
          <cx-config-attribute-radio-button
            *ngIf="attribute.uiType === UiType.RADIOBUTTON"
            [attribute]="attribute"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-radio-button>
          <cx-config-attribute-drop-down
            *ngIf="attribute.uiType === UiType.DROPDOWN"
            [attribute]="attribute"
            (selectionChange)="updateConfiguration($event)"
          ></cx-config-attribute-drop-down>
          <cx-config-attribute-input-field
            *ngIf="attribute.uiType === UiType.STRING"
            [attribute]="attribute"
            (inputChange)="updateConfiguration($event)"
          ></cx-config-attribute-input-field>
          <cx-config-attribute-read-only
            *ngIf="attribute.uiType === UiType.READ_ONLY"
            [attribute]="attribute"
          ></cx-config-attribute-read-only>
          <em *ngIf="attribute.uiType === UiType.NOT_IMPLEMENTED">{{
            'configurator.attribute.notSupported' | cxTranslate
          }}</em>
        </div>
        <div class="cx-config-attribute-footer">
          <cx-config-attribute-footer
            [attribute]="attribute"
          ></cx-config-attribute-footer>
        </div>
      </div>
      <cx-config-previous-next-buttons
        [group]="group"
        [groupList]="configuration.groups"
        (previousGroup)="navigateToPreviousGroup($event)"
        (nextGroup)="navigateToNextGroup($event)"
      ></cx-config-previous-next-buttons>
    </div>
  </ng-container>
</ng-container>
