<cx-view #view *ngIf="code$ | async as orgUnitCode">
  <ng-container *ngIf="address$ | async as orgUnitAddress">
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'orgUnitManageAddresses', params: { uid: orgUnitCode } }
            | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.close' | cxTranslate }}
      </a>
      <span>{{
        'units.unitAddressDetails.header'
          | cxTranslate
            : { name: orgUnitAddress.firstName + ' ' + orgUnitAddress.lastName }
      }}</span>
    </h3>

    <div class="actions">
      <a
        class="link"
        [routerLink]="
          {
            cxRoute: 'orgUnitAddressEdit',
            params: { code: orgUnitCode, id: orgUnitAddress.id }
          } | cxUrl
        "
      >
        {{ 'organization.edit' | cxTranslate }}
      </a>
      <a class="link" (click)="openModal(orgUnitAddress, confirmDeleteAddress)">
        {{ 'units.unitAddressDetails.delete' | cxTranslate }}
      </a>
    </div>

    <section>
      <div class="details">
        <div class="property">
          <label>{{ 'units.unitAddressDetails.id' | cxTranslate }}</label>
          <span class="value">
            {{ orgUnitAddress.id }}
          </span>
        </div>
        <div class="property">
          <label>{{ 'units.unitAddressDetails.name' | cxTranslate }}</label>
          <span class="value">
            {{ orgUnitAddress.firstName }} {{ orgUnitAddress.lastName }}
          </span>
        </div>
        <div class="property">
          <label>{{ 'units.unitAddressDetails.unit' | cxTranslate }}</label>
          <span class="value">
            <a
              [routerLink]="
                {
                  cxRoute: 'orgUnitDetails',
                  params: { uid: orgUnitAddress.orgUnitId }
                } | cxUrl
              "
            >
              {{ orgUnitAddress.orgUnitId }}
            </a>
          </span>
        </div>
        <div class="property">
          <label>{{ 'units.unitAddressDetails.details' | cxTranslate }}</label>
          <span class="value">
            {{ orgUnitAddress.formattedAddress }}
          </span>
        </div>
      </div>
    </section>
  </ng-container>
</cx-view>

<router-outlet></router-outlet>

<ng-template #confirmDeleteAddress>
  <cx-confirm-modal
    [title]="
      'units.unitManageAddresses.confirmDeleteAddress.title' | cxTranslate
    "
    [message]="
      'units.unitManageAddresses.confirmDeleteAddress.message' | cxTranslate
    "
    (confirm)="deleteAddress()"
  ></cx-confirm-modal>
</ng-template>
