%cx-cdp-body {
    // .cx-cdp-body {
    //   @include media-breakpoint-down(sm) {
    //     max-width: 100%;
    //     padding: 0;
    //     color: currentcolor;
    //     background-color: var(--cx-color-background);
    //   }
    // }
    max-width: 100%;
    max-height: 100%;
    .cx-cdp-body-table {
      padding: 10px 10px 10px 10px;
      margin-bottom: 0;
      border-top: 1px solid var(--cx-color-light);
      border-bottom: 1px solid var(--cx-color-light);
      border-left: 1px solid var(--cx-color-light);
      border-right: 1px solid var(--cx-color-light);
      margin: 30px;
  
      th{
        padding: 10px;
        text-align: start;
        background-color: var(--cx-color-background);
        &:last-child {
          text-align: end;
        }
      }

      tr{
        padding: 10px;
        text-align: left;
        border-top: 1px solid var(--cx-color-light);
        border-bottom: 1px solid var(--cx-color-light);
        border-left: 1px solid var(--cx-color-light);
        border-right: 1px solid var(--cx-color-light);
        height: 30px;
      }
  
      td {
        width: 25%;
        padding: 1.625rem 0;

      .cx-right{
         text-align: right;
        }
      }
      
    }
}

.cx-inline-right{
  text-align: right;
  display: inline-block;

}
