<ng-container *ngIf="!(loading$ | async); else loading">
  <!-- ORDERS AND RETURNS -->
  <div class="cx-cdp-body">
    <div class="cx-order-returns">
      {{ 'cdpOrderHistory.ordersAndReturns' | cxTranslate }}
      <!-- SHOW MORE -->
      <a
        class="cx-cdp-link-showMore"
        [routerLink]="
          {
            cxRoute: 'orders'
          } | cxUrl
        "
        >{{ 'cdpOrderHistory.showMore' | cxTranslate }}
      </a>
    </div>
    <!-- TABLE -->
    <div *ngIf="(obser$ | async)?.orders.length; else noOrders">
      <section >
        <table
        *ngFor="let order of orderValue.orders"
          role="table"
          id="cx-cdp-table"
          class="table cx-cdp-body-table"
        >
          <tbody>
            <tr role="row">
              <!-- PURCHASEDIN -->
              <th role="cell">
                <div class="cx-header">
                  {{ 'cdpOrderHistory.purchasedStore' | cxTranslate}}
                </div>
              </th>
              <th class="cx-header"></th>
              <!-- ORDER NUMBER -->
              <th class="cx-header">
                <div class="cx-order-number">
                  {{ 'cdpOrderHistory.orderNumber' | cxTranslate
                  }}{{ order?.code
                  }}{{ 'cdpOrderHistory.orderNumberClose' | cxTranslate }}
                </div>
              </th>
            </tr>
            <tr role="row">
              <!-- IMAGE -->
              <td role="cell">
                <div *ngFor="let prdt of orderImage[order.code]; let i=index">
                  <div *ngIf="i < 1">
                  <div *ngFor="let img of prdt.images" class="cx-image">
                    <img *ngIf="img.format === 'thumbnail'" [src]="img.url" />
                  </div>
                </div>
                </div>
              </td>

              <!-- ORDER BODY -->
              <td>
                <div
                  *ngFor="let prdt of orderImage[order.code]; let i=index"
                  class="cx-prod-name"
                >
                  <div *ngIf="i < 1">
                  <!-- MATERIAL NAME -->
                  <div
                    *ngIf="orderDetail[order.code]?.deliveryItemsQuantity > 1"
                  >
                    {{ prdt.name }}{{ 'cdpOrderHistory.plus' | cxTranslate }}
                    {{ orderDetail[order.code]?.deliveryItemsQuantity - 1 }}
                    {{ 'cdpOrderHistory.items' | cxTranslate }}
                  </div>

                  <div
                    *ngIf="orderDetail[order.code]?.deliveryItemsQuantity === 1"
                  >
                    {{ prdt.name }}
                  </div>
                  </div>
                </div>

                <div class="cx-prod-body">
                  <p>
                    {{ order.placed | cxDate: 'd, MMMM, yyyy' }}<br />
                    {{ 'cdpOrderHistory.orderedItems' | cxTranslate
                    }}{{ orderDetail[order.code]?.deliveryItemsQuantity }}<br />
                    <br />
                  </p>
                </div>
                <div class="cx-prod-name">
                  {{ 'cdpOrderHistory.totalPrice' | cxTranslate
                  }}{{ order.total.formattedValue }}
                </div>
              </td>
              <!-- ORDER DETAIL HYPERLINK -->
              <td>
    <div class="cx-cdp-link-underline" (click)="getOrderDetail(order)">
                  <br />
                  <br />
                  <a
                    class="cx-cdp-link-underline-color"
                    [routerLink]="
                      {
                        cxRoute: 'orderDetails',
                        params: order
                      } | cxUrl
                    "
                    >{{ 'cdpOrderHistory.orderDetails' | cxTranslate }}
                  </a>
                  <div></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
<ng-template #noOrders>
  <div class="cx-cdp-body cx-cdp-body-table cx-header">
    {{'cdpOrderHistory.noOrders'}}
  </div>
</ng-template>
