@if (subscriptionItem(); as item) {
  <td role="cell" class="cx-item-list-charges">
    <div class="cx-recurring-charges">
      @for (
        recurringCharge of item.product?.sapPricePlan?.recurringCharges;
        track $index
      ) {
        <div class="cx-value">
          <span class="cx-billing-value">
            {{ recurringCharge.price?.formattedValue }}
          </span>
          <span class="cx-billing-name">
            {{
              item.product?.sapSubscriptionTerm?.billingPlan?.billingTime?.name
            }}
          </span>
        </div>
      }
    </div>
    <div class="cx-one-time-charges">
      @for (
        oneTimeCharge of item.product?.sapPricePlan?.oneTimeCharges;
        track oneTimeCharge.name
      ) {
        <div class="cx-value">
          <span class="cx-billing-name">
            {{ oneTimeCharge.billingTime?.name + ': ' }}
          </span>
          <span class="cx-billing-value">
            {{ oneTimeCharge.price?.formattedValue }}
          </span>
        </div>
      }
    </div>
  </td>
}
