<ng-container>
  <div class="variant-selector">
    @if (variants.selected) {
      <div class="variant-name">
        {{ 'productVariants.style' | cxTranslate }}:
        <span class="style-name">{{
          getVariantOptionValue(variants?.selected.variantOptionQualifiers)
        }}</span>
      </div>
    }
    <ul class="variant-list">
      @for (v of variants?.options; track v) {
        <li
          [ngClass]="{
            'selected-variant': v.code === variants?.selected?.code,
          }"
        >
          <button class="variant-button" (click)="changeStyle(v.code)">
            <img
              src="{{ getVariantThumbnailUrl(v.variantOptionQualifiers) }}"
              title="{{ getVariantOptionValue(v.variantOptionQualifiers) }}"
              alt="{{ getVariantOptionValue(v.variantOptionQualifiers) }}"
            />
          </button>
        </li>
      }
    </ul>
  </div>
</ng-container>
