<input
  type="file"
  hidden
  aria-hidden="true"
  [accept]="accept"
  [multiple]="multiple"
  (change)="onFilesSelected($event)"
  [disabled]="disabled"
  #fileInput
/>

@if (customButton) {
  <button
    class="link cx-action-link"
    [disabled]="disabled"
    (click)="openFileDialog()"
  >
    <ng-container *ngTemplateOutlet="customButton"/>
  </button>
} @else {
  <button
    class="btn btn-secondary"
    type="button"
    [attr.aria-label]="'common.selectFile' | cxTranslate"
    (click)="openFileDialog()"
  >
    <ng-content/>
  </button>
}

@for (file of files; track file.name + file.size + $index) {
  <p>
    {{ file?.name }}
    @if (!disabled) {
      <button
        type="button"
        class="btn"
        [attr.aria-label]="'common.removeSelectedFile' | cxTranslate"
        [title]="'common.removeSelectedFile' | cxTranslate"
        (click)="removeFileByIndex($index)"
      >
        <cx-icon [type]="iconTypes.TRASH"></cx-icon>
      </button>
    }
  </p>
}
