<ng-container *ngIf="cartToasts$ | async as cartToasts">
  <div *ngFor="let toast of cartToasts" [class]="toast.baseClass">
    <div class="added-to-cart-toast-title">
      {{
        toast.quantity > 1
          ? ('cartToast.entriesAdded'
            | cxTranslate: { quantity: toast.quantity })
          : ('cartToast.entryAdded' | cxTranslate: { quantity: toast.quantity })
      }}
    </div>
    <div class="added-to-cart-toast-content">
      <cx-media
        class="cx-product-image"
        [container]="toast.images?.PRIMARY"
        format="product"
        [alt]="toast.productName"
      ></cx-media>
      <div class="added-to-cart-toast-product">
        <h3 class="product-name">{{ toast.productName }}</h3>
        <span class="product-row quantity">
          {{ 'cartToast.quantity' | cxTranslate }}: {{ toast.quantity }}
        </span>
        <span class="product-row price">
          {{ 'cartToast.price' | cxTranslate }}: {{ toast.unitPrice }}
        </span>
      </div>
      <span class="continue-shopping" (click)="closeToast(toast)">
        {{ 'cartToast.continueShopping' | cxTranslate }}
      </span>
      <a
        [routerLink]="{ cxRoute: 'cart' } | cxUrl"
        (click)="closeToast(toast)"
        class="btn btn-primary btn-block"
      >
        {{ 'cartToast.goToCart' | cxTranslate }}
      </a>
    </div>
  </div>
</ng-container>
