<div
  class="cx-configurator-attribute-product-card"
  [ngClass]="{
    'cx-configurator-attribute-product-card-selected': product.selected
  }"
>
  <div class="cx-configurator-attribute-product-card-rows">
    <div class="cx-configurator-attribute-product-card-imgs">
      <ng-container *ngIf="product.images[0]; else noimages">
        <img
          alt="{{ product.images[0].altText }}"
          src="{{ product.images[0].url }}"
        />
      </ng-container>

      <ng-template #noimages>
        <div class="cx-configurator-attribute-product-card-imgs-fake"></div
      ></ng-template>
    </div>

    <div class="cx-configurator-attribute-product-card-info">
      <div class="cx-configurator-attribute-product-card-name">
        <a
          [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
          class="cx-link"
          cxModal="dismiss"
          target="_blank"
        >
          {{ product.valueDisplay }}</a
        >
      </div>
      <div class="cx-configurator-attribute-product-card-code">
        ID {{ product.valueCode }}
      </div>
      <cx-configurator-show-more
        [text]="
          product.description
            ? product.description
            : 'Bosch SDS-plus tool holder – fast and tool-free bit changing and optimum power transfer. Integrated chisel function with Vario-Lock – freely selectable work position of the chisel Impact stop for drilling in metal and wood'
        "
      ></cx-configurator-show-more>
    </div>
  </div>

  <div class="cx-configurator-attribute-product-card-rows">
    <div
      class="cx-configurator-attribute-product-card-quantity"
      *ngIf="multiSelect && product.selected"
    >
      <label>Qty</label>
      <cx-item-counter
        [allowZero]="true"
        [control]="quantity"
        [max]="100"
        [min]="0"
      ></cx-item-counter>
    </div>
    <div class="cx-configurator-attribute-product-card-price"></div>
  </div>

  <div class="cx-configurator-attribute-product-card-rows">
    <div class="cx-configurator-attribute-product-card-action">
      <ng-container *ngIf="multiSelect; else single">
        <button
          *ngIf="product.selected; else select"
          class="btn btn-secondary"
          (click)="onHandleDeselect()"
          [disabled]="disabledAction"
        >
          {{ 'configurator.button.remove' | cxTranslate }}
        </button>
        <ng-template #select>
          <button class="btn btn-primary" (click)="onHandleSelect()">
            {{ 'configurator.button.add' | cxTranslate }}
          </button>
        </ng-template>
      </ng-container>
      <ng-template #single>
        <button
          *ngIf="product.selected; else select"
          class="btn btn-secondary"
          (click)="onHandleDeselect()"
          [disabled]="disabledAction"
        >
          {{ 'configurator.button.deselect' | cxTranslate }}
        </button>
        <ng-template #select>
          <button class="btn btn-primary" (click)="onHandleSelect()">
            {{ 'configurator.button.select' | cxTranslate }}
          </button>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
