// TODO: do we need this file?
%cx-asm-customer-overview {
  width: 100%;
  .cx-asm-overview-header-infor {
    display: flex;
  }
  .customer-description {
    background-color: rgb(238, 243, 247);
    display: flex;
    flex-direction: row;

    &-chip {
      background-color: white;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 12px;
      margin-inline-start: 8px;
      padding: 0 16px;
    }

    &-chips {
      display: flex;
      flex-flow: row wrap;
      padding: 0 20px;
    }

    &-section {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;

      &:nth-of-type(n + 2) {
        border-color: $asmBorderColor;
        border-style: solid;
        border-left-width: 1px;
      }
    }

    h3 {
      padding: 32px 0 12px;
      text-transform: uppercase;
    }
  }
  .cx-asm-overview-section {
    display: block;
    padding: 0 48px;
    .section-header {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 40px;
      .result-wrapper {
        display: flex;
      }
    }
    .cart {
      &-divider {
        border-color: #afafaf;
        border-style: solid;
        border-right-width: 1px;
        height: 20px;
      }

      &-total-no-items,
      &-total-price {
        @include type('6', 'normal');
        color: var(--cx-color-secondary);
        padding: 0 16px;
      }
    }
  }
}
