%cx-config-conflict-description {
  .cx-config-conflict-description-container {
    background-color: mix(#ffffff, theme-color('warning'), 78%);
    padding: 5px;
    margin: 0 -10px 15px -10px;
    display: flex;

    .cx-config-conflict-icon-container {
      padding: 5px 15px 5px 15px;
      align-self: center;
    }

    .cx-config-conflict-description {
      padding-top: 10px;
    }
    .cx-config-conflict-icon {
      color: theme-color('warning');
      font-size: 30px;
    }
  }
}
