%cx-config-overview-form {
  padding: 25px;

  .cx-config-overview-group {
    padding: 25px 0;

    .cx-config-overview-group-name {
      margin-left: -25px;
      margin-right: -25px;
      padding: 15px 25px;
      background-color: var(--cx-color-background);
      border: solid 1px var(--cx-color-light);
    }
  }
}
