%cx-config-add-to-cart-button {
  padding: 15px;
  margin-top: 15px;
  justify-content: flex-end;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  .cx-config-add-to-cart-btn {
    @include media-breakpoint-down(sm) {
      width: 100%;
      clear: both;
    }

    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    float: right;
  }
}
