<h2>Checkout</h2>

<div class="board-inner" id="status-buttons">
    <ul class="progressbar">
        <li [ngClass]="{'active': step===1 || step===2 || step===3 || step===4}" (click)="setStep(1)">Shipping Address</li>
        <li [ngClass]="{'active': step===2 || step===3 || step===4}" (click)="setStep(2)">Shipping Method</li>
        <li [ngClass]="{'active': step===3 || step===4}" (click)="setStep(3)">Payment</li>
        <li [ngClass]="{'active': step===4}" (click)="setStep(4)">Review</li>
    </ul>
</div>
<div id="step1" *ngIf="step === 1">
    <y-address-form (addAddress)="addAddress($event)"></y-address-form>
    <div class="order-summary-address-form">
        <y-order-summary></y-order-summary>
    </div>
</div>

<div id="step2" *ngIf="step === 2">
    <y-delivery-mode-form [deliveryAddress]="deliveryAddress" (selectMode)="setDeliveryMode($event)" (backStep)="setStep(1)"></y-delivery-mode-form>
    <div class="order-delivery-mode-form">
        <y-order-summary></y-order-summary>
    </div>
</div>

<div id="step3" *ngIf="step === 3">
    <y-payment-form (addPaymentInfo)="addPaymentInfo($event)" (backStep)="setStep(2)"></y-payment-form>
    <div class="payment-form">
        <y-order-summary></y-order-summary>
    </div>
</div>

<div id="step4" *ngIf="step === 4">
    <y-review-submit (placeOrder)="placeOrder()" [deliveryAddress]="deliveryAddress" [paymentDetails]="paymentDetails" (backStep)="setStep(3)">
    </y-review-submit>
    <div class="order-review">
        <y-order-summary></y-order-summary>
    </div>
    <div>