/*progressbar*/
.progressbar {
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  width: 50%;
  /*margin: 0 auto 5px;*/
}
.progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 12px;
  color: #333;
  background: gray;
  border-radius: 10%;
  /*margin: 0 auto 5px auto;*/
}
/*progressbar connectors*/
.progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: green;
  position: absolute;
  left: -100%;
  top: 11px;
  z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,
.progressbar li.active:after {
  background: rgb(255, 99, 71);
  color: white;
}

h2 {
  margin-left: 40px;
}

.order-summary-address-form {
  margin-left: 55%;
  margin-top: -665px;
  margin-bottom: 580px;
}

// TODO: Temporary UI, need to change this later when we add
// more content to delivery mode form
.order-delivery-mode-form {
  margin-left: 55%;
  margin-top: -35px;
  margin-bottom: 30px;
}
