%cx-configure-cart-entry {
  a.link,
  label.disabled-link {
    color: var(--cx-color-primary);
    text-decoration: none;
    font-size: var(--cx-font-size, 1.188rem);
    font-weight: var(--cx-font-weight-bold);
    inline-size: max-content;
  }

  a.link:hover {
    text-decoration: underline;
  }

  label.disabled-link {
    display: inline-block;
    margin: 0;
  }
}
