### Misc environment variables ###
ENVIRONMENT=development
FRONTEND_BASE_URL=http://localhost:4200
MCS_DISCOVERY_TOKEN_ENDPOINT=

### Environment variables for MCS ###
MCS_BASE_URL=

### Environment variables for MCS Discovery ###
MCS_DISCOVERY_CLIENT_ID=
MCS_DISCOVERY_CLIENT_SECRET=

OTEL_EXPORTER_OTLP_ENDPOINT=
