<ng-container *ngIf="isGiftCardEnabled$ | async">
  <ng-container *ngIf="cart$ | async as cart">
    <div
      class="cx-gift-card"
      [ngClass]="{ 'cx-disabled': (isBillingAddressPresent$ | async) }"
    >
      <!-- Header -->
      <div class="cx-gift-card-header">
        <div class="cx-gift-card-title">
          <cx-icon type="GIFT_CARD"></cx-icon>
          <div class="title">
            <span>{{ 'giftCard.haveGiftCard' | cxTranslate }}</span>
          </div>
        </div>
        <button
          type="button"
          class="add-gift-card-link"
          (click)="showGiftCardForm = !showGiftCardForm"
        >
          {{ 'giftCard.addGiftCard' | cxTranslate }}
        </button>
      </div>

      <!-- Gift Card Form -->
      <form
        *ngIf="showGiftCardForm"
        [formGroup]="giftCardForm"
        (ngSubmit)="addGiftCard()"
        class="cx-gift-card-form"
      >
        <div class="cx-gift-card-form-wrapper">
          <div class="form-group">
            <label>
              {{ 'giftCard.cardNumber' | cxTranslate }}
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="cardNumber"
              [attr.aria-label]="'giftCard.CardNumber' | cxTranslate"
            />
            <cx-form-errors
              [prefix]="'giftCard.common.formErrors.labeled'"
              [fallbackPrefix]="'giftCard.common.formErrors'"
              [translationParams]="{
                label: 'giftCard.cardNumber' | cxTranslate,
              }"
              [control]="giftCardForm.get('cardNumber')"
            ></cx-form-errors>
          </div>

          <div class="form-group">
            <label>
              {{ 'giftCard.pin' | cxTranslate }}
            </label>
            <input
              type="text"
              class="form-control"
              formControlName="pin"
              [attr.aria-label]="'giftCard.pin' | cxTranslate"
            />
            <cx-form-errors
              [prefix]="'giftCard.common.formErrors.labeled'"
              [fallbackPrefix]="'giftCard.common.formErrors'"
              [translationParams]="{
                label: 'giftCard.pin' | cxTranslate,
              }"
              [control]="giftCardForm.get('pin')"
            ></cx-form-errors>
          </div>

          <button
            type="submit"
            class="btn btn-secondary apply-gift-card-button"
            [disabled]="giftCardForm.invalid || (loading$ | async)"
          >
            {{ 'giftCard.apply' | cxTranslate }}
          </button>
        </div>

        <!-- <div aria-live="assertive" aria-atomic="true">
        <span role="alert" class="cx-invalid-message">
          {{ 'giftCard.validationError' | cxTranslate }}
        </span>
      </div> -->
      </form>

      <!-- Applied Gift Cards -->
      <cx-applied-gift-card
        [giftCards]="(appliedGiftCards$ | async) || []"
      ></cx-applied-gift-card>
      <cx-gift-card-checkout-payment></cx-gift-card-checkout-payment>
    </div>
  </ng-container>
</ng-container>
