@if (model$ | async; as model) {
  <cx-org-card i18nRoot="orgUser.details" [cxFocus]="{ refreshFocus: model }">
    @if (isUpdatingUserAllowed) {
      <a
        actions
        class="link btn btn-link btn-sm edit"
        [class.disabled]="!model.active || (isInEditMode$ | async)"
        [routerLink]="{ cxRoute: 'orgUserEdit', params: model } | cxUrl"
      >
        {{ 'organization.edit' | cxTranslate }}
      </a>
    }

    @if (isUpdatingUserAllowed) {
      <cx-org-toggle-status
        actions
        key="customerId"
        i18nRoot="orgUser"
      ></cx-org-toggle-status>
    }

    <cx-org-disable-info info i18nRoot="orgUser"> </cx-org-disable-info>

    <section main class="details" cxOrgItemExists>
      <div class="property">
        <label>{{ 'orgUser.name' | cxTranslate }}</label>
        <span class="value">
          {{ model.name }}
        </span>
      </div>

      <div class="property full-width">
        <label>{{ 'orgUser.uid' | cxTranslate }}</label>
        <span class="value">
          {{ model.displayUid }}
        </span>
      </div>

      <div class="property">
        <label>{{ 'orgUser.roles' | cxTranslate }}</label>
        <ul class="value">
          @for (role of model.roles; track role) {
            @if (availableRoles.includes(role)) {
              <li
                [innerText]="'organization.userRoles.' + role | cxTranslate"
              ></li>
            }
          }
          @if (model.roles?.length === 0) {
            <li>-</li>
          }
        </ul>
      </div>

      @if (hasRight(model)) {
        <div class="property">
          <label>{{ 'orgUser.rights' | cxTranslate }}</label>
          <ul class="value">
            @for (role of model.roles; track role) {
              @if (availableRights.includes(role)) {
                <li
                  [innerText]="'organization.userRights.' + role | cxTranslate"
                ></li>
              }
            }
            @if (model.roles?.length === 0) {
              <li>-</li>
            }
          </ul>
        </div>
      }

      <div class="property">
        <label>{{ 'orgUser.orgUnit' | cxTranslate }}</label>
        @if (isUpdatingUserAllowed) {
          <a
            class="value"
            [routerLink]="
              {
                cxRoute: 'orgUnitDetails',
                params: model.orgUnit,
              } | cxUrl
            "
          >
            {{ model.orgUnit?.name }}
          </a>
        } @else {
          <div class="orgUnit">{{ model.orgUnit?.name }}</div>
        }
      </div>
      <div class="property full-width">
        @if (model.customerId && isUpdatingUserAllowed) {
          <a
            class="link btn btn-link btn-sm"
            [class.disabled]="!model.active"
            [routerLink]="
              { cxRoute: 'orgUserChangePassword', params: model } | cxUrl
            "
          >
            {{ 'orgUser.links.password' | cxTranslate }}
          </a>
        }
      </div>
    </section>

    <section main class="link-list">
      @if (model.customerId) {
        <a
          class="link btn btn-link btn-sm"
          [routerLink]="{ cxRoute: 'orgUserApprovers', params: model } | cxUrl"
          routerLinkActive="is-current"
        >
          {{ 'orgUser.links.approvers' | cxTranslate }}
        </a>
        <a
          class="link btn btn-link btn-sm"
          [routerLink]="{ cxRoute: 'orgUserUserGroups', params: model } | cxUrl"
          routerLinkActive="is-current"
        >
          {{ 'orgUser.links.userGroup' | cxTranslate }}
        </a>

        <a
          class="link btn btn-link btn-sm"
          [routerLink]="
            { cxRoute: 'orgUserPermissions', params: model } | cxUrl
          "
          routerLinkActive="is-current"
        >
          {{ 'orgUser.links.permission' | cxTranslate }}
        </a>
      }
    </section>
  </cx-org-card>
}
