<button
  class="cx-future-stock-accordion-header"
  [attr.aria-expanded]="expanded"
  (click)="toggle()"
>
  <span>
    {{ header }}
    <cx-icon *ngIf="expanded" [type]="iconType.CARET_UP"></cx-icon>
    <cx-icon *ngIf="!expanded" [type]="iconType.CARET_DOWN"></cx-icon>
  </span>
</button>

<div *ngIf="expanded">
  <div *ngIf="!isString(content); else contentString">
    <div class="cx-future-stock-accordion-content" *ngFor="let elem of content">
      {{ elem.formattedDate }} -
      {{ 'futureStockDropdown.quantity' | cxTranslate }}
      {{ elem.stock.stockLevel }}
    </div>
  </div>

  <ng-template #contentString>
    <div class="cx-future-stock-accordion-content">
      {{ content }}
    </div>
  </ng-template>
</div>
