<ng-container *ngIf="product$ | async as product">
  <div class="container">
    <div [innerHTML]="currentDescription"></div>
    <div *ngIf="product?.description.length > previewLimit">
      <button
        *ngIf="showMore"
        (click)="toggle()"
        class="cx-action-link"
        cxFocus="moreorless"
      >
        {{ 'productDetails.showLess' | cxTranslate }}
      </button>

      <button
        *ngIf="!showMore"
        (click)="toggle()"
        class="cx-action-link"
        cxFocus="moreorless"
      >
        {{ 'productDetails.showMore' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-container>
