<ng-container *ngFor="let child of node?.children">
  <ng-container *ngTemplateOutlet="nav; context: { node: child, depth: 0 }">
  </ng-container>
</ng-container>

<ng-template #nav let-node="node" let-depth="depth">
  <ul>
    <li>
      <div>
        <cx-icon
          *ngIf="node.children?.length > 0"
          [type]="iconType.CARET_DOWN"
        ></cx-icon>
        <cx-generic-link [url]="node.url" [title]="node.title">
          {{ node.title }}
        </cx-generic-link>
      </div>

      <ng-container *ngFor="let child of node.children">
        <ng-container
          *ngTemplateOutlet="nav; context: { node: child, depth: depth + 1 }"
        >
        </ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
