@import '../../theme';
%cx-consent-management {
  .cx-consent-action-links {
    text-align: right;
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem;
  }

  .cx-consent-toggles {
    display: flex;
    justify-content: center;
  }
}
