@import '../../theme';
%cx-consent-management-form {
  cx-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cx-color-secondary);

    &:before {
      font-size: 1.6rem;
    }
  }
  .cx-toggle-button {
    margin-left: -6.5rem;
    .cx-toggle-text {
      @include type('8');
    }
  }

  .cx-accordion {
    @include media-breakpoint-only(xs) {
      margin: 0;
    }
    .cx-accordion-item {
      margin: 15px 0;
      @include media-breakpoint-only(xs) {
        margin: 0;
        border-top: 0 none;
        border-right: 0 none;
        border-left: 0 none;
      }
    }
    .cx-accordion-title {
      width: 80%;
      @include media-breakpoint-only(xs) {
        width: 78%;
      }
    }
  }
}
