%cx-coupon-card {
  .cx-coupon-card-row {
    display: flex;
    justify-content: space-between;
    &.top {
      font-weight: var(--cx-font-weight-bold);
      height: 48px;
    }

    &.bottom {
      padding: 1rem 0 0 0;
      @include media-breakpoint-down(md) {
        flex-direction: column;;
        .cx-coupon-find-product {
          padding: 0;
        }
      }
    }

    .cx-coupon-card-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      width: 70%;
    }

    .cx-coupon-status {
      text-transform: uppercase;
      white-space: nowrap;
      &.effective {
        color: var(--cx-color-success);
      }
      &.expiresoon {
        color: var(--cx-color-danger);
      }
      &.presession {
        color: var(--cx-color-warning);
      }
    }
  }

  .cx-coupon-card-date {
    padding: 1rem 0 0 0;
    p {
      margin: 0;
    }
    .cx-coupon-date {
      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: var(--cx-flex-direction, column);
      }
    }
  }

  a {
    text-decoration: underline !important;
    &.cx-card-read-more {
      padding: 1rem 0 0 0;
      cursor: pointer;
      display: inline-block;
    }
  }

  .cx-coupon-spinner {
    padding: 5rem 0 5rem 0;
  }

  .cx-coupon-card {
    padding-bottom: 30px;
  }

  .cx-my-coupons-form-group {
    padding: var(--cx-padding, 0);
    margin-bottom: var(--cx-margin, 0);

    @include media-breakpoint-down(sm) {
      padding: var(--cx-padding, 1.25rem);
    }
  }

  .cx-my-coupons-sort {
    display: flex;
    justify-content: space-between;
    margin: var(--cx-margin, 0);
    @include media-breakpoint-down(sm) {
      flex-direction: column;;
      padding-top: var(--cx-padding, 0);
    }
    &.top {
      padding: var(--cx-padding, 1rem 0);
    }

    &.bottom {
      padding: var(--cx-padding, 2rem 0 1rem 0);
    }
  }

  .cx-my-coupons-pagination {
    @include media-breakpoint-down(sm) {
      margin: var(--cx-margin, 0 auto);
    }
  }

  .cx-section-msg {
    text-align: center;
  }
}
