%cx-coupon-dialog {
  .cx-dialog-item {
    padding: 0 1rem 0 0;
  }
  .cx-coupon-name {
    font-weight: var(--cx-font-weight, var(--cx-g-font-weight-bold, 700));
  }

  .cx-coupon-description {
    padding: 1rem 0 1rem 0;
  }

  .cx-coupon-dialog-date {
    p {
      margin: 0rem;
    }
    padding: 0 0 1rem 0;
  }
  .cx-coupon-dialog-status {
    padding: 1rem 0 1rem 0;
    p {
      margin: 0rem;
    }
    .cx-coupon-status {
      text-transform: uppercase;
      font-weight: var(--cx-font-weight, var(--cx-g-font-weight-bold, 750));

      &.effective {
        color: var(--cx-g-color-success);
      }
      &.expiresoon {
        color: var(--cx-g-color-danger);
      }
      &.presession {
        color: var(--cx-g-color-warning);
      }
    }
  }
}
