%cx-coupon-dialog {
  .cx-dialog-item {
    padding: 0 1rem 0 0;
  }
  .cx-coupon-name {
    font-weight: var(--cx-font-weight, var(--cx-font-weight-bold, 700));
  }

  .cx-coupon-description {
    padding: 1rem 0 1rem 0;
  }

  .cx-coupon-dialog-date {
    p {
      margin: 0rem;
    }
    padding: 0 0 1rem 0;
  }
  .cx-coupon-dialog-status {
    padding: 1rem 0 1rem 0;
    p {
      margin: 0rem;
    }
    .cx-coupon-status {
      text-transform: uppercase;
      font-weight: var(--cx-font-weight, var(--cx-font-weight-bold, 750));

      &.effective {
        color: var(--cx-color-success);
      }
      &.expiresoon {
        color: var(--cx-color-danger);
      }
      &.presession {
        color: var(--cx-color-warning);
      }
    }
  }

  .cx-dialog-header {
    padding: var(--cx-padding, 2rem 1.75rem 0.85rem);
    border-width: var(--cx-border-width, 0);
  }

  .cx-dialog-title {
    @include type('3');
  }

  .cx-dialog-body {
    padding: var(--cx-padding, 1rem 1rem 0 1rem);
    @include media-breakpoint-down(sm) {
      padding: var(--cx-padding, 0);
    }
  }

  .cx-dialog-row {
    margin: var(--cx-margin, 0);
    display: var(--cx-display, flex);
    padding: var(--cx-padding, 0 0.875rem 2.875rem);
    max-width: var(--cx-max-width, 100%);
    flex-wrap: var(--cx-flex-wrap, wrap);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      padding: var(--cx-padding, 0);
    }

    .cx-coupon-card-id {
      text-transform: uppercase;
    }
  }

  .cx-dialog-item {
    @include media-breakpoint-down(sm) {
      padding: var(--cx-padding, 2rem);
    }
  }
}
