%cx-coupon-card {
  .cx-coupon-card-row {
    display: var(--cx-display, flex);
    justify-content: var(--cx-justify-content, space-between);
    &.top {
      font-weight: var(--cx-font-weight, var(--cx-g-font-weight-bold, 700));
    }
    .cx-coupon-card-name {
      display: block;
    }
    .cx-coupon-card-status {
      text-transform: uppercase;
      &.effective {
        color: var(--cx-g-color-success);
      }
      &.expiringsoon {
        color: var(--cx-g-color-danger);
      }
      &.effectivesoon {
        color: var(--cx-g-color-warning);
      }
    }
  }

  .cx-coupon-spinner {
    padding: 5rem 0 5rem 0;
  }

  .cx-coupon-card {
    padding-bottom: 30px;
  }

  .cx-my-coupons-form-group {
    padding: var(--cx-padding, 0);
    margin-bottom: var(--cx-margin, 0);

    @include media-breakpoint-down(sm) {
      padding: var(--cx-padding, 1.25rem);
    }
  }

  .cx-my-coupons-sort {
    &.top {
      display: var(--cx-display, flex);
      justify-content: var(--cx-justify-content, space-between);
      padding: var(--cx-padding, 1rem 0);
      margin: var(--cx-margin, 0);

      @include media-breakpoint-down(sm) {
        flex-direction: var(--cx-flex-direction, column);
        padding-top: var(--cx-padding, 0);
      }
    }

    &.bottom {
      display: var(--cx-display, flex);
      justify-content: var(--cx-justify-content, space-between);
      padding: var(--cx-padding, 2rem 0 1rem 0);
      margin: var(--cx-margin, 0);

      @include media-breakpoint-down(sm) {
        flex-direction: var(--cx-flex-direction, column);
        padding-top: var(--cx-padding, 0);
      }
    }
  }

  .cx-my-coupons-pagination {
    @include media-breakpoint-down(sm) {
      margin: var(--cx-margin, 0 auto);
    }
  }

  .cx-section-msg {
    text-align: center;
  }
}
