%cx-my-interests {
  .cx-product-interests {
    @include media-breakpoint-down(sm) {
      max-width: 1%;
      padding: 0;
    }
  }
  .cx-product-interests-table {
    padding: 1.5rem 0 1.125rem 0;
    margin-bottom: 0;
    border-width: 0 0 1px 0;
    border-color: var(--cx-color-light);
    border-style: solid;

    tr {
      width: 100%;

      @include media-breakpoint-down(sm) {
        border-width: 1px 0 0 0;
        border-color: var(--cx-color-light);
        border-style: solid;

        &:first-child {
          border-width: 0;
          padding: 1.25rem 0 0 0;
        }
      }
    }

    th {
      padding: 1.5rem 0 1.125rem 0;
      text-align: left;

      &:first-child {
        text-align: center;
      }
    }

    td {
      width: 25%;
      padding: 1.625rem 0;

      &:first-child {
        width: 10%;
        padding-right: 1.25rem;
      }
      &:last-child {
        width: 10%;
        padding-right: 5%;
      }

      @include media-breakpoint-up(md) {
        text-align: left;

        &:last-child {
          text-align: center;
        }
      }

      .cx-name {
        a {
          color: $dark;
          font-weight: var(--cx-font-weight-bold);
        }
      }

      .cx-code {
        font-size: var(--cx-font-size, 0.875rem);
        font-weight: var(--cx-font-weight-normal);
        line-height: var(--cx-line-height, 1.2222222222);
        color: var(--cx-color-secondary);
      }

      .cx-property {
        .cx-label,
        .cx-value {
          display: inline;
        }
      }

      .cx-product-interests-product-stock {
        color: var(--cx-color-primary);
        font-size: var(--cx-font-size, 0.875rem);
        font-weight: var(--cx-font-weight-bold);
      }

      .cx-product-interests-notification {
        .cx-product-interests-type {
          color: $dark;
          font-weight: var(--cx-font-weight-bold);
        }
        @include media-breakpoint-down(sm) {
          padding: 5px 0 0 0;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        display: flex;
        border-width: 0;
        padding: 0 1.25rem;

        cx-media.is-missing {
          max-width: 96px;
        }

        &:first-child {
          padding-top: 1.25rem;
        }

        &:last-child {
          padding-bottom: 1.25rem;
        }
      }
    }
  }

  .cx-product-interests-product-price {
    @include media-breakpoint-down(sm) {
      .cx-product-interests-label,span {
        display: inline;
      }
    }
  }
  .cx-product-interests-subscriptions {
    @include media-breakpoint-down(sm) {
      padding: 5px 0 0 0;
    }
  }

  .cx-product-interests-thead-mobile {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .cx-product-interests-placed {
    text-align: center;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  .cx-product-interests-status {
    text-align: center;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  .cx-product-interests-total {
    text-align: right;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  .cx-product-interests-label {
    text-transform: uppercase;
    color: var(--cx-color-secondary);

    @include media-breakpoint-down(sm) {
      @include type('8');
      min-width: 110px;
    }
  }

  .cx-product-interests-form-group {
    padding: 0;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      padding: 1.25rem;
    }
  }

  .cx-product-interests-sort {
    &.top {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      margin: 0;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding-top: 0;
      }
    }

    &.bottom {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0 1rem 0;
      margin: 0;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding-top: 0;
      }
    }
  }

  .cx-product-interests-pagination {
    @include media-breakpoint-down(sm) {
      margin: var(--cx-margin, 0 auto);
    }
  }

  .cx-product-interests-no-interests {
    @include type('5');
    font-weight: $font-weight-normal;
    min-height: 415px;

    @include media-breakpoint-down(sm) {
      min-height: 474px;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .btn {
      margin: 1.25rem 0;
    }
  }
}
