%cx-new-consent-management-form {
  .cx-be-bold {
    font-weight: var(--cx-font-weight-semi);
  }

  .name{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans';
  }

  .description{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans';
  }
}
