%cx-new-consent-management {
  .cx-consent-toggles {
    display: flex;
    justify-content: center;
  }

  .header {
    font-weight: var(--cx-font-weight-semi);
    font-size: $font-size-base * 1.375;
    font-family: $font-family-sans-serif;
    margin-bottom: $paragraph-margin-bottom;
  }

  .message {
    font-weight: var(--cx-font-weight-normal);
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    margin-bottom: $paragraph-margin-bottom;
  }

  .consent-form-container {
    max-width: $grid-gutter-width * 29.8333333;
  }
}
