%cx-payment-methods {
  .cx-payment {
    @include media-breakpoint-down(sm) {
      padding-inline-start: 1.25rem;
      padding-inline-end: 1.25rem;
    }
  }

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  .cx-header {
    padding: 2.5rem 0 0 0;
  }

  .cx-card-img-container {
    .fab,
    .fas {
      &::before {
        font-size: var(--cx-font-size, 48px);
      }
    }
  }

  .cx-existing {
    display: flex;
    padding: 0rem 0 2.5rem 0;
    margin: 0 -1 * $grid-gutter-width/2 0 -1 * $grid-gutter-width/2;
    align-items: stretch;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      padding: 0 0 3.125rem 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 0 4.375rem 0;
    }
  }

  .cx-payment-card {
    padding: 1.875rem $grid-gutter-width/2 0 $grid-gutter-width/2;
    flex: 0 0 100%;
    @include media-breakpoint-up(md) {
      flex-basis: 50%;
    }
  }

  .cx-card {
    height: 100%;
  }
}
