<form
  (ngSubmit)="onSubmit()"
  [formGroup]="updatePasswordForm"
  class="cx-update-password-component"
>
  <div class="form-group row">
    <div class="col-md-12">
      <label>
        <span class="label-content">{{
          'updatePasswordForm.oldPassword.label' | cxTranslate
        }}</span>
        <input
          class="form-control"
          type="password"
          name="oldPassword"
          placeholder="{{
            'updatePasswordForm.oldPassword.placeholder' | cxTranslate
          }}"
          formControlName="oldPassword"
        />
        <cx-form-errors
          [control]="updatePasswordForm.get('oldPassword')"
        ></cx-form-errors>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <label>
        <span class="label-content">{{
          'updatePasswordForm.newPassword.label' | cxTranslate
        }}</span>
        <input
          class="form-control"
          type="password"
          name="newPassword"
          placeholder="{{
            'updatePasswordForm.newPassword.placeholder' | cxTranslate
          }}"
          formControlName="newPassword"
        />
        <cx-form-errors
          [control]="updatePasswordForm.get('newPassword')"
        ></cx-form-errors>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <label>
        <span class="label-content">{{
          'updatePasswordForm.confirmPassword.label' | cxTranslate
        }}</span>
        <input
          class="form-control"
          type="password"
          name="newPasswordConfirm"
          placeholder="{{
            'updatePasswordForm.confirmPassword.placeholder' | cxTranslate
          }}"
          formControlName="newPasswordConfirm"
        />
        <cx-form-errors
          [control]="updatePasswordForm.get('newPasswordConfirm')"
        ></cx-form-errors>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-6 col-md-12">
      <button
        class="btn btn-block btn-secondary"
        type="button"
        (click)="onCancel()"
      >
        {{ 'common.cancel' | cxTranslate }}
      </button>
    </div>
    <div class="col-lg-6 col-md-12">
      <button class="btn btn-block btn-primary" type="submit">
        {{ 'common.save' | cxTranslate }}
      </button>
    </div>
  </div>
</form>
