<!-- <cx-td-link
outlet="table.budgetCostCenters.data.name"
cxRoute="costCenterDetails"
prop="name"
>
</cx-td-link> -->

<ng-template [cxOutletRef]="'table.budgetCostCenters.data.name'" let-model>
  <a [routerLink]="{ cxRoute: 'costCenterDetails', params: model } | cxUrl">
    <span class="label">
      {{ model.name }}
    </span>
  </a>
</ng-template>

<ng-template [cxOutletRef]="'table.budgetCostCenters.data.active'" let-model>
  <a [routerLink]="{ cxRoute: 'costCenterDetails', params: model } | cxUrl">
    <span class="label">
      {{
        (model.active ? 'organization.enabled' : 'organization.disabled')
          | cxTranslate
      }}
    </span>
  </a>
</ng-template>

<cx-view #view>
  <ng-container *ngIf="budgetCode$ | async as budgetCode">
    <h3>
      <a
        class="link"
        [routerLink]="
          { cxRoute: 'budgetDetails', params: { code: budgetCode } } | cxUrl
        "
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.back' | cxTranslate }}
      </a>
      <span>{{
        'budget.costCenters.header' | cxTranslate: { code: budgetCode }
      }}</span>
    </h3>

    <cx-table
      *ngIf="dataTable$ | async as dataTable; else emptyList"
      [dataset]="dataTable"
    >
    </cx-table>
  </ng-container>
</cx-view>

<ng-template #emptyList>
  <p class="instruction is-empty">
    {{ 'organization.messages.emptyList' | cxTranslate }}
  </p>
</ng-template>
