<cx-split-view [hideMode]="false">
  <ng-container *ngIf="dataTable$ | async as dataTable">
    <cx-view class="list">
      <div class="header">
        <div class="title">
          <h3>
            {{
              viewType + '.header'
                | cxTranslate: { count: getListCount(dataTable) }
            }}
          </h3>
        </div>

        <div class="actions">
          <ng-select
            *ngIf="dataTable.pagination?.sort"
            [searchable]="false"
            [clearable]="false"
            (change)="sort(dataTable.pagination)"
            [tabIndex]="0"
            [(ngModel)]="dataTable.pagination.sort"
          >
            <ng-option *ngFor="let sort of dataTable.sorts" [value]="sort.code">
              {{ dataTable.structure.type + '.' + sort.code | cxTranslate }}
            </ng-option>
          </ng-select>

          <button
            class="button primary"
            [routerLink]="
              { cxRoute: dataTable.structure.type + 'Create' } | cxUrl
            "
            routerLinkActive="disabled"
          >
            {{ 'organization.add' | cxTranslate }}
          </button>
        </div>
      </div>

      <cx-table
        *ngIf="dataTable.data?.length > 0; else emptyList"
        [dataset]="dataTable"
        [currentItem]="{ property: key, value: currentKey$ | async }"
        (launch)="launchItem($event)"
      >
      </cx-table>

      <div class="footer">
        <cx-pagination
          *ngIf="dataTable.pagination?.currentPage"
          [pagination]="dataTable.pagination"
          (viewPageEvent)="browse(dataTable.pagination, $event)"
        ></cx-pagination>
      </div>
    </cx-view>

    <!-- nested split views are rendered inside child routes -->
    <router-outlet></router-outlet>
  </ng-container>
</cx-split-view>

<ng-template #emptyList>
  <p class="instruction is-empty">
    {{ 'organization.messages.emptyList' | cxTranslate }}
  </p>
</ng-template>
