// Define the padding-left increment for each layer
$padding-increment: 20px;
// Set the maximum level, which can be adjusted as needed
$max-depth: 10;
// Set the default padding-left value
$default-hierarchy-paddingleft: 12px;

// Recursive mixin for generating hierarchical styles
@mixin recursive-padding($depth: 1) {
  .cx-hierarchy-node-collapsible {
    padding-left: $default-hierarchy-paddingleft + $depth * $padding-increment;

    // Recursive call to generate sub-level styles
    @if $depth < $max-depth {
      & ~ cx-hierarchy-node-collapsible {
        @include recursive-padding($depth + 1);
      }
    }
  }
}

%cx-hierarchy-node-collapsible {
  & > cx-hierarchy-node-collapsible {
    display: none;
  }

  &.open > cx-hierarchy-node-collapsible {
    display: block;
    @include recursive-padding();
  }

  cx-cart-item-list table {
    margin: 0;
    .cx-item-list-items tr {
      border-top: none;
      td:nth-of-type(1){
        padding-left: 1.25rem;
      }
      td:nth-last-of-type(1){
        padding-right: 1.25rem;
      }

    }
  }

  .cx-hierarchy-node-collapsible {
    cursor: pointer;
    user-select: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    @include type('7');
    min-height: 48px;
    border-bottom: 1px solid var(--cx-color-medium);
    padding-left: $default-hierarchy-paddingleft;

    .tree-icon {
      color: var(--cx-color-secondary);
    }

    .leaf-node-title {
      font-weight: var(--cx-font-weight-semi);
    }
  }
}
