&cx-tracking-events {
  //cx-consignment-tracking-dialog color variables
  $cx-consignment-tracking-dialog-border-color: 'light' !default;
  $cx-consignment-tracking-dialog-shipment-heading-background-color: 'background' !default;

  //cx-consignment-tracking-dialog variables
  $cx-consignment-tracking-dialog-header-padding-left: 2rem !default;

  $cx-consignment-tracking-dialog-body-padding-sm: 0 !default;

  .cx-consignment-tracking-dialog {
    &__header {
      padding-left: $cx-consignment-tracking-dialog-header-padding-left;
    }

    &__title {
      @include type('3');
    }

    &__body {
      @include media-breakpoint-down(sm) {
        padding: $cx-consignment-tracking-dialog-body-padding-sm;
      }
    }

    &__shipment-heading {
      position: relative;
      padding: $cx-consignment-tracking-dialog-header-padding-left;
      // @include var-color(
      //   'background-color',
      //   $cx-consignment-tracking-dialog-shipment-heading-background-color
      // );
    }

    &__shipment-title {
      @include type('4');
    }

    &__shipment-city {
      @include type('6');
    }

    &__event {
      .event-body {
        border-left: 10px solid var(--cx-g-color-secondary);
        padding-left: 16px;
        margin-bottom: 16px;
      }
    }
  }

  // -------------------------------- OVERWRITING BOOTSTRAP STYLING FOR MODAL --------------------------------

  $modal-header-border-bottom: none;
  $modal-body-padding-bottom: 0;
  $modal-content-border-radius: 0;
  $modal-content-border: none !important;
  $modal-max-width: 768px !important;
  $modal-min-width: 768px !important;

  .modal {
    &-header {
      border-bottom: $modal-header-border-bottom;
    }

    &-body {
      padding-bottom: $modal-body-padding-bottom;
    }

    &-content {
      border-radius: $modal-content-border-radius;
      border: $modal-content-border;
    }
  }

  .modal-xxl .modal-lg {
    max-width: $modal-max-width;
    min-width: $modal-min-width;
  }

  // ------------------------------ OVERWRITING BOOTSTRAP MEDIA QUERIES FOR MODAL ----------------------------
  $modal-max-width-md: 768px !important;
  $modal-min-width-md: 768px !important;
  $modal-max-width-sm: 100% !important;
  $modal-min-width-sm: 100% !important;
  $modal-dialog-margin-sm: 0 !important;

  @include media-breakpoint-up(md) {
    .modal-lg {
      max-width: $modal-max-width-md;
      min-width: $modal-min-width-md;
    }
  }

  @include media-breakpoint-down(sm) {
    .modal-lg {
      min-width: $modal-max-width-sm;
      max-width: $modal-min-width-sm;
    }

    .modal-dialog {
      margin: $modal-dialog-margin-sm;
    }
  }
}
