@import '../../../theme';

%cx-order-detail-items {
  .cx-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    background-color: var(--cx-color-background);
    padding-left: 1.875rem;
    padding-right: 1.875rem;

    @include media-breakpoint-down(sm) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

  .cx-list-status {
    @include type('4');
    margin-bottom: 0;
  }

  .cx-list-date {
    @include type('7');
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .cx-list-item {
    padding: 0 0 2.5rem 0;
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}
