<ng-container *ngIf="result$ | async as results">
  <ng-container *ngIf="results?.length">
    <div class="recent-searches">
      <h3>
        {{ 'searchBox.recentSearches' | cxTranslate }}
      </h3>
      <ul
        tabindex="0"
        [ariaLabel]="'cdsRecentSearches.ariaRecentSearches' | cxTranslate"
        role="listbox"
      >
        <li *ngFor="let recentSearch of results">
          <a
            role="option"
            [innerHTML]="
              recentSearch
                | cxHighlight: (outletContext$ | async)?.search : false
            "
            [routerLink]="
              {
                cxRoute: 'search',
                params: { query: recentSearch },
              } | cxUrl
            "
            (mousedown)="$event.preventDefault()"
            (keydown.ArrowUp)="shareEvent($any($event))"
            (keydown.ArrowDown)="shareEvent($any($event))"
            (keydown.ArrowLeft)="shareEvent($any($event))"
            (keydown.ArrowRight)="shareEvent($any($event))"
            (keydown.Enter)="shareEvent($any($event))"
            (keydown.Escape)="shareEvent($any($event))"
            (blur)="shareEvent($any($event))"
            (click)="updateChosenWord(recentSearch)"
          >
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
</ng-container>
