<ng-container *ngIf="result$ | async as results">
  <ng-container *ngIf="results?.length">
    <div class="recent-searches">
      <h3 *cxFeature="'!searchBoxRecentSearchesRemoval'">
        {{ 'searchBox.recentSearches' | cxTranslate }}
      </h3>
      <h3 *cxFeature="'searchBoxRecentSearchesRemoval'">
        {{ 'cdsRecentSearches.header' | cxTranslate }}
      </h3>
      <button
        *cxFeature="'searchBoxRecentSearchesRemoval'"
        (click)="clearPhrases($event)"
        (mousedown)="$event.stopPropagation()"
        class="recent-searches-btn btn btn-tertiary"
      >
        {{ 'cdsRecentSearches.clear' | cxTranslate }}
      </button>
      <ul
        tabindex="0"
        [ariaLabel]="'cdsRecentSearches.ariaRecentSearches' | cxTranslate"
        role="listbox"
      >
        <li *ngFor="let recentSearch of results">
          <a
            role="option"
            [innerHTML]="
              recentSearch
                | cxHighlight: (outletContext$ | async)?.search : false
            "
            [routerLink]="
              {
                cxRoute: 'search',
                params: { query: recentSearch },
              } | cxUrl
            "
            (mousedown)="$event.preventDefault()"
            (keydown.arrowup)="shareEvent($any($event))"
            (keydown.arrowdown)="shareEvent($any($event))"
            (keydown.arrowleft)="shareEvent($any($event))"
            (keydown.arrowright)="shareEvent($any($event))"
            (keydown.enter)="shareEvent($any($event))"
            (keydown.escape)="shareEvent($any($event))"
            (blur)="shareEvent($any($event))"
            (click)="updateChosenWord(recentSearch)"
          >
          </a>

          <button
            *cxFeature="'searchBoxRecentSearchesRemoval'"
            class="close"
            type="button"
            [attr.aria-label]="'common.remove' | cxTranslate"
            (keydown.arrowup)="shareEvent($any($event))"
            (keydown.arrowdown)="shareEvent($any($event))"
            (keydown.arrowleft)="shareEvent($any($event))"
            (keydown.arrowright)="shareEvent($any($event))"
            (keydown.enter)="handleCloseButtonEnter($any($event), recentSearch)"
            (keydown.escape)="shareEvent($any($event))"
            (blur)="shareEvent($any($event))"
            (click)="handleCloseButtonClick(recentSearch)"
          >
            <span aria-hidden="true">
              <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </ng-container>
</ng-container>
