<h3 class="recentSearches-header">
  <div *cxFeature="'!searchBoxRecentSearchesRemoval'">
    {{ 'searchBox.recentSearches' | cxTranslate }}
  </div>
  <div *cxFeature="'searchBoxRecentSearchesRemoval'">
    {{ 'cdsRecentSearches.header' | cxTranslate }}
  </div>
  <button
    *cxFeature="'searchBoxRecentSearchesRemoval'"
    class="btn btn-tertiary clear-recent-searches-btn"
    (click)="clearPhrases($event)"
    (mousedown)="$event.stopPropagation()"
    (keydown.arrowdown)="onArrowDown($any($event))"
  >
    {{ 'cdsRecentSearches.clear' | cxTranslate }}
  </button>
</h3>
