<div class="cx-order-items container" *ngIf="order$ | async as order">
  <h4 class="cx-order-items-header">
    {{ 'checkoutOrderConfirmation.orderItems' | cxTranslate }}
  </h4>

  <ng-container *cxFeatureLevel="'1.5'">
    <ng-container *ngIf="orderPromotions$ | async as orderPromotions">
      <cx-promotions [promotions]="orderPromotions"></cx-promotions>
    </ng-container>
  </ng-container>

  <cx-cart-item-list
    [items]="order.entries"
    [readonly]="true"
    [promotionLocation]="promotionLocation"
  ></cx-cart-item-list>
</div>
