<!-- https://github.com/angular/angular/issues/24567 -->
<!-- <a
  cxGenericLink
  [href]="linkUrl"
  [attr.target]="target"
  [attr.rel]="rel"
  [attr.id]="id"
  [attr.class]="class"
  [attr.style]="style"
  [attr.title]="title"
  [tabindex]="tabindex"
  ><ng-content></ng-content
></a> -->

<a
  [href]="linkUrl"
  [attr.target]="target"
  [attr.rel]="rel"
  [attr.id]="id"
  [attr.class]="class"
  [attr.style]="style"
  [attr.title]="title"
  [tabindex]="tabindex"
  (click)="onClick($event)"
>
  <ng-content></ng-content>
</a>

<!-- <a
  [routerLink]="routerUrl"
  [href]="url"
  [queryParams]="queryParams"
  [fragment]="fragment"
  [target]="target || undefined"
  [attr.id]="id"
  [attr.class]="class"
  [attr.style]="style"
  [attr.title]="title"
>
  <ng-content></ng-content>
</a> -->

<!-- <ng-container *ngIf="isExternalUrl(); else isLocalUrl">
  <a
    [href]="url"
    [attr.target]="target"
    [attr.rel]="rel"
    [attr.id]="id"
    [attr.class]="class"
    [attr.style]="style"
    [attr.title]="title"
    [attr.aria-label]="ariaLabel ? ariaLabel : null"
    [tabindex]="tabindex"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</ng-container>

<ng-template #isLocalUrl>
  <a
    [routerLink]="routerUrl"
    [queryParams]="queryParams"
    [fragment]="fragment"
    [target]="target || undefined"
    [attr.id]="id"
    [attr.class]="class"
    [attr.style]="style"
    [attr.title]="title"
    [attr.aria-label]="ariaLabel ? ariaLabel : null"
    [tabindex]="tabindex"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template> -->
