.info-container {
  display: flex;
  flex-wrap: wrap;
  .info-header {
    background-color: grey;
    width: 100%;
  }
  .info-location {
    width: 50%;
  }
  .store-hours {
    width: 50%;
    .store-hours-container {
      display: flex;
      .store-hours-day {
        width: 50%;
      }
      .store-hours-time {
        width: 50%;
      }
    }
  }
  .entry-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .entry-info-header{
      width: 25%;
    }
    .product-info{
      width: 25%;
      display: flex;
      flex-wrap: wrap;

       >div {
        width: 100%;
        border: solid thin red;
      }
    }
  }
}
