.info-container {
  display: flex;
  flex-wrap: wrap;
  .info-header {
    background-color: grey;
    width: 100%;
  }
  .info-location {
    width: 50%;
  }
  .store-hours {
    width: 50%;
    .store-hours-container {
      display: flex;
      .store-hours-day {
        width: 50%;
      }
      .store-hours-time {
        width: 50%;
      }
    }
  }
  .entry-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .entry-info-item {
      width: 55%;
      border: solid thick blue;
    }
    .entry-info-price {
      border: solid thick green;
      width: 15%;
    }
    .entry-info-quantity {
      border: solid thick gray;
      width: 15%;
    }
    .entry-info-total {
      width: 15%;
      border: solid thick black;
    }
    .entry-info-header {
    }
    .product-info {
      display: flex;
      flex-wrap: wrap;
      .product-info-image {
        width: 80px;
      }

      > div {
        border: solid thin red;
      }
    }
  }
}
