cx-checkout-pick-up-in-store-details {
  .cx-code,
  .cx-name .cx-property {
    margin: 0;
    font-weight: var(--cx-font-weight-normal);
  }
  .cx-name-value {
    margin-bottom: 0.25rem;
    font-weight: var(--cx-font-weight-semi);
    text-decoration: var(--cx-text-decoration, underline);
    text-decoration-color: #d3d6db;
    text-transform: capitalize;
  }
  .cx-checkout-pickup-in-store-details-heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: var(--cx-font-weight-semi);
  }
  .cx-delivery-pointof-service-item {
    border: 1px solid #d3d6db;
    padding: 1rem 1rem 1rem 2rem;
  }
  .cx-delivery-pointof-service-item-header {
    font-size: var(--cx-font-size, 0.9rem);
    font-weight: var(--cx-font-weight-bold);
    margin: 0;
    padding: 0.5rem;
    .cx-price-header {
      text-align: center;
      padding: 0;
    }
    .cx-quantity-header {
      text-align: left;
      padding: 0;
    }
    .cx-total-header {
      text-align: center;
      padding: 0;
    }
  }

  .cx-checkout-pickup-in-store-heading {
    border: 1px solid #d3d6db;
    border-top: none;
    border-bottom: none;
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    font-size: var(--cx-font-size, 1.125rem);
    line-height: var(--cx-line-height, 1.2222222222);
  }

  .cx-total {
    .cx-value {
      font-weight: var(--cx-font-weight-bold);
    }
  }

  .cx-checkout-in-store-pick-up-location {
    padding-top: 1.5rem;
    border: 1px solid #d3d6db;
    font-weight: 400;
  }

  .cx-checkout-pickup-in-store-details {
    padding: 0 1rem 1rem 2rem;
    min-height: 5vh;
    border: 1px solid #d3d6db;

    > div {
      display: flex;
      width: 100%;

      > .cx-checkout-pickup-in-store-store-address {
        flex: 0 0 50%;
      }

      > .cx-checkout-pickup-in-store-store-schedule {
        flex: 0 0 40%;
        .cx-store-schedule-container {
          width: 100%;
          margin-top: 1rem;
        }
      }
      > .cx-checkout-pickup-in-store-edit-icon {
        flex: 0 0 10%;
        text-align: center;
        margin-top: 1rem;
        color: var(--cx-color-primary);
      }
    }
  }
  .cx-checkout-btns {
    margin-top: 5rem;
    margin-bottom: 1.125rem;
  }
  .cx-checkout-pickup-in-store-details:not(:first-of-type) {
    background: var(--cx-color-background);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
