cx-store {
  .cx-store {
    display: flex;
    border-top: solid thin $gray-500;
  }

  .cx-store-address {
    @include type('7');
    flex-grow: 1;

    .cx-store-name {
      @include type('5');
    }
  }

  .cx-store-distance {
    @include type('7');
    text-align: end;
  }

  .cx-store-opening-hours-toggle {
    @include type('6');
    color: var(--cx-color-primary);
    cursor: pointer;
    user-select: none;
  }

  .cx-stock-level {
    @include type('6');
  }

  .cx-store-stock-icon {
    color: var(--cx-color-secondary);
  }

  .cx-store-out-of-stock {
    color: var(--cx-color-danger);
  }

  .cx-store-in-stock {
    color: var(--cx-color-success);
  }

  // TODO update this with new styling when wires are updated
  .cx-store-pick-up-from-here {
    padding: 25px 0 25px 0;
    button {
      width: 100%;
      height: 48px;
      border-radius: 24px;
      border: solid 3px #1672b7;
      color: #1672b7;
      background-color: transparent;
      font-weight: 600;
      user-select: none;
    }
  }
}
