<cx-asm-customer-360-product-listing
  *ngIf="productItems$ | async as productItems"
  [emptyResultDescription]="
    'asmCustomer360.savedCart.emptyDescription' | cxTranslate
  "
  [headerInactive]="true"
  [headerTemplate]="headerTemplate"
  [headerText]="'asmCustomer360.savedCart.header' | cxTranslate"
  [products]="productItems"
  (selectProduct)="
    sectionContext.navigate$.next({ cxRoute: 'product', params: $event })
  "
>
</cx-asm-customer-360-product-listing>

<ng-template #headerTemplate>
  <ng-container *ngIf="savedCart$ | async as savedCart">
    <button
      [attr.aria-label]="
        'asmCustomer360.savedCart.aria.linkLabel'
          | cxTranslate: { code: savedCart.code }
      "
      class="cx-overview-title-link link"
      (click)="
        sectionContext.navigate$.next({
          cxRoute: 'savedCartsDetails',
          params: { savedCartId: savedCart?.code }
        })
      "
    >
      {{ savedCart.code }}
    </button>
    <div class="cart-total-no-items">
      {{
        'asmCustomer360.productListing.totalNoItems'
          | cxTranslate: { count: savedCart.totalItemCount }
      }}
    </div>
    <div class="cart-divider"></div>
    <div class="cart-total-price">
      {{
        'asmCustomer360.productListing.totalPrice'
          | cxTranslate: { price: savedCart.totalPrice }
      }}
    </div>
  </ng-container>
</ng-template>
