<ng-container *ngIf="quoteDetails$ | async as quoteDetails">
  <section>
    <ul>
      <li>
        <a
          [attr.aria-label]="'quote.links.a11y.newCart' | cxTranslate"
          (click)="goToNewCart()"
          class="link cx-action-link"
          tabindex="0"
        >
          {{ 'quote.links.newCart' | cxTranslate }}
        </a>
      </li>
      <li>
        <a
          [attr.aria-label]="'quote.links.a11y.quotes' | cxTranslate"
          [routerLink]="{ cxRoute: 'quotes' } | cxUrl"
          class="link cx-action-link"
        >
          {{ 'quote.links.quotes' | cxTranslate }}
        </a>
      </li>
      <li
        *ngIf="
          hasAttachment(quoteDetails.sapAttachments!) &&
          isShowDownloadProposalButtonFeatureEnabled()
        "
      >
        <button
          [attr.aria-label]="'quote.links.a11y.download' | cxTranslate"
          type="button"
          class="link cx-action-link"
          (click)="
            onDownloadAttachment(
              quoteDetails.code,
              quoteDetails.sapAttachments!
            )
          "
        >
          {{ 'quote.links.download' | cxTranslate }}
        </button>
      </li>
    </ul>
  </section>
</ng-container>
