%cx-image-zoom-product-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  .cx-default-image-zoom {
    display: flex;
    justify-content: center;
    height: calc(90vh - 200px);
    padding-bottom: 1em;

    &:hover {
      cursor: zoom-in;
    }
  }

  .cx-zoom-container {
    width: 100%;
    height: calc(90vh - 200px);
    overflow: hidden;

    .cx-image-zoomed {
      height: 100%;
      width: 100%;
      padding: 1em;

      &:hover {
        cursor: zoom-out;
      }

      img {
        transform: scale(2);
        position: relative;
        transition: background-position 0.25s;
      }
    }
  }

  .thumbs {
    flex: auto;
    cx-media {
      width: 70px;
      height: 70px;
    }
    .carousel-panel {
      .slide {
        &.active {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
