<ng-container *ngIf="facets$ | async as facets">
  <cx-active-facets [facets]="activeFacets$ | async"></cx-active-facets>

  <button
    *ngIf="facets.length > 0"
    class="btn btn-action btn-block"
    (click)="toggleNavigation()"
    #filterBy
  >
    {{ 'productList.filterBy.label' | cxTranslate }}??
  </button>

  <div
    *ngIf="facets.length > 0"
    class="facets"
    [class.open]="showNav"
    [cxFocus]="{
      autofocus: 'cx-facet',
      trap: showNav,
      block: true,
      focusOnEscape: showNav
    }"
    (esc)="toggleNavigation()"
  >
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="toggleNavigation()"
    >
      <cx-icon aria-hidden="true" [type]="iconTypes.CLOSE"></cx-icon>
    </button>

    <!-- TODO: support custom facet components here -->
    <cx-facet
      *ngFor="let facet of facets"
      [facet]="facet"
      [cxFocus]="{ lock: true, trap: true }"
      [collapse]="showNav"
    ></cx-facet>
  </div>
</ng-container>
