.santorini {
  --cx-color-background: #f4f4f4;
  --cx-color-text: #14293a;
  --cx-color-inverse: #ffffff;
  --cx-color-transparent: transparent;
  --cx-color-primary: #055f9f;
  --cx-color-primary-accent: #0f4880;
  --cx-color-secondary: #556b82;
  --cx-color-success: #256f3a;
  --cx-color-success-accent: #f0fbe4;
  --cx-color-danger: #aa0808;
  --cx-color-danger-accent: #fff1f1;
  --cx-color-warning: #b44f00;
  --cx-color-warning-accent: #fff5df;
  --cx-color-info: #0064d8;
  --cx-color-info-accent: #deeffe;
  --cx-color-light: #f1f1f1;
  --cx-color-medium: #d3d6db;
  --cx-color-dark: #77818b;
  --cx-color-background-dark: #212738;
  --cx-color-visual-focus: #1f3a93;
  --cx-color-background-focus: rgba(80, 176, 244, 0.1);
  --cx-color-border-focus: rgba(166, 204, 232, 0.6);
}

.lambda {
  --cx-color-background: #e4e4e4;
  --cx-color-text: #3407fd;
  --cx-color-inverse: #ffffff;
  --cx-color-transparent: transparent;
  --cx-color-primary: #987654;
  --cx-color-primary-accent: #987654;
  --cx-color-secondary: #76927a;
  --cx-color-success: #73cb11;
  --cx-color-success-accent: #f0fbe4;
  --cx-color-danger: #c400ba;
  --cx-color-danger-accent: #fff1f1;
  --cx-color-warning: #e28d03;
  --cx-color-warning-accent: #fff5df;
  --cx-color-info: #3ff9ff;
  --cx-color-info-accent: #deeffe;
  --cx-color-light: #fffc49;
  --cx-color-medium: #d3d6db;
  --cx-color-dark: #004409;
  --cx-color-background-dark: #212738;
  --cx-color-visual-focus: #987654;
  --cx-color-background-focus: rgba(152, 118, 84, 0.1);
  --cx-color-border-focus: rgba(152, 118, 84, 0.6);
}

.sparta {
  --cx-color-background: #f4f4f4;
  --cx-color-text: #212738;
  --cx-color-inverse: #ffffff;
  --cx-color-transparent: transparent;
  --cx-color-primary: #fe5757;
  --cx-color-primary-accent: #ff8b8b;
  --cx-color-secondary: #6c7079;
  --cx-color-success: #38871f;
  --cx-color-success-accent: #f0fbe4;
  --cx-color-danger: #db0002;
  --cx-color-danger-accent: #fff1f1;
  --cx-color-warning: #ffc107;
  --cx-color-warning-accent: #fff5df;
  --cx-color-info: #17a2b8;
  --cx-color-info-accent: #deeffe;
  --cx-color-light: #d3d6db;
  --cx-color-medium: #d3d6db;
  --cx-color-dark: #212738;
  --cx-color-background-dark: #212738;
  --cx-color-visual-focus: #6d9df7;
  --cx-color-background-focus: rgba(80, 176, 244, 0.1);
  --cx-color-border-focus: rgba(166, 204, 232, 0.6);
}
