// Spartacus Application styles

// Always bump to the latest (breaking) styles during development.
$useLatestStyles: true;

@import 'storefrontstyles/index';
@import 'product';
@import 'organization';
