%cx-budget-list {
  .cx-textalign {
    @include media-breakpoint-down(xs) {
      text-align: center;
      margin: auto;
    }
  }

  .cx-centeralign {
    margin: auto;
    padding-bottom: 0.5em;
  }
}
