%cx-budget-form {
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  ng-select.invalid .ng-select-container {

    border-color: red;
    border-style:solid;

}
}
