%cx-budgets-list {
  .cx-textalign {
    @include media-breakpoint-down(xs) {
      text-align: center;
      margin: auto;
    }
  }

  .table {
    @include media-breakpoint-down(xs) {
      thead {
        th {
          font-size: x-small;
        }
      }

      td {
        text-align: center;
        font-size: x-small;
      }
    }
  }
}
