%cx-budget-form {
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  ng-select.ng-invalid.ng-touched .ng-select-container {
    
    border-color: red;
    border-style:solid;
    
}
}
