<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>
<div class="center-location">
  <label class="myaccount-password-header half-width">{{
    'myAccountV2PasswordForm.newPasswordTitle' | cxTranslate
  }}</label>
</div>
<div class="center-location">
  <cx-message
    *ngIf="showingAlert"
    [text]="'myAccountV2PasswordForm.reloginIndicator' | cxTranslate"
    class="half-width"
    [type]="globalMessageType.MSG_TYPE_INFO"
    (closeMessage)="closeDialogConfirmationAlert()"
  ></cx-message>
</div>

<div class="center-location">
  <form class="half-width" (ngSubmit)="onSubmit()" [formGroup]="form">
    <label class="myaccount-label-padding">
      <span class="label-content myaccount-password-label">{{
        'myAccountV2PasswordForm.oldPassword.label' | cxTranslate
      }}</span>
      <input
        required="true"
        class="form-control"
        [(ngModel)]="oldPassword"
        type="password"
        name="oldPassword"
        placeholder="{{
          'myAccountV2PasswordForm.oldPassword.placeholder' | cxTranslate
        }}"
        formControlName="oldPassword"
        [attr.aria-label]="
          'myAccountV2PasswordForm.oldPassword.placeholder' | cxTranslate
        "
        cxPasswordVisibilitySwitch
      />
      <cx-form-errors [control]="form.get('oldPassword')"></cx-form-errors>
    </label>

    <label class="myaccount-label-padding">
      <span class="label-content myaccount-password-label">{{
        'myAccountV2PasswordForm.newPassword.label' | cxTranslate
      }}</span>
      <input
        required="true"
        class="form-control"
        [(ngModel)]="newPassword"
        type="password"
        name="newPassword"
        placeholder="{{
          'myAccountV2PasswordForm.newPassword.placeholder' | cxTranslate
        }}"
        formControlName="newPassword"
        [attr.aria-label]="
          'myAccountV2PasswordForm.newPassword.placeholder' | cxTranslate
        "
        cxPasswordVisibilitySwitch
      />
      <cx-form-errors [control]="form.get('newPassword')"></cx-form-errors>
    </label>

    <label class="myaccount-label-padding">
      <span class="label-content myaccount-password-label">{{
        'myAccountV2PasswordForm.confirmPassword.label' | cxTranslate
      }}</span>
      <input
        required="true"
        class="form-control"
        [(ngModel)]="newPasswordConfirm"
        type="password"
        name="newPasswordConfirm"
        placeholder="{{
          'myAccountV2PasswordForm.confirmPassword.placeholder' | cxTranslate
        }}"
        formControlName="newPasswordConfirm"
        [attr.aria-label]="
          'myAccountV2PasswordForm.confirmPassword.placeholder' | cxTranslate
        "
        cxPasswordVisibilitySwitch
      />
      <cx-form-errors
        [control]="form.get('newPasswordConfirm')"
      ></cx-form-errors>
    </label>

    <div class="password-btn-group-row">
      <div class="password-btn-group">
        <button
          class="btn myaccount-password-button myaccount-password-button-cancel"
          (click)="onCancel()"
        >
          {{ 'common.cancel' | cxTranslate }}
        </button>
        <button
          class="btn btn-primary myaccount-password-button"
          [disabled]="form.disabled"
        >
          {{ 'common.save' | cxTranslate }}
        </button>
      </div>
    </div>
  </form>
</div>
