<ng-container *ngIf="isCustomerEmulationSessionInProgress$ | async">
  <input
    formcontrolname="customer"
    type="text"
    disabled="true"
    placeholder="{{ customer?.name }}, {{ customer?.uid }}"
  />
  <label for="cartNumber"
    >Cart #
    <input
      id="cartNumber"
      formcontrolname="cartNumber"
      type="text"
      placeholder="Cart number"
      [formControl]="cartId"
      (keydown.enter)="assignCartToCustomer()"
    />
  </label>
  <ng-container *ngIf="cartIdExists">
    <button (click)="assignCartToCustomer()">Assign Cart to Customer</button>
    <button (click)="cancel()">Cancel</button>
  </ng-container>
  <button *ngIf="!cartIdExists" (click)="logoutCustomer()">
    {{ 'asm.endSession' | cxTranslate }}
  </button>
</ng-container>
