<label class="searchbox" [class.dirty]="!!searchInput.value">
  <input
    #searchInput
    [placeholder]="'searchBox.placeholder' | cxTranslate"
    aria-label="search"
    (focus)="open()"
    (input)="search(searchInput.value)"
    (blur)="close($event)"
    (keydown.escape)="close($event)"
    (keydown.enter)="
      close($event, true); launchSearchResult($event, searchInput.value)
    "
    (keydown.arrowup)="focusPreviousChild($event)"
    (keydown.arrowdown)="focusNextChild($event)"
  />

  <cx-icon
    [type]="iconTypes.RESET"
    aria-label="reset"
    (mousedown)="clear(searchInput)"
    (keydown.enter)="clear(searchInput)"
    class="reset"
    tabindex="0"
  ></cx-icon>


  <cx-icon
    [type]="iconTypes.SEARCH"
    aria-label="search"
    class="search"
    (mousedown)="avoidReopen($event)"
    (keydown.enter)="avoidReopen($event)"
    tabindex="0"
  ></cx-icon>
</label>

<div
  *ngIf="results$ | async as result"
  class="results"
  (click)="close($event, true)"
>
  <div
    *ngIf="result.message"
    class="message"
    [innerHTML]="result.message"
  ></div>

  <div class="suggestions">
    <a
      *ngFor="let suggestion of result.suggestions"
      [innerHTML]="suggestion | cxHighlight: searchInput.value"
      [routerLink]="
        {
          cxRoute: 'search',
          params: { query: suggestion }
        } | cxUrl
      "
      (keydown.arrowup)="focusPreviousChild($event)"
      (keydown.arrowdown)="focusNextChild($event)"
      (keydown.enter)="close($event, true)"
      (keydown.escape)="close($event, true)"
      (blur)="close($event)"
    >
    </a>
  </div>

  <div class="products" *ngIf="result.products">
    <a
      *ngFor="let product of result.products"
      [routerLink]="
        {
          cxRoute: 'product',
          params: product
        } | cxUrl
      "
      [class.has-media]="config.displayProductImages"
      (keydown.arrowup)="focusPreviousChild($event)"
      (keydown.arrowdown)="focusNextChild($event)"
      (keydown.enter)="close($event, true)"
      (keydown.escape)="close($event, true)"
      (blur)="close($event)"
    >
      <cx-media
        *ngIf="config.displayProductImages"
        [container]="product.images?.PRIMARY"
        [alt]="product.summary"
      ></cx-media>
      <h4 class="name" [innerHTML]="product.nameHtml"></h4>
      <span class="price">{{ product.price?.formattedValue }}</span>
    </a>
  </div>
</div>
