<label class="searchbox">
  <input
    [formControl]="searchBoxControl"
    [placeholder]="'searchBox.searchHere' | cxTranslate"
    aria-label="search"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keydown.escape)="onBlur($event)"
    (keydown.enter)="search($event)"
  />

  <cx-icon
    [type]="iconTypes.CLOSE"
    (mousedown)="clear()"
    class="reset"
    [class.hidden]="!searchBoxControl.value"
  ></cx-icon>

  <cx-icon [type]="iconTypes.SEARCH" aria-label="search"></cx-icon>
</label>

<div
  *ngIf="searchBoxControl.value && (searchResults$ | async) as result"
  class="results"
  (mousedown)="disableClose()"
  (click)="close()"
>
  <div
    class="message"
    [class.hidden]="!result.message"
    [innerHTML]="result.message"
  ></div>
  <div class="suggestions">
    <a
      *ngFor="let suggestion of result.suggestions"
      [routerLink]="{ route: 'search', params: { query: suggestion } } | cxUrl"
    >
      {{ 'searchBox.suggestion' | cxTranslate: { suggestion: suggestion } }}
    </a>
  </div>

  <div class="products">
    <a
      *ngFor="let product of result.products"
      [routerLink]="
        {
          route: 'product',
          params: product | stripHtml
        } | cxUrl
      "
    >
      <cx-media
        [container]="product.images?.PRIMARY"
        format="product"
        [alt]="product.summary"
      ></cx-media>
      <h4 class="name" [innerHtml]="product.name"></h4>
      <span class="price" [innerHTML]="product.price.formattedValue"></span>
    </a>
  </div>
</div>
