<ng-template
  #validation
  let-control="control"
  let-translationParams="translationParams"
>
  <span class="is-invalid">
    <span *ngFor="let error of control.errors | keyvalue">
      {{ 'orgUnitForm.message.' + error.key | cxTranslate: translationParams }}
    </span>
  </span>
</ng-template>

<div [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group" formGroupName="country">
        <ng-container *ngIf="countries$ | async as countries">
          <div *ngIf="countries.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'addressForm.country' | cxTranslate
              }}</span>
              <ng-select
                class="country-select"
                formControlName="isocode"
                [searchable]="true"
                [clearable]="false"
                [items]="countries"
                bindLabel="name"
                bindValue="isocode"
                placeholder="{{ 'unitAddressForm.selectOne' | cxTranslate }}"
                (change)="countrySelected($event)"
              >
              </ng-select>
            </label>
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'unitAddressForm.firstName.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{
              'unitAddressForm.firstName.placeholder' | cxTranslate
            }}"
            formControlName="firstName"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'unitAddressForm.lastName.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{
              'unitAddressForm.lastName.placeholder' | cxTranslate
            }}"
            formControlName="lastName"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'unitAddressForm.address1' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'unitAddressForm.streetAddress' | cxTranslate }}"
            formControlName="line1"
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content">{{
            'unitAddressForm.address2' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'unitAddressForm.aptSuite' | cxTranslate }}"
            formControlName="line2"
          />
        </label>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>
            <span class="label-content required">{{
              'unitAddressForm.city.label' | cxTranslate
            }}</span>
            <input
              type="text"
              class="form-control"
              required
              placeholder="{{
                'unitAddressForm.city.placeholder' | cxTranslate
              }}"
              formControlName="town"
            />
          </label>
        </div>
        <div class="form-group col-md-6">
          <ng-container
            *ngIf="regions$ | async as regions"
            formGroupName="region"
          >
            <div *ngIf="regions.length !== 0">
              <label aria-required="true">
                <span class="label-content required">{{
                  'unitAddressForm.state' | cxTranslate
                }}</span>
                <ng-select
                  class="region-select"
                  formControlName="isocode"
                  [searchable]="true"
                  [clearable]="false"
                  [items]="regions"
                  bindLabel="{{ regions[0].name ? 'name' : 'isocode' }}"
                  bindValue="{{ regions[0].name ? 'isocode' : 'region' }}"
                  placeholder="{{ 'unitAddressForm.selectOne' | cxTranslate }}"
                >
                </ng-select>
              </label>
            </div>
          </ng-container>
        </div>
        <div class="form-group col-md-6">
          <label>
            <span class="label-content required">{{
              'unitAddressForm.zipCode.label' | cxTranslate
            }}</span>
            <input
              type="text"
              class="form-control"
              required
              placeholder="{{
                'unitAddressForm.zipCode.placeholder' | cxTranslate
              }}"
              formControlName="postalCode"
            />
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content">{{
            'unitAddressForm.phoneNumber.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{
              'unitAddressForm.phoneNumber.placeholder' | cxTranslate
            }}"
            formControlName="phone"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button class="btn btn-block btn-primary" (click)="verifyAndSubmit()">
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</div>
