<ng-template
  #validation
  let-control="control"
  let-translationParams="translationParams"
>
  <span class="is-invalid">
    <span *ngFor="let error of control.errors | keyvalue">
      {{ 'orgUnitForm.message.' + error.key | cxTranslate: translationParams }}
    </span>
  </span>
</ng-template>

<div [formGroup]="form">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'orgUnitForm.uid.label' | cxTranslate
          }}</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="{{ 'orgUnitForm.uid.placeholder' | cxTranslate }}"
            formControlName="uid"
            [class.is-invalid]="isNotValid('uid')"
          />
          <ng-container
            *ngIf="isNotValid('uid')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.uid
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <label>
          <span class="label-content required">{{
            'orgUnitForm.name.label' | cxTranslate
          }}</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="{{ 'orgUnitForm.name.placeholder' | cxTranslate }}"
            formControlName="name"
            [class.is-invalid]="isNotValid('name')"
          />
          <ng-container
            *ngIf="isNotValid('name')"
            [ngTemplateOutlet]="validation"
            [ngTemplateOutletContext]="{
              control: form.controls.name
            }"
          ></ng-container>
        </label>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="businessUnits$ | async as businessUnits"
          formGroupName="parentOrgUnit"
        >
          <div *ngIf="businessUnits.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'orgUnitForm.parentOrgUnit.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="uid"
                [searchable]="false"
                [clearable]="false"
                [items]="businessUnits"
                bindLabel="name"
                bindValue="id"
                [class.invalid]="isNotValid('parentOrgUnit')"
              >
              </ng-select>
              <ng-container
                *ngIf="isNotValid('parentOrgUnit')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.parentOrgUnit['controls']['uid']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <ng-container
          *ngIf="approvalProcesses$ | async as approvalProcesses"
          formGroupName="approvalProcess"
        >
          <div *ngIf="approvalProcesses.length !== 0">
            <label aria-required="true">
              <span class="label-content required">{{
                'orgUnitForm.approvalProcess.label' | cxTranslate
              }}</span>
              <ng-select
                formControlName="code"
                [searchable]="false"
                [clearable]="false"
                [items]="approvalProcesses"
                bindLabel="name"
                bindValue="code"
                [class.invalid]="isNotValid('approvalProcess')"
              >
              </ng-select>
              <ng-container
                *ngIf="isNotValid('approvalProcess')"
                [ngTemplateOutlet]="validation"
                [ngTemplateOutletContext]="{
                  control: form.controls.approvalProcess['controls']['code']
                }"
              ></ng-container>
            </label>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <div class="col-md-12 col-lg-6 mb-3">
      <button class="btn btn-block btn-primary" (click)="verifyAndSubmit()">
        {{ actionBtnLabel || ('common.continue' | cxTranslate) }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6 mb-3" *ngIf="showCancelBtn">
      <a
        class="btn btn-block btn-action"
        (click)="back()"
        [routerLink]="routerBackLink | cxUrl"
      >
        {{ cancelBtnLabel || ('common.cancel' | cxTranslate) }}
      </a>
    </div>
  </div>
</div>
