<ng-container *ngIf="quoteDetails$ | async as quoteDetails; else ghostActions">
  <ng-container *ngIf="cartDetails$ | async as cartDetails; else ghostActions">
    <section>
      <button
        #element
        type="button"
        *ngFor="let action of quoteDetails.allowedActions"
        class="btn"
        [ngClass]="getButtonStyle(quoteDetails.allowedActions, action)"
        [disabled]="mustDisableAction(action.type, quoteDetails)"
        (click)="onClick(action.type, quoteDetails, cartDetails)"
      >
        {{ 'quote.actions.byRole.' + action.type | cxTranslate }}
      </button>
    </section>
  </ng-container>
</ng-container>

<ng-template #ghostActions>
  <div class="cx-ghost-actions">
    <ng-container *ngFor="let number of [0, 1, 2]">
      <div class="cx-ghost-button ghost"></div>
    </ng-container>
  </div>
</ng-template>
