<ng-container *ngIf="quoteDetailsState$ | async as quoteDetailsState">
  <ng-container *ngIf="!quoteDetailsState.loading">
    <section>
      <button
        *ngFor="let action of quoteDetailsState.data.allowedActions"
        class="btn"
        [ngClass]="
          primaryActions.includes(action) ? 'btn-primary' : 'btn-action'
        "
        (click)="
          action === QuoteAction.REQUOTE
            ? requote(quoteDetailsState.data.code)
            : performAction(quoteDetailsState.data.code, action)
        "
      >
        {{ 'commerceQuotes.actions.' + action | cxTranslate }}
      </button>
    </section>
  </ng-container>
</ng-container>
