<ng-container *ngIf="quoteDetailsState$ | async as quoteDetailsState">
  <ng-container *ngIf="!quoteDetailsState.loading">
    <section>
      <button
        *ngFor="let action of quoteDetailsState.data.allowedActions"
        class="btn"
        [ngClass]="action.isPrimary ? 'btn-primary' : 'btn-secondary'"
        (click)="
          action.type === QuoteActionType.REQUOTE
            ? requote(quoteDetailsState.data.code)
            : performAction(quoteDetailsState.data.code, action.type)
        "
      >
        {{ 'commerceQuotes.actions.' + action.type | cxTranslate }}
      </button>
    </section>
  </ng-container>
</ng-container>
