<!-- <cx-asm-customer-promotion-listing
  [emptyStateText]="'customer360.coupons.emptyDescription' | cxTranslate"
  [headerText]="'customer360.coupons.headerText' | cxTranslate"
  [entries]="entries$ | async"
  [showAlert]="showErrorAlert$ | async"
  [showAlertForApplyAction]="showErrorAlertForApplyAction$ | async"
  (apply)="applyCouponToCustomer($event)"
  (remove)="removeCouponToCustomer($event)"
  (removeAlert)="closeErrorAlert()"
  (removeAlertForApplyAction)="closeErrorAlertForApplyAction()"
  [applyButtonText]="'customer360.coupons.applyButtonText' | cxTranslate"
  [applied]="'customer360.coupons.applied' | cxTranslate"
  [removeButtonText]="'customer360.coupons.removeButtonText' | cxTranslate"
  [showRemoveButton]="true"
  [showApplyButton]="true"
>
</cx-asm-customer-promotion-listing> -->
<cx-asm-customer-promotion-listing
[headerText]="'customer360.customerCoupons.headerText' | cxTranslate"
  [emptyStateText]="'customer360.customerCoupons.emptyDescription' | cxTranslate"
  [applyButtonText]="'customer360.customerCoupons.applyButtonText' | cxTranslate"
  [applied]="'customer360.customerCoupons.applied' | cxTranslate"
  [removeButtonText]="'customer360.customerCoupons.removeButtonText' | cxTranslate"
  [entries]="entries$ | async"
  [showRemoveButton]="true"
  [showApplyButton]="true"
  [isCustomerCoupon]="true"
  (refreshCustomerCouponList)="changeTab($event.assignable,$event.searchQuery)"
  (apply)="claimCouponToCustomer($event)"
  (remove)="disclaimCouponToCustomer($event)"
>
</cx-asm-customer-promotion-listing>
<!-- <div>aaa</div> -->
