<ng-template cxOutletRef="table.costCenterBudgets.data.name" let-model>
  <label>
    <input
      type="checkbox"
      [checked]="model.selected"
      (change)="toggleAssign($event, model.code)"
      class="form-control"
    />
    <span class="text">{{ model.name }}</span>
  </label>
</ng-template>

<!-- <form> -->
<cx-split *ngIf="budgets$ | async as budgets">
  <cx-view>
    <h3>
      <a class="link" routerLink="../../">
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.cancel' | cxTranslate }}
      </a>
      {{ 'costCenterAssignBudgets.header' | cxTranslate }}
      <button class="button primary" type="submit">
        {{ 'organization.save' | cxTranslate }}
      </button>
    </h3>
    <section>
      <cx-table [dataset]="budgets" (sortEvent)="sort($event)"> </cx-table>
    </section>
  </cx-view>
</cx-split>
<!-- </form> -->
<!-- <cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'costCenterDetails',
      name: 'costCenter.details'
    },
    { cxRoute: 'costCenterBudgets', name: 'costCenter.budgets', active: true }
  ]"
  [routerBackLink]="{ cxRoute: 'costCenters', name: 'costCenter.back' }"
>
  <cx-interactive-table
    [data$]="data$"
    [header]="'costCenterAssignBudgets.header' | cxTranslate: { code: code }"
    [sortLabels]="{
      byUnitName: 'budgetsList.sorting.byUnitName' | cxTranslate,
      byName: 'budgetsList.sorting.byName' | cxTranslate,
      byCode: 'budgetsList.sorting.byCode' | cxTranslate,
      byValue: 'budgetsList.sorting.byValue' | cxTranslate
    }"
    [columns]="[
      {
        key: 'selected',
        value: 'budgetsList.assign' | cxTranslate,
        checkBox: true
      },
      {
        key: 'code',
        value: 'budgetsList.code' | cxTranslate,
        cxRoute: 'budgetDetails'
      },
      { key: 'name', value: 'budgetsList.name' | cxTranslate },
      { key: 'amount', value: 'budgetsList.amount' | cxTranslate },
      {
        key: 'startEndDate',
        value: 'budgetsList.startEndDate' | cxTranslate
      },
      {
        key: 'parentUnit',
        value: 'budgetsList.parentUnit' | cxTranslate,
        cxRoute: 'orgUnitDetails'
      }
    ]"
    (pageChange)="pageChange($event)"
    (changeSortCode)="changeSortCode($event)"
    (check)="assign($event)"
    (uncheck)="unassign($event)"
  >
    <div class="col-md-12 col-lg-6">
      <div class="col-md-12 col-lg-6 float-right">
        
        <a
          [routerLink]="
            { cxRoute: 'costCenterBudgets', params: { code: code } } | cxUrl
          "
          class="btn btn-primary btn-block"
        >
          {{ 'costCenterAssignBudgets.back' | cxTranslate }}
        </a>
      </div>
    </div>
  </cx-interactive-table>
</cx-fake-tabs> -->
