@if (configuration$ | async; as configuration) {
  @if (!isDialogActive(configuration)) {
    @if (currentGroup$ | async; as group) {
      <cx-configurator-group
        [group]="group"
        [owner]="configuration.owner"
        [isNavigationToGroupEnabled]="isNavigationToGroupEnabled(configuration)"
        [isPricingAsync]="configuration.isPricingAsync"
      >
      </cx-configurator-group>
    }
  } @else {
    @for (number of [0, 1, 2]; track number) {
      <div class="cx-ghost-attribute">
        <div class="cx-ghost-header">
          <div class="cx-ghost-title ghost"></div>
          <div class="cx-ghost-icon ghost"></div>
        </div>
        <div class="cx-ghost-body">
          <div class="cx-ghost-text ghost"></div>
          <div class="cx-ghost-price ghost"></div>
        </div>
      </div>

      <div class="cx-ghost-attribute">
        <div class="cx-ghost-header">
          <div class="cx-ghost-title ghost"></div>
          <div class="cx-ghost-icon ghost"></div>
          <div class="cx-ghost-description-box">
            <div class="cx-ghost-description ghost"></div>
          </div>
        </div>
        <div class="cx-ghost-body">
          @for (number of [0, 1, 2]; track number; let i = $index) {
            <div class="cx-ghost-radiobutton-value">
              <div class="cx-ghost-value-label-pair">
                <div class="cx-ghost-value-icon ghost"></div>
                <div class="cx-ghost-label ghost"></div>
              </div>
              <div class="cx-ghost-value-price ghost">
                @if (i !== 0) {
                  <div class="cx-ghost-price"></div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }
  }
} @else {
  @for (number of [0, 1, 2]; track number) {
    <div class="cx-ghost-attribute">
      <div class="cx-ghost-header">
        <div class="cx-ghost-title ghost"></div>
        <div class="cx-ghost-icon ghost"></div>
      </div>
      <div class="cx-ghost-body">
        <div class="cx-ghost-text ghost"></div>
        <div class="cx-ghost-price ghost"></div>
      </div>
    </div>

    <div class="cx-ghost-attribute">
      <div class="cx-ghost-header">
        <div class="cx-ghost-title ghost"></div>
        <div class="cx-ghost-icon ghost"></div>
        <div class="cx-ghost-description-box">
          <div class="cx-ghost-description ghost"></div>
        </div>
      </div>
      <div class="cx-ghost-body">
        @for (number of [0, 1, 2]; track number; let i = $index) {
          <div class="cx-ghost-radiobutton-value">
            <div class="cx-ghost-value-label-pair">
              <div class="cx-ghost-value-icon ghost"></div>
              <div class="cx-ghost-label ghost"></div>
            </div>
            <div class="cx-ghost-value-price ghost">
              @if (i !== 0) {
                <div class="cx-ghost-price"></div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
}
