@import '../placeholders';

// .ProductListPageTemplate,
// .SearchResultsListPageTemplate,
// .CategoryPageTemplate {
// }

.CategoryPageTemplate {
  max-width: 1140px;
  margin: auto;
  .Section2 {
    > * {
      --cx-flex-basis: 33%;

      @include media-breakpoint-down(md) {
        --cx-flex-basis: 50%;
      }
    }
  }
}
