%CdpMyAccountPageTemplate
 {
  max-width: var(--cx-page-width-max);
  margin: auto;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  .SideContent {
    max-width: 25%;
    // padding-top: 10px;
    // padding-inline-end: 15px;
    // padding-bottom: 15px;
    // padding-inline-start: 15px;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: none;
    }
  }

  .BodyContent {
    max-width: 75%;
    padding-top: 30px;
    // padding-inline-end: 15px;
    padding-bottom: 15px;
    // padding-inline-start: 15px;
    padding-left: 20px;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: none;
    }
  }
}


