// %CompanyPageTemplate {
//   // @extend %pageBody !optional;

//   max-width: 1140px;
//   padding: 2rem 1.5rem 0 1.5rem;
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-content: flex-start;

//   @include media-breakpoint-down(md) {
//     display: inline-block;
//   }

//   cx-page-slot {
//     &.BodyContent {
//       flex: 0 100%;
//     }

//     .row {
//       padding: 0.5rem 0;
//       &.section {
//         padding: 1.5rem 0 0;
//       }
//     }
//   }
// }
