%ContentPage1Template {
  // @extend %pageBody !optional;

  max-width: 1140px;
  padding: 2rem 1.5rem 0 1.5rem;
  margin: auto;
  cx-page-slot {
    &.Section2A,
    &.Section2B {
      display: block;
    }
  }
}
