%LandingPage2Template {
  display: flex;
  flex-wrap: wrap;

  cx-dynamic-slot {
    &.Section2A,
    &.Section2B {
      --cx-flex-basis: 50%;

      @include media-breakpoint-down(md) {
        --cx-flex-basis: 100%;
        > * {
          --cx-flex-basis: 50%;
        }
      }

      @include media-breakpoint-only(xs) {
        > * {
          --cx-flex-basis: 100%;
        }
      }
    }

    &.Section3 {
      max-width: 1140px;
      margin: auto;
    }

    &.Section4 {
      color: var(--cx-color, var(--cx-g-color-light));
      flex-wrap: nowrap;

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        > * {
          --cx-flex-basis: 50%;
          border-bottom: solid 1px currentColor;
          border-right: solid 1px currentColor;
        }
      }

      @include media-breakpoint-only(xs) {
        > * {
          --cx-flex-basis: 100%;
        }
      }
    }
  }
}
