.LandingPage2Template {
  display: flex;
  flex-wrap: wrap;

  cx-dynamic-slot {
    &.Section2A,
    &.Section2B {
      flex: 0 0 50%;
      > * {
        flex: 0 0 50%;
      }
    }

    &.Section4 {
      flex-wrap: nowrap;
    }
  }
}
