%LoginPageTemplate {
  cx-dynamic-slot {
    max-width: 1140px;
    padding: 3rem 1.5rem 0 1.5rem;
    margin: auto;

    > * {
      max-width: var(--cx-max-width, 50%);
    }
  }

  @include media-breakpoint-down(md) {
    --cx-max-width: 100%;
  }
}
