%MyAccountViewPageTemplate {
    max-width: var(--cx-page-width-max);
    margin: auto;
    display: flex;
    cx-page-slot {
      cx-paragraph {
        height: 142px;
      }
  
    }
  
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    .LeftContentSlot {
      max-width: 25%;
      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: none;
      }
    }
  
    .RightContentSlot {
      max-width: 75%;
  
      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: none;
      }
    }
  
    cx-paragraph h4 {
      height: fit-content;
    }
  }
  