%AccountPageTemplate {
  --cx-max-width: 100%;
  @extend %LoginPageTemplate !optional;

  cx-order-details-headline {
    @include media-breakpoint-down(sm) {
      border: none;
    }

    .cx-header {
      border: 1px solid;
      border-color: var(--cx-color-light);
      padding-top: 30px;
      padding-inline-end: 30px;
      padding-bottom: 20px;
      padding-inline-start: 30px;
      margin-bottom: 30px;
      margin-inline-start: 0;
      margin-inline-end: 0;

      &:not(:first-child) {
        border-top: none;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }

      @include media-breakpoint-down(sm) {
        border: none;
        padding: 0;
      }

      .cx-detail {
        border-inline-end: 1px solid var(--cx-color-light);

        &:last-child {
          border: none;
        }

        @include media-breakpoint-up(md) {
          padding-inline-start: 47px;

          &:first-child {
            padding-inline-start: 0;
          }
        }

        @include media-breakpoint-down(sm) {
          border: none;
          margin-bottom: 10px;
        }
      }

      .cx-detail-label {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .cx-nav {
      justify-content: center;
      padding: 1rem 0;

      .btn-action {
        @include media-breakpoint-down(sm) {
          margin: 0 0 1rem;
        }
      }
    }
  }

  cx-order-details-items {
    margin-bottom: 15px;
    .cx-list-header {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    .cx-list {
      @include media-breakpoint-down(sm) {
        margin-inline-end: 0;
        margin-inline-start: 0;
      }
    }

    .cx-list-status {
      margin: 0 0 0.5rem;
      padding: 15px 30px;
      background-color: var(--cx-color-background);
      @include type('4');
      font-weight: bold;
    }

    .cx-list-date {
      margin: 0.5rem 0 0;
    }
  }

  cx-order-details-shipping {
    .cx-account-summary {
      background-color: var(--cx-color-background);
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: var(--cx-color-light);

      @include media-breakpoint-down(sm) {
        background-color: var(--cx-color-inverse);
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;

        @include media-breakpoint-down(md) {
          max-width: 100%;
          min-width: 100%;
          padding: 0 1.25rem;
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          padding: 1.25rem;
        }

        .cx-summary-card {
          flex: 1;
          padding: 0 15px;

          &:not(:last-of-type) {
            @include media-breakpoint-up(lg) {
              border-inline-end: 1px solid var(--cx-color-text);
            }
          }

          @include media-breakpoint-down(md) {
            flex: 0 0 33%;
          }

          @include media-breakpoint-down(sm) {
            flex: 1;
            background-color: var(--cx-color-inverse);
            border-width: 1px;
            border-style: solid;
            border-color: var(--cx-color-light);
            margin: 0.625rem 0;
          }

          .cx-card-title {
            @include type('4');
            font-weight: bold;
          }
        }
      }
    }
  }

  cx-order-details-totals {
    margin-bottom: 32px;
  }

  cx-tab-paragraph-container {
    .active {
      background-color: var(--cx-color-inverse);
    }
  }

  cx-paragraph h4 {
    text-align: center;
  }

  cx-cart-item {
    .cx-image-container {
      a {
        padding: 0 3vw;
      }
    }
  }

  cx-replenishment-order-cancellation,
  cx-replenishment-order-cancellation-dialog {
    .cx-cancel-replenishment-btns {
      display: flex;

      .btn-action {
        @include media-breakpoint-down(sm) {
          margin: 0 0 1rem;
        }
      }
    }
  }

  cx-replenishment-order-cancellation {
    .cx-cancel-replenishment-btns {
      justify-content: flex-end;
      margin: 2rem 0;
    }
  }

  cx-replenishment-order-cancellation-dialog {
    color: var(--cx-color-text);
    background-color: rgba(0, 0, 0, 0.5);

    .cx-cancel-replenishment-dialog-foreground {
      @extend .modal-dialog;
      @extend .modal-dialog-centered;

      .cx-cancel-replenishment-dialog-content {
        @extend .modal-content;

        .cx-cancel-replenishment-dialog {
          &-header {
            @extend .modal-header;
          }

          &-description {
            padding: 10px 30px 0;
          }

          &-body {
            @extend .modal-body;

            .cx-cancel-replenishment-btns {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
