.AccountPageTemplate {
  cx-order-details-headline {
    order: 1;
  }

  cx-order-details-items {
    order: 2;
  }

  cx-order-details-shipping {
    order: 4;
  }

  cx-order-details-totals {
    order: 3;
  }
}
