%AccountPageTemplate {
  --cx-max-width: 100%;
  @extend %LoginPageTemplate !optional;

  cx-order-details-headline {
    @include media-breakpoint-down(sm) {
      border: none;
    }

    .cx-header {
      border: 1px solid;
      border-color: var(--cx-color-light);
      padding: 30px 30px 20px 30px;
      margin-bottom: 30px;
      margin-left: 0;
      margin-right: 0;

      &:not(:first-child) {
        border-top: none;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }

      @include media-breakpoint-down(sm) {
        border: none;
        padding: 0;
      }

      .cx-detail {
        border-right: 1px solid var(--cx-color-light);

        &:last-child {
          border: none;
        }

        @include media-breakpoint-up(md) {
          padding-left: 47px;

          &:first-child {
            padding-left: 0;
          }
        }

        @include media-breakpoint-down(sm) {
          border: none;
          margin-bottom: 10px;
        }
      }

      .cx-detail-label {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .cx-nav {
      justify-content: center;
      padding: 1rem 0;

      .btn-action {
        @include media-breakpoint-down(sm) {
          margin: 0 0 1rem;
        }
      }
    }
  }

  cx-order-details-items {
    margin-bottom: 15px;
    .cx-list-header {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    .cx-list {
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .cx-list-status {
      margin: 0 0 0.5rem;
      padding: 15px 30px;
      background-color: var(--cx-color-background);
      @include type('4');
      font-weight: bold;
    }

    .cx-list-date {
      margin: 0.5rem 0 0;
    }
  }

  cx-order-details-totals {
    margin-bottom: 32px;
  }

  cx-tab-paragraph-container {
    .active {
      background-color: var(--cx-color-inverse);
    }
  }

  cx-paragraph h4 {
    text-align: center;
  }

  cx-cart-item {
    .cx-image-container {
      a {
        padding: 0 3vw;
      }
    }
  }
}
