<cx-split *ngIf="costCenter$ | async as costCenter">
  <cx-view>
    <form [formGroup]="form" (ngSubmit)="save()">
      <h3>
        <a class="link" routerLink="../">
          <cx-icon type="CARET_LEFT"></cx-icon>
          Cancel
        </a>
        {{ 'organization.edit' | cxTranslate }}
        <button class="button primary" type="submit">
          Save
        </button>
      </h3>
      <section>
        <cx-cost-center-form [form]="form"> </cx-cost-center-form>
      </section>
    </form>
  </cx-view>
</cx-split>
