<cx-split *ngIf="costCenter$ | async as costCenter">
  <cx-view>
    <h3>
      <a class="link" routerLink="../">
        <cx-icon type="CARET_LEFT"></cx-icon>
        Cancel
      </a>

      {{ 'costCenterForm.edit' | cxTranslate: { name: costCenter.name } }}

      <button class="button primary">
        Save
      </button>
    </h3>

    <cx-cost-center-form
      *ngIf="costCenter$ | async as costCenter"
      [actionBtnLabel]="'costCenterForm.update' | cxTranslate"
      [costCenterData]="costCenter"
      [routerBackLink]="{ cxRoute: 'costCenterDetails', params: costCenter }"
      (submitForm)="updateCostCenter($event)"
    >
    </cx-cost-center-form>
  </cx-view>
</cx-split>

<!-- <cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'costCenterDetails',
      name: 'costCenter.details',
      active: true
    },
    { cxRoute: 'costCenterBudgets', name: 'costCenter.budgets' }
  ]"
  [routerBackLink]="{ cxRoute: 'costCenters', name: 'costCenter.back' }"
>
  <div class="cx-header">
    <h3>{{ 'costCenterForm.edit' | cxTranslate }}</h3>
  </div>
  <cx-cost-center-form
    *ngIf="costCenter$ | async as costCenter"
    [actionBtnLabel]="'costCenterForm.update' | cxTranslate"
    [costCenterData]="costCenter"
    [routerBackLink]="{ cxRoute: 'costCenterDetails', params: costCenter }"
    (submitForm)="updateCostCenter($event)"
  >
  </cx-cost-center-form>
</cx-fake-tabs> -->
