cx-asm-session-timer {
  font-size: 14px;
  .label {
    margin-right: 6px;
  }
  .time {
    font-weight: 600;
  }
  .reset {
    margin-left: 15px;
    margin-right: 30px;
    cursor: pointer;
  }
}
