<ng-container class="container" *ngIf="address$ | async as address">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="cx-header">
        <h3>{{ 'orgUnit.details' | cxTranslate }}</h3>
      </div>
      <div class="row ">
        <div class="col-6">{{ 'orgUnit.uid' | cxTranslate }}</div>
        <div class="col-6">{{ address.id }}</div>
      </div>
      <div class="row">
        <div class="col-6">{{ 'orgUnit.name' | cxTranslate }}</div>
        <div class="col-6 cx-label">
          {{ address.firstName }} {{ address.lastName }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">{{ 'orgUnit.parentUnit' | cxTranslate }}</div>
        <div class="col-6">
          <a
            [routerLink]="
              {
                cxRoute: 'orgUnitDetails',
                params: { uid: address.code }
              } | cxUrl
            "
          >
            {{ orgUnitCode$ | async }}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">{{ 'orgUnit.details' | cxTranslate }}</div>
        <div class="col-6 cx-label">
          {{ address.formattedAddress }}
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <a
            [routerLink]="
              {
                cxRoute: 'orgUnitAddressEdit',
                params: address
              } | cxUrl
            "
            class="btn btn-primary btn-block"
          >
            {{ 'orgUnit.edit' | cxTranslate }}
          </a>
        </div>
        <div class="col-md-12 col-lg-6">
          <a
            [routerLink]="
              {
                cxRoute: 'orgUnitManageAddresses',
                params: address
              } | cxUrl
            "
            class="btn btn-secondary btn-block"
          >
            {{ 'orgUnit.back' | cxTranslate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
