<ng-container
  *ngIf="{
    value: explicitTermsAndConditions$ | async,
  } as explicitTermsAndConditions"
>
  <div class="cx-opf-review-card-wrapper">
    <cx-opf-checkout-review-card
      [cardContent$]="getPoNumberCard(poNumber$ | async)"
      [editConfig]="{
        route: getCheckoutStepUrl(checkoutStepTypePaymentType),
        ariaLabelKey: 'checkoutReview.editPoNumber',
      }"
    ></cx-opf-checkout-review-card>
    <cx-opf-checkout-review-card
      [cardContent$]="
        getPaymentMethodNameCard(
          (selectedPaymentProviderName$ | async) || undefined
        )
      "
      [editConfig]="{
        route: getCheckoutStepUrl(checkoutStepTypePaymentType),
        ariaLabelKey: 'checkoutReview.editPaymentMethod',
      }"
    ></cx-opf-checkout-review-card>
    <cx-opf-checkout-review-card
      *ngIf="deliveryAddress$ | async as deliveryAddress"
      [cardContent$]="getDeliveryAddressCard(deliveryAddress)"
      [editConfig]="{
        route: getCheckoutStepUrl(checkoutStepTypeDeliveryAddress),
        ariaLabelKey: 'checkoutReview.editDeliveryAddressDetails',
      }"
    ></cx-opf-checkout-review-card>

    <cx-opf-checkout-review-card
      *ngIf="deliveryMode$ | async as deliveryMode"
      [cardContent$]="getDeliveryModeCard(deliveryMode)"
      [editConfig]="{
        route: getCheckoutStepUrl(checkoutStepTypeDeliveryMode),
        ariaLabelKey: 'checkoutReview.editDeliveryMode',
      }"
    ></cx-opf-checkout-review-card>
  </div>

  <cx-opf-checkout-terms-and-conditions-alert
    *ngIf="!explicitTermsAndConditions.value"
    [isDismissible]="true"
    [isVisible]="termsAndConditionInvalid"
    [isExplicit]="explicitTermsAndConditions.value"
    [ngClass]="['for-mobile']"
  ></cx-opf-checkout-terms-and-conditions-alert>

  <div
    *ngIf="explicitTermsAndConditions.value"
    class="cx-opf-terms-and-conditions"
    [attr.aria-label]="'opfCheckout.termsAndConditions' | cxTranslate"
  >
    <h3>{{ 'opfCheckout.termsAndConditions' | cxTranslate }}</h3>

    <form
      class="cx-place-order-form form-check"
      [formGroup]="checkoutSubmitForm"
    >
      <div class="form-group">
        <label>
          <input
            formControlName="termsAndConditions"
            class="scaled-input form-check-input"
            type="checkbox"
            (change)="toggleTermsAndConditions()"
          />
          <span class="form-check-label">
            {{ 'checkoutReview.confirmThatRead' | cxTranslate }}
            <a
              [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl"
              class="cx-tc-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ 'checkoutReview.termsAndConditions' | cxTranslate }}
            </a>
          </span>
        </label>
      </div>
    </form>
  </div>

  <cx-opf-checkout-billing-address-form></cx-opf-checkout-billing-address-form>

  <cx-opf-checkout-payments
    [onlyPaymentWrapperMode]="true"
    [showBeforePaymentOptionsOutlet]="false"
    [renderPaymentWrapper]="
      !explicitTermsAndConditions.value ||
      (explicitTermsAndConditions.value && !termsAndConditionInvalid)
    "
    [noRenderPaymentWrapperMessage]="
      'opfCheckout.termsAndConditionsDisclaimer' | cxTranslate
    "
    (selectedPaymentProviderName)="onPaymentProviderSelected($event)"
    [hideOnlyOnePaymentProviderLabel]="true"
  >
    <cx-opf-checkout-terms-and-conditions-alert
      *ngIf="!explicitTermsAndConditions.value"
      [isDismissible]="true"
      [isVisible]="termsAndConditionInvalid"
      [isExplicit]="explicitTermsAndConditions.value"
      [ngClass]="['for-desktop']"
    ></cx-opf-checkout-terms-and-conditions-alert>
  </cx-opf-checkout-payments>

  <cx-opf-checkout-review-cart-details
    [cart]="cart$ | async"
    [entries]="entries$ | async"
  ></cx-opf-checkout-review-cart-details>
</ng-container>
