@import '../../../../theme';
@include mat-core();

@media screen and (max-width: 480px) {
  fxHide.xs {
    display: none;
  }
}

.headings {
  margin-top: 20px;
  text-align: center;
}

.cart-details {
  width: 100%;
  height: 100%;
  margin-left: 40px;
}

.order-summary {
  width: 100%;
  margin-left: 20%;
  margin-top: -25%;
}

mat-grid-tile {
  flex-grow: 1;
  overflow: auto;
}

.sub-heading {
  margin-bottom: 20px;
  margin-left: 40px;
}

.content {
  height: 100%;
}

button {
  margin-top: 20px;
}

.empty-cart-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.product-name {
  color: #9c27b0;
}
