<ng-container *ngIf="cart$ | async as cart">
    <div *ngIf="cart.totalItems">
        <div class="headings">
            <h2>Shopping Cart</h2>
            <h4>ID {{cart?.code}}</h4>
        </div>


        <mat-grid-list cols="4" rowHeight="3:2">
            <div class="content">
                <mat-grid-tile colspan='3'>
                    <div class="cart-details">
                        <div>
                            Cart total ({{cart?.deliveryItemsQuantity}} items): {{cart?.totalPrice?.formattedValue}}
                        </div>
                        <div *ngIf="cart?.totalItems">
                            <mat-nav-list>
                                <mat-list-item *ngFor="let entry of ((entries$ | async) | slice:0:showProductCount )" [routerLink]="['/product', entry.product.code]">

                                    <img mat-list-avatar [src]="entry.product.images.PRIMARY?.cartIcon?.url">

                                    <a mat-line>{{entry.product.name}}</a>
                                    <p mat-line>
                                        ID: {{entry.product.code}}
                                        <br>Qty: {{entry.quantity}} &emsp; Total:
                                        <strong>{{entry.totalPrice.formattedValue}}</strong>
                                    </p>
                                    <a (click)="removeEntry(entry, $event)">Remove</a>
                                </mat-list-item>
                            </mat-nav-list>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan='1'>
                    <div class="order-summary">
                        <y-order-summary></y-order-summary>
                        <div>
                            <button routerLink="/checkout" mat-raised-button color="accent" *ngIf="(entries$ | async).length">Proceed to Checkout</button>
                        </div>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>






        <!-- <div>
            <h4 mat-line>Number of items in the cart: {{cart?.deliveryItemsQuantity}}</h4>
            <h4 mat-line>Total cost: {{cart?.totalPrice?.formattedValue}}</h4>
        </div> -->
    </div>


</ng-container>