@import '../../../../theme';
@include mat-core();

@media screen and (max-width: 480px) {
  fxHide.xs {
    display: none;
  }
}

.entry-quantity {
  background-color: mat-color($accent);
  font-size: 10px;
  display: block;
  width: 15px;
  height: 15px;
  padding: 2px;
  position: absolute;
  line-height: 15px;
  border-radius: 20px;
  margin-top: -5px;
  margin-left: 18px;
  color: #fff;
}

.cart-details {
  margin-top: 20px;
  text-align: center;
}

.buttons {
  text-align: center;
}

.empty-cart-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.product-name {
  color: #9c27b0;
}
