<ng-container *ngIf="cart$ | async as cart">
    <div class="cart-details" *ngIf="cart.totalItems">
        <h2>
            <span>Cart Details</span>
        </h2>
        <div>
            <h4 mat-line>Number of items in the cart: {{cart?.deliveryItemsQuantity}}</h4>
            <h4 mat-line>Total cost: {{cart?.totalPrice?.formattedValue}}</h4>
        </div>
    </div>

    <div class="buttons">
        <button routerLink="/checkout" mat-raised-button color="accent" *ngIf="(entries$ | async).length">Proceed to Checkout</button>
    </div>
</ng-container>