@import '../../../../storefrontstyles/scss/cxbase/animations';

cx-picture {
  &.initialized.loading {
    --cx-zoom: 0.5;
  }

  &:after {
    @extend %spinner;
  }

  // the effects run always, but are made visible only when loading or waiting
  // this is done so we can slowly fadein/out the effect
  &.loading:after {
    --cx-opacity: 1;
  }

  &.waiting:after {
    --cx-opacity: 1;
  }
}

.thumbs {
  cx-picture {
    &:hover:not(.active) {
      --cx-zoom: 1.3;
    }

    &.initialized:before {
      @extend %overlay;
    }
  }
}
