<ng-container *ngIf="configuration$ | async as configuration">
  <ng-container *ngIf="configuration?.warningMessages?.length > 0">
    <div class="alert-message alert-message-invalid-warning">
      <div class="cx-warning-messages">
        <span class="alert-icon">
          <cx-icon type="WARNING"></cx-icon>
        </span>
        <a
          role="link"
          (click)="toggleWarnings()"
          tabindex="0"
          *ngIf="configuration?.warningMessages?.length > 1"
          class="cx-warning-toggle"
        >
          Review these errors

          <ng-container *ngIf="!showWarnings">
            <cx-icon type="CARET_DOWN"></cx-icon>
          </ng-container>

          <ng-container *ngIf="showWarnings">
            <cx-icon type="CARET_UP"></cx-icon>
          </ng-container>
        </a>

        <div
          class="cx-warning-message"
          [class.open]="
            showWarnings || configuration?.warningMessages?.length === 1
          "
          *ngFor="let warningMessage of configuration.warningMessages"
        >
          {{ warningMessage }}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="configuration?.errorMessages?.length > 0">
    <div class="alert-message alert-message-error">
      <div class="cx-error-messages">
        <span class="alert-icon">
          <cx-icon type="ERROR"></cx-icon>
        </span>
        <a
          role="link"
          (click)="toggleErrors()"
          tabindex="0"
          *ngIf="configuration?.errorMessages?.length > 1"
          class="cx-warning-toggle"
        >
          There are multiple errors
          <ng-container *ngIf="!showErrors">
            <cx-icon type="CARET_DOWN"></cx-icon>
          </ng-container>

          <ng-container *ngIf="showErrors">
            <cx-icon type="CARET_UP"></cx-icon>
          </ng-container>
        </a>

        <div
          class="cx-error-message"
          [class.open]="
            showErrors || configuration?.errorMessages?.length === 1
          "
          *ngFor="let errorMessage of configuration.errorMessages"
        >
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
