@import '../../../theme';
@include mat-core();


@media screen and (max-width: 480px) {
// this here used to hide flexHide.xs

}


.entry-quantity {
    background-color: mat-color($accent);
    font-size: 10px;
    display: block;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: absolute;
    line-height: 15px;
    border-radius: 20px;
    margin-top: -5px;
    margin-left: 18px;
    color: #fff;
}