<button fxHide [fxShow.xs]="true" routerLink="/cart" mat-icon-button color="primary" >
    <span *ngIf="cart?.deliveryItemsQuantity > 0" class="entry-quantity">{{cart?.deliveryItemsQuantity}}</span>
    <mat-icon>shopping_cart</mat-icon>
</button>

<!--<mat-spinner></mat-spinner>-->

<button [fxHide.xs]="true" (click)="openCart()" mat-icon-button color="primary">
    <span *ngIf="cart?.deliveryItemsQuantity > 0" class="entry-quantity">{{cart?.deliveryItemsQuantity}}</span>
    <!--<span *ngIf="cart.deliveryItemsQuantity">{{cart.deliveryItemsQuantity}} ITEMS</span>
    <span *ngIf="cart.totalPrice">{{cart.totalPrice.formattedValue}}</span>-->
    <mat-icon>shopping_cart</mat-icon>
</button>