/* Checkboxes should work without toggle button styling
Reset visible focus color to single color*/

//Global Stuff
$cx-g-visual-focus: #51a7e8;
$cx-g-color-background: #f4f4f4;
$cx-g-color-inverse: #ffffff;
$cx-g-color-primary: #fe5757;
$cx-g-color-secondary: #747881;
$cx-g-color-light: #d3d6db;

cx-icon {
  position: absolute;
  top: 15px;
  left: 17px;
}
cx-icon:before {
  font-size: 2rem;
}
.cx-keyb-focusable:focus > .cx-keyb-visualfocus,
.cx-keyb-focusable:focus ~ .cx-keyb-visualfocus {
  box-shadow: 0 0 2px 2px $cx-g-visual-focus;
}
.cx-keyb-focusable:focus,
.cx-keyb-visualfocus:focus {
  outline: none;
}

body {
  background-color: $cx-g-color-background;
}

//-----------------------------------------------------

//Accordion
.cx-accordion {
  max-width: 600px;
  margin: 50px auto;
  line-height: 1.6;
  list-style-type: none;
}
.cx-accordion-item {
  border: 1px solid #ccc;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cx-accordion-title {
  padding: 15px 15px 15px 40px;
  display: block;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
}
.cx-accordion-tab {
  background-color: $cx-g-color-inverse;
}
.cx-accordion-tab:hover {
  cursor: pointer;
}
.cx-accordion-content {
  padding: 0 40px 10px 40px;
}
.cx-accordion-tabpanel {
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
  background-color: $cx-g-color-inverse;
}

//-----------------------------------------------------

//Toggle Button
.cx-toggle-button {
  position: absolute;
  top: 10px;
  right: 90px;
}
.cx-toggle-button *,
.cx-toggle-button *:before,
.cx-toggle-button *:after {
  box-sizing: border-box;
}
//Checkbox Control
.cx-toggle-button input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

//----- Checkbox Control - Checked
.cx-toggle-button input[type='checkbox']:checked ~ label .cx-toggle-switch {
  background-color: $cx-g-color-primary;
  border: 1px solid $cx-g-color-primary;
}
.cx-toggle-button
  input[type='checkbox']:checked
  ~ label
  .cx-toggle-switch:before {
  content: '\00a0';
  left: 0;
}
.cx-toggle-button
  input[type='checkbox']:checked
  ~ label
  .cx-toggle-switch:after {
  content: '\00a0';
  border: 2px solid $cx-g-color-inverse;
  background-color: $cx-g-color-inverse;
  transform: translate3d(22px, 0, 0);
}

//----- Checkbox Control - Disabled
.cx-toggle-button input[type='checkbox'][disabled] ~ label,
.cx-toggle-button input[type='checkbox'][disabled] ~ label .cx-toggle-switch {
  pointer-events: none;
}

//----- Checkbox Control - Checked and Disabled
.cx-toggle-button
  input[type='checkbox'][disabled]:checked
  ~ label
  .cx-toggle-switch {
  background-color: $cx-g-color-light;
  border: 1px solid $cx-g-color-light;
}

.cx-toggle-button
  input[type='checkbox'][disabled]:checked
  ~ label
  .cx-toggle-text {
  color: $cx-g-color-light;
}

//Toggle Switch
.cx-toggle-button label {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.cx-toggle-button label .cx-toggle-switch {
  position: relative;
  height: 32px;
  flex: 0 0 56px;
  border-radius: 60px;
  border: 1px solid $cx-g-color-secondary;
  background-color: $cx-g-color-inverse;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.cx-toggle-button label .cx-toggle-switch:before {
  content: '\00a0';
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
  left: 28px;
  font-size: 12px;
  line-height: 32px;
  width: 28px;
  padding: 0 12px;
}
.cx-toggle-button label .cx-toggle-switch:after {
  content: '\00a0';
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  transform: translate3d(0, 0, 0);
  top: 3px;
  left: 3px;
  border-radius: 30px;
  width: 25px;
  line-height: 20px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  border: 2px solid $cx-g-color-secondary;
  background-color: $cx-g-color-secondary;
}
//Toggle Text
.cx-toggle-button label .cx-toggle-text {
  font-size: 14px;
  flex: 1;
  padding-left: 1rem;
  color: $cx-g-color-secondary;
}

//----- Focus A11Y Specific for toggle buttons
.cx-toggle-button input[type='checkbox']:focus ~ label .cx-toggle-switch {
  box-shadow: 0 0 2px 3px $cx-g-visual-focus;
}

//-----------------------------------------------------

/* Unused Styles
.cx-accordion-title:focus {outline: $cx-g-visual-focus; outline-offset: 2px;}
.cx-toggle-button input[type="checkbox"]:hover ~ label { }
.cx-toggle-button input[type="checkbox"]:checked ~ label:hover { }
.cx-toggle-button input[type="checkbox"]:focus ~ label .cx-toggle-switch, 
.cx-toggle-button input[type="checkbox"]:hover ~ label .cx-toggle-switch {}
.cx-toggle-button input[type="checkbox"]:focus ~ label .cx-toggle-switch:after, 
.cx-toggle-button input[type="checkbox"]:hover ~ label .cx-toggle-switch:after { }
.cx-toggle-button input[type="checkbox"]:checked:focus ~ label .cx-toggle-switch, 
.cx-toggle-button input[type="checkbox"]:checked:hover ~ label .cx-toggle-switch {}
.cx-toggle-button input[type="checkbox"]:checked:focus ~ label .cx-toggle-switch:after, 
.cx-toggle-button input[type="checkbox"]:checked:hover ~ label .cx-toggle-switch:after {}
*/
