<div
  class="form-check cx-accordion"
  role="tablist"
  aria-live="polite"
  data-behavior="accordion"
>
  <div
    class="cx-accordion-item js-show-item-default"
    data-binding="expand-accordion-item"
  >
    <div
      [id]="'tab' + template?.id"
      tabindex="0"
      class="cx-accordion-tab cx-keyb-focusable"
      [attr.aria-controls]="'panel' + template?.id"
      role="tab"
      [attr.aria-selected]="accordionExpanded"
      [attr.aria-expanded]="accordionExpanded"
      data-binding="expand-accordion-trigger"
      (click)="toggleAccordion()"
      (keydown)="toggleAccordion($event)"
    >
      <cx-icon [type]="iconTypes.CARET_DOWN"></cx-icon>
      <span class="cx-accordion-title cx-keyb-visualfocus" tabindex="-1"
        >{{ template?.name }}
      </span>
    </div>

    <div
      [id]="'panel' + template?.id"
      class="cx-accordion-tabpanel"
      role="tabpanel"
      [attr.aria-hidden]="!accordionExpanded"
      [attr.aria-labelledby]="'tab' + template?.id"
      data-binding="expand-accordion-container"
      [style.height]="accordionHeight"
    >
      <div class="cx-accordion-content" #accordionContent>
        <p>{{ template?.description }}</p>
      </div>
    </div>

    <div class="cx-toggle-button">
      <input
        [id]="template?.id"
        type="checkbox"
        [checked]="consentGiven$ | async"
        (change)="onConsentChange()"
      />

      <label [for]="template?.id">
        <div class="cx-toggle-switch"></div>
        <div class="cx-toggle-text">
          {{ consentGivenTranslation$ | async | cxTranslate }}
        </div>
      </label>
    </div>
  </div>
</div>
