@if (product$ | async; as product) {
  @if (userLoggedIn$ | async) {
    @if (wishListEntries$ | async; as entries) {
      @if (hasStock) {
        <!-- TODO: (CXSPA-7603) - Remove feature flag next major release. -->
        <ng-container *cxFeature="'a11yLinkBtnsToTertiaryBtns'">
          @if (getProductInWishList(product, entries); as entry) {
            <div>
              <button
                #removeFromWishlistButton
                class="btn btn-tertiary button-remove"
                (click)="remove(entry)"
                [disabled]="loading$ | async"
                [cxAtMessage]="
                  'addToWishList.removedFromWishList' | cxTranslate
                "
              >
                <cx-icon aria-hidden="true" [type]="iconTypes.HEART"></cx-icon>
                <span class="button-text">{{
                  'addToWishList.remove' | cxTranslate
                }}</span>
              </button>
            </div>
          } @else {
            <button
              #addToWishlistButton
              class="btn btn-tertiary button-add"
              (click)="add(product)"
              [disabled]="loading$ | async"
              [cxAtMessage]="'addToWishList.addedToWishList' | cxTranslate"
            >
              <cx-icon
                aria-hidden="true"
                [type]="iconTypes.EMPTY_HEART"
              ></cx-icon>
              <span class="button-text">{{
                'addToWishList.add' | cxTranslate
              }}</span>
            </button>
          }
        </ng-container>
        <ng-container *cxFeature="'!a11yLinkBtnsToTertiaryBtns'">
          @if (getProductInWishList(product, entries); as entry) {
            <div>
              <button
                class="btn btn-link button-remove cx-action-link"
                (click)="remove(entry)"
                [disabled]="loading$ | async"
                [cxAtMessage]="
                  'addToWishList.removedFromWishList' | cxTranslate
                "
              >
                <cx-icon aria-hidden="true" [type]="iconTypes.HEART"></cx-icon>
                <span class="button-text">{{
                  'addToWishList.remove' | cxTranslate
                }}</span>
              </button>
            </div>
          } @else {
            <button
              class="btn btn-link button-add cx-action-link"
              (click)="add(product)"
              [disabled]="loading$ | async"
              [cxAtMessage]="'addToWishList.addedToWishList' | cxTranslate"
            >
              <cx-icon
                aria-hidden="true"
                [type]="iconTypes.EMPTY_HEART"
              ></cx-icon>
              <span class="button-text">{{
                'addToWishList.add' | cxTranslate
              }}</span>
            </button>
          }
        </ng-container>
      }
    }
  } @else {
    @if (hasStock) {
      <a
        class="btn btn-link button-add-link cx-action-link"
        [routerLink]="{ cxRoute: 'login' } | cxUrl"
        cxBtnLikeLink
      >
        <cx-icon aria-hidden="true" [type]="iconTypes.EMPTY_HEART"></cx-icon>
        <span class="button-text">{{
          'addToWishList.anonymous' | cxTranslate
        }}</span>
      </a>
    }
  }
}
