<ng-container *ngIf="isLoaded$ | async; else loading">
  <div *ngIf="orders$ | async as orderHistory">
    <!-- HEADER -->
    <div class="cx-order-history-enhanced-ui-header">
      <h2>
        {{
          'OrderHistoryEnhancedUI.heading'
            | cxTranslate: { param: tabTitleParam$ | async }
        }}
      </h2>
    </div>
    <!--BODY-->
    <div class="cx-order-history-enhanced-ui-body">
      <ng-container *ngIf="orderHistory.pagination!.totalResults; else noOrder">
        <div
          *ngIf="orderHistory.pagination!.totalResults > 0; else noOrder"
        ></div>
        <!-- !!!!!!!re-check this above div -->

        <!--main content starting-->
        <ng-container *ngFor="let order of orderHistory.orders">
          <div class="cx-each-order">
            <!--eg: Order # 12345-->
            <div
              class="cx-enhanced-ui-order-history-code"
              (click)="goToOrderDetail(order)"
            >
              <a
                [routerLink]="
                  {
                    cxRoute: 'orderDetails',
                    params: order
                  } | cxUrl
                "
              >
                {{ 'orderHistory.orderId' | cxTranslate }} {{ order?.code }}</a
              >
            </div>

            <!--eg: 12,October,2022 | Total Price: $12.00-->
            <div class="cx-enhanced-ui-order-summary">
              {{ order.placed | cxDate: 'd, MMMM, yyyy' }}
              |
              <strong>
                {{
                  'OrderHistoryEnhancedUI.totalPrice'
                    | cxTranslate: { param: order.total?.formattedValue }
                }}
              </strong>
            </div>

            <!--eg: Display consolidated order information-->
            <cx-order-consolidated-information [order]="order">
            </cx-order-consolidated-information>
          </div>
        </ng-container>

        <!--main content ending-->

        <!-- PAGINATION -->
        <div
          *ngIf="orderHistory.pagination!.totalPages"
          class="cx-order-history-pagination"
        >
          <div
            *ngIf="orderHistory.pagination!.totalPages > 1"
            class="cx-order-history-pagination"
          >
            <!-- !!!!!!!re-check this above div -->
            <cx-pagination
              [pagination]="orderHistory.pagination"
              (viewPageEvent)="pageChange($event)"
            ></cx-pagination>
          </div>
        </div>
      </ng-container>

      <!-- NO ORDER CONTAINER -->
      <ng-template #noOrder>
        <div>
          <div>{{ 'orderHistory.noOrders' | cxTranslate }}</div>
          <a
            [routerLink]="{ cxRoute: 'home' } | cxUrl"
            routerLinkActive="active"
            class="btn btn-primary btn-block"
            >{{ 'orderHistory.startShopping' | cxTranslate }}</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>

<!-- ORDER HISTORY DATA STILL LOADING -->
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
