%cx-return-order-confirmation {
  h4 {
    text-align: center;
  }
  .cx-nav {
    justify-content: center;
    padding: 1rem 0;

    .btn-action {
      @include media-breakpoint-down(sm) {
        margin: 0 0 1rem;
      }
    }
  }
}
