%cx-return-request-totals {
  padding: 2rem 2.5rem 0;

  h4 {
    text-transform: uppercase;
    font-weight: var(--cx-font-weight-semi);
  }

  .cx-summary-label {
    text-align: start;
    padding: 0;
  }
  .cx-summary-amount {
    text-align: end;
    padding: 0;
  }
  .cx-summary-row {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  .cx-summary-savings {
    color: var(--cx-color-success);
  }
  .cx-summary-total {
    font-weight: var(--cx-font-weight-bold);
  }
  .cx-coupon-code-pill {
    background: var(--cx-g-color-light);
    padding: 7px 15px 7px 13px;
    margin: 10px 10px 5px 0;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 4px;
    word-break: break-all;
  }
  .cx-coupon-code--pill-value {
    line-height: 1.7;
  }
  .cx-footnote {
    @include type('7');
  }
}
