%cx-store-finder-grid {
  > .container {
    border-style: unset;
    border-width: unset;
    border-color: unset;
    display: inline-block;
    padding: 10px 0 0 0;

    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
  }

  .cx-spinner {
    padding: 2rem 0;
  }
  .cx-counter {
    text-align: start;
    margin: 0 0.75rem 1.5rem 0.75rem;
    line-height: var(--cx-line-height, 1.5);

    &-title {
      @include type('3');
    }
  }
}
