%cx-store-finder-store-description {
  // TODO: (CXSPA-5916) Remove feature flags next major
  @include forVersion(6.8) {
    .cx-container {
      text-align: start;
      display: flex;
      margin-bottom: 1rem;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .cx-store {
      padding-inline: 1rem;
      flex: 1;
    }
  }

  @include forVersion(1, 6.7) {
    .container {
      margin-bottom: 1rem;
    }

    .cx-store {
      text-align: start;
    }
  }

  .cx-store-description-address {
    margin-bottom: 1.5rem;
  }

  .cx-contact {
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
  }

  .cx-list {
    padding: 0;
    list-style: none;
  }

  .cx-link {
    color: var(--cx-color-text);
  }

  .cx-schedule {
    margin-bottom: 1.5rem;
  }

  .cx-store-hours {
    padding: 0;
  }

  .cx-hours {
    text-align: end;
    &.closed {
      color: var(--cx-color-primary);
    }
  }

  .cx-features {
    margin-bottom: 10px;
  }

  .cx-features-header {
    text-align: start;
  }

  .cx-feature-item {
    color: var(--cx-color-primary);
  }

  // TODO: (CXSPA-5916) Remove feature flags next major
  @include forVersion(6.8) {
    .cx-storeMap {
      flex: 2;
      padding-inline: 1rem;
    }
  }

  @include forVersion(1, 6.7) {
    .cx-storeMap {
      height: 70vh;
    }
  }
}
