<div class="cx-counter-wrapper">
  <div
    class="cx-counter btn-group"
    role="group"
    tabindex="0"
    aria-label="Add more items"
    [class.focused]="focus"
    (keydown)="onKeyDown($event)"
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
  >
    <button
      type="button"
      class="cx-counter-action"
      (click)="decrement()"
      [disabled]="cartIsLoading || value <= min"
    >
      -
    </button>
    <input
      #itemCounterInput
      class="cx-counter-value"
      type="text"
      name="value"
      cxOnlyNumber
      [formControl]="inputValue"
      [value]="value"
      *ngIf="isValueChangeable"
    />
    <div class="cx-counter-value" *ngIf="!isValueChangeable">
      {{ value }}
    </div>
    <button
      type="button"
      class="cx-counter-action"
      (click)="increment()"
      [disabled]="cartIsLoading || value >= max"
    >
      +
    </button>
  </div>
</div>
