<section [attr.aria-label]="'paymentForm.payment' | cxTranslate">
  <h2 class="cx-checkout-title d-none d-lg-block d-xl-block">
    {{ 'paymentForm.payment' | cxTranslate }}
  </h2>
  @if (cards$ | async; as cards) {
    @if (!(isUpdating$ | async)) {
      @if (cards?.length && !newPaymentFormManuallyOpened) {
        <p class="cx-checkout-text">
          {{ 'paymentForm.choosePaymentMethod' | cxTranslate }}
        </p>

        <div class="cx-checkout-btns cx-checkout-btns-top">
          <button
            class="btn btn-block btn-secondary"
            (click)="showNewPaymentForm()"
          >
            {{ 'paymentForm.addNewPayment' | cxTranslate }}
          </button>
        </div>

        <div class="cx-checkout-body row">
          @for (card of cards; track card; let i = $index) {
            <div class="cx-payment-card col-md-12 col-lg-6">
              <div
                class="cx-payment-card-inner"
                (click)="selectPaymentMethod(card.paymentMethod)"
              >
                <cx-card
                  [border]="true"
                  [fitToContainer]="true"
                  [content]="card.content"
                  [index]="i"
                  (sendCard)="selectPaymentMethod(card.paymentMethod)"
                ></cx-card>
              </div>
            </div>
          }
        </div>

        <div class="cx-checkout-btns cx-checkout-btns-bottom">
          <button
            class="btn btn-block btn-secondary"
            (click)="showNewPaymentForm()"
          >
            {{ 'paymentForm.addNewPayment' | cxTranslate }}
          </button>
        </div>

        <div class="row cx-checkout-btns">
          <div class="col-md-12 col-lg-6">
            <button class="btn btn-block btn-secondary" (click)="back()">
              {{ backBtnText | cxTranslate }}
            </button>
          </div>
          <div class="col-md-12 col-lg-6">
            <button
              class="btn btn-block btn-primary"
              [disabled]="!(selectedMethod$ | async)?.id"
              (click)="next()"
            >
              {{ 'common.continue' | cxTranslate }}
            </button>
          </div>
        </div>
      } @else {
        <cx-payment-form
          (setPaymentDetails)="setPaymentDetails($event)"
          (closeForm)="hideNewPaymentForm()"
          (goBack)="back()"
          [paymentMethodsCount]="cards?.length || 0"
          [setAsDefaultField]="!isGuestCheckout && !!cards?.length"
          [loading]="isUpdating$ | async"
          [paymentDetails]="paymentDetails"
        ></cx-payment-form>
      }
    } @else {
      <div class="cx-spinner">
        <cx-spinner></cx-spinner>
      </div>
    }
  }
</section>
