@mixin checkout-media-style() {
    @include media-breakpoint-down(md) {
      margin-bottom: 2.375rem;
      background-color: var(--cx-background-color, var(--cx-g-color-background));
    }
  
    .col-md-12 {
      @include media-breakpoint-down(md) {
        padding: var(--cx-padding, 0 4.375rem 1.875rem 4.375rem);
      }
  
      @include media-breakpoint-down(sm) {
        padding: var(--cx-padding, 0 2.25rem 1.25rem 2.25rem);
      }
    }
  
    &.container {
      @include media-breakpoint-down(md) {
        max-width: var(--cx-max-width, 100%);
        margin-bottom: 0;
      }
    }
  
    .cx-btn {
      padding-bottom: 1rem;
      @include media-breakpoint-down(md) {
        padding: var(--cx-padding, 0 3.5rem 1.25rem 0);
      }
      @include media-breakpoint-down(sm) {
        padding: var(--cx-padding, 1.25rem);
      }
    }
  
    .cx-btns {
      @include media-breakpoint-down(md) {
        padding: var(--cx-padding, 0);
      }
      .btn-action {
        @include media-breakpoint-down(sm) {
          margin-bottom: 1rem;
        }
      }
    }
  }