@mixin visible-focus {
  outline: 2px var(--cx-color-inverse) solid;
  outline-offset: 0;
  box-shadow: 0 0 0 4px var(--cx-color-visual-focus);
  // TODO: (CXSPA-7208) Remove feature flag next major
  @include forFeature('a11yVisibleFocusOverflows') {
    z-index: 1000;
  }

  // TODO: (CXSPA-5912) Remove feature flag next major
  @include forFeature('a11yMobileVisibleFocus') {
    @include media-breakpoint-down(md) {
      outline-offset: -2px;
      & > cx-media {
        transition: none;
        padding: 2px;
      }
    }
  }
}
