@mixin weight($weight: 'normal') {
  @if type-of($weight) != 'string' {
    font-weight: $weight;
  } @else {
    @if $weight == 'light' {
      font-weight: $font-weight-light;
    } @else if $weight == 'semi' {
      font-weight: $font-weight-semi;
    } @else if $weight == 'normal' or $weight == 'reg' {
      font-weight: $font-weight-normal;
    } @else if $weight == 'bold' {
      font-weight: $font-weight-bold;
    }
  }
}
