<h1 md-dialog-title>
    <span>Cart</span>
</h1>
<div md-dialog-content>
    <p *ngIf="!cart.entries">
        Cart is empty
    </p>
    <div *ngIf="cart.entries">
        <md-nav-list>
            <md-list-item *ngFor="let entry of cart.entries">
                <img md-list-avatar [src]="entry.product.images.PRIMARY.cartIcon.url">
                <a md-line [routerLink]="['/product', entry.product.code]" >{{entry.product.name}}</a>
                <p md-line>{{entry.quantity}} pieces: {{entry.totalPrice.formattedValue}}</p>
                <button md-icon-button (click)="removeEntry(entry)">
                    <md-icon>delete</md-icon>
                </button>
            </md-list-item>
        </md-nav-list>
        <md-list>
            <md-divider></md-divider>
            <md-list-item>
                <md-icon md-list-avatar>monetization_on</md-icon>
                <h4 md-line>{{cart.totalPrice.formattedValue}}</h4>
            </md-list-item>
        </md-list>
    </div>
</div>

<div md-dialog-actions>
    <button md-raised-button color="primary" md-dialog-close>Continue Shopping</button>
</div>
