<h1 mat-dialog-title>
    <span>Cart</span>
</h1>

<div mat-dialog-content>
    <p *ngIf="!(data.cart$ | async)?.totalItems">
        You don't have any products in your cart.
    </p>
    <div *ngIf="(data.cart$ | async)?.totalItems">
        <mat-nav-list>
            <mat-list-item *ngFor="let entry of (data.entries$ | async)"
                [routerLink]="['/product', entry.product.code]"
                (click)="closeDialog()">
                
                <img mat-list-avatar [src]="entry.product.images.PRIMARY?.cartIcon?.url">
                
                <a mat-line>{{entry.product.name}}</a>
                <p mat-line>
                    {{entry.quantity}} 
                    <span *ngIf="entry.quantity===1">piece</span>
                    <span *ngIf="entry.quantity > 1">pieces</span>
                    for {{entry.totalPrice.formattedValue}}</p>
                <button mat-icon-button (click)="removeEntry(entry, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-avatar>monetization_on</mat-icon>
                <h4 mat-line>{{(data.cart$ | async)?.totalPrice.formattedValue}}</h4>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Continue Shopping</button>
    <button routerLink="/cart"
        mat-raised-button color="accent" mat-dialog-close *ngIf="(data.entries$ | async)">Checkout</button>
</div>
