<h1 md-dialog-title>
    <span>Cart</span>
</h1>

<div md-dialog-content>
    <p *ngIf="!cart?.entries">
        You don't have any products in your cart.
    </p>
    <div *ngIf="cart?.entries">
        <mat-nav-list>
            <mat-list-item *ngFor="let entry of cart.entries" 
                [routerLink]="['/product', entry.product.code]"
                (click)="closeDialog()">
                <img mat-list-avatar [src]="entry.product.images.PRIMARY?.cartIcon?.url">
                <a md-line>{{entry.product.name}}</a>
                <p md-line>
                    {{entry.quantity}} 
                    <span *ngIf="entry.quantity===1">piece</span>
                    <span *ngIf="entry.quantity > 1">pieces</span>
                    for {{entry.totalPrice.formattedValue}}</p>
                <button mat-icon-button (click)="removeEntry(entry, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-avatar>monetization_on</mat-icon>
                <h4 md-line>{{cart.totalPrice.formattedValue}}</h4>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<div md-dialog-actions>
    <button md-raised-button color="primary" md-dialog-close>Continue Shopping</button>
    <button routerLink="/cart"
        md-raised-button color="accent" md-dialog-close *ngIf="cart?.entries">Checkout</button>
</div>
