//breakpoint functions - TODO should go in another file
@function cx-breakpoint-next(
  $name,
  $breakpoints: $default-breakpoints,
  $breakpoint-names: map-keys($breakpoints)
) {
  $n: index($breakpoint-names, $name);
  @return if(
    $n < length($breakpoint-names),
    nth($breakpoint-names, $n + 1),
    null
  );
}

@mixin cx-breakpoint-up($name, $breakpoints: $default-breakpoints) {
  $min: cx-breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
@mixin cx-breakpoint-down($name, $breakpoints: $default-breakpoints) {
  //temporary delegate to bootstrap
  @include media-breakpoint-down($name, $breakpoints) {
    @content;
  }
}

@function cx-breakpoint-min($name, $breakpoints: $default-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function cx-breakpoint-max($name, $breakpoints: $default-breakpoints) {
  $next: cx-breakpoint-next($name, $breakpoints);
  @return if($next, cx-breakpoint-min($next, $breakpoints) - 0.02px, null);
}
