*.js
*.map
*.d.ts

#
# Output from the installation script
#
scripts/install/clone
scripts/install/apps
# verdaccio storage
scripts/install/storage
# Environment config file
scripts/install/config.sh
