<div class="arrow"></div>
<div class="popover-body" [cxFocus]="focusConfig">
  <div class="cx-close-row">
    @if (displayCloseButton) {
      <button
        type="button"
        class="close"
        attr.aria-label="{{ 'common.close' | cxTranslate }}"
        title="{{ 'common.close' | cxTranslate }}"
        (keydown.enter)="close($event)"
        (keydown.space)="close($event)"
        (click)="close($event)"
      >
        <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
      </button>
    }
  </div>
  @if (isTemplate(content)) {
    <ng-container *ngTemplateOutlet="content"></ng-container>
  }
  @if (isString(content)) {
    <span>{{ content }}</span>
  }
</div>
