<div class="register" *cxFeatureLevel="'2.1'">
  <p class="cx-section-title">
    {{ 'loginRegister.dontHaveAccount' | cxTranslate }}
  </p>

  <ng-container *ngIf="!loginAsGuest">
    <a
      [routerLink]="{ cxRoute: 'register' } | cxUrl"
      class="btn btn-block btn-secondary btn-register"
      >{{ 'loginRegister.register' | cxTranslate }}</a
    >
  </ng-container>

  <ng-container *ngIf="loginAsGuest">
    <a
      [routerLink]="{ cxRoute: 'checkoutLogin' } | cxUrl"
      class="btn btn-block btn-secondary btn-guest"
      >{{ 'loginRegister.guestCheckout' | cxTranslate }}</a
    >
  </ng-container>
</div>
