@if (storeData) {
  <div class="store-count">
    {{
      'asmCustomer360.maps.storesFound'
        | cxTranslate
          : {
              initial: 1,
              end: storeData.pagination?.pageSize,
              total: storeData.pagination?.totalResults,
            }
    }}
  </div>

  <div>
    @for (store of storeData.stores; track store) {
      <button
        class="store-listing-item"
        [class.selected]="selectedStore === store"
        [attr.aria-label]="store.displayName"
        (click)="selectStore(store)"
      >
        <div class="store-listing-item-details">
          <div class="store-listing-item-text">{{ store.displayName }}</div>
          <div class="store-listing-item-text">
            {{ store.address?.line1 }}, {{ store.address?.line2 }}
          </div>
          <div class="store-listing-item-text">{{ store.address?.town }}</div>
        </div>
        <div class="store-listing-item-distance store-listing-item-text">
          {{ store.formattedDistance }}
        </div>
      </button>
    }
  </div>

  @if (selectedStore) {
    <div>
      <div class="store-details">
        @if (selectedStore.storeImages?.[0]) {
          <img
            [src]="selectedStore.storeImages?.[0]?.url"
            alt="{{ selectedStore.displayName }}"
            title="{{ selectedStore.displayName }}"
            width="110px"
            height="110px"
          />
        }
        <div class="store-details-info">
          <div class="bold">{{ selectedStore.displayName }}</div>
          <div>{{ selectedStore.address?.line1 }}</div>
          <div>{{ selectedStore.address?.line2 }}</div>
          <div>{{ selectedStore.address?.town }}</div>
        </div>
      </div>
      @if (selectedStore?.openingHours; as openingHours) {
        <div class="store-openings">
          @if (openingHours.weekDayOpeningList; as weekDayOpeningList) {
            <div class="store-openings-dates">
              @for (opening of weekDayOpeningList; track opening) {
                <div class="store-openings-date">
                  <span class="store-openings-day bold">{{
                    opening.weekDay
                  }}</span
                  >{{ getStoreOpening(opening) | async }}
                </div>
              }
            </div>
          }
          @if (openingHours.specialDayOpeningList; as specialDayOpeningList) {
            <div class="store-openings-dates">
              @for (opening of specialDayOpeningList; track opening) {
                <div class="store-openings-date">
                  <span class="store-openings-day bold">{{ opening.name }}</span
                  >{{ getStoreOpening(opening) | async }}
                </div>
              }
            </div>
          }
          <div class="store-openings-features">
            @for (feature of selectedStore.features?.entry; track feature) {
              <div>
                {{ feature.value }}
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
}
