<cx-split *ngIf="unitCode$ | async">
  <cx-view>
    <form [formGroup]="form" (ngSubmit)="save()">
      <h3>
        <button class="link" [routerLink]="'../'" (click)="back()">
          <cx-icon type="CARET_LEFT"></cx-icon>
          {{ 'organization.cancel' | cxTranslate }}
        </button>
        {{ 'organization.create' | cxTranslate }}
        <button class="button primary" type="submit">
          {{ 'organization.save' | cxTranslate }}
        </button>
      </h3>

      <section>
        <cx-form-notification
          *ngIf="formRestored"
          messageKey="form.restored"
        ></cx-form-notification>

        <cx-cost-center-form [form]="form"></cx-cost-center-form>
      </section>
    </form>
  </cx-view>
</cx-split>
