<cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'orgUnitDetails',
      name: 'orgUnit.details',
      params: { uid: code$ | async }
    },
    { cxRoute: 'orgUnitUsers', name: 'orgUnit.users', active: true },
    { cxRoute: 'orgUnitApprovers', name: 'orgUnit.approvers' },
    {
      cxRoute: 'orgUnitManageAddresses',
      name: 'orgUnit.manageAddresses'
    },
    { cxRoute: 'orgUnitChildren', name: 'orgUnit.children' },
    { cxRoute: 'orgUnitCostCenters', name: 'orgUnit.costCenters' }
  ]"
  [routerBackLink]="{ cxRoute: 'orgUnits', name: 'orgUnit.back' }"
>
  <cx-interactive-table
    [data$]="data$"
    [header]="'unitAssignRoles.header' | cxTranslate: { code: code }"
    [sortLabels]="{
      byName: 'usersList.sorting.byName' | cxTranslate
    }"
    [columns]="[
      {
        key: 'name',
        value: 'usersList.name' | cxTranslate,
        cxRoute: 'userDetails'
      },
      {
        key: 'email',
        value: 'usersList.uid' | cxTranslate
      },
      {
        key: 'customer',
        value: 'usersList.customer' | cxTranslate,
        checkBox: true
      },
      {
        key: 'manager',
        value: 'usersList.manager' | cxTranslate,
        checkBox: true
      },
      {
        key: 'admin',
        value: 'usersList.admin' | cxTranslate,
        checkBox: true
      },
      {
        key: 'approver',
        value: 'usersList.approver' | cxTranslate,
        checkBox: true
      }
    ]"
    (pageChange)="pageChange($event)"
    (changeSortCode)="changeSortCode($event)"
    (check)="assign($event)"
    (uncheck)="unassign($event)"
  >
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="pb-mobile-2 col-md-12 col-lg-6 float-right"></div>
        <div class="col-md-12 col-lg-6">
          <!--          back-->
          <a
            [routerLink]="
              { cxRoute: 'orgUnitUsers', params: { code: code } } | cxUrl
            "
            class="btn btn-secondary btn-block"
          >
            {{ 'unitAssignRoles.back' | cxTranslate }}
          </a>
        </div>
      </div>
    </div>
  </cx-interactive-table>
</cx-fake-tabs>
