<div
  class="cx-modal-container"
  role="dialog"
  [cxFocus]="focusConfig"
  (esc)="dismissModal('Escape pressed')"
  aria-labelledby="dialogTitle"
>
  <div class="cx-modal-content">
    <!-- Modal Header -->
    <div
      aria-live="polite"
      aria-atomic="true"
      class="cx-dialog-header modal-header"
    >
      <div id="dialogTitle" class="cx-dialog-title modal-title" role="none">
        {{ 'addToCart.itemAddedToYourCart' | cxTranslate }}
      </div>
      <button
        type="button"
        class="close"
        title="{{ 'common.close' | cxTranslate }}"
        attr.aria-label="{{ 'addToCart.closeModal' | cxTranslate }}"
        (click)="dismissModal('Cross click')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    @if (loaded$ | async) {
      @if (entry$ | async; as entry) {
        <div class="cx-dialog-body modal-body">
          <div class="cx-dialog-row">
            <div class="cx-dialog-item col-sm-12 col-md-6">
              <cx-cart-item
                [item]="entry"
                [compact]="true"
                [quantityControl]="getQuantityControl() | async"
                [promotionLocation]="promotionLocation"
              ></cx-cart-item>
              @if (pickupStoreName) {
                <div class="cx-dialog-pickup-store">
                  {{ 'pickupOptionDialog.modalHeader' | cxTranslate }}:
                  <span class="cx-dialog-pickup-store-name">{{
                    pickupStoreName
                  }}</span>
                </div>
              }
            </div>
            <!-- Separator -->
            <div
              class="cx-dialog-separator col-sm-12 d-xs-block d-sm-block d-md-none"
            ></div>
            <!-- Total container -->
            @if (cart$ | async; as cart) {
              <div class="cx-dialog-actions col-sm-12 col-md-6">
                <div class="cx-dialog-total">
                  <div>
                    {{
                      'cartItems.cartTotal'
                        | cxTranslate: { count: cart.totalUnitCount }
                    }}
                  </div>

                  <div>{{ cart.subTotal?.formattedValue }}</div>
                </div>

                <!-- Promotions -->
                <div class="cx-dialog-promotions">
                  <cx-promotions
                    [promotions]="
                      (cart.appliedOrderPromotions || []).concat(
                        cart.potentialOrderPromotions || []
                      )
                    "
                  ></cx-promotions>
                </div>

                <!-- Actions -->
                <div class="cx-dialog-buttons">
                  <button
                    [class.disabled]="form.dirty"
                    (click)="onAction('viewCart')"
                    class="btn btn-primary"
                    autofocus
                  >
                    {{ 'addToCart.viewCart' | cxTranslate }}
                  </button>
                  <button
                    [class.disabled]="form.dirty"
                    (click)="onAction('checkout')"
                    class="btn btn-secondary"
                  >
                    {{ 'addToCart.proceedToCheckout' | cxTranslate }}
                  </button>
                </div>
              </div>
            }
          </div>
        </div>
      }
    } @else {
      <div class="cx-dialog-body modal-body">
        <div class="cx-dialog-row">
          <div class="col-sm-12">
            <cx-spinner aria-hidden="true"></cx-spinner>
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Modal Body -->
</div>
