<nav>
  <ul class="cx-config-menu">
    <ng-container *ngIf="displayedParentGroup$ | async as parentGroup">
      <li
        (click)="navigateUp()"
        class="cx-config-menu-back"
        *ngIf="parentGroup !== null"
      >
        <!--TODO: "Back" text is still under discussion -->
        <a role="link"
          ><cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon
          >{{ 'configurator.button.back' | cxTranslate }}</a
        >
      </li>
    </ng-container>

    <ng-container *ngIf="displayedGroups$ | async as groups">
      <ng-container *ngIf="currentGroup$ | async as currentGroup">
        <ng-container *ngFor="let group of groups">
          <li (click)="click(group)" class="cx-config-menu-item">
            <a [class.active]="currentGroup.id === group.id" role="link"
              >{{ group.description }}

              <cx-icon
                *ngIf="configuratorGroupsService.hasSubGroups(group)"
                [type]="iconTypes.CARET_RIGHT"
              ></cx-icon
            ></a>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</nav>
