<nav>
  <ul class="cx-config-menu">
    <ng-container *ngIf="displayedParentGroup$ | async as parentGroup">
      <li class="cx-config-menu-back" *ngIf="parentGroup !== null">
        <!--TODO: "Back" text is still under discussion therefor I have not created a translatable text for it -->
        <a (click)="navigateUp()" role="link"
          ><cx-icon [type]="iconTypes.CARET_LEFT"></cx-icon>Back</a
        >
      </li>
    </ng-container>

    <ng-container *ngIf="displayedGroups$ | async as groups">
      <ng-container *ngFor="let group of groups">
        <li class="cx-config-menu-item">
          <a (click)="click(group)" role="link"
            >{{ group.description }}

            <cx-icon
              *ngIf="hasSubGroups(group)"
              [type]="iconTypes.CARET_RIGHT"
            ></cx-icon
          ></a>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</nav>
