%cx-password-visibility {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  inset-inline-end: 12px;

  .cx-show-hide-btn {
    font-size: 17px;
    border: none;
    background: none;
    margin-top: 0 !important;

    cx-icon {
      width: 18px;
    }
  }
}

.cx-password-input {
  position: relative;
}
