%cx-password-visibility {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  inset-inline-end: 0;
  display: flex;
  height: 100%;
  width: 48px;

  .cx-show-hide-btn {
    font-size: 17px;
    margin: 0 !important;
    border: transparent;
    border-radius: 4px; // Needed to make focus border consistent with other inputs
    background: none;
    color: var(--cx-color-secondary);
    flex: 0 0 100%;

    cx-icon {
      opacity: 0.8;
    }
  }
}

.cx-password-input {
  position: relative;
}
