<div class="col-md-6">
  <ng-container
    *ngIf="(csAgentToken$ | async)?.access_token; else showLoginForm"
  >
    <ng-container
      *ngIf="(customer$ | async) as customer; else showCustomerSelection"
    >
      <div>
        {{
          'asm.customerEmulation'
            | cxTranslate: { name: customer?.name, uid: customer?.uid }
        }}
      </div>
    </ng-container>
    <ng-template #showCustomerSelection>
      <cx-customer-selection
        (submitEvent)="startCustomerEmulationSession($event)"
      ></cx-customer-selection>
      <button
        *ngIf="!(searchResultsLoading$ | async)"
        class="btn btn-block btn-secondary"
        type="button"
        (click)="logoutCustomerSupportAgent()"
      >
        {{ 'asm.logout' | cxTranslate }}
      </button>
    </ng-template>
  </ng-container>

  <ng-template #showLoginForm>
    <cx-csagent-login-form
      (submitEvent)="loginCustomerSupportAgent($event)"
    ></cx-csagent-login-form>
    <button
      class="btn btn-block btn-secondary"
      type="button"
      (click)="hideUi()"
    >
      {{ 'asm.hideUi' | cxTranslate }}
    </button>
  </ng-template>
</div>
