<cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'userDetails',
      name: 'user.details',
      params: { customerId: code$ | async }
    },
    {
      cxRoute: 'userApprovers',
      name: 'user.approvers'
    },
    {
      cxRoute: 'userPermissions',
      name: 'user.permissions'
    },
    {
      cxRoute: 'userUserGroups',
      name: 'user.userGroups',
      active: true
    }
  ]"
  [routerBackLink]="{ cxRoute: 'users', name: 'user.back' }"
>
  <cx-interactive-table
    [data$]="data$"
    [header]="
      'userAssignUserGroups.header' | cxTranslate: { code: uid$ | async }
    "
    [sortLabels]="{
      byUnitName: 'userGroupsList.sorting.byUnitName' | cxTranslate,
      byName: 'userGroupsList.sorting.byName' | cxTranslate,
      byCode: 'userGroupsList.sorting.byCode' | cxTranslate,
      byValue: 'userGroupsList.sorting.byValue' | cxTranslate
    }"
    [columns]="[
      {
        key: 'selected',
        value: 'userGroupsList.assign' | cxTranslate,
        checkBox: true
      },
      {
        key: 'code',
        value: 'userGroupsList.id' | cxTranslate,
        cxRoute: 'userGroupDetails'
      },
      { key: 'name', value: 'userGroupsList.name' | cxTranslate },
      {
        key: 'parentUnit',
        value: 'userGroupsList.parentUnit' | cxTranslate,
        cxRoute: 'orgUnitDetails'
      }
    ]"
    (pageChange)="pageChange($event)"
    (changeSortCode)="changeSortCode($event)"
    (check)="assign($event)"
    (uncheck)="unassign($event)"
  >
    <div class="col-md-12 col-lg-6">
      <div class="col-md-12 col-lg-6 float-right">
        <a
          [routerLink]="
            { cxRoute: 'userUserGroups', params: { code: code } } | cxUrl
          "
          class="btn btn-primary btn-block"
        >
          {{ 'userAssignUserGroups.back' | cxTranslate }}
        </a>
      </div>
    </div>
  </cx-interactive-table>
</cx-fake-tabs>
