cx-customer-ticket-messages {
  .message-body {
    min-height: 400px;
    padding-bottom: 2rem;

    .container {
      display: flex;
      flex-direction: row;
      padding: 15px 0;
      max-height: 400px;
      overflow-y: auto;

      .cx-avatar {
        height: 4rem;
        background-color: #fff1f1;
        max-width: 4rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1px solid;
        border-color: #d3d6db;

        h1 {
          margin: 0;
        }
        .solution {
          background-color: #f1f1f1;
        }
        cx-icon {
          font-size: 2rem;
        }
      }
      .solution {
        background-color: #f1f1f1;
      }

      .avatar-line {
        border-left: 1px solid;
        margin-left: 2rem;
        color: #d3d6db;
      }

      .cx-messages {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-left: -2.063rem;

        label {
          margin-bottom: 0;
          font-size: var(--cx-font-size, 0.875rem);
        }

        .cx-message-card {
          display: flex;
          flex-direction: row;
          gap: 0.875rem;

          div {
            width: 100%;
          }
        }

        .cx-message-issue-text {
          padding: 20px 28px;
          border: 1px solid;
          background-color: #fff1f1;
          border-color: #d3d6db;
          border-radius: 0px 16px 16px 16px;
        }

        .cx-message-solution-text {
          padding: 20px 28px;
          border: 1px solid;
          background-color: #f1f1f1;
          border-color: #d3d6db;
          border-radius: 0px 16px 16px 16px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .padding-left {
      padding-left: 4.875rem;
    }
  }

  .message-footer {
    display: flex;
    height: 3rem;
    textarea {
      height: 3rem;
    }
    .message-box {
      width: 100%;
    }
    p {
      font-size: 0.75rem;
      font-style: italic;
      text-align: end;
    }
  }
}
