<cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'budgetDetails',
      name: 'budget.details'
    },
    { cxRoute: 'budgetCostCenters', name: 'budget.costCenters', active: true }
  ]"
  [routerBackLink]="{ cxRoute: 'budgets', name: 'budget.back' }"
>
  <ng-container class="container" *ngIf="data$ | async as data">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="cx-header">
          <h3>
            {{
              'budgetCostCenters.header' | cxTranslate: { code: code$ | async }
            }}
          </h3>
        </div>
      </div>
      <!--      <div class="col-md-12 col-lg-6">-->
      <!--        <div class="col-md-12 col-lg-6 float-right">-->
      <!--          &lt;!&ndash;         buttons here&ndash;&gt;-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div class="cx-table-body">
      <ng-container *ngIf="data?.length > 0; else noData">
        <cx-table2
          [columns]="[
            {
              key: 'code',
              value: 'budgetCostCenters.code' | cxTranslate,
              cxRoute: 'costCenterDetails'
            },
            {
              key: 'name',
              value: 'budgetCostCenters.name' | cxTranslate
            }
          ]"
          [tableData]="data"
        ></cx-table2>
      </ng-container>

      <!-- NO ORDER CONTAINER -->
      <ng-template #noData>
        <div class="cx-no-items row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div>{{ 'common.noData' | cxTranslate }}</div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
</cx-fake-tabs>
