<cx-view #view *ngIf="code$ | async as userCode">
  <h3>
    <a
      class="link"
      [routerLink]="
        { cxRoute: 'userDetails', params: { customerId: userCode } } | cxUrl
      "
      (click)="view.toggle()"
    >
      <cx-icon type="CARET_LEFT"></cx-icon>
      {{ 'organization.back' | cxTranslate }}
    </a>
    <span>{{
      'user.userGroup.header' | cxTranslate: { code: name$ | async }
    }}</span>
  </h3>

  <div class="actions">
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'userAssignUserGroups',
          params: { customerId: userCode }
        } | cxUrl
      "
    >
      {{ 'user.userGroup.assign' | cxTranslate }}
    </a>
  </div>
  <section>
    <cx-table
      *ngIf="dataTable$ | async as dataTable; else emptyList"
      [dataset]="dataTable"
    >
    </cx-table>
  </section>

  <ng-template #emptyList>
    <p class="instruction is-empty">
      {{ 'organization.messages.emptyList' | cxTranslate }}
    </p>
  </ng-template>

  <ng-template cxOutletRef="table.userUserGroups.data.summary" let-model>
    <h3>{{ model.uid }}</h3>
    <small>{{ model.name }}</small>
  </ng-template>

  <ng-template cxOutletRef="table.userUserGroups.data.unassign" let-model>
    <button class="button" (click)="unassign(model)">
      <cx-icon type="CLOSE"></cx-icon>
    </button>
  </ng-template>

  <ng-template cxOutletRef="table.userUserGroups.data.link" let-model>
    <a
      class="link"
      [routerLink]="
        {
          cxRoute: 'userGroupDetails',
          params: model
        } | cxUrl
      "
    >
      <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
    </a>
  </ng-template>
</cx-view>

<router-outlet></router-outlet>
