<ng-container *ngIf="product$ | async as product">
  <div class="rating" *ngIf="product.averageRating">
    <cx-star-rating
      [rating]="product?.averageRating"
      [disabled]="true"
    ></cx-star-rating>

    <div class="count">({{ product?.numberOfReviews }})</div>

    <ng-container *ngIf="reviewsTabAvailable | async">
      <a class="btn-link" tabindex="0" (click)="showReviews()">{{
        'productSummary.showReviews' | cxTranslate
      }}</a>
    </ng-container>
  </div>
  <div class="rating" *ngIf="!product.averageRating">
    {{ 'productDetails.noReviews' | cxTranslate }}
  </div>
  <div class="code">
    {{ 'productSummary.id' | cxTranslate }} {{ product?.code }}
  </div>
</ng-container>
