<div class="subscription-usage-charge">
  @if (isUsageChargePresent()) {
    <div class="subscription-heading">
      {{ 'subscriptionProduct.usageCharges' | cxTranslate }}:
    </div>
  }

  @if (tierUsageCharges().length > 0) {
    <ng-container *ngTemplateOutlet="showTierUsageCharges"></ng-container>
  }

  @if (volumeUsageCharges().length > 0) {
    <ng-container *ngTemplateOutlet="showVolumeUsageCharges"></ng-container>
  }

  @if (percentageUsageCharges().length > 0) {
    <ng-container *ngTemplateOutlet="showPercentageUsageCharges"></ng-container>
  }

  @if (blockUsageCharges().length > 0) {
    <ng-container *ngTemplateOutlet="showBlockUsageCharges"></ng-container>
  }
</div>

<!-- Block Usage Charges -->
<ng-template #showBlockUsageCharges>
  @for (usageCharge of blockUsageCharges(); track usageCharge; let i = $index) {
    <ul>
      @if ((usageCharge.includedQty ?? 0) > 0) {
        <li>
          {{
            'subscriptionProduct.includedQuantity'
              | cxTranslate: { quantity: getIncludedQuantity(usageCharge) }
          }}
        </li>
      }

      @for (
        usageChargeEntry of usageCharge.perUnitUsageChargeEntries;
        track usageChargeEntry;
        let j = $index
      ) {
        <li>
          @if (usageCharge.blockSize === 1) {
            {{
              'subscriptionProduct.oneBlockUsage'
                | cxTranslate
                  : {
                      price: usageChargeEntry.price?.formattedValue,
                      usage: usageCharge.usageUnit?.name,
                    }
            }}
          }
          @if ((usageCharge.blockSize ?? 0) > 1) {
            {{
              'subscriptionProduct.multiBlockUsage'
                | cxTranslate
                  : {
                      price: usageChargeEntry.price?.formattedValue,
                      block:
                        usageCharge.blockSize +
                        ' ' +
                        usageCharge?.usageUnit?.namePlural,
                    }
            }}
          }
        </li>
      }
    </ul>
  }
</ng-template>

<!-- Volume Usage Charges -->
<ng-template #showVolumeUsageCharges>
  @for (
    usageCharge of volumeUsageCharges();
    track usageCharge;
    let i = $index
  ) {
    <ul>
      @for (
        usageChargeEntry of usageCharge.tierUsageChargeEntries;
        track usageChargeEntry;
        let j = $index
      ) {
        <li>
          {{
            'subscriptionProduct.volumeUsage'
              | cxTranslate
                : {
                    from:
                      usageChargeEntry.tierStart +
                      ' ' +
                      usageCharge.usageUnit?.name,
                    to:
                      usageChargeEntry.tierEnd +
                      ' ' +
                      usageCharge.usageUnit?.name,
                    fixed: usageChargeEntry.fixedPrice?.formattedValue,
                    price: usageChargeEntry.price?.formattedValue,
                    usage: usageCharge.usageUnit?.name,
                  }
          }}
        </li>
      }

      @for (
        usageChargeEntry of usageCharge.overageUsageChargeEntries;
        track usageChargeEntry;
        let k = $index
      ) {
        <li>
          {{
            'subscriptionProduct.volumeOverageUsage'
              | cxTranslate
                : {
                    from:
                      getLastTierValue(
                        usageCharge.tierUsageChargeEntries ?? []
                      ) +
                      1 +
                      ' ' +
                      usageCharge.usageUnit?.name,
                    fixed: usageChargeEntry.fixedPrice?.formattedValue,
                    price: usageChargeEntry.price?.formattedValue,
                    usage: usageCharge.usageUnit?.name,
                  }
          }}
        </li>
      }
    </ul>
    <div class="subscription-message">
      {{ 'subscriptionProduct.volumeUsageMessage' | cxTranslate }}
    </div>
  }
</ng-template>

<!-- Tier Usage Charges -->
<ng-template #showTierUsageCharges>
  @for (usageCharge of tierUsageCharges(); track usageCharge; let i = $index) {
    <ul>
      @for (
        usageChargeEntry of usageCharge.tierUsageChargeEntries;
        track usageChargeEntry;
        let j = $index
      ) {
        <li>
          {{
            'subscriptionProduct.tierUsage'
              | cxTranslate
                : {
                    from:
                      usageChargeEntry.tierStart +
                      ' ' +
                      usageCharge.usageUnit?.name,
                    to:
                      usageChargeEntry.tierEnd +
                      ' ' +
                      usageCharge.usageUnit?.name,
                    price: usageChargeEntry.price?.formattedValue,
                    usage: usageCharge.usageUnit?.name,
                  }
          }}
        </li>
      }

      @for (
        usageChargeEntry of usageCharge.overageUsageChargeEntries;
        track usageChargeEntry;
        let k = $index
      ) {
        <li>
          {{
            'subscriptionProduct.tierOverageUsage'
              | cxTranslate
                : {
                    from:
                      getLastTierValue(
                        usageCharge?.tierUsageChargeEntries || []
                      ) +
                      1 +
                      (usageCharge?.usageUnit?.name || ''),
                    price: usageChargeEntry.price?.formattedValue,
                    usage: usageCharge.usageUnit?.name,
                  }
          }}
        </li>
      }
    </ul>

    <div class="subscription-message">
      {{ 'subscriptionProduct.tierUsageMessage' | cxTranslate }}
    </div>
  }
</ng-template>

<!-- Percentage Usage Charges -->
<ng-template #showPercentageUsageCharges>
  <ul>
    @for (
      usageCharge of percentageUsageCharges();
      track usageCharge;
      let i = $index
    ) {
      @for (
        usageChargeEntry of usageCharge.perUnitUsageChargeEntries;
        track usageChargeEntry;
        let j = $index
      ) {
        <li>
          {{
            'subscriptionProduct.percentageUsage'
              | cxTranslate
                : {
                    ratio: usageCharge.ratio,
                    price: usageChargeEntry.price?.formattedValue,
                    usage: usageCharge.usageUnit?.name,
                  }
          }}
        </li>
      }
    }
  </ul>
</ng-template>
