@if (!(isSearchRunning$ | async) && (stores$ | async); as stores) {
  <div>
    @if ((hasSearchStarted$ | async) && stores.length === 0) {
      <div class="container">
        <div class="row">
          <span class="cx-no-stores" role="alert">
            {{ 'storeList.noStoresMessage' | cxTranslate }}
          </span>
        </div>
      </div>
    }

    @if (stores.length) {
      <div>
        @for (store of stores; track store) {
          <cx-store
            [storeDetails]="store"
            (storeSelected)="onSelectStore($event)"
          ></cx-store>
        }
      </div>
    }
  </div>
} @else {
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
}
