.cx-cdp-order-history-body {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: end;
  // .cx-cdp-order-history-code {
  //   width: 215px;
  //   height: 30px;
  //   font-family: 'Open Sans';
  //   font-style: normal;
  //   font-weight: 600;
  //   font-size: 22px;
  //   line-height: 30px;
  //   text-decoration-line: underline;
  //   color: #1672b7;
  //   flex: none;
  //   order: 0;
  //   flex-grow: 0;
  //   cursor: pointer;
  // }
  // .cx-cdp-order-info {
  //   font-family: Open Sans;
  //   font-size: 16px;
  //   font-weight: 700;
  //   line-height: 22px;
  //   letter-spacing: 0em;
  //   text-align: left;
  //   font-family: Open Sans;
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: 22px;
  //   text-align: left;
  //   font-family: Open Sans;
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: 22px;
  //   text-align: left;
  //   white-space: nowrap;
  // }
  .cx-cdp-order-images {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 10px;
    width: 88px;
    height: 88px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: space-between;
  }
}
