<div
  #dialog
  class="cx-modal-container"
  [cxFocus]="focusConfig"
  (esc)="dismissModal('Escape clicked')"
>
  <div
    class="cx-modal-content"
    *ngIf="confirmationContext$ | async as confirmationContext"
  >
    <!-- Modal Header -->

    <div class="cx-dialog-header modal-header">
      <div class="cx-dialog-title modal-title">
        {{
          confirmationContext.title
            | cxTranslate: { code: confirmationContext.quote.code }
        }}
      </div>
      <button
        type="button"
        class="close"
        [attr.aria-label]="'common.close' | cxTranslate"
        (click)="dismissModal('Cross click')"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="cx-dialog-body modal-body">
      <div class="cx-dialog-row">
        <div class="cx-dialog-item">
          <div class="quote-name-description">
            <div class="quote-name">
              <div class="heading">
                {{ 'quote.confirmActionDialog.name.heading' | cxTranslate }}
              </div>
              <div class="content">
                {{
                  'quote.confirmActionDialog.name.content'
                    | cxTranslate: { name: confirmationContext.quote.name }
                }}
              </div>
            </div>
            <div
              class="quote-description"
              *ngIf="confirmationContext.quote.description"
            >
              <div class="heading">
                {{
                  'quote.confirmActionDialog.description.heading' | cxTranslate
                }}
              </div>
              <div class="content">
                {{
                  'quote.confirmActionDialog.description.content'
                    | cxTranslate
                      : { description: confirmationContext.quote.description }
                }}
              </div>
            </div>
          </div>

          <div class="notes">
            <p *ngIf="confirmationContext.warningNote">
              {{ confirmationContext.warningNote | cxTranslate }}
            </p>
            <p
              *ngIf="
                confirmationContext.validity &&
                confirmationContext.quote.expirationTime
              "
            >
              {{
                confirmationContext.validity
                  | cxTranslate
                    : {
                        expirationTime:
                          confirmationContext.quote.expirationTime | cxDate
                      }
              }}
            </p>
            <p>
              {{ confirmationContext.confirmNote | cxTranslate }}
            </p>
          </div>
          <div class="cx-dialog-buttons">
            <button class="btn btn-secondary" (click)="dismissModal('no')">
              {{
                'quote.confirmActionDialog.confirmActionOption.no' | cxTranslate
              }}
            </button>
            <button class="btn btn-primary" (click)="dismissModal('yes')">
              {{
                'quote.confirmActionDialog.confirmActionOption.yes'
                  | cxTranslate
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
