<div id="{{ createAttributeIdForConfigurator(attribute) }}" class="form-group">
  <input
    [formControl]="attributeInputForm"
    [required]="attribute.required"
    class="form-control"
    attr.role="{{ attribute.dataType }}"
    attr.aria-required="{{ attribute.required }}"
    maxlength="{{ attribute.maxlength }}"
    [attr.aria-label]="
      attribute.userInput === undefined || attribute.userInput.length === 0
        ? ('configurator.a11y.valueOfAttributeBlank'
          | cxTranslate
            : {
                attribute: attribute.label
              })
        : ('configurator.a11y.valueOfAttributeFull'
          | cxTranslate
            : {
                value: attribute.userInput,
                attribute: attribute.label
              })
    "
    [attr.aria-describedby]="
      createAttributeUiKey('label', attribute.name) +
      ' ' +
      createAttributeUiKey('attribute-msg', attribute.name)
    "
    [cxFocus]="{
      key: createAttributeIdForConfigurator(attribute)
    }"
  />
</div>
