<form [formGroup]="form">
  <div class="form-group" formGroupName="country">
    <ng-container *ngIf="countries$ | async as countries">
      <div *ngIf="countries.length !== 0">
        <label aria-required="true">
          <span class="label-content required">{{
            'unit.addressForm.country' | cxTranslate
          }}</span>
          <ng-select
            class="country-select"
            formControlName="isocode"
            [searchable]="true"
            [clearable]="false"
            [items]="countries"
            bindLabel="name"
            bindValue="isocode"
            placeholder="{{ 'unit.addressForm.selectOne' | cxTranslate }}"
            (change)="countrySelected($event)"
          >
          </ng-select>
          <cx-form-errors
            [control]="form.get('country.isocode')"
          ></cx-form-errors>
        </label>
      </div>
    </ng-container>
  </div>

  <div class="form-group" *ngIf="titles$ | async as titles">
    <div *ngIf="titles.length !== 0">
      <label aria-required="true">
        <span class="label-content required">{{
          'unit.addressForm.title' | cxTranslate
        }}</span>
        <ng-select
          formControlName="titleCode"
          [searchable]="false"
          [clearable]="false"
          [items]="titles"
          bindLabel="name"
          bindValue="code"
          placeholder="{{ 'unit.addressForm.selectOne' | cxTranslate }}"
        >
        </ng-select>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>
      <span class="label-content required">{{
        'unit.addressForm.firstName' | cxTranslate
      }}</span>
      <input
        class="form-control"
        type="text"
        placeholder="{{ 'unit.addressForm.firstName' | cxTranslate }}"
        formControlName="firstName"
      />
      <cx-form-errors [control]="form.get('firstName')"></cx-form-errors>
    </label>
  </div>
  <div class="form-group">
    <label>
      <span class="label-content required">{{
        'unit.addressForm.lastName' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'unit.addressForm.lastName' | cxTranslate }}"
        formControlName="lastName"
      />
      <cx-form-errors [control]="form.get('lastName')"></cx-form-errors>
    </label>
  </div>
  <div class="form-group">
    <label>
      <span class="label-content required">{{
        'unit.addressForm.address1' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'unit.addressForm.streetAddress' | cxTranslate }}"
        formControlName="line1"
      />
      <cx-form-errors [control]="form.get('line1')"></cx-form-errors>
    </label>
  </div>
  <div class="form-group">
    <label>
      <span class="label-content">{{
        'unit.addressForm.address2' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'unit.addressForm.aptSuite' | cxTranslate }}"
        formControlName="line2"
      />
    </label>
  </div>
  <div class="form-group">
    <label>
      <span class="label-content required">{{
        'unit.addressForm.city' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'unit.addressForm.city' | cxTranslate }}"
        formControlName="town"
      />
      <cx-form-errors [control]="form.get('town')"></cx-form-errors>
    </label>
  </div>
  <div class="form-group">
    <label>
      <span class="label-content required">{{
        'unit.addressForm.zipCode' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'unit.addressForm.zipCode' | cxTranslate }}"
        formControlName="postalCode"
      />
      <cx-form-errors [control]="form.get('postalCode')"></cx-form-errors>
    </label>
  </div>
  <ng-container *ngIf="regions$ | async as regions" formGroupName="region">
    <ng-container *ngIf="regions.length !== 0">
      <div class="form-group col-md-6">
        <label aria-required="true">
          <span class="label-content required">{{
            'unit.addressForm.state' | cxTranslate
          }}</span>
          <ng-select
            class="region-select"
            formControlName="isocode"
            [searchable]="true"
            [clearable]="false"
            [items]="regions"
            bindLabel="{{ regions[0].name ? 'name' : 'isocode' }}"
            bindValue="{{ regions[0].name ? 'isocode' : 'region' }}"
            placeholder="{{ 'unit.addressForm.selectOne' | cxTranslate }}"
            appendTo=".organization"
          >
          </ng-select>
          <cx-form-errors
            [control]="form.get('region.isocode')"
          ></cx-form-errors>
        </label>
      </div>
    </ng-container>
  </ng-container>
  <div class="form-group">
    <label>
      <span class="label-content">{{
        'unit.addressForm.phoneNumber' | cxTranslate
      }}</span>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'unit.addressForm.phoneNumber' | cxTranslate }}"
        formControlName="phone"
      />
    </label>
  </div>
</form>
