%cx-bundle-product-grid-item {
  .cx-product-container {
    border: 1px solid $light;
    border-radius: 8px;
    padding: 1.25rem;
    min-height: 26.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .cx-product {
    &-image-container {
      display: block;
      text-align: center;
    }

    &-name {
      font-size: var(--cx-font-size, 1rem);
      font-weight: var(--cx-font-weight-bold);
      line-height: var(--cx-line-height, 1.2222222222);
      text-align: center;
      margin: 0 0 3px 0;
      color: var(--cx-color-text);
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      box-orient: vertical;
      line-clamp: 2;
      max-width: 100%;
      height: 40px;
      display: block;
    }

    &-rating {
      text-align: center;
    }

    &-price {
      font-size: var(--cx-font-size, 1.375rem);
      font-weight: var(--cx-font-weight-semi);
      line-height: var(--cx-line-height, 1.2222222222);
      text-align: center;
      margin: 1rem 0;
    }

    &-price-container {
      flex-grow: 1;
    }

    &-image {
      width: 100%;
      margin: 3rem 0;
    }
  }
}
