%cx-bundle-summary {
  .cx-bundle-summary-title {
    font-weight: var(--cx-font-weight-semi);
  }

  .cx-add-to-cart-btn {
    font-weight: var(--cx-font-weight-semi);
    text-transform: none;
    width: 100%;
    margin-top: 1.5rem;
  }
}
