%cx-product-details-dialog {

  .cx-product-details-dialog {
    max-width: 1200px !important;
    min-width: 1200px !important;

    .cx-modal-content {
      border-radius: 16px;
    }
  }

  .cx-dialog-header {
    padding-inline-end: 1.75rem;
    padding-inline-start: 2rem;
    border-width: 0;
    display: flex;
    @include type('3');
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    align-items: center;

    .title {
      margin-left: 10px;
    }

    .close {
      position: unset;

      cx-icon {
        color: var(--cx-color-text);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .cx-dialog-body {
    padding-top: 15px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
  }
}