$asmLinkColor: #0070f2;
$asmVisualFocusColor: #0064d9;
$asmMainTextColor: #14293a;
$asmMainSecondaryTextColor: #6c7079;
$asmTabTextColor: #333333;
$asmBorderColor: #d3d6db;
$asmTableBackgroundAltColor: #ebf8ff;
$asmTableTextColor: #1d2d3e;
