@import '~bootstrap/scss/button-group';

%cx-item-counter {
  .cx-counter-wrapper {
    display: inline-flex;
    flex-direction: column;
  }

  .cx-counter {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
  }

  .cx-counter-value {
    border: none;
    text-align: center;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: var(--cx-color-light);
    padding: 12px 9px 12px 9px;
    max-height: 46px;
    min-width: 48px;
    max-width: 78px;
  }

  .cx-counter-action {
    max-height: 48px;
    min-width: 40px;
    border: none;
    cursor: pointer;
    color: var(--cx-color-text);
    background-color: var(--cx-color-transparent);
    margin: 0;
    @include type(3);

    &:hover {
      color: var(--cx-color-primary);
    }

    &:focus {
      color: var(--cx-color, var(--cx-color-primary));
      font-weight: var(--cx-font-weight-bold);
      cursor: pointer;
    }

    &:disabled {
      color: var(--cx-color-light);
      opacity: 1;
      cursor: not-allowed;
    }
  }
}
