%cx-order-document-flow-dialog {
  .cx-modal-content {
    .cx-dialog-header {
      @include type('3');
      align-items: center;
      padding: 1rem 0 1rem 1rem;
      margin: 0 1rem;

      button {
        &.back,
        &.close {
          @include type('2');
          padding: 0 1rem 0 0;

          span {
            vertical-align: sub;
          }
        }
      }
    }

    .cx-dialog-body {
      position: relative;
      min-height: 30vh;
      max-height: calc(80vh - 8rem);
      padding: 0 1rem;
      overflow-y: auto;

      .cx-dialog-message {
        .cx-message-text {
          @include type('8');
        }
      }

      div.cx-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .table {
        thead {
          position: sticky;
          top: 0;
          background-color: white;
          box-shadow: 0 (2 * $table-border-width) (2 * $table-border-width) -1px
            $gray-300;
          border-bottom: unset;

          tr {
            border-bottom: unset;

            th {
              padding: 1rem 0.5rem;

              &:first-child {
                padding: 1rem 0.5rem 1rem 1rem;
              }
            }
          }
        }

        tbody {
          tr {
            &.selected {
              background-color: var(--cx-color-background);
            }

            td {
              height: 50px;
              padding: 0.5rem;

              &:first-child {
                padding: 0.5rem 0.5rem 0.5rem 1rem;
              }
            }
          }
        }
      }

      button.action {
        @include type('2');
        padding: 0 1rem 0 0;

        span {
          vertical-align: sub;
        }
      }

      .cx-mobile-header {
        padding-inline-end: 0.3rem;
        font-weight: bold;
      }
    }

    .cx-dialog-footer {
      margin: 0 1rem;
    }
  }

  cx-order-subsequent-document-node {
    display: contents;
  }
}
