<ng-container *ngIf="tableData">
  <table class="table cx-table">
    <thead class="cx-thead-mobile">
      <th scope="col" *ngFor="let column of columns">
        {{ column.value }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td class="cx-code" *ngFor="let column of columns">
          <div class="d-md-none cx-label">
            {{ column.value }}
          </div>
          <label *ngIf="column.checkBox; else link">
            <input
              type="checkbox"
              [checked]="row[column.key]"
              (change)="onToggle($event, row, column.key)"
            />
          </label>
          <ng-template #link>
            <a
              *ngIf="column.cxRoute && row; else text"
              [routerLink]="
                {
                  cxRoute: column.cxRoute,
                  params: { code: row[column.key] }
                } | cxUrl
              "
              class="cx-value"
            >
              {{ row[column.key] }}
            </a>
          </ng-template>
          <ng-template #text>{{ row[column.key] }}</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
