<table *ngIf="dataset?.structure as structure">
  <thead *ngIf="!structure.hideHeader">
    <tr>
      <th
        scope="col"
        *ngFor="let header of structure.fields; let i = index"
        [class]="header"
      >
        <!-- render an outlet for each column header -->
        <ng-template
          [cxOutlet]="'table.' + structure.type + '.header.' + (header || i)"
          [cxOutletContext]="header"
        >
          {{ structure.type + '.' + header | cxTranslate }}
        </ng-template>
      </th>
    </tr>
  </thead>

  <tr *ngFor="let row of dataset.data$ | async">
    <td *ngFor="let col of structure.fields; let i = index" [class]="col">
      <!-- render an outlet for each cell -->
      <ng-template
        [cxOutlet]="'table.' + structure.type + '.data.' + (col || i)"
        [cxOutletContext]="row"
      >
        {{ getDataValue(row, col, i) }}
      </ng-template>
    </td>
  </tr>
</table>
