CONSENT MANAGEMENT WORKS

<div>Consent Template Loading: {{ templateListloading$ | async }}</div>
<div>Consent Template Success: {{ templateListSuccess$ | async }}</div>
<div>Consent Template Error: {{ templateListError$ | async }}</div>

<div>Give Consent Loading: {{ giveConsentLoading$ | async }}</div>
<div>Give Consent Success: {{ giveConsentSuccess$ | async }}</div>
<div>Give Consent Error: {{ giveConsentError$ | async }}</div>

<div>Withdraw Consent Loading: {{ withdrawConsentLoading$ | async }}</div>
<div>Withdraw Consent Success: {{ withdrawConsentSuccess$ | async }}</div>
<div>Withdraw Consent Error: {{ withdrawConsentError$ | async }}</div>

<ng-container>
  <div
    *ngIf="
      (templateListloading$ | async) ||
        (giveConsentLoading$ | async) ||
        (withdrawConsentLoading$ | async);
      else consentManagementForm
    "
  >
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </div>

  <ng-template #consentManagementForm>
    <div class="row d-flex justify-content-center">
      <cx-consent-management-list
        class="col-md-6"
        [consentTemplates]="(templateList$ | async)?.consentTemplates"
        (consentChanged)="onConsentChange($event)"
        (done)="onDone()"
      ></cx-consent-management-list>
    </div>
  </ng-template>
</ng-container>
