<cx-fake-tabs
  [code]="code$ | async"
  [links]="[
    {
      cxRoute: 'userDetails',
      name: 'userForm.details',
      params: { customerId: code$ | async }
    },
    {
      cxRoute: 'userApprovers',
      name: 'userForm.approvers'
    },
    {
      cxRoute: 'userPermissions',
      name: 'userForm.permissions',
      active: true
    },
    {
      cxRoute: 'userUserGroups',
      name: 'userForm.userGroups'
    }
  ]"
  [routerBackLink]="{ cxRoute: 'users', name: 'user.back' }"
>
  <cx-interactive-table
    [data$]="data$"
    [header]="
      'userAssignPermissions.header' | cxTranslate: { code: uid$ | async }
    "
    [sortLabels]="{
      byUnitName: 'permissionsList.sorting.byUnitName' | cxTranslate,
      byName: 'permissionsList.sorting.byName' | cxTranslate,
      byCode: 'permissionsList.sorting.byCode' | cxTranslate,
      byValue: 'permissionsList.sorting.byValue' | cxTranslate
    }"
    [columns]="[
      {
        key: 'selected',
        value: 'permissionsList.assign' | cxTranslate,
        checkBox: true
      },
      {
        key: 'code',
        value: 'permissionsList.code' | cxTranslate,
        cxRoute: 'permissionDetails'
      },
      {
        key: 'orderType',
        value: 'permissionsList.type' | cxTranslate
      },
      {
        key: 'threshold',
        value: 'permissionsList.threshold' | cxTranslate
      },
      {
        key: 'timePeriod',
        value: 'permissionsList.timePeriod' | cxTranslate
      },
      {
        key: 'parentUnit',
        value: 'permissionsList.parentUnit' | cxTranslate,
        cxRoute: 'orgUnitDetails'
      }
    ]"
    (pageChange)="pageChange($event)"
    (changeSortCode)="changeSortCode($event)"
    (check)="assign($event)"
    (uncheck)="unassign($event)"
  >
    <div class="col-md-12 col-lg-6">
      <div class="col-md-12 col-lg-6 float-right">
        <a
          [routerLink]="
            { cxRoute: 'userPermissions', params: { code: code } } | cxUrl
          "
          class="btn btn-primary btn-block"
        >
          {{ 'userAssignPermissions.back' | cxTranslate }}
        </a>
      </div>
    </div>
  </cx-interactive-table>
</cx-fake-tabs>
