%cx-amend-order-items {
  .cx-item-list-header {
    @include type('8');
    padding: 1.125rem 0;
    text-transform: uppercase;
    color: var(--cx-color-secondary);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
  }

  .cx-item-list-total {
    text-align: end;

    @include media-breakpoint-only(xl) {
      text-align: end;
    }

    @include media-breakpoint-down(lg) {
      padding-inline-end: 70px;
    }

    @include media-breakpoint-down(md) {
      padding-inline-end: 0;
    }
  }

  .cx-item-list-row {
    padding: 1.25rem 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
  }

  .cx-info-container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;

      .cx-order-quantity-value {
        text-align: start;
      }
    }
  }

  .cx-name {
    @include type('5');
    overflow-wrap: break-word;
    padding: 0;
    min-width: 17rem;

    .cx-link {
      color: var(--cx-color-text);
      text-decoration: none;

      &:hover {
        color: var(--cx-color-primary);
      }
    }
  }

  .cx-code {
    @include type('7');
    color: var(--cx-color-secondary);
    padding: 0.625rem 0;
  }

  .cx-property {
    display: flex;
  }

  .cx-label {
    @include type('8');
    overflow-wrap: break-word;
    padding-inline-end: 1rem;

    @include media-breakpoint-down(sm) {
      min-width: 5rem;
    }
  }

  .cx-value {
    @include type('5');
    overflow-wrap: break-word;
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      @include type('7');
    }
  }

  .cx-price {
    display: flex;
    justify-content: center;
    align-items: center;
    @include type('5');

    @include media-breakpoint-down(lg) {
      padding-inline-end: 0;
      padding-inline-start: 45px;
    }

    @include media-breakpoint-down(md) {
      padding-inline-end: 0;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      padding-inline-start: 15px;
    }

    .cx-old {
      text-decoration: line-through;
      color: var(--cx-color-secondary);
      padding-inline-end: 1rem;
    }

    .cx-new {
      color: var(--cx-color-primary);
    }
  }

  .cx-quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      width: 100%;

      @include media-breakpoint-down(sm) {
        width: auto;
      }
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }

    cx-item-counter {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .cx-request-qty {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-inline-end: 0;
    }

    @include media-breakpoint-down(md) {
      padding-inline-end: 0;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }
  }

  .cx-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-end;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }
  }

  .cx-promo {
    @include type('8');
    color: var(--cx-color-success);
    padding: 0.75rem 0;
    margin: 0;
  }

  .cx-availability {
    @include type('8');
    color: var(--cx-color-danger);
    padding: 0.75rem 0;
    margin: 0;
  }

  .cx-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: flex-start;
      padding: 0;
    }

    button.link {
      @include type('8');
      color: var(--cx-color-text);
      border-width: 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cx-nav {
    justify-content: center;
    padding: 1rem 0;
    .btn-action {
      @include media-breakpoint-down(sm) {
        margin: 0 0 1rem;
      }
    }
  }

  .btn.cx-action-link {
    padding: 10px 0 10px;
  }

  // ------------------------------------ MEDIA QUERIES ------------------------------------

  @include media-breakpoint-down(md) {
    .cx-item-list-header {
      padding: 1.125rem 2.5rem;
    }

    .cx-item-list-items {
      padding: 0 2.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .cx-item-list-items {
      padding-inline-start: 1rem;
    }
  }
}
