%cx-consignment-tracking {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0.5rem;
}

%cx-tracking-events {
  background-color: rgba(0, 0, 0, 0.5);

  .cx-consignment-tracking-dialog {
    @extend .modal-dialog;
    @extend .modal-dialog-centered;

    .cx-consignment-tracking-container {
      @extend .modal-content;

      .title {
        @include type('3');
      }

      .body {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }

      .shipment-heading {
        position: relative;
        padding-top: 1.5rem;
        padding-inline-end: 0;
        padding-bottom: 0.4rem;
        padding-inline-start: 2rem;
        background-color: var(--cx-color-background);
      }

      .no-tracking-heading {
        position: relative;
        padding: 2rem;
      }

      .shipment-content {
        padding: 0.6rem 0 1.2rem 0;
      }

      .shipment-title {
        @include type('4');
      }

      .events {
        .event-body {
          border-inline-start: 0.7rem solid var(--cx-color-secondary);
          padding-inline-start: 1rem;
          margin-bottom: 1rem;
          div {
            padding-bottom: 0.6rem;
          }
          .event-title {
            @include type('5');
          }
          .event-city {
            @include type('7');
          }
          .enent-content {
            @include type('6');
            padding-bottom: 20rem;
          }
        }
      }
    }
  }
}
