.cx-cdp-side{
    padding: 10px 10px 10px 10px;
    width: 250px;
   .cx-cdp-side-table{
    padding: 10px 10px 10px 10px;
    border-top: 1px solid var(--cx-color-light);
    border-bottom: 1px solid var(--cx-color-light);
    border-left: 1px solid var(--cx-color-light);
    border-right: 1px solid var(--cx-color-light);
    table-layout: fixed;
    width: 250px;
    margin: 30px;

    th {
        padding: 10px;
        text-align: left;
        border-top: 1px solid var(--cx-color-light);
        border-bottom: 1px solid var(--cx-color-light);
        border-left: 1px solid var(--cx-color-light);
        border-right: 1px solid var(--cx-color-light);
        background-color: var(--cx-color-background);
        height: 30px;

      }

    tr {
        padding: 0px;
        text-align: justify;
        border-top: 1px solid var(--cx-color-light);
        border-bottom: 1px solid var(--cx-color-light);
        border-left: 1px solid var(--cx-color-light);
        border-right: 1px solid var(--cx-color-light);
        height: 30px;

      }

      td {
        padding: 10px;
        text-align: justify;
        border-top: 1px solid var(--cx-color-light);
        border-bottom: 1px solid var(--cx-color-light);
        border-left: 1px solid var(--cx-color-light);
        border-right: 1px solid var(--cx-color-light);
        height: 30px;

      }
   }
}