



<div class="cx-cdp-side">
<table class="cx-cdp-side-table">
  <td>
    <ng-container *ngIf="user$| async as user;">
      <div style="text-align: left;">
        <!-- {{ 'miniLogin.userGreeting' | cxTranslate: { name: user.name } }} -->
        {{user.name}}
      </div>
      <div style="text-align: left;">
        
        <a
          [routerLink]="
            {
              cxRoute: 'logOut'
            } | cxUrl
          ">{{ 'cdpOrderHistory.signOut' | cxTranslate}} </a>
        </div>
    </ng-container>  
  </td>
</table>
<table class="cx-cdp-side-table">
  <th>Order Information</th>
  <tr
  role="row"
>
  <td role="cell" >
    <span aria-hidden="true">
      <cx-icon type="ORDER"></cx-icon>
    </span>
      {{ 'cdpOrderHistory.ordersAndReturns' | cxTranslate }}

  </td>
  <tr style="display:none;">
    <td >
      <span aria-hidden="true">
        <cx-icon type="CART"></cx-icon>
      </span>
      {{'cdpOrderHistory.savedCarts' | cxTranslate }}</td>
  </tr>
  <tr style="display:none;">
    <!-- <cx-icon type="STAR"></cx-icon> -->
    <td>
      <span aria-hidden="true">
        <cx-icon type="STAR"></cx-icon>
      </span>
      {{'cdpOrderHistory.wishlist' | cxTranslate }}</td>

  </tr>
</table>

<table class="cx-cdp-side-table">
  <th>Customer Service</th>
  <tr>
    <td>
      <span aria-hidden="true">
        <cx-icon type="HEADSET"></cx-icon>
      </span>
      {{'cdpOrderHistory.request' | cxTranslate }}</td>
  </tr>
  <tr style="display:none;">
    <td >
      <span aria-hidden="true">
        <cx-icon type="GRID"></cx-icon>
      </span>
      {{'cdpOrderHistory.registeredProducts' | cxTranslate }}</td>
  </tr>
</table>

<table class="cx-cdp-side-table">
  <th>Account Information</th>
  <tr>
    <td>
      <span aria-hidden="true">
        <cx-icon type="USER"></cx-icon>
      </span>
      {{'cdpOrderHistory.personalDetails' | cxTranslate }}</td>
  </tr>
  <tr>
    <td>
      <span aria-hidden="true">
        <cx-icon type="INFO"></cx-icon>
      </span>{{'cdpOrderHistory.passwordAndSecurity' | cxTranslate }}</td>
  </tr>
  <tr style="display:none;">
    <td >
      <span aria-hidden="true">
        <cx-icon type="ADDRESS_BOOK"></cx-icon>
      </span>
      {{'cdpOrderHistory.addressBook' | cxTranslate }}</td>
  </tr>
  <tr style="display:none;">
    <td >
      <span aria-hidden="true">
        <cx-icon type="CREDIT_CARD"></cx-icon>
      </span>
      {{'cdpOrderHistory.paymentDetails' | cxTranslate }}</td>
  </tr>
  <tr style="display:none;">
    <td >
      <span aria-hidden="true">
        <cx-icon type="ACTIVE"></cx-icon>
      </span>
      {{'cdpOrderHistory.communications' | cxTranslate }}</td>
  </tr>
  <tr>
    <td>
      <span aria-hidden="true">
        <cx-icon type="INFO"></cx-icon>
      </span>
      {{'cdpOrderHistory.settingAndPrivacy' | cxTranslate }}</td>
  </tr>
</table>
</div>

