@if (form) {
  <form [formGroup]="form" (submit)="formSubmitSubject$.next(undefined)">
    <div aria-live="assertive" aria-atomic="true">
      @if (form.get('file')?.value && form.get('file')?.valid) {
        <cx-message
          [text]="'importEntriesDialog.selectedSuccessfully' | cxTranslate"
          [type]="globalMessageType.MSG_TYPE_CONFIRMATION"
          [isVisibleCloseButton]="false"
          [cxFocus]="{ autofocus: '.cx-message' }"
        ></cx-message>
      }
    </div>
    <cx-form-required-legend />
    <p class="cx-import-entries-subtitle">
      {{
        'importEntriesDialog.importProductsNewSavedCartSubtitle' | cxTranslate
      }}
    </p>
    <p>
      {{ 'importEntriesDialog.importProductFileDetails' | cxTranslate }}
      <cx-form-required-asterisks />
    </p>
    <label>
      <cx-file-upload
        [formControl]="form.get('file')"
        (update)="updateCartName()"
        [accept]="allowedTypes"
      >
        {{ 'importEntriesDialog.selectFile' | cxTranslate }}
      </cx-file-upload>
      <cx-form-errors
        [control]="form.get('file')"
        prefix="formErrors.file"
      ></cx-form-errors>
    </label>
    <div class="cx-import-entries-row">
      <label>
        <span class="cx-import-entries-label label-content">
          {{ 'importEntriesDialog.savedCartName' | cxTranslate }}
          <cx-form-required-asterisks />
        </span>
        <input
          [maxLength]="nameMaxLength"
          class="form-control"
          formControlName="name"
          required
          type="text"
          [attr.aria-invalid]="
            form.get('name')?.touched && form.get('name')?.invalid
          "
          [attr.aria-errormessage]="'nameError'"
        />
        <cx-form-errors
          id="nameError"
          [control]="form.get('name')"
        ></cx-form-errors>
      </label>
    </div>

    <div class="cx-import-entries-row">
      <label>
        <span class="cx-import-entries-label label-content">
          {{ 'importEntriesDialog.savedCartDescription' | cxTranslate }}
          <span class="cx-import-entries-label-optional">
            ({{ 'importEntriesDialog.optional' | cxTranslate }})
          </span></span
        >
        <textarea
          [maxLength]="descriptionMaxLength"
          class="form-control"
          formControlName="description"
          rows="5"
          [attr.aria-invalid]="
            form.get('description')?.touched && form.get('description')?.invalid
          "
          [attr.aria-errormessage]="'descriptionError'"
        ></textarea>
        <cx-form-errors
          id="descriptionError"
          [control]="form.get('description')"
        ></cx-form-errors>

        <p class="cx-import-entries-input-hint">
          {{
            'importEntriesDialog.charactersLeft'
              | cxTranslate: { count: descriptionsCharacterLeft }
          }}
        </p>
      </label>
    </div>
    <div class="cx-import-entries-footer">
      <button
        (click)="close('Close Import Products Dialog')"
        class="btn btn-secondary"
        type="button"
      >
        {{ 'importEntriesDialog.cancel' | cxTranslate }}
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="form.get('file')?.status === 'PENDING'"
      >
        {{ 'importEntriesDialog.upload' | cxTranslate }}
      </button>
    </div>
  </form>
}
