

<y-dynamic-slot [position]="'Section1'"></y-dynamic-slot>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start">
    <y-dynamic-slot fxFlex [position]="'Section2A'" fxLayout.xs="column" fxLayout="row"></y-dynamic-slot>
    <y-dynamic-slot fxFlex [position]="'Section2B'" fxLayout.xs="column" fxLayout="row"></y-dynamic-slot>
</div>

<y-dynamic-slot [position]="'Section2C'"></y-dynamic-slot>
<y-dynamic-slot [position]="'Section3'"></y-dynamic-slot>

<y-dynamic-slot [position]="'Section4'" fxLayout.xs="column" fxLayout="row"></y-dynamic-slot>
<y-dynamic-slot [position]="'Section5'"></y-dynamic-slot>