$asmLinkColor: #2480c5;
$asmVisualFocusColor: #0070f2;
$asmMainTextColor: #14293a;
$asmMainSecondaryTextColor: #747881;
$asmTabTextColor: #333333;
$asmBorderColor: #d3d6db;
$asmTableBackgroundAltColor: #ebf8ff;
$asmTableTextColor: #1d2d3e;
