<ng-container *ngIf="paymentMethods$ | async as paymentMethods">
  <div class="cx-payment container">
    <div *ngIf="showHeader" class="cx-header">
      <h2>
        {{ 'paymentMethods.paymentMethods' | cxTranslate }}
      </h2>
    </div>

    <div class="cx-body">
      <div *ngIf="showHeader" class="cx-msg">
        {{
          'paymentMethods.newPaymentMethodsAreAddedDuringCheckout' | cxTranslate
        }}
      </div>
      <div *ngIf="loading$ | async; else cards"><cx-spinner></cx-spinner></div>
      <ng-template #cards>
        <div class="cx-existing row">
          <div
            class="cx-payment-card col-sm-12 col-md-12 col-lg-6"
            *ngFor="let paymentMethod of paymentMethods; let i = index"
          >
            <div class="cx-payment-inner">
              <cx-card
                [index]="i"
                [border]="true"
                [fitToContainer]="true"
                [content]="getCardContent(paymentMethod) | async"
                (deleteCard)="deletePaymentMethod(paymentMethod)"
                (setDefaultCard)="setDefaultPaymentMethod(paymentMethod)"
                (editCard)="setEdit(paymentMethod)"
                [editMode]="editCard === paymentMethod.id"
                (cancelCard)="cancelCard()"
              ></cx-card>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>

<div
  *ngIf="showDeleteDialog"
  class="modal fade show"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  style="display: block"
  (click)="closeDeleteDialog()"
>
  <div
    class="modal-dialog modal-dialog-centered"
    style="max-width: 560px; width: 90vw"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-content rounded-0">
      <div class="modal-header border-0 px-5 pb-2">
        <h3 class="modal-title text-start mb-0">
          {{ 'paymentCard.deletePaymentMethod' | cxTranslate }}
        </h3>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeDeleteDialog()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5 pt-0">
        <p class="cx-confirmation text-start mt-0 mb-0">
          {{ 'paymentCard.deleteConfirmation' | cxTranslate }}
        </p>
      </div>
      <div class="cx-modal-footer d-flex flex-column gap-2">
        <button
          class="btn btn-primary btn-block"
          (click)="confirmDeletePaymentMethod()"
        >
          {{ 'common.delete' | cxTranslate }}
        </button>
        <button
          class="btn btn-secondary btn-block"
          (click)="closeDeleteDialog()"
        >
          {{ 'common.cancel' | cxTranslate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showDeleteDialog" class="modal-backdrop fade show"></div>
