<ng-container *ngIf="product$ | async as product">
  <div class="cx-general-product-info">
    <div class="cx-title">
      <span> {{ product.name }} </span>
    </div>
    <button (click)="triggerDetails()">
      <ng-container *ngIf="!showMore">
        <div
          class="cx-toggle-details-link-text"
          [attr.aria-label]="
            'configurator.a11y.showMoreProductInfo'
              | cxTranslate: { product: product.name }
          "
        >
          <span aria-hidden="true">{{
            'configurator.header.showMore' | cxTranslate
          }}</span>
        </div>
        <cx-icon [type]="iconTypes.CARET_DOWN"></cx-icon>
      </ng-container>

      <ng-container *ngIf="showMore">
        <div
          class="cx-toggle-details-link-text"
          [attr.aria-label]="
            'configurator.a11y.showLessProductInfo'
              | cxTranslate: { product: product.name }
          "
        >
          {{ 'configurator.header.showLess' | cxTranslate }}
        </div>
        <cx-icon [type]="iconTypes.CARET_UP"></cx-icon>
      </ng-container>
    </button>
    <div class="cx-details" [class.open]="showMore">
      <div class="cx-details-image" aria-hidden="true">
        <cx-media
          [container]="product?.images?.PRIMARY"
          format="product"
        ></cx-media>
      </div>
      <div
        class="cx-details-content"
        [attr.aria-hidden]="showMore ? false : true"
      >
        <div class="cx-detail-title">
          <span
            *ngIf="product.name"
            [attr.aria-label]="'configurator.a11y.productName' | cxTranslate"
          >
            {{ product.name }}
          </span>
        </div>
        <div class="cx-code">
          <span
            *ngIf="product.code"
            [attr.aria-label]="'configurator.a11y.productCode' | cxTranslate"
          >
            {{ product.code }}
          </span>
        </div>
        <div class="cx-description">
          <span
            *ngIf="product.description"
            [attr.aria-label]="
              'configurator.a11y.productDescription' | cxTranslate
            "
          >
            {{ product.description }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
