<ng-container *ngIf="product$ | async as product">
  <div class="cx-general-product-info">
    <div class="cx-title">
      <!-- TODO(issue: #11238): update feature level to the release we are publishing with,
        It is still 3.1 only because app.module.ts states that we are on 3.1.
        Finally we must have 3.x, x>=2 here -->
      <ng-container *cxFeatureLevel="!3.1">
        {{ product.name }}
      </ng-container>
      <!-- TODO: update feature level to the release we are publishing with-->
      <ng-container *cxFeatureLevel="3.1">
        <span> {{ product.name }} </span>
      </ng-container>
    </div>
    <a role="link" (click)="triggerDetails()" tabindex="0">
      <ng-container *ngIf="!showMore">
        <div class="cx-toggle-details-link-text">
          {{ 'configurator.header.showMore' | cxTranslate }}
        </div>
        <cx-icon [type]="iconTypes.CARET_DOWN"></cx-icon>
      </ng-container>

      <ng-container *ngIf="showMore">
        <div class="cx-toggle-details-link-text">
          {{ 'configurator.header.showLess' | cxTranslate }}
        </div>
        <cx-icon [type]="iconTypes.CARET_UP"></cx-icon>
      </ng-container>
    </a>
    <div class="cx-details" [class.open]="showMore">
      <div class="cx-details-image">
        <!-- TODO(issue: #11238): update feature level to the release we are publishing with,
          It is still 3.1 only because app.module.ts states that we are on 3.1.
          Finally we must have 3.x, x>=2 here -->
        <ng-container *cxFeatureLevel="!3.1">
          <img
            [alt]="getProductImageAlt(product)"
            [src]="getProductImageURL(product)"
          />
        </ng-container>
        <!-- TODO: update feature level to the release we are publishing with-->
        <ng-container *cxFeatureLevel="3.1">
          <cx-media
            [container]="product?.images?.PRIMARY"
            format="product"
          ></cx-media>
        </ng-container>
      </div>
      <div class="cx-details-content">
        <div class="cx-detail-title">
          <!-- TODO(issue: #11238): update feature level to the release we are publishing with,
           It is still 3.1 only because app.module.ts states that we are on 3.1.
           Finally we must have 3.x, x>=2 here -->
          <ng-container *cxFeatureLevel="!3.1">
            {{ product.name }}
          </ng-container>
          <!-- TODO: update feature level to the release we are publishing with-->
          <ng-container *cxFeatureLevel="3.1">
            <span *ngIf="product.name"> {{ product.name }} </span>
          </ng-container>
        </div>
        <div class="cx-code">
          <!-- TODO(issue: #11238): update feature level to the release we are publishing with,
            It is still 3.1 only because app.module.ts states that we are on 3.1.
            Finally we must have 3.x, x>=2 here -->
          <ng-container *cxFeatureLevel="!3.1">
            {{ product.code }}
          </ng-container>
          <!-- TODO: update feature level to the release we are publishing with-->
          <ng-container *cxFeatureLevel="3.1">
            <span *ngIf="product.code"> {{ product.code }} </span>
          </ng-container>
        </div>
        <div class="cx-description">
          <!-- TODO(issue: #11238): update feature level to the release we are publishing with,
             It is still 3.1 only because app.module.ts states that we are on 3.1.
             Finally we must have 3.x, x>=2 here -->
          <ng-container *cxFeatureLevel="!3.1">
            {{ product.description }}
          </ng-container>
          <!-- TODO: update feature level to the release we are publishing with-->
          <ng-container *cxFeatureLevel="3.1">
            <span *ngIf="product.description"> {{ product.description }} </span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
