<ng-container *ngIf="quoteDetails$ | async as quoteDetails">
  <div
    class="quote-comment-toggle"
    (click)="showVendorContact = !showVendorContact"
  >
    <cx-icon
      aria-hidden="false"
      [type]="showVendorContact ? iconTypes.CARET_UP : iconTypes.CARET_DOWN"
    >
    </cx-icon>
    <span class="quote-comment-text">{{
      'quote.comments.contactVendor' | cxTranslate
    }}</span>
  </div>
  <div *ngIf="showVendorContact">
    <cx-messaging
      [messageEvents$]="messageEvents$"
      [messagingConfigs]="messagingConfigs"
      (send)="onSend($event, quoteDetails.code)"
    ></cx-messaging>
  </div>
</ng-container>
