<ng-container *ngIf="quoteDetails$ | async as quoteDetails; else ghostComment">
  <ng-container *ngIf="showComments(quoteDetails)">
    <div class="cx-toggle" (click)="expandComments = !expandComments">
      <cx-icon
        aria-hidden="false"
        [type]="expandComments ? iconTypes.CARET_UP : iconTypes.CARET_DOWN"
      >
      </cx-icon>
      <span class="cx-text">{{ 'quote.comments.title' | cxTranslate }}</span>
    </div>
    <cx-messaging
      *ngIf="expandComments"
      [messageEvents$]="messageEvents$"
      [messagingConfigs]="messagingConfigs"
      (send)="onSend($event, quoteDetails.code)"
      (itemClicked)="onItemClicked($event)"
    ></cx-messaging>
  </ng-container>
</ng-container>

<ng-template #ghostComment>
  <div>Ghost Comment</div>
  <div class="cx-ghost-messaging">
    <div class="cx-ghost-messaging-box">
      <div class="cx-ghost-container">
        <div class="cx-ghost-message-input-title ghost"></div>
      </div>
      <div class="cx-ghost-container">
        <div class="cx-ghost-message-input ghost"></div>
      </div>
    </div>
  </div>
</ng-template>
