@import '../../theme';
@import '../../mixins';
@import '~bootstrap/scss/buttons';

/* demonstrate proper use of css properties for coloring */

/**
  * button colors
*/
.btn {
  border-color: var(--color) !important;

  &.disabled,
  &[disabled] {
    --y-darken-factor: 1.31;
    &:hover {
      --y-darken-factor: 1.31;
    }
  }

  &-primary,
  &-outline-primary {
    --color: var(--y-primary);
  }

  &-secondary,
  &-outline-secondary {
    --color: var(--y-secondary);
  }

  &.btn-primary,
  &.btn-secondary {
    background-color: var(--color);
    &:disabled {
      background-color: var(--color);
    }
  }

  &.btn-primary,
  &.btn-secondary,
  &-outline-primary,
  &-outline-secondary {
    box-shadow: none;
    &:not([disabled]):not(.disabled) {
      &:hover {
        --y-darken-factor: 0.88;
        background-color: var(--color);
      }
      &:active {
        background-color: var(--color);
      }
      &:focus,
      &:focus:active {
        box-shadow: 0 0 0 0.2em var(--color);
      }
    }
  }

  &.btn-link {
    color: var(--y-text);
    background: none;
    border: none;
  }
}

.btn {
  --y-height: 48px;

  font-size: 1.125em;
  line-height: 1.125em;
  text-transform: $btn-text-transform;

  padding: 11px 12px;
  height: var(--y-height);

  &-sm {
    padding-top: 0;
    padding-bottom: 0;
    --y-height: 40px;
  }

  &-lg {
    --y-height: 55px;
  }

  &-outline {
    &-primary,
    &-secondary {
      border: 2px solid;
      color: var(--color);
    }
  }

  &-link {
    text-decoration: underline !important;
    cursor: pointer;
    display: inline-block;
  }
}

.btn[aria-pressed='true'] {
  @extend .btn.active;
  &.btn-primary {
    @extend .btn-primary;
  }
  &.btn-secondary {
    @extend .btn-secondary;
  }
}

.btn[aria-disabled='true'] {
  @extend .btn.disabled;
  cursor: auto !important;
  opacity: 0.6;
  &.btn-primary {
    @extend .btn-primary.disabled;
  }
  &.btn-secondary {
    @extend .btn-secondary.disabled;
  }
}

.btn[disabled] {
  &.btn-primary {
    @extend .btn-primary.disabled;
  }
  &.btn-secondary {
    @extend .btn-secondary.disabled;
  }
}
