@import '../../theme';
@import '~bootstrap/scss/dropdown';

$y-dropdown-toggle-border-color: 'inverse' !important;
$y-dropdown-toggle-border-hover-color: 'primary' !default;

$y-dropdown-toggle-border-width: 0 2px 2px 0 !default;

.dropdown-menu {
  border-radius: 0;
  margin-top: 11px;
}
