<ng-container *ngIf="form$ | async as form">
  <cx-amend-order-actions
    *ngIf="orderCode"
    [orderCode]="orderCode"
    [isValid]="form.valid"
    backRoute="orderDetails"
    forwardRoute="orderReturnConfirmation"
  ></cx-amend-order-actions>

  <cx-cancel-or-return-items
    *ngIf="entries$ | async as entries"
    [entries]="entries"
  >
  </cx-cancel-or-return-items>

  <cx-amend-order-actions
    *ngIf="orderCode"
    [orderCode]="orderCode"
    [isValid]="form.valid"
    backRoute="orderDetails"
    forwardRoute="orderReturnConfirmation"
  ></cx-amend-order-actions>
</ng-container>
