<label *ngIf="showSwitcher">
  <span> {{ 'themeSwitcher.theme' | cxTranslate }}:</span>
  <select (change)="onSelect($any($event).target.value)">
    <option
      [attr.aria-label]="
        theme.i18nNameKey ? (theme.i18nNameKey | cxTranslate) : theme.className
      "
      *ngFor="let theme of themes"
      value="{{ theme.className }}"
      [selected]="selectedTheme.className === theme.className"
    >
      {{
        theme.i18nNameKey ? (theme.i18nNameKey | cxTranslate) : theme.className
      }}
    </option>
  </select>
  <cx-icon [type]="iconTypes.CARET_DOWN" class="small"></cx-icon>
</label>
