<div class="cx-find-a-store-container">
  <div class="cx-find-a-store-label">
    <label for="txtFindAStore">Find a Store</label>
  </div>
  <div class="cx-find-a-store-input">
    <input class="form-control" type="text" id="txtFindAStore" />
  </div>
  <div><button>Find Stores</button></div>
  <div><a href="#">USE MY LOCATION</a> | <a href="#">VIEW ALL STORES</a></div>
  <div class="cx-find-a-store-hide-out-of-stock form-check">
    <label class="form-check-label" for="chkHideOutOfStock">Hide out of stock options </label>
    <input class="form-check-input" id="chkHideOutOfStock" type="checkbox" />
  </div>
</div>
