@if (content) {
  <div
    class="cx-card"
    [tabindex]="border ? 0 : -1"
    [attr.role]="role"
    [attr.aria-labelledby]="isHeaderVisible ? getLabel('content-header') : null"
    [attr.aria-describedby]="ariaDescribedBy"
    [class.cx-card-border]="border"
    [class.cx-card-fit-to-container]="fitToContainer"
  >
    <!-- Card Header -->
    @if (isHeaderVisible) {
      <div class="card-header" [id]="getLabel('content-header')">
        {{ content.header }}
      </div>
    }
    <!-- Card Body -->
    <div class="card-body cx-card-body" [class.cx-card-delete]="editMode">
      <!-- Edit message -->
      @if (editMode) {
        <div role="alert" class="cx-card-delete-msg">
          {{ content.deleteMsg }}
        </div>
      }
      <!-- Card title -->
      @if (content.title) {
        <span class="cx-card-title" [id]="getLabel('content-title')">
          {{ content.title }}
        </span>
      }
      <!-- Card Content -->
      <div class="cx-card-container" [id]="getLabel('cx-card-container')">
        <!-- Card Label -->
        <div class="cx-card-label-container">
          @if (content.textBold) {
            <div class="cx-card-label-bold">
              {{ content.textBold }}
            </div>
          }
          @for (line of content.text; track line) {
            <div>
              <ng-container
                *ngTemplateOutlet="
                  showText;
                  context: {
                    content: content,
                    truncateText: truncateText,
                    charactersLimit: charactersLimit,
                    class: 'cx-card-label',
                    text: line,
                  }
                "
              >
              </ng-container>
            </div>
          }
          @for (item of content.paragraphs; track trackByIndex($index, item)) {
            <div class="cx-card-paragraph">
              <div class="cx-card-paragraph-title">{{ item.title }}</div>
              @for (text of item.text; track text) {
                <div>
                  <ng-container
                    *ngTemplateOutlet="
                      showText;
                      context: {
                        content: content,
                        truncateText: truncateParagraphText,
                        charactersLimit: charactersLimit,
                        class: 'cx-card-paragraph-text',
                        text: text,
                      }
                    "
                  >
                  </ng-container>
                </div>
              }
            </div>
          }
          <ng-content select="[label_container_bottom]"></ng-content>
        </div>
        <!-- Image -->
        @if (content.img) {
          <div
            class="cx-card-img-container"
            [attr.aria-label]="
              content.imgLabel ?? 'paymentCard.credit' | cxTranslate
            "
            role="img"
            [attr.title]="
              content.imgLabel ?? 'paymentCard.credit' | cxTranslate
            "
          >
            <cx-icon [type]="content.img"></cx-icon>
          </div>
        }
      </div>
      <!-- Edit Mode Actions -->
      @if (editMode) {
        <div class="row cx-card-body-delete">
          <div class="row col-md-12">
            <div class="col-md-6" [cxFocus]="{ autofocus: true }">
              <button class="btn btn-block btn-primary" (click)="delete()">
                {{ 'common.delete' | cxTranslate }}
              </button>
            </div>
            <div class="col-md-6">
              <button
                [cxAtMessage]="'assistiveMessage.actionCancelled' | cxTranslate"
                class="btn btn-block btn-secondary"
                (click)="cancelEdit()"
              >
                {{ 'common.cancel' | cxTranslate }}
              </button>
            </div>
          </div>
        </div>
      }
      <!-- Actions -->
      @if (content.actions && !editMode) {
        <div class="cx-card-actions">
          @for (action of content.actions; track action) {
            <div class="cx-card-action-item">
              <div>
                @if (isCardAction(action)) {
                  @switch (action.event) {
                    @case ('delete') {
                      <button
                        type="button"
                        class="btn btn-tertiary"
                        (click)="delete()"
                      >
                        {{ action.name }}
                      </button>
                    }
                    @case ('default') {
                      <button
                        type="button"
                        class="btn btn-tertiary"
                        (click)="setDefault()"
                      >
                        {{ action.name }}
                      </button>
                    }
                    @case ('send') {
                      <button
                        type="button"
                        class="btn btn-tertiary"
                        (click)="send()"
                        [attr.aria-describedby]="
                          index >= 0 && content.header && !editMode
                            ? 'content-header-' + index
                            : null
                        "
                      >
                        {{ action.name }}
                      </button>
                    }
                    @case ('edit') {
                      <button
                        type="button"
                        class="btn btn-tertiary"
                        (click)="edit()"
                      >
                        {{ action.name }}
                      </button>
                    }
                  }
                }
                @if (isCardLinkAction(action)) {
                  <cx-generic-link
                    [url]="action.link"
                    [ariaLabel]="
                      action.ariaLabel
                        ? (action.ariaLabel | cxTranslate)
                        : undefined
                    "
                    [target]="action.target ?? null"
                    >{{ action.name }}</cx-generic-link
                  >
                }
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
}

<ng-template
  #showText
  let-content="content"
  let-truncateText="truncateText"
  let-charactersLimit="charactersLimit"
  let-class="class"
  let-text="text"
>
  @if (!truncateText) {
    <div [class]="class" [ngClass]="content.customClass">
      {{ text }}
    </div>
  }

  @if (truncateText) {
    <cx-truncate-text-popover
      [charactersLimit]="charactersLimit"
      [content]="text"
      [customClass]="content.customClass || class"
    ></cx-truncate-text-popover>
  }
</ng-template>
