<button [disabled]="disableConfirm" (click)="confirmEntryInputs()">
  {{ 'common.continue' | cxTranslate }}
</button>
<br />
<a (click)="setComplete()">{{
  (cancelOrder
    ? 'orderDetails.cancellationAndReturn.cancelAll'
    : 'orderDetails.cancellationAndReturn.returnAll') | cxTranslate
}}</a>

<div class="d-none d-md-block d-lg-block d-xl-block">
  <div class="cx-item-list-header row">
    <div class="cx-item-list-desc col-md-5 col-lg-5 col-xl-6">
      {{ 'orderDetails.cancellationAndReturn.item' | cxTranslate }}
    </div>
    <div class="cx-item-list-price col-md-3 col-lg-2 col-xl-2">
      {{ 'orderDetails.cancellationAndReturn.itemPrice' | cxTranslate }}
    </div>
    <div class="cx-item-list-qty col-md-2 col-lg-3 col-xl-2">
      {{ 'orderDetails.cancellationAndReturn.quantity' | cxTranslate }}
    </div>
    <div class="cx-item-list-total col-md-2 col-lg-2 col-xl-2">
      {{
        (cancelOrder
          ? 'orderDetails.cancellationAndReturn.cancelQty'
          : 'orderDetails.cancellationAndReturn.returnQty') | cxTranslate
      }}
    </div>
  </div>
</div>

<div [formGroup]="form">
  <div formArrayName="entryInput">
    <div class="cx-item-list-row" *ngFor="let item of entries; let i = index">
      <div class="cx-item-list-items">
        <div class="row">
          <!-- Item Image -->
          <div class="col-2 cx-image-container">
            <cx-media
              [container]="item.product.images?.PRIMARY"
              format="thumbnail"
            ></cx-media>
          </div>
          <!-- Item Information -->
          <div class="cx-info col-10">
            <div class="cx-info-container row ">
              <!-- Item Description -->
              <div class="col-md-3 col-lg-3 col-xl-5">
                <div *ngIf="item.product.name" class="cx-name">
                  {{ item.product.name }}
                </div>
                <div *ngIf="item.product.code" class="cx-code">
                  {{ 'cartItems.id' | cxTranslate }} {{ item.product.code }}
                </div>
                <!-- Variants -->
                <div
                  *ngFor="let variant of item.product.variantOptionQualifiers"
                  class="cx-property"
                >
                  <div class="cx-label">{{ variant.name }}</div>
                  <div class="cx-value">{{ variant.value }}</div>
                </div>
              </div>
              <!-- Item Price -->
              <div
                *ngIf="item.basePrice"
                class="cx-price col-md-3 col-lg-3 col-xl-2"
              >
                <div class="cx-label d-block d-md-none d-lg-none d-xl-none">
                  {{
                    'orderDetails.cancellationAndReturn.itemPrice' | cxTranslate
                  }}
                </div>
                <div *ngIf="item.basePrice" class="cx-value">
                  {{ item.basePrice?.formattedValue }}
                </div>
              </div>
              <!-- Item Quantity -->
              <div *ngIf="item.quantity" class="cx-quantity col-3">
                <div
                  class="cx-label d-block d-md-none d-lg-none d-xl-none"
                  placement="left"
                  title="{{ 'cartItems.quantityTitle' | cxTranslate }}"
                >
                  {{
                    'orderDetails.cancellationAndReturn.quantity' | cxTranslate
                  }}
                </div>
                <div class="cx-value">{{ item.returnableQuantity }}</div>
              </div>
              <!-- Cancel/Return Quantity -->
              <div class="cx-total col-md-3 col-lg-3 col-xl-2">
                <div class="cx-label d-block d-md-none d-lg-none d-xl-none">
                  {{
                    (cancelOrder
                      ? 'orderDetails.cancellationAndReturn.cancelQty'
                      : 'orderDetails.cancellationAndReturn.returnQty')
                      | cxTranslate
                  }}
                </div>
                <div [formGroupName]="i">
                  <input
                    type="text"
                    formControlName="quantity"
                    cxOnlyNumber
                    (blur)="onBlur($event.target.value, i)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
