<ng-container *ngIf="isPunchoutSessionActive$ | async">
  <ng-container *ngIf="cart$ | async as cart">
    <ng-container *ngIf="entries$ | async as entries">
      <div class="punchoutStartSection">
        <cx-cart-item-list
          [readonly]="true"
          [items]="entries"
          [options]="{
            isSaveForLater: false,
            disableItemLink: true,
          }"
        ></cx-cart-item-list>
      </div>
      <div class="punchoutEndSection">
        <cx-order-summary [cart]="cart"></cx-order-summary>

        <cx-punchout-buttons [removeCancelButton]="true"></cx-punchout-buttons>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
