<!-- <y-cookie-confirmation></y-cookie-confirmation> -->

<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark top-header">
        <div class="container header1">
            <y-dynamic-slot position="SiteLogo" fxFlex></y-dynamic-slot>
            <y-login></y-login>
            <y-dynamic-slot position="HeaderLinks"></y-dynamic-slot>
        </div>
        <div class="container header2">
            <y-dynamic-slot fxFlex="50%" position="SearchBox"></y-dynamic-slot>
            <y-dynamic-slot fxLayout="row" fxLayoutAlign="start start" class="mini-cart" position="MiniCart" fxLayout="row" fxLayoutAlign="start start"></y-dynamic-slot>
            <y-currency-selector fxLayout="row" fxLayoutAlign="start start" class="currency-selector"></y-currency-selector>
            <y-language-selector fxLayout="row" fxLayoutAlign="start start" class="language-selector"></y-language-selector>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark second-header">

    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container navigation-header">
            <y-dynamic-slot position="NavigationBar"></y-dynamic-slot>
            <y-dynamic-slot position="BottomHeader"></y-dynamic-slot>
        </div>
    </nav>
</header>