
<y-cookie-confirmation></y-cookie-confirmation>

<div id="top" class="top-header" >
    <md-card fxLayout="row" fxLayoutAlign="start start">
        <y-dynamic-slot position="SiteLogo" fxFlex></y-dynamic-slot>
        <y-dynamic-slot position="SearchBox" fxFlex="50%"></y-dynamic-slot>
        <y-dynamic-slot position="MiniCart"  fxLayout="row" fxLayoutAlign="start start" ></y-dynamic-slot>
        <y-login-status></y-login-status>
        <y-dynamic-slot position="HeaderLinks"></y-dynamic-slot>
        <y-currency-selector></y-currency-selector>
        <y-language-selector></y-language-selector>
    </md-card>
    <!--<md-progress-bar mode="indeterminate"></md-progress-bar>-->
</div>

<!--
    The HomepageNavLink is a mistake in the sample data...
    <y-dynamic-slot position="HomepageNavLink" ></y-dynamic-slot>
-->


<div class="navigation-header">
    <y-dynamic-slot position="NavigationBar"></y-dynamic-slot>
    <y-dynamic-slot position="BottomHeader"></y-dynamic-slot>
</div>
