
<y-dynamic-slot position="SiteLogo" style="float:left"></y-dynamic-slot>

<y-dynamic-slot position="HomepageNavLink" style="float:left"></y-dynamic-slot>

<y-dynamic-slot position="SearchBox" style="float:left"></y-dynamic-slot>

<!--<y-cart-trigger style="float:left"></y-cart-trigger>
<y-mini-profile-ui style="float:left"></y-mini-profile-ui>-->
<!--<md-toolbar [color]="myColor">-->
<y-dynamic-slot position="NavigationBar"></y-dynamic-slot>

<y-dynamic-slot position="MiniCart"></y-dynamic-slot>
<!--</md-toolbar>-->

<y-dynamic-slot position="HeaderLinks"></y-dynamic-slot>