
<div *ngIf="reviews">
    <md-card>
        
        <md-card-title>Reviews for {{model?.name}}</md-card-title>
        <md-card-subtitle>as asdfasdf </md-card-subtitle>
    
        <md-card-content>
            
            <md-list>
                <div *ngFor="let review of reviews | slice:0:maxListItems" class="review">
                    <md-list-item>
                        <md-icon md-list-icon color="primary">rate_review</md-icon>
                        <h4 md-line>"{{review.headline}}"</h4>
                        <p md-line>By {{review.principal.name}} on {{review.date | date}}</p>
                        <!--<button md-button (click)="onClick">
                            <y-star-rating [rating]="review.rating"></y-star-rating>
                        </button>-->
                        <button md-icon-button (click)="activeReview = review">
                            <md-icon>expand_more</md-icon>
                        </button>
                    </md-list-item>
                    <div class="comment" [hidden]="activeReview !== review">
                        <y-star-rating [rating]="review.rating" class="rating"></y-star-rating>
                        <div>
                            {{review.comment}}
                        </div>
                    </div>    
                </div>
            </md-list>
        </md-card-content>
        <md-card-actions align="end">
            <a (click)="maxListItems = -1" 
                *ngIf="maxListItems === initialMaxListItems" md-button>More</a>
            <a (click)="maxListItems = initialMaxListItems" 
                *ngIf="maxListItems !== initialMaxListItems" md-button>Less</a>
        </md-card-actions>
    </md-card>

    <!--<md-card *ngFor="let review of reviews" class="review">
        <md-card-header>
            <md-icon md-card-avatar>rate_review</md-icon>
            <md-card-title>"{{review.headline}}"</md-card-title>
            <md-card-subtitle>By {{review.principal.name}} on {{review.date | date}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            {{review.comment}}
        </md-card-content>
        <md-card-actions align="end">
            <y-star-rating [rating]="review.rating"></y-star-rating>
        </md-card-actions>
    </md-card>-->

   
</div>