%cx-wish-list-item {
  .cx-info-container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  }

  .cx-name {
    @include type('5');
    overflow-wrap: break-word;
    padding: 0;
    min-width: 17rem;

    .cx-link {
      color: var(--cx-color-text);
      text-decoration: none;

      &:hover {
        color: var(--cx-color-primary);
      }

      h2 {
        @include type('5');
      }
    }
  }

  .cx-code {
    @include type('7');
    color: var(--cx-color-secondary);
    padding: 0.625rem 0;
  }

  .cx-property {
    display: flex;
  }

  .cx-label {
    @include type('8');
    overflow-wrap: break-word;
    padding-inline-end: 1rem;

    @include media-breakpoint-down(sm) {
      min-width: 5rem;
    }
  }

  .cx-value {
    @include type('5');
    overflow-wrap: break-word;
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      @include type('7');
    }
  }

  .cx-price {
    display: flex;
    justify-content: center;
    align-items: center;
    @include type('5');
    font-weight: $font-weight-normal;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin: 0.3em 0;
    }
  }

  .cx-quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin: 0.3em 0;
    }
  }

  .cx-add-to-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      margin: 0.5em 0;
    }
  }

  .cx-out-of-stock {
    text-align: end;
  }

  .cx-return-button {
    display: flex;
    justify-content: flex-end;
    padding: 0;

    @include media-breakpoint-down(sm) {
      display: flex;
      justify-content: flex-start;
      padding: 0;
    }

    .btn-link {
      @include type('8');
      color: var(--cx-color-text);
      border-width: 0;
      text-decoration: none;
      padding: 0;
      height: 30px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
