%cx-configurator-overview-filter {
  .cx-overview-filter-header {
    font-weight: bold;
    background-color: var(--cx-color-background);
    border: 1px solid var(--cx-color-light);
    border-radius: 2px;

    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-start: 15px;
    padding-block-end: 15px;
  }

  .cx-overview-filter-header,
  .cx-overview-filter-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;

    padding-inline-start: 15px;
    padding-inline-end: 15px;
    margin-block-start: 15px;
    margin-block-end: 15px;
  }
}
