@import './_configurator-form.scss';

%cx-configurator-conflict-solver-dialog {
  &:not(:empty) {
    .cx-conflict-solver-dialog {
      box-sizing: border-box;
      margin-inline-start: 25px;
      margin-inline-end: 25px;
      margin-block-start: 25px;
      margin-block-end: 25px;
    }

    @extend %cx-configurator-form !optional;
  }
}
