.cx-product-card {
  border-block-end: 1px solid var(--cx-color-background);
  margin-block-end: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  .cx-product-card-rows {
    display: flex;

    @include media-breakpoint-up(md) {
      &:last-of-type {
        margin-inline-start: auto;
      }
    }
  }

  .cx-product-card-imgs {
    height: 3.5rem;
    min-width: 3.5rem;
    width: 3.5rem;

    @include media-breakpoint-up(md) {
      height: 7rem;
      min-width: 7rem;
      width: 7rem;
    }

    .cx-product-card-imgs-fake,
    cx-media {
      background-color: var(--cx-color-light);
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  .cx-product-card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-inline-start: 1rem;
    width: 15.5rem;

    @include media-breakpoint-up(md) {
      width: 18rem;
    }

    .cx-product-card-name {
      a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .cx-product-card-code {
      color: var(--cx-color-secondary);
      font-size: 0.875rem;
      margin-block-start: 0.5rem;
      margin-block-end: 0.5rem;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .cx-product-card-price {
    font-weight: bold;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    margin-inline-start: auto;
  }

  .cx-product-card-quantity {
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-inline-end: 2rem;
      margin-inline-start: 2rem;
    }
  }

  .cx-product-card-action {
    width: 100%;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      min-width: 6rem;
    }

    .btn {
      width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 20rem;
      }
    }
  }
}

.cx-product-card-selected {
  background-color: var(--cx-color-background);

  cx-item-counter {
    background-color: #fff;
  }
}
