.cx-product-card {
  border-block-end: 1px solid var(--cx-color-background);
  margin-block-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: row;
  }

  .cx-product-card-rows {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
      &:last-of-type {
        margin-inline-start: auto;
      }
    }

    &.column {
      flex-direction: column;
    }

    .cx-product-card-quantity-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-block-end: 1rem;

      @include media-breakpoint-down(sm) {
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
      }
    }

    .cx-product-card-action {
      display: flex;
      flex-direction: row;

      @include media-breakpoint-up(md) {
        align-self: flex-end;
      }
    }
  }

  .cx-product-card-imgs {
    height: 3rem;
    min-width: 3rem;
    width: 3rem;

    @include media-breakpoint-up(md) {
      height: 5rem;
      min-width: 5rem;
      width: 5rem;
    }

    .cx-product-card-imgs-fake,
    cx-media {
      background-color: var(--cx-color-light);
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  .cx-product-card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-inline-start: 1rem;
    width: 15.5rem;

    @include media-breakpoint-up(md) {
      width: 18rem;
    }

    .cx-product-card-name {
      a,
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p {
        color: var(--cx-color-primary);
        margin-block-end: 0;
      }
    }

    .cx-product-card-code {
      color: var(--cx-color-secondary);
      font-size: 0.875rem;
      margin-block-start: 0.5rem;
      margin-block-end: 0.5rem;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .cx-product-card-price {
    height: 48px;
  }

  .cx-product-card-quantity {
    @include media-breakpoint-down(sm) {
      margin-block-start: 0.5rem;
      margin-block-end: 0.5rem;
    }

    @include media-breakpoint-up(md) {
      margin-inline-end: 4rem;
    }
  }

  .cx-product-card-action-btn {
    @include media-breakpoint-up(md) {
      min-width: 6rem;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .btn {
      font-size: 1rem;
      width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 20rem;
      }
    }
  }
}

.cx-product-card-selected {
  background-color: var(--cx-color-background);

  cx-item-counter {
    background-color: #fff;
  }
}
