%cx-configuration-conflict-and-error-messages {
  .cx-warning-message,
  .cx-error-message {
    display: none;
  }
  .cx-warning-message.open,
  .cx-error-message.open {
    display: flex;
  }
  .alert-danger {
    background-color: #fad9d9;
    border: var(--cx-border, none);
  }
  .alert-warning {
    background-color: #fff1c8;
    border: var(--cx-border, none);
  }
}
