%cx-configurator-attribute-single-selection-bundle-dropdown {
  @include cx-configurator-attribute-type();
  @include cx-configurator-form-group();

  .cx-attribute-level-quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
  }
}
