%cx-configurator-chat {
  &:not(:empty) {
    @include media-breakpoint-up(xl) {
      max-width: 1140px;
    }

    @include media-breakpoint-down(xl) {
      width: 100%;
    }

    .cx-container {
      max-width: 1140px;
      display: flex;
      justify-content: flex-end;

      .cx-speech-bubble {
        color: var(--cx-color-primary);
        position: fixed;
        top: 35%;
        cursor: pointer;
        font-size: 50px;
        padding-inline-end: 1rem;
      }
    }

    .cx-chat-container {
      padding-block-start: 1rem;
      padding-block-end: 1rem;

      .cx-buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .cx-close,
        .cx-microphone,
        .cx-microphone-slash,
        .cx-volume {
          line-height: 1;
          padding-inline-end: 10px;
          font-size: var(--cx-font-size, 1.5rem);
          font-weight: var(--cx-font-weight-bold);
        }

        .cx-close {
          padding-inline-end: 17px;
        }

        .cx-ban {
          color: var(--cx-color-danger);
        }

        button.cx-close,
        button.cx-microphone,
        button.cx-microphone-slash,
        button.cx-volume {
          border: 0;
          background-color: transparent;
        }

        button.cx-close {
          color: var(--cx-color-secondary);
        }

        button.cx-microphone,
        button.cx-microphone-slash,
        button.cx-volume {
          color: var(--cx-color-primary);
        }
      }

      cx-messaging {
        .container {
          min-height: 0px;
        }

        .cx-message-footer {
          padding-inline-start: 0;
        }
      }
    }
  }
}
