%cx-configurator-show-more {
  &:not(:empty) {
    font-size: 14px;
    line-height: 1.2;

    button {
      background-color: transparent;
      border: none;
      display: inline-block;
      outline: none;

      &:hover {
        color: var(--cx-color-primary);
        text-decoration: underline;
      }

      &:focus {
        @include visible-focus();
      }
    }
  }
}
