%cx-configurator-overview-menu {
  margin-inline-start: 20px;
  margin-inline-end: 25px;

  .cx-title {
    text-decoration: underline;
    font-weight: bold;
  }

  .cx-group {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-block-start: 5px;
    padding-block-end: 5px;
    margin-inline-start: 25px;
    margin-inline-end: 30px;
  }
}
