%cx-configurator-overview-attribute {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .cx-attribute-value {
    width: 100%;
    font-weight: 600;

    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }

  .cx-attribute-label {
    color: var(--cx-color-secondary);
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }
}
