%cx-configurator-cpq-overview-attribute {
  .cpq-attribute {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-block-start: 15px;
    padding-block-end: 15px;

    &-thumbnail {
      width: 7rem;
      height: 7rem;

      cx-media {
        width: 7rem;
        height: 7rem;
        text-align: center;
      }

      &.empty {
        background-color: var(--cx-color-light);
      }
    }

    &-value {
      flex: 1;
      align-self: flex-start;
      padding-inline-start: 15px;
      padding-inline-end: 15px;
    }

    &-label {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      padding-block-start: 5px;
      color: var(--cx-color-secondary);

      @include media-breakpoint-up(md) {
        width: 58.3333333333%;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      &-name {
      }
    }

    &-code {
      display: block;
      color: var(--cx-color-secondary);
      font-size: 0.875rem;
      overflow-wrap: anywhere;
    }

    .overview-price {
      color: var(--cx-color-text);
    }
  }
}
