%cx-configurator-attribute-quantity {
  display: none;

  &:not(:empty) {
    display: flex;
    flex-direction: column;

    .cx-quantity {
      align-items: center;
      display: flex;

      label {
        margin-inline-end: 0.5rem;
      }
    }
  }
}
