@import './_configurator-form.scss';

%cx-configurator-conflict-solver-dialog {
  &:not(:empty) {
    $modal-content-border-radius: 0;
    $modal-dialog-margin-sm: 0 !important;
    $modal-max-width: 1140px !important;
    $modal-min-width: 1140px !important;
    $modal-max-width-md: 1140px !important;
    $modal-min-width-md: 1140px !important;
    $modal-max-width-sm: 100% !important;
    $modal-min-width-sm: 100% !important;

    .cx-modal-container {
      display: flex;
      align-items: center;
      margin: auto;
      height: 100%;
      overflow-y: auto;

      max-width: $modal-max-width;
      min-width: $modal-min-width;

      @include media-breakpoint-down(sm) {
        margin: $modal-dialog-margin-sm;
        min-width: $modal-max-width-sm;
        max-width: $modal-min-width-sm;
        overflow-y: initial;

        height: 100%;
        overflow-y: auto;
      }

      @include media-breakpoint-up(md) {
        max-width: $modal-max-width-md;
        min-width: $modal-min-width-md;
      }

      .modal-header {
        margin-block-end: 25px;
        background-color: rgba(245, 206, 206, 1);
        .cx-icon {
          color: var(--cx-color-danger);
        }
      }

      .cx-modal-content {
        background-color: var(--cx-color-inverse);
        width: 100%;

        .cx-modal-footer {
          display: flex;
          justify-content: flex-end;
          margin-block-start: 15px;
          padding-inline-start: 16px;
          padding-inline-end: 16px;
          padding-block-start: 16px;
          padding-block-end: 16px;

          %cx-configurator-exit-button {
            width: 50%;

            button {
              width: 100%;
              background-color: var(--cx-color-primary);
              border-color: var(--cx-color-primary);
            }
          }
        }
      }
    }

    @extend %cx-configurator-form !optional;
  }
}
