%cx-configurator-overview-attribute {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .cx-attribute-value {
    width: 100%;
    font-weight: 600;

    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }

  .cx-attribute-price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--cx-color-secondary);
    width: 60%;

    @include media-breakpoint-down(sm) {
      width: 100%;
      align-items: flex-start;
      padding-block-start: 5px;
    }

    .cx-attribute-label {
      padding-inline-end: 10px;
    }
  }
}
