<div id="{{ createAttributeIdForConfigurator(attribute) }}">
  <div class="form-check">
    <div class="cx-configurator-select-line">
      <div class="form-group">
        <input
          [formControl]="attributeInputForm"
          [required]="attribute.required"
          class="form-control"
          attr.role="{{ attribute.dataType }}"
          attr.aria-required="{{ attribute.required }}"
          (change)="onChange()"
          [cxFocus]="{ key: attribute.name }"
          maxlength="{{ attribute.maxlength }}"
          attr.aria-labelledby="{{
            createAriaLabelledBy('label', attribute.name)
          }}"
        />
      </div>
    </div>
  </div>
</div>
