<ng-container *ngIf="configuration$ | async as configuration">
  {{ 'configurator.header.configId' | cxTranslate }} :
  {{ configuration.configId }}
  {{ 'configurator.header.consistent' | cxTranslate }} :
  {{ configuration.consistent }}
  {{ 'configurator.header.complete' | cxTranslate }} :
  {{ configuration.complete }}

  <div class="cx-total">
    {{ 'configurator.attribute.caption' | cxTranslate }}
  </div>

  <div *ngFor="let attribute of configuration.attributes">
    <div>{{ attribute.label }}</div>
  </div>
</ng-container>
