%cx-wish-list {
  @extend %cx-cart-item-list;

  td.cx-price {
    text-align: center;

    @include media-breakpoint-down(md) {
      text-align: left;
    }
  }

  td.cx-actions {
    cx-add-to-cart {
      display: flex;
      justify-content: flex-end;
    }
  }

  --cx-max-width: 75%;

  @include media-breakpoint-down(sm) {
    --cx-max-width: 100%;
    .cx-item-list-row:last-of-type {
      border: none;
    }
  }

  @include media-breakpoint-down(md) {
    --cx-max-width: 90%;
  }
}
