%cx-wish-list {
  @extend %cx-cart-item-list;

  td.cx-actions {
    cx-add-to-cart {
      display: flex;
      justify-content: flex-end;
    }
  }

  --cx-max-width: 75%;

  @include media-breakpoint-down(md) {
    --cx-max-width: 50%;
  }

  @include media-breakpoint-down(sm) {
    --cx-max-width: 90%;
  }
}
