@if (order$ | async; as order) {
  <div class="cx-order-items">
    @if (order.paymentInfo; as paymentDetails) {
      <div class="cx-review-summary">
        @if (isPaymentInfoCardFull(paymentDetails)) {
          <div class="cx-review-summary-card cx-review-summary-payment-card">
            <cx-card
              [content]="getPaymentMethodCard(paymentDetails) | async"
            ></cx-card>
          </div>
        }
        @if (paymentDetails?.billingAddress) {
          <div class="cx-review-summary-card cx-review-summary-payment-card">
            <cx-card
              [content]="getBillingAddressCard(paymentDetails) | async"
            ></cx-card>
          </div>
        }
      </div>
    }
  </div>
}
