%cx-pdf {
  .pdf-container {
    padding: 15px;
    font-size: 0.875 rem;
    a {
      color: var(--cx-color-text);
    }
    cx-icon {
      margin-left: 10px;
      background-color: transparent;
      border: none;
      text-decoration: none;
    }
    .disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.6;
    }
    .active {
      line-height: 19px;
      text-decoration: underline;
    }
  }
}
