%cx-pdf {
  .pdf-container {
    padding: 0.938rem;
    font-size: var(--cx-font-size, 0.875rem);
    a {
      color: var(--cx-color-text);
      line-height: 1.1875rem;
      text-decoration: underline;
    }
    cx-icon {
      margin-inline-start: 0.625rem;
      background-color: transparent;
      border: none;
      text-decoration: none;
    }
  }
}
