<ng-container *ngIf="paymentGatewayConfig$ | async as paymentGatewayConfig">
  <!-- TODO: Remove this debug block at the end -->
  <pre style="border: 3px dashed red">
    QuickBuyComponent is using the following config: {{
      paymentGatewayConfig | json
    }}
  </pre>
  <!-- End debug block -->

  <cx-opf-apple-pay
    *ngIf="
      isPaymentMethodEnabled(PAYMENT_METHODS.APPLE_PAY, paymentGatewayConfig)
    "
  ></cx-opf-apple-pay>
  <cx-opf-google-pay
    *ngIf="
      isPaymentMethodEnabled(PAYMENT_METHODS.GOOGLE_PAY, paymentGatewayConfig)
    "
  ></cx-opf-google-pay>
</ng-container>
