%cx-opf-checkout-review-card {
  flex: 1 1 calc(50% - 1rem);
  min-width: 250px;
  max-width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  border: 1px solid var(--cx-color-medium);
  padding: 1.75rem;
  border-radius: 10px;
  background-color: #ffffff;

  @include cx-highContrastTheme-dark {
    border-color: var(--cx-color-text);
    background-color: var(--cx-color-background);
  }

  button {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    color: var(--cx-color-primary);
    outline: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    margin: 0;

    cx-icon {
      color: inherit;
    }
  }

  cx-card {
    flex-grow: 1;
    padding: 0 2rem 0 0;
  }

  @include media-breakpoint-down(md) {
    flex: 1 1 100%;
    margin-top: 0;
  }

  .cx-card-body {
    padding: 0;
  }
}
