<ng-container *ngIf="checkoutRouteActivated$ | async">
  <ng-container
    *ngFor="let cartModification of cartModifications$ | async; let i = index"
  >
    <div
      class="alert alert-danger"
      *ngIf="visibleWarnings[cartModification.entry.product.code]"
    >
      <span class="alert-icon">
        <cx-icon [type]="iconTypes.ERROR"></cx-icon>
      </span>
      <span
        >{{
          'validation.productOutOfStock'
            | cxTranslate: { name: cartModification.entry.product.name }
        }}
      </span>

      <button
        class="close"
        type="button"
        (click)="removeMessage(cartModification)"
      >
        <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
      </button>
    </div>
  </ng-container>
</ng-container>
