%cx-product-variants {
  .variant-section {
    @include media-breakpoint-up(lg) {
      padding: 20px 20px 0 20px;
    }
  }
  .variant-selector {
    a.size-guide {
      display: flex;
      justify-content: flex-end;
      pointer-events: none;
    }
    .style-name {
      text-transform: capitalize;
    }
  }
  .variant-list {
    padding: 0;

    li {
      display: inline-block;

      &.selected-variant {
        img {
          border: 2px solid var(--cx-color-primary);
        }
      }

      .variant-button {
        @include button-reset();

        &:focus {
          @include visible-focus();
        }

        img {
          margin: 3px;
          border: 1px solid #ddd;
        }
      }
    }
  }
}
