%cx-product-intro {
  @include media-breakpoint-up(lg) {
    padding: 20px 20px 0 20px;
  }

  .code {
    @include type('7');
    color: var(--cx-color-secondary);
    margin: 0 0 20px 0;
  }

  .rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .count {
      margin: 0 20px 0 5px;
    }

    button {
      @include button-reset();

      text-decoration: underline;
    }

    cx-star-rating {
      padding: 0 0 15px 0;
    }
  }
}
