%cx-product-summary {
  display: grid;
  grid-column-gap: 30px;

  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    padding-top: 1.5em;
  }

  @include media-breakpoint-down(lg) {
    padding: 20px;
    grid-template-rows: repeat(7, auto) 1fr;
  }

  .name {
    @include type('1');
  }

  .code {
    @include type('7');
    color: var(--cx-g-color-secondary);
    margin: 0 0 20px 0;
  }

  .rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .count {
      margin: 0 20px 0 5px;
    }

    cx-star-rating {
      padding: 0 0 15px 0;
    }
  }

  .price {
    display: inline-block;
    @include type('3');
    margin: 0 0 11px 0;
  }

  .quantity {
    label {
      @include type('8');
      margin: 15px 0 10px 0;
    }

    .info {
      @include type('7');
      margin: 0 15px 0 15px;
      color: var(--cx-g-color-secondary);
    }
  }

  cx-add-to-cart {
    margin: 20px 0 10px 0;
  }
}
