@import '../../../theme';

%cx-multi-step-checkout {
  @include media-breakpoint-down(md) {
    padding: 1.5rem 0;
  }

  .cx-nav {
    @include type('4', 'semi');
    margin: 0;

    .cx-list {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .cx-item {
      color: var(--cx-g-color-text);
      padding: 0 0 1.375rem 0;

      &.progressbar {
        border-bottom: 5px solid;
        border-color: var(--cx-g-color-primary);
        ::before {
          color: var(--cx-g-color-text);
        }
      }

      ::before {
        padding: 0 0.5rem;
        content: '>';
      }

      &:first-child ::before {
        padding: 0;
        content: '';
      }
    }
  }

  .cx-link,
  .cx-link:hover {
    cursor: pointer;

    &.is-disabled {
      color: var(--cx-g-color-light);
      cursor: not-allowed;
    }

    &.is-active {
      color: var(--cx-g-color-primary);
      ::before {
        color: var(--cx-g-color-text);
      }
    }
  }

  .cx-media {
    @include media-breakpoint-down(md) {
      & > :last-child {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: var(--cx-g-color-light);
      }
    }

    .cx-list-media {
      display: none;
      @include type('3');
      text-transform: capitalize;
      justify-content: space-between;
      align-items: center;
      line-height: 4.75rem;
      min-width: 100%;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: var(--cx-g-color-light);
      margin: 0;

      button {
        text-transform: capitalize;
        font-weight: var(--cx-g-font-weight-semi);
      }

      @include media-breakpoint-down(md) {
        display: flex;
        padding: 0 3.5rem;
      }

      @include media-breakpoint-down(sm) {
        padding: 0 1.375rem;
      }
    }
  }

  .cx-place-order {
    padding: 0 1rem;

    .cx-form {
      display: flex;
      .form-check-input {
        min-height: 1.375rem;
        min-width: 1.375rem;
      }
    }

    button {
      margin: 1.25rem 0 0;
    }
  }

  .col-md-12 {
    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding: 0 0 2rem;
    }
  }

  .cx-list-media {
    &.is-active {
      @include media-breakpoint-down(md) {
        background-color: var(--cx-g-color-background);
      }
    }
  }
}
