@import '../../../theme';

%cx-checkout-progress,
%cx-checkout-progress-mobile-top,
%cx-checkout-progress-mobile-bottom {
  .cx-nav {
    @include type('4', 'semi');
    margin: var(--cx-margin, 0);

    .cx-list {
      display: var(--cx-display, flex);
      flex-direction: var(--cx-flex-direction, row);
      list-style: var(--cx-list-style, none);
      padding: var(--cx-padding, 0);
      margin: var(--cx-margin, 0);
    }

    .cx-item {
      color: var(--cx-color, var(--cx-g-color-text));
      padding: var(--cx-padding, 0 0 1.375rem 0);

      ::before {
        padding: var(--cx-padding, 0 0.5rem);
        content: var(--cx-content, '>');
      }

      &:first-child ::before {
        padding: var(--cx-padding, 0);
        content: var(--cx-content, '');
      }
    }
  }

  .cx-link,
  .cx-link:hover {
    color: var(--cx-color, var(--cx-g-color-text));
    cursor: var(--cx-cursor, pointer);
    text-decoration: var(--cx-text-decoration, none);

    &.is-disabled {
      color: var(--cx-color, var(--cx-g-color-light));
      cursor: var(--cx-cursor, not-allowed);
      pointer-events: var(--cx-pointer-events, none);
    }

    &.is-active {
      color: var(--cx-color, var(--cx-g-color-primary));
      ::before {
        color: var(--cx-color, var(--cx-g-color-text));
      }
    }
  }

  .cx-media {
    .cx-list-media {
      display: var(--cx-display, none);
      @include type('3');
      justify-content: var(--cx-justify-content, space-between);
      align-items: var(--cx-align-items, center);
      line-height: var(--cx-line-height, 4.75rem);
      min-width: var(--cx-min-width, 100%);
      border-width: var(--cx-border-width, 1px 0 0 0);
      border-style: var(--cx-border-style, solid);
      border-color: var(--cx-border-color, var(--cx-g-color-light));
      margin: var(--cx-margin, 0);
      &.is-active {
        background-color: var(--cx-g-color-background);
        border: var(--cx-border, 0);
      }

      button {
        font-weight: var(--cx-font-weight, var(--cx-g-font-weight-semi));
      }
      @include media-breakpoint-down(md) {
        display: var(--cx-display, flex);
        padding: var(--cx-padding, 0 3.5rem);
        border-width: var(--cx-border-width, 0 0 1px 0);
        border-style: var(--cx-border-style, solid);
        border-color: var(--cx-border-color, var(--cx-g-color-light));
      }

      @include media-breakpoint-down(sm) {
        padding: var(--cx-padding, 0 1.375rem);
      }
    }
  }
}
