<ng-container *ngIf="quoteDetails$ | async as quoteDetails; else ghostActions">
  <section>
    <button
      #element
      type="button"
      *ngFor="let action of quoteDetails.allowedActions; index as ii"
      class="btn"
      [ngClass]="getButtonStyle(ii)"
      [disabled]="mustDisableAction(action.type, quoteDetails)"
      (click)="onClick(action.type, quoteDetails)"
    >
      {{ 'quote.actions.' + action.type | cxTranslate }}
    </button>
  </section>
</ng-container>

<ng-template #ghostActions>
  <div class="cx-ghost-actions">
    <ng-container *ngFor="let number of [0, 1, 2]">
      <div class="cx-ghost-button ghost"></div>
    </ng-container>
  </div>
</ng-template>
