<ng-container *ngIf="searchPhrases$ | async as searchPhrases">
  <ng-container *ngIf="searchPhrases?.length">
    <div class="trending-searches">
      <h3>
        {{ 'searchBox.trendingSearches' | cxTranslate }}
      </h3>
      <ul
        tabindex="0"
        [ariaLabel]="'cdsTrendingSearches.ariaTrendingSearches' | cxTranslate"
      >
        <li *ngFor="let phrase of searchPhrases">
          <a
            role="option"
            [routerLink]="
              {
                cxRoute: 'search',
                params: { query: phrase.searchPhrase },
              } | cxUrl
            "
            (mousedown)="$event.preventDefault()"
            (keydown.arrowup)="shareEvent($any($event))"
            (keydown.arrowdown)="shareEvent($any($event))"
            (keydown.arrowleft)="shareEvent($any($event))"
            (keydown.arrowright)="shareEvent($any($event))"
            (keydown.enter)="shareEvent($any($event))"
            (keydown.escape)="shareEvent($any($event))"
          >
            {{ phrase.searchPhrase }}
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
</ng-container>
