
<md-card>
    
    <md-card-title>{{(model | async)?.name}}</md-card-title>
    
    <md-divider></md-divider>
    <md-card-content>


        <y-product-summary [productCode]="productCode"></y-product-summary>
        

        <!--<y-add-to-cart [productCode]="product.code" [stockLevel]="product.stock.stockLevel"></y-add-to-cart>-->

        <!--<y-product-image-gallery [images]="product.images" imageType="GALLERY" imageFormat="thumbnail" ></y-product-image-gallery>-->
        <y-product-images [productCode]="productCode"></y-product-images>
        
        <div [innerHTML]="(model | async)?.description"></div>

        <!--<y-product-references [productCode]="product.code"></y-product-references>-->
        

        <md-tab-group>
        <md-tab label="Attributes">
            <y-product-attributes [productCode]="productCode"></y-product-attributes>
        </md-tab>
        <md-tab label="Reviews">
            TODO...
        </md-tab>
        </md-tab-group>
    </md-card-content>

</md-card>


