
<md-card>
    
    <md-card-title>
        <span class="product-title">{{model?.name}}</span>
        <span class="product-code"><span class="prefix"> | ID {{model?.code}}</span></span>
    </md-card-title>
    <div>
        <y-star-rating [rating]="model?.averageRating"></y-star-rating>
        <button md-button (click)="onClick">Reviews</button>
        <button md-button (click)="onClick">Write a review</button>
    </div>
    
    <md-card-content>
        <div fxLayout="row" fxLayoutAlign="start start">
            <y-product-images [productCode]="productCode" fxFlex="50%"></y-product-images>
            <y-product-summary [productCode]="productCode" fxFlex="50%"></y-product-summary>
        </div>
    

        <md-tab-group>
            <md-tab label="PRODUCT DETAILS">
                <div [innerHTML]="model?.description"></div>
            </md-tab>
            <md-tab label="SPECS">
                <y-product-attributes [productCode]="productCode"></y-product-attributes>
            </md-tab>
            <md-tab label="REVIEWS">
                <y-product-reviews [productCode]="productCode"></y-product-reviews>
            </md-tab>
            <md-tab label="DELIVERY">
                TODO...
            </md-tab>
        </md-tab-group>
       
    </md-card-content>

</md-card>


