<h3>{{ 'opf.checkout.billingAddress' | cxTranslate }}</h3>
<ng-container *ngIf="!(isLoadingAddress$ | async); else loading">
  <ng-container
    *ngIf="{
      billingAddress: billingAddress$ | async,
      isSameAsDelivery: isSameAsDelivery$ | async
    } as addressData"
  >
    <div class="form-group">
      <div class="form-check">
        <label>
          <input
            type="checkbox"
            class="form-check-input"
            [checked]="addressData.isSameAsDelivery"
            (change)="toggleSameAsDeliveryAddress()"
            [attr.aria-label]="
              'paymentForm.billingAddressSameAsShipping' | cxTranslate
            "
          />
          <span class="form-check-label">{{
            'paymentForm.sameAsDeliveryAddress' | cxTranslate
          }}</span>
        </label>
      </div>
    </div>

    <ng-container *ngIf="!isEditBillingAddress && addressData.billingAddress">
      <div class="cx-custom-address-info">
        <cx-card
          [content]="addressData.billingAddress | cxGetAddressCardContent"
        ></cx-card>

        <button
          *ngIf="!addressData.isSameAsDelivery"
          (click)="editCustomBillingAddress()"
        >
          <cx-icon [type]="iconTypes.PENCIL"></cx-icon>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="isEditBillingAddress">
      <cx-address-form
        [addressData]="addressData.billingAddress || {}"
        class="cx-form"
        [showTitleCode]="true"
        [showCancelBtn]="true"
        actionBtnLabel="{{ 'common.save' | cxTranslate }}"
        cancelBtnLabel="{{ 'common.cancel' | cxTranslate }}"
        (submitAddress)="onSubmitAddress($event)"
        (backToAddress)="cancelAndHideForm()"
        [setAsDefaultField]="false"
        [countries]="countries$"
      ></cx-address-form>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
