<input
  type="file"
  aria-hidden="true"
  [accept]="accept"
  [multiple]="multiple"
  (change)="selectFile($event)"
  #fileInput
/>
@if (!customButton) {
  <button
    [attr.aria-label]="'common.selectFile' | cxTranslate"
    class="btn btn-secondary"
    type="button"
    (click)="fileInput.click()"
  >
    <ng-content></ng-content>
  </button>
}
<!-- TODO(Brian-Parth): CXEC-17196 -->
@if (customButton) {
  <button class="link cx-action-link" (click)="fileInput.click()">
    <ng-container *ngTemplateOutlet="customButton"> </ng-container>
  </button>
}
@for (file of selectedFiles; track file) {
  <p>
    {{ file?.name }}
  </p>
}
