<ng-container *ngIf="productCode$ | async as productCode">
  <ng-container *ngIf="configuratorType$ | async as configuratorType">
    <div class="nav">
      <div>
        <a
          class="nav-link"
          [class.active]="!(isOverviewPage() | async)"
          [routerLink]="
            {
              cxRoute: 'configure' + configuratorType,
              params: { rootProduct: productCode }
            } | cxUrl
          "
          role="link"
          >{{ 'configurator.tabBar.configuration' | cxTranslate }}</a
        >
      </div>
      <div>
        <a
          class="nav-link"
          [class.active]="isOverviewPage() | async"
          [routerLink]="
            {
              cxRoute: 'configureOverview' + configuratorType,
              params: { rootProduct: productCode }
            } | cxUrl
          "
          role="link"
          >{{ 'configurator.tabBar.overview' | cxTranslate }}</a
        >
      </div>
    </div>
  </ng-container>
</ng-container>
