<ng-container *ngIf="productCode$ | async as productCode">
  <ng-container *ngIf="configuratorType$ | async as configuratorType">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="!(isOverviewPage() | async)"
          [routerLink]="
            {
              cxRoute: 'configure' + configuratorType,
              params: { rootProduct: productCode }
            } | cxUrl
          "
          role="link"
          >{{ 'configurator.tabBar.configuration' | cxTranslate }}</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [class.active]="isOverviewPage() | async"
          [routerLink]="
            {
              cxRoute: 'configureOverview' + configuratorType,
              params: { rootProduct: productCode }
            } | cxUrl
          "
          role="link"
          >{{ 'configurator.tabBar.overview' | cxTranslate }}</a
        >
      </li>
    </ul>
  </ng-container>
</ng-container>
