$zoomOutWhileLoading: false !default;
$spinWhileLoading: false !default;
$overlayWhileLoading: false !default;
$zoomThumbOnHover: false !default;

cx-picture {
  @if $zoomOutWhileLoading == true {
    &.initialized.loading {
      --cx-zoom: 0.5;
    }
  }

  @if $spinWhileLoading == true {
    &:after {
      @extend %spinner !optional;
    }
    // the effects run always, but are made visible only when loading or waiting
    // this is done so we can slowly fadein/out the effect
    &.loading:after,
    &.waiting:after {
      --cx-opacity: 1;
    }
  }
}

.thumbs {
  cx-picture {
    @if $zoomThumbOnHover == true {
      &:hover:not(.active) {
        --cx-zoom: 1.3;
      }
    }

    @if $overlayWhileLoading == true {
      &.initialized:before {
        @extend %overlay !optional;
      }
      // the effects run always, but are made visible only when loading or waiting
      // this is done so we can slowly fadein/out the effect
      &.loading:before,
      &.waiting:before {
        --cx-opacity: 1;
      }
    }
  }
}
