@import '~@angular/material/core/theming/all-theme';
@include mat-core();
$primary: mat-palette($mat-blue-grey, 800);
$accent:  mat-palette($mat-light-blue, 600, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);


$theme-dark: mat-dark-theme($primary, $accent, $warn);

.light {
    @include angular-material-theme($theme);
}

.dark {
    @include angular-material-theme($theme-dark);
}