<form
  *ngIf="form$ | async as form"
  [formGroup]="form"
  (ngSubmit)="submit(form)"
>
  <ng-container *ngTemplateOutlet="actions" />

  <cx-amend-order-items
    *ngIf="entries$ | async as entries"
    [entries]="entries"
    [isConfirmation]="true"
  />

  <ng-container *ngTemplateOutlet="actions" />

  <ng-template #actions>
    <cx-amend-order-actions
      *ngIf="orderCode"
      [orderCode]="orderCode"
      [amendOrderForm]="form"
      backRoute="orderReturn"
    />
  </ng-template>
</form>
