<div #dialog [cxFocus]="focusConfig" (esc)="dismissModal('Escape clicked')">
  <!-- Modal Header -->

  <div class="cx-dialog-header modal-header">
    <div class="cx-dialog-title modal-title">
      {{ 'commerceQuotes.requestDialog.title' | cxTranslate }}
    </div>
    <button
      type="button"
      class="close"
      [attr.aria-label]="'common.close' | cxTranslate"
      (click)="dismissModal('Cross click')"
    >
      <span aria-hidden="true">
        <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
      </span>
    </button>
  </div>

  <!-- Modal Body -->
  <ng-container *ngIf="!(requestInProgress$ | async); else inProgress">
    <div class="cx-dialog-body modal-body">
      <form [formGroup]="form">
        <label>
          <span class="label-content">{{
            'commerceQuotes.requestDialog.form.name.label' | cxTranslate
          }}</span>
          <input
            required="true"
            type="text"
            name="name"
            formControlName="name"
            placeholder="{{
              'commerceQuotes.requestDialog.form.name.placeholder' | cxTranslate
            }}"
            class="form-control"
          />
          <cx-form-errors [control]="form.get('name')"></cx-form-errors>
        </label>

        <label>
          <span class="label-content">{{
            'commerceQuotes.requestDialog.form.description.label' | cxTranslate
          }}</span>
          <input
            type="text"
            name="description"
            formControlName="description"
            placeholder="{{
              'commerceQuotes.requestDialog.form.description.placeholder'
                | cxTranslate
            }}"
            class="form-control"
          />
          <cx-form-errors [control]="form.get('description')"></cx-form-errors>
        </label>

        <label>
          <span class="label-content">{{
            'commerceQuotes.requestDialog.form.comment.label' | cxTranslate
          }}</span>
          <textarea
            required="true"
            type="text"
            name="comment"
            formControlName="comment"
            placeholder="{{
              'commerceQuotes.requestDialog.form.comment.placeholder'
                | cxTranslate
            }}"
            class="form-control"
          ></textarea>
          <cx-form-errors [control]="form.get('comment')"></cx-form-errors>
        </label>

        <div class="notes">
          <p>{{ 'commerceQuotes.requestDialog.form.note' | cxTranslate }}</p>
          <p>
            {{
              'commerceQuotes.requestDialog.form.requestSubmitNote'
                | cxTranslate
            }}
          </p>
        </div>

        <div class="cx-request-dialog-actions">
          <button
            class="btn btn-block btn-action"
            (click)="onSubmit(true)"
            [disabled]="form.disabled"
          >
            {{
              'commerceQuotes.requestDialog.form.continueToEdit' | cxTranslate
            }}
          </button>

          <button
            class="btn btn-block btn-primary"
            (click)="onSubmit()"
            [disabled]="form.disabled"
          >
            {{ 'commerceQuotes.requestDialog.form.request' | cxTranslate }}
          </button>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-template #inProgress>
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </ng-template>
</div>
