<div #dialog [cxFocus]="focusConfig" (esc)="dismissModal('Escape clicked')">
  <!-- Modal Header -->

  <div class="cx-dialog-header modal-header">
    <div class="cx-dialog-title modal-title">
      {{ 'requestDialog.requestQuoteModalTitle' | cxTranslate }}
    </div>
    <button
      type="button"
      class="close"
      [attr.aria-label]="'common.close' | cxTranslate"
      (click)="dismissModal('Cross click')"
    >
      <span aria-hidden="true">
        <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
      </span>
    </button>
  </div>

  <!-- Modal Body -->
  <div class="cx-dialog-body modal-body">
    <form [formGroup]="form">
      <label>
        <span class="label-content">{{
          'requestDialog.requestDialogForm.name.label' | cxTranslate
        }}</span>
        <input
          required="true"
          type="text"
          name="name"
          formControlName="name"
          placeholder="{{
            'requestDialog.requestDialogForm.name.placeholder' | cxTranslate
          }}"
          class="form-control"
        />
        <cx-form-errors [control]="form.get('name')"></cx-form-errors>
      </label>

      <label>
        <span class="label-content">{{
          'requestDialog.requestDialogForm.description.label' | cxTranslate
        }}</span>
        <input
          type="text"
          name="description"
          formControlName="description"
          placeholder="{{
            'requestDialog.requestDialogForm.description.placeholder'
              | cxTranslate
          }}"
          class="form-control"
        />
        <cx-form-errors [control]="form.get('description')"></cx-form-errors>
      </label>

      <label>
        <span class="label-content">{{
          'requestDialog.requestDialogForm.comment.label' | cxTranslate
        }}</span>
        <textarea
          required="true"
          type="text"
          name="comment"
          formControlName="comment"
          placeholder="{{
            'requestDialog.requestDialogForm.comment.placeholder' | cxTranslate
          }}"
          class="form-control"
        ></textarea>
        <cx-form-errors [control]="form.get('comment')"></cx-form-errors>
      </label>

      <div class="notes">
        <p>{{ 'requestDialog.requestDialogForm.note' | cxTranslate }}</p>
        <p>
          {{
            'requestDialog.requestDialogForm.requestSubmitNote' | cxTranslate
          }}
        </p>
      </div>

      <div class="cx-request-dialog-actions">
        <button
          class="btn btn-block btn-action"
          (click)="onSubmit(true)"
          [disabled]="form.disabled"
        >
          {{ 'requestDialog.requestDialogForm.continueToEdit' | cxTranslate }}
        </button>

        <button
          class="btn btn-block btn-primary"
          (click)="onSubmit()"
          [disabled]="form.disabled"
        >
          {{ 'requestDialog.requestDialogForm.request' | cxTranslate }}
        </button>
      </div>
    </form>
  </div>
</div>
