<div
  class="cx-epd-visualization-animation-slider"
  [class.disabled]="disabled ? true : undefined"
>
  <div class="cx-epd-visualization-animation-slider-wrapper">
    <span
      cxVisualViewerAnimationSliderElement
      #bar
      class="
        cx-epd-visualization-animation-slider-span
        cx-epd-visualization-animation-slider-bar-wrapper
      "
    >
      <span
        class="
          cx-epd-visualization-animation-slider-span
          cx-epd-visualization-animation-slider-bar
        "
      ></span>
    </span>

    <span
      cxVisualViewerAnimationSliderHandle
      #handle
      class="
        cx-epd-visualization-animation-slider-span
        cx-epd-visualization-animation-slider-pointer
      "
      [style.left]="(position | cxNumeric: '1.0-0') + 'px'"
      [attr.role]="
        'epdVisualization.visualViewer.toolbar.visualViewerAnimationSlider.role'
          | cxTranslate
      "
      [attr.aria-label]="
        'epdVisualization.visualViewer.toolbar.visualViewerAnimationSlider.label'
          | cxTranslate
      "
      [attr.aria-valuenow]="value * 100 | cxNumeric: '1.0-0'"
      [attr.aria-valuemin]="'0'"
      [attr.aria-valuemax]="'100'"
      [attr.tabindex]="disabled ? null : 0"
    ></span>
  </div>
</div>
