<div class="customer-description">
  <div class="customer-description-section">
    <h3>William is</h3>
    <div class="customer-description-chips">
      <div class="customer-description-chip">busy</div>
      <div class="customer-description-chip">on-the-go</div>
      <div class="customer-description-chip">early-adopting</div>
      <div class="customer-description-chip">trend</div>
      <div class="customer-description-chip">frequent buyer</div>
      <div class="customer-description-chip">tech savvy</div>
      <div class="customer-description-chip">photographer</div>
    </div>
  </div>
  <div class="customer-description-section">
    <h3>William uses</h3>
  </div>
</div>
<!-- active cart -->
<div
  class="cx-asm-overview-section mt-3 pt-3"
  *ngIf="activeCart$ | async as activeCart; else emptyActiveCart"
>
  <div class="section-header">
    <div class="header-title">
      {{ 'asm.customerOverview.activeCart' | cxTranslate }}
      <a
        tabindex="0"
        [attr.aria-label]="
          'asm.customerOverview.activeCartCode'
            | cxTranslate: { code: activeCart.code }
        "
        role="link"
        class="cx-overview-title-link"
        (click)="onSelectCart()"
      >
        {{ activeCart.code }}
      </a>
    </div>
    <div class="result-wrapper">
      <div class="cart-total-no-items">
        {{
          'asm.customerOverview.totalNoItems'
            | cxTranslate: { count: activeCart.totalItems }
        }}
      </div>
      <div class="cart-divider"></div>
      <div class="cart-total-price">
        {{
          'asm.customerOverview.totalPrice'
            | cxTranslate: { price: activeCart.totalPrice.formattedValue }
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col cx-asm-overview-items cx-asm-overview-order-items"
      [class.show-more]="showMoreActiveCart"
      [ngClass]="'column-' + numberofColumns"
    >
      <ng-container *ngFor="let entry of activeCart.entries; let i = index">
        <cx-asm-product-item
          *ngIf="i < numberofColumns || showMoreActiveCart"
          [product]="entry.product"
          [price]="entry.basePrice"
          [quantity]="entry.quantity"
          (selectProduct)="onSelectProduct($event)"
        ></cx-asm-product-item>
      </ng-container>
    </div>
  </div>
  <ng-template
    *ngTemplateOutlet="
      showMoreButton;
      context: {
        itemLength: activeCart.entries.length,
        columnNum: numberofColumns,
        showMore: showMoreActiveCart,
        sectionIndex: 0
      }
    "
  ></ng-template>
</div>
<!-- saved cart -->
<div
  class="cx-asm-overview-section mt-5"
  *ngIf="savedCart$ | async as savedCart; else emptySavedCart"
>
  <div class="section-header">
    <div class="header-title">
      {{ 'asm.customerOverview.savedCart' | cxTranslate }}
      <a
        tabindex="0"
        [attr.aria-label]="
          'asm.customerOverview.savedCartCode'
            | cxTranslate: { code: savedCart.code }
        "
        role="link"
        class="cx-overview-title-link"
        (click)="onSelectCart()"
      >
        {{ savedCart.code }}
      </a>
    </div>
    <div class="result-wrapper">
      <div class="cart-total-no-items">
        {{
          'asm.customerOverview.totalNoItems'
            | cxTranslate: { count: savedCart.totalItems }
        }}
      </div>
      <div class="cart-divider"></div>
      <div class="cart-total-price">
        {{
          'asm.customerOverview.totalPrice'
            | cxTranslate: { price: savedCart.totalPrice.formattedValue }
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col cx-asm-overview-items cx-asm-overview-order-items"
      [class.show-more]="showMoreSaveCart"
      [ngClass]="'column-' + numberofColumns"
    >
      <ng-container *ngFor="let entry of savedCart.entries; let i = index">
        <cx-asm-product-item
          *ngIf="i < numberofColumns || showMoreSaveCart"
          [product]="entry.product"
          [price]="entry.basePrice"
          [quantity]="entry.quantity"
          (selectProduct)="onSelectProduct($event)"
        ></cx-asm-product-item>
      </ng-container>
    </div>
  </div>
  <ng-template
    *ngTemplateOutlet="
      showMoreButton;
      context: {
        itemLength: savedCart.entries.length,
        columnNum: numberofColumns,
        showMore: showMoreSaveCart,
        sectionIndex: 1
      }
    "
  ></ng-template>
</div>

<!-- Interest -->
<div
  class="cx-asm-overview-section mt-5"
  *ngIf="interests$ | async as interests; else emptyInterests"
>
  <div class="section-header">
    <div class="header-title">
      <a
        tabindex="0"
        [attr.aria-label]="'asm.customerOverview.interests' | cxTranslate"
        role="link"
        class="cx-overview-title-link"
        (click)="goToMyInterests()"
      >
        {{ 'asm.customerOverview.interests' | cxTranslate }}
      </a>
    </div>
  </div>
  <div class="row">
    <div
      class="col cx-asm-overview-items cx-asm-overview-interests-items"
      [class.show-more]="showMoreInterests"
    >
      <ng-container *ngFor="let product of interests.products; let i = index">
        <cx-asm-product-item
          *ngIf="i < numberofColumns * 2 || showMoreInterests"
          [product]="product"
          [isOrderEntry]="false"
          (selectProduct)="onSelectProduct($event)"
        ></cx-asm-product-item>
      </ng-container>
    </div>
  </div>
  <ng-template
    *ngTemplateOutlet="
      showMoreButton;
      context: {
        itemLength: interests.products.length,
        columnNum: numberofColumns * 2,
        showMore: showMoreInterests,
        sectionIndex: 2
      }
    "
  ></ng-template>
</div>

<ng-template #emptySavedCart>
  <ng-template
    *ngTemplateOutlet="
      emptyResult;
      context: {
        title: 'asm.customerOverview.savedCart' | cxTranslate,
        description: 'asm.customerOverview.noSavedCart' | cxTranslate
      }
    "
  ></ng-template>
</ng-template>

<ng-template #emptyActiveCart>
  <ng-template
    *ngTemplateOutlet="
      emptyResult;
      context: {
        title: 'asm.customerOverview.activeCart' | cxTranslate,
        description: 'asm.customerOverview.noActiveCart' | cxTranslate
      }
    "
  ></ng-template>
</ng-template>

<ng-template #emptyInterests>
  <ng-template
    *ngTemplateOutlet="
      emptyResult;
      context: {
        title: 'asm.customerOverview.interests' | cxTranslate,
        description: 'asm.customerOverview.noInterests' | cxTranslate
      }
    "
  ></ng-template>
</ng-template>

<ng-template #emptyResult let-title="title" let-description="description">
  <div class="cx-asm-overview-empty mb-4">
    <div class="cx-asm-overview-empty-title mt-4 mb-2">
      {{ title }}
    </div>
    <div class="cx-asm-overview-empty-desc">
      {{ description }}
    </div>
  </div>
</ng-template>

<ng-template
  #showMoreButton
  let-itemLength="itemLength"
  let-columnNum="columnNum"
  let-showMore="showMore"
  let-sectionIndex="sectionIndex"
>
  <div class="row" *ngIf="itemLength > columnNum">
    <div class="show-hide-container mt-4">
      <button
        class="link cx-action-link show-hide-btn"
        (click)="showMoreBySectionIndex(sectionIndex)"
      >
        <span *ngIf="!showMore">{{
          'asm.customerOverview.showMore' | cxTranslate
        }}</span>
        <span *ngIf="showMore">{{
          'asm.customerOverview.showLess' | cxTranslate
        }}</span>
      </button>
    </div>
  </div>
</ng-template>
