// VALUES USED AS EXAMPLES

:host {
  --cx-theme-primary: red;
  --cx-theme-secondary: blue; //colors
  --cx-theme-border-radius: 2em;
  --cx-theme-transition-duration: 1s;
  --cx-theme-animation-duration: 1s;
  --cx-theme-gutter-width: 10px;
  --cx-theme-font-weight-normal: 400; //bold, light
  --cx-theme-spinner-size: 20px;

  /**
  Side note: In the styles library theme, there are multiple variables that aren't !default and 
  therefore can't be easily overridden in their use within the styles lib. If the objective is also to override them we could add the following:
  **/

  --cx-theme-font-size-base: 1rem;
  --cx-theme-h1-font-size: 2 * var(--cx-theme-font-size-base); // (h2,h3,h4...)
  --cx-line-height-base: 1.33;
  --cx-heading-line-height: 1.25;

  // Similarly :

  --cx-theme-input-heigh: 48px;
  // i.e. $input-height: var (--cx-theme-input-heigh, 48px);
  // Component variables
}

.component {
  --cx-margin: 20px;
  --cx-padding: 20px;
  --cx-height: 20px;
  --cx-width: 20px;
  --cx-min-height: 20px;
  --cx-min-width: 20px;
  --cx-border-width: 1px;
  --cx-border-style: solid;
  --cx-border-color: magenta;
  --cx-grid-row: 1/ 2;
  --cx-grid-column: 1/ 2;
  --cx-grid-template-columns: auto;
  --cx-grid-template-rows: auto;
  --cx-justify-self: middle;
  --cx-align-self: middle;
  --cx-place-self: middle;
  --cx-justify-items: middle;
  --cx-align-items: middle;
  --cx-text-align: center;
  --cx-color: green;
  --cx-background-color: pink;
  --cx-grid-column-gap: 20px;
  --cx-grid-row-gap: 20px;
  --cx-flex-direction: column;
  --cx-justify-content: center;
  --cx-align-items: start;
  --cx-align-content: end;
  --cx-zoom: 1;
  --cx-opacity: 90%;
  --cx-position: fixed;
  --cx-display: grid;
}
