<h2
  class="cx-checkout-title d-none d-lg-block d-xl-block"
  [attr.aria-label]="'serviceOrderCheckout.heading' | cxTranslate"
>
  {{ 'serviceOrderCheckout.heading' | cxTranslate }}
</h2>

<ng-container *ngIf="serviceProducts$ | async as products">
  <ng-container *ngIf="products.length === 0; else showScheduler">
    <span
      [attr.aria-label]="'serviceOrderCheckout.clickContinue' | cxTranslate"
    >
      {{ 'serviceOrderCheckout.clickContinue' | cxTranslate }}
    </span>
  </ng-container>
</ng-container>

<div class="row cx-checkout-btns">
  <div class="col-md-12 col-lg-6">
    <button
      class="btn btn-block btn-secondary"
      [attr.aria-label]="backBtnText | cxTranslate"
      (click)="back()"
    >
      {{ backBtnText | cxTranslate }}
    </button>
  </div>
  <div class="col-md-12 col-lg-6">
    <button
      class="btn btn-block btn-primary"
      [attr.aria-label]="'common.continue' | cxTranslate"
      [disabled]="isSetServiceDetailsHttpError$ | async"
      (click)="next()"
    >
      {{ 'common.continue' | cxTranslate }}
    </button>
  </div>
</div>

<ng-template #showScheduler>
  <form [formGroup]="this.form">
    <label
      class="row"
      [attr.aria-label]="'serviceOrderCheckout.datePickerLabel' | cxTranslate"
    >
      <div class="pl-4 col-8">
        {{ 'serviceOrderCheckout.datePickerLabel' | cxTranslate }}
      </div>
      <div class="col-4">
        <cx-date-picker
          [control]="$any(form.get('scheduleDate'))"
          [min]="(minServiceDate$ | async) ?? undefined"
          label="serviceOrderCheckout.datePickerLabel"
        >
        </cx-date-picker>
      </div>
    </label>

    <label
      class="row"
      [attr.aria-label]="'serviceOrderCheckout.timePickerLabel' | cxTranslate"
    >
      <div class="pl-4 col-8">
        {{ 'serviceOrderCheckout.timePickerLabel' | cxTranslate }}
      </div>
      <div class="col-4">
        <select
          *ngIf="scheduleTimes$ | async as scheduleTimes"
          class="form-control"
          formControlName="scheduleTime"
          (change)="setScheduleTime($event)"
        >
          <option
            *ngFor="let time of scheduleTimes"
            [value]="time"
            [selected]="form.get('scheduleTime')?.value === time"
          >
            {{ time }}
          </option>
        </select>
      </div>
    </label>
  </form>
</ng-template>
