<cx-org-card *ngIf="model$ | async as model" i18nRoot="costCenter.details">
  <a
    actions
    class="link edit"
    [class.disabled]="!model.active"
    [routerLink]="{ cxRoute: 'costCenterEdit', params: model } | cxUrl"
  >
    {{ 'organization.edit' | cxTranslate }}
  </a>

  <cx-org-toggle-status actions i18nRoot="costCenter"></cx-org-toggle-status>

  <section main class="details" cxOrgItemExists>
    <div class="property">
      <label>{{ 'costCenter.name' | cxTranslate }}</label>
      <span class="value">
        {{ model.name }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'costCenter.code' | cxTranslate }}</label>
      <span class="value">
        {{ model.code }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'costCenter.active' | cxTranslate }}</label>
      <span
        class="value"
        [class.is-active]="model.active"
        [class.is-inactive]="!model.active"
      >
        {{
          (model.active ? 'organization.enabled' : 'organization.disabled')
            | cxTranslate
        }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'costCenter.currency' | cxTranslate }}</label>

      <span class="value">
        {{ model.currency?.isocode }}
      </span>
    </div>

    <div class="property">
      <label>{{ 'costCenter.unit' | cxTranslate }}</label>
      <a
        class="value"
        [routerLink]="
          {
            cxRoute: 'unitDetails',
            params: model.unit
          } | cxUrl
        "
      >
        {{ model.unit?.name }}
      </a>
    </div>
  </section>

  <section main class="link-list">
    <a
      *ngIf="model.code"
      class="link"
      [routerLink]="{ cxRoute: 'costCenterBudgets', params: model } | cxUrl"
      routerLinkActive="is-current"
    >
      {{ 'costCenter.budget.link' | cxTranslate }}
    </a>
  </section>
</cx-org-card>
