@if (product$ | async; as product) {
  <div class="variant-generic-selector">
    @for (category of categories; track category) {
      <label>
        <span>
          {{ getCategoryName(category) }}
        </span>

        @if (category.hasImages) {
          <div
            role="list"
            [attr.aria-label]="category.name"
            class="image-variant-container"
          >
            @for (option of category.variantOptions; track option) {
              <div role="listitem">
                <button
                  type="button"
                  class="image-variant"
                  [ngClass]="{ active: option?.code === product.code }"
                  [attr.aria-label]="onAriaLabel(option, category.name) | async"
                  (click)="changeVariant(option.code)"
                  [cxFocus]="{ key: option.code }"
                >
                  <cx-media [container]="option.image" role="img" />
                </button>
              </div>
            }
          </div>
        } @else {
          <div class="select-variant-container">
            <ng-select
              [clearable]="false"
              [searchable]="false"
              [items]="category.variantOptions"
              [(ngModel)]="selectedProductCode"
              (change)="changeVariant($event.code)"
              ariaLabelDropdown="{{
                'common.ngSelectDropdownOptionsList' | cxTranslate
              }}"
              [cxNgSelectA11y]="{
                ariaLabel:
                  ('multiDimensionalSelector.variantThumbnailTitle'
                  | cxTranslate
                    : {
                        category: category.name,
                      }),
              }"
              bindValue="code"
              bindLabel="value"
            />
          </div>
        }
      </label>
    }
  </div>
}
