<table *ngIf="structure">
  <ng-container *ngIf="verticalStackedLayout">
    <ng-container *ngFor="let item of data; trackBy: trackData">
      <tbody
        *cxFeature="'!a11yTableKeyboardNavigation'"
        (click)="launchItem(item)"
        [class.is-current]="isCurrentItem(item)"
      >
        <tr *ngFor="let cell of structure.cells" [class]="cell">
          <th>
            <ng-template
              [cxOutlet]="getHeaderOutletRef(cell)"
              [cxOutletContext]="getHeaderOutletContext(cell)"
            >
              {{ cell }}
            </ng-template>
          </th>
          <td>
            <ng-template
              [cxOutlet]="getDataOutletRef(cell)"
              [cxOutletContext]="getDataOutletContext(cell, item)"
            >
              {{ $any(item)[cell] }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <ng-container
      *ngFor="let item of data; let rowIndex = index; trackBy: trackData"
    >
      <tbody
        *cxFeature="'a11yTableKeyboardNavigation'"
        #tableRow
        [class.is-current]="isCurrentItem(item)"
        [attr.aria-current]="isCurrentItem(item) ? true : null"
        tabindex="0"
        (click)="launchItem(item)"
        (keydown)="onRowKeydown($event, rowIndex, item)"
      >
        <tr *ngFor="let cell of structure.cells" [class]="cell">
          <th>
            <ng-template
              [cxOutlet]="getHeaderOutletRef(cell)"
              [cxOutletContext]="getHeaderOutletContext(cell)"
            >
              {{ cell }}
            </ng-template>
          </th>
          <td>
            <ng-template
              [cxOutlet]="getDataOutletRef(cell)"
              [cxOutletContext]="getDataOutletContext(cell, item)"
            >
              {{ $any(item)[cell] }}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </ng-container>

  <!-- vertical tables render the item  -->
  <ng-container *ngIf="verticalLayout">
    <thead>
      <tr>
        <th scope="col" *ngFor="let cell of structure.cells" [class]="cell">
          <ng-template
            [cxOutlet]="getHeaderOutletRef(cell)"
            [cxOutletContext]="getHeaderOutletContext(cell)"
          >
            {{ cell }}
          </ng-template>
        </th>
      </tr>
    </thead>

    <ng-container *ngFor="let item of data; trackBy: trackData">
      <tr
        *cxFeature="'!a11yTableKeyboardNavigation'"
        [class.is-current]="isCurrentItem(item)"
        (click)="launchItem(item)"
      >
        <td *ngFor="let cell of structure.cells; let i = index" [class]="cell">
          <ng-template
            [cxOutlet]="getDataOutletRef(cell)"
            [cxOutletContext]="getDataOutletContext(cell, item)"
          >
            {{ $any(item)[cell] }}
          </ng-template>
        </td>
      </tr>
    </ng-container>
    <ng-container
      *ngFor="let item of data; let rowIndex = index; trackBy: trackData"
    >
      <tr
        *cxFeature="'a11yTableKeyboardNavigation'"
        #tableRow
        [class.is-current]="isCurrentItem(item)"
        [attr.aria-current]="isCurrentItem(item) ? true : null"
        tabindex="0"
        (click)="launchItem(item)"
        (keydown)="onRowKeydown($event, rowIndex, item)"
      >
        <td *ngFor="let cell of structure.cells; let i = index" [class]="cell">
          <ng-template
            [cxOutlet]="getDataOutletRef(cell)"
            [cxOutletContext]="getDataOutletContext(cell, item)"
          >
            {{ $any(item)[cell] }}
          </ng-template>
        </td>
      </tr>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="horizontalLayout">
    <tr *ngFor="let cell of structure.cells" [class]="cell">
      <th scope="col">
        <ng-template
          [cxOutlet]="getHeaderOutletRef(cell)"
          [cxOutletContext]="getHeaderOutletContext(cell)"
        >
          {{ cell }}
        </ng-template>
      </th>
      <ng-container *ngFor="let item of data; trackBy: trackData">
        <td
          *cxFeature="'!a11yTableKeyboardNavigation'"
          [class.is-current]="isCurrentItem(item)"
          (click)="launchItem(item)"
        >
          <ng-template
            [cxOutlet]="getDataOutletRef(cell)"
            [cxOutletContext]="getDataOutletContext(cell, item)"
          >
            {{ $any(item)[cell] }}
          </ng-template>
        </td>
      </ng-container>
      <ng-container
        *ngFor="let item of data; let rowIndex = index; trackBy: trackData"
      >
        <td
          *cxFeature="'a11yTableKeyboardNavigation'"
          #tableRow
          [class.is-current]="isCurrentItem(item)"
          [attr.aria-current]="isCurrentItem(item) ? true : null"
          tabindex="0"
          (click)="launchItem(item)"
          (keydown)="onRowKeydown($event, rowIndex, item)"
        >
          <ng-template
            [cxOutlet]="getDataOutletRef(cell)"
            [cxOutletContext]="getDataOutletContext(cell, item)"
          >
            {{ $any(item)[cell] }}
          </ng-template>
        </td>
      </ng-container>
    </tr>
  </ng-container>
</table>
