<ng-container *ngIf="order$ | async as order">
  <!-- in progress -->
  <cx-order-consigned-entries
    [order]="order"
    [consignments]="order.consignments"
  ></cx-order-consigned-entries>

  <!-- shipped / done -->
  <cx-order-consigned-entries
    [order]="order"
    [consignments]="order.consignments"
  ></cx-order-consigned-entries>

  <!-- cancelled -->
  <cx-order-consigned-entries
    [order]="order"
    [consignments]="order.consignments"
  ></cx-order-consigned-entries>

  <div *ngIf="order.unconsignedEntries?.length" class="cx-list row">
    <div class="cx-list-header col-12">
      <div class="cx-list-status">
        {{ 'orderDetails.pending' | cxTranslate }}
      </div>
    </div>
    <div class="cx-list-item col-12">
      <cx-cart-item-list
        [items]="order?.unconsignedEntries"
        [isReadOnly]="true"
      ></cx-cart-item-list>
    </div>
  </div>
</ng-container>
