<ng-container *ngIf="order$ | async as order">
  <!-- consigned entries -->
  <ng-container *ngIf="orderPromotions$ | async as orderPromotions">
    <cx-promotions [promotions]="orderPromotions"></cx-promotions>
  </ng-container>

  <cx-order-consigned-entries
    *ngIf="others$ | async as others"
    [order]="order"
    [consignments]="others"
  ></cx-order-consigned-entries>

  <cx-order-consigned-entries
    *ngIf="completed$ | async as completed"
    [order]="order"
    [consignments]="completed"
  ></cx-order-consigned-entries>

  <cx-order-consigned-entries
    *ngIf="cancel$ | async as cancel"
    [order]="order"
    [consignments]="cancel"
  ></cx-order-consigned-entries>
</ng-container>
