<cx-view #view>
  <ng-container *ngIf="userGroup$ | async as userGroup">
    <h3>
      <a
        class="link"
        [routerLink]="{ cxRoute: 'userGroup' } | cxUrl"
        (click)="view.toggle()"
      >
        <cx-icon type="CARET_LEFT"></cx-icon>
        {{ 'organization.close' | cxTranslate }}
      </a>
      <span>{{ userGroup.name }}</span>
    </h3>
    <div class="actions">
      <a
        class="link"
        [routerLink]="{ cxRoute: 'userGroupEdit', params: userGroup } | cxUrl"
      >
        {{ 'organization.edit' | cxTranslate }}
      </a>
    </div>
    <section>
      <div class="details">
        <div class="property">
          <label>{{ 'userGroup.name' | cxTranslate }}</label>
          <span class="value">
            {{ userGroup.name }}
          </span>
        </div>

        <div class="property">
          <label>{{ 'userGroup.uid' | cxTranslate }}</label>
          <span class="value">
            {{ userGroup.uid }}
          </span>
        </div>

        <div class="property">
          <label>{{ 'userGroup.orgUnit' | cxTranslate }}</label>
          <a
            class="value"
            [routerLink]="
              {
                cxRoute: 'unitDetails',
                params: userGroup.orgUnit
              } | cxUrl
            "
          >
            {{ userGroup.orgUnit?.name }}
            <cx-icon class="open-out" type="LINK_OUT"></cx-icon>
          </a>
        </div>
      </div>
    </section>

    <section>
      <div class="child-link" routerLinkActive="active">
        <h4>
          <a
            class="link"
            [routerLink]="
              { cxRoute: 'userGroupUsers', params: userGroup } | cxUrl
            "
          >
            {{ 'userGroup.user.link' | cxTranslate }}
            <cx-icon type="CARET_RIGHT"></cx-icon>
          </a>
        </h4>
      </div>
      <div class="child-link" routerLinkActive="active">
        <h4>
          <a
            class="link"
            [routerLink]="
              { cxRoute: 'userGroupPermissions', params: userGroup } | cxUrl
            "
          >
            {{ 'userGroup.permission.link' | cxTranslate }}
            <cx-icon type="CARET_RIGHT"></cx-icon>
          </a>
        </h4>
      </div>
    </section>
  </ng-container>
</cx-view>

<router-outlet></router-outlet>
