<ng-container *ngIf="configuration$ | async as configuration">
  <ng-container *ngIf="routerData$ | async as routerData">
    <ng-container *ngIf="!routerData.displayOnly">
      <div class="cx-config-add-to-cart-btn">
        <button
          class="cx-btn btn btn-block btn-primary"
          (click)="onAddToCart(configuration, routerData)"
        >
         {{ getButtonResourceKey(routerData, configuration) | cxTranslate }}
        </button>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
