@if (!isFlagQuote) {
  <td class="cx-center">
    @if (
      quoteDiscountData &&
      quoteDiscountData.basePrice?.value !== undefined &&
      quoteDiscountData.cpqDiscounts &&
      quoteDiscountData.cpqDiscounts.length > 0
    ) {
      @for (discount of quoteDiscountData.cpqDiscounts; track discount) {
        <span role="cell" class="cx-total cx-discount">
          {{ discount.isoCode
          }}{{
            getDiscountedPrice(
              quoteDiscountData.basePrice?.value ?? 0,
              discount.appliedValue,
              quoteDiscountData.quantity
            ) | number: '1.2-2' : 'en-US'
          }}
        </span>
      }
    }
    <!-- Iterate over quoteDiscountData.basePrice -->
    <span
      class="cx-formatted-value"
      [ngClass]="{
        'strike-through':
          quoteDiscountData &&
          quoteDiscountData.cpqDiscounts &&
          quoteDiscountData.cpqDiscounts.length > 0,
      }"
    >
      {{ quoteDiscountData?.basePrice?.formattedValue }}
    </span>
  </td>
}
