<cx-org-form i18nRoot="orgPurchaseLimit">
  <ng-container *ngIf="form" [formGroup]="form" main>
    <cx-form-required-legend />
    <label>
      <span class="label-content required">
        {{ 'orgPurchaseLimit.code' | cxTranslate }}
        <cx-form-required-asterisks />
      </span>
      <input
        class="form-control"
        type="text"
        required
        placeholder="{{ 'orgPurchaseLimit.code' | cxTranslate }}"
        formControlName="code"
        [attr.aria-invalid]="
          form.get('code')?.touched && form.get('code')?.invalid
        "
        [attr.aria-errormessage]="'codeError'"
      />

      <cx-form-errors
        id="codeError"
        [translationParams]="{ label: 'orgPurchaseLimit.code' | cxTranslate }"
        [control]="form.get('code')"
      ></cx-form-errors>
    </label>

    <label
      *ngIf="(types$ | async)?.length"
      [formGroup]="$any(form.get('orderApprovalPermissionType'))"
    >
      <span class="label-content required">
        {{ 'orgPurchaseLimit.orderApprovalPermissionType' | cxTranslate }}
        <cx-form-required-asterisks />
      </span>
      <ng-select
        [inputAttrs]="{ required: 'true' }"
        formControlName="code"
        [searchable]="false"
        [clearable]="false"
        [items]="(types$ | async) ?? []"
        bindLabel="name"
        bindValue="code"
        [readonly]="form.disabled"
        appendTo="cx-org-list"
        [placeholder]="
          'orgPurchaseLimit.orderApprovalPermissionType' | cxTranslate
        "
        ariaLabelDropdown="{{
          'common.ngSelectDropdownOptionsList' | cxTranslate
        }}"
      >
      </ng-select>

      <cx-form-errors
        [translationParams]="{
          label: 'orgPurchaseLimit.orderApprovalPermissionType' | cxTranslate,
        }"
        [control]="form.get('orderApprovalPermissionType.code')"
      ></cx-form-errors>
    </label>

    <label *ngIf="form.get('periodRange')">
      <span class="label-content required">
        {{ 'orgPurchaseLimit.periodRange' | cxTranslate }}
        <cx-form-required-asterisks />
      </span>
      <ng-select
        [inputAttrs]="{ required: 'true' }"
        formControlName="periodRange"
        [searchable]="false"
        [clearable]="false"
        [items]="periods"
        appendTo="cx-org-list"
        [placeholder]="'orgPurchaseLimit.periodRange' | cxTranslate"
        ariaLabelDropdown="{{
          'common.ngSelectDropdownOptionsList' | cxTranslate
        }}"
      >
      </ng-select>

      <cx-form-errors
        [translationParams]="{
          label: 'orgPurchaseLimit.periodRange' | cxTranslate,
        }"
        [control]="form.get('periodRange')"
      ></cx-form-errors>
    </label>

    <label
      *ngIf="form.get('currency')"
      [formGroup]="$any(form.get('currency'))"
    >
      <span class="label-content required">
        {{ 'orgPurchaseLimit.currency' | cxTranslate }}
        <cx-form-required-asterisks />
      </span>
      <ng-select
        *ngIf="currencies$ | async as currencies"
        [inputAttrs]="{ required: 'true' }"
        formControlName="isocode"
        [searchable]="false"
        [clearable]="false"
        [items]="currencies"
        bindLabel="name"
        bindValue="isocode"
        [placeholder]="'orgPurchaseLimit.currency' | cxTranslate"
        ariaLabelDropdown="{{
          'common.ngSelectDropdownOptionsList' | cxTranslate
        }}"
      >
      </ng-select>

      <cx-form-errors
        [translationParams]="{
          label: 'orgPurchaseLimit.currency' | cxTranslate,
        }"
        [control]="form.get('currency.isocode')"
      ></cx-form-errors>
    </label>

    <label *ngIf="form.get('threshold')">
      <span class="label-content required">
        {{ 'orgPurchaseLimit.threshold' | cxTranslate }}
        <cx-form-required-asterisks />
      </span>
      <input
        class="form-control"
        type="number"
        required
        placeholder="{{ 'orgPurchaseLimit.threshold' | cxTranslate }}"
        formControlName="threshold"
        [attr.aria-invalid]="
          form.get('threshold')?.touched && form.get('threshold')?.invalid
        "
        [attr.aria-errormessage]="'thresholdError'"
      />

      <cx-form-errors
        id="thresholdError"
        [translationParams]="{
          label: 'orgPurchaseLimit.threshold' | cxTranslate,
        }"
        [control]="form.get('threshold')"
      ></cx-form-errors>
    </label>

    <label [formGroup]="$any(form.get('orgUnit'))">
      <span class="label-content required">
        {{ 'orgPurchaseLimit.orgUnit' | cxTranslate }}
        <cx-form-required-asterisks />
      </span>
      <ng-select
        [inputAttrs]="{ required: 'true' }"
        formControlName="uid"
        [searchable]="true"
        [clearable]="false"
        [items]="(units$ | async) ?? []"
        bindLabel="name"
        bindValue="id"
        [readonly]="form.get('orgUnit')?.disabled ?? false"
        appendTo="cx-org-list"
        [placeholder]="'orgPurchaseLimit.orgUnit' | cxTranslate"
        ariaLabelDropdown="{{
          'common.ngSelectDropdownOptionsList' | cxTranslate
        }}"
      >
      </ng-select>

      <cx-form-errors
        [translationParams]="{
          label: 'orgPurchaseLimit.orgUnit' | cxTranslate,
        }"
        [control]="form.get('orgUnit.uid')"
      ></cx-form-errors>
    </label>
  </ng-container>
</cx-org-form>
