<div class="cx-opf-gift-card-list" *ngIf="giftCards.length > 0">
  <div class="cx-opf-gift-card-item" *ngFor="let card of giftCards">
    <div class="cx-opf-gift-card-content">
      <div class="cx-opf-gift-card-header">
        <p class="cx-opf-gift-card-number">{{ card.maskedNumber }}</p>
        <button
          type="button"
          class="btn btn-tertiary cx-opf-gift-card-remove-btn"
          [attr.aria-label]="'giftCard.remove' | cxTranslate"
          (click)="removeGiftCard(card.id)"
        >
          {{ 'giftCard.remove' | cxTranslate }}
        </button>
      </div>

      <div class="cx-opf-gift-card-balance">
        <p class="cx-opf-gift-card-balance-info">
          {{ 'giftCard.currentBalance' | cxTranslate }}:
          {{ card.balance?.formattedValue || card.balance?.value }}.
          {{ 'giftCard.balanceAfterPurchase' | cxTranslate }}:
          {{
            card.remainingBalance?.formattedValue ||
              card.remainingBalance?.value
          }}
        </p>
      </div>
    </div>
  </div>
</div>
