<ng-container *cxLcpContext="let lcpContext">
  @if (data$ | async; as data) {
    @if (routerLink) {
      <cx-generic-link
        [url]="routerLink"
        [target]="getTarget(data)"
        [ariaLabel]="getLinkAriaLabel(data)"
        [attr.title]="!data.headline ? getImageAltText(data) : null"
      >
      </cx-generic-link>
      @if (data.headline) {
        <p class="headline" [innerHTML]="data.headline"></p>
      }
      <cx-media
        [container]="getImage(data)"
        [elementType]="'picture'"
        [fetchPriority]="lcpContext.fetchPriority$ | async"
      ></cx-media>
      @if (data.content) {
        <p class="content" [innerHTML]="data.content"></p>
      }
    }

    @if (!routerLink) {
      <div class="no-link">
        @if (data.headline) {
          <p class="headline" [innerHTML]="data.headline"></p>
        }
        <cx-media
          [container]="getImage(data)"
          [elementType]="'picture'"
          [fetchPriority]="lcpContext.fetchPriority$ | async"
        ></cx-media>
        @if (data.content) {
          <p class="content" [innerHTML]="data.content"></p>
        }
      </div>
    }
  }
</ng-container>
