%cx-opf-b2b-checkout-review {
  @extend %cx-opf-checkout-payment-and-review;

  cx-opf-checkout-payments {
    .cx-payment-options-list {
      .form-check {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        border-top: none;
      }
    }
  }
}
