%cx-opf-b2b-checkout-cost-center {
  @extend %cx-cost-center;

  > .row {
    margin-bottom: 1.5rem;
  }

  .label-content {
    font-weight: var(--cx-font-weight-semi);
  }

  .cx-cost-center-description {
    display: block;
    margin-top: 0.5rem;
  }
}
