%cx-opf-b2b-checkout-payment-type {
  @include checkout-media-style();
  border: 1px solid var(--cx-color-medium);
  border-radius: 10px;
  margin-top: 32px;
  margin-bottom: 30px;
  padding-inline-start: 1.875rem;
  padding-inline-end: 1.875rem;
  padding-top: 1.875rem;

  @include media-breakpoint-down(md) {
    padding-top: 20px;
  }

  .cx-payment-type-container {
    padding-top: 20px;
  }

  .label-content {
    font-weight: var(--cx-font-weight-semi);
  }

  .cx-payment-method-label {
    display: block;
    font-weight: var(--cx-font-weight-semi);
    margin-top: 1rem;
    margin-bottom: -1rem;
  }

  cx-opf-checkout-payments {
    .cx-payment-options-list {
      .form-check {
        padding-bottom: 0;
        border-top: none;
      }
    }
  }
}
