<ng-container>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="cx-table-header cx-textalign">
        <h3>{{ 'orgUnitsList.orgUnitManagement' | cxTranslate }}</h3>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="col-md-12 col-lg-6 float-right">
        <a
          [routerLink]="{ cxRoute: 'orgUnitCreate' } | cxUrl"
          class="btn btn-block btn-action"
        >
          {{ 'orgUnitsList.create' | cxTranslate }}
        </a>
      </div>
    </div>
  </div>
  <cx-navigation-ui *ngIf="data$ | async as data" [node]="data">
  </cx-navigation-ui>
</ng-container>
