<ng-container
  *ngIf="subscriptionBill$ | async as subscriptionBill; else loading"
>
  <div class="subscription-bill-item">
    <div class="subscription-bill-item-header">
      <div class="subscription-bill-item-meta">
        <div class="subscription-id" *ngIf="subscriptionBill.documentNumber">
          {{ 'subscriptionBillingDetails.billId' | cxTranslate }}
          {{ subscriptionBill.documentNumber }}
        </div>
      </div>
      <div
        class="subscription-bill-item-total"
        *ngIf="subscriptionBill.netAmount"
      >
        {{ 'subscriptionBillingDetails.totalAmount' | cxTranslate }}
        {{ subscriptionBill.netAmount }}
      </div>
    </div>
    <div
      class="subscription-bill-item-body"
      *ngIf="subscriptionBill.items?.length"
    >
      <div
        class="subscription-bill-item-details"
        *ngFor="let subscriptionBillItem of subscriptionBill.items"
      >
        <p class="subscription-product">
          <a
            *ngIf="subscriptionBillItem.subscriptionId"
            [routerLink]="
              {
                cxRoute: 'subscriptionDetails',
                params: { subscriptionId: subscriptionBillItem.subscriptionId },
              } | cxUrl
            "
          >
            {{
              subscriptionBillItem.productName
                ? subscriptionBillItem.productName
                : ('subscriptionBillingDetails.subscriptionProduct'
                  | cxTranslate)
            }}
          </a>
        </p>
        <p
          class="usage-charge"
          *ngFor="let usageCharge of subscriptionBillItem.usageCharges"
        >
          {{
            usageCharge.typeName
              ? usageCharge.typeName
              : ('subscriptionBillingDetails.netAmount' | cxTranslate)
          }}
          -
          {{ usageCharge.netAmount }}
        </p>
        <p
          class="subscription-total-due"
          *ngIf="subscriptionBillItem.netAmount"
        >
          {{ 'subscriptionBillingDetails.totalAmount' | cxTranslate }}
          {{ subscriptionBillItem.netAmount }}
        </p>
        <p
          class="subscription-bill-period"
          *ngIf="subscriptionBill.periodStartAt && subscriptionBill.periodEndAt"
        >
          {{
            'subscriptionBillingDetails.billingPeriod'
              | cxTranslate
                : {
                    startDate: subscriptionBill.periodStartAt | cxDate,
                    endDate: subscriptionBill.periodEndAt | cxDate,
                  }
          }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <cx-spinner></cx-spinner>
</ng-template>
