<div class="subscription-bill-item">
  <div class="subscription-bill-item-header">
    <div class="subscription-bill-item-meta">
      <div class="subscription-id">
        019ADFAB-44A5-4AD0-8E84-100751AB097D
      </div>
      <div class="subscription-details-link">
        <a href="javascript:(0)">Subscription Details Page</a>
      </div>
    </div>
    <div class="subscription-bill-item-total">
      Total Amount: $29.99
    </div>
  </div>
  <div class="subscription-bill-item-body">
    <div class="subscription-bill-item-details">
      <p class="subscription-product">
        Subscription: <a href="javascript:(0)">Mobile Plan 2020</a>
      </p>
      <p class="subscription-total-due">
        Total Due: $29.99
      </p>
      <p class="subscription-bill-period">
        Bill Period: Jan 1, 2020 - Jan 31, 2020
      </p>
    </div>
  </div>
</div>