@use 'sass:map';

@import '../../theme';
@import '../../functions';
@import '../../mixins';

.cx-app {
  &__breadcrumb {
    background-color: map.get($theme-colors, 'background');
    text-align: center;
    padding-top: 25px;
  }
}
