@import '../../theme';
@import '../../functions';
@import '../../mixins';

$cx-page-header-background-color: 'background' !default;

.cx-page {
  padding-bottom: 120px;
  &__header {
    @include var-color('background-color', $cx-page-header-background-color);
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  &__title {
    @include type('4');
    font-weight: $font-weight-semi;
    margin: 0 auto;
  }
  &__section {
    padding-top: 60px;
  }
}
