<div class="row">
  <!-- Item Image -->
  <div class="col-2 cx-image-container">
    <a [routerLink]="{ cxRoute: 'product', params: item.product } | cxUrl">
      <cx-media
        [container]="item.product.images?.PRIMARY"
        format="thumbnail"
      ></cx-media>
    </a>
  </div>
  <!-- Item Information -->
  <div class="cx-info col-10">
    <div class="cx-info-container row ">
      <!-- Item Description -->
      <div class="col-md-3 col-lg-3 col-xl-5">
        <div *ngIf="item.product.name" class="cx-name">
          <a
            class="cx-link"
            [routerLink]="{ cxRoute: 'product', params: item.product } | cxUrl"
            >{{ item.product.name }}</a
          >
        </div>
        <div *ngIf="item.product.code" class="cx-code">
          {{ 'cartItems.id' | cxTranslate }} {{ item.product.code }}
        </div>
        <!-- Variants -->
        <div
          *ngFor="let variant of item.product.variantOptionQualifiers"
          class="cx-property"
        >
          <div class="cx-label">{{ variant.name }}</div>
          <div class="cx-value">{{ variant.value }}</div>
        </div>
      </div>
      <!-- Item Price -->
      <div
        *ngIf="item.basePrice"
        class="cx-price"
        class="col-md-3 col-lg-3 col-xl-2"
      >
        <div class="cx-label" class="d-block d-md-none d-lg-none d-xl-none">
          {{ 'cartItems.item' | cxTranslate }}
        </div>
        <div *ngIf="item.basePrice" class="cx-value">
          {{ item.basePrice?.formattedValue }}
        </div>
      </div>
      <!-- Item Quantity -->
      <div *ngIf="item.quantity" class="cx-quantity" class="' : ' col-3'">
        <div
          class="cx-label"
          class="d-block d-md-none d-lg-none d-xl-none"
          placement="left"
          title="{{ 'cartItems.quantityTitle' | cxTranslate }}"
        >
          {{ 'cartItems.quantity' | cxTranslate }}
        </div>
        <div class="cx-value">{{ item.quantity }}</div>
      </div>
      <!-- Total -->
      <div
        *ngIf="item.totalPrice"
        class="cx-total"
        class="col-md-3 col-lg-3 col-xl-2"
      >
        <div class="cx-label" class="d-block d-md-none d-lg-none d-xl-none">
          {{ 'cartItems.total' | cxTranslate }}
        </div>
        <div class="cx-value">{{ item.totalPrice.formattedValue }}</div>
      </div>
    </div>
    <!-- Availability -->
    <div *ngIf="isProductOutOfStock(item)" class="cx-availability col-12">
      {{ 'productSummary.outOfStock' | cxTranslate }}
    </div>
    <!-- Promotion -->
    <cx-promotions [promotions]="potentialProductPromotions"></cx-promotions>
    <!-- Actions -->
    <div class="cx-actions row col-12">
      <div class="col-md-3 col-lg-3 col-xl-3">
        <button
          class="link"
          [class.disabled]="saveForLaterLoading"
          [disabled]="saveForLaterLoading"
          (click)="moveItemToCart()"
        >
          Move to Cart
        </button>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2">
        <button
          class="link"
          [class.disabled]="saveForLaterLoading"
          [disabled]="saveForLaterLoading"
          (click)="removeItem()"
        >
          {{ 'common.remove' | cxTranslate }}
        </button>
      </div>
    </div>
  </div>
</div>
