<div>
    <h2 class="heading">Step 1: Shipping Address</h2>
    <div class="content">
        <div>
            <div>
                <font size="4">Name:</font>
            </div>
            <input class="inputs" type="text">
        </div>
        <div>
            <div>
                <font size="4">Address 1:</font>
            </div>
            <input class="inputs" type="text">
        </div>
        <div>
            <div>
                <font size="4">Address 2:</font>
            </div>
            <input class="inputs" type="text">
        </div>
        <div>
            <div>
                <font size="4">City:</font>
            </div>
            <input class="inputs" type="text">
        </div>
        <div>
            <div>
                <font size="4">State or Province:</font>
            </div>
            <input class="inputs" type="text">
        </div>
        <div>
            <div>
                <font size="4">Country:</font>
            </div>
            <select class="countries-dropdown">
                <option>Country1</option>
                <option>Country2</option>
            </select>
        </div>
        <div>
            <div>
                <font size="4">Zip:</font>
            </div>
            <input class="inputs" type="text">
            <div>
                <div>
                    <font size="4">Phone:</font>
                </div>
                <input class="inputs" type="text">
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button mat-raised-button color="primary">Go Back</button>
    <button mat-raised-button color="accent">Next</button>
</div>