.side-content,
.heading {
  text-align: center;
}

.inputs,
.countries-dropdown {
  width: 25%;
  height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.form-labels {
  height: 50%;
  vertical-align: left;
}

.content {
  text-align: center;
}

.buttons {
  text-align: center;
}
