@mixin blue-theme {
  :root {
    --cx-color-background: #f1f1f1;
    --cx-color-text: #212738;
    --cx-color-inverse: #ffffff;
    --cx-color-transparent: transparent;
    --cx-color-primary: #2480c5;
    --cx-color-secondary: #a1aabf;
    --cx-buttons-border-radius: 27px;
    --cx-color-dark: #212738;
  }

  cx-site-context-selector {
    select {
      background-color: var(--cx-color-background);
      color: var(--cx-color-text);
    }
    cx-icon {
      color: var(--cx-color-text);
    }
  }

  header {
    background-color: var(--cx-color-background);

    @include media-breakpoint-up(lg) {
      background: linear-gradient(
        to top,
        var(--cx-color-dark) 67px,
        var(--cx-color-background) 0
      );
    }

    cx-link a {
      color: var(--cx-color-primary);
    }

    .NavigationBar {
      // background-color: var(--cx-color-dark);
      @include media-breakpoint-up(lg) {
        background-color: var(--cx-color-dark);
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: var(--cx-color-primary);
    }
  }

  cx-breadcrumb {
    box-shadow: inset 0px 10px 7px -12px var(--cx-color-dark);
    @include media-breakpoint-up(lg) {
      box-shadow: none;
    }
  }

  cx-searchbox {
    > * {
      @include media-breakpoint-up(md) {
        background-color: var(--cx-color-inverse);
      }
    }
    label {
      border: 0 none;
      @include media-breakpoint-up(md) {
        border: 1px solid var(--cx-color-secondary);
      }

      input,
      cx-icon {
        color: var(--cx-color-primary);
        @include media-breakpoint-up(md) {
          color: var(--cx-color-secondary);
        }
      }
    }
  }

  cx-login {
    .cx-login-greet,
    cx-navigation-ui.flyout h5 {
      color: var(--cx-color-text);
    }
  }

  cx-breadcrumb nav span a {
    color: var(--cx-color-primary);
  }

  cx-cart-item-list .cx-item-list-header,
  cx-wish-list .cx-item-list-header {
    color: var(--cx-color-text);
  }

  cx-cart-item .cx-code,
  cx-product-intro .code {
    color: var(--cx-color-text);
  }

  cx-facet a.selected {
    color: var(--cx-color-primary);
  }

  .btn-outline-text,
  .btn-action {
    color: var(--cx-color-primary);
    border-color: var(--cx-color-primary);
    background-color: var(--cx-color-inverse);
  }

  cx-add-to-cart .quantity .info {
    color: var(--cx-color-text);
  }
}
