<table class="table">
  <thead>
  <tr>
    <th>
      {{ 'documentFlow.dialog.name' | cxTranslate }}
    </th>
    <th class="cx-desktop-only">
      {{ 'documentFlow.dialog.time' | cxTranslate }}
    </th>
    <th class="cx-desktop-only">
      {{ 'documentFlow.dialog.status' | cxTranslate }}
    </th>
    <th class="text-center">
      {{ 'documentFlow.dialog.orderItems' | cxTranslate }}
    </th>
  </tr>
  </thead>
  <tbody>
  <cx-order-subsequent-document-node
    *ngIf="documents"
    [documents]="documents"
    [selectedDocument]="selectedDocument"
    (documentSelected)="onDocumentSelection($event)">
  </cx-order-subsequent-document-node>
  </tbody>
</table>
