<div *ngIf="component.data$ | async as data">
  <div *ngIf="jsLoaded$ | async">
    <div *ngIf="language$ | async as lang">
      <div *ngIf="data.embed === 'true'" [attr.id]="data.containerID">
        {{ displayScreenSetInEmbedMode(data, lang) }}
      </div>
      <div *ngIf="data.embed === 'false'">
        <a
          class="popup-link"
          [attr.data-gigya-id]="data.uid"
          [attr.data-profile-edit]="data.profileEdit"
          (click)="displayScreenSetInPopupMode(data, lang)"
          >{{ data.linkText }}</a
        >
      </div>
    </div>
  </div>
</div>
