%cx-cart-item-calydon {
  .cx-actions {
    button.link {
      background-color: transparent;
    }
  }

  cx-media.is-missing {
    min-width: 100%;

    &[format='thumbnail'] {
      background-size: 100%;
    }
  }
}
