%cx-cart-totals-calydon {
  padding: 2rem 0 2rem 3rem;

  @include media-breakpoint-down(md) {
    padding: 2rem 3rem 2rem 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 0 1rem;
  }

  cx-order-summary {
    padding: 0 0 1rem;
  }
}
