<ng-container
  *ngIf="{
    loading: loading$ | async,
    templateList: templateList$ | async,
    allConsentsLoading: allConsentsLoading$ | async,
  } as data"
>
  <ng-container *ngIf="data.templateList as templateList">
    <div class="cx-consent-action-links">
      <ng-container *cxFeature="'a11yKeepFocusOnConsentManagementButtons'">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <button
            class="btn btn-link cx-action-link"
            [attr.aria-disabled]="data.loading"
            (click)="rejectAll(templateList)"
          >
            {{ 'consentManagementForm.clearAll' | cxTranslate }}
          </button>
          <button
            class="btn btn-link cx-action-link"
            [attr.aria-disabled]="data.loading"
            (click)="allowAll(templateList)"
          >
            {{ 'consentManagementForm.selectAll' | cxTranslate }}
          </button>
        </div>
      </ng-container>
      <ng-container *cxFeature="'!a11yKeepFocusOnConsentManagementButtons'">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <button
            class="btn btn-link cx-action-link"
            [disabled]="data.loading"
            (click)="rejectAll(templateList)"
          >
            {{ 'consentManagementForm.clearAll' | cxTranslate }}
          </button>
          <button
            class="btn btn-link cx-action-link"
            [disabled]="data.loading"
            (click)="allowAll(templateList)"
          >
            {{ 'consentManagementForm.selectAll' | cxTranslate }}
          </button>
        </div>
      </ng-container>
    </div>
    <div
      class="cx-spinner"
      *ngIf="data.allConsentsLoading || (data.loading && !templateList?.length)"
    >
      <cx-spinner />
    </div>

    <ng-container *ngIf="!data.allConsentsLoading">
      <div class="cx-consent-toggles">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <cx-consent-management-form
            *ngFor="
              let consentTemplate of templateList;
              trackBy: trackByTemplateId
            "
            [consentTemplate]="consentTemplate"
            [requiredConsents]="requiredConsents"
            [disabled]="!!data.loading"
            (consentChanged)="onConsentChange($event)"
          ></cx-consent-management-form>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
