# TODO: Temporary solution to use continuum from SAP Artifactory
# until level access updates the continuum package to the latest version with axios >1.8.2(see https://github.com/SAP/spartacus/security/dependabot/233)
# @continuum:registry=https://npm.levelaccess.net/continuum/
#           //npm.levelaccess.net/continuum/:_authToken=${CONTINUUM_REGISTRY_TOKEN}
@continuum:registry=https://common.repositories.cloud.sap/artifactory/api/npm/acservices/
          //common.repositories.cloud.sap/artifactory/api/npm/acservices/:_auth=${SAP_COMMON_NPM_TOKEN}
