md-input-container {
    width: 100%;
    input {
        width: 100%;
    }
}


.option {
    height: 100px !important;
    .picture {
        width: 96px;
        height: 96px;
        margin-right: 24px;
    }
}
.suggestion {
    margin: 0 10px 0 0;
}