
<md-input-container floatPlaceholder="never">
    <input type="text" 
        mdInput 
        [formControl]="searchBoxControl" 
        [mdAutocomplete]="searchresult"
        [placeholder]="model.name"
        (keyup)="onKey($event)">
</md-input-container>

<md-autocomplete #searchresult="mdAutocomplete" class="autocomplete-response">
    <md-option *ngIf="(suggestionResults | async)?.length>0" >
        <md-chip-list>
            <md-chip 
                *ngFor="let suggestion of suggestionResults | async"
                class="suggestion"
                color="primary"  selected="true"
                (click)="launchSearchPage(suggestion.value)">{{ suggestion.value }}</md-chip>
        </md-chip-list>
    </md-option>

    <md-option 
        *ngFor="let product of (searchResults | async)?.products" [value]="product.name"
        class="option"
        [routerLink]="['/product/', product.code]">
        <div class="picture">
            <y-picture 
                *ngIf="model.displayProductImages && product.images"
                [imageContainer]="product.images.PRIMARY"
                imageFormat="thumbnail"
                >
            </y-picture>
        </div>
        <div >{{ product.name }}</div>
        <div >{{product.price.formattedValue}}</div>
    </md-option>
</md-autocomplete>
