<nav [attr.aria-label]="'common.breadcrumbs' | cxTranslate" tabindex="-1">
  <ol [attr.aria-label]="'common.breadcrumbs' | cxTranslate">
    <ng-container *ngIf="crumbs$ | async as crumbList">
      <li *ngFor="let crumb of crumbList; let i = index; let last = last">
        <a
          [routerLink]="crumb.link"
          [innerHTML]="crumb.label"
          [attr.aria-label]="
            last
              ? ('common.breadcrumbsCurrentPage' | cxTranslate) +
                ' ' +
                crumb.label +
                (i + 1) +
                ('common.of' | cxTranslate) +
                crumbList.length
              : crumb.label +
                (i + 1) +
                ('common.of' | cxTranslate) +
                crumbList.length
          "
        ></a>
      </li>
    </ng-container>
  </ol>
</nav>

<h1 [attr.aria-live]="(ariaLive$ | async) ? 'polite' : null">
  {{ title$ | async }}
</h1>
