%cx-opf-checkout-billing-address-form {
  .cx-custom-address-info {
    display: flex;
    align-items: flex-start;

    cx-card {
      flex-grow: 1;
    }

    button {
      outline: none;
      border: none;
      background: none;
      margin-top: 1rem;
    }
  }
}
