<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>
<cx-form-required-legend />
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <label>
    <span class="label-content"
      >{{ 'forgottenPassword.emailAddress.label' | cxTranslate }}
      <cx-form-required-asterisks />
    </span>
    <input
      required="true"
      type="email"
      class="form-control"
      placeholder="{{
        'forgottenPassword.emailAddress.placeholder' | cxTranslate
      }}"
      formControlName="userEmail"
      [attr.aria-invalid]="
        form.get('userEmail')?.touched && form.get('userEmail')?.invalid
      "
      [attr.aria-errormessage]="'userEmailError'"
    />

    <!-- TODO: (CXSPA-7315) Remove feature toggle in the next major -->
    <cx-form-errors
      *cxFeature="'formErrorsDescriptiveMessages'"
      id="userEmailError"
      [translationParams]="{
        label: 'forgottenPassword.emailAddress.label' | cxTranslate,
      }"
      [control]="form.get('userEmail')"
    ></cx-form-errors>

    <cx-form-errors
      *cxFeature="'!formErrorsDescriptiveMessages'"
      [control]="form.get('userEmail')"
    ></cx-form-errors>
  </label>

  <button class="btn btn-block btn-secondary" (click)="navigateTo('login')">
    {{ 'common.cancel' | cxTranslate }}
  </button>
  <button class="btn btn-block btn-primary" [disabled]="form.disabled">
    {{ 'common.submit' | cxTranslate }}
  </button>
</form>
