<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>
<!-- TODO: (CXSPA-5953) Remove feature flags next major -->
<p *cxFeature="'a11yRequiredAsterisks'" class="form-legend">
  {{ 'formLegend.required' | cxTranslate }}
</p>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <label>
    <span class="label-content"
      >{{ 'forgottenPassword.emailAddress.label' | cxTranslate }}
      <abbr
        *cxFeature="'a11yRequiredAsterisks'"
        aria-hidden="true"
        class="text-decoration-none required-asterisk"
        title="{{ 'common.required' | cxTranslate }}"
        >*</abbr
      >
    </span>
    <input
      required="true"
      type="email"
      class="form-control"
      placeholder="{{
        'forgottenPassword.emailAddress.placeholder' | cxTranslate
      }}"
      formControlName="userEmail"
      [attr.aria-describedby]="'userEmailError'"
    />

    <!-- TODO: (CXSPA-7315) Remove feature toggle in the next major -->
    <cx-form-errors
      *cxFeature="'formErrorsDescriptiveMessages'"
      id="userEmailError"
      aria-live="off"
      [translationParams]="{
        label: 'forgottenPassword.emailAddress.label' | cxTranslate,
      }"
      [control]="form.get('userEmail')"
    ></cx-form-errors>

    <cx-form-errors
      *cxFeature="'!formErrorsDescriptiveMessages'"
      [control]="form.get('userEmail')"
    ></cx-form-errors>
  </label>

  <!-- TODO: (CXSPA-7252) - Remove feature flag next major release -->
  <ng-container *cxFeature="'a11yUseButtonsForBtnLinks'">
    <button class="btn btn-block btn-secondary" (click)="navigateTo('login')">
      {{ 'common.cancel' | cxTranslate }}
    </button>
  </ng-container>
  <ng-container *cxFeature="'!a11yUseButtonsForBtnLinks'">
    <a
      class="btn btn-block btn-secondary"
      [routerLink]="{ cxRoute: 'login' } | cxUrl"
      cxBtnLikeLink
      >{{ 'common.cancel' | cxTranslate }}</a
    >
  </ng-container>
  <button class="btn btn-block btn-primary" [disabled]="form.disabled">
    {{ 'common.submit' | cxTranslate }}
  </button>
</form>
