@if (order$ | async; as order) {
  <div class="cx-order-summary">
    @if (!(isOrderLoading$ | async)) {
      @if (!(simple$ | async)) {
        <div class="container">
          @if (order.replenishmentOrderCode) {
            <div class="cx-summary-card">
              <cx-card
                [content]="
                  getReplenishmentCodeCardContent(order?.replenishmentOrderCode)
                    | async
                "
              ></cx-card>

              <cx-card
                [content]="
                  getReplenishmentActiveCardContent(order?.active) | async
                "
              ></cx-card>
            </div>

            <div class="cx-summary-card">
              <cx-card
                [content]="
                  getReplenishmentStartOnCardContent(order?.firstDate | cxDate)
                    | async
                "
              ></cx-card>

              <cx-card
                [content]="
                  getReplenishmentFrequencyCardContent(
                    order?.trigger?.displayTimeTable
                  ) | async
                "
              ></cx-card>

              <cx-card
                [content]="
                  getReplenishmentNextDateCardContent(
                    order?.trigger?.activationTime | cxDate
                  ) | async
                "
              ></cx-card>

              <ng-template
                [cxOutlet]="cartOutlets.ORDER_OVERVIEW"
                [cxOutletContext]="{ item: order, readonly: true }"
              >
              </ng-template>
            </div>
          } @else {
            <div class="cx-summary-card">
              <cx-card
                [content]="getOrderCodeCardContent(order?.code) | async"
              ></cx-card>

              <cx-card
                [content]="
                  getOrderCurrentDateCardContent(order?.created | cxDate)
                    | async
                "
              ></cx-card>

              <cx-card
                [content]="
                  getOrderStatusCardContent(order.statusDisplay) | async
                "
              ></cx-card>

              <ng-container
                *ngTemplateOutlet="
                  showQuoteCode;
                  context: { sapQuoteCode: order.sapQuoteCode }
                "
              ></ng-container>

              <ng-template
                [cxOutlet]="cartOutlets.ORDER_OVERVIEW"
                [cxOutletContext]="{ item: order, readonly: true }"
              >
              </ng-template>
            </div>
          }

          @if (order.purchaseOrderNumber || order.purchaseOrderNumber === '') {
            <div class="cx-summary-card">
              <cx-card
                [content]="
                  getPurchaseOrderNumber(order?.purchaseOrderNumber) | async
                "
              ></cx-card>

              <cx-card
                [content]="
                  getMethodOfPaymentCardContent(order.paymentInfo) | async
                "
              ></cx-card>

              @if (order.costCenter) {
                <cx-card
                  [content]="
                    getCostCenterCardContent(order?.costCenter) | async
                  "
                ></cx-card>
              }
            </div>
          }

          <div class="cx-summary-card">
            @if (order.deliveryAddress) {
              <cx-card
                [content]="
                  getAddressCardContent(order?.deliveryAddress) | async
                "
              ></cx-card>
            }

            @if (shouldShowDeliveryMode(order.deliveryMode)) {
              <cx-card
                [content]="
                  getDeliveryModeCardContent(order?.deliveryMode) | async
                "
              ></cx-card>
            }

            <ng-template
              [cxOutlet]="orderOutlets.SERVICE_DETAILS"
              [cxOutletContext]="{ item: order, readonly: true }"
            >
            </ng-template>
          </div>

          @if (order.paymentInfo) {
            @if (
              order?.paymentInfo?.billingAddress ||
              isPaymentInfoCardFull(order?.paymentInfo)
            ) {
              <div class="cx-summary-card">
                @if (isPaymentInfoCardFull(order?.paymentInfo)) {
                  <cx-card
                    [content]="
                      getPaymentInfoCardContent(order?.paymentInfo) | async
                    "
                  ></cx-card>
                }

                <cx-card
                  [content]="
                    getBillingAddressCardContent(
                      order?.paymentInfo?.billingAddress
                    ) | async
                  "
                ></cx-card>
              </div>
            }
          }
        </div>
      }

      @if (simple$ | async) {
        <div class="container">
          <div class="cx-order-details-cards">
            <cx-card
              [content]="getOrderCodeCardContent(order?.code) | async"
            ></cx-card>

            <cx-card
              [content]="
                getOrderCurrentDateCardContent(order?.created | cxDate) | async
              "
            ></cx-card>

            <cx-card
              [content]="getOrderStatusCardContent(order.statusDisplay) | async"
            ></cx-card>

            <ng-container
              *ngTemplateOutlet="
                showQuoteCode;
                context: { sapQuoteCode: order.sapQuoteCode }
              "
            ></ng-container>

            <ng-template
              [cxOutlet]="cartOutlets.ORDER_OVERVIEW"
              [cxOutletContext]="{ item: order, readonly: true }"
            >
            </ng-template>
          </div>
          @if (
            isPaymentInfoCardFull(order?.paymentInfo) ||
            order?.paymentInfo?.billingAddress
          ) {
            <cx-order-detail-billing></cx-order-detail-billing>
          }
        </div>
      }
    }
  </div>
}

<ng-template #showQuoteCode let-quoteCode="sapQuoteCode">
  @if (orderConfig.showOrderQuoteLink && quoteCode) {
    <div id="quote-container" class="card-body cx-card-body">
      <div class="cx-card-title">
        {{ 'orderDetails.quoteCode' | cxTranslate: { id: quoteCode } }}
      </div>
      <a
        [routerLink]="
          { cxRoute: 'quoteDetails', params: { quoteId: quoteCode } } | cxUrl
        "
        class="cx-card-actions"
      >
        {{ 'orderDetails.quoteDetail' | cxTranslate }}
      </a>
    </div>
  }
</ng-template>
