@import '../../../theme';

%cx-anonymous-consent-dialog {
  color: var(--cx-color-text);

  .cx-dialog-header {
    padding: 2rem 1.75rem 0.85rem;
  }
  .cx-dialog-body {
    padding-top: 0;
    background-color: var(--cx-color-inverse);

    @include media-breakpoint-only(xs) {
      padding: 1.5rem;
      border-top: 1px solid var(--cx-color-light);
    }
  }
  .cx-dialog-buttons {
    text-align: right;
    padding: 1rem 4rem;
    @include media-breakpoint-only(xs) {
      padding: 1rem;
    }
  }

  .cx-action-link {
    margin: 0 0.35rem;
  }

  .cx-dialog-row {
    max-width: 100%;
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }

  .cx-dialog-title {
    @include type('3');
  }

  .cx-dialog-description {
    @include type();
    padding: 1.5rem 1.75rem 0;
  }

  a:not([href]):not([tabindex]) {
    text-decoration: underline;
  }
}
