<div class="cx-cart-coupon-title">
  {{ 'voucher.couponLabel' | cxTranslate }}
</div>
<div>
  <form (submit)="applyVoucher()" [formGroup]="form">
    <div class="row">
      <div class="form-group col-md-8">
        <input
          type="text"
          class="form-control"
          id="applyVoucher"
          formControlName="couponCode"
          placeholder="{{ 'voucher.placeholder' | cxTranslate }}"
        />
      </div>
      <div class="col-md-4">
        <button
          class="btn btn-block btn-action"
          type="submit"
          [disabled]="!enableBtn || cartIsLoading"
          [class.disabled]="!enableBtn || cartIsLoading"
        >
          {{ 'voucher.apply' | cxTranslate }}
        </button>
      </div>
    </div>
  </form>
</div>

<cx-applied-coupons
  [vouchers]="cart.appliedVouchers"
  [cartIsLoading]="cartIsLoading"
  [isReadOnly]="false"
></cx-applied-coupons>
