on:
  push:
    branches:
      - develop
      - epic/**
      - release/**
      - integration-libs/**
  pull_request:
    types: [opened, synchronize]
env:
  CYPRESS_KEY: ${{ secrets.CYPRESS_KEY }}
  NODE_VERSION: '16'

concurrency: 
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: Spartacus build pipeline
jobs:
  no_retries: 
    name: Verify retries
    runs-on: ubuntu-latest
    steps:
      - name: Forcefully fail build if retried
        uses: actions/github-script@v5
        with:
          script: |
            core.setFailed('Please push a commit to trigger the build. To push an empty commit you can use `git commit --allow-empty -m "Trigger Build"`') 
        if: ${{ github.run_attempt > 1 }}
  validate_e2e_execution:
    name: Validate pull_request files
    runs-on: ubuntu-latest
    outputs: 
      SHOULD_RUN_E2E: ${{ steps.save-e2e-output-result.outputs.SHOULD_RUN_E2E }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Determine whether to run e2es
        id: save-e2e-output-result
        run: |         
          source ci-scripts/validate-e2e-execution.sh
          echo "::set-output name=SHOULD_RUN_E2E::$(echo $RUN_E2E)"
  unit_tests_core:
    needs: no_retries
    name: Unit tests for core Spartacus libs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: Setup node
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: ${{ env.NODE_VERSION }}
      # - name: Cache node_modules
      #   id: cache-node-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: | 
      #       node_modules
      #       projects/storefrontapp-e2e-cypress/node_modules
      #       ~/.cache/Cypress
      #     key: nodemodules-${{ github.event.pull_request.base.sha }}
      #     restore-keys: nodemodules-${{ github.event.pull_request.base.sha }}
      # - name: Install angular CLI
      #   run: npm install -g @angular/cli@latest
      # - name: Package installation
      #   run: yarn --frozen-lockfile
      # - name: Run unit tests for Spartacus libs
      #   run: |
      #     ci-scripts/unit-tests-core-lib.sh
  unit_tests_libs:
    needs: no_retries
    name: Unit tests for integration libs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: Setup node
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: ${{ env.NODE_VERSION }}
      # - name: Cache node_modules
      #   id: cache-node-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: | 
      #       node_modules
      #       projects/storefrontapp-e2e-cypress/node_modules
      #       ~/.cache/Cypress
      #     key: nodemodules-${{ github.event.pull_request.base.sha }}
      #     restore-keys: nodemodules-${{ github.event.pull_request.base.sha }}
      # - name: Install angular CLI
      #   run: npm install -g @angular/cli@latest
      # - name: Package installation
      #   run: yarn --frozen-lockfile
      # - name: Run unit tests for integration libs
      #   run: |
      #     ci-scripts/unit-tests.sh
  linting:
    needs: no_retries
    name: Validation checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: Setup node
      #   uses: actions/setup-node@v2
      #   with:
      #     node-version: ${{ env.NODE_VERSION }}
      # - name: Cache node_modules
      #   id: cache-node-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: | 
      #       node_modules
      #       projects/storefrontapp-e2e-cypress/node_modules
      #       ~/.cache/Cypress
      #     key: nodemodules-${{ github.event.pull_request.base.sha }}
      #     restore-keys: nodemodules-${{ github.event.pull_request.base.sha }}
      # - name: Install angular CLI
      #   run: npm install -g @angular/cli@latest
      # - name: Package installation
      #   run: yarn --frozen-lockfile
      # - name: Run linting validation
      #   run: |
      #     ci-scripts/validate-lint.sh
  b2c_e2e_tests:
    needs: [no_retries, validate_e2e_execution]
    name: E2E tests for B2C
    runs-on: ubuntu-latest
    strategy:
      matrix:
        containers: [1, 2, 3, 4, 5]
    if: ${{ github.event_name == 'push' || needs.validate_e2e_execution.outputs.SHOULD_RUN_E2E == 'true' }}
    steps:
      - uses: actions/checkout@v2
      # - name: Cache node_modules
      #   id: cache-node-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: | 
      #       node_modules
      #       projects/storefrontapp-e2e-cypress/node_modules
      #       ~/.cache/Cypress
      #     key: nodemodules-${{ github.event.pull_request.base.sha }}
      #     restore-keys: nodemodules-${{ github.event.pull_request.base.sha }}
      # - name: Run e2es
      #   env: 
      #     SPA_ENV: ci,b2c
      #   run: |
      #     ci-scripts/e2e-cypress.sh
  b2c_ssr_e2e_tests:
    needs: [no_retries, validate_e2e_execution]
    name: E2E tests for SSR B2C
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || needs.validate_e2e_execution.outputs.SHOULD_RUN_E2E == 'true' }}
    steps:
      - uses: actions/checkout@v2
      # - name: Cache node_modules
      #   id: cache-node-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: | 
      #       node_modules
      #       projects/storefrontapp-e2e-cypress/node_modules
      #       ~/.cache/Cypress
      #     key: nodemodules-${{ github.event.pull_request.base.sha }}
      #     restore-keys: nodemodules-${{ github.event.pull_request.base.sha }}
      # - name: Run e2es
      #   env: 
      #     SPA_ENV: ci,b2c
      #   run: |
      #     ci-scripts/e2e-cypress.sh --ssr
  b2b_e2e_tests:
    needs: [no_retries, validate_e2e_execution]
    name: E2E tests for B2B
    runs-on: ubuntu-latest
    strategy:
      matrix:
        containers: [1, 2]
    if: ${{ github.event_name == 'push' || needs.validate_e2e_execution.outputs.SHOULD_RUN_E2E == 'true' }}
    steps:
      - uses: actions/checkout@v2
      # - name: Cache node_modules
      #   id: cache-node-modules
      #   uses: actions/cache@v2
      #   with:
      #     path: | 
      #       node_modules
      #       projects/storefrontapp-e2e-cypress/node_modules
      #       ~/.cache/Cypress
      #     key: nodemodules-${{ github.event.pull_request.base.sha }}
      #     restore-keys: nodemodules-${{ github.event.pull_request.base.sha }}
      # - name: Run e2es
      #   env:
      #     SPA_ENV: ci,b2b
      #   run: |     
      #     ci-scripts/e2e-cypress.sh -s b2b
  build_conclusion:
    needs: [no_retries, unit_tests_core, unit_tests_libs, linting, b2c_e2e_tests, b2c_ssr_e2e_tests, b2b_e2e_tests]
    name: Build Conclusion
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Required build failed
        uses: actions/github-script@v5
        with:
          script: |
            core.setFailed('Build failed')
        # if: |
        #   needs.no_retries.result == 'failure' || needs.no_retries.result == 'cancelled' ||
        #   needs.unit_tests_core.result == 'failure' || needs.unit_tests_core.result == 'cancelled' ||
        #   needs.unit_tests_libs.result == 'failure' || needs.unit_tests_libs.result == 'cancelled' ||
        #   needs.linting.result == 'failure' || needs.linting.result == 'cancelled' ||
        #   needs.b2c_e2e_tests.result == 'failure' || needs.b2c_e2e_tests.result == 'cancelled' ||
        #   needs.b2c_ssr_e2e_tests.result == 'failure' || needs.b2c_ssr_e2e_tests.result == 'cancelled' || 
        #   needs.b2b_e2e_tests.result == 'failure' || needs.b2b_e2e_tests.result == 'cancelled'
  # # abinoda
  # send_slack_message_v1:
  #   needs: build_conclusion
  #   name: Slack message for failed develop CI build in Spartacus
  #   runs-on: ubuntu-latest
  #   # if: ${{ github.event_name == 'push' && github.ref_name == 'develop' }}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: test values
  #       run: |
  #         echo "test"
  #         echo "hmm can it be  seen ${{ secrets.GITHUB_TOKEN }}"
  #         echo "abc ${{ secrets.SLACK_TOKEN }}"
  #         echo "fake secret is still *** ?: ${{ secrets.FAKE_SECRET }}"
  #     - name: Send Slack message when build conclusion failed
  #       env:
  #         SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}
  #       uses: pullreminders/slack-action@master
  #       with:
  #         args: '{\"channel\":\"test-spa-channel-message\",\"text\":\"Hello world\"}'
  #       # if: |
  #       #   needs.build_conclusion.result == 'failure'
    # slackapi
  # send_slack_message_v2:
  #   needs: build_conclusion
  #   name: Slack message for failed develop CI build in Spartacus
  #   runs-on: ubuntu-latest
  #   # if: ${{ github.event_name == 'push' && github.ref_name == 'develop' }}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: test values
  #       run: |
  #         echo "test"
  #         echo "hmm can it be  seen ${{ secrets.GITHUB_TOKEN }}"
  #         echo "abc ${{ secrets.SLACK_TOKEN }}"
  #         echo "fake secret is still *** ?: ${{ secrets.FAKE_SECRET }}"
  #     - name: Send Slack message when build conclusion failed
  #       env:
  #         SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}
  #       uses: slackapi/slack-github-action@v1.19.0
  #       with:
  #         channel-id: 'test-spa-channel-message'
  #         slack-message: "Hello world from slackapi - raw message: a${{ needs.build_conclusion.result }}b\n${{ github.ref_name }}c\n${{ github.event.head_commit.url }}"
  #       # if: |
  #       #   needs.build_conclusion.result == 'failure'
  # # slackapi
  send_slack_message_v2-1:
    needs: build_conclusion
    name: Slack message for failed develop CI build in Spartacus
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: test values
        run: |
          echo "test"
          echo "hmm can it be  seen ${{ secrets.GITHUB_TOKEN }}"
          echo "abc ${{ secrets.SLACK_TOKEN }}"
          echo "fake secret is still *** ?: ${{ secrets.FAKE_SECRET }}"
      - name: Send Slack message when build conclusion failed
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}
        uses: slackapi/slack-github-action@v1.19.0
        with:
          channel-id: 'test-spa-private-channel'
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":fire: :fireduck: :fire: \n\n Hello Tribe! \n *Our e2es in develop are failing*. Please take a look at the problem! Help keep our CI in develop green! \n\n :fire: :fireduck: :fire:"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "Build history",
                        "emoji": true
                      },
                      "value": "buid_history",
                      "url": "https://github.com/SAP/spartacus/actions/workflows/ci.yml?query=branch%3Adevelop"
                    },
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "What was committed?",
                        "emoji": true
                      },
                      "value": "recent_merged_commit",
                      "url": "${{ github.event.head_commit.url }}"
                    }
                  ]
                }
              ]
            }
        if: |
          ${{ github.event_name == 'push' && github.ref_name == 'epic/simulate-branch-for-slack-verify-values' }} && needs.build_conclusion.result == 'failure'
          