<div
  *ngIf="orders$ | async as orderHistory; else noOrder"
  [attr.aria-label]="'orderHistoryEnhancedUI.orderListResults' | cxTranslate"
>
  <!-- HEADER -->
  <div class="cx-order-history-enhanced-ui-header">
    <h2>
      {{
        'orderHistoryEnhancedUI.heading'
          | cxTranslate: { param: tabTitleParam$ | async }
      }}
    </h2>
  </div>
  <!--BODY-->
  <div class="cx-order-history-enhanced-ui-body">
    <ng-container *ngIf="orderHistory.pagination!.totalResults; else noOrder">
      <div
        *ngIf="orderHistory.pagination!.totalResults > 0; else noOrder"
      ></div>
      <!-- !!!!!!!re-check this above div -->

      <!--main content starting-->
      <ng-container *ngFor="let order of orderHistory.orders">
        <div class="cx-each-order">
          <!--eg: Order # 12345-->
          <div
            class="cx-enhanced-ui-order-history-code"
            [attr.aria-label]="'orderHistoryEnhancedUI.orderCode' | cxTranslate"
            (click)="goToOrderDetail(order)"
          >
            <a
              [routerLink]="
                {
                  cxRoute: 'orderDetails',
                  params: order
                } | cxUrl
              "
            >
              {{ 'orderHistory.orderId' | cxTranslate }} {{ order?.code }}</a
            >
          </div>

          <!--eg: 12,October,2022 | Total Price: $12.00-->
          <div class="cx-enhanced-ui-order-summary">
            <span
              [attr.aria-label]="
                'orderHistoryEnhancedUI.orderPlaced' | cxTranslate
              "
            >
              {{ order.placed | cxDate: 'd, MMMM, yyyy' }} |
            </span>
            <span
              [attr.aria-label]="
                'orderHistoryEnhancedUI.totalPriceLabel' | cxTranslate
              "
            >
              <strong>
                {{
                  'orderHistoryEnhancedUI.totalPrice'
                    | cxTranslate: { param: order.total?.formattedValue }
                }}
              </strong>
            </span>
          </div>

          <!--eg: Display consolidated order information-->
          <cx-order-consolidated-information [order]="order">
          </cx-order-consolidated-information>
        </div>
      </ng-container>

      <!--main content ending-->

      <!-- PAGINATION -->
      <div
        *ngIf="orderHistory.pagination!.totalPages"
        class="cx-order-history-pagination"
      >
        <div
          *ngIf="orderHistory.pagination!.totalPages > 1"
          class="cx-order-history-pagination"
          [attr.aria-label]="
            'orderHistoryEnhancedUI.orderListPagination' | cxTranslate
          "
        >
          <!-- !!!!!!!re-check this above div -->
          <cx-pagination
            [pagination]="orderHistory.pagination"
            (viewPageEvent)="pageChange($event)"
          ></cx-pagination>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- NO ORDER CONTAINER -->
<ng-template #noOrder>
  <div *ngIf="isLoaded$ | async; else loading">
    <div [attr.aria-label]="'orderHistoryEnhancedUI.noOrders' | cxTranslate">
      {{ 'orderHistory.noOrders' | cxTranslate }}
    </div>
    <a
      [routerLink]="{ cxRoute: 'home' } | cxUrl"
      routerLinkActive="active"
      class="cx-no-order"
      >{{ 'orderHistory.startShopping' | cxTranslate }}</a
    >
  </div>
</ng-template>

<!-- ORDER HISTORY DATA STILL LOADING -->
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
