@if (messageEvents$ | async; as messageEvents) {
  <div class="container">
    <div class="cx-avatar-line"></div>
    <div
      role="list"
      class="cx-messages"
      id="cx-messages"
      (keydown.arrowdown)="focusNextChild($any($event))"
      (keydown.arrowup)="focusPreviousChild($any($event))"
      [attr.aria-label]="'chatMessaging.messages' | cxTranslate"
    >
      @for (message of messageEvents; track message; let i = $index) {
        <div
          class="cx-message-card"
          role="listitem"
          [ngClass]="{ 'cx-message-display': message.rightAlign ?? false }"
        >
          <cx-avatar [message]="message"> </cx-avatar>

          <div>
            <label>{{
              (message.createdAt | cxDate: messagingConfigs?.dateFormat) ??
                dateFormat
            }}</label>
            <div
              [ngClass]="
                (message.rightAlign ?? false)
                  ? 'cx-message-right-align-text'
                  : 'cx-message-left-align-text'
              "
              [tabindex]="i ? -1 : 0"
              [attr.aria-label]="
                'chatMessaging.informationLabel'
                  | cxTranslate
                    : {
                        author: message.author,
                        text: getMessageText(message),
                        date:
                          (message.createdAt
                            | cxDate: messagingConfigs?.dateFormat) ??
                          dateFormat,
                      }
              "
            >
              @if (message.item) {
                <a
                  class="cx-message-item-link"
                  (click)="onItemClicked(message.item)"
                  >{{ message.item.name }}:</a
                >
              }
              {{ message.text }}
            </div>
            @for (attachment of message.attachments ?? []; track attachment) {
              <a
                class="cx-attachment"
                (click)="
                  triggerDownload(
                    message.code,
                    attachment.id,
                    attachment.filename
                  )
                "
                target="_blank"
                rel="noopener noreferrer"
              >
                <cx-icon [type]="iconTypes.ATTACHMENT"></cx-icon>
                {{ attachment.filename }}
              </a>
            }
          </div>
        </div>
      }
    </div>
  </div>

  @if (messagingConfigs?.displayAddMessageSection | async) {
    <div [formGroup]="form" class="cx-message-footer">
      <div class="cx-message-box">
        <label class="cx-footer-label" id="cx-messaging-footer-label">
          <span>
            {{ 'chatMessaging.addNewMessage' | cxTranslate }}
            @if (messagingConfigs?.itemList$ | async; as itemList) {
              <select
                [attr.aria-label]="
                  'chatMessaging.a11y.itemListBoxLabel' | cxTranslate
                "
                class="cx-message-item-selection"
                formControlName="item"
              >
                @for (item of itemList; track item) {
                  <option value="{{ item.id }}">
                    {{ item.name }}
                  </option>
                }
              </select>
            }
          </span>
          <div class="cx-message-input">
            <input
              aria-labelledby="cx-messaging-footer-label"
              formControlName="message"
              type="text"
              class="form-control"
              (keydown.enter)="onSend()"
              [maxLength]="
                messagingConfigs?.charactersLimit || MAX_INPUT_CHARACTERS
              "
              placeholder="{{
                messagingConfigs?.newMessagePlaceHolder ||
                  ('chatMessaging.addMessagePlaceHolder' | cxTranslate)
              }}"
            />
            @if (inputCharacterLeft === 0) {
              <span class="cx-visually-hidden" role="alert">
                {{ 'chatMessaging.characterLimitAlert' | cxTranslate }}
              </span>
            }
            <button
              aria-labelledby="cx-messaging-footer-label"
              class="btn btn-block cx-send"
              [ngClass]="
                !!messagingConfigs?.sendBtnIsNotPrimary
                  ? 'btn-secondary'
                  : 'btn-primary'
              "
              (click)="onSend()"
            >
              {{ 'chatMessaging.send' | cxTranslate }}
            </button>
          </div>
        </label>
        <div class="cx-message-footer-info" id="cx-message-footer">
          @if (messagingConfigs?.enableFileUploadOption) {
            <cx-file-upload
              [formControl]="$any(form.get('file'))"
              [accept]="allowedTypes"
            >
              <ng-template>
                <cx-icon [type]="iconTypes.UPLOAD"></cx-icon>
                <span class="cx-message-footer-text"
                  >{{ 'chatMessaging.uploadFile' | cxTranslate }}
                </span>
              </ng-template>
            </cx-file-upload>
          }

          <p class="cx-message-footer-info-text">
            {{
              'chatMessaging.charactersLeft'
                | cxTranslate: { count: inputCharacterLeft }
            }}
          </p>
        </div>
        <cx-form-errors
          [control]="form.get('file')"
          prefix="formErrors.file"
        ></cx-form-errors>
      </div>
    </div>
  }
}
