<ng-container *ngIf="messageEvents$ | async as messageEvents">
  <div class="container">
    <div class="cx-avatar-line"></div>
    <div
      role="list"
      class="cx-messages"
      id="cx-messages"
      (keydown.arrowdown)="focusNextChild($any($event))"
      (keydown.arrowup)="focusPreviousChild($any($event))"
      [attr.aria-label]="'chatMessaging.messages' | cxTranslate"
    >
      <ng-container *ngFor="let message of messageEvents; let i = index">
        <div
          class="cx-message-card"
          [ngClass]="{ 'cx-message-display': message.rightAlign ?? false }"
        >
          <cx-avatar [message]="message"> </cx-avatar>

          <div>
            <label>{{
              (message.createdAt | cxDate: messagingConfigs?.dateFormat) ??
                dateFormat
            }}</label>
            <div
              [ngClass]="
                message.rightAlign ?? false
                  ? 'cx-message-right-align-text'
                  : 'cx-message-left-align-text'
              "
              [tabindex]="i ? -1 : 0"
              role="listitem"
              [attr.aria-label]="
                'chatMessaging.informationLabel'
                  | cxTranslate
                    : {
                        author: message.author,
                        text: getMessageText(message),
                        date:
                          (message.createdAt
                            | cxDate: messagingConfigs?.dateFormat) ??
                          dateFormat
                      }
              "
            >
              <a
                *ngIf="message.item"
                class="cx-message-item-link"
                (click)="onItemClicked(message.item)"
                >{{ message.item.name }}:</a
              >
              {{ message.text }}
            </div>
            <a
              *ngFor="let attachment of message.attachments ?? []"
              class="cx-attachment"
              (click)="
                triggerDownload(
                  message.code,
                  attachment.id,
                  attachment.filename
                )
              "
              target="_blank"
              rel="noopener noreferrer"
            >
              <cx-icon [type]="iconTypes.ATTACHMENT"></cx-icon>
              {{ attachment.filename }}
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div
    [formGroup]="form"
    class="cx-message-footer"
    *ngIf="messagingConfigs?.displayAddMessageSection | async"
  >
    <div class="cx-message-box">
      <label class="cx-footer-label" id="cx-messaging-footer-label">
        <span>
          {{ 'chatMessaging.addNewMessage' | cxTranslate }}
          <select
            [attr.aria-label]="
              'chatMessaging.a11y.itemListBoxLabel' | cxTranslate
            "
            *ngIf="messagingConfigs?.itemList$ | async as itemList"
            class="cx-message-item-selection"
            formControlName="item"
          >
            <option *ngFor="let item of itemList" value="{{ item.id }}">
              {{ item.name }}
            </option>
          </select>
        </span>
        <div class="cx-message-input">
          <input
            aria-labelledby="cx-messaging-footer-label"
            formControlName="message"
            type="text"
            class="form-control"
            (keydown.enter)="onSend()"
            [maxLength]="
              messagingConfigs?.charactersLimit || MAX_INPUT_CHARACTERS
            "
            placeholder="{{
              messagingConfigs?.newMessagePlaceHolder ||
                ('chatMessaging.addMessagePlaceHolder' | cxTranslate)
            }}"
          />
          <span
            class="cx-visually-hidden"
            *ngIf="inputCharacterLeft === 0"
            role="alert"
          >
            {{ 'chatMessaging.characterLimitAlert' | cxTranslate }}
          </span>
          <button
            aria-labelledby="cx-messaging-footer-label"
            class="btn btn-block cx-send"
            [ngClass]="
              !!messagingConfigs?.sendBtnIsNotPrimary
                ? 'btn-secondary'
                : 'btn-primary'
            "
            (click)="onSend()"
          >
            {{ 'chatMessaging.send' | cxTranslate }}
          </button>
        </div>
      </label>
      <div class="cx-message-footer-info" id="cx-message-footer">
        <cx-file-upload
          [formControl]="$any(form.get('file'))"
          [accept]="allowedTypes"
          *ngIf="messagingConfigs?.enableFileUploadOption"
        >
          <ng-template>
            <cx-icon [type]="iconTypes.UPLOAD"></cx-icon>
            <span class="cx-message-footer-text"
              >{{ 'chatMessaging.uploadFile' | cxTranslate }}
            </span>
          </ng-template>
        </cx-file-upload>

        <p class="cx-message-footer-info-text">
          {{
            'chatMessaging.charactersLeft'
              | cxTranslate: { count: inputCharacterLeft }
          }}
        </p>
      </div>
      <cx-form-errors
        [control]="form.get('file')"
        prefix="formErrors.file"
      ></cx-form-errors>
    </div>
  </div>
</ng-container>
