@if (headerText) {
  <div class="cx-asm-customer-360-promotion-listing-heading">
    <h4 class="cx-asm-customer-360-promotion-listing-heading-text">
      {{ headerText }}
    </h4>
  </div>
}
<ng-content></ng-content>
<div class="message-container">
  @if (showAlert) {
    <cx-message
      [text]="'asmCustomer360.alertErrorMessage' | cxTranslate"
      [type]="globalMessageType.MSG_TYPE_ERROR"
      (closeMessage)="removeAlert.emit()"
    ></cx-message>
  }
  @if (showAlertForApplyAction) {
    <cx-message
      [text]="'asmCustomer360.applyActionAlter' | cxTranslate"
      [type]="globalMessageType.MSG_TYPE_ERROR"
      (closeMessage)="removeAlertForApplyAction.emit()"
    ></cx-message>
  }
</div>
<table class="cx-asm-customer-360-promotion-listing">
  <caption class="cx-visually-hidden">
    {{
      headerText
    }}
  </caption>
  <thead class="cx-visually-hidden">
    <tr>
      <th role="columnheader">
        {{ 'asmCustomer360.promotions.headerName' | cxTranslate }}
      </th>
      <th role="columnheader">
        {{ 'asmCustomer360.promotions.headerAction' | cxTranslate }}
      </th>
    </tr>
  </thead>
  @for (entry of entries; track entry) {
    <tr class="cx-asm-customer-360-promotion-listing-row">
      <td>
        <tr
          class="cx-asm-customer-360-promotion-listing-subheader"
          tabindex="-1"
        >
          {{
            entry.code
          }}
        </tr>
        <tr class="cx-asm-customer-360-promotion-listing-description">
          {{
            entry.name
          }}
        </tr>
      </td>
      <td>
        @if (!entry.applied) {
          @if (showApplyButton) {
            <button
              class="cx-asm-customer-360-promotion-listing-apply-button"
              (click)="apply.emit(entry)"
            >
              {{ applyButtonText }}
            </button>
          }
        }
        @if (entry.applied) {
          <tr class="cx-asm-customer-360-promotion-listing-action">
            @if (!isCustomerCoupon) {
              <td>
                <cx-icon class="success" type="SUCCESS"></cx-icon>
              </td>
              <td class="cx-asm-customer-360-promotion-listing-applied">
                {{ applied }}
              </td>
              @if (showRemoveButton) {
                <td
                  class="cx-asm-customer-360-promotion-listing-action-separator"
                >
                  |
                </td>
              }
            }
            @if (showRemoveButton) {
              <td>
                <button
                  class="cx-asm-customer-360-promotion-listing-remove-button"
                  (click)="remove.emit(entry)"
                >
                  {{ removeButtonText }}
                </button>
              </td>
            }
          </tr>
        }
      </td>
    </tr>
  }
</table>
@if (!showAlert) {
  <hr
    class="cx-asm-customer-360-promotion-listing-separator"
    aria-hidden="true"
  />
}
@if (entries?.length === 0 && !showAlert) {
  <div class="cx-asm-customer-360-promotion-listing-empty">
    {{ emptyStateText }}
  </div>
}
