%ProductDetailsPageTemplate {
  cx-page-slot {
    &.Summary {
      @extend .container !optional;

      @include media-breakpoint-up(lg) {
        grid-template-rows: repeat(2, auto) 1fr;

        cx-product-images {
          grid-column: 1;
          grid-row: 1 / span 5;
        }

        cx-product-intro {
          grid-column: 2;
        }

        cx-product-summary {
          grid-column: 2;
        }

        cx-product-variant-selector {
          grid-column: 2;
        }

        cx-add-to-cart {
          grid-column: 2;
          padding: 20px 20px 0px 20px;
        }
      }
    }
  }
}
