<!-- Item Start Outlet -->
<ng-template [cxOutlet]="CartOutlets.LIST_ITEM">
  <td role="cell">
    <div class="cx-table-item-container">
      <!-- Item Image -->
      <a
        [routerLink]="{ cxRoute: 'product', params: item.product } | cxUrl"
        tabindex="0"
      >
        <cx-media
          [container]="item.product?.images?.PRIMARY"
          format="cartIcon"
        ></cx-media>
      </a>
      <div class="cx-info">
        @if (item.product?.name) {
          <div class="cx-name">
            <a
              [attr.id]="item.product?.code + '_header'"
              class="cx-link"
              [routerLink]="{ cxRoute: 'product', params: item.product } | cxUrl"
              >{{ item.product?.name }}</a
            >
          </div>
        }
        @if (item.product?.code) {
          <div class="cx-code">
            {{ 'cartItems.id' | cxTranslate }} {{ item.product?.code }}
          </div>
        }
      </div>
    </div>
    <!-- Item Price Labels -->
    @if (item.product?.sapPricePlan?.oneTimeCharges?.length) {
      <div class="cx-one-time-charges-label">
        @for (
          oneTimeCharge of item.product?.sapPricePlan?.oneTimeCharges;
          track oneTimeCharge.name
        ) {
          <div class="cx-price">
            {{ oneTimeCharge.billingTime?.name }}
          </div>
        }
      </div>
    }
    <div class="cx-cart-addons">
      <!-- Promotion -->
      <cx-promotions [promotions]="item.promotions"></cx-promotions>
    </div>

    <!-- Variants -->
    <ng-container *ngIf="item.product?.baseOptions?.length">
      <div
        *ngFor="
          let variant of item.product?.baseOptions[0]?.selected
            ?.variantOptionQualifiers
        "
        class="cx-property"
      >
        <!-- cx-mobile-header -->
        <div class="cx-label" *ngIf="variant.name && variant.value">
          {{ variant.name }}: {{ variant.value }}
        </div>
      </div>
    </ng-container>
  </td>
  @if (subscriptionProducts) {
    <td role="cell" class="cx-item-list-price">
      <div class="cx-recurring-charges">
        @for (
          recurringCharge of item.product?.sapPricePlan?.recurringCharges;
          track $index
        ) {
          <div class="cx-value">
            {{ recurringCharge.price?.formattedValue }}
            <span class="cx-billing-name">
              {{
                item.product?.sapSubscriptionTerm?.billingPlan?.billingTime
                  ?.name
              }}
            </span>
          </div>
        }
      </div>
      <div class="cx-one-time-charges">
        @for (
          oneTimeCharge of item.product?.sapPricePlan?.oneTimeCharges;
          track oneTimeCharge.name
        ) {
          <div class="cx-value">
            {{ oneTimeCharge.price?.formattedValue }}
          </div>
        }
      </div>
    </td>
  }
  <!-- Mobile Item Price -->
  <td role="cell" *ngIf="item.basePrice" class="cx-price cx-mobile-only">
    <div class="cx-mobile-header">
      {{ 'cartItems.itemPrice' | cxTranslate }}
    </div>
    <div *ngIf="item.basePrice" class="cx-value">
      {{ item.basePrice.formattedValue }}
    </div>
  </td>

  <!-- item price with discount -->
  <ng-template
    role="cell"
    [cxOutlet]="CartOutlets.CPQ_QUOTE_MODULE"
    [cxOutletContext]="{
      items: item,
    }"
  ></ng-template>

  <!-- Item Quantity -->
  <td role="cell" class="cx-quantity">
    <div
      *cxFeature="'a11yQTY2Quantity'"
      class="cx-mobile-header"
      placement="left"
      title="{{ 'cartItems.quantityTitle' | cxTranslate }}"
    >
      {{ 'cartItems.quantityFull' | cxTranslate }}
    </div>
    <div
      *cxFeature="'!a11yQTY2Quantity'"
      class="cx-mobile-header"
      placement="left"
      title="{{ 'cartItems.quantityTitle' | cxTranslate }}"
    >
      {{ 'cartItems.quantity' | cxTranslate }}
    </div>
    <div class="cx-value" [class.readonly-value]="readonly">
      <cx-item-counter
        [control]="quantityControl"
        [readonly]="
          !item.updateable ||
          readonly ||
          options.isSaveForLater ||
          subscriptionProducts
        "
        [max]="item.product?.stock?.stockLevel"
        [allowZero]="true"
      >
      </cx-item-counter>
    </div>
  </td>
  <!-- Total -->
  <ng-container *ngIf="options.isSaveForLater; else total">
    <td role="cell" class="cx-total">
      <div class="cx-mobile-header">
        {{ 'saveForLaterItems.stock' | cxTranslate }}
      </div>
      <div
        *ngIf="item.product?.stock?.stockLevel >= 0; else forceInstock"
        class="cx-value"
      >
        {{ item.product?.stock.stockLevel }}
      </div>
      <ng-template #forceInstock>
        <div class="cx-value">
          {{ 'saveForLaterItems.forceInStock' | cxTranslate }}
        </div>
      </ng-template>
    </td>
  </ng-container>

  <td
    role="cell"
    *ngIf="
      (!readonly || options.isSaveForLater || options.displayAddToCart) &&
      item.updateable
    "
    class="cx-actions"
  >
    <ng-container *ngIf="!isProductOutOfStock(item.product)">
      <ng-container
        *ngTemplateOutlet="
          options.optionalBtn;
          context: {
            $implicit: {
              loading: quantityControl.disabled,
              item: this.item,
              options: this.options,
            },
          }
        "
      ></ng-container>
    </ng-container>

    <!-- Availability -->
    <span
      role="cell"
      *ngIf="isProductOutOfStock(item.product)"
      class="cx-availability"
    >
      {{ 'addToCart.outOfStock' | cxTranslate }}
    </span>

    <button
      *ngIf="!readonly"
      (click)="removeItem()"
      [cxAtMessage]="'cartItems.itemRemoved' | cxTranslate"
      [disabled]="quantityControl.disabled"
      attr.aria-label="{{ 'addToCart.removeFromCart' | cxTranslate }}"
      class="btn btn-tertiary cx-remove-btn"
    >
      {{ 'common.remove' | cxTranslate }}
    </button>
  </td>
</ng-template>
<ng-template #total>
  <td role="cell" *ngIf="item.totalPrice" class="cx-total">
    <div class="cx-mobile-header">
      {{ 'cartItems.total' | cxTranslate }}
    </div>
    <div class="cx-value">{{ item.totalPrice.formattedValue }}</div>
  </td>
</ng-template>
