%cx-delivery-mode-calydon {
  .form-check {
    .cx-delivery-label {
      display: block;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0.75rem;
      line-height: 1em;

      input[type='radio'] {
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
      }
      .overlay {
        width: 1.5em;
        height: 1.5em;
        padding: 0.125em;
        position: absolute;
        top: -3px;
        border: 2px solid var(--cx-color-primary);
        border-radius: 100%;
        vertical-align: middle;
        left: -1.25rem;
      }
      input:checked + span::before {
        width: 0.75em;
        height: 0.75em;
        margin: 0.125em;
        display: block;
        content: ' ';
        background-color: var(--cx-color-primary);
        border-radius: 100%;
      }
    }
  }
}
