%cx-delivery-mode-calydon {
  .form-check {
    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    input[type='radio']::after {
      visibility: hidden;
    }

    input[type='radio']:checked::after {
      visibility: visible;
    }
  }
}
