<ng-container *ngFor="let consignment of consignments">
  <!--
example:
Consignment 1 | In Process | Last Updated: 13, September, 2023
Consignment 2 | Tracking Number: 5657474 | Estimated Delivery: 22, September, 2023
  -->
  <div
    class="cx-consignment-info"
    [attr.aria-label]="'orderHistoryEnhancedUI.consignmentDetail' | cxTranslate"
    *ngIf="consignment"
  >
    <span
      [attr.aria-label]="
        'orderHistoryEnhancedUI.consignmentNumber' | cxTranslate
      "
    >
      {{
        'orderHistoryEnhancedUI.consignmentCode'
          | cxTranslate: { param: consignmentNumber(consignment?.code) }
      }}
    </span>
    |
    <ng-container *ngIf="consignment.trackingID; else showLastUpdated">
      <cx-consignment-tracking-enhanced-ui
        [orderCode]="orderCode ?? ''"
        [consignment]="consignment"
      >
      </cx-consignment-tracking-enhanced-ui>
    </ng-container>
    <ng-template #showLastUpdated>
      <span
        [attr.aria-label]="
          'orderHistoryEnhancedUI.consignmentStatus' | cxTranslate
        "
        *ngIf="consignment.status"
      >
        {{
          'orderDetails.deliveryStatus_' + consignment?.status?.toUpperCase()
            | cxTranslate
        }}
      </span>
      <span
        *ngIf="consignment.statusDate"
        [attr.aria-label]="
          'orderHistoryEnhancedUI.consignmentStatusDate' | cxTranslate
        "
      >
        |
        {{
          'orderHistoryEnhancedUI.statusDate'
            | cxTranslate
              : { param: consignment.statusDate | cxDate: 'd, MMMM, yyyy' }
        }}
      </span>
    </ng-template>
  </div>
</ng-container>
