<div id="{{ createAttributeIdForConfigurator(attribute) }}" class="form-group">
  <input
    [formControl]="attributeInputForm"
    [required]="attribute.required"
    class="form-control"
    [attr.aria-describedby]="
      createAttributeUiKey('label', attribute.name) +
      ' ' +
      createAttributeUiKey('attribute-msg', attribute.name)
    "
    attr.role="{{ attribute.dataType }}"
    attr.aria-required="{{ attribute.required }}"
    (change)="onChange()"
    maxlength="{{ attribute.maxlength }}"
    [attr.aria-label]="
      attribute.userInput?.length === 0
        ? ('configurator.a11y.valueOfAttributeBlank'
          | cxTranslate
            : {
                attribute: attribute.label
              })
        : ('configurator.a11y.valueOfAttributeFull'
          | cxTranslate
            : {
                value: attribute.userInput,
                attribute: attribute.label
              })
    "
    [cxFocus]="{
      key: createAttributeIdForConfigurator(attribute)
    }"
  />
</div>
<div
  class="cx-validation-msg"
  id="{{ createAttributeUiKey('attribute-msg', attribute.name) }}"
  *ngIf="mustDisplayValidationMessage()"
  aria-live="assertive"
  aria-atomic="true"
  role="alert"
>
  <cx-icon [type]="iconType.WARNING"></cx-icon>
  {{
    'configurator.attribute.wrongNumericFormat'
      | cxTranslate: { pattern: numericFormatPattern }
  }}
</div>
