<div id="{{ attributeId }}" class="form-group">
  <input
    [formControl]="attributeInputForm"
    [required]="attribute.required"
    class="form-control"
    attr.role="{{ attribute.dataType }}"
    attr.aria-required="{{ attribute.required }}"
    (change)="onChange()"
    maxlength="{{ attribute.maxlength }}"
    attr.aria-labelledby="{{ ariaLabelledBy }}"
    [cxFocus]="{
      key: attributeId
    }"
  />
  <div class="cx-validation-msg" *ngIf="mustDisplayValidationMessage()">
    {{
      'configurator.attribute.wrongNumericFormat'
        | cxTranslate: { pattern: numericFormatPattern }
    }}
  </div>
</div>
