<ng-content></ng-content>
@if (location.openingHours) {
  <div class="container cx-store-hours">
    @for (day of weekDays; track day) {
      <div class="row">
        <div class="cx-days col-4">{{ day.weekDay }}</div>

        @if (day.closed) {
          <div class="cx-hours col-8 closed">
            {{ 'storeFinder.closed' | cxTranslate }}
          </div>
        }

        @if (!day.closed) {
          <div class="cx-hours col-8">
            {{ day.openingTime?.formattedHour }} -
            {{ day.closingTime?.formattedHour }}
          </div>
        }
      </div>
    }
  </div>
}
