<ng-container *ngIf="product$ | async as product">
  <div class="container">
    <div class="cx-config-product-title" tabindex="0">
      {{ product.name }}
    </div>

    <a class="cx-config-toogle-details-link" role="link" (click)="click()">
      <ng-container *ngIf="showMore === false"
        >{{ 'configurator.header.showMore' | cxTranslate }}
        <cx-icon [type]="iconTypes.CARET_DOWN"></cx-icon
      ></ng-container>

      <ng-container *ngIf="showMore === true"
        >{{ 'configurator.header.showLess' | cxTranslate }}
        <cx-icon [type]="iconTypes.CARET_UP"></cx-icon
      ></ng-container>
    </a>

    <div
      class="cx-config-product-title-details"
      [class.open]="showMore === true"
    >
      <img
        [alt]="getProductImageAlt(product)"
        [src]="getProductImageURL(product)"
      />
    </div>
  </div>
</ng-container>
